<section class="resetStuff">

  <h2>Bestätigungsmail nicht erhalten?</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path, html: { method: :post }) do |f| %>
      <%= render 'devise/shared/error_messages' %>

      <div class="input-field">
        <%= f.label :email do %>
          <%= icon_tag "at-symbol" %>
          <span>E-Mail</span>
        <% end %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Bestätigungsmail erneut senden", class: 'btn-primary' %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>

</section>
