<section class="resetStuff">

  <h2>Bestätigungsmail nicht erhalten?</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path, html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="input-field">
        <%= f.label :email do %>
            <svg class="icon-at-symbol"><use xlink:href="#icon-at-symbol"></use></svg>
            <span>E-Mail</span>
        <% end %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Bestätigungsmail erneut senden", class: 'btn-primary' %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>

</section>
