<div>

  <div class="hl-subtext">
    <h1>Deine Daten</h1>
    <p>
      <% if current_user %>
        Um fortzufahren, gib zunächst noch deine Daten bekannt.
      <% else %>
        Wenn du bereits bei <%= t("region.#{current_region.id}.domain_full") %> registriert bist,
        <%= link_to 'melde dich zunächst hier an', login_crowd_pledges_path(crowd_pledge_login_params) %>
        und nutze deine hinterlegten Standarddaten.
      <% end %>
    </p>
  </div>

  <%= form_for @crowd_pledge do |f| %>
  <%= form_errors_for @crowd_pledge %>

    <%= f.hidden_field :donation_amount %>
    <%= f.hidden_field :answer %>
    <%= f.hidden_field :crowd_reward_id %>
    <%= f.hidden_field :crowd_campaign_id %>

    <% if @crowd_pledge.errors.details.include?(:donation_amount) %>
      <div class="input-field">
        <%= label_tag :donation_amount do %>
          <%= icon_tag "currency-euro" %>
          <span>Freie Unterstützung</span>
        <% end %>
        <%= f.text_field :donation_amount, class: 'amount', placeholder: 'Betrag eingeben ...',
          class: 'calculate-price', maxlength: 6,
          data: { action: calculate_price_crowd_pledges_url(crowd_campaign_id: @crowd_pledge.crowd_campaign.id, crowd_reward_id: @crowd_pledge.crowd_reward&.id)} %>
      </div>
    <% end %>

    <div class="input-field">
      <%= f.label :email do %>
        <%= icon_tag "at-symbol" %>
        <span>E-Mail</span>
      <% end %>
      <%= f.text_field :email, placeholder: 'E-Mail Adresse', required: true %>
    </div>

    <div class="input-field">
      <%= f.label :contact_name do %>
        <%= icon_tag "user-avatar" %>
        <span>Name</span>
      <% end %>
      <%= f.text_field :contact_name, placeholder: 'Vor- & Nachname', required: true %>
    </div>

    <div class="input-field">
      <%= f.label :address_street do %>
        <%= icon_tag "map-location" %>
        <span>Strasse & Nr.</span>
      <% end %>
      <%= f.text_field :address_street, placeholder: 'Strasse & Nr.', required: @crowd_pledge.crowd_reward&.delivery_address_required? %>
    </div>

    <div class="form-columns">

      <div class="input-field">
        <%= f.label :address_zip do %>
          <%= icon_tag "map-location" %>
          <span>Postleitzahl</span>
        <% end %>
        <%= f.text_field :address_zip, placeholder: 'PLZ', required: @crowd_pledge.crowd_reward&.delivery_address_required? %>
      </div>

      <div class="input-field">
        <%= f.label :address_city do %>
          <%= icon_tag "map-location" %>
          <span>Ort/Stadt</span>
        <% end %>
        <%= f.text_field :address_city, placeholder: 'Stadt', required: @crowd_pledge.crowd_reward&.delivery_address_required? %>
      </div>
    </div>

    <div class="input-checkbox">
      <%= f.check_box :anonym %>
      <%= f.label :anonym, 'Ich möchte anonym bleiben und nicht als Unterstützer gelistet werden.' %>
    </div>

    <div class="input-checkbox">
      <%= f.check_box :terms %>
      <%= f.label :terms, ("Ich akzeptiere die #{link_to 'Nutzungsbestimmungen', info_agb_path} und bestätige, dass ich mindestens 16 Jahre alt bin.").html_safe %>
    </div>

    <%= submit_tag "Weiter", class: 'btn-primary' %>
  <% end %>

</div>
