<div>

  <div class="hl-subtext">
    <h1>Dein ausgewähltes Dankeschön</h1>
    <p>Wenn du möchtest, kannst du auch noch einen freien Unterstützungsbetrag hinzufügen.</p>
  </div>

  <%= form_with url: [:new, @crowd_campaign, :crowd_pledge], method: :get do |f| %>

    <%= f.hidden_field :crowd_reward_id, value: params[:crowd_reward_id] %>

    <%= render 'crowd_pledges/new/rewards', crowd_reward: @crowd_pledge.crowd_reward, f: f if @crowd_pledge.crowd_reward %>

    <div class="input-field -vertical">
      <%= label_tag :donation_amount do %>
        <span>Möchtest du noch einen freien Unterstützungsbetrag hinzufügen?</span>
      <% end %>
      <%= f.number_field :donation_amount,
        placeholder: 'Dein Betrag in Euro ..',
        class: 'calculate-price',
        maxlength: 8,
        inputmode: "decimal",
        data: {action: url_for([:calculate_price, @crowd_campaign, :crowd_pledges, crowd_reward_id: params[:crowd_reward_id]])} %>
    </div>

    <%= submit_tag "Weiter", class: 'btn-primary' %>
  <% end %>

</div>
