<div id="crowd-pledge-charge" data-pledge-id="<%= @crowd_pledge.id %>">
  <% default_amount = crowd_boost_charge_amount_values(@crowd_pledge.total_price).find { |v| v[:default] } %>

  <div class="hl-subtext">
    <h1>Magst du aufrunden</h1>
    <p>
      <strong>...und die Aktivierung von Leerstand unterstützen?</strong>
    </p>
    <p class="subline">
      Schon mit <strong><%= number_to_currency(default_amount[:amount]) %></strong> hilfst du mit, dass ein Projekt starten kann, das einen leerstehenden Raum in <%= current_region.name %> belebt.
      Der Fördertopf unterstützt regelmäßig Initiativen, die über Crowdfunding Räume aktivieren.
    </p>
    <p class="subline">
      Gemeinsam bringen wir mehr Leben in unsere Stadt – Raum für Ideen, Kultur und Miteinander.
      Jeder Beitrag hilft. Danke, dass du Teil davon bist!
    </p>
  </div>

  <%= form_with model: @crowd_pledge, url: crowd_boost_charge_crowd_pledge_path(@crowd_pledge), method: :patch do |f| %>
    <%= form_errors_for @crowd_pledge %>
    <%= f.hidden_field :crowd_boost_id, value: current_region.default_crowd_boost_id %>

    <div class="charge-amount-radios" id="charge-amount-radios" data-url="<%= url_for([:calculate_price, @crowd_campaign, :crowd_pledges, id: @crowd_pledge.id]) %>">
      <% crowd_boost_charge_amount_values(@crowd_pledge.total_price).each do |value| %>
        <div class="input-radio system-radios">
          <%= f.radio_button :crowd_boost_charge_amount, value[:amount], id: "crowd_pledge_amount_#{value[:amount].to_s.tr('.', '_')}", checked: value[:default] %>
          <%= f.label :"amount_#{value[:amount].to_s.tr('.', '_')}" do %>
            <div class="amount"><%= number_to_currency(value[:amount], unit: "€") %></div>
          <% end %>
        </div>
      <% end %>
      <div class="input-radio custom-amount-option">
        <%= f.radio_button :crowd_boost_charge_amount, 'custom', id: "crowd_pledge_amount_custom" %>
        <%= f.label :amount_custom do %>
          <div class="amount custom-amount-wrapper">
            <%= f.text_field :custom_crowd_boost_charge_amount,
              min: 1,
              step: 1,
              maxlength: 7,
              placeholder: "Betrag ...",
              class: "custom-amount-input",
              id: "custom_crowd_boost_charge_amount",
              inputmode: "decimal",
              data: { action: url_for([:calculate_price, @crowd_campaign, :crowd_pledges, id: @crowd_pledge.id]), type: "crowd_boost_charge" }
            %> <span class="euro">€</span>
          </div>
        <% end %>
      </div>
    </div>

    <%= button_tag type: 'submit', class: 'btn-primary -rose -shadow' do %>
      Weiter mit <span class="charge_amount"></span>
    <% end %>
    
  <% end %>
  
</div>

