<div class="payment">

  <div class="hl-subtext">
    <% if @crowd_pledge.total_price > 1000 %>
      <h1>Deine Zahlung</h1>
    <% else %>
      <h1>Wähle deine Zahlungsart</h1>
    <% end %>
    <p>
      Der Gesamtbetrag deiner Unterstützung wird erst nach erfolgreichem Ende der Crowdfundingkampagne abgebucht.
    </p>
  </div>

  <%= form_tag nil, id: "payment-form", data: {
    intent: 'setup',
    client_secret: @setup_intent.client_secret,
    redirect: payment_authorized_crowd_pledge_url(@crowd_pledge)
  } do %>
    <%= image_tag 'svg/loading.svg', class: 'loading-spinner stripe-spinner', width:100, height:100 %>
    <div id="payment-element">
      <!--Stripe.js injects the Payment Element-->
    </div>
    <button id="payment-submit" class="btn-primary" data-btntext="Jetzt unterstützen">
      Jetzt unterstützen
    </button>
    <div class="error-message"></div>
  <% end %>

  <div class="footer-txt payment-method-info card">
    <strong>Im ersten Schritt wird deine Kreditkarte registriert, indem <em>0,00 €</em> reserviert werden.</strong><br>
    Der Gesamtbetrag (<%= number_to_currency(@crowd_pledge.total_overall_price, unit: "€") %>) wird erst nach Ende der Finanzierungsphase und nur wenn das Mindestziel erreicht wurde, von deiner Kreditkarte abgebucht. Sollte die Crowdfundingkampagne scheitern, so wird dir auch nichts abgebucht.

    <% if @crowd_pledge.total_price > 1000 %>
    <br><small><em><strong>Info:</strong> Für Unterstützungen bis 1.000 €, steht dir auch die Zahlungsform 'Lastschrift' zur Verfügung.</em></small>
    <% end %>
  </div>

  <div class="footer-txt payment-method-info sepa_debit">
    Der Gesamtbetrag deiner Unterstützung (<%= number_to_currency(@crowd_pledge.total_overall_price, unit: "€") %>) wird erst nach Ende der Finanzierungsphase und nur wenn das Mindestziel erreicht wurde, von deinem Konto eingezogen. Sollte die Crowdfundingkampagne scheitern, so wird dir auch nichts abgebucht.
    <br>
    <strong>Die Abbuchung erfolgt druch: PPRO Payment Services S.A. (<%= @crowd_pledge.crowd_campaign.region.host_domain_name.upcase %> by Stripe via PPRO)</strong><br>
    <div class="legal">
      Durch Angabe der Zahlungsinformationen und Bestätigung der Zahlung ermächtigen Sie (A) imGrätzl.at (morgenjungs GmbH) und Stripe, unseren Zahlungsdienstleister und/oder PPRO, den lokalen Dienstleister, Zahlungen von Ihrem Konto mittels Lastschrift einzuziehen. Zugleich (B) weisen Sie Ihr Kreditinstitut gemäß diesen Anweisungen an, Ihr Konto entsprechend zu belasten. Sie haben im Rahmen Ihrer Rechte Anspruch auf Erstattung von Ihrem Kreditinstitut gemäß den vereinbarten Bedingungen mit Ihrem Kreditinstitut. Sie können innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages verlangen. Es gelten dabei die mit Ihrem Kreditinstitut vereinbarten Bedingungen. Weiterhin erklären Sie sich damit einverstanden, die Vorabankündigung bis spätestens zwei Tage vor Zahlungseinzug zu erhalten.
    </div>
    <%= link_to 'Mehr anzeigen', 'javascript:', class: 'open-legal' %>
  </div>

</div>
