<%= form_tag [:initiate_eps_payment, @crowd_pledge], class: 'eps-form', remote: true, data: {
  type: 'json', with_credentials: true, complete_url: complete_eps_payment_crowd_pledge_url(@crowd_pledge)
} do %>

  <div class="input-field">
    <%= label_tag :full_name do %>
      <%= icon_tag "user-avatar" %>
      <span>Name</span>
    <% end %>
    <%= text_field_tag :full_name, "#{current_user ? current_user.full_name : ''}", placeholder: 'Vor- & Nachname', id: 'eps-name' %>
  </div>

  <div class="error-message"></div>

  <%= submit_tag "Jetzt unterstützen", class: 'btn-primary', id: 'eps-submit' %>
<% end %>
