<%= form_tag [:payment_authorized, @crowd_pledge], class: 'card-form', data: {
    setup_intent_secret: @setup_intent.client_secret,
    } do %>
  <%= hidden_field_tag :payment_method_id %>

  <div class="input-field">
    <%= label_tag :card_info do %>
      <%= icon_tag "credit-card" %>
      <span>Kreditkarte</span>
    <% end %>
    <div id="card-element"></div>
  </div>

  <div class="input-field">
    <%= label_tag :cardholder_name do %>
      <%= icon_tag "user-avatar" %>
      <span>Karteninhaber</span>
    <% end %>
    <%= text_field_tag :cardholder_name, "#{current_user ? current_user.full_name : ''}", placeholder: 'Karte laufend auf ...',
        class: 'input-plain', id: 'cardholder-name' %>
  </div>

  <div class="error-message"></div>

  <%= button_tag "Jetzt unterstützen", type: 'button', disabled: true, class: "btn-primary", id: 'card-submit' %>
<% end %>
