<div class="cardBox">

  <div class="cardBoxHeader">
    <div class="coverImgWrapper">
      <%= link_to cover_photo_image(@crowd_pledge.crowd_campaign, class: 'coverImg'), @crowd_pledge.crowd_campaign %>
    </div>
  </div>

  <div class="cardBoxContent" id="calculated-price-container">
    <h3 class="sidebar">Zusammenfassung</h3>
    <ul class="pricing-summary -facts"></ul>

    <ul class="pricing-summary">
      <% if @crowd_pledge.crowd_reward %>
        <li class="amount-reward">
          <div class="cost"><%= number_to_currency(@crowd_pledge.crowd_reward.amount, unit: "€") %></div>
          <div class="costname">Dein ausgewähltes Dankeschön</div>
        </li>
      <% end %>
      <li class="amount-donation">
        <div class="cost"><%= number_to_currency(@crowd_pledge.donation_amount.to_i, unit: "€") %></div>
        <div class="costname">Freie Unterstützung</div>
      </li>
      <li class="amount-total">
        <div class="cost"><%= number_to_currency(@crowd_pledge.total_price.to_i, unit: "€") %></div>
        <div class="costname">Deine Crowdfunding Unterstützung</div>
      </li>
      <li class="lined amount-boost">
        <div class="cost"><%= number_to_currency(@crowd_pledge.crowd_boost_charge_amount, unit: "€") %></div>
        <div class="costname">Fördertopf-Spende</div>
      </li>
      <li class="sum">
        <div class="cost"><%= number_to_currency(@crowd_pledge.total_overall_price, unit: "€") %></div>
        <div class="costname">
          Gesamtbetrag
          <br>
          <small>inkl. MwSt. und ggf. Versandkosten</small>
        </div>
      </li>
    </ul>

  </div>

</div>
