<div>

  <div class="hl-subtext">
    <h1>Vielen Dank für deine Unterstützung.</h1>
    <p>
      Wir haben dir soeben auch ein E-Mail mit deinen Unterstützungsdetails geschickt.
    </p>

    <% if @crowd_pledge.crowd_campaign.funding? %>

      <% unless @crowd_pledge.anonym? %>
        <div class="pledge-comment-container">
          <p>Schreib noch kurz, was du an diesem Projekt unterstützenswert findest oder warum du es unterstützt hast.</p>
          <div class="entryCreate" data-behavior="stream-form" id="comments-block">
            <%= avatar_image current_user, size: :thumb, class: 'img-round show-badge' %>
            <%= form_for Comment.new, url: pledge_comment_crowd_campaign_crowd_pledge_path(@crowd_pledge.crowd_campaign, @crowd_pledge), method: :post, html: { class: 'textEditor', remote: true } do |f| %>
              <%= f.hidden_field :commentable_id, value: @crowd_pledge.crowd_campaign.id %>
              <%= f.hidden_field :commentable_type, value: 'CrowdCampaign' %>
              <%= f.text_area :content, cols: 80, rows: 5, placeholder: 'Neuen Kommentar schreiben ..', class: "input-plain #{current_or_session_guest_user.present? ? 'guest-enabled' : ''}" %>
              <div class="hideBlock">
                <%= f.button 'Kommentar senden', data: { disable_with: 'sendet...' }, class: 'btn-secondary' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="share">
        <p><em>- Weitersagen hilft -</em></p>
        <div class="social-icons">
          <%= link_to image_tag("svg/icon-social-whatsapp.svg", class: 'icon whatsapp'), "whatsapp://send?text=#{@crowd_pledge.crowd_campaign.title}: #{crowd_campaign_url(@crowd_pledge.crowd_campaign)}", target: "_blank", :data => { :'action' => 'share/whatsapp/share' } %>
          <%= link_to icon_tag("social-facebook"), "https://www.facebook.com/sharer/sharer.php?u=#{crowd_campaign_url(@crowd_pledge.crowd_campaign)}", target: "_blank" %>
          <%= link_to image_tag("svg/icon-social-twitter.svg", class: 'icon twitter'), "http://twitter.com/share?text=Crowdfunding: #{@crowd_pledge.crowd_campaign.title}&url=#{crowd_campaign_url(@crowd_pledge.crowd_campaign)}", target: "_blank" %>
          <%= link_to image_tag("svg/icon-social-linkedin.svg", class: 'icon linkedin'), "https://www.linkedin.com/sharing/share-offsite/?url=#{crowd_campaign_url(@crowd_pledge.crowd_campaign)}", target: "_blank" %>
        </div>
        <p>Motiviere dein Netzwerk, diese Crowdfundingkampagne zu unterstützen und teile diesen Link:</p>
        <p>
          <%= link_to crowd_campaign_url(@crowd_pledge.crowd_campaign), @crowd_pledge.crowd_campaign %>
        </p>
      </div>

    <% end %>

  </div>

</div>
