<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url("info/crowd2raum/header.jpg")
  )
%>

<section class="info -boost_call">
  <div class="imgHeader -fullwidth"></div>
</section>

<section class="crowd_boost boost_call crowd2raum-graz -graz">

  <div class="introcontainer">
    <div class="hl-subtext">
      <h1><em>Raum gesucht? - Dann ist das deine Chance!</em></h1>
      <p>Zwei spannende <strong>Geschäftslokale im Erdgeschoss oder dein Wunschleerstand</strong> warten darauf, mit Leben gefüllt zu werden – und das an einem der zentralsten und lebendigsten Orte in Graz: rund um den <strong>Jakominiplatz.</strong></p>
    </div>
    <ul> 
      <li>In Graz ist der <strong>Bedarf an leistbaren Räumen</strong> für lokale Macher*innen hoch, doch viele Flächen sind für Einzelne zu groß oder zu teuer. Eine Möglichkeit ist es, Raum und Kosten zu teilen und eine Fläche gemeinsam zu nutzen. Zudem fallen bei der Anmietung von Räumen teils hohe Aktivierungskosten an, beispielsweise für Provisionen oder die Renovierung. Genau hier kommt das Unterstützungspaket ins Spiel.</li>
    </ul>
  </div>

  <div class="content-wide">
    <div class="wrp-inner">
      <div class="hl-subtext">
        <h1>Das Unterstützungspaket beinhaltet</h1>
        <p>Gemeinsam bringen wir mehr zusammen!</p>
      </div>
      <div class="cardBoxCollection -tripple">
        <div class="paperCard -illuteaser -gassenlokal -cord1RT">
          <div class="wrp">
            <h3>Wir vernetzen dich mit Gleichgesinnten</h3>
            <p>Wir bringen dich mit Gleichgesinnten zusammen, um die Leerstände gemeinsam zu nutzen. <strong>So entstehen erschwingliche, flexible und innovative Raumangebote!</strong></p>
          </div>
          <div class="card"></div>
        </div>
        <div class="paperCard -illuteaser -ideen -cord1RT">
          <div class="wrp">
            <h3>Zuschuss aus dem ViertelFonds für deine Crowdfunding Kampagne</h3>
            <p>Um die finanziellen Hürden bei der Raumaktivierung zu senken, beraten und  begleiten wir dich bei deinem <strong><a href="/crowdfunding">Crowdfunding</a></strong> auf WeLocally. Zusätzlich dazu gibt es einen <strong>Zuschuss pro Leerstand aus dem <strong><a href="/viertelfonds">ViertelFonds</a></strong>, sobald 30 % des Crowdfunding-Mindestziels erreicht sind.</strong></p>
          </div>
          <div class="card"></div>
        </div>
        <div class="paperCard -illuteaser -fragen -cord1RT">
          <div class="wrp">
            <h3>Unterstützung bei Förderanträgen</h3>
            <p>Wir haben die verfügbaren Förderungen mit Raumbezug und Crowdfunding recherchiert, prüfen laufend ihre Verfügbarkeit und <strong>unterstützen tatkräftig beim Ansuchen der Förderungen</strong>.</p>
          </div>
          <div class="card"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-wide -grey -pilotgebiet">
    <div class="wrp-inner">
      <div class="hl-subtext">
        <h1><span>Diese Leerstände</span> möchten aktiviert werden!</h1>
        <p>Melde dein Vorhaben für einen der verfügbaren Leerstände an oder bring deinen eigenen Wunschleerstand im Pilotgebiet ins Spiel!</p>
      </div>
      <div class="cardBoxCollection -tripple">
        <div class="paperCard -illuteaser -cord1RT">
          <a href="https://raumteiler.s3.eu-central-1.amazonaws.com/Fact_Sheet_Call_Graz_Now_Wow.pdf" target="_blank"><%= image_tag('info/crowd2raum/room_nowwow.jpg', loading: 'lazy', width:300, height:300, class: 'roomCardImg') %></a>
          <div class="wrp">
            <h3>Leerstand "Now Wow"</h3>
            <p>Die große Fläche ist gut teilbar, der hintere Teil für kreative Arbeiten, der vordere Teil wäre perfekt für Veranstaltungen, Workshops, Verkauf oder Beratungsangebote. </p>
            <p class="facts"><a href="https://raumteiler.s3.eu-central-1.amazonaws.com/Fact_Sheet_Call_Graz_Now_Wow.pdf" target="_blank">Download Fact Sheet</a></p>
          </div>
          <div class="card"></div>
        </div>
        <div class="paperCard -illuteaser -cord1RT">
          <a href="https://raumteiler.s3.eu-central-1.amazonaws.com/Fact_Sheet_Call_Graz_Mix_it.pdf" target="_blank"><%= image_tag('info/crowd2raum/room_mixit.jpg', loading: 'lazy', width:300, height:300, class: 'roomCardImg') %></a>
          <div class="wrp">
            <h3>Leerstand "MIX IT CRAFTED"</h3>
            <p>Zwei Räume, geeignet für handwerkliche Vorhaben, die ohne spezielle Betriebsanlagengenehmigung auskommen. Hier darf es gerne auch mal etwas lauter werden.</p>
            <p class="facts"><a href="https://raumteiler.s3.eu-central-1.amazonaws.com/Fact_Sheet_Call_Graz_Mix_it.pdf" target="_blank">Download Fact Sheet</a></p>
          </div>
          <div class="card"></div>
        </div>
        <div class="paperCard -illuteaser -cord1RT">
          <%= image_tag('info/crowd2raum/room_wish.jpg', loading: 'lazy', width:300, height:300, class: 'roomCardImg') %>
          <div class="wrp">
            <h3>Wunschleerstand</h3>
            <p>Hast du einen bestimmten Leerstand im Erdgeschoss des Pilotgebiets im Blick? Dann melde dich mit deinem Vorhaben und dem Wunschleerstand an, qualifiziere dein Vorhaben für das  Unterstützungspaket!</p>
          </div>
          <div class="card"></div>
        </div>
      </div>
      <p class="hint"><strong>Pilotgebiet:</strong> Der <%= link_to "Jakominiplatz und die angrenzenden Straßen", asset_url("info/crowd2raum/pilotgebiet-jakomini.jpg"), data: { jbox_image: "maingallery" } %> – mit hoher Passantenfrequenz, bester Erreichbarkeit und <strong>jeder Menge Sichtbarkeit für eure Vorhaben!</strong></p>
    </div>
  </div>
  
  <div class="toggle-container">
    <div class="hl-subtext">
      <h1><em>Der Ablauf</em></h1>
    </div>
    <div class="content-block -toggable">
      <h3><%= image_tag('num-badge-1.png', loading: 'lazy', width:30, height:30) %> Mitte Januar 2025 gibt es die Vernetzungsevents - Komm dazu!</h3>
      <div class="-toggle-content">
        <p>Lerne die anderen Interessierten und die beiden Key-Leerstände vor der Einreichung kennen. Vielleicht gibt es ein Match mit anderen Interessierten  und ihr könnt zusammen einreichen.</p>
        <ul class="list-arrow -large">
          <li><strong>10. Januar um 15:00 Uhr</strong>: 1. Vernetzungsevent und Besichtigung der zwei Leerstände.</li>
          <li><strong>20. Januar um 12:00 Uhr</strong>: 2. Vernetzungsevent und Besichtigung der zwei Leerstände.</li>
        </ul>
        <br>
        <p>Melde dich hier an: <%= mail_to t("domain.#{current_domain}.contact_email") %></p>
      </div>
    </div>
    <div class="content-block -toggable">
      <h3><%= image_tag('num-badge-2.png', loading: 'lazy', width:30, height:30) %> Reiche bis zum 31. Januar 2025 dein Nutzungsvorhaben ein</h3>
      <div class="-toggle-content">
        <p>Reiche bis zum 31. Januar 2025 dein Nutzungsvorhaben für einen der verfügbaren Leerstände oder deinen Wunschleerstand ein – alleine oder bereits mit Partner*innen. <a href="#">Fülle dieses Formular aus</a> und schicke es per Mail an: <%= mail_to t("domain.#{current_domain}.contact_email") %></p>
      </div>
    </div>
    <div class="content-block -toggable">
      <h3><%= image_tag('num-badge-3.png', loading: 'lazy', width:30, height:30) %> Anfang Februar tagt die Jury und wählt besonders geeignete Raumvorhaben aus</h3>
      <div class="-toggle-content">
        <p>Die Jury bewertet die eingereichten Vorhaben anhand folgender Kriterien:</p>
        <ul class="list-arrow -large">
          <li><strong>Umsetzbarkeit:</strong> Ist das Vorhaben realistisch und (finanziell)  gut geplant?</li>
          <li><strong>Planungsgrad:</strong> Wie detailliert ist die Umsetzung durchdacht?</li>
          <li><strong>Positive Grätzleffekte:</strong> Wie trägt das Projekt zur Belebung und Stärkung der Nachbarschaft bei?</li>
          <li><strong>Kooperationsfähigkeit:</strong> Wie offen und geeignet ist das Projekt für eine geteilte Nutzung?</li>
        </ul>
        <br>
        <p>Auf Basis dieser Kriterien werden die Vorhaben ausgewählt, die das Unterstützungspaket erhalten.</p>
      </div>
    </div>
    <div class="content-block -toggable">
      <h3><%= image_tag('num-badge-4.png', loading: 'lazy', width:30, height:30) %> Vernetzung, Crowdfunding, Förderanträge</h3>
      <div class="-toggle-content">
        <p>Je nach Bedarf setzen wir für die qualifizierten Projekte weitere Vernetzungsmaßnahmen um, wie beispielsweise Raumteiler Calls, um zusätzliche Raumpartner*innen zu finden.</p>
        <p>Zudem begleiten wir die qualifizierten Projekte bei der Planung und dem Start einer <a href="/crowdfunding">Crowdfunding-Kampagne</a> und unterstützen bei der Einreichung von Förderanträgen.</p>
      </div>
    </div>
    <div class="content-block -toggable">
      <h3><%= image_tag('num-badge-5.png', loading: 'lazy', width:30, height:30) %> Aktiviere bis Juni 2025 deinen Leerstand im Pilotgebiet - Yeah!</h3>
      <div class="-toggle-content">
        <p>Das Projekt „crowd2raum“ endet am 30.05.2024. Spätestens bis zu diesem Datum müssen alle Leistungen aus dem Unterstützungspaket vollständig abgerufen worden sein.</p>
      </div>
    </div>
    <div class="content-block -toggable">
      <h3><%= image_tag('num-badge-6.png', loading: 'lazy', width:30, height:30) %> Verfügbarkeit und Verantwortung</h3>
      <div class="-toggle-content">
        <p>Falls die vorgestellten Leerstände während des Prozesses nicht mehr verfügbar sein sollten, bemühen wir uns, passende Alternativen mit bezahlbaren Mieten zu finden. Bitte beachtet, dass das Team von „crowd2raum“ ausschließlich Leistungen zur Vernetzung und die beschriebenen Leistungen aus dem Unterstützungspaket bereitstellt. Die finalen Verhandlungen mit Vermieter*innen oder Makler*innen erfolgen direkt durch die qualifizierten Projektteams. "crowd2raum" tritt nicht als Vermieter*innen oder Makler*innen auf, und ausgeschriebene Provisionen werden direkt an die Makler*innen gezahlt.</p>
      </div>
    </div>
  </div>

  <div class="content-wide -end logo-footer">
    <div class="wrp-inner">
      <div class="logos">
        <a href="https://www.welocally.at/home" target="_blank">
          <%= image_tag("regions/logo.svg", class: 'logo-desktop', alt:'logo', width:120, height:84) %>
        </a>
        <a href="https://stadtlaborgraz.at/de/" target="_blank">
          <%= image_tag 'logo-stadtlabor.png', width:76, height:65 %>
        </a>
        <a href="https://wieneuplus.wien.gv.at/" target="_blank">
          <%= image_tag 'logo-wieneuplus.png', width:190, height:100 %>
        </a>
      </div>
      <p>
        Der Call und das Unterstützungspaket werden im Rahmen von „crowd2raum“ bereitgestellt, um gezielt Leerstände zu aktivieren und neue Raumnutzungen für lokale Macher*innen zu schaffen.
        Projektkonsortium: <a href="https://www.welocally.at/home" target="_blank">WeLocally</a> / morgenjungs GmbH (Konsortialführer); <a href="https://stadtlaborgraz.at/de/" target="_blank">StadtLABOR</a> - Innovationen für urbane Lebensqualität GmbH; <a href="https://wieneuplus.wien.gv.at/" target="_blank">Stadt Wien</a> – MA25 Technische Stadterneuerung
      </p>
    </div>
    <div class="wrp-inner">
      <div class="logos">
        <a href="https://smartcities.at/projects/stadtkern-plus/" target="_blank">
          <%= image_tag 'logo-klimafonds.png', width:76, height:65 %>
        </a>
        <a href="https://www.bmk.gv.at" target="_blank">
          <%= image_tag 'logo-bmk.png', width:556, height:200 %>
        </a>
      </div>
      <p>
        Fördergeber: Klima- und Energiefonds & BMK im Rahmen der Sondierung für die Ausschreibung „Technologien und Innovationen für die Klimaneutrale Stadt 2023“ 
      </p>
    </div>
  </div>

</section>