<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url("info/crowd2raum/header.jpg")
  )
%>

<section class="info -boost_call">
  <div class="imgHeader -fullwidth"></div>
</section>

<section class="crowd_boost boost_call crowd2raum-graz">

  <div class="introcontainer">
    <div class="hl-subtext">
      <h1><em>Raum gesucht? - Hier ist deine Chance!</em></h1>
      <p>Drei spannende <strong>Geschäftslokale im Erdgeschoss rund um den Jakominiplatz</strong> – einem der zentralsten und belebtesten Orte in Graz – warten darauf, mit Leben gefüllt zu werden!</p>
    </div>
    <ul> 
      <li>In Graz ist der <strong>Bedarf an leistbaren Räumen</strong> für lokale Macher*innen hoch, doch viele Flächen sind für Einzelne zu groß oder zu teuer. Eine Möglichkeit ist es, Raum und Kosten zu teilen und eine Fläche gemeinsam zu nutzen. Genau hier kommt das Crowd2raum Unterstützungspaket ins Spiel.</li>
    </ul>
  </div>

  <div class="content-wide">
    <div class="wrp-inner">
      <div class="hl-subtext">
        <h1>Das Unterstützungspaket beinhaltet</h1>
        <p>Belebe mit uns einen Leerstand rund um den Jakominiplatz - Wir helfen dir dabei.</p>
      </div>
      <div class="cardBoxCollection -tripple">
        <div class="paperCard -illuteaser -good-morning-date -cord1RT">
          <div class="wrp">
            <h3>Wir vernetzen dich mit Gleichgesinnten</h3>
            <p>Wir bringen dich mit Gleichgesinnten zusammen, um die Leerstände gemeinsam zu nutzen. <strong>So entstehen erschwingliche, flexible und innovative Raumangebote!</strong></p>
          </div>
          <div class="card"></div>
        </div>
        <div class="paperCard -illuteaser -crowd_campaign -cord1RT">
          <div class="wrp">
            <h3>1.000 € aus dem Viertelfonds für deine Crowdfunding Kampagne</h3>
            <p>Um die finanziellen Hürden bei der Raumaktivierung zu senken, gibt es eine Begleitung bei einem <strong><a href="/crowdfunding">Crowdfunding</a> auf WeLocally und 1.000 € aus dem ViertelFonds</strong>, sobald 30 % des Crowdfunding-Mindestziels erreicht sind.</p>
          </div>
          <div class="card"></div>
        </div>
        <div class="paperCard -illuteaser -favorites -cord1RT">
          <div class="wrp">
            <h3>Unterstützung bei Förderanträgen</h3>
            <p>Zusätzlich unterstützen wir dich beim <strong>Ansuchen von Förderanträgen</strong>.</p>
          </div>
          <div class="card"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-wide -grey -pilotgebiet">
    <div class="wrp-inner introcontainer">
      <div class="hl-subtext">
        <h1><span>Das Pilotgebiet</span> - Rund um den <span>Jakominiplatz</span></h1>
        <p>Der Jakominiplatz und die angrenzenden Straßen – mit hoher Passantenfrequenz, bester Erreichbarkeit und jeder Menge Sichtbarkeit für eure Vorhaben!</p>
      </div>
      <ul> 
        <li>1.) Leerstand <strong>"Now Wow"</strong> (Download <a href="#">Fact Sheet</a>)</li>
        <li>2.) Leerstand <strong>"Mix-It"</strong> (Download <a href="#">Fact Sheet</a>)</li>
        <li>3.) Wunschleerstand: Du hast einen <strong>bestehenden Wunschleerstand</strong> im Erdgeschoss im Pilotgebiet im Blick, dann kannst du dich und den Leerstand für das Unterstützungspaket ebenfalls qualifizieren!</li>
      </ul>
    </div>
  </div>

  
  <div class="toggle-container">
    <div class="hl-subtext">
      <h1><em>Der Ablauf</em></h1>
      <p>Der Jakominiplatz und die angrenzenden Straßen – mit hoher Passantenfrequenz, bester Erreichbarkeit und <strong>jeder Menge Sichtbarkeit für eure Vorhaben!</strong></p>
    </div>
    <div class="content-block -toggable">
      <h3><%= image_tag('num-badge-1.png', loading: 'lazy', width:30, height:30) %> Mitte Januar 2025 gibts ein Vernetzungsevent - Komm dazu! Wir besichtigen die Leerstände</h3>
      <div class="-toggle-content">
        <p>Lerne die anderen Interessierten und die beiden Key-Leerstände vor der Einreichung kennen. Vielleicht findet ihr sofort ein Match und könnt zusammen einreichen.</p>
        <p>10. Januar: Besichtigung der zwei Leerstände und Vernetzungsevent</p>  
      </div>
    </div>
    <div class="content-block -toggable">
      <h3><%= image_tag('num-badge-2.png', loading: 'lazy', width:30, height:30) %> Reiche danach bis zum 31. Januar 2025 dein Nutzungsvorhaben ein</h3>
      <div class="-toggle-content">
        <p>Reiche bis zum 31. Januar 2025 dein Nutzungsvorhaben ein – alleine oder bereits mit Partner*innen. Fülle dieses Formular aus und schicke es per Mail an: wir@welocally.at</p>
      </div>
    </div>
    <div class="content-block -toggable">
      <h3><%= image_tag('num-badge-3.png', loading: 'lazy', width:30, height:30) %> Anfang Februar tagt die Jury und wählt die besten Ideen aus</h3>
      <div class="-toggle-content">
        <p>Anfang Februar wählt die Jury die Vorhaben aus, die das Unterstützungspaket erhalten, basierend auf Umsetzbarkeit, Planungsgrad, positive Grätzleffekte und Kooperation.</p>
      </div>
    </div>
    <div class="content-block -toggable">
      <h3><%= image_tag('num-badge-4.png', loading: 'lazy', width:30, height:30) %> Starte ab Mitte Februar 2025 dein Crowdfunding auf WeLocally (optional)</h3>
      <div class="-toggle-content">
        <p>Durchführung der Crowdfunding-Kampagne und Einreichung Förderanträge.</p>
      </div>
    </div>
    <div class="content-block -toggable">
      <h3><%= image_tag('num-badge-5.png', loading: 'lazy', width:30, height:30) %> Aktiviere bis Juni 2025 deinen Leerstand im Pilotgebiet - Yeah!</h3>
      <div class="-toggle-content">
        <p>Da der Prozess Zeit braucht, könnten die Leerstände zwischenzeitlich nicht mehr verfügbar sein. In diesem Fall versuchen wir einen Ersatz zu stellen, wobei bezahlbare Mieten das entscheidende Kriterium bei der Auswahl sind. Das Projekt „crowd2raum“ endet am 30.05.2024. Spätestens bis zu diesem Datum müssen alle Leistungen aus dem Unterstützungspaket vollständig abgerufen worden sein.</p>
      </div>
    </div>
  </div>

  <!--
  <div class="content-wide -end logo-footer">
    <div class="wrp-inner">
      <a href="https://smartcities.at/projects/stadtkern-plus/" target="_blank">
        <%= image_tag 'logo-klimafonds.png', width:76, height:65 %>
      </a>
      <p>
        Das Projekt ist Teil von <a href="https://smartcities.at/projects/stadtkern-plus/" target="_blank">Stadtkern_Plus</a> und wird aus Mitteln des Klima- und Energiefonds gefördert und im Rahmen des Programms „Leuchttürme für resiliente Städte 2040" durchgeführt.
      </p>
    </div>
  </div>
  -->

</section>