<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        
        
        <% if @type == :meeting %>

          <p>Servus <%= @user.first_name %>,
          <p>du bist ein echter <strong><%= t("region.#{@user.region.id}.domain_short") %> Superfan</strong> :) Du gehörst zu den aktiven Nutzer*innen auf <%= t("region.#{@user.region.id}.domain_short") %> und bist damit ein wichtiger Teil unserer Community. Mit deinen Treffen und Angeboten schaffst du echte Begegnungen – Danke!</p>

        <% elsif @type == :location %>

          <p>Servus <%= @user.first_name %>,
          <p>du bist ein echter <strong><%= t("region.#{@user.region.id}.domain_short") %> Superfan</strong> :) Du gehörst zu den aktiven Nutzer*innen auf <%= t("region.#{@user.region.id}.domain_short") %> und bist ein wichtiger Teil unserer Community. Mit deinem Schaufenster machst du nicht nur dein eigenes Angebot sichtbar – du hilfst auch, die Vielfalt lokaler Angebote in Wien zu vergrößern. Dafür möchten wir dir Danke sagen!</p>

        <% elsif @type == :gmd %>

          <p>Liebe Good Morning Date Runde,</p>
          <p>wir hoffen, das Treffen war inspirierend – mit tollen Gesprächen und spannenden neuen Kontakten. Falls ihr Fotos gemacht habt, schickt sie uns gerne!</p>
          <p>Es gibt noch einige <%= link_to "Good Morning Dates", "https://www.imgraetzl.at/good-morning-dates", target:"_blank", style: "color:#ec776a;" %> in anderen Bezirken. Vielleicht kennt ihr ja dort Macher*innen, die Lust haben, sich zu vernetzen? Ladet sie gerne ein! Und natürlich: Ihr seid auch herzlich willkommen!</p>

        <% end %>

        <% if @type == :gmd %>

          <p>Für alle Good Morning Date Teilnehmer*innen haben wir noch etwas und zwar ein Dankeschön von unserer Seite, wir feiern nämlich heuer 10 Jahre imGrätzl!</p>
          <p><strong>Als Dankeschön gibt es die JUHU! Fördermitgliedschaft zum Sonderpreis von 85 € (statt 100 €) – gültig bis zum <%= I18n.localize(@coupon.valid_until, format:'%d. %B') %>.</strong></p>

        <% else %>

          <p>Wir feiern heuer <strong>10 Jahre <%= t("region.#{@user.region.id}.domain_short") %></strong> und sind mächtig stolz, dass imGrätzl nach wie vor unabhängig und kostenlos für die lokalen Macher*innen ist. Das ist nur dank der Unterstützung unserer Förder*innen möglich. Jetzt hast du die Chance, dich diesem Kreis anzuschließen und <%= t("region.#{@user.region.id}.domain_short") %> aktiv zu unterstützen.</p>
          <strong style="color:#ec776a;">Dein exklusives 10 Jahre Geburtstags-Angebot:</strong>
          <p><strong>Als Dankeschön bieten wir dir die JUHU! Fördermitgliedschaft zum Sonderpreis von 85 € (statt 100 €) – nur bis zum <%= I18n.localize(@coupon.valid_until, format:'%d. %B') %>!</strong></p>

        <% end %>

        <p>Das bekommst du als JUHU-Fördermitglied:</p>
        <ul>
          <li><strong>Ein Grätzlzuckerl</strong>: einen Monat lang <strong>wienweite Sichtbarkeit</strong> für dein Angebot in allen vier Newslettern und auf der Plattform.</li>
          <li><strong>Ein zweites Schaufenster</strong>: ideal, wenn du auch in anderen Bezirken sichtbarer sein möchtest.</li>
        </ul>
        <p><strong>Und das Beste</strong>: Dein Beitrag sorgt dafür, dass <%= t("region.#{@user.region.id}.domain_short") %> bestehen bleibt – als Plattform in Wien, auf der Macher*innen wie du sichtbar werden, ihre Ideen verwirklichen und sich vernetzen können.</p>
        <p><strong>Löse deinen persönlichen Gutscheincode "</strong><strong style="color:#69a8a7;"><%= @coupon.code %></strong><strong>" für deine JUHU-Mitgliedschaft bis zum <%= I18n.localize(@coupon.valid_until, format:'%d. %B') %></strong> <%= link_to "hier", subscription_plans_url, target: '_blank', style: 'color:#ec776a; font-weight:bold;' %> <strong>ein</strong>. (Zuerst JUHU-Mitgliedschaft auswählen, dann einlösen.) Dein Abo ist natürlich jederzeit mit nur einem Klick kündbar.</p>

        <% if @type == :gmd %>

          <p>
            Danke und ganz viel Freude noch mit imGrätzl<br>
            Dein imGrätzl-Team
          </p>

        <% else %>

          <p>Deine Unterstützung macht einen echten Unterschied – für dein Grätzl und alle Macher*innen, die es zu einem lebendigen Ort der Begegnung machen.</p>
          <p>
            Herzliche Grüße,<br>
            dein <%= t("region.#{@user.region.id}.domain_short") %> Team,<br>
            Mirjam, Michael, Lena und Karin
          </p>

        <% end %>

      </td>
    </tr>
  </tbody>
</table>