<div class="streamElement">
  <div class="entryInitialContent">
    <%= render 'public_activity/info', user: activity.trackable.initiator, entity: activity.trackable %>
    <%= render 'meetings/teaser', meeting: activity.trackable %>
  </div>

  <div class="entryNewParticipants">
    <div class="singleParticipant">
      <div class="userPortraitName">
        <%= avatar_for activity.owner %>
        <%= link_to user_path(activity.owner), class: 'userPortraitName' do %>
          <%= activity.owner.username if activity.owner %>
        <% end %>
      </div>
      nimmt an diesem Treffen teil
    </div>
  </div>

  <%= render 'comments/form_inline', commentable: activity.trackable %>
</div>