<% content_for :user_avatar, flush: true do %>
  <%= attachment_image_tag(activity.trackable.initiator, :avatar, :fill, 100, 100, fallback: 'avatar/small_default.png', class: 'img-round') %>
<% end %>

<% content_for :user_and_type, flush: true do %>
  Treffen von <a href=""><%= activity.trackable.initiator.username if activity.trackable.initiator %></a>
  <span class="timeago">vor <%= time_ago_in_words(activity.trackable.created_at) %></span>
<% end %>

<%= render 'meetings/teaser', meeting: activity.trackable %>

<div class="entryNewParticipants">
  <strong>neuer Teilnehmer</strong>
  <%= link_to '', class: 'userPortraitName' do %>
    <%= attachment_image_tag(activity.owner, :avatar, :fill, 100, 100, fallback: 'avatar/small_default.png', class: 'img-round') %>
    <span><%= activity.owner.username if activity.owner %></span>
  <% end %>
</div>