<% content_for :initial_content, flush: true do %>
  
  <div class="userCreateInfo">
    <%= attachment_image_tag(activity.trackable.initiator, :avatar, :fill, 100, 100, fallback: 'avatar/small_default.png', class: 'img-round') %>
  
    <span class="userAndType">
      Treffen von <a href=""><%= activity.trackable.initiator.username if activity.trackable.initiator %></a>
      <span class="timeago">vor <%= time_ago_in_words(activity.trackable.created_at) %></span>
    </span>
  </div>

<% end %>

<%= render 'meetings/teaser', meeting: activity.trackable %>

<div class="entryNewParticipants">
  <strong>neuer Teilnehmer</strong>
  <%= link_to '', class: 'userPortraitName' do %>
    <%= attachment_image_tag(activity.owner, :avatar, :fill, 100, 100, fallback: 'avatar/small_default.png', class: 'img-round') %>
    <span><%= activity.owner.username if activity.owner %></span>
  <% end %>
</div>