<aside class="sideBar">
  <div class="action-container">
    <% if @location.owned_by?(current_user) %>
      <%= link_to edit_location_path(@location), class: 'icontxt' do %>
        <%= icon_tag "pencil" %> Schaufenster bearbeiten
      <% end %>
      <%= link_to new_meeting_path(location_id: @location.id), class: 'icontxt' do %>
        <%= icon_tag "calendar-2" %> Treffen erstellen
      <% end %>
      <%= link_to new_location_zuckerl_path(@location), class: 'icontxt' do %>
        <%= icon_tag "shopping-bag" %> Zuckerl buchen
      <% end %>
    <% end %>
  </div>

  <%= render partial: 'locations/sidebar/zuckerl', collection: @zuckerls %>

  <% if @location.goodie.present? %>
    <div class="sideBarbox goodie" id="goodie">
      <h3 class='sideflag -L'>Goodie für Mitglieder<%= icon_tag "goodie" %></h3>
        <% if user_signed_in? %>
          <div class="wrp"><%= @location.goodie %></div>
        <% else %>
          <div class="goodie-login-msg">
            Das Goodie ist nur für eingeloggte Mitglieder sichtbar.<br />
            <%= link_to 'Zum Login', new_user_session_path %> |
            <%= link_to 'Zur Registrierung', new_registration_path(origin: request.path) %>
          </div>
        <% end %>
    </div>
  <% end %>

  <div class="sideBarbox contact">
    <%= link_to content_tag(:h3, @graetzl.name, class: 'sideflag -L'), @graetzl %>

    <div class="iconlist">
      <% if @location.user %>
        <%= link_to @location.user, class: 'user-wrp', rel: 'nofollow' do %>
          <%= avatar_image_with_tooltip @location.user, size: :thumb, class: 'img-round' %>
          <span class="name"><%= @location.user.username %></span>
        <% end %>
      <% end %>

      <% if @location.online_shop_url.present? %>
        <%= link_to @location.online_shop_url, class: 'icontxt onlineshop', target: '_blank' do %>
          <%= icon_tag "onlineshop" %>
          <span>Online Shop</span>
        <% end %>
      <% end %>

      <% if @location.website_url.present? %>
        <%= link_to @location.website_url, class: 'icontxt', target: '_blank' do %>
          <%= icon_tag "globe" %>
          <span><%= @location.website_url.sub(/^https?\:\/\//,'') %></span>
        <% end %>
      <% end %>
      <% if @location.email.present? %>
        <%= mail_to @location.email, class: 'icontxt' do %>
          <%= icon_tag "at-symbol" %>
          <span><%= @location.email %></span>
        <% end %>
      <% end %>
      <% if @location.phone.present? %>
        <%= link_to "tel:#{@location.phone}", class: 'icontxt' do %>
          <%= icon_tag "mobile" %>
          <%= @location.phone %>
        <% end %>
      <% end %>
      <% if @location.address_street.present? %>
        <div class="address icontxt">
          <%= icon_tag "address-directions" %>
          <div>
            <span><%= @location.address_street %></span>
            <span><%= "#{@location.address_zip} #{@location.address_city}" %></span>
            <span class="desc"><%= @location.address_description %></span>
          </div>
        </div>
      <% end %>
    </div>
    <% if @location.address_coordinates.present? %>
      <%= address_map(@location) %>
    <% end %>
  </div>

  <%= link_to "Im Messenger kontaktieren", messenger_start_thread_path(user_id: @location.user_id),
      class: "btn-primary -mint", id: 'requestLocationBtn' if @location.user && @location.user != current_user %>

  <% if @location.open_hours.present? %>
    <div class="sideBarbox openinghours">
      <div class="bigicontext-element">
        <%= icon_tag "time-clock" %>
        <div class="txt">Öffnungszeiten</div>
      </div>
      <div class="txt"><%= @location.open_hours %></div>
    </div>
  <% end %>

  <% if @room_offer && !@room_offer.disabled? %>
    <div class="sideBarbox roomoffer">
      <%= render @room_offer %>
    </div>
  <% end %>

  <% if @room_demand && !@room_demand.disabled? %>
    <div class="sideBarbox roomoffer">
      <%= render @room_demand %>
    </div>
  <% end %>
</aside>
