<div class="cardBox -roomoffer">

  <div class="cardBoxHeader">
    <div class="coverImgWrapper">
      <%= cover_photo_image(room_offer, class: 'coverImg') %>
    </div>

    <% graetzl = Graetzl.memoized(room_offer.graetzl_id) %>
    <% if graetzl %>
      <div class="categoryicon">
        <%= "#{graetzl.district.zip}, #{graetzl.name}" %>
      </div>
    <% end %>
  </div>

  <div class="cardBoxContent -roomoffer">

    <div class="avatar-block -below">
      <%= link_to room_offer, class: 'avatarImg' do %>
        <%= avatar_image room_offer, size: :small, class: 'img-square' %>
      <% end %>
      <%= link_to room_offer, class: 'typelink' do %>
        <div class="typetxt">
          <div class="roomtype">
            <%= t("activerecord.attributes.room_offer.offer_types.#{room_offer.offer_type}") %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="slogan">
      <%= room_offer.slogan %>
    </div>

    <div class="txt">
      <p><%= truncate room_offer.room_description, length: 100 %></p>
    </div>

    <% if room_offer.wants_collaboration? %>
      <div class="collaboration icontxt">
        <%= icon_tag "urgent-extra-notice-info-announcement" %>
        Interesse an gem. Kooperationen
      </div>
    <% end %>

    <% if room_offer.occupied? %>
      <div class="waiting-list icontxt">
        <%= icon_tag "coffee" %>
        Warteliste
      </div>
    <% end %>

  </div>
</div>
