<% def delivery_week_names(value)
  case value
  when 1
    "innerhalb 1 Woche"
  when 2
    "innerhalb 2 Wochen"
  when 3
    "innerhalb 3 Wochen"
  when 4
    "innerhalb 1 Monat"
  when 12
    "innerhalb 3 Monate"
  when 24
    "innerhalb 6 Monate"
  when 36
    "innerhalb 9 Monate"
  when 48
    "innerhalb 1 Jahr"
  else
    false
  end
end %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <p>
          Servus <%= @crowd_pledge.contact_name %>,
        </p>
        <p>
          <strong>wunderbar, du hast das Crowdfunding Projekt <%= link_to @crowd_pledge.crowd_campaign.title, crowd_campaign_url(@crowd_pledge.crowd_campaign), style: "color:#ec776a; font-weight:bold;" %> unterstützt.</strong>
        </p>
        <p>
          Das Projekt gilt als erfolgreich, wenn die Crowd dafür gesorgt hat, dass das Minimalziel erreicht wurde und die Finanzierungsphase beendet ist. Erst dann wird das Geld auch bei dir abgebucht.
        </p>
        <p>
          Motiviere dein Netzwerk jetzt zu unterstützen und Teil der Crowd zu werden und teile diesen Link:<br>
          <%= link_to crowd_campaign_url(@crowd_pledge.crowd_campaign), crowd_campaign_url(@crowd_pledge.crowd_campaign), style: "color:#ec776a;" %>
        </p>
      </td>
    </tr>
  </tbody>
</table>
<!-- --------------- BLOCK HEADLINE --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
   <tr>
     <td style="height:10px"> </td>
   </tr>
   <tr>
     <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
       <h4 style="text-align:left; color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic;">
         Deine Crowdfunding Unterstützung:
       </h4>
     </td>
   </tr>
   <tr>
     <td style="padding-left:9px; padding-right:9px;">
       <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td>
             <span></span>
           </td>
         </tr>
       </table>
     </td>
   </tr>
 </table>
 <table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
   <tbody>
     <tr>
       <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

         <table>

           <% if @crowd_pledge.crowd_reward.present? %>
           <tr>
             <td style="text-align:right; padding-right:10px;"><strong><%= number_to_currency(@crowd_pledge.crowd_reward&.amount, unit: "€") %></strong></td>
             <td><%= @crowd_pledge.crowd_reward&.title %></td>
           </tr>

           <% if @crowd_pledge.crowd_reward.delivery_weeks %>
             <tr>
               <td></td>
               <td>
                 <small>Voraussichtliche Lieferung: <em><%= delivery_week_names(@crowd_pledge.crowd_reward.delivery_weeks) %></em> (nach Kampagnenende)</small>
               </td>
             </tr>
           <% end %>

           <tr>
             <td></td>
             <td></td>
           </tr>
           <% end %>

           <% if @crowd_pledge.donation_amount.present? %>
           <tr>
             <td style="text-align:right; padding-right:10px;"><strong><%= number_to_currency(@crowd_pledge.donation_amount, unit: "€") %></strong></td>
             <td>Freie Unterstützung</td>
           </tr>
           <% end %>

           <% if @crowd_pledge.crowd_reward.present? && @crowd_pledge.donation_amount.present? %>
           <tr>
             <td style="text-align:right; padding-right:10px; white-space: nowrap;"><strong><%= number_to_currency(@crowd_pledge.total_price, unit: "€") %></strong></td>
             <td><strong>Gesamt</strong></td>
           </tr>
           <% end %>

         </table>

       </td>
     </tr>
   </tbody>
 </table>



<!-- --------------- BLOCK HEADLINE --------------- -->
<% if @crowd_pledge.has_charge? %>
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
   <tr>
     <td style="height:10px"> </td>
   </tr>
   <tr>
     <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
       <h4 style="text-align:left; color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic;">
         Deine <%= t("region.#{@crowd_pledge.crowd_campaign.region.id}.domain_short") %> Fördertopf-Spende
       </h4>
     </td>
   </tr>
   <tr>
     <td style="padding-left:9px; padding-right:9px;">
       <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td>
             <span></span>
           </td>
         </tr>
       </table>
     </td>
   </tr>
 </table>
<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
   <tbody>
     <tr>
       <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

        <table>
          <tr>
            <td style="text-align:right; padding-right:10px;"><strong><%= number_to_currency(@crowd_pledge.crowd_boost_charge_amount, unit: "€") %></strong></td>
            <td>Fördertopf-Spende</td>
          </tr>
        </table>

       </td>
     </tr>
   </tbody>
 </table>
<% end %>



 <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
    <tr>
      <td style="height:10px"> </td>
    </tr>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
        <h4 style="text-align:left; color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic;">
          Deine Unterstützungsdaten:
        </h4>
      </td>
    </tr>
    <tr>
      <td style="padding-left:9px; padding-right:9px;">
        <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td>
              <span></span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
    <tbody>
      <tr>
        <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

          <strong><%= @crowd_pledge.contact_name %><br></strong>
          <%= @crowd_pledge.address_street %><br>
          <%= @crowd_pledge.address_zip %> <%= @crowd_pledge.address_city %>

          <br><br>
          <strong>Unterstützungs-ID: </strong><%= @crowd_pledge.id %>
          <br><br>

        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= render 'mailers/shared/button', title: "Zu den Unterstützungsdetails", url: details_crowd_pledge_url(@crowd_pledge) %>
        </td>
      </tr>
      <tr>
        <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

          <p>
            Liebe Grüße,<br>
            dein Team von <%= t("region.#{@crowd_pledge.crowd_campaign.region.id}.domain_full") %><br>
          </p>

          ---

          <br><br>

          <table border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer" width="100%">
            <tr>
              <td valign="top" class="mcnTextContent" width="45%" style="line-height: 100%; color:grey;">
                <small>
                <strong>Verantwortlich für das Projekt:</strong><br>
                <% if @crowd_pledge.crowd_campaign.contact_company.present? %>
                  <%= @crowd_pledge.crowd_campaign.contact_company %><br>
                <% end %>
                <%= @crowd_pledge.crowd_campaign.contact_name %><br>
                <%= @crowd_pledge.crowd_campaign.contact_address %><br>
                <%= @crowd_pledge.crowd_campaign.contact_zip %> <%= @crowd_pledge.crowd_campaign.contact_city %><br>
                </small>
              </td>
              <td width="10%"></td>
              <td valign="top" class="mcnTextContent" width="45%" style="line-height: 100%; color:grey;">
                <small>
                <strong>Verantwortlich für den Plattformbetrieb:</strong><br>
                morgenjungs GmbH (<%= t("region.#{@crowd_pledge.crowd_campaign.region.id}.domain_full") %>)<br>
                Ottakringer Straße 94/11<br>
                1170 Wien<br>
                <%= t("region.#{@crowd_pledge.crowd_campaign.region.id}.contact_email") %><br>
                </small>
              </td>
            </tr>
          </table>

        </td>
      </tr>
    </tbody>
  </table>
