<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <p>
          Servus <%= @crowd_pledge.contact_name %>,
        </p>
        <p>
           Michael von <%= t("region.#{@crowd_pledge.crowd_campaign.region.id}.domain_full") %> schreibt dir, voll schön, dass du die Kampagne "<strong><%= @crowd_pledge.crowd_campaign.title %></strong>" unterstützen möchtest!
        </p>
        <p>
         Ich wollte nur kurz nachfragen, ob du beim Abschluss deiner Unterstützung noch Hilfe benötigst oder ob es vielleicht offene Fragen gibt.<br>
         Du kannst mir jederzeit einfach auf diese E-Mail antworten oder mich anrufen (0664 / 132 14 99).
        </p>
        <p>
          <strong>Hier kannst du deine begonnene <%= link_to 'Unterstützung abschließen', choose_payment_crowd_pledge_url(@crowd_pledge), style: "color:#ec776a; font-weight:bold;" %> oder auf der Kampagnenseite einfach eine neue starten:</strong><br>
          <%= link_to crowd_campaign_url(@crowd_pledge.crowd_campaign), crowd_campaign_url(@crowd_pledge.crowd_campaign), style: "color:#ec776a;" %>
        </p>
        <p>
          <strong>Hinweis:</strong> Wenn dir beim Abschluss eine 0 € Zahlung angezeigt wurde, das passt so!
          Im ersten Schritt wird nur deine Zahlungsmethode mit 0 € bestätigt. Der eigentliche Betrag wird erst nach Kampagnenende eingezogen.
        </p>
        <p>
          <strong>Tipp:</strong> Bei manchen älteren Android-Smartphones kann es vorkommen, dass Zahlungsanbieter nicht mehr vollständig unterstützt werden. Falls das bei dir der Fall war, klappt der Abschluss meist problemlos am Desktop-PC.
        </p>
        <p>
          Bei Fragen jederzeit gerne,<br>
          Michael vom <%= t("region.#{@crowd_pledge.crowd_campaign.region.id}.domain_short") %> Team
        </p>
      </td>
    </tr>
  </tbody>
</table>