<div class="filter-stream">

  <%= active_link_to meetings_wien_path, class: "iconfilter" do %>
    <svg class="icon-calendar-2"><use xlink:href="#icon-calendar-2"></use></svg>
    <div class="txt">Treffen <br/>& Events</div>
  <% end %>

  <%= active_link_to locations_wien_path, class: "iconfilter" do %>
    <svg class="icon-location active"><use xlink:href="#icon-location"></use></svg>
    <div class="txt">Anbieter <br/>& Locations</div>
  <% end %>

  <%= active_link_to rooms_wien_path, class: "iconfilter" do %>
    <svg class="icon-raumteiler"><use xlink:href="#icon-raumteiler"></use></svg>
    <div class="txt">Raum <br/> Teiler</div>
  <% end %>

  <%= active_link_to zuckerls_wien_path, class: "iconfilter" do %>
    <svg class="icon-shopping-bag"><use xlink:href="#icon-shopping-bag"></use></svg>
    <div class="txt">Zuckerl <br/>& Angebote</div>
  <% end %>

  <% if user_signed_in? %>
    <!-- maybe add a create menu -->
  <% else %>
    <%= link_to new_user_session_path, class: 'iconfilter loginlink' do %>
      <svg class="icon-login-signin"><use xlink:href="#icon-login-signin"></use></svg>
      <div class="txt">Registrieren<br/>& Login</div>
    <% end %>
  <% end %>
</div>
