<%
  meta({
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/og_logo.png')
  })
%>

<section class="wien -overview-pages masonryFilterGrid">
  <%= render 'header' %>

  <div class="hl-subtext">
    <h1><em>Lokale Anbieter</em></h1>
    <p>Entdecke Selbständige & lokale Unternehmen, Vereine & Projekte </p>
  </div>

  <%= form_tag locations_path, method: :get, remote: true, class: 'cards-filter autosubmit-filter' do %>
    <div class="filter-selection-text">
      Zeige mir aus <%= link_to 'allen Bezirken', '#filter-modal-bezirk' %>
    </div>

    <div id="filter-modal-bezirk" class="filter-modal filter-modal-tall">
      <div class="filter-input">
        <%= select :filter, :district_ids, district_select_options, {}, { multiple: true, class: 'district-select' } %>
      </div>
      <div class="secondary-input">
        <%= select :filter, :graetzl_ids, graetzl_select_options, {}, { multiple: true, class: 'graetzl-select' } %>
      </div>
      <%= button_tag "Auswahl übernehmen", type: 'button', class: 'btn-primary filter-button' %>
    </div>
  <% end %>

  <div class="masonry-wrapper">
    <div class="cards-container" data-behavior="stream-container"></div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load -big', data: { disable_with: 'lädt...', behavior: 'paginate-link' } %>
  </div>
</section>
