<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/coop-and-share.jpg')
  )
%>

<section class="wien platform-meetings">

  <div class="hl-subtext -cards">
    <h1><em>imGrätzl Community Treffen</em></h1>
    <p>Die nächsten Termine im Überblick</p>
  </div>

  <div class="paperCard -cord1RT -top">
    <div class="wrp">
      <p>
        <strong>Lust auf Vernetzung, neue Formen der Zusammenarbeit</strong> und auf den wohlwollenden Austausch mit Gleichgesinnten? Dann komm zu den imGrätzl Community Treffen!
      </p>
    </div>
    <div class="card"></div>
  </div>

  <%= form_tag meetings_path(platform_meeting: true), method: :get, remote: true, class: 'cards-filter' do; end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="meetings-card-container"></div>
    <div class="action-card-container" data-behavior="meetings-action-card-container">
      <%= render 'meetings/action_card_platform_meeting' %>
    </div>
    <!-- Insert Featured Card -->
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'meetings-paginate-link' }, rel: 'nofollow' %>
  </div>

  <% unless current_user %>
  <div class="paperCard -cord1RT -bottom">
    <div class="wrp">
      <div class="logo">
        <%= link_to image_tag('svg/coopshare-logo-black.svg', class: 'coop-share-logo'), info_path %>
      </div>
      <div class="txt">
        <h3>Noch nicht auf imGrätzl registriert?</h3>
        <p><strong>Melde dich jetzt an:</strong> Neben Services, die Kosten senken und Ressourcen erhöhen, wirst du mit Gleichgesinnten verbunden: Kooperieren, sharen, tauschen - neue Formen der Zusammenarbeit und Gemeinschaft stehen dabei im Mittelpunkt!</p>
        <%= link_to 'Kostenlos in deinem Grätzl registrieren', new_user_session_path, class: 'btn-primary -register' %>
      </div>
    </div>
    <div class="card"></div>
  </div>
  <% end %>

</section>
