<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/selbststaendige-fuer-selbststaendige.jpg')
  )
%>

<section class="wien platform-meetings">

  <div class="hl-subtext -cards">
    <h1><em>Von Selbstständigen für Selbstständige</em></h1>
    <p>Eine Aktion von Selbstständigen für Selbstständige, Kulturschaffende und Macher*innen. Mit gegenseitiger Unterstützung packen wir das!</p>
  </div>

  <div class="paperCard -cord1RT -top">
    <div class="wrp">
      <p>
         <strong>In den unterschiedlichen Themenbereichen könnt ihr aus den online Sprechstunden und Gruppenrunden das wählen, was euch jetzt stärkt und unterstützt.</strong>
      </p>
      <br>
      <p>
        Folgende Bereiche versuchen wir abzubilden: Liquiditäts- & Finanzcheck, Coaching-Sprechstunden, Marketing & Entwicklung neuer Geschäftsfelder, nicht zu vergessen Entspannungstechniken. Das Angebot ist kostenlos. 1000 Dank an die Anbieter*innen, die das hier möglich machen!
      </p>
    </div>
    <div class="card"></div>
  </div>

  <%= form_tag meetings_path(platform_meeting: true, per_page: 75), method: :get, remote: true, class: 'cards-filter' do; end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="meetings-card-container"></div>
    <div class="action-card-container" data-behavior="meetings-action-card-container">
      <%= render 'meetings/action_card_platform_meeting' %>
    </div>
    <!-- Insert Featured Card -->
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'meetings-paginate-link' }, rel: 'nofollow' %>
  </div>

  <% unless current_user %>
  <div class="paperCard -cord1RT -bottom">
    <div class="wrp">
      <div class="logo">
        <%= link_to image_tag('svg/coopshare-logo-black.svg', class: 'coop-share-logo'), info_path %>
      </div>
      <div class="txt">
        <h3>Noch nicht auf imGrätzl registriert?</h3>
        <p><strong>Melde dich jetzt an:</strong> Neben Services, die Kosten senken und Ressourcen erhöhen, wirst du mit Gleichgesinnten verbunden: Kooperieren, sharen, tauschen - neue Formen der Zusammenarbeit und Gemeinschaft stehen dabei im Mittelpunkt!</p>
        <%= link_to 'Kostenlos in deinem Grätzl registrieren', new_user_session_path, class: 'btn-primary -register' %>
      </div>
    </div>
    <div class="card"></div>
  </div>
  <% end %>

</section>
