<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/selbststaendige-fuer-selbststaendige.jpg')
  )
%>

<section class="wien platform-meetings">

  <div class="hl-subtext -cards">
    <h1><em>Von Selbstständigen für Selbstständige</em></h1>
    <p>Eine Aktion von Selbstständigen für Selbstständige, Kulturschaffende und Macher*innen. Mit gegenseitiger Unterstützung packen wir das!</p>
  </div>

  <div class="paperCard -cord1RT -top">
    <div class="wrp">
      <p>
         <strong>Wählt aus den Online- oder Offline-Angeboten das aus, was euch jetzt stärkt und weiterbringt. Alle zwei Wochen gibt es einen neuen Themenbereich. Alle Angebote sind im Rahmen der Aktion kostenlos.</strong>
      </p>
      <br>
      <p>
        Die Aktion wird ermöglicht durch die Expert*innen, die damit die lokalen Anbieter*innen, die lokale Wirtschaft & die lokale Vernetzung stärken. 1000 Dank! Wie man als Expert*in mitmachen kann, bitte <%= link_to 'hier entlang', 'https://blog.imgraetzl.at/allgemein/so-kannst-du-als-expertin-bei-selbststaendige-fuer-selbststaendige-macherinnen-mitmachen/', target: 'blank' %>.
        <br>
        Ein ganz großes Dankeschön geht auch an den Klima- & Energiefonds, die es ermöglichen, dass wir die Aktion in der Phase 2 größer aufziehen können.
      </p>
      <%= link_to(image_tag('logo-klimafonds-poweredby'), 'https://www.klimafonds.gv.at', target: '_blank', class: 'poweredby') %>
    </div>
    <div class="card"></div>
  </div>

  <div class="hl-subtext -cards">
    <h1>Aktuelle <span class="category_title">Themen</span> Wochen</h1>
  </div>

  <%= form_tag meetings_path(platform_meeting: true, per_page: 75), method: :get, remote: true, class: 'cards-filter' do %>
    <%= hidden_field_tag :params_category_id, @params_category.try(:id) %>
    <div class="input-select label-select">
      <%= select_tag(:meeting_category_id, ("
          <option value=''>Alle anzeigen</option>" +
          options_from_collection_for_select(MeetingCategory.all.order(:starts_at_date), :id, :category_width_date_range, (@params_category.try(:id) ? @params_category.try(:id) : actual_meeting_category))).html_safe, id: 'meeting-categories', multiple: false) %>
    </div>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="meetings-card-container"></div>
    <div class="action-card-container" data-behavior="meetings-action-card-container">
      <%= render 'meetings/action_card_platform_meeting' %>
    </div>
    <!-- Insert Featured Card -->
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'meetings-paginate-link' }, rel: 'nofollow' %>
  </div>

  <% unless current_user %>
  <div class="paperCard -cord1RT -bottom">
    <div class="wrp">
      <div class="logo">
        <%= link_to image_tag('svg/coopshare-logo-black.svg', class: 'coop-share-logo'), info_path %>
      </div>
      <div class="txt">
        <h3>Noch nicht auf imGrätzl registriert?</h3>
        <p><strong>Melde dich jetzt an:</strong> Neben Services, die Kosten senken und Ressourcen erhöhen, wirst du mit Gleichgesinnten verbunden: Kooperieren, sharen, tauschen - neue Formen der Zusammenarbeit und Gemeinschaft stehen dabei im Mittelpunkt!</p>
        <%= link_to 'Kostenlos in deinem Grätzl registrieren', new_user_session_path, class: 'btn-primary -register' %>
      </div>
    </div>
    <div class="card"></div>
  </div>
  <% end %>

</section>
