<%
  meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/og_logo.png')
  )
%>

<section class="wien -overview-pages masonryFilterGrid">
  <%= render 'header' %>

  <div class="hl-subtext">
    <h1><em>Raumteiler - Für neue Raumpartnerschaften</em></h1>
    <p>Gewerbeflächen teilen - Kosten teilen.</p>
  </div>

  <%= form_tag rooms_path, method: :get, remote: true, class: 'cards-filter autosubmit-filter' do %>
    <div class="filter-selection-text">
      Zeig mir <%= link_to 'alle Raumteiler', '#filter-modal-type', data: { no_filter_label: 'alle Raumteiler'} %>,
      aus <%= link_to 'allen Kategorien', '#filter-modal-categories', data: { no_filter_label: 'allen Kategorien'} %>,
      in <%= link_to 'allen Bezirken', '#filter-modal-bezirk', data: { no_filter_label: 'allen Bezirken'} %>
    </div>

    <div id="filter-modal-type" class="filter-modal">
      <%= render 'filters/room_type' %>
    </div>

    <div id="filter-modal-categories" class="filter-modal">
      <%= render 'filters/room_categories' %>
    </div>

    <div id="filter-modal-bezirk" class="filter-modal">
      <%= render 'filters/district_graetzl' %>
    </div>
  <% end %>

  <div class="masonry-wrapper">
    <div class="cards-container" data-behavior="stream-container"></div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load -big', data: { disable_with: 'lädt...', behavior: 'paginate-link' } %>
  </div>
</section>
