<% meta(
    title: ' Toolteiler in Wien'
  )
%>

<section class="overview toolteiler">

  <%= render 'navigation' %>

  <div class="hl-subtext -toolteiler">
    <h1><em>Toolteiler</em></h1>
    <p>Nach Toolteiler suchen oder in Kategorien stöbern</p>
  </div>

  <%= form_tag 'toolteiler', method: :get, remote: true, class: 'cards-filter' do %>
    <div class="input-field search-filter">
      <div class="input-field">
        <%= text_field_tag :query, nil, placeholder: 'Suche..', class: 'search-suggestion-trigger' %>
      </div>
      <div class="input-select label-select">
        <%= select_tag :district_ids, options_for_select(district_select_options, District.all_memoized.keys), id: 'graetzl-suggestion', multiple: true %>
      </div>
    </div>
  <% end %>

  <%= render 'filters/toolteiler_categories', selected_category: nil %>

  <!--<div class="card-grid" data-behavior="toolteiler-card-container"></div>-->


  <!-- WORKING EXAMPLE -->
  <div class="card-grid-container">

    <br>
    <div class="cardBoxCollection -tripple">
        <%= render 'toolteiler/toolteiler' %>
        <%= render 'toolteiler/toolteiler' %>
        <%= render 'toolteiler/action_card' %>
    </div>
    <!-- /WORKING EXAMPLE -->


    <!-- Insert Featured Card -->

    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'toolteiler-paginate-link' }, rel: 'nofollow' %>
  </div>
</section>
