<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/og_logo.png')
  )
%>

<section class="wien toolteiler">

  <%= render 'map' %>
  <%= render 'navigation' %>

  <div class="hl-subtext -cards">
    <h1><em>Toolteiler</em></h1>
    <p>Arbeistequipment leihen - Ausstattung teilen</p>
  </div>

  <%= render 'filters/tool_offer_categories' %>

  <%= form_tag tool_offers_path, method: :get, remote: true, class: 'cards-filter' do %>
    <%= hidden_field_tag :category_id %>
    <div class="input-field search-filter">
      <div class="input-field">
        <%= text_field_tag :query, nil, placeholder: 'Suche..', class: 'search-suggestion-trigger' %>
      </div>
      <div class="input-select label-select">
        <%= select_tag :district_ids, options_for_select(district_select_options, District.all_memoized.keys), id: 'graetzl-suggestion', multiple: true %>
      </div>
    </div>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="tool-offers-card-container"></div>
    <div class="action-card-container" data-behavior="tool-offers-action-card-container">
      <%= render 'tool_offers/action_card' %>
    </div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'tool-offers-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
