<div class="nested-fields">
  <div class="input-select column-left">
    <%= f.label :room_module_id do %>
      <%= icon_tag "pie-chart" %>
      <span> Modul wählen</span>
    <% end %>
    <%= f.select :room_module_id, options_from_collection_for_select(RoomModule.all, :id, :name) %>
  </div>
  <div class="input-field column-right">

    <%= f.label :quantity do %>
      <%= icon_tag "users" %>
      <span> Anzahl Plätze </span>
    <% end %>
    <%= f.text_field :quantity %>

    <%= link_to_remove_association f do %>
      <div class="btn-delete">
        <%= icon_tag "trash-delete-remove" %>
      </div>
    <% end %>

  </div>
</div>
