<% if @meetings.empty? %>
  <em class="nav-menu-item">
    Es gibt keine zukünftigen Treffen an denen du teilnimmst ..
  </em>
<% end %>
<% @meetings.each do |meeting| %>
  <%= link_to [meeting.graetzl, meeting], class: 'nav-menu-item' do %>
    <% if meeting.starts_at_date %>
      <div class="calendarSheet">
        <div class="day"><%= meeting.starts_at_date.day %></div>
        <div class="month"><%= I18n.localize(meeting.starts_at_date, format:'%b') %></div>
      </div>
    <% else %>
      <%= icon_tag "calendar-2" %>
    <% end %>
    <span><%= meeting.name %></span>
  <% end %>
<% end %>
