<% @room_offers.each do |room| %>
  <%= link_to room, class: 'nav-menu-item' do %>
    <%= image_tag cover_url(room, :thumb), class: 'img-square' %>
    <span><%= room.slogan %></span>
  <% end %>
<% end %>
<% @room_demands.each do |room| %>
  <%= link_to room, class: 'nav-menu-item' do %>
    <%= avatar_image room, size: :thumb, class: 'img-square' %>
    <span><%= room.slogan %></span>
  <% end %>
<% end %>
