<% @tool_offers.each do |tool_offer| %>
  <%= link_to tool_offer, class: 'nav-menu-item' do %>
    <%= image_tag cover_url(tool_offer, :thumb), class: 'img-square' %>
    <span><%= tool_offer.title %></span>
  <% end %>
<% end %>
<% @tool_demands.each do |tool| %>
  <%= link_to tool, class: 'nav-menu-item' do %>
    <%= avatar_image tool.user, size: :thumb, class: 'img-square' %>
    <span><%= tool.slogan %></span>
  <% end %>
<% end %>
