<div class="jBoxHidden" id="jBoxBookRoom">

  <%= form_tag new_room_rental_path, method: :get do %>
  <%= hidden_field_tag :room_offer_id, room_offer.id %>

    <div class="hl-subtext">
      <h1>Deine Raumbuchungsanfrage</h1>
      <p>
        Welches Paket möchtest du anfragen?
      </p>
    </div>

    <div class="choosePackage">

      <div class="cardBox">
        <div class="input-radio">
          <%= radio_button_tag "room_package", "package1", true %>
          <%= label_tag "room_package_package1", "Das hier ist der Titel vom ersten Preispaket" %>
        </div>
        <div class="hour-block">
          <div class="hours">
            <pie class="pie-hour"></pie>
            <small class="costname">9 € / Stunde</small>
          </div>
          <div class="hours">
            <pie class="pie-day"></pie>
            <small class="costname">120 € / Tag</small>
          </div>
        </div>
      </div>

      <div class="cardBox">
        <div class="input-radio">
          <%= radio_button_tag "room_package", "package2" %>
          <%= label_tag "room_package_package2", "Und wenn der Nutzer noch ein Paket definiert, z.b. dieses hier" %>
        </div>
        <div class="hour-block">
          <div class="hours">
            <pie class="pie-hour"></pie>
            <small class="costname">12 € / Stunde</small>
          </div>
        </div>
      </div>

    </div>

    <%= submit_tag 'Weiter zur Buchungsanfrage', class: 'btn-primary' %>

  <% end %>
</div>
