<%= form_tag [:calculate_price, @room_offer], remote: true, method: :get, class: 'request-price-form',
    data: { hours_url: available_hours_room_offer_url(@room_offer) } do %>
  <div class="input-field">
    <%= label_tag :rent_date do %>
      <%= icon_tag "calendar-2" %>
    <% end %>
    <%= text_field_tag :rent_date, nil, class: 'rent-date', placeholder: 'Mietdatum auswählen',
        data: { days: @room_offer.available_days } %>
  </div>

  <div class="input-select disabled">
    <%= label_tag :hour_from do %>
      <%= icon_tag "time-clock" %>
    <% end %>
    <%= select_tag :hour_from,
        options_for_select(room_rental_default_hours_from),
        include_blank: 'Check-in', disabled: true, class: 'hour-input hour-from' %>
  </div>

  <div class="input-select disabled">
    <%= label_tag :hour_to do %>
      <%= icon_tag "time-clock" %>
    <% end %>
    <%= select_tag :hour_to,
        options_for_select(room_rental_default_hours_to),
        include_blank: 'Check-out', disabled: true, class: 'hour-input hour-to' %>
  </div>
<% end %>

<div id="rental-price-container">

  <div class="rental-information">
    <h3>So funktionierts</h3>
    <ol>
      <li>Sende eine Buchungsanfrage und hinterlege die Miete.</li>
      <li>Vor der tatsächlichen Buchung, kannst du Details mit dem Vermieter abstimmen.</li>
      <li>Nur wenn Mieter und Vermieter zustimmen, kommt es zur fixen Buchung.</li>
    </ol>
  </div>

  <%= button_tag "Wähle zuerst dein Mietdatum", class: "btn-primary -disabled", disabled: true %>
</div>
