<% if @room_rental.room_rental_slots.present? %>
  <h3 class="sidebar">Deine Auswahl</h3>

  <ul class="pricing-summary">
    <li>
      <div class="cost"><%= number_to_currency(@room_rental.basic_price, unit: "€") %></div>
      <div class="costname"><%= @room_rental.total_hours %> Stunden x <%= number_to_currency(@room_rental.hourly_price, unit: "€") %></div>
    </li>

    <% if @room_rental.discount > 0 %>
      <li>
        <div class="cost"> <%= number_to_currency(-@room_rental.discount, unit: "€") %></div>
        <div class="costname"><%= @room_offer.room_rental_price.eight_hour_discount %>% Rabatt ab 8h</div>
      </li>
    <% end %>

    <li>
      <div class="cost"><%= number_to_currency(@room_rental.tax, unit: "€") %></div>
      <div class="costname">20% MwSt.</div>
    </li>

    <li class="sum">
      <div class="cost"><%= number_to_currency(@room_rental.total_price, unit: "€") %></div>
      <div class="costname">Gesamtpreis</div>
    </li>
  </ul>

  <% if @room_rental.owner != current_user %>
    <%= link_to "Weiter zur Buchung", new_room_rental_path(room_offer_id: @room_offer.id,
        rent_date: params[:rent_date], hour_from: params[:hour_from], hour_to: params[:hour_to]),
        class: "btn-primary" %>
  <% else %>
    <div class="btn-primary tooltip-trigger" title="Du kannst deinen eigenen Raumteiler nicht buchen">Weiter zur Buchung</div>
  <% end %>

<% else %>

  <div class="rental-information">
    <h3>Mietdauer wählen</h3>
    <ol>
      <li>Bitte wähle eine gültige Mietdauer innerhalb der verfügbaren Uhrzeiten aus.</li>
      <li>Die Mindestmietdauer beträgt <%= @room_offer&.room_rental_price&.minimum_rental_hours || 1 %> Stunden</li>
    </ol>
  </div>

  <%= button_tag "Wähle zuerst deine Mietdauer", class: "btn-primary -disabled", disabled: true %>

<% end %>
