<aside class="sideBar">

  <div class="sideBarbox contact">
    <%= link_to content_tag(:h3, @room_offer.graetzl.name, class: 'sideflag -L'), @room_offer.graetzl %>

    <div class="iconlist">

      <%= link_to @room_offer.user, class: 'user-wrp', rel: 'nofollow' do %>
        <%= avatar_image_with_tooltip @room_offer.user, size: :thumb, class: 'img-round show-badge' %>
        <span class="name"><%= @room_offer.user.username %></span>
      <% end %>

      <% if @room_offer.using_address? %>
        <div class="address icontxt">
          <%= icon_tag "map-location" %>
          <%= @room_offer.address_street %><br>
          <%= "#{@room_offer.address_zip} #{@room_offer.address_city}" %><br>
        </div>
      <% end %>

      <% if @room_offer.rented_area.present? %>
        <div class="rented-area icontxt">
          <%= icon_tag "resize-maximize" %>
          <%= "%g" % (@room_offer.rented_area) %> m² zu vermieten<br>
        </div>
      <% end %>

      <% if @room_offer.wants_collaboration? %>
        <div class="collaboration icontxt">
          <%= icon_tag "info-announcement" %>
          Auch an Kooperationen interessiert.
        </div>
      <% end %>

      <div class="created icontxt">
        <%= icon_tag "pencil" %>
        Erstellt / Aktualisiert:<br><%= I18n.localize(@room_offer.updated_at, format:'%d. %b %Y') %>
      </div>

      <% if user_signed_in? && current_user == @room_offer.user %>


        <% if @room_offer.boosted? %>
          <div class="btn-group">
            <%= link_to 'Raumteiler Boost ist aktiv', room_boosters_user_path,
              class: 'btn-primary -small' %>
          </div>
        <% elsif @room_offer.enabled? && current_region.use_room_booster? %>
          <div class="btn-group">
            <%= link_to 'Raumteiler Boost starten', room_boosters_user_path,
              class: 'btn-primary -small'  %>
          </div>
        <% end %>

        <div class="btn-group">
          <%= link_to 'Bearbeiten', edit_room_offer_path(@room_offer),
            class: 'btn-secondary -mint -small'  %>
        </div>
        <% if @room_offer.room_rental_price.present? %>
          <div class="btn-group">
            <%= link_to 'Verfügbarkeitskalender', rental_timetable_room_offer_path(@room_offer),
            class: 'btn-secondary -mint -small'  %>
          </div>
        <% end %>
        <div class="btn-group">
          <%= link_to "javascript:", data: { jq_dropdown: "#room-state-update-dropdown" }, class: "btn-secondary -mint -small -state-#{@room_offer.status}" do %>
            Status: <span><%= t("activerecord.attributes.room_offer.statuses.#{@room_offer.status}") %></span>
          <% end %>
        </div>
        <div id="room-state-update-dropdown" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container">
          <div class="jq-dropdown-panel">
            <%= link_to 'Aktiv', [:update_status, @room_offer, status: "enabled"], method: :patch %>
            <%= link_to 'Inaktiv', [:update_status, @room_offer, status: "disabled"], method: :patch %>
            <%= link_to 'Voll / Warteliste aktivieren', [:update_status, @room_offer, status: "occupied"], method: :patch %>
            <%= link_to 'Löschen', room_offer_path(@room_offer), data: { confirm: 'Bist du dir sicher?' }, method: :delete %>
          </div>
        </div>
      <% end %>
    </div>

    <% if @room_offer.address_coordinates.present? %>
      <%= address_map(@room_offer) %>
    <% end %>

  </div>

  <% if @room_offer.rental_enabled? && @room_offer.enabled? %>
    <div class="sticky-btns -no-sticky">
      <%= messenger_button(@room_offer&.user, class: 'btn-primary -mint', label: @room_offer.class.name) %>
      <%= toggle_favorite_icon(@room_offer, class: 'btn-secondary -mint') if current_user %>
    </div>
    <div class="sticky-btns -only-sticky">
      <%= link_to 'javascript:', class: 'btn-primary btn-avatar btn-book' do %>
        <%= image_tag 'svg/icon-kringel-kurzzeitmiete.svg', class: 'icon' %>
        <span>Kurzzeitmiete anfragen</span>
      <% end %>
      <%= toggle_favorite_icon(@room_offer, class: 'btn-secondary -mint') if current_user %>
    </div>
  <% else %>
    <div class="sticky-btns">
      <%= messenger_button(@room_offer&.user, class: 'btn-primary -mint', label: @room_offer.class.name) %>
      <%= toggle_favorite_icon(@room_offer, class: 'btn-secondary -mint') if current_user %>
    </div>
  <% end %>

  <!-- ONLINE BOOKING -->
  <div id="sticky-overlay-bg"></div>
  <% if @room_offer.rental_enabled? && @room_offer.enabled? %>
    <div class="sideBarbox -top" id="booking-box">

      <%= button_tag '', class: 'close-ico -hidden' do %><%= icon_tag "cross" %><% end %>
      
      <div class="headline-slots">
        <%= icon_tag "slots" %>
        <h3 class="sidebar">Kurzzeitmiete</h3>
      </div>

      <div class="pricingForm">
          <div class="package-pricing">
            <ul>
              <li>
                <%= icon_tag "label-tag" %>
                <div class="costname">
                  <%= @room_offer.room_rental_price.price_per_hour.to_i %> € / Stunde
                </div>
              </li>
              <% if @room_offer.room_rental_price.eight_hour_discount.to_i > 0 %>
              <li>
                <%= icon_tag "label-tag" %>
                <div class="costname">
                  <%= @room_offer.room_rental_price.daily_price.to_i %> € / Tag (8h)<br>
                  <small class="discount"><%= @room_offer.room_rental_price.eight_hour_discount %>% Rabatt</small>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div id="rental-form-container">
          <%= render 'room_offers/show/rental_form' %>
        </div>

    </div>
  <% end %>

  <!-- OTHER PRICING -->
  <% if @room_offer.room_offer_prices.present? %>
    <div class="sideBarbox -pricing">
      <h3 class="sidebar -pakete">Raumteiler Pakete</h3>
      <div class="iconlist">
        <div class="pricing icontxt">
          <ul class="pricing-list">
            <% @room_offer.room_offer_prices.order(:amount).each do |price| %>
              <li>
                <% if price.amount %><div class="cost"><%= price.amount ? "%g €" % price.amount : '' %></div><% end %>
                <div class="costname"><%= price.name %></div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <% if @room_offer.occupied? %>

    <div class="sideBarbox waiting-list">
      <h3 class='sideflag -L'>Warteliste <%= icon_tag "coffee" %></h3>

      <% if @room_offer.waiting_users.present? %>
      <ul>
        <% @room_offer.waiting_users.each do |user| %>
          <li class="waiting-list-user">
            <%= link_to user do %>
              <%= avatar_image user, size: :thumb, class: 'img-round' %>
            <% end %>
            <% if current_user == user || current_user == @room_offer.user %>
              <%= link_to [:remove_from_waitlist, @room_offer, user: user], method: :post, class: 'close-ico' do %>
                <%= icon_tag "cross" %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% else %>
        <div class="wait-list-wrapper">
          <p>Noch niemand auf der Warteliste..</p>
        </div>
      <% end %>

      <div class="wait-list-wrapper">
        <% if user_signed_in? && current_user != @room_offer.user %>
          <% if !@room_offer.waiting_users.include?(current_user) %>
            <%= link_to [:toggle_waitlist, @room_offer], method: :post, class: 'btn-icon -mint' do %>
              <span>
                <%= avatar_image current_user, size: :thumb, class: 'avatar img-round' %>
                Auf die Warteliste
              </span>
            <% end %>
          <% end %>
        <% elsif !user_signed_in? %>
          <%= link_to new_user_session_path(redirect: request.original_url), class: 'btn-icon -mint' do %>
            <span><%= image_tag 'fallbacks/user_avatar.png', class: 'img-round' %> Auf die Warteliste</span>
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>

  <% if @room_offer.location %>
    <aside class="location">
      <%= render @room_offer.location %>
    </aside>
  <% end %>

</aside>
