<% content_for(:above_title, "Hey #{@going_to.user.first_name}") %>
<% content_for(:title, "„#{@going_to.meeting.name.truncate(45)}“ findet morgen statt.") %>
<!-- --------------- BLOCK HEADLINE --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
   <tr>
     <td style="height:30px"> </td>
   </tr>
   <tr>
     <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
       <h4 style="text-align:left; color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic;">
         <% if @going_to.attendee? %>
            Du nimmst teil
         <% else %>
            Treffen:
         <% end %>
       </h4>
     </td>
   </tr>
   <tr>
     <td style="padding-left:9px; padding-right:9px;">
       <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td>
             <span></span>
           </td>
         </tr>
       </table>
     </td>
   </tr>
 </table>

 <!-- --------------- ITEM NEW REQUEST --------------- -->
 <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td class="mcnTextContent" style="padding-left:18px; padding-right:18px; width:300px;">
        <%= link_to graetzl_meeting_url(@going_to.meeting.graetzl, @going_to.meeting), target: "_blank" do %>
          <%= cover_photo_image(@going_to.meeting, size: :small, style: "width:100%; padding-bottom:10px; padding-top:10px;", class: "mcnImage") %>
        <% end %>
      </td>
      <td class="mcnTextContent" style="padding-left:18px; padding-right:18px; width:300px;">
        <h3><%= link_to @going_to.meeting.name.truncate(45), graetzl_meeting_url(@going_to.meeting.graetzl, @going_to.meeting), style: "color:#ec776a;" %></h3>
        <p>
          <strong><%= @going_to.display_starts_at_date %></strong>
        </p>
        <p>
          <% if @going_to.meeting.address_description.present? %>
            <%= @going_to.meeting.address_description %><br>
          <% end %>
          <% if @going_to.meeting.address_street.present? %>
            <%= @going_to.meeting.address_street %><br>
          <% end %>
          <% if @going_to.meeting.address_zip.present? && @going_to.meeting.address_city.present? %>
            <%= @going_to.meeting.address_zip %> <%= @going_to.meeting.address_city %>
          <% end %>
        </p>
      </td>
    </tr>

    <tr>
      <td style="padding-bottom:9px;"></td>
    </tr>

    <tr>
      <td colspan="2">
        <!-- BUTTON -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="min-width:100%;">
          <tbody class="mcnButtonBlockOuter">
            <tr>
              <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px; vertical-align:top;" valign="top" align="right" class="mcnButtonBlockInner">
                <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-top-left-radius: 4px;border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;background-color: #69A8A7;">
                  <tbody>
                    <tr>
                      <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial; font-size: 16px; padding: 10px;">
                        <%= link_to "Zum Treffen", graetzl_meeting_url(@going_to.meeting.graetzl, @going_to.meeting), class: "mcnButton", title: "Button", target: "_blank", style: "font-weight: normal;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;" %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- /BUTTON -->
      </td>
    </tr>

  </tbody>
</table>

<% if @going_to.attendee? && @going_to.meeting.good_morning_date? %>
  <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
    <tr>
      <td valign="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px;">
        PS: Wenn du kannst, lege bitte 5 € in den RaumBooster Hut, den die Gastgeber*innen beim Treffen aufstellen – als Dankeschön für die Organisation. 
        Die 5 € sind also nicht für den Host, sondern durch die neue Aktion wirken alle mit, Leerstand mit lokalen Macher*innen zu aktivieren und Räume zu halten. <%= link_to 'Alle Infos zum RaumBooster', 'https://www.imgraetzl.at/raumbooster', target:'_blank', style: "color:#ec776a;" %>.
      </td>
    </tr>
  </table>
<% end %>