<div class="cardbox-wrp" data-behavior="masonry-card">
  <div class="paperCard -cord1RT -illuteaser -location">
    <div class="wrp">
      <div class="user">
        <% if current_user %>
          <%= avatar_image current_user, size: :thumb, class: 'avatar img-round' %>
          <span><%= current_user.username %></span>
        <% else %>
          <picture>
            <source srcset="<%= image_path('fallbacks/user_avatar.webp') %>" type="image/webp" />
            <%= image_tag('fallbacks/user_avatar.png', loading: 'lazy', class: 'img-round') %>
          </picture>
          <span>Dein Name</span>
        <% end %>
      </div>
      <h3>Du hast Lust ein "Good Morning & After Work Date" Co-Gastgeber*in in deinem Bezirk zu sein.</h3>
      <%= link_to 'Mehr Infos & Anmeldung', 'https://blog.imgraetzl.at/allgemein/imgraetzl-freut-sich-auf-neue-gastgeberinnen-fuer-die-good-morning-dates-in-2023/', class: 'btn-primary', target: '_blank' %>
    </div>
    <div class="card"></div> 
  </div>
</div>
