<div class="filter-stream">

  <!-- for mobile we use a select menu -->
  <div class="input-select">
    <label for="filter">
      <%= icon_tag "funnel-filter" %>
      <span>Hilfe Themen</span>
    </label>
    <select id="filter"><!-- generate links from desktop view via JS --></select>
  </div>
  <!-- END mobile select menu -->

  <%= active_link_to info_path, class: "iconfilter" do %>
    <%= icon_tag "lightbulb" %>
    <div class="txt">imGrätzl<br>Services</div>
  <% end %>

  <%= active_link_to info_gruppen_path, class: "iconfilter -coopshare" do %>
    <%= icon_tag "coop-share" %>
    <div class="txt">Gruppen</div>
  <% end %>

  <%= active_link_to info_anbieter_und_locations_path, class: "iconfilter" do %>
    <%= icon_tag "location" %>
    <div class="txt">Anbieter <br/>& Locations</div>
  <% end %>

  <%= active_link_to info_raumteiler_path, class: "iconfilter" do %>
    <%= icon_tag "raumteiler" %>
    <div class="txt">Raum<br/>teiler</div>
  <% end %>

  <%= active_link_to info_events_und_workshops_path, class: "iconfilter" do %>
    <%= icon_tag "calendar-2" %>
    <div class="txt">Events & <br/>Workshops</div>
  <% end %>

  <%= active_link_to info_infos_zum_graetzlzuckerl_path, class: "iconfilter" do %>
    <%= icon_tag "shopping-bag" %>
    <div class="txt">Zuckerl <br/>& Angebote</div>
  <% end %>

  <!--
  <%= active_link_to info_fragen_und_antworten_path, class: "iconfilter" do %>
    <%= icon_tag "question-mark" %>
    <div class="txt">Fragen & <br/>Antworten</div>
  <% end %>
  -->

</div>
