<article class="container">
  <div class="txt">
    <h2>Raumteiler</h2>
    <h3>Gewerbeflächen teilen - Kosten teilen.</h3>
    <p>
      Der Raumteiler ist eine Art WG-Partnersuche für Gewerbeflächen und verbindet Raumsuchende
      und Raumhabende in Raumpartnerschaften. Es geht darum Räume und Kosten zu teilen
      und darum neue Gemeinschaften zu bilden. Der Raumteiler ist auch ein Werkzeug, um Leerstand zu aktivieren.
    </p>
    <% if current_region %>
      <p class="link">
        <%= link_to 'Mehr Infos', info_raumteiler_path, :class => 'btn-primary -grey -inlineflex' %>
        <%= link_to 'Zu den Raumteilern', region_rooms_path, :class => 'btn-primary -mint -inlineflex' %>
      </p>
    <% end %>
  </div>
  <div class="aside -img -illu">
    <% if current_region %>
      <%= link_to(image_tag('info/imGraetzl-Features-Raumteiler.png', loading: 'lazy'), region_rooms_path) %>
    <% else %>
      <%= image_tag('info/imGraetzl-Features-Raumteiler.png', loading: 'lazy') %>
    <% end %>
  </div>
</article>



<article class="container">
  <div class="txt">
    <h2>Crowdfunding</h2>
    <h3>Starte eine Crowdfunding Kampagne mitten in einer lokalen Community, um dein Vorhaben in die Umsetzung zu bringen.</h3>
    <p>
      Die Crowdfunding Kampagne macht dein Vorhaben sichtbar, du kannst Geld, Zeit- & Sachspenden aufrufen,
      aber auch Räumlichkeiten, wenn du diese zur Realisierung deiner Vorhaben benötigst.
      Alle Vorhaben, von denen außerdem noch andere Menschen profitieren, bekommen auf ihre Kampagne einen extra Sichtbarkeitsboost.
    </p>
    <% if current_region %>
      <p class="link">
        <%= link_to 'Mehr Infos', info_crowdfunding_path, :class => 'btn-primary -grey -inlineflex' %>
        <%= link_to 'Zum Crowdfunding', region_crowd_campaigns_path, :class => 'btn-primary -mint -inlineflex' %>
      </p>
    <% end %>
  </div>
  <div class="aside -img -illu">
    <% if current_region %>
      <%= link_to(image_tag('info/imGraetzl-Features-Crowdfunding.png', loading: 'lazy'), region_crowd_campaigns_path) %>
    <% else %>
    <%= image_tag('info/imGraetzl-Features-Crowdfunding.png', loading: 'lazy') %>
    <% end %>
  </div>
</article>



<article class="container">
  <div class="txt">
    <h2>Veranstaltungen, Workshops & Kurse</h2>
    <h3>Mach deine Veranstaltungen in der Umgebung bekannt!</h3>
    <p>
      Veröffentliche kostenlos deine Veranstaltungen, Treffen, Kurse, Workshops,
      gerne auch deine online Events. Diese werden nicht nur auf WeLocally in deiner Region bzw. Stadt angezeigt,
      sondern auch in den Newsletter aufgenommen und per Mail verteilt.
    </p>
    <% if current_region %>
      <p class="link">
        <%= link_to 'Mehr Infos', info_events_und_workshops_path, :class => 'btn-primary -grey -inlineflex' %>
        <%= link_to 'Zu den Events', region_meetings_path, :class => 'btn-primary -mint -inlineflex' %>
      </p>
    <% end %>
  </div>
  <div class="aside -img -illu">
    <% if current_region %>
      <%= link_to(image_tag('info/imGraetzl-Features-Events.png', loading: 'lazy'), region_meetings_path) %>
    <% else %>
      <%= image_tag('info/imGraetzl-Features-Events.png', loading: 'lazy') %>
    <% end %>
  </div>
</article>




<article class="container">
  <div class="txt">
    <h2>Das virtuelle Schaufenster</h2>
    <h3>Für mehr Sichtbarkeit in deiner Region oder Stadt!</h3>
    <p>
      Alle Macher*innen bekommen ein kostenloses virtuelles Schaufenster zur Verfügung gestellt.
      Das ist eine interaktive Seite, die ganz einfach eingerichtet werden kann.
      Damit wird sichtbar, was du in deiner Umgebung organisierst und anbietest.
      Es geht auch andersrum: Falls du gerade ein spezielles Angebot benötigst,
      kannst du in dem Anbieter*innen Bereich ein kostenloses Gesuch veröffentlichen.
    </p>
    <% if current_region %>
      <p class="link">
        <%= link_to 'Mehr Infos', info_anbieter_und_locations_path, :class => 'btn-primary -grey -inlineflex' %>
        <%= link_to 'Zu den AnbieterInnen', region_locations_path, :class => 'btn-primary -mint -inlineflex' %>
      </p>
    <% end %>
  </div>
  <div class="aside -img -illu">
    <% if current_region %>
      <%= link_to(image_tag('info/imGraetzl-Features-Locationpage.png', loading: 'lazy'), region_locations_path) %>
    <% else %>
      <%= image_tag('info/imGraetzl-Features-Locationpage.png', loading: 'lazy') %>
    <% end %>
  </div>
</article>




<article class="container">
  <div class="txt">
    <h2>Coop & Share Marktplatz</h2>
    <h3>Vernetze dich mit Gleichgesinnten für noch mehr Rückenwind.</h3>
    <p>
      Finde Kooperationspartner*innen für dein Vorhaben. Docke dich an Gruppen und Teams zur
      gegenseitigen Unterstützung an, oder verbinde dich mit Mentor*innen.
      Suche Mitgestalter*innen für deine Initiative, Idee oder Verein.
      Oder schließe dich mit Tauschpartner*innen für Tauschgeschäfte zusammen.
    </p>
    <% if current_region %>
      <p class="link">
        <%= link_to 'Mehr Infos', info_coop_share_path, :class => 'btn-primary -grey -inlineflex' %>
        <%= link_to 'Zum Marktplatz', region_coop_demands_path, :class => 'btn-primary -mint -inlineflex' %>
      </p>
    <% end %>
  </div>
  <div class="aside -img -illu">
    <% if current_region %>
      <%= link_to(image_tag('info/imGraetzl-Features-Gruppen.png', loading: 'lazy'), region_coop_demands_path) %>
    <% else %>
      <%= image_tag('info/imGraetzl-Features-Gruppen.png', loading: 'lazy') %>
    <% end %>
  </div>
</article>





<% if current_region && !current_region&.use_energieteiler? %>

  <article class="container">
    <div class="txt">
      <h2>Geräteteiler</h2>
      <h3>Arbeitsequipment leihen & Geräte am Standort nutzen</h3>
      <p>
        Du kannst über den Geräteteiler Geräte vermieten und mieten oder auch den Zugang zur Ausstattung
        an deinem Arbeitsstandort ermöglichen. Wenn dein Wunschgerät noch nicht ausleihbar ist,
        dann starte ein Geräteteilergesuch. Ein schöner Nebeneffekt, wenn Arbeitsequipment mehrfach genutzt wird,
        schon das die Ressourcen, weil sich nicht jeder die Geräte selber kaufen muss.
      </p>
      <% if current_region %>
        <p class="link">
          <%= link_to 'Mehr Infos', info_toolteiler_path, :class => 'btn-primary -grey -inlineflex' %>
          <%= link_to 'Zu den Geräteteilern', region_tools_path, :class => 'btn-primary -mint -inlineflex' %>
        </p>
      <% end %>
    </div>
    <div class="aside -img -illu">
      <% if current_region %>
      <%= link_to(image_tag('info/imGraetzl-Features-Toolteiler.png', loading: 'lazy'), region_groups_path) %>
      <% else %>
      <%= image_tag('info/imGraetzl-Features-Toolteiler.png', loading: 'lazy') %>
      <% end %>
    </div>
  </article>

<% else %>
  
  <article class="container">
    <div class="txt">
      <h2>Energieteiler</h2>
      <h3>Du möchtest mehr darüber erfahren, wie du Energie selber produzieren und teilen kannst?</h3>
      <p>
        Trage dich in deinem Bezirk zu dem Themengebiet ein, das dich interessiert, nimm an den Treffen teil oder vernetze dich direkt im Energieteiler mit anderen Interessierten, Expert*innen, Anbieter*innen und Anlaufstellen.
      </p>
      <% if current_region %>
        <p class="link">
          <%= link_to 'Zum Energieteiler', energie_teiler_path, :class => 'btn-primary -mint -inlineflex' %>
        </p>
      <% end %>
    </div>
    <div class="aside -img -illu">
      <% if current_region %>
      <%= link_to(image_tag('info/imGraetzl-Features-Energieteiler.png', loading: 'lazy'), energie_teiler_path) %>
      <% else %>
      <%= image_tag('info/imGraetzl-Features-Energieteiler.png', loading: 'lazy') %>
      <% end %>
    </div>
  </article>

<% end %>







<article class="container">
  <div class="txt">
    <h2>Das Zuckerl</h2>
    <h3>Einen Monat lang die volle Aufmerksamkeit auf dein Angebot gerichtet.</h3>
    <p>
      Mit einem Grätzlzuckerl kannst du günstig & zielgerichtet Werbung für dein spezielles Angebot in
      deiner Gemeinde bzw. Bezirk schalten. Ein Zuckerl läuft immer für einen Monat.
      Wenn es in der ganzen Region bzw. Stadt und in allen Newslettern aufscheinen soll, dann geht das auch.
    </p>
    <% if current_region %>
      <p class="link">
        <%= link_to 'Mehr Infos', info_zuckerl_path, :class => 'btn-primary -grey -inlineflex' %>
        <%= link_to 'Zu den Zuckerln', region_zuckerls_path, :class => 'btn-primary -mint -inlineflex' %>
      </p>
    <% end %>
  </div>
  <div class="aside -img -illu">
    <% if current_region %>
      <%= link_to(image_tag('info/imGraetzl-Features-Graetzlzuckerl.png', loading: 'lazy'), region_zuckerls_path) %>
    <% else %>
      <%= image_tag('info/imGraetzl-Features-Graetzlzuckerl.png', loading: 'lazy') %>
    <% end %>
  </div>
</article>



<% if current_region && current_region.use_subscription? %>
  <article class="container">
    <div class="txt">
      <h2><%= t("region.#{current_region.id}.domain_short") %> Fördermitgliedschaft</h2>
      <h3><%= t("region.#{current_region.id}.info.subscription.subline") %></h3>
      <p>
        <%= t("region.#{current_region.id}.info.subscription.description") %>
      </p>
      <p class="link">
        <%= link_to 'Zur Fördermitgliedschaft', subscription_plans_path, :class => 'btn-primary -mint -inlineflex' %>
      </p>
    </div>
    <div class="aside -img -illu">
      <%= link_to(image_tag('info/cardbox-abo-wow.png', loading: 'lazy'), subscription_plans_path) %>
    </div>
  </article>
<% end %>
