<div class="navigation-bar-wrp">
  <div class="navigation-bar overthrow -info">

    <%= active_link_to info_path, class: "iconfilter" do %>
      <%= icon_tag "lightbulb" %>
      <div class="txt">Services<br/>Übersicht</div>
    <% end %>

    <%= active_link_to info_events_und_workshops_path, class: "iconfilter" do %>
      <%= icon_tag "calendar-2" %>
      <div class="txt">Events &<br/>Workshops</div>
    <% end %>

    <%= active_link_to info_anbieter_und_locations_path, class: "iconfilter" do %>
      <%= icon_tag "location" %>
      <div class="txt">Anbieter &<br/>MacherInnen</div>
    <% end %>

    <%= active_link_to info_coop_share_path, class: "iconfilter" do %>
      <%= icon_tag "coop-and-share" %>
      <div class="txt">Markt<br/>platz</div>
    <% end %>

    <%= active_link_to info_raumteiler_path, class: "iconfilter" do %>
      <%= icon_tag "raumteiler" %>
      <div class="txt">Raum<br/>teiler</div>
    <% end %>

    <%= active_link_to info_toolteiler_path, class: "iconfilter" do %>
      <%= icon_tag "tacker" %>
      <div class="txt">Tool<br/>teiler</div>
    <% end %>

    <%= active_link_to info_zuckerl_path, class: "iconfilter" do %>
      <%= icon_tag "shopping-bag" %>
      <div class="txt">Zuckerl &<br/>Angebote</div>
    <% end %>

  </div>
</div>
