<div class="filter-stream">

  <!-- for mobile we use a select menu -->
  <div class="input-select">
    <label for="filter">
      <%= icon_tag "funnel-filter" %>
      <span>Stöbern in <%= current_region %> nach ...</span>
    </label>
    <select id="filter">
      <option>Auswählen</option>
      <!-- generate links from desktop view via JS -->
    </select>
  </div>
  <!-- END mobile select menu -->

  <%= active_link_to region_rooms_path, class: "iconfilter" do %>
    <%= icon_tag "raumteiler" %>
    <div class="txt">Raum<br/>teiler</div>
  <% end %>

  <%= active_link_to region_tool_offers_path, class: "iconfilter" do %>
    <%= icon_tag "tacker" %>
    <div class="txt">Tool<br/>teiler</div>
  <% end %>

  <%= active_link_to region_coop_demands_path, class: "iconfilter -coopshare" do %>
    <%= icon_tag "coop-share" %>
    <div class="txt">Coop & Share <br/>Marktplatz</div>
  <% end %>

  <%= active_link_to region_locations_path, class: "iconfilter" do %>
    <%= icon_tag "location" %>
    <div class="txt">Anbieter & <br/>Locations</div>
  <% end %>

  <%= active_link_to region_meetings_path, class: "iconfilter" do %>
    <%= icon_tag "calendar-2" %>
    <div class="txt">Events & <br/>Workshops</div>
  <% end %>

  <%= active_link_to region_zuckerls_path, class: "iconfilter" do %>
    <%= icon_tag "shopping-bag" %>
    <div class="txt">Zuckerl & <br/>Angebote</div>
  <% end %>

</div>
