<% meta(
    title: t('.title'),
    robots: 'index, follow',
  )
%>

<section class="agb">

  <div class="hl-subtext">
    <h1>Allgemeine <span>Geschäftsbedingungen</span> imGrätzl.at / WeLocally.at</h1>
    <p>Stand: 16.05.2022</p>
  </div>

  <div class="block-txt">

    <p>
      Mit deiner Nutzung von WeLocally.at und der lokalen Ausprägung imGrätzl.at in Wien, erklärst du dich mit unseren „Allgemeinen Geschäftsbedingungen“ (AGB) einverstanden. Betrieben wird WeLocally.at und seine lokalen Ausprägungen von dem Social Business morgenjungs GmbH, Lassallestraße 13/38 in 1020 Wien.
      <br><br>
      Die digitale Plattform WeLocally bietet Services an, um die lokale digitale Sichtbarkeit seiner Nutzer*innen zu steigern, neue Formen der Zusammenarbeit und das Teilen von Ressourcen zu fördern und die Umsetzung von Ideen und Projekten zu erleichtern.
      <br><br>
      WeLocally ist in verschiedenen Städten, Gemeinden bzw. Regionen verfügbar, in Wien ist WeLocally beispielsweise unter dem Namen imGrätzl.at bekannt. Um die Lesbarkeit zu erleichtern, wird im folgenden Text „WeLocally“ oder „WeLocally.at“ als Sammelbegriff für alle lokalen Ausprägungen (z.B. imGrätzl.at.) verwendet. Wir verwenden außerdem den Begriff Plattformbetreiber, Plattformbetreiber ist die morgenjungs GmbH. Bitte beachte auch unsere <%= link_to 'Datenschutzhinweise', info_datenschutz_path %>.
    </p>

    <ol class="list-formal">

      <li>
        <h3>Allgemeines</h3>
        <ol>
          <li>Die aktuelle Fassung der AGB kannst du jederzeit unter <%= link_to info_agb_url, info_agb_path %> einsehen.</li>
          <li>Um in Zukunft auf Veränderungen reagieren zu können, behalten wir uns das Recht vor, diese AGB jederzeit zu ändern. Sollte das notwendig sein, informieren wir dich über eine Mitteilung auf der Plattform und per E-Mail. Solltest du mit den Änderungen nicht einverstanden sein, bitten wir dich deinen Account zu löschen und WeLocally und seine lokale Ausprägungen nicht mehr zu nutzen.</li>
        </ol>
      </li>


      <li>
        <h3>Deine Verantwortung</h3>
        <ol>
          <li>Du bist allein und ausschließlich verantwortlich für die durch dich hochgeladenen Inhalte. Du stellst WeLocally von allen diesbezüglichen Ansprüchen Dritter frei.</li>
          <li>Du akzeptierst, dass WeLocally unter Umständen persönlich unerwünschte Inhalte enthalten kann.</li>
          <li>Bitte beachte bei der Nutzung von WeLocally alle Gesetze und Vorschriften der Republik Österreich. Das Einstellen rechtswidriger oder nach diesen Nutzungsbedingungen unzulässiger Inhalte ist verboten.</li>
          <li>Du bist allein und ausschließlich verantwortlich für Informationen, die du auf WeLocally teilst. Stelle bitte keine Kontaktinformationen oder andere private Daten in öffentlich einsehbaren Bereichen ein, wenn du nicht möchtest, dass diese von anderen Nutzern gesehen werden.</li>
          <li>Bitte halte dein Passwort geheim und gib es nicht an Dritte weiter.</li>
          <li>Andere Mitglieder von WeLocally dürfen von dir nicht absichtlich getäuscht oder belästigt werden.</li>
          <li>Bitte achte auch auf unsere <%= link_to 'Datenschutzhinweise', info_datenschutz_path %>.</li>
        </ol>
      </li>


      <li>
        <h3>Zulässige und unzulässige Inhalte</h3>
        <ol>
          <li>WeLocally soll für alle NutzerInnen ein sicherer und freundlicher Ort der Begegnung sein. Deshalb ist es verboten andere NutzerInnen zu beschimpfen, obszöne oder sonstige belästigende Äußerungen zu tätigen oder pornographisches und anderes jugendgefährdendes Material einzustellen oder zu verbreiten. Ebenso ist das Einstellen und die Verbreitung rassistischer, sexistischer sowie gewaltverherrlichender Inhalte verboten. Dies gilt auch für Inhalte, die zu terroristischen Aktivitäten oder sonstigen kriminellen und rechtswidrigen Handlungen motivieren sollen oder solche Handlungen auf irgendeine Art und Weise befürworten.
          </li>
          <li>WeLocally ist keine Dating-Plattform. Auch Inhalte, die eindeutig auf sexuelle Kontakte abzielen, sind nicht erlaubt.</li>
          <li>Lokale Wirtschaftstreibende, Kunst- & Kulturschaffende, Macher*innen, Vereine sind ein wichtiger Bestandteil von WeLocally. Deshalb sind alle Inhalte, die zu realen Begegnungen beitragen, ausdrücklich erwünscht. Du kannst z.B. ein Treffen für einen Workshop, ein Konzert, eine Lesung oder einen Markt, an dem du ausstellst, anlegen. Bitte schreibe aber immer dazu, ob das Treffen kostenpflichtig ist. Wir behalten uns das Recht vor, Inhalte zu löschen, die unserer Meinung nach thematisch nicht zu WeLocally passen oder gegen diese AGB verstoßen. Die Bewerbung eines Angebotes, Dienstleistung oder Produkt sind nur im Bereich „Zuckerl“ erwünscht und zur Darstellung deines Angebotes auf deiner AnbieterInnen/Locationseite zulässig.</li>
        </ol>
      </li>


      <li>
        <h3>Urheber- und sonstige Schutzrechte</h3>
        <ol>
          <li>Bitte stelle keine Inhalte (z.B. Bilde oder Texte) ein, die die Rechte Dritter verletzen. Achte insbesondere auf die Einhaltung des Urheber- und Eigentumsrechts.</li>
          <li>Abgesehen von den durch dich und andere Mitglieder erstellten Inhalten (User generated Content), stehen alle sonstigen Elemente der Plattform (z.B. Texte, Darstellungen, Benutzeroberflächen, Marken, Logos, Designs, Bilder) im Eigentum von WeLocally oder der jeweiligen Inhaber und sind rechtlich geschützt.</li>
          <li>Kein Bereich der Plattform (inklusive aller Inhalte) darf ohne schriftliche Erlaubnis von WeLocally auf anderen Servern, Websites oder auf sonstigen zur Veröffentlichung und Verbreitung gedachten Medien dargestellt und/oder reproduziert werden.</li>
          <li>Der/die NutzerIn räumt der morgenjungs GmbH als Betreiberin der Plattform WeLocally ein räumlich und zeitlich uneingeschränktes, kostenloses Nutzungsrecht an den von ihm/ihr veröffentlichten Inhalten, insbesondere an den Treffen, den Raumteilern, den Geräteteilern und der veröffentlichten Inhalten auf den Locationseiten, im Crowdfunding Bereich und im Coop & Share Bereich ein. Das Nutzungsrecht erfasst insbesondere das Recht, die Inhalte im Internet öffentlich zugänglich zu machen, an PartnerInnen zur Veröffentlichung zwecks Steigerung der Sichtbarkeit weiterzugeben, sowie in Printmedien abzudrucken und zu veröffentlichen.</li>
        </ol>
      </li>


      <li>
        <h3>Sonstige Rechte von WeLocally.at</h3>
        <ol>
          <li>Die Plattform darf dir Nachrichten senden, um dich über technische Weiterentwicklungen z.B. Diensteänderungen der Plattform zu informieren.</li>
          <li>WeLocally und seine lokalen Ausprägung behält sich das Recht vor, von dir erstellte Inhalte zu ändern oder zu löschen. Insbesondere dann, wenn sie gegen gesetzliche Bestimmungen oder gegen diese AGB verstoßen oder bei WeLocallyoder Dritten zu Schäden führen. Bei Verstößen gegen die AGBs behalten wir uns das Recht vor, dein Profil zu sperren oder zu löschen.</li>
          <li>WeLocally ist berechtigt, Hinweise auf rechtswidrige Aktivitäten einzelner Nutzer sowie entsprechend verdächtige Inhalte unter Wahrung des Datenschutzrechts bei den zuständigen Behörden anzuzeigen.</li>
          <li>WeLocally darf von dir eingestellte Inhalte (wie z.B. Fotos) in öffentlich einsehbaren Bereichen der Plattform anzeigen.</li>
        </ol>
      </li>


      <li>
        <h3>Angebote von lokalen Partnern / Zuckerl</h3>
        <ol>
          <li>WeLocally arbeitet mit lokalen Wirtschaftstreibenden nd Vereinen oder Initiativen aus den Grätzln (nachfolgend „Partner“) zusammen. Im Zuckerl und eventuell in anderen Bereichen von WeLocally stellen dir die lokalen Partner Angebote vor, die du direkt von diesen Partnern beziehen kannst.</li>
          <li>WeLocally hat das Recht Angebote von Partnern an dich weiterzuleiten, und sich dabei auf Nutzungsinformationen (z.B. dein Heimatgrätzl) und Daten aus deinem Profil zu stützen.</li>
          <li>WeLocally ist lediglich Vermittler. Beanspruchst du Angebote von lokalen Partnern, gehst du direkt eine vertragliche Bindung mit dem jeweiligen Partner ein, z.B. WeLocally ist dabei nicht Vertragspartei.</li>
          <li>WeLocally übernimmt für die Angebote der lokalen Partner keinerlei Haftung.</li>
        </ol>
      </li>


      <li>
        <h3>Raumteiler</h3>
        <ol>
          <li>WeLocally stellt im Bereich „Raumteiler“ registrierten Nutzer*innen die Möglichkeit zur Verfügung kostenlos Raumteiler Anzeigen zu veröffentlichen, um ihren Raum bzw. Raumpartner*innen Suche sichtbarer zu machen.</li>
          <li>Im Raumteiler treffen sich Vermieter (Raumhabende) und Mieter (Raumsuchende).</li>
          <li>WeLocally richtet sich mit dem Service “Raumteiler“ speziell an Einzel-& Kleinstunternehmen, Kleingewerbetreibende und Vereine.</li>
          <li>Es geht bei dem Service „Raumteiler“ um die Bildung von Raumpartnerschaften. Speziell geht es um geteilte Gewerbeflächen und Räume zum Arbeiten bzw. Mehrfachnutzungen von Gewerbeflächen. Es geht beim Raumteiler nicht um “Wohnen”. WeLocally behält sich das Recht vor Einträge (Artikel) im Raumteiler zu löschen, wenn diese die nicht zur inhaltlichen Ausrichtung des Raumteilers passen.</li>
          <li>Vermieter, die im Raumteiler eine Anzeige veröffentlichen, tragen die Verantwortung dafür, dass sie alle rechtlichen Bestimmungen einhalten und berechtigt sind ihre Räume zu vermieten.</li>
          <li>WeLocally unterstützt Vermieter und Mieter (Raumsuchende) bei der Abwicklung des Mietgeschäfts mit einem optionalen Buchungssystem und stellt einen Service zur Zahlungsabwicklung bereit, dafür verrechnet WeLocally eine Service Fee bei jedem Mietvorgang (darin inkludiert sind die Kosten des Payment Providers). Das eigentliche Mietgeschäft kommt immer zwischen Vermieter*innen und Raumsuchenden (Mieter) zustande.</li>
          <li>Wenn das optionale Raumteiler Buchungstool vom Nutzer verwendet wird, dann schickt der Raumsuchende dem Vermieter über WeLocally eine Mietanfrage für den Mietgegenstand. Er trägt dabei die Anzahl Miettage ein, danach berechnet sich die Gesamtmietsumme. Der Vermieter bekommt von WeLocally eine Benachrichtigung über den Mietwunsch. Nimmt der Vermieter die Mietanfrage über das Tool an, wird die Zahlung vom Mieter (Raumsuchenden) im Tool getätigt und diese Zahlung wird von WeLocally treuhänderisch empfangen. Der Raum wird persönlich vom Vermieter an den Mieter (Raumsuchenden) übergeben. Sobald der Raum an den Vermieter am Ende der Mietdauer zurückgegangen ist, bestätigt der Vermieter die Rückstellung des Raumes im Raumteiler. Wenn dieser Schritt erfolgt ist, wird die Zahlung von WeLocally an den Vermieter freigegeben.</li>
          <li>WeLocally übernimmt keine Verantwortung für die Zahlung außerhalb der ursprünglich vereinbarten Mietdauer, es sei denn, es wird eine Verlängerung der Mietdauer über WeLocally vorgenommen und weitere Servicegebühren berechnet.</li>
          <li>Eventuelle Kautionszahlungen werden zwischen Mieter (Raumsuchende) und Vermieter direkt und nicht über das Buchungstools abgewickelt.</li>
          <li>
            Wenn der reibungslosen Ablauf des Mietvorganges behindert wird, wie z.B. kurzfristige Kündigung des Mieters (Raumsuchenden) durch den Vermieter oder dass der Vermieter dem Mieter (Raumsuchenden) die gewünschte Nutzung nicht gestattet oder dass der Vermieter den Zustand und die Merkmale des Artikels nicht korrekt beschreibt, dann behalten wir uns folgende Schritte vor:
            <ol>
              <li>Den Mieter ggf. zu entschädigen. Die Entschädigung ist auf den Betrag beschränkt, der im Raumteiler Buchhungstool gezahlt wurde, abzüglich der Payment Sercice Provider Kosten;</li>
              <li>Für den Mieter (Raumsuchende) einen alternativen Raum für die Restdauer zu finden und zu buchen; oder nach unserem Ermessen einen geeigneten Ersatz in Abstimmung mit dem Mieter zu finden.</li>
              <li>Mieter (Raumsuchende) können über den Dienst getätigte Buchungen vor Mietbeginn stornieren. In diesem Fall erstattet WeLocally dem Mieter (Raumsuchenden) den gezahlten Betrag innerhalb eines angemessenen Zeitraums nach der Stornierung zurück, abzüglich der Payment Service Provider Kosten.</li>
              <li>Das Angebot des Vermieters kann Stornierungsbedingungen für den Fall, dass ein Mieter (Raumsuchende) eine Miete nach Bestätigung, jedoch noch vor der Nutzung stornieren will, enthalten. Falls keine Stornierungsbedingungen genannt sind, liegt es in der alleinigen Verantwortung des Vermieters und des Mieters (Raumsuchende), die Stornierung zu vereinbaren und WeLocally zu kontaktieren, falls Unterstützung nötig ist. Die Erstattung der Mietgebühr an den Mieter (Raumsuchenden) durch WeLocally hängt von den geltenden Stornierungsbedingungen für das Angebot oder von der Vereinbarung zwischen Mieter (Raumsuchende)und Vermieter nach Absprache mit WeLocally. Unabhängig von den Stornierungsbedingungen des Vermieters wird die WeLocally -Gebühr dem Mieter (Raumsuchende) nicht zurückerstattet.</li>
              <li>Raumsuchende, die wiederholt (3x) Buchungen vor Mietbeginn stornieren, müssen wir vom Raumteiler Service ausschließen, da der Buchungs-Service nur funktioniert, wenn alle Teilnehmer*innen nach fair play Prinzip handeln und verbindlich buchen. Das Raumteiler Buchungs-Tool ist kein Raum Reservierungstool.</li>
              <li>Mieter (Raumsuchende) können einen Artikel stornieren, bevor der Vermieter die Miete bestätigt. WeLocally storniert in diesem Fall jede Vorautorisierung für die gewählte Zahlungsmethode des Mieters (Raumsuchenden).</li>
            </ol>
          </li>
          <li>WeLocally stellt lediglich das Raumteiler Buchungstool zur Verfügung. WeLocally garantiert nicht für die Erbringung der Leistungen und übernimmt keine Verantwortung für die Nutzer. Der Vermieter und Mieter ist verpflichtet für einen geeigneten Versicherungsschutz zu sorgen. Eventuelle Mietverträge oder Nutzungsverträge sind eine Angelegenheit zwischen Mieter und Vermieter.</li>
          <li>Alle Nutzer sind dafür verantwortlich, diese AGB einzuhalten und stets zusammenzuarbeiten. Vermieter müssen Räume korrekt und wahrheitsgemäß beschreiben und aktuelle Fotos beifügen. Nutzer sollten durchgehend kooperieren und kommunizieren. Räume dürfen nur bestimmungsgemäß verwendet werden und müssen achtsam behandelt werden. Die Räume müssen nach den Bedingungen des Vermieters zurückgegeben werden und im Originalzustand sein.</li>
          <li>Eine Einkommenssteuerpflicht kann bestehen; der Vermieter ist für die korrekte Versteuerung seiner Mieteinnahmen verantwortlich.</li>
          <li>Der Mieter (Raumsuchende) bestätigt alle für die Nutzung des geliehenen Raumes notwendigen Ausbildungen (z.B. für eine Werkstatt), Bedienungs- und Sicherheitsvorkehrungen zu kennen und einzuhalten.</li>
          <li>Abgesehen von den Bedingungen zur Zahlungsabwicklung im Raumteiler Buchungstool ist WeLocally nicht verpflichtet eine Gewährleistung für die Räume im Raumteiler zu bieten.</li>
        </ol>
      </li>


      <li>
        <h3>Zahlungsverarbeitung</h3>
        <ol>
          <li>Die Zahlungsverarbeitung für die WeLocally -Dienste erfolgt über Stripe und unterliegt dem Stripe Connected Account Agreement, zu dem auch die Stripe Terms of Service gehören (gemeinsam „Stripe Services Agreement“). Durch Bestätigung dieser Bedingungen oder weitere Nutzung von WeLocally erklären sich die registrierten WeLocally bereit, das Stripe Services Agreement in der aktuell gültigen Fassung verbindlich anzuerkennen.</li>
          <li>Damit WeLocally Zahlungen über Stripe aktivieren kann, erklären sich die registrierten NutzerInnen bereit, WeLocally richtige und vollständige Angaben über sich selbst und ihr Unternehmen zu machen. Zudem ermächtigen die NutzerInnen WeLocally, diese Angaben sowie von Stripe bereitgestellte Transaktionsdaten zu Nutzung der Zahlungsdienste zu teilen.</li>
        </ol>
      </li>


      <li>
        <h3>Geräteteiler</h3>
        <ol>
          <li>WeLocally stellt im Bereich „Geräteteiler“ registrierten NutzerInnen die Möglichkeit zur Verfügung Beiträge zu veröffentlichen, um ihr Arbeitsequipment und Ausstattung (Artikel) am Arbeitsstandort an andere registrierte NutzerInnen gegen eine Gebühr zu verleihen. WeLocally richtet sich mit dem Service „Geräteteiler“ speziell an Kleingewerbetreibende, Vereine, EPU und lokale AkteurInnen. Es geht bei dem Service „Geräteteiler“ hauptsächlich um die Vermittlung von Arbeitsequipment und nicht um das Verleihen von Freizeit- & Alltagsgegenstände. WeLocally behält sich das Recht vor Einträge (Artikel) im Geräteteiler zu löschen, wenn diese die nicht zur inhaltlichen Richtung des Geräteteilers passen.</li>
          <li>WeLocally unterstützt Leiher und Verleiher bei der Abwicklung des Mietgeschäfts mit einem Buchungssystem und stellt Services zur Zahlungsabwicklung bereit, dafür verrechnet WeLocally eine Service Fee bei jedem Mietvorgang. Das eigentliche Mietgeschäft kommt zwischen Verleiher und Leiher zustande.</li>
          <li>Der Mieter schickt dem Vermieter über WeLocally eine Mietanfrage für einen Mietgegenstand. Er trägt dabei die Anzahl Miettage ein, danach berechnet sich die Gesamtmietsumme. Der Vermieter bekommt von WeLocally eine Benachrichtigung über den Mietwunsch. Nimmt der Vermieter die Mietanfrage an, wird die Zahlung getätigt und von WeLocally treuhänderisch empfangen. Der Artikel wird persönlich vom Vermieter an den Mieter übergeben. Sobald der Artikel an den Vermieter am Ende der Mietdauer zurückgegangen ist, bestätigt der Vermieter den Empfang des Artikels im Geräteteiler. Wenn dieser Schritt erfolgt ist, wird die Zahlung von WeLocally an den Vermieter freigegeben.</li>
          <li>WeLocally übernimmt keine Verantwortung für die Zahlung außerhalb der ursprünglich vereinbarten Mietdauer, es sei denn, es wird eine Verlängerung der Mietdauer über WeLocally vorgenommen und weitere Servicegebühren berechnet.</li>
          <li>Der Geräteteiler Service ist ausgerichtet auf die persönliche Übergabe der Mietgegenstände. WeLocally bietet deshalb keinerlei Versicherungsschutz für den Versand durch einen externen Anbieter. Wird der Artikel außerhalb der Mietdauer zurückgegeben, behalten wir uns vor, dem Mieter einen bis zu zwei Mal (2x) höheren Mietpreis zu berechnen.</li>
          <li>
Wenn ein Materialproblem auftaucht oder ein anderes Problem den reibungslosen Ablauf des Mietvorgangs behindert, wie z.B. kurzfristige Kündigung der Miete durch den Vermieter oder dass der Vermieter dem Mieter die gewünschte Nutzung nicht gestattet oder dass der Vermieter den Zustand und die Merkmale des Artikels nicht korrekt beschreibt, dann behalten wir uns folgende Schritte vor:
            <ol>
              <li>Den Mieter zu entschädigen. Die Entschädigung ist auf den Betrag beschränkt, der durch die Dienste gezahlt wurde;</li>
              <li>Für den Mieter einen alternativen Artikel für die Restdauer zu finden und zu buchen; oder nach unserem Ermessen einen geeigneten Ersatz zu finden.</li>
              <li>Mieter können über den Dienst getätigte Buchungen stornieren. In diesem Fall erstattet WeLocally dem Mieter den gezahlten Betrag innerhalb eines angemessenen Zeitraums nach der Stornierung zurück.</li>
              <li>Mieter können einen Artikel stornieren, bevor der Vermieter die Miete bestätigt. WeLocally storniert in diesem Fall jede Vorautorisierung für die gewählte Zahlungsmethode des Mieters. Das Angebot des Vermieters kann Stornierungsbedingungen für den Fall, dass ein Mieter eine Miete nach Bestätigung, jedoch noch vor der Nutzung stornieren will, enthalten. Falls keine Stornierungsbedingungen genannt sind, liegt es in der alleinigen Verantwortung des Vermieters und des Mieters, die Stornierung zu vereinbaren und WeLocally zu kontaktieren, falls Unterstützung nötig ist. Die Erstattung der Mietgebühr an den Mieter durch WeLocally hängt von den geltenden Stornierungsbedingungen für das Angebot oder von der Vereinbarung zwischen Mieter und Vermieter nach Absprache mit WeLocally ab. Unabhängig von den Stornierungsbedingungen des Vermieters wird die WeLocally Gebühr dem Mieter nicht zurückerstattet.</li>
            </ol>
          </li>
          <li>Alle Rückgabebestimmungen sind endgültig und für die NutzerInnen des WeLocally Geräteteiler-Services verbindlich. WeLocally vermittelt lediglich zwischen Mieter und Vermieter. Wir garantieren keine Erbringung der Leistungen und übernehmen keine Verantwortung für die Nutzer. Alle Nutzer sind dafür verantwortlich, diese AGB einzuhalten und stets zusammenzuarbeiten. Dazu gehören folgende Verfahren für Versicherung und Mietverlängerung. Vermieter müssen Artikel korrekt und wahrheitsgemäß beschreiben und möglichst aktuelle Fotos beifügen. Nutzer sollten durchgehend kooperieren und kommunizieren. Artikel dürfen nur bestimmungsgemäß verwendet werden und müssen achtsam behandelt werden. Alle Artikel müssen nach den Bedingungen des Vermieters zurückgegeben werden und im Originalzustand sein. Eine Einkommenssteuerpflicht kann bestehen; der Vermieter ist für die korrekte Versteuerung seiner Mieteinnahmen verantwortlich.</li>
          <li>Der Mieter bestätigt alle für die Nutzung des geliehenen Gerätes notwendigen Ausbildungen (z.B. Motorsägenschein), Bedienungs- und Sicherheitsvorkehrungen zu kennen und einzuhalten und ist dafür verantwortlich, sich diese vor Inbetriebnahme des geliehenen Gegenstandes zur Kenntnis zubringen bzw. abzuschließen. Der Mieter verpflichtet sich vorgeschriebene Schutzbekleidung, wie Brillen, Schuhe usw. zu tragen.</li>
          <li>Abgesehen von den Bedingungen der Rückgabeerklärung ist WeLocally nicht verpflichtet, eine Gewährleistung für die Artikel im Geräteteiler zu bieten.</li>
        </ol>
      </li>



      <li>
        <h3>Crowdfunding - Allgemein</h3>

        <p>Wir, die morgenjungs GmbH, betreiben mit WeLocally eine Plattform mit lokalen Ausprägungen z.B. mit imGrätzl in Wien, über welche natürliche und juristische Personen sowie rechtsfähige Personenmehrheiten ihre Vorhaben der Öffentlichkeit vorstellen und sie durch Dritte finanzieren lassen können, sowie selbst unterstützen können. Es handelt sich dabei um ein sogenanntes “Reward und Donation based Crowdfunding Modell”.</p>

        <ol>
          <li>
            <strong class="subtitle">Wichtige Voraussetzung, um eine Kampagne zu starten:</strong>
            <ol>
              <li>Kampagnenstarter*in ist mind. 18 Jahre alt</li>
              <li>Kapagnenstarter*in sind entweder in Wien, in einer der angedockten WeLocally Gemeinden in Kärnten oder in einer der aktivierten Gemeinden im Mühlviertler Kernland beheimatet. Start*innen, die an anderen Orten beheimatet sind, können Kampagnen anlegen, wenn sie uns kontaktieren und nachvollziehbar darstellen können, warum ihr Vorhaben einen relevanten Bezug zum jeweiligen Ort oder Region hat.</li>
              <li>Kampagnenstarter*innen sind bereit ihre Identität und Kontodaten durch unseren Zahlungsanbieter “Stripe” prüfen zu lassen.</li>
              <li>Kampagnenstarter*innen treten mit Vor- und Nachname und einem persönlichen Foto auf der Kampagnenseite auf und agieren ehrlich und transparent.</li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Folgendes wird nicht akzeptiert:</strong>
            <ol>
              <li>Finanzierung von Ausbildung, Studium, privaten Veranstaltungen (z.B. Hochzeiten) oder Reisen, Privateigentum und Privat-Erlebnisse, Wahlkampf, sowie Parteifinanzierung.</li>
              <li>Dankeschöns, die Lose, Unternehmensanteile oder Kapitalanlagen bzw. Kredite sind.</li>
              <li>Finanzierung von Waffen und/oder vom Gesetzgeber als illegal eingestufte Drogen.</li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Allgemeine Vertragsgrundlagen zwischen Starter*innen und Unterstützer*innen, ihre Pflichten und ihre Rechte.</strong>
            <ol>
              <li>Ausdrücklich weisen wir darauf hin, dass bei jeder Form der Unterstützung beim Crowdfunding auf WeLocally ein eigener Vertrag zwischen Starter*in und Unterstützer*in abgeschlossen wird. WeLocally ist dabei kein Vertragspartner.</li>
              <li>Starter*in haben die Verpflichtung zur Belehrung über gesetzliche Widerrufsrechte oder sonstige Verbraucherinformationen: Bei Abschluss der einzelnen Verträge über Unterstützungen (bezogen z.B. auf den Erwerb der Dankeschöns) muss allein der/die Starter*in des Projekts über Verbraucher*innen-Informationen wie etwaige Widerrufsrechte, deren gesetzliche Voraussetzungen und Ausübung informieren. Wir, die Plattform, sind insoweit rechtlich Dritter.</li>
              <li>Wir, die Plattformbetreiber, stellen den Projektstarter*innen lediglich eine Möglichkeit zur Ankündigung und Präsentation ihrer Projekte und Vorhaben zur Verfügung, sowie eine digitale Infrastruktur, damit Nutzer*innen das Vorhaben, in welcher Form auch immer, unterstützen können. Wir, als Plattformbetreiber überprüfen die Projekte (Kampagnen) nicht auf inhaltliche Plausibilität, Richtigkeit, Wirtschaftlichkeit, Background und rechtliche Zulässigkeit. Die zivil- und strafrechtliche Verantwortung für die Inhalte auf den jeweiligen Kampagnenseiten liegt ausschließlich bei dem/der Projektstarter*in.</li>
              <li>
                Vertragsverhältnisse Starter*in zu den Unterstützer*innen, Vertragsschluss zwischen Starter*in und Unterstützer*in, Dankeschöns, vertragliches (Teil-)Rücktrittsrecht für Starter*in bis zum Ende der Kampagnen Phase.
                <ol>
                  <li>Kampagnen Starter*innen können Unterstützer*innen im Rahmen der Vertragsanbahnung für die Gabe von Unterstützungen Gegenleistungen in Form von Dankeschöns in Aussicht stellen.</li>
                  <li>Der/die Unterstützer*in gibt durch eine Unterstützung ein für die Dauer der Kampagnenlaufzeit gültiges Angebot gegenüber dem/der Starter*in auf Abschluss eines Vertragsverhältnisses ab (z.B. Schenkung oder Spende bei Unterstützung ohne Dankeschön oder auch ein Kauf- oder Dienstvertrag), WeLocally ist bei diesem Vertragsverhältnis nicht beteiligt.  Als Unterstützer*in wählst du ein gewünschtes Dankeschön eines Projekts aus oder entscheidest dich für einen individuellen Geldbetrag. Im nächsten Schritt öffnet sich eine Übersicht, auf der du noch einmal prüfst, ob die von dir eingegebenen Daten richtig sind. Hier hast du Gelegenheit deine Auswahl noch einmal zu verändern. Mit Betätigung des Buttons “Weiter zur Zahlung” erhältst du die Möglichkeit, die gewünschte Bezahlmethode auszuwählen und ggf. deine Adressdaten anzugeben. Der von dir angegebene Betrag wird dem Projekt nach Betätigung des Buttons "Jetzt zahlungspflichtig unterstützen" verbindlich zugewiesen. Nach Abgabe deines Angebots erhältst du eine E-Mail mit den Vertragsdaten. Dies stellt keine Annahme, sondern eine bloße Eingangsbestätigung dar. Im Falle des Projekterfolgs erhältst du weitere Informations E-Mail aus unserem System, die dich über den Projektstatus informieren. </li>
                  <li>Neben Geldbeträgen können Zeitspenden, Sachspenden oder Raumspenden von den Starter*innen in ihren Kampagnen aufgerufen werden. Diese Spenden werden nicht als geldwerte Unterstützung innerhalb der Kampagne bewertet und haben keinen Einfluss auf das Erreichen oder Nichterreichen des Minimalbetrags und des Kampagnenziels. </li>
                  <li>Bis zum Projekterfolg kann ein*e Starter*in das eigene Projekt jederzeit vollständig abbrechen (Voll-Rücktritt) oder einzelne Unterstützungen zurückweisen (Teil-Rücktritt). Im Falle des Voll-Rücktritts werden keine Unterstützungen und im Falle des Teil-Rücktritts, die jeweils hiervon betroffene(n) Unterstützung(en) nicht eingezogen. Erfolgt kein Voll-Rücktritt oder Teil-Rücktritt der Starter*innen nehmen sie das Angebot der jeweiligen Unterstützer*innen ab Start des Projekts unter der aufschiebenden Bedingung des Projekterfolgs an.</li>
                  <li>Die notwendigen Daten für die Erfüllung der geschlossenen Vereinbarungen zwischen Starter*in und Unterstützer*in werden den Starter*innen ab dem Ende einer erfolgreich abgeschlossenen Kampagne übermittelt.</li>
                  <li>Starter*innen sind verpflichtet, Unterstützer*innen bis zur Erfüllung der mit diesen geschlossen Verträgen in angemessenem Umfang offen und transparent zu informieren – auf Fragen der Unterstützer*innen zu antworten und ggf. Probleme oder Verzögerungen zu kommunizieren.</li>
                </ol>
              </li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Befristetes vertragliches Rücktrittsrecht als Unterstützer*in</strong>
            <ol>
              <li>Als Unterstützer*in kannst du deine Unterstützung bis zu 13 Tage nach Projekterfolg stornieren, dies unabhängig von der Frage, ob dir zusätzlich ein gesetzliches Widerrufsrecht (<%= link_to '§ 11 Fern- und Auswärtsgeschäftegesetz', 'https://www.ris.bka.gv.at/eli/bgbl/i/2014/33/P11/NOR40162337', target: '_blank' %>) zusteht. Dieses vertragliche Rücktrittsrecht (nachfolgend "Stornierung") ist gegenüber dem oder der Starter*in zwingend über eine Email an die Plattform zu tätigen. Die Emailadresse ist in der E-Mail deiner Unterstützungsbestätigung zu finden, ebenso auf der Plattform bei der Darstellung deiner Unterstützung.</li>
              <li>Wenn du als Unterstützer*in deine getätigte Unterstützung (Unabhängig von Abs. 1)  eines Projektes bei der Herausgeberin deines Zahlungsmittels (z.B. Kreditkarte) rechtswidrig anfechten oder sonst rechtswidrig über deine Bank zurückbuchen lassen, so wird der Plattformbetreiber dir die dadurch entstehenden Gebühren der Zahlungsdiensteanbieter “Stripe” gesondert in Rechnung stellen.</li>
              <li>Ab 24 Stunden vor Ende der Kampagnenlaufzeit wird deine Stornierung (vgl. Abs. 1) den Starter*innen lediglich im geschlossenen Bereich des Projekts dargestellt und nicht mehr in der öffentlichen Projektdarstellung abgezogen.</li>
              <li>Etwaige sonstige (auch darüber hinausgehende) Rechte der Unterstützer*innen (z.B. Verbraucher*innen-Widerrufsrechte) bleiben von diesem Paragraphen unberührt.</li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Wahl der Bezahlmethode und Durchführung von Unterstützungen auf unserer Plattform</strong>
            <ol>
              <li>Als Unterstützer*in stehen dir auf der jeweiligen Kampagnenseite näher beschriebenen Bezahlmethoden zur Verfügung.</li>
              <li>Für die Abwicklung der Zahlungen hat der Plattformbetreiber den Paymentdienstleister Stripe Technology Europe Ltd, Block 4, Harcourt Centre, Harcourt Road, Dublin 2, Ireland (nachfolgend „Stripe“) eingebunden. Stripe zieht die Unterstützungen nach Projekterfolg ein und hält diese nach Einzug bis zum Auszahlungszeitpunkt auf einem Client Money-Konto nach Maßgabe der durch die mit Stripe und den Starter*innen geschlossenen Zusatzvereinbarung (<%= link_to 'zum Zahlungsanbieter', 'https://stripe.com/at/legal/connect-account#translation', target: '_blank' %>) vor.</li>
              <li>Dein(e) bei der Unterstützung eines Projekts verwendete Kreditkarte oder Bankkonto wird erst belastet, wenn der/die Starter*in die Kampagne erfolgreich abgeschlossen hat. In bestimmten Fällen, die im Zusammenhang mit deinem genutzten Zahlungsmittel stehenden, wird der Paymentdienstleister Stripe jedoch die Abbuchung von deinem angegebenen Zahlungsmittel bei der Unterstützung bereits vor Ablauf der Kampagnenphase anteilig oder auch bis zur vollen Höhe deines Unterstützungsbetrages vormerken z.B. bei Kreditkartenzahlungen.</li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Auszahlung der Unterstützungssumme an die Starter*innen im Falle des Erreichens des Kampagnenziels der Kampagne</strong>
            <ol>
              <li>Wird das Optimalziel vor Ablauf der Kampagne erreicht, so können die Starter*innen bei Erhalt weiterer Unterstützungen eine Überfinanzierung erreichen.</li>
              <li>Wird innerhalb der Kampagnen Phase mindestens das Minimalziel erreicht und sind alle weiteren Voraussetzungen für eine erfolgreich durchgeführte Kampagne eingetreten (z.B. Legitimation durch den Zahlungsdienstleister erfolgreich durchlaufen), so erhalten die Starter*innen frühestens 15 Tage nach Eintritt des Projekterfolgs Zugriff auf den zustehenden Geldbetrag. Die Summe der ursprünglich erlangten Unterstützungen können dabei bereits durch etwaig erklärte Stornierungen, nicht bei den jeweiligen Unterstützer*innen einziehbare Geldbeträge oder Widerrufe der Unterstützer*innen verringert sein.</li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Deine Nebenpflichten als Unterstützer*in</strong>
            <ol>
              <li>Zur Gewährleistung eines ordnungsgemäßen Ablaufs der Nutzung bestehen für dich nachfolgende Pflichten, deren Nichtbefolgung für dich zu Nachteilen – insbesondere zur Kündigung und Geltendmachung von Schadensersatzansprüchen unsererseits oder Dritter – führen kann.</li>
              <li>Du bist verpflichtet: bei erforderlichen Dateneingaben und sonstigen zur Erreichung des Vertragszwecks erforderlichen Abfragen (z.B. im Rahmen der Unterstützung eines Projektes) vollständige und wahrheitsgemäße Angaben zu machen. Es gelten darüber hinaus die allgemeinen Geschäftsbedingungen von WeLocally.</li>
            </ol>
          </li>
        </ol>
      </li>



      <li>
        <h3>Crowdfunding - Für Kampagnen Starter*innen</h3>
        <p>
          Wir gewähren Nutzer*innen das Recht, unsere Plattform gemäß nachfolgender Zusatzbestimmungen zum Einstellen von Crowdfunding Projekten zu nutzen.
          <br><br>
          Für den Start eines Projekts gelten die vorliegenden Nutzungsbedingungen für Starter*innen. Bei Widersprüchen zwischen den Allgemeinen Nutzungsbedingungen und den Bedingungen für Starter*innen gelten vorrangig die Bedingungen für Starter*innen.
        </p>
        <ol>
          <li>
            <strong class="subtitle">Inhaltliche und rechtliche Voraussetzungen für Projekte</strong>
            <ol>
              <li>Die Starter*innen sind darauf hingewiesen, dass im Falle der Unterstützung durch die Nutzer*innen der Plattform mit diesen ein separates und von dem Plattformbetreiber unabhängiges Vertragsverhältnis (z.B. Schenkungs-, Kauf-, Werk- oder Dienstvertrag) entsteht ("Funding-Vertrag").  Die Starter*innen stellen die Beschreibung des Vorhabens/Projekt und das Projekt-Ziel in zeitlicher wie auch inhaltlicher Hinsicht dar und bestimmen zudem den erwünschten Minimalbetrag als auch den Optimalbetrag.</li>
              <li>Die Starter*innen sind eigenverantwortlich verpflichtet, sich vor Start eines Projekts über dessen rechtliche Voraussetzungen umfassend zu informieren (z.B. Widerrufsbelehrung, Impressumspflichten). Sofern die Starter*innen nicht selbst über die erforderlichen Kenntnisse verfügen, sind sie verpflichtet, sich an eine Rechtsberatung oder Steuerberatung zu wenden. Dies gilt auch dann, wenn die Starter*innen Formulierungsbeispiele, Muster oder Hinweise aus den FAQ der Plattform oder Dritter in Anspruch nehmen. Die Plattform leistet keine Rechtsberatung und/oder Steuerberatung.</li>
              <li>Die Starter*innen sind verpflichtet, sämtliche gesetzliche Hinweispflichten – insbesondere zu Verträgen im Fernabsatz und elektronischen Rechtsverkehr – einzuhalten. Dies beinhaltet auch die Einrichtung eines den gesetzlichen Anforderungen entsprechenden Impressums. Die Plattform sieht hierfür eigene Hinweisfelder im Rahmen der Einrichtung der Crowdfunding Kampagne vor.</li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Änderungen nach Projektstart</strong>
            Für die Bearbeitung eines Projekts während der aktiven Kampagnen Phase gilt Folgendes:
            <ol>
              <li>Die nachträgliche Änderung von Projektinhalten (z.B. Titel, Kurz-Projektbeschreibung, Kampagnenziel, Video, Headerbild) ist nicht mehr möglich, sobald die Kampagne freigeschaltet wurde und in den aktiven Zustand wechselt. </li>
              <li>Dankeschöns, die noch nicht angefordert wurden in einer laufenden und aktiven Kampagne, können nachträglich bearbeitet werden. Sobald die Kampagne läuft, können Dankeschöns, die mind. einmal angefordert wurden, nicht mehr bearbeitet und geändert werden. Eine nachträgliche Änderung eines versprochenen Dankeschöns für eine bereits durchgeführte Unterstützung bedarf stets der Zustimmung der Unterstützer*innen. Die Aufforderung zur Zustimmung gegenüber den Unterstützer*innen erfolgt durch Mitteilung durch den oder die Starter*in, verbunden mit der Information über die Änderung. Äußert sich die jeweilige Unterstützer*in nicht, so wird das Angebot zur Unterstützung automatisch seitens des oder der Starter*in abgelehnt und die jeweilige Unterstützung zurücküberwiesen bzw. gar nicht erst eingezogen.</li>
              <li>Die nachträgliche Erhöhung oder Verringerung des Minimalbetrags durch die Starter*in ist nicht möglich und benötigt – unabhängig von den damit verbundenen vertraglichen Folgen – der Zustimmung des Plattformbetreibers und wird nur unter Voraussetzung einer Information seitens des oder der Starter*in an die Unterstützer*innen gewährt, in der die Gründe für die Veränderung des Minimalbetrags transparent dargelegt werden.</li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Kosten</strong>
            <ol>
              <li>Das Anlegen und Vorbereiten von Crowdfunding Projekten auf der Plattform ist kostenfrei.</li>
              <li>Kosten für ein Crowdfunding Kampagne auf der Plattform entstehen erst, wenn die Kampagne mindestens den Minimalbetrag erreicht, die aktive Kampagnen Phase beendet hast und das gesammelte Geld ausgezahlt wird. Die Kosten kommen zustande durch die Transaktionsgebühren für den Zahlungsdienstleister, wir berechnen diese mit 5% (inkl. 20% MwSt). Die Kosten werden von der Auszahlungssumme vor der Auszahlung an der Kampagnenstarter*in abgezogen.</li>
              <li>Der kleinste wählbare Minimalbetrag ist 100€ für eine Kampagne.</li>
              <li>Für etwaige Steuern und sonstige Abgaben, welche auf die erhaltenen Unterstützungsbeträge oder im Rahmen der Leistungserbringung der Starter*innen ggü. den Unterstützer*innen anfallen können, bist du als Starter*in selbst verantwortlich.</li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Verifizierung und Legitimation der Starter*innen - Geldwäschegesetz</strong>
            <ol>
              <li>Die geldwäscherechtlich notwendige Identitäts- und Legitimationsprüfung der Starter*innen wird durch die Zahlungsdiensteanbieter Stripe Technology Europe Ltd. (nachfolgend “Stripe”) übernommen.</li>
              <li>Das genaue Verfahren zur Verifizierung und Legitimation sowie den Status der Verifizierung kannst du jederzeit innerhalb deines Projekts einsehen.</li>
              <li>Eine erfolgreiche Legitimationsprüfung ist Voraussetzung für den Wechsel in die aktive Kampagnen Phase.</li>
              <li>Trotz erfolgreich abgeschlossener Legitimationsprüfung, kann es notwendig sein, noch weitere Informationen und Dokumente für die geldwäscherechtlich notwendige Identitäts- und Legitimationsprüfung seitens Stripe ein- bzw. nachzureichen (z.B. durch erweiterte Anforderungen bei Überschreiten der Fundingsumme in Höhe von € 2.500,-). Über entsprechende angeforderte Daten informieren wir dich via E-Mail sowie über einen Hinweis im geschlossenen Bereich deines Projekts.</li>
              <li>Sollten seitens Stripe Dokumente und Informationen benötigt werden, so verzögert dies ggf. den Einzug deiner dem Projekt zugeordneten Geldbeträge bis zur erfolgreichen Bestätigung durch Stripe. Solange diese Daten nach Erreichen des Projekterfolgs benötigt werden, kann dein Projekt nicht in die Auszahlungsphase gelangen.</li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Ablauf des Crowdfunktion Projektes (Bearbeitungs- und aktive Kampagnen Phase)</strong>
            <ol>
              <li>Die "Bearbeitungsphase" ist eine der aktiven Kampagnen Phase zeitlich vorgelagerter Zeitraum, innerhalb welchem ein Projekt öffentlich erreichbar ist, aber noch nicht finanziert werden kann. Innerhalb der Bearbeitungsphase kannst du als Starter*in das Projekt weiterhin vollständig bearbeiten und Feedback von anderen Besucher*innen zum Projektentwurf einholen.</li>
              <li>Die Plattform behält sich vor, dein Projekt überschlägig auf Einhaltung der Plattform Richtlinien zu prüfen. Eine inhaltliche und/oder rechtliche Kontrolle der Projektbeschreibung der Starter*innen durch die Plattform findet nicht statt. Wir behalten uns jedoch vor, ohne hierzu verpflichtet zu sein, Projektdaten vor Aktivierung der aktiven Kampagnen Phase oder zu einem späteren Zeitpunkt stichprobenartig zu prüfen und zum Schutz der sonstigen Nutzer*innen oder der Rechte Dritter ganz oder in Teilen vorübergehend zu sperren, falls dies aufgrund von inhaltlichen Widersprüchen in der Projektbeschreibung oder Verdacht auf die Verletzung von Rechten Dritter (z.B. Schutzrechtsverletzungen wie Marken- oder Urheberrechte) notwendig erscheint. In diesem Fall werden wir die Starter*innen davon in Kenntnis setzen, auf etwaige Probleme hinweisen und den Starter*innen Gelegenheit zur Konkretisierung, Entfernung oder Richtigstellung solcher Inhalte bieten.</li>
              <li>Starter*innen abgelehnter oder aufgrund Verletzung von Rechten Dritter und/oder wegen Verstoßes gegen die Plattform Richtlinien gesperrter Projekte, haben keinen Anspruch darauf ihre bis dahin gesammelte Unterstützungen ausgezahlt zu bekommen.</li>
              <li>Wir behalten uns vor, das Einstellen von Projekten jederzeit von weiteren zusätzlichen Voraussetzungen abhängig zu machen.</li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Keine Löschung von aktiven oder erfolgreichen Projekten</strong>
            <ol>
              <li>Aktive oder erfolgreiche Projekte können nicht gelöscht werden.</li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Nicht erfolgreich abgeschlossene Projekte können deaktiviert werden</strong>
            <ol>
              <li>Als Starter*in, eines erfolglos beendeten Projekts kannst du die Sichtbarkeit einschränken, so dass dein Projekt nicht mehr von Besucher*innen oder/und von Nutzer*innen aufgerufen werden kann.</li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Verpflichtung zu Projektupdates und Klärung bei Nicht-Leistung von Dankeschöns</strong>
            Du verpflichtest dich uns gegenüber sowie im Sinne eines echten Vertrags zugunsten Dritter (§ 881 ABGB) zugunsten deiner Unterstützer*innen:
            <ol>
              <li>Du wirst gegenüber deinen Unterstützer*innen wahrheitsgemäß und transparent kommunizieren.</li>
              <li>Du veröffentlichst oder versendest an deine Unterstützer*innen in regelmäßigen Abständen Updates zu deinen Projektfortschritten, dies spätestens aber dann, wenn du von der Plattform dazu aufgefordert wirst.</li>
              <li>Soweit es zu Problemen und/oder Verzögerungen im Rahmen der Erfüllung der mit deinen Unterstützer*innen geschlossenen Verträge kommen sollte, so bist du unabhängig von der rechtlichen Bewertung verpflichtet, deine Unterstützer*innen stetig und aktiv hierüber sowie über die zur Problembehebung ergriffenen Maßnahmen zu informieren.</li>
              <li>Bitte beachte, dass es den Unterstützer*innen dennoch und unabhängig vom Inhalt deiner überlassenen Informationen freisteht, dir gegenüber ggf. rechtliche Schritte einzuleiten, wenn sie mit deinen Informationen nicht zufrieden sind und sie in deinem Verhalten (bzw. Unterlassen) einen Vertragsbruch sehen.</li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Rechteeinräumung durch die Starter*innen</strong>
            <ol>
              <li>Bitte lies dir dazu genau den Punkt 4 Urheber- und sonstige Schutzrechte hier unter den allgemeinen Geschäftsbedingungen von WeLocally durch.</li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Vorausabtretung hinsichtlich bestehender Vergütungsansprüche</strong>
            <ol>
              <li>Du trittst als Starter*in anteilig deine Zahlungsansprüche hinsichtlich der Fundingsumme gegenüber der Zahlungsdienstanbieterin bis zur Höhe unserer jeweiligen Ansprüche an uns (z.B. Transaktionsgebühren) ab.</li>
              <li>Die darüber hinausgehende verbleibende Fundingsumme zahlt die Zahlungsdiensteanbieterin, abzgl. etwaiger nicht einziehbaren Geldbeträge, Stornierungen und/oder bereits von Widerrufen betroffener Unterstützungen an dich als Starter*in aus. Nicht einziehbare Geldbeträge entstehen zum Beispiel, wenn die Kreditkarte des oder der jeweiligen Unterstützer*in abgelaufen ist und keine aktualisierten Zahlungsinformationen bereitgestellt werden.</li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Nicht einziehbare Unterstützungen</strong>
            <ol>
              <li>Sollten Zahlungen von Unterstützer*innen nicht eingezogen werden können oder eine getätigte Zahlung bei der Kartenherausgeberin angefochten bzw. über die Bank bis zum Kampagnenende und vor der Auszahlung an dich zurückgeholt werden, so wird dieser Unterstützungsbeitrag von der Gesamtsumme abgezogen. Zuvor bemühen  wir uns seitens der Plattform den Betrag noch einzuholen bei der Unterstützer*in. Du siehst jederzeit in deiner Unterstützer*innenliste, welche Zahlungen davon betroffen sind.</li>
              <li>Findet die Anfechtung einer Kreditkartenbelastung oder Lastschrift nach Kampagnenende und nach der Auszahlung statt, so wird WeLocally zunächst versuchen, diese Angelegenheit einvernehmlich zu regeln und dich ggf. – soweit erforderlich – um die Einreichung weiterer Informationen bitten. Sollte die Anfechtung zu Gunsten der jeweiligen Unterstützer*innen entschieden werden, so werden wir den Unterstützungsbetrag von deinem bei uns hinterlegtem Auszahlungskonto einziehen.</li>
            </ol>
          </li>
          <li>
            <strong class="subtitle">Automatische Löschung von nicht mehr weiter betriebenen Projekten in der Entwurfs- oder Startphase und Starter*innen-Daten</strong>
            <ol>
              <li>Projekte, die sich in der Entwurfsphase befinden und länger als 6 Monate nicht bearbeitet werden, werden gelöscht. Dazu schickt WeLocally eine E-Mail vorab an die Starter*innen, um auf die anstehende Löschung hinzuweisen. Der Löschung kann widersprochen werden, indem wesentliche Inhalte am Projekt von den Starter*innen weiter bearbeitet und abgespeichert werden (Bsp.: Projektbeschreibung oder Projekt-Bilder).</li>
              <li>Legitimationsdaten, die bei zur geldwäscherechtlichen Prüfung verpflichteten Dritten hinterlegt wurden, werden dort entsprechend der jeweils gesetzlich gültigen Aufbewahrungspflichten gespeichert.</li>
              <li>Im Übrigen speichern wir die Adress-, Zahlungs- und Bestelldaten der Unterstützer*innen entsprechend unserer Datenschutzbedingungen.</li>
            </ol>
          </li>
        </ol>
      </li>




      <li>
        <h3>Haftung und Verantwortung von WeLocally</h3>
        <ol>
          <li>Die Inhalte auf WeLocally wurden sorgfältig erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte übernimmt WeLocally keine Gewähr. WeLocally haftet insbesondere nicht für die Verfügbarkeit von auf WeLocally angebotenen Leistungen oder das Zustandekommen oder die vertragsgemäße Erfüllung eines aufgrund einer Kontaktherstellung zwischen einem Nutzer und einem anderen Nutzer zustande gekommenen Vertrages.</li>
          <li>Als Betreiber ist WeLocally für eigene Inhalte auf der Plattform verantwortlich. Allerdings ist WeLocally nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Die Verpflichtung zur Entfernung dieser Inhalte bleibt davon unberührt. Jedoch ist eine diesbezügliche Haftung erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen wird WeLocally diese Inhalte sofort entfernen.</li>
          <li>WeLocally bittet dich, Missbrauchsfälle unverzüglich unter wir@welocally.at zu melden.</li>
          <li>Soweit gesetzlich zulässig, ist jede Haftung von WeLocally ausgeschlossen. Insbesondere ist WeLocally berechtigt, jederzeit den Betrieb der Plattform einzustellen oder einzuschränken. Für die ununterbrochene Verfügbarkeit der Plattform wird von WeLocally keine Garantie übernommen.</li>
          <li>Haftung für Hyperlinks: Auf WeLocally sind Links zu externen Webseiten Dritter zu finden, auf deren Inhalte WeLocally keinen Einfluss hat. Für fremde Inhalte wird von WeLocally keine Gewähr übernommen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der jeweiligen Seiten verantwortlich. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen wird WeLocally derartige Links sofort überprüfen und ggf. entfernen.</li>
        </ol>
      </li>


      <li>
        <h3>Ausfall und Wartungsarbeiten</h3>
        <ol>
          <li>WeLocally hostet die Plattform auf einer der aktuellen Bedürfnissen angemessenen Serverumgebung. Im Hinblick auf Kapazitätsgrenzen, die Sicherheit und Integrität der Server oder zur Durchführung technischer Maßnahmen, behält sich WeLocally das Recht vor, seine Leistung temporär zu beschränken. Bei einem Systemausfall oder einer Serverbeeinträchtigung und hierdurch verursachter fehlerhafter Übermittlung deiner Daten, die weder auf vorsätzliches, noch grob fahrlässiges Verhalten von WeLocally, seinen Mitarbeitern oder Erfüllungsgehilfen beruht, bestehen für dich kein Anspruch auf Schadensersatz.</li>
          <li>Voraussehbare notwendige Betriebsunterbrechungen für vorbeugende Wartungsarbeiten oder technische Änderungen werden dir innerhalb eines angemessenen Zeitraums vor der Betriebsunterbrechung angekündigt.</li>
        </ol>
      </li>


      <li>
        <h3>Datenschutz</h3>
        <ol>
          <li>Es gelten folgenden Datenschutzbestimmungen, die du jederzeit <%= link_to 'hier', info_datenschutz_path %> einsehen kannst.
          </li>
        </ol>
      </li>


      <li>
        <h3>Anwendbares Recht und Gerichtsstand</h3>
        <ol>
          <li>Es gilt das Recht der Republik Österreich unter Ausschluss des UN-Kaufrechts.</li>
          <li>Es wird inländische Gerichtsbarkeit vereinbart. Handelt es sich nicht um ein Verbrauchergeschäft (in welchem Fall § 14 KSchG gilt), ist das am Sitz von WeLocally sachlich zuständige Gericht ausschließlich örtlich zuständig.</li>
          <li>Sollten einzelne Bestimmungen dieser AGBs unwirksam sein oder werden, so wird die Gültigkeit des Vertrags insgesamt hiervon nicht berührt.</li>
        </ol>
      </li>


    </ol>

  </div>

</section>
