<% meta(
    title: t('.title', region: current_region.name),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/balkonsolar.jpg')
  )
%>

<section class="info balkonsolar-page">


  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1>Balkon-Solar Workshops in <%= current_region.name %></h1>
      <%= category_icon('solar', class: 'catimg', width:85, height:85) %>
    </div>
  </div>

  <div class="paperCard -cord1RT -header -top">
    <div class="wrp introwrapper">
      <div class="intro">
        <p><strong>Kosten senken – Strom selber produzieren! Entdecke mit uns die Mini-PV Anlagen für den Balkon!</strong></p>
        <p>
          Du interessierst dich für Balkon-Solar und möchtest wissen, wie es funktioniert? Dann bist du bei unserem Balkonkraftwerk-Workshop genau richtig!
          In zwei bis drei Stunden erzählt uns <strong><%= link_to 'Michael Puttinger', 'https://www.wind-driven.com/location/about', target: 'blank' %></strong> alles über Balkonkraftwerke, deren Vor- und Nachteile und wie du aus deinem Balkonkraftwerk das Maximum an Energie rausholst.
        </p>
      </div>
      <div class="flyer">
        <%= link_to image_tag('info/balkonsolar/balkonsolar_flyer_deckblatt.jpg'), "https://balkonsolar.s3.eu-central-1.amazonaws.com/WeLocally_Balkonsolar_Graz.pdf", target: '_blank' %>
        <%= link_to "Download Infoblatt", "https://balkonsolar.s3.eu-central-1.amazonaws.com/WeLocally_Balkonsolar_Graz.pdf", target: '_blank' %>
      </div>
    </div>
    <div class="card"></div>
  </div>



  <div class="content-wide">
    <div class="inner">
      <div class="hl-subtext">
        <h1>Alle Termine im Überblick</h1>
        <p>Die nächsten Balkonsolar-Workshops in Graz</p>
      </div>
      <%= form_tag meetings_path(per_page: 3, show_going_tos: true, past: true), method: :get, remote: true, class: 'cards-filter' do %>
        <%= hidden_field_tag :category_id, @category.try(:id) %>
      <% end %>
      <div class="card-grid-container">
        <div class="card-grid" data-behavior="meetings-card-container"></div>
        <div class="action-card-container" data-behavior="meetings-action-card-container">
        </div>
        <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide preventInfiniteScroll -mint', data: { disable_with: 'lädt...', behavior: 'meetings-paginate-link' }, rel: 'nofollow' %>
      </div>
    </div>
  </div>



  <div class="content">

    <h3>Mach mit beim Workshop - Danach weisst du...</h3>

     <ul>
        <li>Ob so eine Mini-PV-Anlage etwas für deinen Balkon ist und was es bringt.</li>
        <li>Du weißt, welche Komponenten es braucht, wie die Anbringung und der Betrieb funktioniert.</li>
        <li>Du kannst dir mit dem Wissen eine geeignete Balkon-Solaranlage bestellen/kaufen.</li>
        <li>Du kannst dir dann aber auch eine Anlage günstig selber zusammenstellen und weißt, welche Elemente dafür notwendig sind. Und auch das Thema Stromspeicher & Blackout wird behandelt!</li>
      </ul>

    
  </div>


</section>
