<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('info/header-balkonsolar.jpg')
  )
%>

<section class="info balkonsolar-page">

  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1>Balkon-Solar Workshops in Wien</h1>
      <%= category_icon('solar', class: 'catimg', width:85, height:85) %>
    </div>
  </div>

  <div class="paperCard -cord1RT -header -top">
    <div class="wrp">
      <p>
        <strong>
          Kosten senken – Strom selber produzieren! Entdecke mit uns die Mini-PV Anlagen für den Balkon!
        </strong>
      </p>
      <p>
        Du interessierst dich für Balkon-Solar und möchtest wissen, wie es funktioniert? Dann bist du bei unserem Balkon-Solar Workshop genau richtig, in drei Stunden lernst du von den beiden Experten alles über Balkon-Solar. Danach weißt du:
      </p>
      <ul>
        <li>Ob so eine Mini-PV-Anlage etwas für deinen Balkon ist und was es bringt.</li>
        <li>Du kannst dir mit dem Wissen eine geeignete Balkon-Solaranlage bestellen/kaufen.</li>
        <li>Du weißt, wie die Anbringung und der Betrieb funktioniert.</li>
        <li>Es wird dir alles nötige Know-How rundherum vermittelt, um mit der eigenen Stromerzeugung zu starten.</li>
      </ul>
    </div>
    <div class="card"></div>
  </div>

  <div class="hl-subtext">
    <h1><em>Wähle einen Workshop-Termin</em></h1>
  </div>

  <%= form_tag meetings_path(per_page: 17, show_going_tos: true), method: :get, remote: true, class: 'cards-filter' do %>
    <%= hidden_field_tag :category_id, @category.try(:id) %>
  <% end %>
  <div class="card-grid-container">
    <div class="card-grid" data-behavior="meetings-card-container"></div>
    <div class="action-card-container" data-behavior="meetings-action-card-container">
    </div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide preventInfiniteScroll -mint', data: { disable_with: 'lädt...', behavior: 'meetings-paginate-link' }, rel: 'nofollow' %>
  </div>


  <em><strong>First come, first served: pro Workshop gibt es 20 Plätze.</strong> Bitte tragt euch verbindlich für einen Termin ein, an dem ihr teilnehmen möchtet, ihr bekommt von uns dann eine schriftliche Bestätigung, ob es geklappt hat. Alle anderen kommen auf die Warteliste und werden ebenfalls benachrichtigt. Falls ein Platz frei wird, melden wir uns.</em>



  <div class="content">
    <h3>Nicht nur Theorie, sondern auch viel Praxis</h3>
    <p>
    Es steht eine Balkon-Solar-Anlage zum Erkunden bereit, ebenso wird vor Ort gemeinsam getestet, wie das mit der Modul-Aufhängung am Balkon funktioniert.
    </p>
    <p>
    Für alle, die am Balkon nichts aufhängen dürfen, gibt es außerdem einen Einblick, welche anderen Alternativen (z.B. Solar Tische) es gibt. Die Mini-PV-Anlage könnt ihr euch nach den Workshops im <%= link_to "Toolteiler", region_tools_path %> dann übrigens kostenlos ausleihen, wenn ihr schauen wollt, ob eine Balkon-Solaranlage an eurem Balkon Sinn macht.
    </p>

    <h3>Durch den Workshop führen</h3>
    <p>
    Sebastian Müller von Balkonsolar e.V. aus Freiburg und Rolf Behringer von Solarezukunft e.V. aus Freiburg<br>
    Beide sind in Sachen Balkon-Solar auf vielen Barcamps, Festivals und Maker Faires in Deutschland unterwegs.<br>
    Mirjam Mieschendahl von imGrätzl.at
    </p>
    <div class="persons">
      <div class="person">
        <%= link_to "https://balkon.solar", target: '_blank' do %>
          <%= image_tag('info/balkonsolar/sebastian-mueller.jpg', class: 'img-round') %>
          <h4>Sebastian Müller</h4>
        <% end %>
        <p class="title">Balkonsolar e.V.</p>
      </div>
      <div class="person">
        <%= link_to "https://www.solarezukunft.org", target: '_blank' do %>
          <%= image_tag('info/balkonsolar/rolf-behringer.jpg', class: 'img-round') %>
          <h4>Rolf Behringer</h4>
        <% end %>
        <p class="title">Solarezukunft e.V.</p>
      </div>
      <div class="person">
        <%= link_to "https://www.linkedin.com/in/mmieschendahl/", target: '_blank' do %>
          <%= image_tag('info/organisatorin-mirjam.jpg', class: 'img-round') %>
          <h4>Mirjam Mieschendahl</h4>
        <% end %>
        <p class="title">Gründerin imGrätzl.at</p>
      </div>
    </div>

    <h3>Wo finden die Balkon-Solar Workshops statt</h3>
    <p>
    <strong><%= link_to "Happylab Wien", "https://www.imgraetzl.at/stuwerviertel/locations/happylab-d73ea6b8-a224-4dc4-b3f3-85997d624d46", target: '_blank' %></strong><br>
    Schönngasse 15 - 17<br>
    1020 Wien<br>
    </p>

    <h3>Die Kosten</h3>
    <p>Die Teilnahme an den Workshops ist kostenlos, eine freie Spende für die Raumnutzung wäre schön, ca. 10 €. Wir lassen den Hut rumgehen.</p>

  </div>



  <div class="content-wide">
    <div class="inner">

      <h3>Was uns noch ganz wichtig ist</h3>
      <p>
      Balkon-Solar hilft nicht nur dabei, die eigenen Stromkosten zu senken, sondern ist auch eine großartige Möglichkeit, dass noch viel mehr Menschen aktiv an der Energiewende teilnehmen können, indem sie ihren eigenen Strom am Balkon produzieren. Yeah!
      </p>
      <p>
      Deshalb wünschen wir uns für die ersten drei Balkon-Solar Workshops Teilnehmer*innen, die auch Lust haben Balkon-Solar mit zu verbreiten: z.B. den Nachbarn und Nachbarinnen und im Bekanntenkreis davon berichten, wie es ihnen mit ihrer Anlage ergeht.
      </p>
      <p>
      Ganz toll wäre es, wenn es auch Teilnehmer*innen gibt, die Freude daran haben, mit uns (oder selbstständig) weitere Infoveranstaltungen durchzuführen. imGrätzl hilft dann auch beim Organisieren und Verbreiten. Wir von imGrätzl engagieren uns in dem Feld, weil es in unseren Augen wichtig ist, dass viele Menschen bei der Energiewende mitmachen können. Und: Je mehr Strom aus erneuerbaren Energien kommt, desto besser wird es :)
      </p>
      <p>
      Falls ihr euch anmeldet und dann doch nicht könnt, dann bitte meldet euch unbedingt wieder ab, damit andere nachrücken können.<br>
      Wichtiger Hinweis: Bitte FFP2 Masken mitbringen und während des Workshops aufsetzen.
      </p>
      <h3>Kooperationspartner*innen</h3>
      <div class="patner">
        <%= link_to image_tag('info/balkonsolar/logo-ews.png', class: 'logo'), "https://www.ews-schoenau.de", target: '_blank' %>
        <p>
        Die EWS (Die EWS, das sind die <%= link_to "Elektrizitätswerke Schönau", "https://www.ews-schoenau.de", target: '_blank' %> – eine bürgereigene Genossenschaft) aus Deutschland übernimmt die Reisekosten und die Kosten zur Durchführung der Workshops durch die beiden Experten. Außerdem übernehmen sie die Kosten zur Beschaffung der PV-Anlage, die dann in Wien verbleibt und in Zukunft kostenlos im Toolteiler ausgeliehen werden kann.
        </p>
      </div>
      <div class="patner">
        <%= link_to image_tag('info/balkonsolar/logo-happylab.png', class: 'logo'), "https://www.happylab.at/de_vie/", target: '_blank' %>
        <p>
        <%= link_to "Happylab", "https://www.happylab.at/de_vie/", target: '_blank' %> unterstützt dabei die Workshops mit zu verbreiten und stellt das Happylab zur Verfügung.
        </p>
      </div>
    </div>
  </div>

</section>
