<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/good-morning-dates.jpg')
  )
%>

<section class="info -energieteiler">
  <div class="imgHeader -fullwidth">
    <%= image_tag("info/energieteiler/logo.svg", class: 'header-logo') %>
  </div>
</section>

<section class="energieteiler">

  <div class="hl-subtext">
    <p>
      Du möchtest bei realen Treffen mehr darüber erfahren, wie du Energie selber produzieren und die Energie vielleicht sogar mit anderen teilen kannst? 
      <strong>Trage dich in deinem Bezirk zu dem Themengebiet ein, das dich interessiert</strong> oder vernetze dich hier direkt im Energieteiler mit Expert*innen und Anlaufstellen.
    </p>
  </div>

  <%= form_tag polls_path(per_page: 23, meetings: true, show_going_tos: true), method: :get, remote: true, class: 'cards-filter' do %>
    <%= hidden_field_tag :poll_type, 'Energieteiler' %>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="polls-card-container"></div>
    <div class="action-card-container" data-behavior="polls-action-card-container">
      <%= render 'polls/action_card_energieteiler' %>
    </div>
    <!-- Insert Featured Card -->

    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'polls-paginate-link' }, rel: 'nofollow' %>
  </div>

  <% if @locations.present? %>
    <div class="hl-subtext">
      <h1><em>Energieteiler Anlaufstellen</em></h1>
      <p>
        Expert*innen, Anlaufstellen & Anbieter*innen
      </p>
    </div>

    <div class="cardBoxCollection -tripple">
      <%= render @locations %>
    </div>

  <% end %>

</section>
