<%
   meta({
          title: t('.title'),
          description: t('.description'),
          robots: 'index, follow',
          og_title: t('.title'),
          og_description: t('.description'),
          og_image: image_url('meta/og_logo.png')
        })
%>

<section class="help -about">

  <div class="hl-subtext">
    <h1><em>imGrätzl.at</em> – “Alles Gute ums Eck”</h1>
    <p>Lokal Kräfte bündeln: mehr Power, Sichtbarkeit und Freude!</p>
  </div>

  <%= render 'help_menu' %>

  <div class="paperCard -cord1RT container">
    <div class="wrp">
      <p>
      Im Grätzl ist die erste stadtteilsegmentierte Plattform (vorerst) für Wien,
      mit dem Ziel grätzlansässige Anbieter, Kreative und Aktive im Stadtteil zu unterstützen
      und sichtbar zu machen, lokale Wirtschaftskreisläufe und das soziale Miteinander zu
      stärken und zur Stadtteilbelebung beizutragen.
      </p>
      <p>
      Unter dem Motto „<em>Alles Gute ums Eck</em>“ sehen <strong>BewohnerInnen</strong> auf einem Blick,
      was bei ihnen im Stadtteil Tolles geboten wird – <strong>Die AkteurInnen</strong> wiederum bekommen auf
      imGrätzl.at kostenlose Werkzeuge & Tools in die Hand, um sich in ihrem Stadtteil bei
      den BewohnerInnen zu präsentieren und miteinander zu vernetzen. Volle Communitypower voraus!
      </p>
    </div>
    <div class="card"></div>
  </div>


  <article class="container">
    <div class="txt">
      <h2>Anbieter & Locations</h2>
      <h3>Die Locationseite - Deine eigene Seite im Stadtteil!</h3>
      <p>
        Die Locationseite ist der erste Schritt, um in deinem Stadtteil sichtbar zu werden!
        Du kannst sie mit nur wenigen Klicks einfach und schnell einrichten,
        sie ist mobil- und suchmaschinenoptimiert und deine Eintrittskarte um in deinen
        Stadtteil-Newsletter zu gelangen! Und: sie ist kostenlos!
      </p>
    </div>
    <div class="img">
      <%= link_to(image_tag('info/imGraetzl-Features-Locationpage.png'), info_anbieter_und_locations_path) %>
    </div>
  </article>


  <article class="container">
    <div class="txt">
      <h2>Events, Workshops & Termine</h2>
      <h3>Wir machen deine Neuigkeiten im Stadtteil bekannt!</h3>
      <p>
        Sobald du deine eigene Locationseite hast, kannst du über diese Neuigkeiten,
        aber auch z.B. Termine oder Workshops in deinem Stadtteil bekannt geben.
        Du möchtest als BewohnerIn etwas in deinem Grätzl bekannt geben? - auch das geht!
      </p>
    </div>
    <div class="img">
      <%= link_to(image_tag('info/imGraetzl-Features-Events-Workshops.png'), info_events_und_workshops_path) %>
    </div>
  </article>


  <article class="container">
    <div class="txt">
      <h2>Raumteiler</h2>
      <h3>Gewerbeflächen teilen - Kosten teilen.</h3>
      <p>
        Raumsuchende und Raumhabende werden zusammengebracht und miteinander verbunden.
        Weg vom EinzelkämpferInnentum hin zu vielen kleinen Gemeinschaften und
        neuen Raumpartnerschaften.
      </p>
    </div>
    <div class="img">
      <%= link_to(image_tag('info/imGraetzl-Features-Raumteiler.png'), info_raumteiler_path) %>
    </div>
  </article>


  <article class="container">
    <div class="txt">
      <h2>Daily Grätzlmail<span> - der Email Verteiler</span></h2>
      <h3>Damit die BewohnerInnen im Stadtteil davon erfahren.</h3>
      <p>
        Über das Daily-Grätzl-Mail erreicht man mit seinen Neuigkeiten,
        Events und Ideen die registrierten Nutzer im jeweiligen Stadtteil
        jeden Tag per Mail. Halte deine Locationpage interessant und up2date,
        somit erscheinst auch du laufend im Daily-Grätzlmail.
        (Aber bedenke: "<em>Fair Use</em>" und "<em>No Spam</em>")
      </p>
    </div>
    <div class="img">
      <%= link_to(image_tag('info/imGraetzl-Features-Graetzlmail.png'), info_anbieter_und_locations_path) %>
    </div>
  </article>


  <article class="container">
    <div class="txt">
      <h2>Das Grätzlzuckerl</h2>
      <h3>Einen Monat lang die volle Aufmerksamkeit auf dich gerichtet.</h3>
      <p>
        Mit einem Grätzlzuckerl kannst du günstig & zielgerichtet Werbung für
        dich und dein spezielles Angebot in deinem Stadtteil & Bezirk schalten.
        Ein Zuckerl läuft immer für einen Monat und kostet 15 € (inkl Ust) -
        Möchtest du darüber hinaus auch im Print-Zuckerl an die Haushalte in
        deinem Grätzl erscheinen? Auch das geht, für 120 € (excl. Ust).
      </p>
    </div>
    <div class="img">
      <%= link_to(image_tag('info/imGraetzl-Features-Graetzlzuckerl.png'), info_infos_zum_graetzlzuckerl_path) %>
    </div>
  </article>

</section>
