<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow'
  )
%>

<section class="help -startpage">

  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <%= image_tag('svg/coopshare-logo-black.svg', class: 'coop-share-logo') %>
      <!--<h1>imGrätzl - Coop & Share</h1>-->
      <!--<h2>Alle Services im Überblick</h2>-->
    </div>
  </div>

  <div class="paperCard -cord1RT -header -top">
    <div class="wrp">
      <p>
        <strong>
          imGrätzl.at ist eine Plattform für Selbständige, MacherInnen, lokale Unternehmen, Vereine und Kulturschaffende und bietet seinen NutzerInnen eine ganze Palette an Services an.
        </strong>
      </p>
      <p>
        Neben Services, die Kosten senken und Ressourcen erhöhen, werden die NutzerInnen
        mit Gleichgesinnten verbunden: Kooperieren, sharen, tauschen - neue Formen der
        Zusammenarbeit und Gemeinschaft stehen dabei im Mittelpunkt!
      </p>
      <p>
        imGrätzl.at entfaltet seine Stärke im Wir - Ganz lokal in Wien, analog und digital.
      </p>
    </div>
    <div class="card"></div>
  </div>


  <article class="container">
    <div class="txt">
      <div class="headline -R">
        <span class="bigicontext-element -large -badge">Neu</span>
        <div>
          <h2>Komm in dein Unterstützer-Team!</h2>
          <h3>Ideen gemeinsam auf den Boden bringen.</h3>
        </div>
      </div>
      <p>
        MacherInnen werden in einem Team aus Gleichgesinnten auf imGrätzl.at verbunden,
        das sie bei der Umsetzung ihrer Ideen oder Aufbau ihrer Unternehmen begleitet,
        fördert und trägt. MentorInnen aus den unterschiedlichsten Bereichen steuern
        ihre jahrelange Erfahrung, Expertise und Kontakte bei.
      </p>
      <p class="link">
        <%= link_to 'Alle Infos und Anmeldung', unterstuetzer_team_path, :class => 'btn-primary -mint -large' %>
      </p>
    </div>
    <div class="aside -mentoring">
      <%= image_tag('info/mentorin-katharina-sabetzer.jpg', class: 'img-round') %>
      <%= image_tag('info/mentorin-sabina-haas.jpg', class: 'img-round') %>
      <%= image_tag('info/mentorin-sibylle-exel-rauth.jpg', class: 'img-round') %>
    </div>
  </article>


  <article class="container">
    <div class="txt">
      <div class="headline">
        <div>
          <h2>Kooperationen im Bezirk</h2>
          <h3>z.B. im Marketing und Vertrieb</h3>
        </div>
      </div>
      <p>
        In den Bezirksgruppen dreht sich alles um Kooperationen zwischen den MacherInnen im Bezirk.
        Das geht von der gemeinsamen Gutscheinaktion bis hin zur Organisation von Events oder
        auch der engeren Zusammenarbeit zwischen Kulturschaffenden, DienstleisterInnen,
        HändlerInnen und ProduzentInnen im Bezirk.
      </p>
      <p class="link">
        <%= link_to 'Zu den Bezirksgruppen', info_gruppen_path, :class => 'btn-primary -mint -flex' %>
      </p>
    </div>
    <div class="aside -img">
      <%= link_to(image_tag('info/imGraetzl-Features-Kooperationen2.png'), info_gruppen_path, class: '-illu -feature') %>
    </div>
  </article>


  <article class="container -groups">
    <div class="txt">
      <div class="headline">
        <div>
          <h2>Tauschglück – Gegengeschäfte</h2>
          <h3>z.B. „Brauche Flyerdesign – biete Yogakurs an“</h3>
        </div>
      </div>
      <p>
        Das Motto dieser Gruppe ist es die eigenen Ressourcen über Gegengeschäfte zu erhöhen.
        Die Tauschgeschäfte eröffnen einen zusätzlichen Weg Projekte und Wünsche zu realisieren
        und das eigene Unternehmen aufzubauen. Ein gutes Geschäft für alle Beteiligten,
        bei dem nicht ein einziger Cent fließt.
      </p>
      <p class="link">
        <%= link_to 'Zur Gruppe', info_gruppen_path, :class => 'btn-primary -mint -flex' %>
      </p>
    </div>
    <div class="aside">
      <%= !Group.where(id: 1).empty? ? (render Group.where(id: 1)) : '' %>
    </div>
  </article>


  <article class="container -groups">
    <div class="txt">
      <div class="headline">
        <div>
          <h2>Aufträge & Zusammenarbeit</h2>
          <h3>Auftrag zu vergeben & ProjektpartnerInnen gesucht</h3>
        </div>
      </div>
      <p>
        Wer kann mir das Newsletter Tool installieren? Brauche Grafik-Unterstützung bei einem
        großen Auftrag, kennt jemand wen? Diese Gruppe ist die Anlaufstelle für alle,
        die gerade Raum für neue Aufträge haben und für all diejenigen, die ProjektpartnerInnen
        suchen oder Projekte zu vergeben haben.
      </p>
      <p class="link">
        <%= link_to 'Zur Gruppe', info_gruppen_path, :class => 'btn-primary -mint -flex' %>
      </p>
    </div>
    <div class="aside">
      <%= !Group.where(id: 15).empty? ? (render Group.where(id: 15)) : '' %>
    </div>
  </article>


  <article class="container">
    <div class="txt">
      <h2>Gruppen für alle!</h2>
      <h3>Eröffne deine eigene Gruppe</h3>
      <p>
        Du möchtest eine eigene Gruppe rund um ein Thema aufbauen, das dich interessiert,
        du möchtest rund um dein Thema Treffen initiieren und in Kontakt mit Gleichgesinnten kommen?
        Oder dock dich ganz einfach an eine bestehende Gruppe an.
      </p>
      <p class="link">
        <%= link_to 'Mehr Infos', info_gruppen_path, :class => 'btn-primary -grey -flex' %>
        <%= link_to 'Zu den Gruppen', groups_wien_path, :class => 'btn-primary -mint -flex' %>
      </p>
    </div>
    <div class="aside -img">
      <%= link_to(image_tag('info/imGraetzl-Features-Unterstuetzerteam.png'), info_gruppen_path, class: '-feature') %>
    </div>
  </article>


  <article class="container">
    <div class="txt">
      <h2>Location Seite</h2>
      <h3>Für mehr Sichtbarkeit in deinem Stadtteil!</h3>
      <p>
        Lokale AkteurInnen bekommen auf imGrätzl.at die kostenlose Möglichkeit ihr Angebot,
        ihre Events und Workshops im Stadtteil auf einer eigenen interaktiven Seite vorzustellen.
        Alle Updates, Workshops und Events werden zusätzlich dazu per Stadtteil-Newsletter
        versendet und in Häusern der Sozialbau AG (Bauträger) und Heimbau (Bauträger)
        über eine Schnittstelle auf digitalen schwarzen Brettern angezeigt.
      </p>
      <p class="link">
        <%= link_to 'Mehr Infos', info_anbieter_und_locations_path, :class => 'btn-primary -grey -flex' %>
        <%= link_to 'Zu den Locations', locations_wien_path, :class => 'btn-primary -mint -flex' %>
      </p>
    </div>
    <div class="aside -img">
      <%= link_to(image_tag('info/imGraetzl-Features-Locationpage.png'), info_anbieter_und_locations_path, class: '-feature') %>
    </div>
  </article>


  <article class="container">
    <div class="txt">
      <h2>Raumteiler</h2>
      <h3>Gewerbeflächen teilen - Kosten teilen.</h3>
      <p>
        Der Raumteiler ist eine Art WG-Partnersuche für Gewerbeflächen und verbindet
        Raumsuchende und Raumhabende auf imGrätzl.at in Raumpartnerschaften.
        Es geht darum Gewerbeflächen, und im weiteren Kosten zu teilen.
        Der Raumteiler ist auch ein Werkzeug, um Leerstand zu verhindern und verbindet
        Raumsuchende in Gruppen, um Leerstand neu zu aktivieren.
      </p>
      <p class="link">
        <%= link_to 'Mehr Infos', info_raumteiler_path, :class => 'btn-primary -grey -flex' %>
        <%= link_to 'Zu den Raumteilern', rooms_wien_path, :class => 'btn-primary -mint -flex' %>
      </p>
    </div>
    <div class="aside -img">
      <%= link_to(image_tag('info/imGraetzl-Features-Raumteiler.png'), info_raumteiler_path, class: '-feature') %>
    </div>
  </article>


  <article class="container">
    <div class="txt">
      <h2>Events, Workshops & Termine</h2>
      <h3>Wir machen deine Neuigkeiten im Stadtteil bekannt!</h3>
      <p>
        Sobald du deine eigene Locationseite hast, kannst du über diese Neuigkeiten,
        aber auch z.B. Termine oder Workshops in deinem Stadtteil bekannt geben.
        Du möchtest als BewohnerIn etwas in deinem Grätzl bekannt geben? - auch das geht!
      </p>
      <p class="link">
        <%= link_to 'Mehr Infos', info_events_und_workshops_path, :class => 'btn-primary -grey -flex' %>
        <%= link_to 'Zu den Events', meetings_wien_path, :class => 'btn-primary -mint -flex' %>
      </p>
    </div>
    <div class="aside -img">
      <%= link_to(image_tag('info/imGraetzl-Features-Events-Workshops.png'), info_events_und_workshops_path, class: '-feature') %>
    </div>
  </article>


  <article class="container">
    <div class="txt">
      <h2>Das Grätzlzuckerl</h2>
      <h3>Einen Monat lang die volle Aufmerksamkeit auf dich gerichtet.</h3>
      <p>
        Mit einem Grätzlzuckerl kannst du günstig & zielgerichtet Werbung für
        dich und dein spezielles Angebot in deinem Stadtteil & Bezirk schalten.
        Ein Zuckerl läuft immer für einen Monat und kostet 15 € (inkl Ust) -
        Möchtest du darüber hinaus auch im Print-Zuckerl an die Haushalte in
        deinem Grätzl erscheinen? Auch das geht, für 120 € (excl. Ust).
      </p>
      <p class="link">
        <%= link_to 'Mehr Infos', info_infos_zum_graetzlzuckerl_path, :class => 'btn-primary -grey -flex' %>
        <%= link_to 'Zu den Grätzlzuckerln', zuckerls_wien_path, :class => 'btn-primary -mint -flex' %>
      </p>
    </div>
    <div class="aside -img">
      <%= link_to(image_tag('info/imGraetzl-Features-Graetzlzuckerl.png'), info_infos_zum_graetzlzuckerl_path) %>
    </div>
  </article>

  <%= render 'help_menu' %>

</section>
