<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/coop-and-share.jpg')
  )
%>

<section class="help -startpage">

  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <%= image_tag('svg/coopshare-logo-black.svg', class: 'coop-share-logo') %>
    </div>
  </div>

  <div class="paperCard -cord1RT -header -top">
    <div class="wrp">
      <p>
        <strong>
          <%= t("region.#{current_region ? current_region.id : 'default'}.domain_readable") %> ist eine Plattform für Selbständige, MacherInnen, lokale Unternehmen, Vereine und Kulturschaffende und bietet seinen NutzerInnen eine ganze Palette an Services an.
        </strong>
      </p>
      <p>
        Neben Services, die Kosten senken und Ressourcen erhöhen, werden die NutzerInnen
        mit Gleichgesinnten verbunden: Kooperieren, sharen, tauschen - neue Formen der
        Zusammenarbeit und Gemeinschaft stehen dabei im Mittelpunkt!
      </p>
      <p>
        <%= t("region.#{current_region ? current_region.id : 'default'}.domain_readable") %> entfaltet seine Stärke im Wir - Ganz lokal in <%= current_region %>, analog und digital.
      </p>
    </div>
    <div class="card"></div>
  </div>


  <article class="container -mentoring">
    <div class="txt">
      <h2>Komm in dein Unterstützer-Team!</h2>
      <h3>Ideen gemeinsam auf den Boden bringen.</h3>
      <p>
        MacherInnen werden in einem Team aus Gleichgesinnten auf <%= t("region.#{current_region ? current_region.id : 'default'}.domain_readable") %> verbunden,
        das sie bei der Umsetzung ihrer Ideen oder Aufbau ihrer Unternehmen begleitet,
        fördert und trägt. Das Prinzip dahinter: große Ziele in kleine machbare Schritte unterteilen.
        Bei der Umsetzung werden die MacherInnen begleitet. Woche für Woche, 3 Monate lang.
      </p>
      <p class="link">
        <%= link_to 'Alle Infos und Anmeldung', unterstuetzer_team_path, :class => 'btn-primary -mint -large' %>
      </p>
    </div>
    <div class="aside -mentoring">
      <%= image_tag('info/mentorin-david-bongard.jpg', class: 'img-round') %>
      <%= image_tag('info/mentorin-karin-kiendler.jpg', class: 'img-round') %>
      <%= image_tag('info/mentorin-elisabeth-siencnik.jpg', class: 'img-round') %>
    </div>
  </article>



  <article class="container">
    <div class="txt">
      <h2>Raumteiler</h2>
      <h3>Gewerbeflächen teilen - Kosten teilen.</h3>
      <p>
        Der Raumteiler ist eine Art WG-Partnersuche für Gewerbeflächen und verbindet
        Raumsuchende und Raumhabende auf <%= t("region.#{current_region ? current_region.id : 'default'}.domain_readable") %> in Raumpartnerschaften.
        Es geht darum Gewerbeflächen, und im weiteren Kosten zu teilen.
        Der Raumteiler ist auch ein Werkzeug, um Leerstand zu verhindern und verbindet
        Raumsuchende in Gruppen, um Leerstand neu zu aktivieren.
      </p>
      <p class="link">
        <%= link_to 'Mehr Infos', info_raumteiler_path, :class => 'btn-primary -grey -inlineflex' %>
        <%= link_to 'Zu den Raumteilern', region_rooms_path, :class => 'btn-primary -mint -inlineflex' %>
      </p>
    </div>
    <div class="aside -img">
      <%= link_to(image_tag('info/imGraetzl-Features-Raumteiler2.png'), region_rooms_path, class: '-feature') %>
    </div>
  </article>



  <article class="container">
    <div class="txt">
      <h2>Toolteiler</h2>
      <h3>Arbeitsequipment leihen & Geräte am Standort nutzen</h3>
      <p>
         Ermögliche GründerInnen, Selbstständigen, Kreativen und MacherInnen in <%= current_region %>
         die Nutzung deines Arbeitsequipments. Du kannst über den Toolteiler Geräte verleihen
         oder auch den Zugang zur Ausstattung an deinem Arbeitsstandort ermöglichen.
         Indem du deine Geräte verleihst, verdienst du nicht nur, sondern schonst
         gleichzeitig Ressourcen.<br><br>
         <strong>Jedes Gerät, das du über den Toolteiler verleihst, ist mit bis zu 15.000 € versichert. Einfach und unbürokratisch.</strong>
      </p>
      <p class="link">
        <%= link_to 'Mehr Infos', info_toolteiler_path, :class => 'btn-primary -grey -inlineflex' %>
        <%= link_to 'Zu den Toolteilern', region_tool_offers_path, :class => 'btn-primary -mint -inlineflex' %>
      </p>
    </div>
    <div class="aside -img">
      <%= link_to(image_tag('info/imGraetzl-Features-Toolteiler.png'), region_groups_path(:category => 1), class: '-illu -feature') %>
    </div>
  </article>



  <!--
  <article class="container">
    <div class="txt">
      <h2>Selbstständige für Selbstständige</h2>
      <h3>Gemeinsam selbstständig - Gemeinsam ins TUN kommen!</h3>
      <p>
        Eine Aktion von Selbstständigen für Selbstständige, Kulturschaffende und Macher*innen. Wählt aus den Angeboten das aus, was euch jetzt stärkt und weiterbringt. Alle Angebote sind im Rahmen der Aktion kostenlos.
      </p>
      <p class="link">
        <%= link_to 'Zur Aktion Selbstständige für Selbstständige', region_platform_meetings_path, :class => 'btn-primary -mint -inlineflex' %>
      </p>
    </div>
    <div class="aside -img">
      <%= link_to(image_tag('info/imGraetzl-Features-Community-Treffen.png'), region_platform_meetings_path, class: '-feature') %>
    </div>
  </article>
  -->



  <article class="container">
    <div class="txt">
      <h2>Gruppen</h2>
      <h3>Kooperationen, Austausch und Zusammenarbeit. z.B.</h3>
      <p>
        Gruppe für <strong>„Auftrag zu vergeben & ProjektpartnerInnen gesucht“</strong>. -
        Diese Gruppe ist die Anlaufstelle für alle, die gerade Ressourcen frei haben für neue Aufträge und für all diejenigen, die ProjektpartnerInnen suchen oder Projekte zu vergeben haben.
        <br><br>
        <strong>Tauschglück – Gegengeschäfte, z.B. „Brauche Flyerdesign – biete Yogakurs an“</strong>. -
        Das Motto dieser Gruppe ist es die eigenen Ressourcen über Gegengeschäfte zu erhöhen.
      </p>
      <p class="link">
        <%= link_to 'Mehr Infos', info_gruppen_path, :class => 'btn-primary -grey -inlineflex' %>
        <%= link_to 'Zu den Gruppen', region_groups_path, :class => 'btn-primary -mint -inlineflex' %>
      </p>
    </div>
    <div class="aside -img">
      <%= link_to(image_tag('info/imGraetzl-Features-Gruppen.png'), region_groups_path, class: '-feature') %>
    </div>
  </article>





  <article class="container">
    <div class="txt">
      <h2>AnbieterInnen & Location-Seite</h2>
      <h3>Für mehr Sichtbarkeit in deinem Stadtteil!</h3>
      <p>
        Lokale AkteurInnen bekommen auf <%= t("region.#{current_region ? current_region.id : 'default'}.domain_readable") %> die kostenlose Möglichkeit ihr Angebot,
        ihre Events und Workshops im Stadtteil auf einer eigenen interaktiven Seite vorzustellen.
        Alle Updates, Workshops und Events werden zusätzlich dazu per Stadtteil-Newsletter
        versendet und in Häusern der Sozialbau AG (Bauträger) und Heimbau (Bauträger)
        über eine Schnittstelle auf digitalen schwarzen Brettern angezeigt.
      </p>
      <p class="link">
        <%= link_to 'Mehr Infos', info_anbieter_und_locations_path, :class => 'btn-primary -grey -inlineflex' %>
        <%= link_to 'Zu den AnbieterInnen', region_locations_path, :class => 'btn-primary -mint -inlineflex' %>
      </p>
    </div>
    <div class="aside -img">
      <%= link_to(image_tag('info/imGraetzl-Features-Locationpage2.png'), region_locations_path, class: '-feature') %>
    </div>
  </article>


  <article class="container">
    <div class="txt">
      <h2>Events, Workshops & Termine</h2>
      <h3>Wir machen deine Neuigkeiten im Stadtteil bekannt!</h3>
      <p>
        Sobald du deine eigene Locationseite hast, kannst du über diese Neuigkeiten,
        aber auch z.B. Termine oder Workshops in deinem Stadtteil bekannt geben.
        Du möchtest als BewohnerIn etwas in deinem Grätzl bekannt geben? - auch das geht!
      </p>
      <p class="link">
        <%= link_to 'Mehr Infos', info_events_und_workshops_path, :class => 'btn-primary -grey -inlineflex' %>
        <%= link_to 'Zu den Events', region_meetings_path, :class => 'btn-primary -mint -inlineflex' %>
      </p>
    </div>
    <div class="aside -img">
      <%= link_to(image_tag('info/imGraetzl-Features-Events.png'), region_meetings_path, class: '-feature') %>
    </div>
  </article>


  <article class="container">
    <div class="txt">
      <h2>Das Grätzlzuckerl</h2>
      <h3>Einen Monat lang die volle Aufmerksamkeit auf dich gerichtet.</h3>
      <p>
        Mit einem Grätzlzuckerl kannst du günstig & zielgerichtet Werbung für
        dich und dein spezielles Angebot in deinem Stadtteil & Bezirk schalten.
        Ein Zuckerl läuft immer für einen Monat und kostet dich <%= number_to_currency(Zuckerl.price / 100) %> (inkl. 20% USt.).
        <br>
        Möchtest du darüber hinaus dein Grätzlzuckerl nicht nur in deinem Bezirk sondern in ganz <%= current_region %> schalten - Auch das geht seit Kurzem :)
      </p>
      <p class="link">
        <%= link_to 'Mehr Infos', info_infos_zum_graetzlzuckerl_path, :class => 'btn-primary -grey -inlineflex' %>
        <%= link_to 'Zu den Grätzlzuckerln', region_zuckerls_path, :class => 'btn-primary -mint -inlineflex' %>
      </p>
    </div>
    <div class="aside -img">
      <%= link_to(image_tag('info/imGraetzl-Features-Graetzlzuckerl.png'), region_zuckerls_path) %>
    </div>
  </article>

</section>

<%= render 'help_menu' %>
