<%
   meta({
          title: t('.title'),
          description: t('.description'),
          robots: 'index, follow',
          og_title: t('.title'),
          og_description: t('.description'),
          og_image: image_url('meta/og_logo.png')
        })
%>

<section class="homeOut">
  <div class="buehne">
    <h1><span>Was ist los </span><span>in deinem Grätzl?</span></h1>

    <%= link_to new_registration_path, class: 'registerlink bigicontext-element' do %>
      <svg class="icon-login-signin">
        <use xlink:href="#icon-login-signin"></use>
      </svg>
      <div class="txt">Kostenlos <br/>registrieren</div>
    <% end %>

    <div class="icons">
      <div class="singleicon meetings">
        <svg class="icon-calendar-2">
          <use xlink:href="#icon-calendar-2"></use>
        </svg>
        <div class="txt">Treffen & <br/>Events</div>
      </div>
      <div class="singleicon candies">
        <svg class="icon-shopping-bag">
          <use xlink:href="#icon-shopping-bag"></use>
        </svg>
        <div class="txt">Zuckerl & <br/>Gutscheine</div>
      </div>
      <div class="singleicon makers">
        <svg class="icon-location">
          <use xlink:href="#icon-location"></use>
        </svg>
        <div class="txt">Anbieter & <br/>Local Makers</div>
      </div>
      <div class="singleicon initiatives">
        <svg class="icon-head-idea-lightbulb">
          <use xlink:href="#icon-head-idea-lightbulb"></use>
        </svg>
        <div class="txt">Initiativen, <br/>Wünsche & Ideen</div>
      </div>
    </div>
  </div>

  <div class="meetings-block">
    <div class="hl-subtext">
      <h1>Entdecke — <span>Treffen, Aktionen &amp; gute Ideen</span> im Grätzl</h1>
      <p>Wunderbares ums Eck von Bewohnern, Kreativen, Initiativen &amp; grätzlansässigen UnternehmerInnen</p>
    </div>
    <div class="cardBoxCollection -tripple">
      <%= render @meetings %>
      <%= render 'meetings/action_card' %>
    </div>
  </div>
  <div class="locations-block">
    <div class="hl-subtext">
      <h1>Entdecke — <span>Anbieter &amp; Local Makers</span> im den Grätzln</h1>
      <p>Finde grätzlansässige Lokal Makers, Sebstständige &amp; Kreative, Lokale &amp; Geschäfte</p>
    </div>
    <div class="cardBoxCollection -tripple">
      <%= render @locations %>
      <%= render 'locations/action_card' %>
    </div>
  </div>
  <div class="zuckerls-block">
    <div class="hl-subtext">
      <h1>Jeden Monat Neu - <span>Zuckerln & Angebote</span></h1>
      <p>Gutscheine & Rabattaktionen von Kreativen, Selbständigen, kleinen Unternehmen, Lokalen & Geschäften</p>
    </div>
    <div class="cardBoxCollection -tripple">
      <%= render @zuckerls %>
      <%= render 'zuckerls/action_card' %>
    </div>
  </div>


  <div class="aboutGraetzl">
    <div class="hl-subtext">
      <h1>Willkommen auf imGrätzl.at<span><svg class="icon-help-info">
        <use xlink:href="#icon-help-info"></use>
      </svg>Worum Gehts Hier?</span></h1>
      <p>imGrätzl.at richtet sich an alle die spannende Dinge ums Eck entdecken wollen und an alle die spannende Dinge
        ums Eck anbieten! Bewohner, Local Makers & Grätzlgestalter.</p>
    </div>


    <div class="grid">

      <div class="resident-block">
        <h4>Für <span>Bewohner</span></h4>
        <div class="txt">
          <p>Die spannenden Dinge liegen oft gleich ums Eck! Entdecke lokale Angebote, Ideen fürs Grätzl, besondere
            Geschäfte und tolle DienstleisterInnen, dazu aktuelle Aktionen und Veranstaltungen in deinem Stadtteil.
            Werde selber aktiv und belebe mit deinen Ideen dein Grätzl. Melde dich bei imGrätzl.at an und bleib auf dem
            Laufenden, was ums Eck geplant ist!</p>
        </div>
      </div>

      <div class="maker-block">
        <h4>Für <span>Local Makers</span></h4>
        <div class="txt">
          <p>Du hast ein Geschäft, bietest eine Dienstleistung an, oder arbeitest an einem kreativen Projekt? Du planst
            eine Veranstaltung, Workshop, oder übst ein Handwerk aus? Dich wollen wir sichtbar machen und dich mit den
            BewohnerInnen in deinem Einzugsgebiet vernetzen.</p>
          <p>Richte dir deine eigene kostenlose Seite ein und veröffentliche dort deine Neuigkeiten und Veranstaltungen.
            Deine Angebote und Gutscheine kannst du als Grätzlzuckerl sichtbar machen.</p>
        </div>
      </div>

      <div class="shaper-block">
        <h4>Für <span>Grätzlgestalter</span></h4>
        <div class="txt">
          <p>Du bist in deinem Stadtteil bereits belebend aktiv? Dann ist die Grätzlmarie etwas für dich. Die
            Grätzlmarie ist ins Leben gerufen worden, um Aktive und Initiaitiven, die das Grätzl beleben, finanziell
            unter die Arme zu greifen. Zur Grätzlmarie. Außerdem bekommst du für deine Ideen in deinem Stadtteil
            Sichtbarkeit und kannst Gleichgesinnte zur Umsetzung deiner Aktionen finden.</p>
          <p>Du möchtest dich gerne in deinem Stadtteil stärker verankern, dann werde eine GrätzlbotschafterIn für dein
            Grätzl und melde dich bei uns.</p>
        </div>
      </div>

    </div>

    <%= link_to 'Gleich anmelden & loslegen', new_user_session_path, class: 'btn-primary -rose -large -shadow' %>

  </div>
</section>
