<%
   meta({
          title: t('.title'),
          description: t('.description'),
          robots: 'index, follow',
          og_title: t('.title'),
          og_description: t('.description'),
          og_image: image_url('meta/og_logo.png')
        })
%>

<section class="homeOut">
  <div class="buehne">
    <h1><span>Was ist los im Grätzl?</span><span>Treffen, Aktionen & schöne Ideen</span></h1>

    <div class="illu1"></div>
    <div class="illuMap"></div>
    <%= link_to 'Jetzt kostenlos registrieren', new_registration_path, class: 'btn-primary -mint -large -shadow' %>


    <div class="icons">

      <div class="singleicon">
        <svg class="icon-calendar-2">
          <use xlink:href="#icon-calendar-2"></use>
        </svg>
        <div class="txt">Treffen & <br/>Events</div>
      </div>

    </div>

  </div>

  <div class="meetings-block">
    <div class="hl-subtext">
      <h1>Entdecke — <span>Treffen, Aktionen &amp; gute Ideen</span> im Grätzl</h1>

      <p>Wunderbares ums Eck von Bewohnern, Kreativen, Initiativen &amp; grätzlansässigen UnternehmerInnen</p>
    </div>
    <div class="cardBoxCollection -tripple">
      <%= render @meetings %>
      <div class="cardbox-wrp">
        <div class="paperCard -illuteaser -cord1RT">
          <div class="wrp">
            <div class="user">
              <%= image_tag('avatar/user/default.png', class: 'img-round') %>
              <span>Dein Name</span>
            </div>
            <h3>Starte dein eigenes Treffen, trage ein<br>Event & Initatitive ein.</h3>
            <%= link_to 'Jetzt loslegen', new_user_session_path, class: 'btn-primary -rose' %>
          </div>
          <div class="card"></div>
        </div>
        <%= link_to 'Alle Treffen', districts_path, class: 'link-more' %>
      </div>
    </div>
  </div>


  <div class="aboutGraetzl">
    <div class="hl-subtext">
      <h1>Willkommen auf imGrätzl.at<span><svg class="icon-help-info">
        <use xlink:href="#icon-help-info"></use>
      </svg>Worum Gehts Hier?</span></h1>
      <p>imGrätzl.at richtet sich an alle die spannende Dinge ums Eck entdecken wollen und an alle die spannende Dinge
        ums Eck anbieten! Bewohner, Local Makers & Grätzlgestalter.</p>
    </div>


    <div class="grid">

      <div class="resident-block">
        <h4>Für <span>Bewohner</span></h4>
        <div class="txt">
          <p>Die spannenden Dinge liegen oft gleich ums Eck! Bei imGrätzl findest du die besonderen Geschäfte,
            Dienstleister & Kreative, dazu aktuelle Aktionen, Veranstaltungen und Initiativen in deinem Viertel.
            Melde dich bei imGrätzl an und bleibe auf dem Laufenden!</p>
        </div>
      </div>

      <div class="maker-block">
        <h4>Für <span>Local Makers</span></h4>
        <div class="txt">
          <p>Du hast ein Geschäft, eine Dienstleistung, ein kreatives Projekt, eine Veranstaltung, einen Pop-up Store,
            oder übst ein Handwerk aus? Dich wollen wir sichtbar machen!</p>
          <p>Richte dir deine eigene Seite ein und veröffentliche deine Neuigkeiten, Veranstaltungen & Aktionen. Damit
            erfahren die Bewohner, was es Besonderes bei dir gibt. We love local! </p>
        </div>
      </div>

      <div class="shaper-block">
        <h4>Für <span>Grätzlgestalter</span></h4>
        <div class="txt">
          <p>Du bist in deinem Stadtteil aktiv? Dann richte dir für deine Initiative eine Seite ein und mache deine
            Aktionen & Ideen sichtbar, finde darüber Gleichgesinnte und Unterstützer.</p>
          <p>Du möchtest dich gerne in deinem Stadtteil stärker vernetzen, dann werde ein Botschafter für dein Grätzl
            und melde dich bei uns.</p>
        </div>
      </div>

    </div>

    <%= link_to 'Gleich anmelden & loslegen', new_user_session_path, class: 'btn-primary -rose -large -shadow' %>

  </div>
</section>
