<%
  meta({
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/og_logo.png')
  })
%>

<section class="homeOut">
  <div class="buehne">
    <h1><span>Was ist los im Grätzl?</span><span>Treffen, Aktionen & schöne Ideen</span></h1>
    <div class="illu1"></div>
    <div class="illuMap"></div>
    <%= link_to '', new_registration_path, class: 'badgeregister' %>
  </div>

  <div class="meetings-block">
    <div class="hl-subtext">
      <h1>Entdecke  — <span>Treffen, Aktionen &amp; gute Ideen</span> im Grätzl</h1>
      <p>Wunderbares ums Eck von Bewohnern, Kreativen, Initiativen &amp; grätzlansässigen UnternehmerInnen</p>
    </div>
    <div class="cardBoxCollection -tripple">
      <%= render @meetings %>
      <div class="cardbox-wrp">
        <div class="paperCard -illuteaser -cord1RT">
          <div class="wrp">
            <div class="user">
              <%= image_tag('avatar/user/default.png', class: 'img-round') %>
              <span>Dein Name</span>
            </div>
            <h3>Starte dein eigenes Treffen, trage ein<br>Event & Initatitive ein.</h3>
            <%= link_to 'Jetzt loslegen', new_user_session_path, class: 'btn-primary -rose' %>
          </div>
          <div class="card"></div>
        </div>
        <%= link_to 'Alle Treffen', districts_path, class: 'link-more' %>
      </div>
    </div>
  </div>


  <div class="aboutGraetzl">
    <h2>Worum geht es bei „im Grätzl“</h2>
    <div class="graetzl-meeting">
      <div class="paperCard -cord1LTsmall -illuonly">
        <div class="wrp"></div>
        <div class="card"></div>
      </div>
      <div class="wrp-txt">
        <h3><span>Treffen</span> im Grätzl</h3>
        <p>Trage Treffen ein für die Dinge, die du gerne machen möchtest. Auf imGrätzl.at findest du nette Menschen und Gleichgesinnte aus deiner Nähe z. B. für spontane Laufrunden, zum Ausgehen, für kreative DIY-Bastelsessions oder für einen Eltern-Kind-Treff.</p>
      </div>
    </div>

    <div class="graetzl-events">
      <div class="paperCard -cord1RTsmall -illuonly">
        <div class="wrp"></div>
        <div class="card"></div>
      </div>
      <div class="wrp-txt">
        <h3><span>Event</span> im Grätzl</h3>
        <p>Entdecke auf einen Blick, welche Veranstaltungen und Aktionen bei dir ums Eck stattfinden. Planst du ein Konzert, einen Workshop, ein Nachbarschaftsfest? Dann veröffentliche sie auf imGrätzl.at.</p>
      </div>
    </div>

    <div class="graetzl-initiative">
      <div class="paperCard -cord1LTsmall -illuonly">
        <div class="wrp"></div>
        <div class="card"></div>
      </div>
      <div class="wrp-txt">
        <h3><span>Initiative</span> im Grätzl</h3>
        <p>Du hast eine Idee für dein Viertel? Ein Community-Gartenprojekt, ein Flohmarkt, eine Charityaktion? Dann trage deine Idee ein und finde Mitorganisatoren und Unterstützer für die Umsetzung. </p>
      </div>
    </div>

    <div class="graetzl-economy">
      <div class="paperCard -cord1RTsmall -illuonly">
        <div class="wrp"></div>
        <div class="card"></div>
      </div>
      <div class="wrp-txt">
        <h3>Du bist <span>kreativ</span> im Grätzl tätig?<br>Du <span>wirtschaftest</span> im Grätzl?</h3>
        <p>Stell dich auf einer eigenen Seite den Bewohnern vor. Du kannst deine Veranstaltungen und Events kostenlos veröffentlichen. Damit bekommst du Sichtbarkeit und die Bewohner die Chance dich persönlich kennenzulernen.</p>
      </div>
    </div>

    <div class="graetzl-zuckerl">
      <div class="illuZuckerl"></div>
      <div class="wrp-txt">
        <h3>Das <span>Grätzlzuckerl</span></h3>
        <p>Einzigartiges aus dem Viertel entdecken. Einmal im Monat gibt es das neue Grätzlzuckerl. Das sind ganz besondere Angebote, die mit viel Liebe von den grätzlansässigen Kreativen und Unternehmen für die Bewohner geschnürt werden. Das Grätzlzuckerl ist speziell für die Selbstständigen und kleinen Unternehmen ums Eck konzipiert.</p>
      </div>
    </div>

    <%= link_to 'Jetzt loslegen', new_user_session_path, class: 'btn-primary -rose -large -shadow' %>


    <div class="cardBox -sponsor">
      <div class="cardBoxHeader">
        <a href="#">
          <img src="/assets/img/stuwerlogo.png" alt="">
        </a>
        <div class="sideflag -R">Partner von imGrätzl</div>
      </div>
      <!-- HTML allowed in DB -->
      <div class="cardBoxContent">
        <img style="float: left; margin-right: 6px;" src="/assets/img/ek_strassen_logo.jpg" alt="">
        <div>
          <p style="font-size: 12px;">Die Wiener Einkaufsstraßen sind eine Aktion der Wirtschaftskammer Wien.</p>
          <p style="font-size: 12px;">Gefördert aus den Mitteln der Stadt Wien durch die Wirtschaftsagentur Wien. Ein Fonds der Stadt Wien.</p>
        </div>
        <img style="clear: both; margin-top: 6px;" src="/assets/img/wko_wa_logo.jpg" alt="">
      </div>
    </div>

  </div>
</section>
