<div class="buehne">
  <h1><span>Nette Leute Bei Treffen </span><span>im Grätzl Kennenlernen</span></h1>

  <div class="illu1"></div>
  <div class="illuMap"></div>
  <%= link_to 'Mit-machen', new_user_session_path, class: 'badge -arrow' %>
</div>

<div class="teaserBlock">
  <h2> Mach mit — Treffen in den Grätzln</h2>

  <p>Finde Menschen in der Nachbarschaft für gemeinsame Unternehmungen</p>

  <div class="meetingBoxes">

    <% @meetings.each do |meeting| %>
      <%= render 'meetings/box', meeting: meeting %>
    <% end %>

    <%= link_to new_user_session_path, class: 'ownMeetingBox' do %>
      <div class="user">
        <img src="assets/avatar/small_default.png" alt="Profilbild Platzhalter" class="img-round"/>
        <span>Dein Name</span>
      </div>
      <h3>Starte Dein<br/>eigenes Treffen</h3>
      <button class="btn-primary -rose">Jetzt loslegen</button>
    <% end %>

  </div>
  <%= link_to 'Alle Treffen', districts_path, class: 'link-more' %>
</div>


<div class="aboutGraetzl">
  <h2>Worum geht es bei „im Grätzl“</h2>

  <div class="graetzl-meeting">
    <h3>Treffen im <span>Grätzl</span></h3>
    <p>Lerne Menschen imGrätzl mit selben Interessen kennen, um gemeinsam etwas zu unternehmen: Von Hunde Gassi führen
      bis Lauftreffs, Mütter-Kind Gruppen oder Bauernschnapsrunden.</p>
  </div>

  <div class="graetzl-events">
    <h3>Event im <span>Grätzl</span></h3>
    <p>Du planst bereits ein Event im Grätzl? Dann trage das Event imGrätzl ein. So kannst du die Grätzlbewohner
      informieren, welche Konzerte, Lesungen, Nachbarschaftsfeste sie nicht verpassen dürfen :)</p>
  </div>

  <div class="graetzl-initiative">
    <h3>Initiative im <span>Grätzl</span></h3>
    <p>Du möchtest eine Initiative im Grätzl starten, ein Gartenprojekt, ein Flohmarkt, eine Charityaktion? Dann kannst
      du deine Idee hier einstellen und Mitorganisatoren, oder Teilnehmer finden.</p>
  </div>

  <div class="graetzl-economy">
    <h3><span>Grätzl</span>wirtschaft</h3>
    <p>Du wirtschaftest im Grätzl? Dann stell dich doch den Bewohnern vor. Du suchst eine Empfehlung im Grätzl, dann
      frage einfach die anderen Bewohner, die wissen, welche Unternehmen die kundenfreundlichsten sind.</p>
  </div>

  <%= link_to 'Jetzt loslegen', new_user_session_path, class: 'btn-primary -rose -large -shadow' %>

</div>

