<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/og_logo.png')
  )
%>
<% graetzl_naming = current_region.use_districts ? 'im Grätzl' : 'in deiner Gemeinde' %>

<section class="homeOut">
  <div class="buehne">
    <h1><span>Was ist los </span><span><%= current_region.use_districts ? 'in deinem Grätzl?' : 'in deiner Gemeinde?' %></span></h1>
    <%= link_to new_registration_path(origin: request.path), class: 'registerlink' do %>
      <div class="register-badge"><%= icon_tag "user-info-profile-details" %></div>
      <div class="txt">Mitmachen</div>
    <% end %>
  </div>

  <div class="supporterBox">
    <div class="inner">
      <div class="txt"><span>imGrätzl</span> wird unterstützt von</div>
      <%= link_to(image_tag('supporter/logos/kolarik_small.png', width:107, height:44), 'https://www.kolarik.at', target: '_blank', :class => '-logo') %>
      <%= link_to(image_tag('supporter/logos/elif-macht-was_small.png', width:107, height:100), 'https://www.geldmachtwas.com', target: '_blank', :class => '-logo -elif') %>
      <%= link_to(image_tag('supporter/logos/bezirksimkerei_small.png', width:107, height:41), 'https://www.wiener-bezirksimkerei.at', target: '_blank', :class => '-logo') %>
      <%= link_to 'alle ansehen', info_danke_path, class: 'btn-viewall' %>
      <%= button_tag '', class: 'close-ico' do %>
        <%= icon_tag "cross" %>
      <% end %>
    </div>
  </div>

  <%= render "navigation" %>

  <div class="input-select graetzljump">
    <label for="select">
      <%= icon_tag "map-location" %>
      <span>Zu deinem Grätzl</span>
    </label>
    <%= select_tag :select, options_for_select(district_url_options), prompt: 'Bezirk wählen', onchange: 'location.href = $(this).val()' %>
  </div>

  <div class="block-meetings">
    <div class="hl-subtext">
      <h1>Entdecke — <span>Events &amp; Workhops</span> <%= graetzl_naming %></h1>
      <p>Organisiert von Selbstständigen, kl. Unternehmen, Vereinen & Macher*innen.</p>
    </div>
    <div class="cardBoxCollection -tripple -morelink">
      <%= render @activity_sample.meetings %>
      <%= render 'meetings/action_card', view_all: true %>
    </div>
  </div>

  <div class="block-locations">
    <div class="hl-subtext">
      <h1>Entdecke — <span>Anbieter &amp; Locations</span> <%= graetzl_naming %></h1>
      <p>Entdecke Selbständige, kl. Unternehmen, Kreative, Vereine & Macher*innen</p>
    </div>
    <div class="cardBoxCollection -tripple -morelink">
      <%= render @activity_sample.locations %>
      <%= render 'locations/action_card', view_all: true %>
    </div>
  </div>

  <div class="block-rooms">
    <div class="hl-subtext">
      <h1>Entdecke — <span>Raumteiler</span> <%= graetzl_naming %></h1>
      <p>Gewerbeflächen zum Teilen - Raumhabende und Raumsuchende finden sich</p>
    </div>
    <div class="cardBoxCollection -tripple -morelink">
      <%= render @activity_sample.rooms %>
      <%= render 'rooms/action_card', view_all: true %>
    </div>
  </div>

  <div class="block-tools">
    <div class="hl-subtext">
      <h1>Entdecke — <span>Toolteiler</span> <%= graetzl_naming %></h1>
      <p>Arbeitsequipment leihen & Geräte am Standort nutzen <%= render 'shared/questionmarklink', hint_url: info_toolteiler_path %></p>
    </div>
    <div class="cardBoxCollection -tripple -morelink">
      <%= render @activity_sample.tool_offers %>
      <%= render 'tool_offers/action_card', view_all: true %>
    </div>
  </div>

  <div class="block-groups">
    <div class="hl-subtext">
      <h1>Entdecke — <span>Gruppen</span> <%= graetzl_naming %></h1>
      <p>Vernetze dich mit anderen, tausch dich aus und kooperiere!</p>
    </div>
    <div class="cardBoxCollection -tripple -morelink">
      <%= render @activity_sample.groups %>
      <%= render 'groups/action_card', view_all: true, create_link: true %>
    </div>
  </div>

  <%= link_to 'Kostenlos in deinem Grätzl registrieren', new_registration_path(origin: request.path), class: 'btn-primary -rose -large -shadow -register' %>

</section>
