<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_image: image_url('info/energieteiler/header_hell.jpg')
  )
%>

<section class="info -detail">

  <div class="hl-subtext">
    <h1><em>Energieteiler</em></h1>
    <p>Erneuerbare Energien produzieren & teilen - Biete oder finde Energiegemeinschaften zum Andocken.</p>
  </div>

  <div class="paperCard -cord1RT container -top" id="zero">
    <div class="wrp">
      <p>
        <strong>Der "Energieteiler" ist deine Anlaufstelle, um dich mit Menschen zu vernetzen,</strong> die ein gemeinsames Ziel teilen: die Gründung und Förderung von Energiegemeinschaften.
      </p>
    </div>
    <div class="card"></div>
  </div>

  <aside>
    <div id="help_nav">
      <%= link_to info_path, class: "btn-primary -grey -ico" do %><%= icon_tag "arrow-left-2" %> Services Übersicht<% end %>
      <a href="#wie" class="btn-primary -mint" id="nav-1">Wie funktioniert es?</a>
    </div>
  </aside>

  <div class="mainContent">

    <article class="container" id="1">
      <h2 id="wie"><span>Wie funktioniert</span> der Energieteiler?</h2>
      <p>
        Mit dem "Energieteiler" möchten wir dich dabei unterstützen, Gleichgesinnte zu finden, um eine Energiegemeinschaft zu gründen, egal ob es eine Erneuerbare Energiegemeinschaft oder eine Bürgerenergiegemeinschaft ist.
      </p>
      <p>
        Bestehende Energiegemeinschaften möchten wir einladen, im Energieteiler sichtbar zu machen, was sie für den nächsten Schritt benötigen. Und: Im Energieteiler können Ressourcen rund um die Energiegemeinschaften gesucht oder zur Verfügung gestellt werden, wie das Dach zur Miete, Expertise oder Austausch.
      </p>
      <ul>
        <li>Nutze den Energieteiler, um Kontakte zu knüpfen und eine Energiegemeinschaft zu gründen.</li>
        <li>Mach deine bestehende Energiegemeinschaft sichtbar und finde neue Mitglieder, im Bezirk, im Stadtteil oder in ganz Wien.</li>
        <li>Finde Ressourcen für deine Energiegemeinschaft, z.B. Flächen für Erzeugungsanlagen oder Expertise, Tools, Wissen und Austausch.</li>
        <li>Mach Ressourcen sichtbar, die du einer Energiegemeinschaft zur Verfügung stellen möchtest.</li>
        <li>Mache passende Veranstaltungen im Energieteiler sichtbar.</li>
        <li>Die Inhalte, die im Energieteiler veröffentlicht werden, bekommen übrigens die maximale Sichtbarkeit auf imGrätzl und im wöchentlichen imGrätzl Newsletter.</li>
      </ul>
      <br>
      <p>
      (Für mehr Informationen rund um die Energiegemeinschaft besuche die Koordinierungsstelle unter <%= link_to 'energiegemeinschaften.gv.at', 'https://www.energiegemeinschaften.gv.at', target: 'blank' %>.)
      </p>
      <p>
        <strong>Unser Tipp:</strong><br>
        Besucht auch <%= link_to 'Energie-teilen.at', 'https://energie-teilen.at', target: 'blank' %>. Die Plattform bietet eine Entscheidungsmatrix für die Wahl des Energiegemeinschaftsmodells, Kommunikations-Material, um Menschen im Umfeld zum Mitmachen zu motivieren und eine Sammlung von Tools, die euch bei der Planung und beim Betrieb einer Energiegemeinschaft unterstützen.
      </p>
    </article>

  </div>

  <div style="clear:both;"></div>

</section>

<%= render 'info_navigation' %>
