<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow'
  )
%>

<section class="info -detail">

  <div class="hl-subtext">
    <h1><em>Events & Workshops</em></h1>
    <p><%= t("region.#{current_region.id}.info.meeting.subline") %></p>
  </div>

  <div class="paperCard -cord1RT container -top" id="zero">
    <div class="wrp">
      <p><%= t("region.#{current_region.id}.info.meeting.description") %></p>
    </div>
    <div class="card"></div>
  </div>

  <aside>
    <div id="help_nav">
      <%= link_to info_path, class: "btn-primary -grey -ico" do %><%= icon_tag "arrow-left-2" %> Services Übersicht<% end %>
      <a href="#worum-gehts" class="btn-primary -mint" id="nav-one">Woum gehts?</a>
      <a href="#events-erstellen" class="btn-primary -mint" id="nav-two">Events veröffentlichen</a>
      <a href="#sichtbarkeit" class="btn-primary -mint" id="nav-three">Sichtbarkeit für dein Event</a>
    </div>
  </aside>

  <div class="mainContent">

    <article class="container" id="one">
      <h2 id="worum-gehts">Worum gehts?</h2>
      <h3>Welche Art von Treffen eignen sich zur Veröffentlichung?</h3>
      <p>
        Wenn etwas ums Eck stattfindet, ist das für die BewohnerInnen <%= t("region.#{current_region.id}.in_your_graetzl") %> bzw. auch <%= t("region.#{current_region.id}.in_region") %> grundsätzlich von großem Interesse.
        Sei es ein Vorlesenachmittag, ein Pilateskurs, ein Workshop, der Stammtisch, eine Ausstellungseröffnung, eine Lesung, ein Vereinsfest, der Lauftreff, ein Flohmarkt, ein Konzert - ob groß oder klein, all diese Aktivitäten führen Menschen zusammen und genau darum geht es bei <%= t("region.#{current_region.id}.domain_short") %>!
      </p>
    </article>

    <article class="container" id="two">
      <h2 id="events-erstellen">Treffen, Events & Workshops veröffentlichen</h2>
      <p>
        <strong>Deine Termine veröffentlichen – Worauf solltest du achten?</strong>
        <h3>Bilder und Beschreibungen</h3>
        Schreibe ganze Sätze und nicht nur Stichpunkte auf, um dein Event, Treffen oder Workshop zu beschreiben. Lass die Menschen wissen, was sie erwartet, dann steigt die Wahrscheinlichkeit, dass sie teilnehmen und vorbeikommen. Stelle außerdem ein aussagekräftiges Bild rein, gar nicht geeignet sind Texte in den Bildern.

        <h3>Interessierte können sich beim Event anmelden</h3>
        Wenn sich Menschen für dein Event interessieren und teilnehmen möchten, können sie auf “Mitmachen” beim Event klicken. Du siehst dann direkt auf der Eventseite, wer sich angemeldet hat und für welchen Termin. Du kannst den Interessierten eine interne Message schicken, die Option wird dir angezeigt, wenn du auf der Eventseite auf das Profilbild der Interessierten klickst.

        <h3>Verknüpfe dein Event & Workshop mit deinem virtuellen Schaufenster</h3>
        Du kannst deine Events mit deinem virtuellen Schaufenster verknüpfen, die Option findest du im Event erstellen Formular. Nutze die Option, weil die Events auf deinem virtuellen Schaufenster den Besucher*innen ein Gespür dafür geben, dass du richtig aktiv bei deinem Thema bist. Das schafft Vertrauen.

        <h3>Ein Event, aber mehrere Termine</h3>
        Du planst z.B. einen Stammtisch, der sich einmal pro Monat trifft, dann erstelle dafür ein Event und trage alle Termine in diesem einen Event ein. Das erspart dir Arbeit, weil du nicht für jeden Termin ein eigenes Event anlegen musst.

        <h3>Die Adresse ist ganz wichtig!</h3>
        Wo findet euer Event, oder euer Workshop statt? Natürlich ist die Adresse wichtig, weil wie sollten die Menschen sonst zu dir und deinem Event hinfinden. Aber genau die Adresse wird gerne mal vergessen.

        <h3>Kostenlose vs. kostenpflichtige Veranstaltungen</h3>
        Schreibe dazu, ob es sich bei deinem Event, Treffen, Kurs oder Workshop, um ein kostenloses Angebot handelt, oder nicht. Schreib auch dazu, wie viel es kostet. Die kostenlosen Angebote werden zusätzlich noch in einer eigenen Kategorie ausgewiesen für etwas mehr Sichtbarkeit.

        <h3>Virtuelle vs. reale Treffen</h3>
        Du kannst auch Events eintragen, die virtuell stattfinden, also per Video. Wichtig ist, dass das Treffen ein Datum und Uhrzeit hat. Nicht geeignet sind z.B. 1:1 Treffenangebote (z.B. für Coaching), die du über die Eventfunktion quasi bewirbst, aber bei denen die Terminfindung erst noch stattfinden muss.

      </p>
    </article>

    <article class="container" id="three">
      <h2 id="sichtbarkeit">Sichtbarkeit für dein Event</h2>
      <p>
        Deine Events, Workshops und Aktionen werden auf <%= t("region.#{current_region.id}.domain_short") %> angezeigt und in das <%= t("region.#{current_region.id}.domain_short") %> Mail aufgenommen und an alle registrierten BewohnerInnen <%= t("region.#{current_region.id}.in_graetzl") %> verschickt, wenn dein Event näher rückt.
        <br><br>
        Die Events sind ohne Registrierung/Anmeldung einsehbar und werden z.B. auch über die Google Suche gefunden. Wir arbeiten laufend an der Suchmaschinen Optimierung, damit eure Events & Workshops auch über die Suchmaschinen Sichtbarkeit bekommen.
      </p>
    </article>

  </div>

  <div style="clear:both;"></div>

</section>

<%= render 'info_navigation' %>
