<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url("meta/#{current_region.host_id}/og_logo.png")
  )
%>

<section class="info -detail -zuckerl">

  <div class="hl-subtext">
    <h1><em>Zuckerl & Angebote</em></h1> 
    <p>Einen Monat lang die volle Aufmerksamkeit auf dich gerichtet.</p>
  </div>

  <div class="paperCard -cord1RT container -top">
    <div class="wrp zuckerlwrp">
      <div class="left">
        <p>
          <strong>Zuckerln</strong> sind besondere Angebote,
          Gutscheine & Rabattaktionen von Kreativen, Selbständigen und kleinen Unternehmen <%= t("region.#{current_region.id}.from_your_graetzl") %>.
        </p>
        <p>
          Mit dem Zuckerl wollen wir besonders Angebote der
          lokalen Unternehmen bei den Bewohnern ins Scheinwerferlicht rücken und
          gleichzeitig mithelfen, die lokalen Wirtschaftskreisläufe <%= t("region.#{current_region.id}.in_graetzl") %> zu beleben.
        </p>
        <p>
          <strong>Kurz gesagt:</strong> mit dem Zuckerl hast du die Möglichkeit günstig, einfach und unkompliziert Werbung für dein spezielles
            Angebot <%= t("region.#{current_region.id}.in_your_graetzl") %><%= ', Bezirk' if current_region.use_districts? %> oder in ganz <%= current_region %> zu schalten.
        </p>
      </div>
      <div class="right">

        <div class="zuckerlcard">
          <div class="wrp">
            <h3>Schalte jetzt dein Zuckerl für einen vollen Monat.</h3>
            <%= link_to 'Jetzt Zuckerl buchen', new_zuckerl_path, class: 'btn-primary -rose -shadow' %>
          </div>
        </div>
      </div>

    </div>
    <div class="card"></div>
  </div>


  <div class="wrp">
    <h3>Wo erscheint das Zuckerl?</h3>
    <p>
      Je nach eingestellter Sichtbarkeit deines Zuckerls (<%= t("region.#{current_region.id}.zuckerl.graetzl") %> oder <%= t("region.#{current_region.id}.zuckerl.region") %>),
      erscheint dein Angebot <%= t("region.#{current_region.id}.zuckerl.visibility_graetzl") %> auf <%= t("region.#{current_region.id}.domain_full") %>, oder sogar in ganz <%= current_region %>.
      Ausserdem werden Zuckerln in die jeweiligen <%= t("region.#{current_region.id}.graetzl") %>-Streams gestreut und erscheinen auch in den wöchentlichen <%= t("region.#{current_region.id}.graetzl") %>-Newslettern an die NutzerInnen.
    </p>
  </div>

  <div class="wrp">
    <h3>Was kostet das Zuckerl?</h3>
    <p>
      Ein Zuckerl mit der Sichtbarkeit <strong>"<%= t("region.#{current_region.id}.zuckerl.graetzl") %>" kostet <%= number_to_currency(Zuckerl.price(current_region) / 100) %></strong><span data-behavior="oldpricepreview"><%= " statt #{number_to_currency(Zuckerl.old_price(current_region) / 100)} " if Zuckerl.old_price(current_region) %></span> (inkl. 20% USt.).<br>
      Ein Zuckerl mit der Sichtbarkeit <strong>"<%= t("region.#{current_region.id}.zuckerl.region") %>" kostet <%= number_to_currency(Zuckerl.region_price(current_region) / 100) %></strong><span data-behavior="oldpricepreview"><%= " statt #{number_to_currency(Zuckerl.region_old_price(current_region) / 100)} " if Zuckerl.region_old_price(current_region) %></span> (inkl. 20% USt.).
    </p>
  </div>

  <div class="wrp">
    <h3>Kann ich die Laufzeit meines Zuckerls bestimmen?</h3>
    <p>Das Startdatum deines Zuckerls kannst du frei wählen. Die Laufzeit deines Zuckerls beträgt dann immer exakt einen Monat.<br>
    Möchtest du ein Zuckerl länger schalten, dann kannst du z.b. ein weiters Zuckerl buchen und das Startdatum dementsprechend setzen.</p>
  </div>

  <div class="wrp">
    <h3>Wie kann ich mein gebuchtes Zuckerl bearbeiten?</h3>
    <p>
      Du findest deine gebuchten Zuckerl unter "<%= link_to 'Buchungen verwalten', zuckerls_user_path %>". Solange dein Zuckerl noch nicht aktiv läuft, kannst du dieses dort auch bearbeiten. Wenn dein Zuckerl einmal aktiv ist, kann es nicht mehr bearbeitet werden. Solltest du unbedingt noch etwas ändern müssen, so kontaktiere uns unter: <%= t("region.#{current_region.id}.contact_email") %>.
      Löschen kannst du dein Zuckerl natürlich jederzeit.
    </p>
  </div>

  <div class="wrp">
    <h3>Wo finde ich eine Mwst Rechnung für mein Zuckerl?</h3>
    <p>
      Nachdem dein Zuckerl bezahlt wurde, senden wir dir deine Rechnung per E-Mail zu.
      Du kannst aber auch nachträglich eingeloggt im Bereich "<%= link_to 'Buchungen verwalten', zuckerls_user_path %>" deine Zuckerl Rechnungen downloaden.
    </p>
  </div>

  <div class="wrp">
    <h3>Kann ich auch mehrere Zuckerl schalten?</h3>
    <p>Wenn du möchtest, ja! Solltest du mehrere unterschiedliche Angebote in einem Monat kundtun, dann kannst du natürlich auch parallel mehrere Zuckerl einbuchen. Aus Erfahrung wissen wir aber, das nicht die Masse den Erfolg ausmacht, sondern die Kontinuität. Also bringe dich und deine Angebote lieber immer wieder über Monate verteilt in den Vordergrund und die Köpfe der Bewohner, als viele Zuckerln parallel auf einmal.</p>
  </div>

  <div class="wrp">
    <h3>Interesse, aber keine Idee für ein Zuckerl?</h3>
    <p>Wir helfen euch gerne dabei herauszufinden, welches eurer Angebote oder Aktionen ein schönes Zuckerl für die Bewohner sein könnte. Wir unterstützen euch auch beim Texten und beim Aussuchen von Bildmaterial.<br>
    Schreib uns einfach, wir würden uns freuen, unsere Erfahrung in diesem Bereich an euch weitergeben zu dürfen. (<%= t("region.#{current_region.id}.contact_email") %>)</p>
  </div>

  <%= link_to 'Jetzt Zuckerl buchen', new_zuckerl_path, class: 'btn-primary -rose -large -shadow letsstart' %>

  <div style="clear:both;"></div>

</section>

<%= render 'info_navigation' %>
