<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow'
  )
%>

<section class="info -detail">

  <div class="hl-subtext">
    <h1><em>Anbieter & Macherinnen</em></h1>
    <p>Für mehr Sichtbarkeit <%= t("region.#{current_region.id}.in_your_region") %>!</p>
  </div>

  <div class="paperCard -cord1RT container -top" id="zero">
    <div class="wrp">
      <p>
        <strong>Das virtuelle und interaktive Schaufenster</strong> ist der erste Schritt, um <%= t("region.#{current_region.id}.in_your_region") %> sichtbar zu werden!
        Du kannst sie mit nur wenigen Klicks einfach und schnell einrichten,
        sie ist mobil- und suchmaschinenoptimiert und sie ist kostenlos.
        Interessierte gelangen von deinem <%= t("region.#{current_region.id}.domain_short") %> Schaufenster zu deiner Website oder deinem online Shop.
      </p>
    </div>
    <div class="card"></div>
  </div>

  <aside>
    <div id="help_nav">
      <%= link_to info_path, class: "btn-primary -grey -ico" do %><%= icon_tag "arrow-left-2" %> Services Übersicht<% end %>
      <a href="#einrichten" class="btn-primary -mint" id="nav-one">Schaufenster einrichten</a>
      <a href="#neuigkeiten" class="btn-primary -mint" id="nav-two">Neuigkeiten posten</a>
    </div>
  </aside>

  <div class="mainContent">

    <article class="container" id="one">
      <h2 id="einrichten">Schaufenster einrichten</h2>
      <h3>So kommst du zu deiner Seite:</h3>
      <p>
        Wenn du dich auf <%= t("region.#{current_region.id}.domain_short") %> registriert hast und eingeloggt bist,
        dann klicke rechts oben neben deinem Profilbild auf das „Rädchen“ und dann auf den Menüpunkt <%= link_to 'Schaufenster', new_location_path %>.
        Einfach das Formular ausfüllen, wenn alle Felder ausgefüllt sind,
        schalten wir dir deine Seite frei und es kann losgehen.
      </p>

      <h3>Nun geht es zum Einrichten</h3>
      <p>
        Das Schaufenster ist dein Aushängeschild <%= t("region.#{current_region.id}.in_your_region") %>.
        Die größte Aufmerksamkeit bekommst du, wenn du dir bewusst machst, dass du als Mensch mit anderen Menschen sprichst.
        Und: Persönlichkeit ist der Joker!
    </p>
      <p>
        <b>Also ganze Sätze schreiben. Mehr Informationen und deine Expertise einfließen lassen. Gerne auch etwas von dir persönlich erzählen z.B. über deinen Background.</b>
      </p>
      <p>
        Wenn du nichts über dich erzählst, deine Spezialität nicht hervorhebst, dann nützt dir auch die Seite nichts.
        Solche Seiten schalten wir nicht frei, sondern geben in solchen Fällen noch einmal individuelle Hinweise,
        was man verbessern könnte. Wir wollen schließlich, dass sich Menschen auch für dich,
        dein Tun und deine Angebote interessieren &#x1f609;
      </p>

      <h3>Ein paar Tipps zu den einzelnen Feldern:</h3>

      <p>
        <em><strong>Name:</strong></em><br>
        Kurz und knapp der Name, die Bezeichnung deiner Tätigkeit. Das könnte jetzt der Name deines Geschäftes sein, oder wenn du selbständig bist z.b. „Webdesign - Marianne Musterfrau“.
      </p>
      <p>
        <em><strong>Slogan:</strong></em><br>
        In einem kurzen Satz deine Expertise, was du anbietest.
      </p>
      <p>
        <em><strong>Beschreibung:</strong></em><br>
        Tob dich aus, sei kreativ und vor allem sei persönlich – Das ist der Platz um dich und deine Tätigkeit vorzustellen!
      </p>
      <p>
        <em><strong>Produktgruppen / Tags:</strong></em><br>
        Weniger ist mehr, übertreibs nicht! Hier geht’s weniger darum alles, was du anbietest in allen Ausführungen aufzulisten,
        sondern in einigen wenigen guten Oberbegriffen dein Angebot zu beschreiben – Der Vorteil: Man sieht auf einem Blick was du tust:
        Gute Begrifflichkeiten sind z.b. Schmuck, Design, Yoga, Fotografie, Mode, Kunst, Workshops, Coaching, usw...
        Also einfach 4-5 gute Oberbegriffe angeben. Ganze Sätze sind hier fehl am Platz...
      </p>
      <p>
        <em><strong>Bilder:</strong></em><br>
        Tja, Bilder sind nun mal der erste Eindruck, der erste Blickfang!
        Daher: Schau darauf, dass diese was hermachen. Sie müssen nicht unbedingt professionell sein,
        aber sie sollten jedenfalls nicht zu klein sein, und natürlich sollen sie ins Format passen.
        Die idealen Abmessungen sind:
      </p>
      <p>
        <strong>- Coverphoto</strong>: Querformat – Ideal, ca. 1.000 mal 400 Pixel<br>
        <strong>- Profilbild</strong>: Quadratisch – Mindestens 500 mal 500 Pixel
      </p>
      <p>
        Solltest du Hilfe bei den Bildern oder auch sonst Unterstützung beim Einrichten deines Schaufensters benötigen,
        schreib uns an <%= t("region.#{current_region.id}.contact_email") %> - Gemeinsam bekommen wir das hin!
      </p>
    </article>

    <article class="container" id="two">
      <h2 id="neuigkeiten">Neuigkeiten veröffentlichen</h2>

      <h3>Treffen & Neuigkeiten in deinem Schaufenster veröffentlichen – So geht’s!</h3>
      <p>
        Für jede Region gibt es einen automatisierten Newsletter, in diesen kommst du mit deinen Inhalten rein.
        Wenn du also Treffen erstellst oder Neuigkeiten in deinem Schaufenster veröffentlichst,
        dann landest du damit automatisch im <%= t("region.#{current_region.id}.domain_short") %> Mail.
        <br><br>
        Diese tolle Möglichkeit funktioniert nur, wenn dir bewusst ist, dass am anderen Ende des Newsletters
        echte Menschen (BewohnerInnen aus deiner Region) sitzen, die deine Inhalte lesen.
      </p>
      <p>
        <strong>Deswegen achte auf die Frequenz deiner Updates und auf deine Inhalte.</strong> Es bringt nichts jeden Tag irgendetwas kundzutun oder auf einmal 20 Treffen für die nächsten Monate zu erstellen. Damit schadest du dir selber, weil deine Einträge dann als Spam wahrgenommen werden.
      </p>

      <h3>Wofür sind also nun Treffen geeignet?</h3>
      <p>
        Wenn du etwas organisierst: einen Workshop, - ein Event, einen Schnupperkurs, oder sonst etwas was real oder digital <%= t("region.#{current_region.id}.in_region") %> stattfindet - dann kannst du hierfür ein Treffen kostenlos erstellen.
      </p>

      <h3>Und wofür sind Neuigkeiten geeignet?</h3>
      <p>
        <strong>Neuigkeiten sind kurze Updates:</strong><br>
        Zum Beispiel, wenn du ein neues Label in dein Sortiment aufnimmst, dann kannst du hier ein paar Infos zum neuen Label schreiben.
        Oder, wenn du eine neue Dienstleistung anbietest oder etwas Neues startest.
        Eine Neuigkeit muss kein langer Text sein, auch kurze Beiträge bringen dich ins Gedächtnis.
        Wenn du Neuigkeiten veröffentlichst, dann wird dein Schaufenster dadurch ganz nach oben bei “Anbieter & Macher*innen” gelistet.
      </p>
     </article>

  </div>

  <div style="clear:both;"></div>

</section>

<%= render 'info_menu' %>
