<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/coop-share-menschen.png')
  )
%>

<section class="help -mentoring-page">

  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1>imGrätzl - Mentoring Programm</h1>
      <h2>Komm in dein Unterstützer Team</h2>
    </div>
  </div>

  <div class="paperCard -cord1RT -header -top">
    <div class="wrp">
      <a href="#teilnahme" class="badge -mint -arrow">
        Jetzt durchstarten!
      </a>
      <p>
        <strong>
          Das imGrätzl Mentoring-Programm für Selbstständige und MacherInnen startet.
        </strong>
      </p>
      <p>
        Die imGrätzl.at Unterstützer-Teams werden ins Leben gerufen, um Selbstständige, GründerInnen
        und MacherInnen darin zu bestärken ihre Ideen auf den Boden zu bringen und sie gleichzeitig
        in ein lokales Netzwerk aus Gleichgesinnten einzubinden.
      </p>
      <p>
        Die TeilnehmerInnen werden in einem Team verbunden, das sie 5 Monate bei der Umsetzung ihrer Ideen
        begleitet, fördert und trägt. Es geht um gegenseitige Motivation, Wertschätzung und darum die
        Begeisterung für den Weg immer wieder aufs Neue anzufachen und Hürden gemeinsam aus dem Weg
        zu räumen. MentorInnen aus den unterschiedlichsten Bereichen steuern ihre jahrelange Erfahrung,
        Expertise und Kontakte bei.
      </p>
    </div>
    <div class="card"></div>
  </div>

  <div class="hl-subtext">
    <h1><em>Eure MentorInnen</em></h1>
    <p>Sie begleiten euch mit ihrer Erfahrung und Expertise und öffnen Netzwerke für euch.</p>
  </div>

  <!-- MENTORINNEN CARDBOXES-->
  <div class="cardBoxCollection -tripple">

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-sabina-haas-possibilistin-und-karriere-coach/", class: 'bloglink', target: '_blank' do %>
        <%= image_tag('info/mentorin-sabina-haas.jpg', class: 'img-round') %>
        <h2>Sabina Haas</h2>
      <% end %>
      <p class="title">Possibilistin und Karriere Coach</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-sibylle-exel-rauth-grafikerin-mit-sinn-fuer-haptik-print/", class: 'bloglink', target: '_blank' do %>
        <%= image_tag('info/mentorin-sibylle-exel-rauth.jpg', class: 'img-round') %>
        <h2>Sibylle Exel-Rauth</h2>
      <% end %>
      <p class="title">GrafikerIn – Mit Sinn für Haptik & Print</p>
    </div>

    <div class="paperCard -cord1RT">
      <div class="wrp">
        <p class="title">
          <strong>
            Als MentorInnen konnten wir einen Kreis an inspirierenden Menschen gewinnen,
            mit denen wir selber unheimlich gerne zusammenarbeiten möchten.
          </strong>
        </p>
        <p>
          Manche kennen wir schon seit Jahren, andere hatten wir im Sichtfeld und
          wieder andere sind durch Empfehlungen zu uns gestossen. Die ExpertInnen
          unterstützen euch in den Bereichen Positionierung, Marketing, Unternehmensaufbau,
          Fokussierung und persönliche Weiterentwicklung, Förderungen, Entwicklung von
          Geschäftsmodellen, Events, Kundengewinnung, Grafik, Buchhaltung und digitale Tools.
        </p>
      </div>
      <div class="card"></div>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-sabine-melnicki-expertin-digitalisierung-webseiten-wissensmanagement/", class: 'bloglink', target: '_blank' do %>
        <%= image_tag('info/mentorin-sabine-melnicki.jpg', class: 'img-round') %>
        <h2>Sabine Melnicki</h2>
      <% end %>
      <p class="title">Expertin Digitalisierung, Webseiten, Wissensmanagement</p>
    </div>

    <!--
    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-georg-dinhobl-rechnen-buchen-bunter-hund/", class: 'bloglink', target: '_blank' do %>
        <%= image_tag('info/mentorin-georg-dinhobl.jpg', class: 'img-round') %>
        <h2>Georg Dinhobl</h2>
      <% end %>
      <p class="title">Rechnen/Buchen/Bunter Hund</p>
    </div>
    -->

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-katharina-sabetzer-kommunikationskonzepte-social-media-textierungen/", class: 'bloglink', target: '_blank' do %>
        <%= image_tag('info/mentorin-katharina-sabetzer.jpg', class: 'img-round') %>
        <h2>Katharina Sabetzer</h2>
      <% end %>
      <p class="title">Kommunikationskonzepte, Social Media, Textierungen</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-karin-kiendler-spezialistin-foerderungen-und-rechtsberatung/", class: 'bloglink', target: '_blank' do %>
        <%= image_tag('info/mentorin-karin-kiendler.jpg', class: 'img-round') %>
        <h2>Karin Kiendler</h2>
      <% end %>
      <p class="title">Spezialistin Förderungen und Rechtsberatung</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-leonhard-kern-den-kunden-im-fokus/", class: 'bloglink', target: '_blank' do %>
        <%= image_tag('info/mentorin-leonhard-kern.jpg', class: 'img-round') %>
        <h2>Leonhard Kern</h2>
      <% end %>
      <p class="title">Den Kunden im Fokus</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-marlies-stohl-solution-scout-innovative-connector-tausendsassa/", class: 'bloglink', target: '_blank' do %>
        <%= image_tag('info/mentorin-marlies-stohl.jpg', class: 'img-round') %>
        <h2>Marlies Stohl</h2>
      <% end %>
      <p class="title">solution scout, innovative connector, Tausendsassa</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-harald-neger-umdieeckedenker-netzwerker/", class: 'bloglink', target: '_blank' do %>
        <%= image_tag('info/mentorin-harald-neger.jpg', class: 'img-round') %>
        <h2>Harald Neger</h2>
      <% end %>
      <p class="title">umdieEckeDenker & Netzwerker</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-christoph-schwarz-geschaeftsmodelle-unternehmensaufbau/", class: 'bloglink', target: '_blank' do %>
        <%= image_tag('info/mentorin-christoph-schwarz.jpg', class: 'img-round') %>
        <h2>Christoph Schwarz</h2>
      <% end %>
      <p class="title">Geschäftsmodelle & Unternehmensaufbau</p>
    </div>

  </div>
  <!-- END MENTORINNEN CARDBOXES-->


  <!-- DER ABLAUF -->
  <div class="hl-subtext">
    <h1><em>Der Ablauf</em></h1>
    <p>
      Was dich im Unterstützer-Team erwartet.
    </p>
  </div>

  <div class="paperCard -cord1RT -top">
    <div class="wrp">
      <p>
        <strong>
          Das imGrätzl Team stellt das Unterstützer-Team zusammen und organisiert es,
          die MentorInnen sind sorgfältig ausgewählt und ExpertInnen auf ihrem Fachgebiet.
        </strong>
      </p>
      <p>
        Der Austausch mit dem Unterstützer-Team erfolgt hauptsächlich über eine online Gruppe, es stehen
        aber auch ganz reale Treffen auf dem Programm. Die persönliche Betreuung in Kleingruppen
        und Unterstützung bei der Umsetzung bringen handfeste Ergebnisse. Deshalb sollten
        Interessierte unbedingt ein konkretes Ziel, Projekt, oder Idee in ihr Unterstützungs-Team
        mitbringen.
      </p>
    </div>
    <div class="card"></div>
  </div>

  <div class="ablauf">
    <ul>
      <li>
        <strong>Bewerbung bis 18.02.2019, das Programm startet am 05.03.2019</strong>
      </li>
      <li>
        <strong>Kick-off Treffen am 04.03.2019</strong> mit allen TeilnehmerInnen und den MentorInnen.
      </li>
      <li><strong>Es stehen maximal 15 Plätze zur Verfügung.</strong></li>
      <li>
        <strong>Das Herzstück:</strong> Das Prinzip ist ganz einfach! Am Anfang der Woche veröffentlichen alle TeilnehmerInnen stichpunktartig drei Teilziele für die aktuelle Woche. Die Teilziele zahlen dabei auf das große Ziel ein. Am Ende der Woche berichten alle, welche Teilziele erreicht wurden und welche Hürden aufgetreten sind. Die anderen TeilnehmerInnen und MentorInnen stehen mit Rat und Tat, aber auch Kontakten zur Seite und zeigen auf, wie die individuellen Hürden genommen werden können. Die TeilnehmerInnen geben Feedback, welchen Rat sie umsetzen werden. Daraus entwickelt sich eine Dynamik des Tuns und der gleichzeitigen Reflexion. Schritt-für-Schritt und ganz entspannt geht es voran.
      </li>
      <li>
        <strong>Alle drei Wochen</strong> gibt es einen Live-Video-Chat zu unterschiedlichen Themenfeldern, in denen individuelle Fragen von den MentorInnen beantworten werden.
      </li>
      <li>
        <strong>Alle fünf Wochen</strong> können die TeilnehmerInnen bei einem realen Treffen den persönlichen Kontakt vertiefen.
      </li>
      <li>
        <strong>Extra:</strong> Auf Wunsch wird ein Arbeitsplatz für 80 €/Monat zur Verfügung gestellt (Atelier, Praxis oder Büro). Damit soll das Unterstützer Team auch ganz analog die Möglichkeit bekommen gemeinsam durchzustarten.
      </li>
      <li>
        <strong>Das Programm dauert bis Juli, also 5 Monate.</strong> Im Herbst gibt es noch einmal ein Get-Togehter!
      </li>
      <li>
        <strong>Kosten:</strong> Gebeten wird um eine Spende von 100€, die Spenden-Einnahmen kommen den Projekten <%= link_to 'Nut & Feder', 'https://nutundfeder.at', target: '_blank' %> und <%= link_to 'Sindbad', 'http://www.sindbad.co.at', target: '_blank' %> zu gleichen Teilen zugute. Das Programm hat einen Wert von mehreren tausend Euro, aber da alle Mitwirkenden sich ehrenamtlich engagieren, können wir alle gemeinsam auch noch diese beiden tollen Projekte in Wien unterstützen. Yeah!
      </li>
    </ul>
  </div>
  <!-- END DER ABLAUF -->


  <!-- TEILNEHMEN -->
  <div class="hl-subtext" id="teilnahme">
    <h1><em>So kannst du teilnehmen</em></h1>
    <p>
      Bei der Zusammenstellung der Unterstützer-Teams geht es in erster Linie darum, dass sich die TeilnehmerInnen gut ergänzen, deshalb haben wir ein paar Fragen vorbereitet:
    </p>
  </div>

  <div class="anmeldung cardBox <%= '-login' if !current_user %>"  <%= 'data-featherlight=#login-panel-modal' if !current_user %>>




    <% if !Group.where(id: 7).empty? %>
      <% group = Group.find_by_id(7) %>
      <%= form_tag request_join_group_path(group) do %>
        <% if group.group_join_questions.present? %>

          <% group.group_join_questions.each do |join_question| %>
            <h4><%= join_question.question %></h4>
            <div class="input-textarea">
              <%= text_area_tag :"join_answers[]", nil, cols: 40, rows: 3, placeholder: 'Deine Antwort ..', required: true %>
            </div>
          <% end %>

        <% else %>

          <div class="input-textarea">
            <%= text_area_tag :request_message, nil, cols: 40, rows: 3, placeholder: 'Schreib noch einen kurzen Satz über Dich, bzw. warum Du beitreten möchtest ..', required: true %>
          </div>

        <% end %>
        <%= submit_tag "Anmeldung abschicken", class: 'btn-primary -large' %>
      <% end %>
    <% else %>
      Keine Gruppe verknüpft ...
    <% end %>
  </div>
  <!-- END TEILNEHMEN -->

  <!----------- LOGIN PANEL MODAL ----------->
  <%= render 'shared/login_panel',redirect: request.original_url ,origin: 'mentoring' %>
  <!----------- LOGIN PANEL MODAL ----------->

  <div class="footer">
    <p>
      Die coop & share Services inkl. der Unterstützer-Teams auf imGrätzl.at sind Teil des F&E Projektes Mischung: Nordbahnhof (Lead TU Wien).
      Dieses Projekt wird aus Mitteln des Klima- und Energiefonds gefördert und im Rahmen der Smart-Cities-Initiative durchgeführt.
    </p>
  </div>

</section>
