<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/coop-share-menschen.png')
  )
%>

<section class="help -mentoring-page">
  <div class="imgHeader -fullwidth">
    <%= image_tag('info/mentoring-team2-anmeldung.png', class: 'anmeldung-badge') %>
    <div class="wrp">
      <h1>Komm in dein Unterstützer-Team</h1>
    </div>
  </div>

  <div class="paperCard -cord1RT -header -top">
    <div class="wrp">
      <a href="#teilnahme" class="badge -mint -arrow">
        Jetzt durchstarten!
      </a>
      <p>
        <strong>
          Das imGrätzl Unterstützer-Programm für Selbstständige und MacherInnen startet.
        </strong>
      </p>
      <p>
        Die imGrätzl.at Unterstützer-Teams werden ins Leben gerufen, um Selbstständige,
        GründerInnen und MacherInnen darin zu bestärken ihre Ideen auf den Boden zu bringen
        und sie gleichzeitig in ein lokales Netzwerk aus Gleichgesinnten einzubinden.
      </p>
      <p>
        Die TeilnehmerInnen werden in einem Team verbunden, das sie 5 Monate bei der Umsetzung
        ihrer Ideen begleitet, fördert und trägt. Es geht um gegenseitige Motivation,
        Wertschätzung und darum die Begeisterung für den Weg immer wieder aufs Neue
        anzufachen und Hürden gemeinsam aus dem Weg zu räumen.
      </p>
    </div>
    <div class="card"></div>
  </div>



  <!-- SLIDER -->

  <div class="lightSliderWrapper card-slider-container">
    <div class="cardBoxCollection -quotes" id="card-slider">

      <!-- Single Quote -->
      <div class="cardBox -quote">
        <div class="user">
          <div class="avatar">
              <a href="https://hands-of-change.at" target="_blank"><%= image_tag('info/statement_monika.jpg', class: 'attachment user avatar img-round') %></a>
          </div>
          <div class="infos">
            <span>Monika, von<br><a href="https://hands-of-change.at" target="_blank">hands-of-change.at</a></span>
          </div>
        </div>
        <blockquote class="txt">
          &#8222;
          Teil des Unterstützer-Teams zu sein bedeutet für mich eingebettet zu sein in eine Gruppe von Gleichgesinnten, es wird Raum geboten für Fragen, Zweifel, Freud, Leid und es findet ein absolut wertschätzender Umgang miteinander statt. Darüber hinaus gibt es wertvolle Tipps und Informationen der anderen TeilnehmerInnen bzw. der ExpertInnen.
          &#8220;
        </blockquote>
      </div>

      <!-- Single Quote -->
      <div class="cardBox -quote">
        <div class="user">
          <div class="avatar">
            <a href="http://www.demgutenmehrgewicht.at" target="_blank"><%= image_tag('info/statement_ines.jpg', class: 'attachment user avatar img-round') %></a>
          </div>
          <div class="infos">
            <span>Ines, von<br><a href="http://www.demgutenmehrgewicht.at" target="_blank">demguten<br>mehrgewicht.at</a></span>
          </div>
        </div>
        <blockquote class="txt">
          &#8222;
          Die gegenseitige Unterstützung motiviert mich dazu, viel gezielter an meinem Projekt zu arbeiten. Ganz wunderbar finde ich, dass die Mitglieder des Unterstützerteams sich gegenseitig so viel Mut machen und dass der Umgang miteinander so wertschätzend ist. Und der Input aus so vielen unterschiedlichen Branchen ist Gold wert!
          &#8220;
        </blockquote>
      </div>

      <!-- Single Quote -->
      <div class="cardBox -quote">
        <div class="user">
          <div class="avatar">
              <a href="https://www.robertkalb-photographien.at" target="_blank"><%= image_tag('info/statement_robert.jpg', class: 'attachment user avatar img-round') %></a>
          </div>
          <div class="infos">
            <span>Robert, von<br><a href="https://www.robertkalb-photographien.at" target="_blank">robertkalb-<br>photographien.at</a></span>
          </div>
        </div>
        <blockquote class="txt">
          &#8222;
          Danke an das Team, das mit unterstützenden Ideen und neuen Ansichten sehr wertvolle Hilfe für "eine andere Sichtweise" ist.
          Unterstützt hat es mich, um ein anderes "Überziel" zu finden, das nicht unbedingt mit der Fotografie zu tun hat. Ganz besonders mag ich das "Treffen" der Gruppe!
          &#8220;
        </blockquote>
      </div>

      <!-- Single Quote -->
      <div class="cardBox -quote">
        <div class="user">
          <div class="avatar">
              <a href="https://hutmode-biester.com" target="_blank"><%= image_tag('info/statement_eva.jpg', class: 'attachment user avatar img-round') %></a>
          </div>
          <div class="infos">
            <span>Eva, von<br><a href="https://hutmode-biester.com" target="_blank">Hutmode BIESTER</a></span>
          </div>
        </div>
        <blockquote class="txt">
          &#8222;
          Das Programm ist absolut großartig! Ich habe in kürzester Zeit Gedanken und Schritte gewagt, die ich sonst wahrscheinlich über Monate vor mir hergeschoben hätte. Am liebsten würde ich gleich nochmal mitmachen... :)
          &#8220;
        </blockquote>
      </div>


    </div>
  </div>
  <!-- /SLIDER -->



  <!-- DER ABLAUF -->
  <div class="hl-subtext">
    <h1><em>Was dich im Unterstützer-Team erwartet</em></h1>
  </div>

  <div class="paperCard -cord1RT -top">
    <div class="wrp">
      <p>
        <strong>
          Das imGrätzl Team stellt das Unterstützer-Team zusammen und organisiert die Gruppe. Das Programm ist eine "Ins-Tun-kommen & Dranbleiben" Motivation. Du wirst Woche für Woche begleitet und das fünf Monate lang.
        </strong>
      </p>
      <p>
        Der Austausch mit dem Unterstützer-Team erfolgt hauptsächlich über eine online Gruppe,
        es stehen aber auch ganz reale Treffen auf dem Programm. Die persönliche Betreuung
        in Kleingruppen und Unterstützung bei der Umsetzung bringen handfeste Ergebnisse.
        Deshalb sollten Interessierte unbedingt ein konkretes Ziel, Projekt, oder Idee in
        ihr Unterstützungs-Team mitbringen.
      </p>
    </div>
    <div class="card"></div>
  </div>

  <div class="hl-subtext">
    <h1><em>Der Ablauf</em></h1>
  </div>

  <%= image_tag('info/mentoring-illu.png', class: 'mentoring-illu') %>


  <div class="ablauf">
    <ul>
      <li>
        <strong>Persönliches Erstgespräch</strong>, damit wir dein Vorhaben und deine Ziele kennenlernen.
      </li>
      <li>
        <strong>Kick-off Treffen</strong> mit allen TeilnehmerInnen und den ExpertInnen <strong>Anfang September</strong>.
      </li>
      <li>
        <strong>2 x Workshops zum Start:</strong> wie formulierst du gute Ziele und wie brichst du dein Vorhaben auf kleine Schritte runter.
      </li>
      <li>
        <strong>Es stehen maximal 15 Plätze zur Verfügung.</strong> Bei der Zusammenstellung des Teams wird auf einen guten Mix der Vorhaben geachtet, damit zwischen den TeilnehmerInnen ganz viele Synergien entstehen können.
      </li>
      <li>
        <strong>Das Herzstück:</strong> Das Prinzip ist ganz einfach! Am Anfang der Woche veröffentlichen alle TeilnehmerInnen stichpunktartig drei Teilziele für die aktuelle Woche in der digitalen Unterstützer-Gruppe. Die Teilziele zahlen dabei auf das große Ziel ein. Am Ende der Woche berichten alle, welche Teilziele erreicht wurden und welche Hürden aufgetreten sind. Die anderen TeilnehmerInnen und ExpertInnen stehen mit Rat und Tat, aber auch Kontakten zur Seite und zeigen auf, wie die individuellen Hürden genommen werden können. Die TeilnehmerInnen geben Feedback, welchen Rat sie umsetzen werden. Daraus entwickelt sich eine Dynamik des Tuns und der gleichzeitigen Reflexion. Schritt-für-Schritt und ganz entspannt geht es voran. Die Gruppe wird vom imGrätzl Team persönlich betreut.
      </li>
      <li>
        <strong>Jeden Monat</strong> gibt es einen Live-Video-Chat zu unterschiedlichen Themenfeldern, in denen deine Fragen von ExpertInnen beantworten werden.
      </li>
      <li>Wenn es deinem Vorhaben hilft und es zu imGrätzl.at passt, dann <strong>pushen wir dich</strong> auch auf unseren <strong>imGrätzl Kanälen</strong>.</li>
      <li>
        <strong>Alle vier Wochen</strong> vertiefen die TeilnehmerInnen bei einem realen Treffen den persönlichen Kontakt.
      </li>
      <li>
        <strong>Das Programm dauert 5 Monate.</strong>
      </li>
      <li>
        <strong>Kosten:</strong> 290 € (inkl. USt.)
      </li>
    </ul>
  </div>
  <!-- END DER ABLAUF -->



  <div class="hl-subtext">
    <h1><em>Eure ExpertInnen</em></h1>
    <p>
      Die imGrätzl ExpertInnen begleiten die Unterstützer-Teams mit ihrer Erfahrung und Expertise. Lernt sie bei den Treffen und Workshops kennen und holt euch Rat in den online Fragerunden.
    </p>
  </div>

  <!-- Experten CARDBOXES-->
  <div class="cardBoxCollection -mentors">

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-sabina-haas-possibilistin-und-karriere-coach/", target: '_blank' do %>
        <%= image_tag('info/mentorin-sabina-haas.jpg', class: 'img-round') %>
        <h3>Sabina Haas</h3>
      <% end %>
      <p class="title">Possibilistin und Karriere Coach</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-sibylle-exel-rauth-grafikerin-mit-sinn-fuer-haptik-print/", target: '_blank' do %>
        <%= image_tag('info/mentorin-sibylle-exel-rauth.jpg', class: 'img-round') %>
        <h3>Sibylle Exel-Rauth</h3>
      <% end %>
      <p class="title">GrafikerIn – Mit Sinn für Haptik & Print</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-katharina-sabetzer-kommunikationskonzepte-social-media-textierungen/", target: '_blank' do %>
        <%= image_tag('info/mentorin-katharina-sabetzer.jpg', class: 'img-round') %>
        <h3>Katharina Sabetzer</h3>
      <% end %>
      <p class="title">Kommunikationskonzepte, Social Media, Textierungen</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-karin-kiendler-spezialistin-foerderungen-und-rechtsberatung/", target: '_blank' do %>
        <%= image_tag('info/mentorin-karin-kiendler.jpg', class: 'img-round') %>
        <h3>Karin Kiendler</h3>
      <% end %>
      <p class="title">Spezialistin Förderungen und Rechtsberatung</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-leonhard-kern-den-kunden-im-fokus/", target: '_blank' do %>
        <%= image_tag('info/mentorin-leonhard-kern.jpg', class: 'img-round') %>
        <h3>Leonhard Kern</h3>
      <% end %>
      <p class="title">Den Kunden im Fokus</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/vorgestellt/mentoring-team/we-proudly-present-das-imgraetzl-mentoring-team-david-bongard-online-marketing-seo/", target: '_blank' do %>
        <%= image_tag('info/mentorin-david-bongard.jpg', class: 'img-round') %>
        <h3>David Bongard</h3>
      <% end %>
      <p class="title">Online-Marketing & SEO</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/vorgestellt/mentoring-team/we-proudly-present-das-imgraetzl-mentoring-team-elisabeth-siencnik-finanzplanung-und-controlling/", target: '_blank' do %>
        <%= image_tag('info/mentorin-elisabeth-siencnik.jpg', class: 'img-round') %>
        <h3>Elisabeth Siencnik</h3>
      <% end %>
      <p class="title">Finanzplanung und Controlling</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-sebastian-howorka-finanzen-business-case-entwicklung/", target: '_blank' do %>
        <%= image_tag('info/mentorin-sebastian-howorka.jpg', class: 'img-round') %>
        <h3>Sebastian Howorka</h3>
      <% end %>
      <p class="title">Finanzen – Business Case Entwicklung</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-sabine-melnicki-expertin-digitalisierung-webseiten-wissensmanagement/", target: '_blank' do %>
        <%= image_tag('info/mentorin-sabine-melnicki.jpg', class: 'img-round') %>
        <h3>Sabine Melnicki</h3>
      <% end %>
      <p class="title">Expertin Digitalisierung, Webseiten, Wissensmanagement</p>
    </div>

  </div>
  <!-- END Experten CARDBOXES-->


  <!-- TEILNEHMEN -->
  <div class="hl-subtext" id="teilnahme">
    <h1><em>So kannst du teilnehmen</em></h1>
    <p>
      Bei der Zusammenstellung der Unterstützer-Teams geht es in erster Linie darum, dass sich die TeilnehmerInnen gut ergänzen, deshalb haben wir ein paar Fragen vorbereitet:
    </p>
  </div>

  <div class="anmeldung cardBox <%= '-login' if !current_user %>"  <%= 'data-featherlight=#login-panel-modal' if !current_user %>>
    <% if !Group.where(id: 28).empty? %>
      <% group = Group.find_by_id(28) %>
      <%= form_tag request_join_group_path(group) do %>
        <% if group.group_join_questions.present? %>

          <% group.group_join_questions.each do |join_question| %>
            <h4><%= join_question.question %></h4>
            <div class="input-textarea">
              <%= text_area_tag :"join_answers[]", nil, cols: 40, rows: 3, placeholder: 'Deine Antwort ..', required: true %>
            </div>
          <% end %>

        <% else %>

          <div class="input-textarea">
            <%= text_area_tag :request_message, nil, cols: 40, rows: 3, placeholder: 'Schreib noch einen kurzen Satz über Dich, bzw. warum Du beitreten möchtest ..', required: true %>
          </div>

        <% end %>
        <%= submit_tag "Anmeldung abschicken", class: 'btn-primary -large' %>
      <% end %>
    <% else %>
      Keine Gruppe verknüpft ...
    <% end %>
  </div>
  <!-- END TEILNEHMEN -->

  <!----------- LOGIN PANEL MODAL ----------->
  <%= render 'shared/login_panel',redirect: request.original_url ,origin: 'mentoring' %>
  <!----------- LOGIN PANEL MODAL ----------->

</section>
