<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/coop-share-menschen.png')
  )
%>

<section class="help -mentoring-page">
  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1>Komm in dein Unterstützer-Team</h1>
    </div>
  </div>

  <div class="paperCard -cord1RT -header -top">
    <div class="wrp">
      <a href="#teilnahme" class="badge -mint -arrow">
        Jetzt <br>anmelden
      </a>
      <p>
        <strong>
          Das imGrätzl Unterstützer-Programm für Selbstständige und MacherInnen startet.
        </strong>
      </p>
      <p>
        Die imGrätzl.at Unterstützer-Teams werden zweimal im Jahr gebildet, um Selbstständige, GründerInnen und MacherInnen darin zu bestärken ihre Ideen auf den Boden zu bringen und sie gleichzeitig in ein lokales Netzwerk aus Gleichgesinnten einzubinden.
      </p>
      <p>
        Die TeilnehmerInnen werden in einem Team verbunden, das sie 3 Monate bei der Umsetzung ihrer Ideen begleitet, fördert und trägt. Es geht um gegenseitige Motivation, Wertschätzung und darum die Begeisterung für den Weg immer wieder aufs Neue anzufachen und Hürden gemeinsam aus dem Weg zu räumen.
      </p>
      <p>
        <strong>
          Die Plätze sind begrenzt. Möchtest du dabei sein, dann melde dich am Besten gleich an.
        </strong>
      </p>
    </div>
    <div class="card"></div>
  </div>



  <!-- SLIDER -->

  <div class="lightSliderWrapper card-slider-container">
    <div class="cardBoxCollection -quotes" id="card-slider">

      <!-- Single Quote -->
      <div class="cardBox -quote">
        <div class="user">
          <div class="avatar">
              <a href="https://hands-of-change.at" target="_blank"><%= image_tag('info/statement_monika.jpg', class: 'attachment user avatar img-round') %></a>
          </div>
          <div class="infos">
            <span>Monika, von<br><a href="https://hands-of-change.at" target="_blank">hands-of-change.at</a></span>
          </div>
        </div>
        <blockquote class="txt">
          &#8222;
          Teil des Unterstützer-Teams zu sein bedeutet für mich eingebettet zu sein in eine Gruppe von Gleichgesinnten, es wird Raum geboten für Fragen, Zweifel, Freud, Leid und es findet ein absolut wertschätzender Umgang miteinander statt. Darüber hinaus gibt es wertvolle Tipps und Informationen der anderen TeilnehmerInnen bzw. der ExpertInnen.
          &#8220;
        </blockquote>
      </div>

      <!-- Single Quote -->
      <div class="cardBox -quote">
        <div class="user">
          <div class="avatar">
            <a href="http://www.demgutenmehrgewicht.at" target="_blank"><%= image_tag('info/statement_ines.jpg', class: 'attachment user avatar img-round') %></a>
          </div>
          <div class="infos">
            <span>Ines, von<br><a href="http://www.demgutenmehrgewicht.at" target="_blank">demguten<br>mehrgewicht.at</a></span>
          </div>
        </div>
        <blockquote class="txt">
          &#8222;
          Die gegenseitige Unterstützung motiviert mich dazu, viel gezielter an meinem Projekt zu arbeiten. Ganz wunderbar finde ich, dass die Mitglieder des Unterstützerteams sich gegenseitig so viel Mut machen und dass der Umgang miteinander so wertschätzend ist. Und der Input aus so vielen unterschiedlichen Branchen ist Gold wert!
          &#8220;
        </blockquote>
      </div>

      <!-- Single Quote -->
      <div class="cardBox -quote">
        <div class="user">
          <div class="avatar">
              <a href="https://www.robertkalb-photographien.at" target="_blank"><%= image_tag('info/statement_robert.jpg', class: 'attachment user avatar img-round') %></a>
          </div>
          <div class="infos">
            <span>Robert, von<br><a href="https://www.robertkalb-photographien.at" target="_blank">robertkalb-<br>photographien.at</a></span>
          </div>
        </div>
        <blockquote class="txt">
          &#8222;
          Danke an das Team, das mit unterstützenden Ideen und neuen Ansichten sehr wertvolle Hilfe für "eine andere Sichtweise" ist.
          Unterstützt hat es mich, um ein anderes "Überziel" zu finden, das nicht unbedingt mit der Fotografie zu tun hat. Ganz besonders mag ich das "Treffen" der Gruppe!
          &#8220;
        </blockquote>
      </div>

      <!-- Single Quote -->
      <div class="cardBox -quote">
        <div class="user">
          <div class="avatar">
              <a href="https://hutmode-biester.com" target="_blank"><%= image_tag('info/statement_eva.jpg', class: 'attachment user avatar img-round') %></a>
          </div>
          <div class="infos">
            <span>Eva, von<br><a href="https://hutmode-biester.com" target="_blank">Hutmode BIESTER</a></span>
          </div>
        </div>
        <blockquote class="txt">
          &#8222;
          Das Programm ist absolut großartig! Ich habe in kürzester Zeit Gedanken und Schritte gewagt, die ich sonst wahrscheinlich über Monate vor mir hergeschoben hätte. Am liebsten würde ich gleich nochmal mitmachen... :)
          &#8220;
        </blockquote>
      </div>


    </div>
  </div>
  <!-- /SLIDER -->



  <!-- DER ABLAUF -->
  <div class="hl-subtext">
    <h1><em>Was dich im Unterstützer-Team erwartet</em></h1>
  </div>

  <div class="paperCard -cord1RT -top">
    <div class="wrp">
      <p>
        <strong>
          Das imGrätzl Team stellt das Unterstützer-Team zusammen und organisiert die Gruppe. Das Programm ist eine "Ins-Tun-kommen & Dranbleiben" Motivation. Du wirst Woche für Woche begleitet und das 3 Monate lang.
        </strong>
      </p>
      <p>
        Der Austausch mit dem Unterstützer-Team erfolgt hauptsächlich über eine online Gruppe, es stehen aber auch ganz reale Treffen auf dem Programm.
        Alle TeilnehmerInnen bringen ein konkretes Ziel, Projekt oder Vorhaben in ihr Unterstützer-Team mit und planen Zeit für die Umsetzung ein. Daraus folgen handfeste Ergebnisse, weil sich das Wollen ins Machen verwandelt.
      </p>
    </div>
    <div class="card"></div>
  </div>

  <div class="hl-subtext">
    <h1><em>Der Ablauf</em></h1>
  </div>

  <%= image_tag('info/mentoring-illu.png', class: 'mentoring-illu') %>


  <div class="ablauf">
    <ul>
      <li>
        <strong>Persönliches und ausführliches Erstgespräch (online)</strong>, damit wir dich, dein Vorhaben und deine Ziele kennenlernen.
      </li>
      <li>
        <strong>Pro Gruppe stehen 15 Plätze zur Verfügung.</strong> Bei der Zusammenstellung des Teams wird auf einen guten Mix der Vorhaben geachtet, damit zwischen den Teilnehmer*innen viele Synergien entstehen können.
      </li>
      <li>
        <strong>Das Herzstück:</strong> Die Vorhaben werden in kleine und machbare Arbeitsschritte heruntergebrochen – das erleichtert die Umsetzung. Jede Woche überlegst du dir drei machbare Arbeitspakete, die dich deinem Vorhaben näher bringen. Am Anfang der Woche veröffentlichen alle Teilnehmer*innen stichpunktartig ihre drei Arbeitspakete für die aktuelle Woche in der digitalen Unterstützer-Gruppe auf imGrätzl. Am Ende der Woche berichten alle, welche Arbeitspakete umgesetzt wurden und welche Hürden aufgetreten sind. Die anderen Teilnehmer*innen und das imGrätzl Team stehen mit Rat und Tat, aber auch Kontakten zur Seite und zeigen auf, wie die individuellen Hürden genommen werden können.
      </li>
      <li>
        <strong>Daraus entwickelt sich eine Dynamik des Tuns</strong> und der gleichzeitigen Reflexion. Schritt für Schritt und jede*r im eigenen Tempo. Durch die wöchentliche Wiederholung wird die Arbeit an deinem Vorhaben zu einer neuen Gewohnheit. Das ist die Zutat, die du brauchst, um auch größere Meilensteine zu erreichen.
      </li>
      <li>
        <strong>Montags und freitags erinnert dich das imGrätzl-Team</strong> per Mail aktiv zu werden, oft packen wir da auch noch etwas zusätzliche Inspiration in das Mail rein.
      </li>
      <li>
        <strong>Alle zwei Wochen gibt es eine Update Runde via Zoom Call</strong>, damit wir uns einfach näher sind und uns nicht aus den Augen verlieren.
      </li>
      <li>
        <strong>Aus dem MentorInnen Workshop-Pool kannst du dir passende Themen aussuchen</strong> (z.B. Social Media, Finanzen, Webseite).
      </li>
      <li>
        <strong>Ein Grätzl-Zuckerl für deinen Bezirk ist inkludiert</strong> und deine Botschaft und dein Angebot verteilen wir zusätzlich über unsere Social Media Kanäle.
      </li>
      <li>
        <strong>Das Programm dauert 3 Monate. Der nächste Starttermin wird noch bekanntgegeben.</strong>
      </li>
      <li>
        <strong>Kontakt: </strong> Mirjam Mieschendahl, wir@imgraetzl.at, +43 699 / 150 28 277
      </li>
    </ul>
  </div>
  <!-- END DER ABLAUF -->



  <!-- TEILNEHMEN -->
  <div class="hl-subtext" id="teilnahme">
    <h1><em>Melde dich jetzt an</em></h1>
  </div>

  <% group1 = Group.find_by_id(57) %> <!-- 57 -->
  <% if !group1.nil? %>

    <div class="cardBox -unterstuetzer">
      <div class="group-radio-switch" id="group-switch" style="display:none;">
        <div class="input-radio">
          <input required="required" type="radio" value="<%= request_join_group_path(group1) %>" checked="checked" name="group" id="group1">
          <label for="group1">Unterstützer Team</label>
        </div>
        <!--
        <div class="input-radio">
          <input required="required" type="radio" value="<%= request_join_group_path(group1) %>" name="group" id="group2">
          <label for="group2">Unterstützer Team mit Arbeitsplatz</label>
        </div>
        -->
      </div>

      <div class="group-info group1">
        <ul>
          <li><%= icon_tag "check" %>3 Monate Teilnahme am Unterstützer-Programm</li>
        </ul>
        <div class="price">
          <span class="sum">Gesamt: 300,00 €</span>
          <!--<strong class="early">Early Bird Preis bis 08. Jan 2020</strong><br>-->
          <small>(inkl. 20% Mwst)</small>
        </div>
      </div>

      <div class="group-info group2">
        <ul>
          <li><%= icon_tag "check" %>3 Monate Teilnahme am Unterstützer-Programm</li>
          <li><%= icon_tag "check" %>3 Monate Flex-Arbeitsplatz im Coworking Space "Die Tischlerei"</li>
          <li><%= icon_tag "check" %>inkl. Internet, Druckernutzung, gratis Kaffee, Tee, Wasser und 24/7 Zugang</li>
        </ul>
        <div class="price">
          <span class="sum">Gesamt: 948,00 €</span>
          <!--<strong class="early">Early Bird Preis bis 08. Jan 2020</strong><br>-->
          <small>(inkl. 20% Mwst)</small>
        </div>
      </div>

    </div>

    <p class="subline">
      Und noch ein paar Fragen zu deinem Vorhaben:
    </p>

    <div class="anmeldung cardBox <%= '-login login-panel-opener' if !current_user %>" >

      <%= form_tag request_join_group_path(group1), id: "groupform" do %>
        <% if group1.group_join_questions.present? %>

          <% group1.group_join_questions.each do |join_question| %>
            <h4><%= join_question.question %></h4>
            <div class="input-textarea">
              <%= text_area_tag :"join_answers[]", nil, cols: 40, rows: 3, placeholder: 'Deine Antwort ..', required: true %>
            </div>
          <% end %>

        <% else %>

          <div class="input-textarea">
            <%= text_area_tag :request_message, nil, cols: 40, rows: 3, placeholder: 'Schreib noch einen kurzen Satz über Dich, bzw. warum Du beitreten möchtest ..', required: true %>
          </div>

        <% end %>
        <%= submit_tag "Anmeldung abschicken", class: 'btn-primary -large' %>
      <% end %>

    </div>
  <% else %>
    <div class="anmeldung cardBox">
      Keine Gruppe verknüpft ...
    </div>
  <% end %>
  <!-- END TEILNEHMEN -->



  <div class="hl-subtext">
    <h1><em>Eure ExpertInnen</em></h1>
    <p>
      Die imGrätzl ExpertInnen begleiten die Unterstützer-Teams mit ihrer Erfahrung und Expertise. Lernt sie bei den Treffen und Workshops kennen und holt euch Rat in den online Fragerunden.
    </p>
  </div>

  <!-- Experten CARDBOXES-->
  <div class="cardBoxCollection -mentors">

      <div class="single-mentor">
        <%= link_to "https://blog.imgraetzl.at/allgemein/vorstellung-unseres-organisationsteam-fuer-das-unterstuetzer-programm-mirjam-mieschendahl/", target: '_blank' do %>
          <%= image_tag('info/organisatorin-mirjam.jpg', class: 'img-round') %>
          <h3>Mirjam Mieschendahl</h3>
        <% end %>
        <p class="title"><strong>Organisation Unterstützer Team</strong> / imGrätzl Gründerin</p>
      </div>

      <div class="single-mentor">
        <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-sibylle-exel-rauth-grafikerin-mit-sinn-fuer-haptik-print/", target: '_blank' do %>
          <%= image_tag('info/mentorin-sibylle-exel-rauth.jpg', class: 'img-round') %>
          <h3>Sibylle Exel-Rauth</h3>
        <% end %>
        <p class="title">GrafikerIn – Mit Sinn für Haptik & Print</p>
      </div>

      <div class="single-mentor">
        <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-karin-kiendler-spezialistin-foerderungen-und-rechtsberatung/", target: '_blank' do %>
          <%= image_tag('info/mentorin-karin-kiendler.jpg', class: 'img-round') %>
          <h3>Karin Kiendler</h3>
        <% end %>
        <p class="title">Spezialistin Förderungen und Rechtsberatung</p>
      </div>

      <div class="single-mentor">
        <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-sabine-melnicki-expertin-digitalisierung-webseiten-wissensmanagement/", target: '_blank' do %>
          <%= image_tag('info/mentorin-sabine-melnicki.jpg', class: 'img-round') %>
          <h3>Sabine Melnicki</h3>
        <% end %>
        <p class="title">Expertin Digitalisierung, Webseiten, Wissensmanagement</p>
      </div>

      <div class="single-mentor">
        <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentorinnen-team-sandra-bittmann-unterstuetzt-im-bereich-social-media-content-co/", target: '_blank' do %>
          <%= image_tag('info/mentorin-sandra-bittmann.jpg', class: 'img-round') %>
          <h3>Sandra Bittmann</h3>
        <% end %>
        <p class="title">Expertin für Social Media & Content</p>
      </div>

      <div class="single-mentor">
        <%= link_to "https://blog.imgraetzl.at/allgemein/new-imgraetzl-mentoring-team-sandra-hoegendorfer-konzeption-grafikdesign-branding/", target: '_blank' do %>
          <%= image_tag('info/mentorin-sandra-hoegendorfer.jpg', class: 'img-round') %>
          <h3>Sandra Högendorfer</h3>
        <% end %>
        <p class="title">Konzeption, Grafikdesign & Branding</p>
      </div>

      <div class="single-mentor">
        <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-sebastian-howorka-finanzen-business-case-entwicklung/", target: '_blank' do %>
          <%= image_tag('info/mentorin-sebastian-howorka.jpg', class: 'img-round') %>
          <h3>Sebastian Howorka</h3>
        <% end %>
        <p class="title">Finanzen – Business Case Entwicklung</p>
      </div>

      <div class="single-mentor">
        <%= link_to "https://blog.imgraetzl.at/allgemein/imgraetzl-mentorin-marie-meyer-marktl/", target: '_blank' do %>
          <%= image_tag('info/mentorin-marie-meyer-marktl.jpg', class: 'img-round') %>
          <h3>Marie Meyer-Marktl</h3>
        <% end %>
        <p class="title">Strukturiertes Erreichen von Unternehmenszielen</p>
      </div>

      <div class="single-mentor">
        <%= link_to "https://blog.imgraetzl.at/vorgestellt/mentoring-team/we-proudly-present-das-imgraetzl-mentoring-team-david-bongard-online-marketing-seo/", target: '_blank' do %>
          <%= image_tag('info/mentorin-david-bongard.jpg', class: 'img-round') %>
          <h3>David Bongard</h3>
        <% end %>
        <p class="title">Online-Marketing & SEO</p>
      </div>

      <div class="single-mentor">
        <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-katharina-sabetzer-kommunikationskonzepte-social-media-textierungen/", target: '_blank' do %>
          <%= image_tag('info/mentorin-katharina-sabetzer.jpg', class: 'img-round') %>
          <h3>Katharina Sabetzer</h3>
        <% end %>
        <p class="title">Kommunikationskonzepte, Social Media, Textierungen</p>
      </div>

      <div class="single-mentor">
        <%= link_to "https://blog.imgraetzl.at/vorgestellt/mentoring-team/we-proudly-present-das-imgraetzl-mentoring-team-elisabeth-siencnik-finanzplanung-und-controlling/", target: '_blank' do %>
          <%= image_tag('info/mentorin-elisabeth-siencnik.jpg', class: 'img-round') %>
          <h3>Elisabeth Siencnik</h3>
        <% end %>
        <p class="title">Finanzplanung und Controlling</p>
      </div>

      <div class="single-mentor">
        <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-sabina-haas-possibilistin-und-karriere-coach/", target: '_blank' do %>
          <%= image_tag('info/mentorin-sabina-haas.jpg', class: 'img-round') %>
          <h3>Sabina Haas</h3>
        <% end %>
        <p class="title">Possibilistin und Karriere Coach</p>
      </div>

      <div class="single-mentor">
        <%= link_to "https://diehauswirtschaft.at", target: '_blank' do %>
          <%= image_tag('info/mentorin-peter-rippl.jpg', class: 'img-round') %>
          <h3>Peter Rippl</h3>
        <% end %>
        <p class="title">Initiator von "Die Hauswirtschaft" & Shiatsupraktiker</p>
      </div>

      <div class="single-mentor">
        <%= link_to "https://www.imgraetzl.at/gumpendorf-naschmarkt/locations/johanna-leitner-illustration-and-arts", target: '_blank' do %>
          <%= image_tag('info/mentorin-johanna-leitner.jpg', class: 'img-round') %>
          <h3>Johanna Leitner</h3>
        <% end %>
        <p class="title">Impulse für mehr Kreativität und Balance</p>
      </div>

      <!--<div class="single-mentor">
        <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-expertinnen-team-alexandra-adler-nachhaltigkeit-mitdenken-oekologische-und-faire-wertschoepfungskette-csr/", target: '_blank' do %>
          <%= image_tag('info/mentorin-alexandra-adler.jpg', class: 'img-round') %>
          <h3>Alexandra Adler</h3>
        <% end %>
        <p class="title">CSR, ökologische & faire Wertschöpfungskette</p>
      </div>-->

      <!--<div class="single-mentor">
        <%= link_to "https://blog.imgraetzl.at/allgemein/new-imgraetzl-mentoring-team-verena-hirzenberger-personalfitnesstrainerin-mit-one2one-coachings-gruppentrainings/", target: '_blank' do %>
          <%= image_tag('info/mentorin-verena-hirzenberger.jpg', class: 'img-round') %>
          <h3>Verena Hirzenberger</h3>
        <% end %>
        <p class="title">Personalfitnesstrainerin: Einzel- & Gruppentrainings</p>
      </div>-->

  </div>
  <!-- END Experten CARDBOXES-->



  <!----------- LOGIN PANEL MODAL ----------->
  <%= render 'shared/login_panel_modal',redirect: request.original_url ,origin: 'mentoring' %>
  <!----------- LOGIN PANEL MODAL ----------->

</section>
