<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/coop-share-menschen.png')
  )
%>

<section class="help -mentoring-page">
  <div class="imgHeader -fullwidth">
    <%= image_tag('info/mentoring-team2-anmeldung.png', class: 'anmeldung-badge') %>
    <div class="wrp">
      <h1>Komm in dein Unterstützer-Team</h1>
    </div>
  </div>

  <div class="paperCard -cord1RT -header -top">
    <div class="wrp">
      <a href="#teilnahme" class="badge -mint -arrow">
        Jetzt durchstarten!
      </a>
      <p>
        <strong>
          Das imGrätzl Unterstützer-Programm für Selbstständige und MacherInnen startet.
        </strong>
      </p>
      <p>
        Die imGrätzl.at Unterstützer-Teams werden ins Leben gerufen, um Selbstständige,
        GründerInnen und MacherInnen darin zu bestärken ihre Ideen auf den Boden zu bringen
        und sie gleichzeitig in ein lokales Netzwerk aus Gleichgesinnten einzubinden.
      </p>
      <p>
        Die TeilnehmerInnen werden in einem Team verbunden, das sie 3 Monate bei der Umsetzung
        ihrer Ideen begleitet, fördert und trägt. Es geht um gegenseitige Motivation,
        Wertschätzung und darum die Begeisterung für den Weg immer wieder aufs Neue
        anzufachen und Hürden gemeinsam aus dem Weg zu räumen.
      </p>
    </div>
    <div class="card"></div>
  </div>

  <div class="hl-subtext">
    <h1><em>Eure MentorInnen</em></h1>
    <p>
      Die imGrätzl MentorInnen und ExpertInnen begleiten die Unterstützer-Teams mit ihrer Erfahrung und Expertise. Lernt sie bei den Treffen und Workshops kennen und holt euch Rat in den online Fragerunden.
    </p>
  </div>

  <!-- MENTORINNEN CARDBOXES-->
  <div class="cardBoxCollection -mentors">

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-sabina-haas-possibilistin-und-karriere-coach/", target: '_blank' do %>
        <%= image_tag('info/mentorin-sabina-haas.jpg', class: 'img-round') %>
        <h3>Sabina Haas</h3>
      <% end %>
      <p class="title">Possibilistin und Karriere Coach</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-sibylle-exel-rauth-grafikerin-mit-sinn-fuer-haptik-print/", target: '_blank' do %>
        <%= image_tag('info/mentorin-sibylle-exel-rauth.jpg', class: 'img-round') %>
        <h3>Sibylle Exel-Rauth</h3>
      <% end %>
      <p class="title">GrafikerIn – Mit Sinn für Haptik & Print</p>
    </div>

    <!--
    <div class="paperCard -cord1RT">
      <div class="wrp">
        <p class="title">
            Als MentorInnen konnten wir einen Kreis an inspirierenden Menschen gewinnen,
            mit denen wir selber unheimlich gerne zusammenarbeiten möchten.
        </p>
        <p>
          Manche kennen wir schon seit Jahren, andere hatten wir im Sichtfeld und
          wieder andere sind durch Empfehlungen zu uns gestossen. Die ExpertInnen
          unterstützen euch in den Bereichen Positionierung, Marketing, Unternehmensaufbau,
          Fokussierung und persönliche Weiterentwicklung, Förderungen, Entwicklung von
          Geschäftsmodellen, Events, Kundengewinnung, Grafik, Buchhaltung und digitale Tools.
        </p>
      </div>
      <div class="card"></div>
    </div>
    -->

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-katharina-sabetzer-kommunikationskonzepte-social-media-textierungen/", target: '_blank' do %>
        <%= image_tag('info/mentorin-katharina-sabetzer.jpg', class: 'img-round') %>
        <h3>Katharina Sabetzer</h3>
      <% end %>
      <p class="title">Kommunikationskonzepte, Social Media, Textierungen</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-karin-kiendler-spezialistin-foerderungen-und-rechtsberatung/", target: '_blank' do %>
        <%= image_tag('info/mentorin-karin-kiendler.jpg', class: 'img-round') %>
        <h3>Karin Kiendler</h3>
      <% end %>
      <p class="title">Spezialistin Förderungen und Rechtsberatung</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-leonhard-kern-den-kunden-im-fokus/", target: '_blank' do %>
        <%= image_tag('info/mentorin-leonhard-kern.jpg', class: 'img-round') %>
        <h3>Leonhard Kern</h3>
      <% end %>
      <p class="title">Den Kunden im Fokus</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-marlies-stohl-solution-scout-innovative-connector-tausendsassa/", target: '_blank' do %>
        <%= image_tag('info/mentorin-marlies-stohl.jpg', class: 'img-round') %>
        <h3>Marlies Stohl</h3>
      <% end %>
      <p class="title">solution scout, innovative connector, Tausendsassa</p>
    </div>

    <div class="single-mentor">
      <%= link_to "https://blog.imgraetzl.at/allgemein/we-proudly-present-das-imgraetzl-mentoring-team-sabine-melnicki-expertin-digitalisierung-webseiten-wissensmanagement/", target: '_blank' do %>
        <%= image_tag('info/mentorin-sabine-melnicki.jpg', class: 'img-round') %>
        <h3>Sabine Melnicki</h3>
      <% end %>
      <p class="title">Expertin Digitalisierung, Webseiten, Wissensmanagement</p>
    </div>

  </div>
  <!-- END MENTORINNEN CARDBOXES-->

  <!-- DER ABLAUF -->
  <div class="hl-subtext">
    <h1><em>Was dich im Unterstützer-Team erwartet.</em></h1>
  </div>

  <div class="paperCard -cord1RT -top">
    <div class="wrp">
      <p>
        <strong>
          Das imGrätzl Team stellt das Unterstützer-Team zusammen und organisiert es, die Gruppe und das Programm sind ein "Ins-Tun-kommen & Dranbleiben" Motivation. Du wirst Woche für Woche begleitet und das drei Monate lang.
        </strong>
      </p>
      <p>
        Der Austausch mit dem Unterstützer-Team erfolgt hauptsächlich über eine online Gruppe,
        es stehen aber auch ganz reale Treffen auf dem Programm. Die persönliche Betreuung
        in Kleingruppen und Unterstützung bei der Umsetzung bringen handfeste Ergebnisse.
        Deshalb sollten Interessierte unbedingt ein konkretes Ziel, Projekt, oder Idee in
        ihr Unterstützungs-Team mitbringen.
      </p>
    </div>
    <div class="card"></div>
  </div>

  <%= image_tag('info/ablauf-txt.png', class: 'ablauf') %>

  <div class="ablauf">
    <ul>
      <li>
        <strong>Persönliches Erstgespräch</strong>, damit wir dein Vorhaben und deine Ziele kennenlernen.
      </li>
      <li>
        <strong>Kick-off Treffen</strong> mit allen TeilnehmerInnen und den MentorInnen.
      </li>
      <li>
        <strong>2 x Workshops zum Start:</strong> wie formulierst du gute Ziele und wie brichst du dein Vorhaben auf kleine Schritte runter.
      </li>
      <li>
        <strong>Es stehen maximal 15 Plätze zur Verfügung.</strong> Bei der Zusammenstellung des Teams wird auf einen guten Mix der Vorhaben geachtet, damit zwischen den TeilnehmerInnen ganz viel Synergien entstehen können.
      </li>
      <li>
        <strong>Das Herzstück:</strong> Das Prinzip ist ganz einfach! Am Anfang der Woche veröffentlichen alle TeilnehmerInnen stichpunktartig drei Teilziele für die aktuelle Woche in der digitalen Unterstützer-Gruppe. Die Teilziele zahlen dabei auf das große Ziel ein. Am Ende der Woche berichten alle, welche Teilziele erreicht wurden und welche Hürden aufgetreten sind. Die anderen TeilnehmerInnen und MentorInnen stehen mit Rat und Tat, aber auch Kontakten zur Seite und zeigen auf, wie die individuellen Hürden genommen werden können. Die TeilnehmerInnen geben Feedback, welchen Rat sie umsetzen werden. Daraus entwickelt sich eine Dynamik des Tuns und der gleichzeitigen Reflexion. Schritt-für-Schritt und ganz entspannt geht es voran. Die Gruppe wird vom imGrätzl Team persönlich betreut.
      </li>
      <li>
        <strong>Jeden Monat</strong> gibt es einen Live-Video-Chat zu unterschiedlichen Themenfeldern, in denen deine Fragen von ExpertInnen beantworten werden.
      </li>
      <li>Wenn es deinem Vorhaben hilft und es zu imGrätzl.at passt, dann <strong>pushen wir dich</strong> auch auf unseren <strong>Plattform Kanälen</strong>.</li>
      <li>
        <strong>Alle vier Wochen</strong> vertiefen die TeilnehmerInnen bei einem realen Treffen den persönlichen Kontakt.
      </li>
      <li>
        <strong>Extra:</strong> Auf Wunsch wird ein Arbeitsplatz für 80 €/Monat zur Verfügung gestellt (Atelier, Praxis oder Büro). Damit soll das Unterstützer Team auch ganz analog die Möglichkeit bekommen gemeinsam durchzustarten.
      </li>
      <li>
        <strong>Das Programm dauert 3 Monate.</strong>
      </li>
      <li>
        <strong>Kosten:</strong> 290 € (inkl. USt.)
      </li>
    </ul>
  </div>
  <!-- END DER ABLAUF -->


  <!-- SLIDER -->

  <div class="hl-subtext" id="teilnahme">
    <h1><em>Was andere TeilnehmerInnen sagen</em></h1>
    <p>
      Sie können garnicht genug bekommen vom Programm!
    </p>
  </div>

  <div class="lightSliderWrapper card-slider-container">
    <div class="cardBoxCollection -quotes" id="card-slider">

      <!-- Single Quote -->
      <div class="cardBox -quote">
        <div class="user">
          <div class="avatar">
              <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/c7c148e36a5f61b380880e9fe78018d83185e1bb/store/fill/200/200/d4ab821fd180b4352bdef2b41f54121ace32bc36b26b499ced5a8a8465ae/avatar.jpeg">
          </div>
          <div class="infos">
            <span>Teresa<br>Scheicher</span>
          </div>
        </div>
        <blockquote class="txt">
          &#8222;
          Das erste Programm war richtig richtig cool! Ich konnte garnicht mehr aufhören zu arbeiten!
          &#8220;
        </blockquote>
      </div>

      <!-- Single Quote -->
      <div class="cardBox -quote">
        <div class="user">
          <div class="avatar">
            <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/4711771d5c8665092b4b0b3554006f235719d3e5/store/fill/200/200/6b252b7ecfb4d7af419116c3c008610c9ee5425d714a3160e47f21869d25/avatar.jpeg">
          </div>
          <div class="infos">
            <span>Robert<br>Kalb</span>
          </div>
        </div>
        <blockquote class="txt">
          &#8222;
          Es war der Hammer! Ich hab noch nie sowas wahnsinnig durchdachtes erlebt. Ich hab jetzt 20 neue Kunden und komme garnicht mehr nach!
          &#8220;
        </blockquote>
      </div>

      <!-- Single Quote -->
      <div class="cardBox -quote">
        <div class="user">
          <div class="avatar">
            <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/a44904de315d3c9d1228bedeaf7c3bedbd03698d/store/fill/100/100/d87ce1e9862722a4ba02ff58420e33673d1bb5eae9ea5c05f3711ab23f03/avatar.jpeg">
          </div>
          <div class="infos">
            <span>Natascha<br>Meis</span>
          </div>
        </div>
        <blockquote class="txt">
          &#8222;
          Das erste Programm war richtig richtig cool! Ich konnte garnicht mehr aufhören zu arbeiten!
          &#8220;
        </blockquote>
      </div>

    </div>
  </div>
  <!-- /SLIDER -->


  <!-- TEILNEHMEN -->
  <div class="hl-subtext" id="teilnahme">
    <h1><em>So kannst du teilnehmen</em></h1>
    <p>
      Bei der Zusammenstellung der Unterstützer-Teams geht es in erster Linie darum, dass sich die TeilnehmerInnen gut ergänzen, deshalb haben wir ein paar Fragen vorbereitet:
    </p>
  </div>

  <div class="anmeldung cardBox <%= '-login' if !current_user %>"  <%= 'data-featherlight=#login-panel-modal' if !current_user %>>
    <% if !Group.where(id: 28).empty? %>
      <% group = Group.find_by_id(28) %>
      <%= form_tag request_join_group_path(group) do %>
        <% if group.group_join_questions.present? %>

          <% group.group_join_questions.each do |join_question| %>
            <h4><%= join_question.question %></h4>
            <div class="input-textarea">
              <%= text_area_tag :"join_answers[]", nil, cols: 40, rows: 3, placeholder: 'Deine Antwort ..', required: true %>
            </div>
          <% end %>

        <% else %>

          <div class="input-textarea">
            <%= text_area_tag :request_message, nil, cols: 40, rows: 3, placeholder: 'Schreib noch einen kurzen Satz über Dich, bzw. warum Du beitreten möchtest ..', required: true %>
          </div>

        <% end %>
        <%= submit_tag "Anmeldung abschicken", class: 'btn-primary -large' %>
      <% end %>
    <% else %>
      Keine Gruppe verknüpft ...
    <% end %>
  </div>
  <!-- END TEILNEHMEN -->

  <!----------- LOGIN PANEL MODAL ----------->
  <%= render 'shared/login_panel',redirect: request.original_url ,origin: 'mentoring' %>
  <!----------- LOGIN PANEL MODAL ----------->

</section>
