<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url("info/teaserbox-mentoring.jpg")
  )
%>

<% content_for :canonical_url, info_meilensteine_url(host: welocally_platform_host) %>

<section class="homeWeLocally info lp -about-pages -milestones">

  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1>Meilensteine der letzten Jahre ...</h1>
      <%= render 'about_navigation' %>
    </div>
  </div>

  <p class="subline">
    <strong>Im April 2016 wurde imGrätzl.at in 159 Grätzln in Wien ausgerollt, yeah!</strong>
  </p>

  <p class="subline -paragraph">
    <strong class="milestone">Stand September 2025:</strong> Auf imGrätzl.at und WeLocally.at sind inzwischen knapp 18.000 Selbstständige, kleine Unternehmen, Vereine, Kulturschaffende und Macher*innen registriert. Jetzt ist WeLocally auch in Graz und in Innsbruck verfügbar. Neben dem <%= link_to 'Crowdfunding', start_crowd_campaigns_path %> haben wir das Matchfunding weiterentwickelt: mit dem Raumbooster in Wien, dem Viertelfonds in Graz und seit September 2025 auch in Innsbruck. Wir unterstützen die Raumvorhaben, die via Crowdfunding realisiert werden, mit einem Zuschuss zum Crowdfunding.<br><br>Ein weiterer wichtiger Meilenstein für uns: Mit dem FFG-Projekt crowd2raum konnten wir erstmals im Lead ein Forschungs- und Entwicklungsprojekt zum Thema Leerstand gemeinsam mit Wieneu+ (MA 25, Stadt Wien) und dem Stadtlabor Graz umsetzen. Das Projekt eröffnet neue Perspektiven, wie Leerstand durch Crowdfunding und Matchfunding aktiviert werden kann. 
  </p>

  <p class="subline -paragraph">
    <strong class="milestone">2024: Knapp 14.000 Selbstständige</strong>, kl. Unternehmen, Vereine, Kulturschaffende und Macher*innen sind auf imGrätz.at und WeLocally.at registriert und nutzen die Services. Im Februar ist der Energieteiler zur Förderung und Verbreitung von Energiegemeinschaften an den Start gegangen. Worüber wir uns besonders freuen: Seit August 2023 sind wir mit WeLocally auch in Graz verfügbar. YEAH!
  </p>

  <p class="subline -paragraph">
    <strong class="milestone">2022 startet lokales Crowdfunding auf der Plattform</strong> und die lokalen Macher*innen bekommen damit ein wirksames Tool zur Umsetzung ihrer Ideen an die Hand. Dazu wurde WeLocally 2021 im Rahmen eines Wettbewerbs von Regional.Digital.Innovativ, einer Initiative der FFG und dem Bundesministerium für Landwirtschaft, Regionen und Tourismus, zu einem Leuchtturmprojekt gewählt. Gemeinsam mit unseren Partnern von <%= link_to 'Crowdstrudel', 'https://www.crowdstrudel.com', target: '_blank' %> können wir in diesem Rahmen einen ganz neuen Bereich mit lokalen Crowdfunding Tools in WeLocally und imGrätzl integrieren.
  </p>

  <p class="subline -paragraph">
    <strong class="milestone"><%= link_to "Good Morning Dates", 'https://www.imgraetzl.at/good-morning-dates' %> starten im Mai 2022</strong>: dezentral und selbstorganisierte Vernetzungstreffen in vielen Bezirken in Wien von Macher*innen für Macher*innen. Die Good Morning Dates werden als Beitrag für mehr Miteinander, gegenseitige Unterstützung und Eröffnung neuer Kooperationschancen im Bezirk ins Leben gerufen.
  </p>

  <p class="subline -paragraph">
    <strong class="milestone">Ab April 2022 sind wir die nächsten drei Jahre ein Teil vom Forschungsprojekt Projekt Stadtkern_PLUS.</strong> Das Forschungsprojekt  findet im Rahmen von "Leuchttürme für resiliente Städte 2040" vom Klima- und Energiefonds statt. Bei Stadtkern_Plus werden drei demonstrative Ressourcengemeinschaften in der Bestandstadt etabliert, die sozial, inklusiv und nachhaltig in das Grätzl wirken. Diese sollen außerdem Anknüpfungspunkte für ein von Nutzer*innen generiertes Erdgeschosszonenmanagement in der Bestandstadt bieten. Partner*innen im Projekt: FB Rechtswissenschaft, TU Wien; Technische Stadterneuerung, MA 25, Stadt Wien; Volkshilfe Wien (Lead: future.lab TU Wien).
  </p>

  <p class="subline -paragraph">
    <strong class="milestone">2021 erfolgt der der Startschuss für <%= link_to 'WeLocally', welocally_platform_url %>,</strong> wir dürfen über die “Impact Innovation” Förderschiene der FFG den neuen Prototyp, basierend auf imGrätzl.at, entwickeln. Entwicklungspartner sind die Gemeinden Griffen, St.Andrä und Völkermarkt und die Leader-Region Mühlviertler Kernland. WeLocally geht Anfang 2022 offiziell online.
  </p>

  <p class="subline -paragraph">
    <strong class="milestone">2021 haben wir den zweiten Bauträger Wettbewerb mit der EGW gewonnen,</strong> dieses Projekt startet (hoffentlich) bald im dritten Bezirk (Village). Was für eine Freude!
  </p>

  <p class="subline -paragraph">
    Das war WOW! <strong class="milestone">Im März 2020, im ersten Lockdown haben wir „Selbstständige für Selbstständige & Macher*innen“ gestartet,</strong> über 300 Expert*innen haben kostenlose Beratungen & Sessions angeboten, um andere Selbstständige in Wien zu stärken und unterstützen.
  </p>

  <p class="subline -paragraph">
    <strong class="milestone">2019 wurde der Geräteteiler ausgerollt,</strong> da geht es darum Arbeitsequipment und Ausstattung am Arbeitsplatz über die Plattform zu verleihen. Wir haben 2019 das erste Unterstützer-Team mit Mentoring Begleitung gestartet. Lauter Menschen, die ihre Vorhaben auf den Boden bringen möchten und wir dürfen sie dabei 3 Monate begleiten (außerdem bauen wir damit viele kleine kooperative Zellen auf). <strong>2019 haben wir dann auch unseren allerersten Bauträger Wettbewerb im Team mit der Sozialbau AG gewonnen</strong> und können unser Wissen in die Entwicklung eines neuen Quartiers (An der Schanze) einfließen lassen.
  </p>

  <p class="subline -paragraph">
    <strong class="milestone">Der Raumteiler Guide ist erstmals 2018 erschienen</strong> und erklärt Schritt für Schritt, was es beim Gewerbeflächen teilen zu beachten gibt. Es ist online verfügbar und liegt als Printversion zur freien Entnahme an verschiedenen Stellen aus. <strong>Ein besonderer Meilenstein war 2018 natürlich die Integration des Raumteilers auf imGrätzl</strong>, seitdem werden Arbeitsflächen geteilt, Leerstand aktiviert und neue Nutzungen beleben unsere Stadtteile.
    Um die Bekanntheit der Raumteilerprinzips zu erweitern, <strong>wurde 2018 das Raumteiler Festival veranstaltet.</strong> Beim Raumteiler Festival wurden Raumsuchende mit Raumhabenden analog in der Nordbahn-Halle verbunden. Raumunternehmen und Coworking Spaces waren ebenfalls eingeladen ihre Konzepte zu präsentieren.
  </p>

  <p class="subline -paragraph">
    <strong class="milestone">2018 wurde imGrätzl zum Kategoriensieger “Smart City” gekürt</strong> und hat dafür einen eAward verliehen bekommen. Was für eine Ehre - wir haben uns unglaublich gefreut.
  </p>

  <p class="subline -paragraph">
    <strong class="milestone">Seit 2017 war imGrätzl für 3 Jahre außerdem bei dem Projekt Mischung: Nordbahnhof am Start,</strong> das im Rahmen einer Smart Cities Initiative vom Klima- und Energiefonds umgesetzt wurde.
  </p>

  <p class="subline -paragraph">
    <strong class="milestone">2016</strong> ist imGrätzl in Wien gestartet. Hurra!
  </p>

  <p class="subline -paragraph">
    <strong class="milestone">2015 - 2017:</strong> Eine Reihe an Initiativen wurden in den ersten Jahren zur Stadtteilbelebung und Vernetzung der lokalen AkteurInnen durchgeführt: Pop-up Messe am Vorgartenmarkt, Vorglühen im Vorgarten, Film ab imGrätzl, Stuwertrubel und „Feel good im Grätzl“ mit 150 Aussteller/innen aus dem Bereich „Gesundheit & Wohlgefühl“, das Event fand gleichzeitig in 6 Bezirken statt. Coworking imGrätzl: Cafés und Restaurants wurden an Ruhetagen genutzt, um Einzelunternehmen in einem Grätzl miteinander zu vernetzen und Austausch zu ermöglichen.
  </p>

  <p class="subline -paragraph">
    <strong class="milestone">2015</strong> haben wir haben das Social Business morgenjungs GmbH (der Name hat eine sehr, sehr lange Geschichte) gegründet, um imGrätzl.at aufbauen zu können.
  </p>

</section>
