<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow'
  )
%>

<section class="info -detail">

  <div class="hl-subtext">
    <h1><em>Raumteiler</em></h1>
    <p>Gewerbeflächen teilen - Kosten teilen.</p>
  </div>

  <div class="paperCard -cord1RT container -top" id="zero">
    <div class="wrp">
      <p>
        Wir möchten Selbständige, Kreative, Vereine und kleine Unternehmen mit dem „<strong>Raumteiler</strong>“
        dabei unterstützen ihre Kosten für Gewerbeflächen zu senken bzw. zu teilen und ihnen
        ermöglichen neue Räume zu eröffnen.
      </p>
    </div>
    <div class="card"></div>
  </div>

  <aside>
    <div id="help_nav">
      <%= link_to info_path, class: "btn-primary -grey -ico" do %><%= icon_tag "arrow-left-2" %> Services Übersicht<% end %>
      <a href="#worum-gehts" class="btn-primary -mint" id="nav-1">Worum geht es?</a>
      <a href="#buchung" class="btn-primary -mint" id="nav-2">Slot-Buchung</a>
      <a href="#raumteiler-guide" class="btn-primary -mint" id="nav-3">Raumteiler Guide</a>
      <a href="#downloads" class="btn-primary -mint" id="nav-4">Download Vorlagen</a>
    </div>
  </aside>

  <div class="mainContent">

    <article class="container" id="1">
      <h2 id="worum-gehts">Worum geht es beim Raumteiler?</h2>
      <h3>Gewerbeflächen teilen - Kosten teilen.</h3>
      <p>
        Raumsuchende und Raumhabende werden via Raumteiler miteinander verbunden.
        Weg vom EinzelkämpferInnentum hin zu vielen kleinen Gemeinschaften und neuen Raumpartnerschaften.
        Der Raumteiler ist eine Art WG-PartnerInnen Suche für Gewerbeflächen.
        Es geht um <strong>Arbeitsräume, Geschäftslokale, Werkstätten, Büroräume, Praxen, Studios und
        Ateliers.</strong> Der Mensch steht dabei immer im Mittelpunkt.
        <ul>
          <li>Du findest RaumpartnerInnen für deine bereits angemietete Gewerbefläche.</li>
          <li>Du findest Raum zum Andocken.</li>
          <li>Du findest Menschen zur gemeinschaftlichen Neuanmietung.</li>
          <li>Du findest Bauträger, EigentümerInnen, Hausverwaltungen, die Gewerbeflächen vorstellen, die für Gruppen und kooperative Nutzungen geeignet sind.</li>
        </ul>
      </p>
      <p>
        Wir trommeln übrigens für eure Räume und Raumgesuche auch auf unseren social Media Kanälen,
        sie werden aufgenommen in das <%= t("region.#{current_region.id}.domain_short") %> Mail.
        Einen Raum mit anderen zu teilen, kann außerdem helfen Leerstand zu verhindern, oder neu zu aktivieren.
        Und: Der Raumteiler fördert neue Formen der Zusammenarbeit in der Region oder Stadt.
      </p>
    </article>

    <article class="container" id="2">
      <h2 id="buchung">Infos zur Buchung</h2>
      <h3>Für Raumhabende, die Kurzzeitmieten anbieten möchten:</h3>
      <p>
        Du stellst ein, an welchen Tagen dein Raum verfügbar ist inkl. Angabe der Uhrzeiten.
        Du bestimmst, was der Raum pro Stunde kosten soll. Außerdem kannst du einstellen,
        wenn jemand den Raum z.B. mehrere Tage bucht, dass du dann einen Rabatt gewährst.
        Wenn dir jemand eine Buchungsanfrage schickt, kannst du zustimmen oder ablehnen.
        Wenn eine Buchung im Tool zustande kommt, fallen bei der Buchung Paymentkosten und
        eine kleine Servicegebühr an, da bei jeder Buchung auch etwas Arbeit bei uns anfällt.
        Eine ganz große Bitte, damit es für alle ein gutes Erlebnis wird:
        Antwortet auf die Buchungsanfragen und haltet die verfügbaren Zeiten aktuell.
      </p>

      <h3>Für Raumhabende, die langfristige Raumpartnerschaften suchen:</h3>
      <p>
        Du trägst im Raumteiler Formular deine Paketpreise ein z.B. der Raum zur alleinigen Nutzung
        in einem Studio kostet xyz€ pro Monat. Die Option "Kurzzeitmiete" überspringst du.
      </p>

      <h3>Kosten Kurzzeitmieten Tool:</h3>
      <p>
        Die Erstellung und Veröffentlichung eines Raumteilergesuchs im Raumteiler ist immer kostenlos.
        Beim Raumteiler Kurzzeitmieten Tool wird erst dann eine Payment Provider Gebühr und eine Servicegebühr (7% von der Gesamtsumme) berechnet,
        sobald eine Buchung des Raumes erfolgt.
      </p>
    </article>

    <article class="container" id="3">
      <h2 id="raumteiler-guide">Raumteiler Guide</h2>
      <h3>Deine Schritt-für-Schritt Anleitung zum Räume teilen.</h3>
      <a href="https://blog.imgraetzl.at/wp-content/uploads/2019/02/RaumteilerGuide2019.pdf">
        <%= image_tag'info/Raumteiler-Guide-2019-Deckblatt.png', class: 'guide' %>
      </a>
      <p>
        Wenn du Fragen rund ums Räume teilen hast, der "Raumteiler Guide" erklärt Schritt für Schritt,
        was es beim Räume teilen und beim Andocken zu beachten gibt.
        Enthalten sind außerdem Musterverträge und die wichtigsten Anlaufadressen <%= t("region.#{current_region.id}.in_your_region") %>.
      </p>
      <br>
      <p>
        <a href="https://blog.imgraetzl.at/wp-content/uploads/2019/02/RaumteilerGuide2019.pdf" class="btn-primary -mint -download" id="guide-download">Raumteiler Guide gratis downloaden</a>
      </p>
      <br style="clear:both;">
    </article>

    <article class="container" id="4">
      <h2 id="downloads">Musterverträge zum Download</h2>
      <h3>Zusätzlich dazu haben wir ein paar nützliche Vorlagen für dich zusammengestellt: </h3>
      <ol>
        <li><a href="/downloads/raumteiler/nutzungsvereinbarung-temporaer.docx">Mustervertrag: Nutzungsvereinbarung temporär</a></li>
        <li><a href="/downloads/raumteiler/schluessel-kaution.docx">Vorlage: Schlüssel Kaution</a></li>
        <li><a href="/downloads/raumteiler/service-pauschale.xlsx">Tabelle: Berechnung einer Service Pauschale</a></li>
        <li><a href="/downloads/raumteiler/untermietvertrag-arbeitsplatz.docx">Mustervertrag: Untervermietung Arbeitsplatz</a></li>
      </ol>
    </article>

    <div>
      Der Raumteiler auf <%= t("region.#{current_region.id}.domain_short") %> ist Teil des F&E Projektes Mischung: Nordbahnhof (Lead TU Wien).
      <br>Dieses Projekt wurde aus Mitteln des Klima- und Energiefonds gefördert und im Rahmen der Smart-Cities-Initiative durchgeführt.
    </div>

  </div>

  <div style="clear:both;"></div>

</section>

<%= render 'info_navigation' %>
