<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/coop-and-share.jpg')
  )
%>

<section class="help -supporter">

  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <%= image_tag('supporter/bg-title.png', class: 'title-img') %>
      <div class="txt">Der Betrieb und die Weiterentwicklung von imGrätzl wird ermöglicht durch diese großartigen Menschen und Unternehmen.</div>
    </div>
  </div>


  <div class="topBoxes cardBoxCollection -tripple">
    <div class="sponsorBox">
      <%= link_to(image_tag('supporter/logos/kolarik.png'), 'https://www.kolarik.at', target: '_blank') %>
      <span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</span>
      <%= link_to 'Familie Kolarik', 'https://www.kolarik.at', target: '_blank' %>
    </div>
    <div class="sponsorBox">
      <%= link_to(image_tag('supporter/logos/geldmachtwas.png'), 'https://www.geldmachtwas.com', target: '_blank') %>
      <span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</span>
      <%= link_to 'Elif Hakecobani', 'https://www.geldmachtwas.com', target: '_blank' %>
    </div>
    <div class="sponsorBox">
      <%= link_to(image_tag('supporter/logos/bezirksimkerei.png'), 'https://www.wiener-bezirksimkerei.at', target: '_blank') %>
      <span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</span>
      <%= link_to 'Wiener Bezirksimkerei', 'https://www.wiener-bezirksimkerei.at', target: '_blank' %>
    </div>
  </div>

  <div class="allBoxes">
    <div class="inner cardBoxCollection -quart">
      <div class="sponsorBox">1</div>
      <div class="sponsorBox">2</div>
      <div class="sponsorBox">3</div>
      <div class="sponsorBox">4</div>
      <div class="sponsorBox">5</div>
      <div class="sponsorBox">6</div>
      <div class="sponsorBox">7</div>
      <div class="sponsorBox">8</div>
    </div>
  </div>


</section>
