<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/imgraetzl-supporter.jpg')
  )
%>

<section class="info -supporter">

  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <%= image_tag('supporter/bg-title.png', class: 'title-img') %>
      <div class="txt">Der Betrieb und die Weiterentwicklung von imGrätzl wird ermöglicht durch diese großartigen Menschen und Unternehmen.</div>
    </div>
  </div>


  <div class="topBoxes cardBoxCollection">
    <div class="sponsorBox">
      <%= link_to 'https://www.kolarik.at', target: '_blank' do %>
        <div class="logo-top-kolarik"></div>
      <% end %>
      <span>
        ImGrätzl setzt auf Regionalität und Nachhaltigkeit – und genau hier finden auch wir uns wieder.
        Wir leben den Anspruch, beste Gastfreundschaft und hochwertige Bio-Produkte in einem gemütlichen Ambiente zu bieten.
        Wir mussten nicht lange überlegen so ein tolles, regionales Projekt zu unterstützen
        und so bei uns im Grätzl für spürbar nachhaltige Erlebnisse und Erinnerungen zu sorgen!
      </span>
      <%= link_to 'Paul Kolarik', 'https://www.kolarik.at', target: '_blank' %>
    </div>

    <div class="sponsorBox">
      <%= link_to 'https://www.geldmachtwas.com', target: '_blank' do %>
        <div class="logo-top-geldmachtwas"></div>
      <% end %>
      <span>
        ImGrätzl begeistert mich nun schon einige Zeit. Die Vision einer gemeinwohlorientierten Wirtschaft,
        in der es möglich ist, durch wohlwollendes kooperatives Miteinander Geschäfte zu machen,
        harmoniert mit meinem Wertesystem. Ich durfte schon öfters von dem großartigen Angebot von ImGrätzl profitieren.
        Daher war es für mich sofort klar, dass ich mit meinem Beitrag “Danke” sagen kann.
      </span>
      <%= link_to 'Elif Lisa Hakçobanı', 'https://www.geldmachtwas.com', target: '_blank' %>
    </div>

    <div class="sponsorBox">
      <%= link_to 'https://www.wiener-bezirksimkerei.at', target: '_blank' do %>
        <div class="logo-top-bezirksimkerei"></div>
      <% end %>
      <span>
        Warum euch Matthias unterstützt: Weil er fest daran glaubt, dass gemeinwohlorientierte
        Projekte die Welt (und jedes Grätzl sowieso) zu einem besseren Ort machen!
      </span>
      <%= link_to 'Matthias Kopetzky - Wiener Bezirksimkerei', 'https://www.wiener-bezirksimkerei.at', target: '_blank' %>
    </div>
  </div>

  <div class="allBoxes">
    <div class="inner cardBoxCollection">


      <div class="sponsorBox">
        <%= link_to 'https://liebesraum2.com', target: '_blank' do %><div class="logo-cermak"></div><% end %>
        <span>
          WALD-WILDHEIT-WEIBLICHKEIT - Begegne Dir selbst! <br> Ganz einfach, weil ich eure Arbeit ganz großartig finde. Gemeinsam schaffen wir viel mehr, als wenn wir in Konkurrenz zueinander gehen. Es ist genug für alle da.
        </span>
        <%= link_to 'Caroline Cermak / Liebesraum 2.0', 'https://liebesraum2.com', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'https://www.businessmoms.at', target: '_blank' do %><div class="logo-business-moms"></div><% end %>
        <span>
          Ich habe euch unterstützt, weil ihr so viel zum Community-denken und zu einer Gemeinschaft beitragt. Während Corona habt ihr vielen Unternehmerinnen geholfen und Mut gemacht - und ich kann eine Ausdehnung auf ganz Österreich nur unterstützen – unglaublich toll!
        </span>
        <%= link_to 'Elisabeth Molzbichler / Business Moms Austria', 'https://www.businessmoms.at', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'http://www.rani-yoga.at/', target: '_blank' do %><div class="logo-rani-yoga"></div><% end %>
        <span>
          Ich fand die Möglichkeit großartig viele Dinge zu verbinden, erstens, eine Möglichkeit mich sichtbarer zu machen und dabei gleichzeitig ein Projekt zu unterstützen. Ehrlich gesagt, hat mich besonders motiviert, euch helfen zu können, euch für eure Arbeit auch ein Gehalt auszahlen zu können. Wir vergessen viel zu häufig unsere Herzensprojekte auch wert-schätzen zu lassen.
        </span>
        <%= link_to 'Pamela-Rani Gindl / Rani Yoga', 'http://www.rani-yoga.at/', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'http://derachte.at', target: '_blank' do %><div class="logo-der-achte"></div><% end %>
        <span>
          Wir haben das Crowdfunding unterstützt, weil imgrätzl.at mit unserer JosefStadtZeitung „der Achte“ als partizipatives Lokalmedium einfach gut zusammenpasst!
        </span>
        <%= link_to 'Elisabeth Hundstorfer / Der Achte', 'http://derachte.at', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'https://raumen.at', target: '_blank' do %><div class="logo-raumen"></div><% end %>
        <span>
          Weil ihr wirklich toll seid! - Letzten Sommer stand ja unser Projekt (Gemeinschaftsatelier / Ausstellungsraum) knapp vor der Auflösung. Mittlerweile haben sich neue Kooperationen ergeben und es hat sich eine Lösung entwickelt, die nicht nur eine krisensicherere Zukunft verspricht, sondern darüber hinaus auch noch näher an der ursprünglichen Vision dran ist. ImGrätzl war "da", als die Situation am aussichtslosesten schien. Danke!
        </span>
        <%= link_to 'Astrid Edlinger', 'https://raumen.at', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'http://www.dirmhirn.at/', target: '_blank' do %><div class="logo-dirmhirn"></div><% end %>
        <span>
          Wir haben imGrätzl unterstützt, da die Plattform tolle Möglichkeiten für die Zusammenarbeit von (insbesondere kleineren) Unternehmen bietet und es eine feine Sache ist, wenn diese Möglichkeiten zur lokalen Kooperation einem noch weiteren Umfeld eröffnet werden.
        </span>
        <%= link_to 'Rosa Dirmhirn', 'http://www.dirmhirn.at/', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'http://www.elisabethwalter.com/', target: '_blank' do %><div class="logo-elisabeth-walter"></div><% end %>
        <span>
          Vor vielen Jahren als im Grätzl noch jung war, lernte ich Mirjam kennen. Ihre Begeisterung und Freude sind auf mich übergesprungen und die Verbindung ist geblieben, was mich sehr freut.
          Die Aufstellerin steht für Friede, Freude, Freiheit. Frieden in der Vergangenheit, Freude im Jetzt und Freiheit in der Zukunft
        </span>
        <%= link_to 'Elisabeth Walter / Die Aufstellerin', 'http://www.elisabethwalter.com/', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'https://www.manhartsberger.at', target: '_blank' do %><div class="logo-manhartsberger"></div><% end %>
        <span>
          Ich mache bei Im Grätzl mit, da wir zusammen und als Gemeinschaft mehr sind und mehr bewirken können als jeder für sich alleine. Im Grätzl ermöglicht es mir, mit interessanten Menschen in Kontakt zu kommen und es ergeben sich viele Möglichkeiten des Austausches und des gegenseitigen Beflügelns.
        </span>
        <%= link_to 'Thomas Manhartsberger', 'https://www.manhartsberger.at', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'http://the.way.foturis.works/', target: '_blank' do %><div class="logo-pohnitzer"></div><% end %>
        <span>
          Ich finde imGrätzl sehr bereichernd für die lokale Selbstständigenlandschaft, und empfehle es laufend weiter. Es ist mir ein wichtiges Anliegen, besonders Frauen im Auf/Umbau von nachhaltigen Unternehmungen zu unterstützen, und durch die Aktion konnte ich so einigen Wienerinnen helfen.
        </span>
        <%= link_to 'Angelika Pohnitzer', 'http://the.way.foturis.works/', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'https://www.kinder-beratung.at/', target: '_blank' do %><div class="logo-kainz"></div><% end %>
        <span>
          Ich finde es eine tolle Idee, Selbstständige untereinander zu vernetzen und ihnen eben dafür eine Plattform zu bieten. Besonders im ersten Lockdown gab es viele tolle Angebote für Selbstständige für Selbstständige. Gerne gebe ich auch „etwas zurück“
        </span>
        <%= link_to 'Barbara Kainz / Kinderberatung', 'https://www.kinder-beratung.at/', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'https://fatto-da-k.at/', target: '_blank' do %><div class="logo-baumann"></div><% end %>
        <span>
          Wir unterstützen imGrätzl.at weil wir es erstens für eine großartige Idee mit viel qualitativer Unterstützung für MacherInnen halten. Außerdem hätten wir ohne Mirjam unser wunderbares Atelier, in dem aus nachhaltigen Materialien kreative, handgemachte Produkte aus dem Bereich Mode, Geschenkartikel und dem Sport-/Gesundheitsbereich hergestellt werden.
        </span>
        <%= link_to 'Katharina und Wolfgang / fatto-da-k', 'https://fatto-da-k.at/', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'https://www.aura-klang.at', target: '_blank' do %><div class="logo-schrenk"></div><% end %>
        <span>
          Mir ist es wichtig Menschenkinder zu unterstützen, die an ihre Ideen glauben und umsetzen. Ich weiß, wie schwierig der Anfang ist. Heuer habe ich mein Firmenjubiläum 20 Jahre AURA-KLANG! Wenn alles stimmig ist, dann gelingt es auch. Wichtig ist es, authentisch und offen zu sein.
        </span>
        <%= link_to 'Christine Schrenk', 'https://www.aura-klang.at', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'http://www.fulfilment-at-work.at/', target: '_blank' do %><div class="logo-marie-meyer-marktl"></div><% end %>
        <span>
          Weil mir die Unterstützung und das WIR-Gefühl von imGrätzl so gefällt.
        </span>
        <%= link_to 'Marie Meyer-Marktl / Fulfilment at work', 'http://www.fulfilment-at-work.at/', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'https://www.coronagsteu.com', target: '_blank' do %><div class="logo-corona-gsteu"></div><% end %>
        <span>
          Ein Projekt muss brennen! imGrätzl schafft das - ihr brennt
        </span>
        <%= link_to 'Corona Gsteu', 'https://www.coronagsteu.com', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'https://www.health-consult.at', target: '_blank' do %><div class="logo-healthconsult"></div><% end %>
        <span>
        </span>
        <%= link_to 'Gabi Walchhütter / Health Consult', 'https://www.health-consult.at', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'http://www.sittler.at', target: '_blank' do %><div class="logo-sittler"></div><% end %>
        <span>
        </span>
        <%= link_to 'Peter Sittler / Sittler Consulting', 'http://www.sittler.at', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'https://www.instagram.com/share_architects/', target: '_blank' do %><div class="logo-share-architects"></div><% end %>
        <span>
          Mit Silvia Forlati haben wir die letzten Jahre eng zusammengearbeitet, gemeinsam haben wir über Raumteiler-Modelle und Pläne getüftelt, sie hat uns in die Welt der Architektur eingeführt. Letztendlich hat sie auch welocally den Weg bereitet. 1000 Dank!
        </span>
        <%= link_to 'SILVIA FORLATI - Share Architects', 'https://www.instagram.com/share_architects/', target: '_blank' %>
      </div>


      <div class="sponsorBox">
        <%= link_to 'https://punkrockdev.com', target: '_blank' do %><div class="logo-punkrockdev"></div><% end %>
        <span>
        </span>
        <%= link_to 'Drazen Lucanin / PunkRockDev', 'https://punkrockdev.com', target: '_blank' %>
      </div>


    </div>
  </div>


</section>
