<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow'
  )
%>

<section class="info -detail">

  <div class="hl-subtext">
    <h1><em>Geräteteiler: mieten statt kaufen</em></h1>
    <p>Arbeitsequipment leihen & Geräte am Standort nutzen</p>
  </div>

  <div class="paperCard -cord1RT container -top" id="zero">
    <div class="wrp">
      <p>
        Mit dem Geräteteiler möchten wir eine Möglichkeit eröffnen Arbeitsequipment gegen eine Gebühr an andere lokale AkteurInnen <%= t("region.#{current_region.id}.in_region") %> zu verleihen, das umfasst z.B. auch den Verleih von größeren Geräten am Arbeitsstandort.
      </p>
      <p>
        Mit dem Geräteteiler bekommst du Zugriff auf Arbeitsequipment, das du nur temporär benötigst und zwar zu einem Bruchteil der Anschaffungskosten. Ressourcen werden mit dem Geräteteiler mehrfach genutzt und Ressourcen geschont.
      </p>
    </div>
    <div class="card"></div>
  </div>

  <aside>
    <div id="help_nav">
      <%= link_to info_path, class: "btn-primary -grey -ico" do %><%= icon_tag "arrow-left-2" %> Services Übersicht<% end %>
      <a href="#thema-1" class="btn-primary -mint" id="nav-one">Kurz das Wichtigste</a>
      <a href="#thema-2" class="btn-primary -mint" id="nav-two">Häufige Fragen & Infos</a>
      <a href="#thema-3" class="btn-primary -mint" id="nav-three">Welche Geräte eignen sich?</a>
    </div>
  </aside>

  <div class="mainContent">

    <article class="container" id="one">
      <h2 id="thema-1">Geräteteiler - das Wichtigste auf einem Blick</h2>

      <h3>Du behältst immer die Kontrolle</h3>
      <p>
        Du bestimmst den Tages- oder Wochenpreis für dein Gerät. Es liegt ganz bei dir, ob du eine Mietanfrage annimmst oder einfach ablehnst.
      </p>

      <h3>Die Abwicklung übernehmen wir</h3>
      <p>
        Die Buchung und die Geldverteilung erfolgt über <%= t("region.#{current_region.id}.domain_short") %>, du musst dich um nichts kümmern, die Abwicklung des Mietvorgangs ist automatisiert.
      </p>

    </article>

    <article class="container" id="two">
      <h2 id="thema-2">Häufige gestellte Fragen & Infos</h2>
      <h3>Allgemein zum Geräteteiler</h3>
      <ul class="toolteiler-faq">
        <li>Verleiher von Arbeitsequipment und Leiher werden via Geräteteiler auf <%= t("region.#{current_region.id}.domain_short") %> miteinander verbunden.</li>
        <li>Der Ausleihvorgang, die Bezahlung und Geldverteilung erfolgt online über den Geräteteiler.</li>
        <li>Die Übergabe der Geräte erfolgt persönlich, das erhöht die Sicherheit. Als zusätzliche Sichheitsmaßnahmen kannst du die MieterInnen bitten sich bei der Übergabe mit einem Ausweisdokument auszuweisen und du kannst eine Kaution verlangen. Bitte kommuniziere die Kaution immer auch in deinem Geräteteiler.</li>
        <li>Stelle dein Arbeitsequipment in den Geräteteiler rein, das du nicht rund um die Uhr selber benötigst und verdiene etwas dazu. Hast du Geräte am deinem Arbeitsplatz (z.B. einen Brennofen), die nicht laufend in Betrieb sind? Auch die Nutzung von größeren Geräten kannst du im Geräteteiler anderen ermöglichen.</li>
        <li>Es gibt unterschiedliche Kategorien: von Ausstattung für Märkte und Events bis Künstlerbedarf und von Geräten fürs Handwerk bis Produktion und Instrumentenverleih ist alles dabei, was man im Arbeitsumfeld benötigen könnte. Nicht gedacht ist der Geräteteiler für Freizeitgegenstände, also z.B. für die Skiausrüstung oder z.B. auch Alltagskleidung</li>
        <li>Falls ihr Geräte verleiht, deren Nutzung eine besondere Schulung oder Ausbildung erfordern, bitte stellt als Verleiher sicher, dass die Ausleiher die entsprechende Ausbildung und Kenntnisse haben und lasst euch einen Nachweis darüber zeigen.</li>
      </ul>

      <h3>Rund ums Bezahlen</h3>
      <ul class="toolteiler-faq">
        <li>Verleiher bekommen nach dem Verleihende die Leihgebühr auf das hinterlegte Konto überwiesen, sobald der Verleiher angegeben hat im Geräteteiler, dass das Gerät wieder zurückgegeben wurde. Die Auszahlung kann bis zu 5 Werktage dauern.</li>
        <li>Ausleiher stehen zwei Bezahlformen zur Verfügung: Kreditkarte und EPS Überweisung.</li>
        <li>Die Leihgebühr wird eingezogen, sobald der Verleihvorgang aktiviert wurde und zwar indem der Ausleiher der konkreten Leihanfrage zusagt.</li>
        <li>Bei jedem Verleihvorgang wird eine Servicegebühr von uns erhoben. <%= t("region.#{current_region.id}.domain_short") %> bietet viele kostenlose Services an und ihr tragt mit der Servicegebühr dazu bei, dass die laufenden Plattformkosten gedeckt werden können. Großes Dankeschön an der Stelle!</li>
        <li>Die Servicegebühr wird aufgeteilt zwischen Verleiher und Leihenden: es werden beiden Parteien jeweils 6,5 % des Mietpreises verrechnet. Zusätzlich dazu wird die Umsatzsteuer auf die Service Fee ausgewiesen.</li>
      </ul>

      <h3>Darf man seine Geräte ausleihen? Was sagt das Gewerberecht dazu?</h3>
      <ul class="toolteiler-faq">
        <li>
          Du hast ein Gewerbe? Unter § 32 Abs. 1 Z 10 der Gewerbeordnung steht dazu:<br><br>
          <em class="quote">Weiters wird ein allgemeines Recht aller Gewerbetreibenden bestimmt, Waren zu vermieten und zu vermitteln, wobei es unerheblich ist, ob die Waren in einem sachlichen Zusammenhang mit der Haupttätigkeit des Gewerbetreibenden stehen oder nicht. Bei der Vermittlung ist es irrelevant, ob tatsächlich ein Kaufvertrag zwischen den Vertragspartnern zustande kommt. Link: <%= link_to 'https://www.wko.at/service/wirtschaftsrecht-gewerberecht/sonstige-rechte-nebenrechte-gewerbetreibende.html', 'https://www.wko.at/service/wirtschaftsrecht-gewerberecht/sonstige-rechte-nebenrechte-gewerbetreibende.html' %></em>
          <br>
          Falls ihr Fragen dazu habt, erkundigt euch bitte dazu bei der Wirtschaftskammer.
        </li>
      </ul>

      <h3>Transaktionsbelege für Privatpersonen, Kleingewerbe, größere Unternehmen ...</h3>
      <ul class="toolteiler-faq">
        <li>Du kannst Transaktionsbelege ganz einfach für alle deine Verleihvorgänge herunterladen. Log dich über <%= t("region.#{current_region.id}.domain_short") %> ein und gehe zu Deinem Buchungsarchiv. Hier findest du eine Liste mit allen Zahlungen und Einnahmen, die du über den Geräteteiler gemacht hast, inklusive Link zum Download des Transaktionsbelegs. Die Transaktionsbelege haben eine rechtliche Gültigkeit und können auch als Abrechnung genutzt werden.</li>
        <li>Wenn du Einnahmen über den Geräteteiler generierst, dann musst du diese Einnahmen auch steuerlich berücksichtigen, bitte sprich dazu mit deinem Steuerberater.</li>
        <li>
          Der Geräteteiler richtet sich vor allem an Kleingewerbetreibende, KünstlerInnen, Vereine und Privatpersonen. Kleingewerbetreibende bis 35.000 € Jahresumsatz sind von der Umsatzsteuer befreit, deshalb wird die Umsatzsteuer auf den Mietpreis nicht in den automatisierten Transaktionsbelegen ausgewiesen. Eine Rechnung mit ausgewiesener Umsatzsteuer kann nur vom Vermieter selber erstellt werden, da sie auch individuelle Informationen enthält wie z.B. eine Rechnungsnummer. Bitte den Vermieter dir eine Rechnung mit ausgewiesener Umsatzsteuer zu stellen: Der Betrag, den der Mieter über die Plattform bezahlt hat, muss als Rechnungsbetrag eingetragen werden. Diese Information ist im Geräteteiler Buchungsarchiv zu finden. Vergiss nicht, alle Informationen der Anmietung auf der Rechnung anzugeben, darunter fallen der Name des Mieters, Adresse, Details zum Mietgerät, Anzahl Tage, Rechnungsnummer und Datumsangaben.
          <br><br>
          Als Beispiel eine Anmietung, bei der der Mieter 70 € bezahlt hat. Die Rechnung muss den zu versteuernden Betrag, die Höhe der Mehrwertsteuer und den Rechnungsbetrag, inklusive 20% Mehrwertsteuer enthalten.
          <br><br>
          - Zu besteuernder Betrag = 70,00 € / 1,20 = 58,33 €<br>
          - Höhe der Mehrwertsteuer = 58,33 € * 20% = 11,66 €<br>
          <strong>- Rechnungsbetrag (inklusive Mehrwertsteuer) = 58,33 € + 11,66 € = 70,00 €</strong>
        </li>
      </ul>

      <h3>Gewerbliche Gerätevermieter?</h3>
      <ul class="toolteiler-faq">
        <li>Der Geräteteiler richtet sich vor allem an Kleingewerbetreibende, kleine Unternehmen, KünstlerInnen, Vereine und Privatpersonen, die nebenher ihre eigenen Arbeitsgeräte verleihen.
          Gewerbliche, also professionelle Gerätevermieter, müssen spezielle Vorgaben beachten, werden gekennzeichnet und werden nach einer persönlichen Kontaktaufnahme und Prüfung für die Nutzung des Geräteteilers ggf. freigeschaltet.
          Interesse? Bitte kontaktiert uns über <%= t("region.#{current_region.id}.contact_email") %>.
        </li>
      </ul>

      <h3>Hast Du Fragen?</h3>
      <p>Bitte kontaktiere uns unter: <%= t("region.#{current_region.id}.contact_email") %></p>

    </article>

    <article class="container" id="three">
      <h2 id="thema-3">Ein paar Ideen, welche Geräte ihr im Geräteteiler vermieten könnt:</h2>

      <h3>Märkte, Messen, Events, Ausstellung</h3>
      <p>
        Von Verkaufsständen, Garderoben, Kleiderständer, Spiegel, Tische, Stühle und Bierbänke und Zelte, Verkehrsschilder, Absperrungen, Beschriftunstafeln, Bühnenelemente, Leinwand, Tapiziertische, Markise, Theke, Podeste, Platten, Plakatständer, Vitrinen, Hochtische, Prospektständer, Flipchart, Zelt, Marktstand, mobile Umkleidekabinen, Leuchtmittel, Hüpfburgen.
      </p>

      <h3>Musikerbedarf & Instrumente</h3>
      <p>
        Geige, Klavier, Drums, Gitarre, Schlagzeug, Blasinstrumente, Noten, Software
      </p>

      <h3>Handwerk & Produktion</h3>
      <p>
        z.B. Lötstation, PUK für Feinschweißen, Kompressoren, Lupen, Werkbank, Galvanisierungsgerät, Kaltlichtleuchten, Fräse, Mikroskope, elektrische Drehscheiben, Drehspindel, Hartschaumsäge, Kreisschneider, Klebepistolen, Lasergravur und Schneidegerät, 3-D Drucker
      </p>

      <h3>Kreativ- & Künstlerbedarf</h3>
      <p>
        Nähmaschinen, Brennofen, Zubehör für Keramikarbeiten, Siebdruck-Geräte, Druckpressen, Geräte zur Steinbearbeitung, Holzberarbeitung, Zangen, Ateliertisch, Strickmaschinen, Stickmaschinen, Webstühle
      </p>

      <h3>Gastronomie- & Küchengeräte</h3>
      <p>
        Kühlschrank, Tiefkühltruhe, Salamander, heiße Theke, Teigknetmaschine, Konditorei- & Bäckereiofen, Geschirr & Gläser, Kuchenformen
      </p>

      <h3>Technik, Sound, Film, Foto</h3>
      <p>
        Licht- und Tontechnik, wie Musikanlage, Micro, Mischpult, Boxen,Scheinwerfer und Beamer, Fernseher, Kabel, Adapter, Leuchttisch, Hintergründe, Kameras, Objektive, Fotolampen, Lichtformer, Stative, Reflektoren, Lichtzelte und mobile Stationen
      </p>

      <h3>Grafik, Architektur, Design</h3>
      <p>
        Grafiktabletts und –Stifte, Zeichentisch, Artograph, Modellbauzubehör, Lichtbox, Schneidesystem, Rundcutter, Plotter, A3-A0-Drucker, Scanner bis A0, Falzmaschinen
      </p>

      <h3>Gesundheit, Fitness, Wohlbefinden</h3>
      <p>
        von mobile Massagestühlen (z.B. Shiatsu), Klangschalen, Pilates Reformer, Yoga Geräte wie Aerial Aufhängung oder Yoga-Matten in höherer Stückzahl bis zu Sportgeräte, wie Handelsets, Vibrationsplatten, Trampolin oder Multifunktionsbank. Kosmetik und Friseurausstattung wie Make-up Stühle, Liegen, Bedampfer, mobiler Friseurstuhl.
      </p>

      <h3>Deko-Materialien</h3>
      <p>
        z.B. Kleinmöbel und Deko für Geschäfte,
      </p>

      <h3>Transport (nicht motorisiert)</h3>
      <p>
        Lastenfahrräder, Anhänger für Fahrrad, Schubkarre
      </p>

    </article>

  </div>

  <div style="clear:both;"></div>

</section>

<%= render 'info_navigation' %>
