<div class="user cardBox">
  <% if !group_user.user.admin? && @group.admins.include?(current_user) %>
    <%= link_to 'javascript:', data: { jq_dropdown: "#group-user-dropdown-#{group_user.user.id}" }, class: 'group-user-dropdown-link' do %>
      <%= icon_tag "dot-3" %>
    <% end %>

    <div id="group-user-dropdown-<%= group_user.user.id %>" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container">
      <div class="jq-dropdown-panel">
        <%= link_to remove_user_group_path(user_id: group_user.user_id), method: :post, data: { confirm: 'Bist du dir sicher?' } do %>
          <%= icon_tag "trash-delete-remove" %>
          <div class="icontxt">Aus Gruppe entfernen</div>
        <% end %>
        <%= link_to toggle_user_status_group_path(user_id: group_user.user_id), method: :post, data: { confirm: 'Bist du dir sicher?' } do %>
          <%= icon_tag "magic-wand" %>
          <div class="icontxt"><%== group_user.admin? ? 'Adminrechte entziehen' : 'Adminrechte geben' %></div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="avatar">
    <%= link_to user_path(group_user.user), rel: 'nofollow' do %>
      <%= avatar_image_with_tooltip group_user.user, size: :thumb, class: 'img-round' %>
    <% end %>
  </div>

  <div class="infos">
    <span><%= group_user.user.first_name %> <br> <%= group_user.user.last_name %></span>
    <p class="date">
      <% if group_user.admin? %>
        <strong>Organisator</strong> <br>
      <% end %>
      Beigetreten: <br>
      <%= I18n.localize(group_user.created_at, format:'%d. %B %Y') %>
    </p>

    <% if local_assigns[:show_join_request] %>
      <% join_request = @group.user_join_request(group_user) %>
      <% if join_request && join_request.has_content? %>
        <p class="date">
          <%= link_to "Beitritts Nachricht", "javascript:", class: 'request-message-opener', data: { content_id: "request-message-modal-#{join_request.id}" } %>
          <%= render 'groups/members/join_request_modal', join_request: join_request %>
        </p>
      <% end %>

      <% room_call_submission = @group.user_room_call_submission(group_user.user_id) %>
      <% if room_call_submission %>
        <p class="date">
          <%= link_to "Call Einreichung", submission_room_call_path(@group.room_call, submission_id: room_call_submission.id) %>
        </p>
      <% end %>
    <% end %>
  </div>

</div>
