<div class="user cardBox -action">
  <div class="avatar">
    <%= avatar_image join_request.user, size: :small, class: 'avatar img-round' %>
  </div>
  <div class="infos">
    <span><%= join_request.user.first_name %> <br> <%= join_request.user.last_name.truncate(18, separator: ' ') %></span>
    <p class="date">Anfrage am: <br><%= I18n.localize(join_request.created_at, format:'%d. %B %Y') %></p>

    <% if join_request.has_content? %>
      <p class="date">
        <%= link_to "Beitritts Nachricht", "javascript:", class: 'request-message-opener', data: { content_id: "request-message-modal-#{join_request.id}" } %>
        <%= render 'groups/members/join_request_modal', join_request: join_request %>
      </p>
    <% end %>

  </div>
  <div class="btns">
    <%= link_to accept_request_group_path(@group, join_request_id: join_request.id), method: :post, class: 'btn-icon -small -mint' do %>
      <%= icon_tag "check" %>
    <% end %>
    <%= link_to reject_request_group_path(@group, join_request_id: join_request.id), method: :post, class: 'btn-icon -small -grey' do %>
      <%= icon_tag "trash-delete-remove" %>
    <% end %>
  </div>
</div>
