<div class="request-message-modal" id="request-message-modal-<%= join_request.id %>">
  <div class="wrapper">
    <div class="avatar">
      <%= avatar_image join_request.user, size: :thumb, class: 'img-round' %>
    </div>
    <div class="user">
      <%= join_request.user.first_name %><br>
      <%= join_request.user.last_name %>
    </div>
  </div>
  <div class="answers">
    <% if join_request.join_answers.present? %>
      <% join_request.join_answers.each_slice(2) do |question, answer| %>
        <h3><%= question %></h3>
        <p><%= answer %></p>
      <% end %>
    <% else %>
      <p><%= join_request.request_message %></p>
    <% end %>
  </div>
</div>
