<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        
        <p>
          Servus <%= @poll_user.user.first_name %>,
        </p>
        
        <p>
          danke für deine Teilnahme an der Umfrage "<%= link_to @poll.title, poll_url(@poll), style: "color:#ec776a;", target: 'blank' %>".
        </p>
        
        <p>
          <%= @poll.users.size %> NutzerInnen haben bisher beim <%= @poll.title %> mitgemacht:
        </p>

        <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%;">
          <% @poll.main_question.poll_options.order(votes_count: :desc).each do |option| %>
            <tr>
              <td bgcolor="#f0f0f0" width="100%" style="height:24px; border-radius: 25px; padding:0px 10px 0px 0px; border-bottom:7px solid white; background-color: #f0f0f0;">
                <div style="height:24px; line-height:24px; border-radius: 25px; width:<%= option.percentage.to_i %>%; background-color:#83C7BD; white-space:nowrap;" nowrap="nowrap">
                  <span style="padding-left:10px; font-size: 15px;"><%= option.title.truncate(30, omission: '..') %></span>
                </div>
              </td>
              <td style="font-size: 15px; line-height:24px; border-bottom:7px solid white; white-space:nowrap; color: #888888; padding-left:5px;" nowrap="nowrap"><%= option.percentage.to_i %>% (<%= option.votes_count %>)</td>
            </tr>
          <% end %>
        </table>

        <br>

        <p>
          Liebe Grüße,<br>
          dein Team von <%= t("region.#{@poll.region.id}.domain_full") %><br>
        </p>

      </td>
    </tr>
  </tbody>
</table>