<%= form_for Comment.new, url: comment_menu_location_path(@location, menu_id: menu.id), remote: true,
    html: { class: 'entryForm', data: { behavior: "comment-form-#{menu.id}" } } do |f| %>
  <label>
    <%= avatar_image current_user, size: :thumb, class: 'avatar img-round' %>
    <%= f.text_area :content, placeholder: 'Kommentieren' %>
  </label>
  <div class="hideBlock">
    <div class="upload-streamImgs">
      <%= icon_tag "photo-camera" %>
      <%= upload_image_input(f, :images, multiple: true, live_preview: false) %>
    </div>
    <%= f.button 'Antwort senden', data: { disable_with: 'sendet...' } %>
  </div>
<% end %>
