<% actual_plan = current_user&.subscribed? && current_user.subscription.subscription_plan == subscription_plan %>

<div class="cardBox -subscription-plan  <%= actual_plan ? 'active' : '' %>">

  <div class="cardBoxHeader">
    <div class="coverImgWrapper">
      <% if actual_plan %>
        <%= link_to image_tag('info/cardbox-abo.jpg', class: 'coverImg'), subscription_user_path %>
      <% elsif current_user&.subscribed? %>
        <%= link_to image_tag('info/cardbox-abo.jpg', class: 'coverImg'), subscription_path(current_user.subscription, subscription_plan_id: subscription_plan.id), method: :patch, data: { confirm: "Bist du sicher, dass du auf dieses Abo wechseln möchtest?" } %>
      <% else %>
        <%= link_to image_tag('info/cardbox-abo.jpg', class: 'coverImg'), new_subscription_path(subscription_plan_id: subscription_plan.id) %>
      <% end %>
    </div>
  </div>

  <div class="cardBoxContent">

    <ul class="pricing-summary -facts">
      <p class="title"><%= subscription_plan %></p>
    </ul>
    <% if subscription_plan.description.present? %>
    <ul class="pricing-summary -facts">
      <p class="desc"><%= subscription_plan.description %></p>
    </ul>
    <% end %>
    <ul class="pricing-summary">
      <li>
        <div class="cost"><%= number_to_currency(subscription_plan.amount, unit: "€") %></div>
        <div class="costname"><%= t("activerecord.attributes.subscription_plan.per_interval.#{subscription_plan.interval}") %></div>
      </li>
    </ul>

    <% if actual_plan %>
      <%= link_to "Dein aktuelles Abo", subscription_user_path, class: "btn-primary -grey" %>
    <% elsif current_user&.subscribed? && !current_user.payment_card_last4? %>
      <%= link_to "Auf dieses Abo wechseln", new_subscription_path(subscription_plan_id: subscription_plan.id), class: 'btn-primary' %>
    <% elsif current_user&.subscribed? %>
      <%= link_to "Auf dieses Abo wechseln", subscription_path(current_user.subscription, subscription_plan_id: subscription_plan.id), method: :patch, class: "btn-primary", data: { confirm: "Bist du sicher, dass du auf dieses Abo wechseln möchtest?" } %>
    <% else %>
      <%= link_to "Abbonieren", new_subscription_path(subscription_plan_id: subscription_plan.id), class: 'btn-primary' %>
    <% end %>

  </div>

</div>
