<% actual_plan = current_user&.subscribed? && current_user.subscription.subscription_plan == subscription_plan %>

<div class="cardBox -subscription-plan <%= actual_plan ? 'active' : '' %>">

  <div class="cardBoxHeader">
    <div class="coverImgWrapper">
      <% if actual_plan %>
        <%= link_to image_tag("info/cardbox-abo#{subscription_plan.image_url}.jpg", class: 'coverImg'), subscription_user_path %>
      <% elsif current_user&.subscribed? %>
        <%= link_to image_tag("info/cardbox-abo#{subscription_plan.image_url}.jpg", class: 'coverImg'), subscription_path(current_user.subscription, subscription_plan_id: subscription_plan.id), method: :patch, data: { confirm: "Bist du sicher, dass du auf diese Mitgliedschaft wechseln möchtest?" } %>
      <% else %>
        <%= link_to image_tag("info/cardbox-abo#{subscription_plan.image_url}.jpg", class: 'coverImg'), new_subscription_path(subscription_plan_id: subscription_plan.id) %>
      <% end %>
    </div>
    <div class="categoryicon">
      <strong><%= subscription_plan.short_name %></strong>
    </div>
  </div>

  <div class="cardBoxContent">

    <ul class="pricing-summary -facts">
      <p class="title"><%= subscription_plan %></p>
    </ul>
    <% if subscription_plan.benefit_1.present? %>
    <ul class="pricing-summary -facts">
      <% if subscription_plan.benefit_1.present? %><li class="benefit"><%= subscription_plan.benefit_1.html_safe %></li><% end %>
      <% if subscription_plan.benefit_2.present? %><li class="benefit"><%= subscription_plan.benefit_2.html_safe %></li><% end %>
      <% if subscription_plan.benefit_3.present? %><li class="benefit"><%= subscription_plan.benefit_3.html_safe %></li><% end %>
      <% if subscription_plan.benefit_4.present? %><li class="benefit"><%= subscription_plan.benefit_4.html_safe %></li><% end %>
      <% if subscription_plan.benefit_5.present? %><li class="benefit"><%= subscription_plan.benefit_5.html_safe %></li><% end %>
    </ul>
    <% end %>
    <ul class="pricing-summary">
      <li>
        <div class="cost"><%= number_to_currency(subscription_plan.amount, unit: "€") %></div>
        <div class="costname"><%= t("activerecord.attributes.subscription_plan.per_interval.#{subscription_plan.interval}") %></div>
      </li>
    </ul>

    <% if actual_plan %>
      <%= link_to "Deine aktuelle Mitgliedschaft", subscription_user_path, class: "btn-primary -grey" %>
    <% elsif current_user&.subscribed? && !current_user.payment_card_last4? %>
      <%= link_to "Auf diese Mitgliedschaft wechseln", new_subscription_path(subscription_plan_id: subscription_plan.id), class: 'btn-primary' %>
    <% elsif current_user&.subscribed? %>
      <%= link_to "Auf diese Mitgliedschaft wechseln", subscription_path(current_user.subscription, subscription_plan_id: subscription_plan.id), method: :patch, class: "btn-primary", data: { confirm: "Bist du sicher, dass du auf diese Mitgliedschaft wechseln möchtest?" } %>
    <% else %>
      <%= link_to "Jetzt unterstützen", new_subscription_path(subscription_plan_id: subscription_plan.id), class: "btn-primary" %>
    <% end %>

  </div>

</div>
