<% meta(
    title: t('.title'),
    robots: 'index, follow',
  )
%>

<section class="info -subscription-page">
  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1><%= t("region.#{current_region.id}.domain_short") %> Fördermitgliedschaft</h1>
    </div>
  </div>

  <div class="paperCard -cord1RT -header -top">
    <div class="wrp">
      <p>
        <strong>
          Dein Beitrag ermöglicht den Betrieb von <%= t("region.#{current_region.id}.domain_short") %> und unterstützt die lokalen Macher*innen <%= t("region.#{current_region.id}.in_region") %>.
        </strong>
      </p>
      <p>
        Um unsere <%= t("region.#{current_region.id}.domain_short") %> Arbeit nachhaltig zu finanzieren, brauchen wir vor allem eins: Unsere Förder*innen. Danke an alle, die unsere Arbeit bereits mit einer Fördermitgliedschaft unterstützen und es ermöglichen, dass <%= t("region.#{current_region.id}.domain_short") %> allen lokalen Macher*innen <%= t("region.#{current_region.id}.in_region") %> kostenlos zur Verfügung steht!
      </p>
      <p>
        <strong><%= Subscription.in(current_region).active.count %></strong> Menschen unterstützen <%= t("region.#{current_region.id}.domain_short") %> bereits mit einer Fördermitgliedschaft.
        <br>
        <strong>Unser nächstes Ziel: <%= Subscription::NEXT_GOAL %> Förder*innen.</strong>
      </p>
    </div>
    <div class="card"></div>
  </div>

  <div class="cardBoxCollection -tripple">
    <%= render @plans %>
    <%= render 'subscription_plans/subscription_plan_wow' %>
  </div>

  <center><em>Du bekommst selbstverständlich eine Rechnung über die Fördermitgliedschaft ausgestellt.</em></center>

  <div class="allBoxes">
    <div class="inner cardBoxCollection">
      <%= render :partial => 'subscription_plans/subscribers', :collection => @subscriptions, :as => :subscription %>
    </div>
  </div>

</section>
