<% meta(
    title: t(".#{current_region.id}.title", region: current_region.name),
    description: t(".#{current_region.id}.description", region: current_region.name),
  )
%>

<section class="info -subscription-page">
  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1><%= t("region.#{current_region.id}.domain_short") %> Fördermitgliedschaft</h1>
    </div>
  </div>

  <div class="paperCard -cord1RT -header -top">
    <div class="wrp">
      <p>
        <strong><%= t("region.#{current_region.id}.subscription.subline") %></strong>
      </p>
      <p>
        <%= t("region.#{current_region.id}.subscription.description") %>
      </p>
      <p>
        <strong>Werdet Unterstützer*innen unserer Arbeit!</strong>
        <br>
        <strong><%= @subscription_count %></strong> Menschen unterstützen <%= current_region.is?('wien') ? 'imGrätzl' : 'WeLocally.at & imGrätzl.at' %> bereits mit einer Fördermitgliedschaft.
        <br>
        <strong>Unser nächstes Ziel: <%= current_region.subscription_goal %> Förder*innen.</strong>
      </p>
    </div>
    <div class="card"></div>
  </div>

  <div class="cardBoxCollection <%= @plans.count > 2 ? '-quart' : '-tripple' %>">
    <%= render @plans %>
    <%= render 'subscription_plans/subscription_plan_wow' %>
  </div>

  <div class="subscription-note">
    <em>
      Du bekommst selbstverständlich eine Rechnung über deine Fördermitgliedschaft ausgestellt.
      <% if current_region.is?('wien') %>
        <br>Mehr Hintergrundinfos zur Fördermitgliedschaft gibt es außerdem auf unserem <%= link_to 'imGrätzl Blog',  'https://blog.imgraetzl.at/allgemein/die-imgraetzl-foerdermitgliedschaft-ist-da-haltet-mit-uns-den-raum-offen/', target: 'blank' %>
      <% end %>
    </em>
  </div>

  <div class="allBoxes">
    <div class="inner cardBoxCollection">
      <%= render :partial => 'subscription_plans/subscribers_wow', :collection => current_region.wow, :as => :wow %>
      <% cache ["subscribers-list", current_region.id, @subscription_count], expires_in: 2.hours do %>
        <%= render partial: "subscription_plans/subscribers", collection: @subscriptions, as: :subscription %>
      <% end %>
    </div>
  </div>

</section>
