<% meta(
    title: t(".#{current_region.id}.title", region: current_region.name),
    description: t(".#{current_region.id}.description", region: current_region.name),
  )
%>

<section class="info -subscription-page">
  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1><%= t("region.#{current_region.id}.domain_short") %> Fördermitgliedschaft</h1>
    </div>
  </div>

  <div class="paperCard -cord1RT -header -top">
    <div class="wrp">
      <p>
        <strong><%= t("region.#{current_region.id}.subscription.subline") %></strong>
      </p>
      <p>
        <%= t("region.#{current_region.id}.subscription.description") %>
      </p>
      <p>
        <strong><%= Subscription.in(current_region).active.count %></strong> Menschen unterstützen <%= t("region.#{current_region.id}.domain_short") %> bereits mit einer Fördermitgliedschaft.
        <br>
        <strong>Unser nächstes Ziel: <%= current_region.subscription_goal %> Förder*innen.</strong>
      </p>
    </div>
    <div class="card"></div>
  </div>

  <div class="cardBoxCollection -tripple">
    <%= render @plans %>
    <%= render 'subscription_plans/subscription_plan_wow' %>
  </div>

  <center><em>
    Du bekommst selbstverständlich eine Rechnung über die Fördermitgliedschaft ausgestellt.<br>
    Mehr Hintergrundinfos zur Fördermitgliedschaft gibt es außerdem auf unserem <%= link_to 'imGrätzl Blog',  'https://blog.imgraetzl.at/allgemein/die-imgraetzl-foerdermitgliedschaft-ist-da-haltet-mit-uns-den-raum-offen/', target: 'blank' %>
  </em></center>

  <div class="allBoxes">
    <div class="inner cardBoxCollection">
      <%= render :partial => 'subscription_plans/subscribers', :collection => @subscriptions, :as => :subscription %>
    </div>
  </div>

</section>
