<section class="info -subscription-page">
  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1><%= t("region.#{current_region.id}.domain_short") %> Fördermitgliedschaft</h1>
    </div>
  </div>

  <div class="paperCard -cord1RT -header -top">
    <div class="wrp">
      <p>
        <strong>
          Die <%= t("region.#{current_region.id}.domain_short") %> Fördermitgliedschaft - Für alle die unsere Arbeit wertschätzen.
        </strong>
      </p>
      <p>
        Um unsere imGrätzl Arbeit nachhaltig zu finanzieren, brauchen wir vor allem eins: Unsere Förder*innen. Danke an alle, die unsere Arbeit bereits mit einer Fördermitgliedschaft unterstützen und es ermöglichen, dass imGrätzl allen lokalen Macher*innen in Wien kostenlos zur Verfügung steht!
      </p>
      <p>
        <strong><%= Subscription.in(current_region).active.count %></strong> Menschen unterstützen imGrätzl bereits mit einer Fördermitgliedschaft.
        <br>
        <strong>Unser nächstes Ziel: <%= Subscription::NEXT_GOAL %> Förder*innen.</strong>
      </p>
    </div>
    <div class="card"></div>
  </div>

  <div class="cardBoxCollection -tripple">
    <%= render @plans %>
  </div>

  <div class="allBoxes">
    <div class="inner cardBoxCollection">
      <%= render :partial => 'subscription_plans/subscribers', :collection => @subscriptions, :as => :subscription %>
    </div>
  </div>

</section>
