<% meta(
    title: t('.title'),
    robots: 'index, follow',
  )
%>

<section class="info -subscription-page">
  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1><%= t("region.#{current_region.id}.domain_short") %> Fördermitgliedschaft</h1>
    </div>
  </div>

  <div class="paperCard -cord1RT -header -top">
    <div class="wrp">
      <p>
        <strong>
          <%= t("region.#{current_region.id}.domain_short") %> ist mittlerweile zu groß, als dass wir alles alleine stemmen können. Euer Beitrag hilft, die Rechnungen für Server, die Versicherung und die anderen notwendigen Tools zu bezahlen.
        </strong>
      </p>
      <p>
        Damit wir <%= t("region.#{current_region.id}.domain_short") %> <%= t("region.#{current_region.id}.in_region") %> weiterhin zur Verfügung stellen können, brauchen wir vor allem eins: Unsere Förder*innen. Danke an alle, die <%= t("region.#{current_region.id}.domain_short") %> bereits mit einer Fördermitgliedschaft unterstützen und es ermöglichen, dass <%= t("region.#{current_region.id}.domain_short") %> allen lokalen Macher*innen <%= t("region.#{current_region.id}.in_region") %> kostenlos zur Verfügung steht!
      </p>
      <p>
        <strong><%= Subscription.in(current_region).active.count %></strong> Menschen unterstützen <%= t("region.#{current_region.id}.domain_short") %> bereits mit einer Fördermitgliedschaft.
        <br>
        <strong>Unser nächstes Ziel: <%= Subscription::NEXT_GOAL %> Förder*innen.</strong>
      </p>
    </div>
    <div class="card"></div>
  </div>

  <div class="cardBoxCollection -tripple">
    <%= render @plans %>
    <%= render 'subscription_plans/subscription_plan_wow' %>
  </div>

  <center><em>
    Du bekommst selbstverständlich eine Rechnung über die Fördermitgliedschaft ausgestellt.<br>
    Mehr Hintergrundinfos zur Fördermitgliedschaft gibt es außerdem auf unserem <%= link_to 'imGrätzl Blog',  'https://blog.imgraetzl.at/allgemein/die-imgraetzl-foerdermitgliedschaft-ist-da-haltet-mit-uns-den-raum-offen/', target: 'blank' %>
  </em></center>

  <div class="allBoxes">
    <div class="inner cardBoxCollection">
      <%= render :partial => 'subscription_plans/subscribers', :collection => @subscriptions, :as => :subscription %>
    </div>
  </div>

</section>
