<div class="cardBox">
  <div class="cardBoxHeader">
    <% if image = user_post.images.first %>
      <%= link_to [user_post.graetzl, user_post] do %>
        <%= attachment_image_tag image, :file, :fill, 300, 250, class: 'coverImg' %>
      <% end %>
    <% end %>
    <div class="categoryicon">
      <svg class="icon-head-idea-lightbulb"><use xlink:href="#icon-head-idea-lightbulb"></use></svg>
    </div>
  </div>
  <div class="cardBoxContent">
    <%= link_to [user_post.author.graetzl, user_post.author], class: 'initiator' do %>
      <%= attachment_image_tag user_post.author, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
      <span><%= user_post.author.username %></span>
    <% end %>
    <div class="txt">
      <h3><%= link_to user_post.title, [user_post.graetzl, user_post] %></h3>
      <p><%= truncate user_post.content, length: 100 %></p>
    </div>
    <%= render 'activities/appendix', appendix: appendix, parent: user_post if defined? appendix %>
  </div>
</div>
