<% graetzl = Graetzl.memoized(user_post.graetzl_id) %>

<div class="cardBox" data-behavior="masonry-card">
  <div class="cardBoxHeader">
    <% if image = user_post.images.first %>
      <%= link_to [graetzl, user_post] do %>
        <div class="coverImgWrapper">
          <%= attachment_image_tag image, :file, :fill, 300, 250, class: 'coverImg' %>
        </div>
      <% end %>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "head-idea-lightbulb" %>
    </div>
  </div>
  <div class="cardBoxContent">
    <%= link_to user_post.author, class: 'initiator' do %>
      <%= attachment_image_tag user_post.author, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
      <span><%= user_post.author.username %></span>
    <% end %>
    <div class="txt">
      <h3><%= link_to user_post.title, [graetzl, user_post] %></h3>
      <p><%= truncate user_post.content, length: 100 %></p>
    </div>

    <% if local_assigns[:appendix].present? %>
      <%= render 'activities/appendix', appendix: local_assigns[:appendix], parent: user_post %>
    <% end %>
  </div>
</div>
