<div class="cardBox">
  <div class="cardBoxHeader">
    <% if image = user_post.images.first %>
      <%= link_to attachment_image_tag(:image, :file, :fill, 300, 250), '#' %>
    <% end %>
    <div class="categoryicon">
      <svg class="icon-head-idea-lightbulb"><use xlink:href="#icon-head-idea-lightbulb"></use></svg>
    </div>
  </div>
  <div class="cardBoxContent">
    <%= link_to [user_post.author.graetzl, user_post.author], class: 'initiator' do %>
      <%= avatar_for user_post.author %>
      <span><%= user_post.author.username %></span>
    <% end %>
    <div class="txt">
      <h3><%= link_to user_post.title, '#' %></h3>
      <p><%= truncate user_post.content, length: 100 %></p>
    </div>
    <!-- comment -->
    <% if defined? comment %>
      <div class="streamElement">
        <div class="entryInitialContent">
          <div class="userCreateInfo">
            <%= avatar_for comment.user %>
            <span class="userAndType">Kommentar von <%= link_to comment.user.username, [comment.user] %> <span>vor etwa 2 Stunden</span></span>
          </div>
          <div class="txt"><%= truncate comment.content, length: 100 %></div>
        </div>
        <a href="#" class="commentslink">Alle 12 Kommentare ansehen</a>
      </div>
    <% end %>
  </div>
</div>
