<% title('Neue Idee im Gr채tzl') %>

<section class="userPostForm">

  <h1 class="hl-main">Neue <span>Idee</span> im Gr채tzl <%= @graetzl.name %></h1>

  <div class="form-block">
    <%= form_for [@graetzl, @user_post] do |f| %>
      <%= form_errors_for @user_post %>

      <div class="input-field">
        <%= f.label :title do %>
          <%= icon_tag "record" %>
          <span>Titel</span>
        <% end %>
        <%= f.text_field :title, placeholder: 'In aller K체rze...'  %>
      </div>

      <div class="input-textarea">
        <%= f.label :content do %>
          <%= icon_tag "head-idea-lightbulb" %>
          <span>Dein Wunsch<br/>Deine Idee</span>
        <% end %>
        <%= f.text_area :content, placeholder: '...und ausf체hrlich.'  %>
      </div>

      <div class="upload-oldschool">
        <%= f.label :images do %>
          <%= icon_tag "photo-camera" %>
          <span>Bild hochladen</span>
        <% end %>
        <div class="field-wrp">
          <%= f.attachment_field :images_files, multiple: true, direct: true, presigned: true %>
        </div>
      </div>

      <%= f.button 'Senden', data: { disable_with: 'speichert...' }, class: 'btn-primary' %>

    <% end %>
  </div>

</section>
