<% meta(
    title: @post.title,
    robots: 'noindex, follow',
    og_title: @post.title
  )
%>

<section class="justEntry">
  <div class="userCreateInfo">
    <%= link_to [@post.author.graetzl, @post.author] do %>
      <%= attachment_image_tag @post.author, :avatar, :fill, 80, 80, fallback: 'avatar/user/80/80.png', class: 'img-round' %>
    <% end %>
    <span class="userAndType">
      Beitrag von <%= link_to @post.author.username, [@post.author.graetzl, @post.author] %></a>
      <span> am <%= l(@post.created_at, format:'%A, %d. %B %Y') %></span>
    </span>
  </div>
  <div class="theEntry">
    <div class="title"><%= @post.title %></div>
    <div class="txt"><%= @post.content %></div>
    <div class="entryImgUploads" data-featherlight-gallery data-featherlight-filter="a">
      <% @post.images.each do |image| %>
        <%= link_to attachment_image_tag(image, :file, :fill, 200, 200), attachment_url(image, :file, :limit, 800, 800) %>
      <% end %>
    </div>
    <% if @post.edit_permission?(current_user) %>
      <%= button_to 'Beitrag löschen', [@post.graetzl, @post],
                    data: { confirm: 'Bist du dir sicher?' },
                    method: :delete,
                    class: 'btn-destroy' %>
    <% end %>
  </div>
</section>
<div class="stream">
  <%= render 'comments/form', commentable: @post %>
  <%= render partial: 'comments/stream_comment', collection: @comments, as: 'comment' %>
</div>
