<div class="address-container">

  <div class="hl-subtext">
    <h1>Neue Einzahlung für</h1>
    <p>
      <%= link_to @crowd_boost, @crowd_boost %><br>
    </p>
    <p>
      <% if current_user %>
        Um fortzufahren, gib zunächst noch deine Daten bekannt.
      <% else %>
        Solltest du bei <%= t("region.#{current_region.id}.domain_full") %> registriert sein,
        <%= link_to 'melde dich zunächst hier an', login_crowd_boost_crowd_boost_charges_path(@crowd_boost) %>
        und nutze deine hinterlegten Standarddaten.
      <% end %>
    </p>
  </div>

  <%= form_for [@crowd_boost, @crowd_boost_charge] do |f| %>

    <div class="input-field">
      <%= f.label :amount do %>
        <%= icon_tag "currency-euro" %>
        <span>Betrag</span>
      <% end %>
      <%= f.number_field :amount, placeholder: 'Betrag in €', class: 'amount-input', required: true %>
    </div>

    <div class="input-field">
      <%= f.label :email do %>
        <%= icon_tag "at-symbol" %>
        <span>E-Mail</span>
      <% end %>
      <%= f.email_field :email, placeholder: 'E-Mail Adresse', required: true %>
    </div>

    <div class="input-field">
      <%= f.label :name do %>
        <%= icon_tag "user-avatar" %>
        <span>Name</span>
      <% end %>
      <%= f.text_field :contact_name, placeholder: 'Vor- & Nachname' %>
      <!-- add more fields ... -->
    </div>

    <div class="form-columns">
      <%= submit_tag "Weiter zur Zahlung", class: 'btn-primary' %>
    </div>

  <% end %>

</div>
