<% more ||= false %>

<div class="cardbox-wrp">
  <div class="paperCard -cord1RT -illuteaser">
    <div class="wrp">
      <div class="user">
        <% if u = current_user %>
          <%= avatar_for u %>
          <span><%= u.username %></span>
        <% else %>
          <img class="img-round" src="https://placeimg.com/40/40/people?6" alt="">
          <span>Dein Name</span>
        <% end %>
      </div>
      <h3>Starte ein Treffen im Grätzl <%= graetzl.name %></h3>
      <%= link_to 'Jetzt loslegen', new_graetzl_meeting_path(graetzl), class: 'btn-primary' %>
    </div>
    <div class="card"></div>
  </div>
  <% if more %>
    <%= link_to 'Alle Treffen & Events', graetzl_meetings_path(graetzl), class: 'link-more' %>
  <% end %>
</div>