<%= form_for @meeting do |f| %>
  <%= form_errors_for @meeting %>

  <div class="meet-what">
    <p><span>Was</span> für ein Treffen oder Veranstaltung planst du genau?</p>

    <div class="input-field">
      <%= f.label :name do %>
        <%= icon_tag "record" %>
        <span>Titel</span>
      <% end %>
      <%= f.text_field :name, placeholder: 'Gib deinem Treffen oder Veranstaltung einen kurzen Namen.'  %>
    </div>

    <div class="input-textarea">
      <%= f.label :description do %>
        <%= icon_tag "layout-document" %>
        <span>Beschreibung</span>
      <% end %>
      <%= f.text_area :description, placeholder: 'Beschreibe kurz, um was es bei deinem Treffen geht.' %>
    </div>

    <% if user_locations.present? %>
      <div class="input-select">
        <%= f.label :location_id do %>
          <%= icon_tag "label-tag" %>
          <span>Schaufenster</span>
        <% end %>
        <%= f.select(:location_id, user_locations.map{|l| [l.name, l.id, data: l.address_hash] },
            { include_blank: 'Treffen mit Schaufenster verknüpfen ..' },
            { class: 'select-location-input' })
        %>
      </div>
    <% end %>

    <% if @meeting.good_morning_date? || current_user.admin? %>

      <div class="input-field">
        <%= f.label :max_going_tos do %>
          <%= icon_tag "users" %>
          <span>Max. Teilnehmer</span>
        <% end %>
        <%= f.number_field :max_going_tos, step: 1, placeholder: 'Möchtest du die Teilnehmeranzahl begrenzen?' %>
      </div>

    <% end %>


  </div>

  <div class="meet-where">
    <p><span>Wo</span> soll dein Treffen oder Veranstaltung stattfinden?</p>

    <div class="meeting-switch option-switch">
      <div class="input-radio">
        <%= f.radio_button :online_meeting, false, class: 'online-meeting-switch' %>
        <%= f.label :online_meeting, "Treffen mit Adresse", value: false %>
      </div>

      <div class="input-radio">
        <%= f.radio_button :online_meeting, true, class: 'online-meeting-switch' %>
        <%= f.label :online_meeting, "Online Event", value: true %>
      </div>
    </div>

    <div id="meeting-online-fields">
      <%= render "meetings/form/online_fields", f: f %>
    </div>

    <div id="meeting-offline-fields">
      <%= render "meetings/form/address_fields", f: f %>
    </div>
  </div>

  <div class="meet-when">
    <p><span>Wann</span> planst du dein Treffen, deine Veranstaltung?</p>

    <div class="date-switch option-switch">

      <div class="input-radio">
        <%= radio_button_tag :date_option, 'single' %>
        <%= label_tag :date_option_single, "Einzeltermin" %>
      </div>

      <div class="input-radio">
        <%= radio_button_tag :date_option, 'multiple' %>
        <%= label_tag :date_option_multiple, "Mehrere Termine" %>
      </div>

      <div class="input-radio">
        <%= radio_button_tag :date_option, 'range' %>
        <%= label_tag :date_option_range, "Zeitraum <em>(max. 30 Tage)</em>".html_safe %>
      </div>

    </div>

    <div class="dates">
      <div class="input-field">
        <%= f.label :starts_at_date do %>
          <%= icon_tag "calendar-2" %>
          <span>Startdatum</span>
        <% end %>
        <%= f.text_field :starts_at_date,
                         value: (I18n.localize(f.object.starts_at_date, format:'%A, %d. %B %Y') if f.object.starts_at_date),
                         data: { value: (I18n.localize(f.object.starts_at_date, format:'%Y-%m-%d') if f.object.starts_at_date) },
                         class: 'datepicker startdate',
                         placeholder: 'wählen' %>
      </div>

      <div class="input-field">
        <%= f.label :starts_at_time do %>
          <%= icon_tag "time-clock" %>
          <span>Beginn</span>
        <% end %>
        <%= f.text_field :starts_at_time,
                         value: (f.object.starts_at_time.strftime('%H:%M') if f.object.starts_at_time),
                         class: 'timepicker',
                         placeholder: 'wählen' %>
      </div>

      <div class="input-field">
        <%= f.label :ends_at_time do %>
          <%= icon_tag "time-clock" %>
          <span>Ende</span>
        <% end %>
        <%= f.text_field :ends_at_time, ignore_date: true,
                         value: (f.object.ends_at_time.strftime('%H:%M') if f.object.ends_at_time),
                         class: 'timepicker', placeholder: 'wählen' %>
      </div>
    </div>

  </div>

  <div class="date-fields" id="date-option-single">

  </div>

  <div class="date-fields" id="date-option-range">
    <div class="input-field">
      <%= f.label :ends_at_date do %>
        <%= icon_tag "calendar-2" %>
        <span>Enddatum</span>
      <% end %>
      <%= f.text_field :ends_at_date,
                       value: (I18n.localize(f.object.ends_at_date, format:'%A, %d. %B %Y') if f.object.ends_at_date),
                       data: { value: (I18n.localize(f.object.ends_at_date, format:'%Y-%m-%d') if f.object.ends_at_date) },
                       class: 'datepicker enddate',
                       placeholder: 'wählen' %>
    </div>
  </div>

  <div class="date-fields additional-dates" id="date-option-multiple">
    <%= f.fields_for :meeting_additional_dates, f.object.meeting_additional_dates.sort_by { |d| [d.starts_at_date, d.starts_at_time] } do |field_form| %>
      <%= render 'meetings/form/additional_date_fields', f: field_form if f.object.meeting_additional_dates.any? %>
    <% end %>
    <div class="meet-when meeting-additional-dates-links">
      <%= link_to_add_association 'Weiteres Datum hinzufügen', f, :meeting_additional_dates, partial: 'meetings/form/additional_date_fields', class: 'btn-primary -mint -small' %>
    </div>
  </div>


  <div class="meet-how">
    <p>Lade ein <span>Bild</span> für dein Treffen hoch</p>

    <div class="upload-oldschool">
      <%= f.label :cover_photo do %>
        <%= icon_tag "photo-camera" %>
          <span>Coverphoto<small class="upload-hint">(max. 5MB)</small></span>
      <% end %>
      <div class="field-wrp">
        <%= upload_image_input(f, :cover_photo) %>
      </div>
    </div>
    <div class="upload-oldschool">
      <%= f.label :images do %>
        <%= icon_tag "photo-camera" %>
        <span>Weitere Fotos<small class="upload-hint">(max. 5MB / Foto)</small></span>
      <% end %>
      <div class="field-wrp">
        <%= upload_image_input(f, :images, multiple: true, max_files: 4) %>
      </div>
    </div>
  </div>

  <div class="meet-event-category">
    <p>Event <span>Kategorien</span> - Welche treffen zu?</p>
    <div class="event-categories cb-columns">
      <%= f.collection_check_boxes :event_category_ids, EventCategory.all, :id, :title do |b| %>
      <div class="input-checkbox <%= b.object.hidden && !current_user.admin? ? '--hidden' : '' %>">
        <%= b.check_box %>
        <%= b.label %>
      </div>
      <% end %>
    </div>
  </div>

  <% if current_user.admin? %>

    <div class="meet-admin">
      <p><span>Admin</span> Funktionen</p>

      <div class="cardBox">
        <div class="input-checkbox">
          <%= f.check_box :entire_region %>
          <label for="meeting_entire_region">
            Ganz <%= current_region.name %>
            <small>(Treffen wird in alle Streams und E-Mails in der Region aufgenommen.)</small>
          </label>
          
        </div>
      </div>

      <% if f.object.new_record? %>
        <div class="input-field">
          <%= f.label :user_id do %>
            <%= icon_tag "user-avatar" %>
            <span>Treffen Ersteller</span>
          <% end %>
          <div class="user-autocomplete autocomplete-wrp">
            <%= image_tag 'svg/loading-input.svg', class: 'autocomplete-loading-spinner -hidden' %>
            <%= hidden_field_tag :user_id, current_user.id, data:{behavior:"user-autocomplete-id"} %>
            <%= text_field_tag :q, current_user.username, id: "user-autocomplete", data:{behavior:"user-autocomplete"} %>
          </div>
        </div>
      <% end %>

    </div>
    
  <% end %>

  <div class="input-button">
    <%= link_to 'Treffen löschen', @meeting,
                  method: :delete,
                  data: { confirm: "Willst Du dein Treffen '#{@meeting.name}' wirklich unwiderruflich löschen?" },
                  class: 'btn-secondary -grey -small' if !f.object.new_record? %>
    <%= f.button data: { disable_with: 'speichert...' }, class: 'btn-primary -saving' %>
  </div>

<% end %>
