<%= form_for([@graetzl, @meeting]) do |f| %>

  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2>Treffen konnte nicht erstellt werden: <%= @meeting.errors.count %> Fehler.</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="meet-what">
    <p>Was für ein Treffen planst du genau?</p>

    <div class="input-group">
      <%= f.text_field :name %>
      <%= f.label :name, 'Gib deinem Treffen einen kurzen Namen.' %>
    </div>
    <div class="textarea-group">
      <%= f.text_area :description, cols: 30, rows: 10 %>
      <%= f.label :description, 'Beschreibe dein Treffen in 1-2 Sätzen' %>
    </div>
  </div>


  <div class="meet-where">
    <p>Wo soll dein Treffen stattfinden?</p>    

    <div class="input-group">
      <div class="wrp-icon">
        <svg class="icon-pin"><use xlink:href="#icon-pin"></use></svg>
      </div>
      <%= text_field_tag :address, nil %>
      <%= label_tag :address, 'Straße Hausnummer' %>
      <%= hidden_field_tag :feature %>
    </div>

    <%= f.fields_for :address do |address_fields| %>
      <div class="input-group">
        <div class="wrp-icon">
          <svg class="icon-flag"><use xlink:href="#icon-flag"></use></svg>
        </div>
        <%= address_fields.text_field :description %>
        <%= address_fields.label :description, 'Ortsbeschreibung' %>
      </div>

    <% end %>
  </div>


  <div class="meet-when">
    <p class="txt">Wann planst du dein Treffen?</p>

    <div class="datepicker-group">
      <%= f.label :starts_at_date do %>
        <svg class="icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
        Datum
      <% end %>
      <%= f.text_field :starts_at_date, class: 'datepicker', placeholder: 'wählen' %>
    </div>

    <div class="timepicker-group">
      <%= f.label :starts_at_time do %>
        <svg class="icon-clock"><use xlink:href="#icon-clock"></use></svg>
        Beginn
      <% end %>
      <%= f.text_field :starts_at_time, class: 'timepicker', placeholder: 'wählen' %>
    </div>

    <div class="timepicker-group">
      <%= f.label :ends_at_time do %>
        <svg class="icon-clock"><use xlink:href="#icon-clock"></use></svg>
        Ende
      <% end %>
      <%= f.text_field :ends_at_time, ignore_date: true, class: 'timepicker', placeholder: 'wählen' %>
    </div>
  </div>


  <div class="meet-picture">
    <p>Hast du vielleicht ein Foto für dein Treffen?<br>
      Irgendetwas was dein Treffen bildlich beschreiben könnte?</p>
    <div class="upload-image">
      <!-- <img src="http://kulyo.com/wp-content/uploads/2013/01/eventica-dummy-image-31.jpg" alt=""/> -->
      <svg class="icon-camera"><use xlink:href="#icon-camera"></use></svg>
      Cover-Foto hochladen
      <!--  <svg class="icon-delete-circle"><use xlink:href="#icon-delete-circle"></use></svg> -->
      <%= f.file_field :cover_photo %>
    </div>
  </div>

  <div class="meet-categories">
    <p>Zum Abschluss versuche noch dein Treffen einem oder mehreren Themen zuzuordnen</p>
    <%= f.collection_select(:category_ids, Category.all, :id, :name, {}, {multiple: true, class: 'categories'}) %>
  </div>

  <div class="actions">
    <%= f.button class: 'btn-primary' %>
  </div>
<% end %>