<div class="cardBox">
  <div class="cardBoxHeader">
    <%= link_to [meeting.graetzl, meeting] do %>
      <%= attachment_image_tag(meeting, :cover_photo, :fill, 300, 180, fallback: 'cover_photo/300x180.png', class: 'coverImg') %>
    <% end %>
    <% if meeting.starts_at_date %>
      <div class="calendarSheet">
        <div class="day"><%= meeting.starts_at_date.day %></div>
        <div class="month"><%= I18n.localize(meeting.starts_at_date, format:'%b') %></div>
      </div>
    <% end %>
    <div class="categoryicon">
      <svg class="icon-users"><use xlink:href="#icon-users"></use></svg>
      <div class="count"><%= meeting.users.count %></div>
    </div>
  </div>
  <div class="cardBoxContent">
    <% if initiator = meeting.initiator %>
      <%= link_to [initiator.graetzl, initiator], class: 'initiator' do %>
        <%= attachment_image_tag  initiator, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
        <span><%= initiator.username %></span>
      <% end %>
    <% end %>
    <div class="txt">
      <h3><%= link_to meeting.name, [meeting.graetzl, meeting] %></h3>
      <p><%= truncate(meeting.description, length: 100) %></p>
    </div>
    <%= link_to 'Mitmachen', [meeting.graetzl, meeting], class: 'btn-primary -mint' %>

    <!-- comment -->
    <% if defined? comment %>
      <div class="streamElement">
        <div class="entryInitialContent">
          <div class="userCreateInfo">
            <%= avatar_for comment.user %>
            <span class="userAndType">Kommentar von <%= link_to comment.user.username, [comment.user] %> <span>vor etwa 2 Stunden</span></span>
          </div>
          <div class="txt"><%= truncate comment.content, length: 100 %></div>
        </div>
        <a href="#" class="commentslink">Alle 12 Kommentare ansehen</a>
      </div>
    <% end %>
    <% if defined? participant %>
      <div class="userCreateInfo">
        <%= link_to avatar_for participant, participant %>
        <span class="userAndType"><%= link_to participant.username, participant %> <span>nimmt am Treffen teil</span></span>
      </div>
    <% end %>
  </div>
</div>
