<% small ||= false %>
<div class="cardBox">
  <div class="cardBoxHeader">
    <%= link_to [meeting.graetzl, meeting] do %>
      <%= cover_photo_for(meeting) %>
    <% end %>

    <% if meeting.starts_at_date %>
      <div class="calendarSheet">
        <div class="day"><%= meeting.starts_at_date.day %></div>
        <div class="month"><%= I18n.localize(meeting.starts_at_date, format:'%b') %></div>
      </div>
    <% end %>

    <% if meeting.location && meeting.location.users.include?(meeting.initiator) %>
      <div class="medalBadge">
        <%= avatar_for meeting.location %>
      </div>
    <% else %>
      <div class="sideflag -R"><%= meeting.graetzl.name %></div>
    <% end %>

    <% if initiator = meeting.initiator %>  
      <div class="initiator">
        <%= avatar_for initiator %>
        <span><%= initiator.username %></span>
      </div>
    <% end %>
  </div>
  <h3><%= meeting.name %></h3>

  <% unless small %>
    <div class="txt"><%= truncate(meeting.description, length: 140) %></div>
  <% end %>

  <%= link_to 'Mitmachen', [meeting.graetzl, meeting], class: 'btn-primary -mint' %>

</div>