<% graetzl = Graetzl.memoized(meeting.graetzl_id) %>

<div class="cardBox -meeting <%= meeting_past_flag(meeting) %> <%= local_assigns[:featured_card] if local_assigns[:featured_card].present? %> <%= '-online' if meeting.online_meeting %>" data-behavior="masonry-card" data-card-id="meeting-<%= meeting.id %>">

  <div class="cardBoxHeader">
    <%= link_to [graetzl, meeting], :rel => (meeting.past? ? 'nofollow' : '') do %>
      <div class="coverImgWrapper">
        <%= cover_photo_image(meeting, class: 'coverImg') %>
      </div>
    <% end %>

    <% if meeting.starts_at_date %>
      <div class="calendarSheet -startDate">
        <div class="day"><%= meeting.starts_at_date.day %></div>
        <div class="month"><%= I18n.localize(meeting.starts_at_date, format:'%b') %></div>
      </div>
    <% end %>

    <% if meeting.ends_at_date %>
    <div class="till-badge">bis</div>
    <div class="calendarSheet -endDate">
      <div class="day"><%= meeting.ends_at_date.day %></div>
      <div class="month"><%= I18n.localize(meeting.ends_at_date, format:'%b') %></div>
    </div>
    <% elsif meeting.meeting_additional_dates.size > 0 %>
      <div class="date-badge">+<%= meeting.meeting_additional_dates.size %></div>
    <% end %>

    <div class="categoryicon">
      <% if meeting.online_meeting %>
        <%= icon_tag "globe" %>
      <% else %>
        <%= icon_tag "users" %>
      <% end %>
    </div>

    <% if meeting.online_meeting %>
      <div class="graetzl-sideflag sideflag -R">Online Event</div>
    <% else %>
      <%= graetzl_flag(graetzl) %>
    <% end %>

  </div>

  <div class="cardBoxContent">
    <% if meeting.location&.owned_by?(meeting.user) %>
      <%= link_to [Graetzl.memoized(meeting.location.graetzl_id), meeting.location], class: 'initiator' do %>
        <%= avatar_image_with_tooltip meeting.location, size: :thumb, class: 'img-square' %>
        <span><%= meeting.location.name %></span>
      <% end %>
    <% elsif meeting.user %>
      <%= link_to meeting.user, class: 'initiator', rel: 'nofollow' do %>
        <%= avatar_image_with_tooltip meeting.user, size: :thumb, class: 'img-round' %>
        <span><%= meeting.user.username %></span>
      <% end %>
    <% end %>

    <div class="txt">
      <h3><%= link_to meeting.name, [graetzl, meeting], :rel => (meeting.past? ? 'nofollow' : '') %></h3>
      <p><%= strip_tags(meeting.description.bbcode_to_html.html_safe).truncate(100) %></p>
    </div>

    <% if params[:show_going_tos].present? %>
      <div class="userlist">
        <% meeting.attendees.map(&:user).last(10).each do |user| %>
          <%= link_to user_path(user), rel: 'nofollow' do %>
            <%= avatar_image user, size: :thumb, class: 'img-round' %>
          <% end %>
        <% end %>
        <% if meeting.attendees.count > 10 %>
          <span> + <%= meeting.attendees.count - 10 %> weitere</span>
        <% end %>
      </div>
    <% end %>

    <%= link_to meeting_link_text(meeting), [graetzl, meeting], :rel => (meeting.past? ? 'nofollow' : ''), class: 'btn-primary -mint' %>

    <% if local_assigns[:activity_going_to] %>
      <% participant = local_assigns[:activity_going_to].user %>
      <div class="userCreateInfo">
        <%= link_to participant, rel: 'nofollow' do %>
          <%= avatar_image_with_tooltip participant, size: :thumb, class: 'img-round' %>
        <% end %>
        <span class="userAndType">
          <%= link_to participant.username, participant, rel: 'nofollow' %>
          <span>nimmt teil.</span>
        </span>
      </div>
    <% end %>

    <% if local_assigns[:activity_comment] %>
      <%= render 'activities/comment', parent: meeting, comment_url: graetzl_meeting_path(graetzl, meeting, target: local_assigns[:activity_comment].target_url_params), comment: local_assigns[:activity_comment] %>
    <% end %>
  </div>

  <div class="btn-group">
    <% if params[:logged_in].present? && params[:logged_in] == 'owner' %>
      <% if current_user %>
      <%= link_to 'Bearbeiten', edit_meeting_path(meeting), class: 'btn-secondary -mint -small -mini' %>
      <%= link_to 'E-Mail an Mitglieder', compose_mail_meeting_path(meeting), class: 'btn-secondary -mint -small -wide' %>
      <% end %>
    <% end %>
  </div>

</div>
