<% graetzl = Graetzl.memoized(meeting.graetzl_id) %>

<div class="cardBox -meeting <%= meeting_past_flag(meeting) %> <%= local_assigns[:featured_card] if local_assigns[:featured_card].present? %> <%= '-online' if meeting.online_meeting %>" data-behavior="masonry-card" data-card-id="meeting-<%= meeting.id %>">

  <div class="cardBoxHeader">
    <%= link_to [graetzl, meeting] do %>
      <div class="coverImgWrapper">
        <%= cover_photo_image(meeting, class: 'coverImg') %>
      </div>
    <% end %>

    <% if meeting.starts_at_date %>
      <div class="calendarSheet">
        <div class="day"><%= meeting.starts_at_date.day %></div>
        <div class="month"><%= I18n.localize(meeting.starts_at_date, format:'%b') %></div>
      </div>
    <% end %>

    <% if meeting.meeting_additional_dates.present? %>
    <div class="calendarSheet -additionalDate">
      + <%= meeting.meeting_additional_dates.count %>
    </div>
    <% end %>

    <div class="categoryicon">
      <% if meeting.paid? %>
        <%= icon_tag "ticket" %>
      <% elsif meeting.platform_meeting %>
        <%= icon_tag "handshake" %>
      <% elsif meeting.online_meeting %>
        <%= icon_tag "globe" %>
      <% else %>
        <%= icon_tag "users" %>
      <% end %>
    </div>

    <% if meeting.online_meeting %>
      <div class="graetzl-sideflag sideflag -R">Online Event</div>
    <% else %>
      <%= graetzl_flag(graetzl) %>
    <% end %>

  </div>

  <div class="cardBoxContent">
    <% if meeting.location&.owned_by?(meeting.user) %>
      <%= link_to [Graetzl.memoized(meeting.location.graetzl_id), meeting.location], class: 'initiator' do %>
        <%= avatar_image_with_tooltip meeting.location, size: :thumb, class: 'img-square' %>
        <span><%= meeting.location.name %></span>
      <% end %>
    <% elsif meeting.user %>
      <%= link_to meeting.user, class: 'initiator', rel: 'nofollow' do %>
        <%= avatar_image_with_tooltip meeting.user, size: :thumb, class: 'img-round' %>
        <span><%= meeting.user.username %></span>
      <% end %>
    <% end %>

    <div class="txt">
      <h3><%= link_to meeting.name, [graetzl, meeting] %></h3>
      <p><%= truncate(meeting.description, length: 100) %></p>
    </div>
    <%= link_to meeting_link_text(meeting), [graetzl, meeting], class: 'btn-primary -mint' %>

    <% if local_assigns[:activity_going_to] %>
      <% participant = local_assigns[:activity_going_to].user %>
      <div class="userCreateInfo">
        <%= link_to participant, rel: 'nofollow' do %>
          <%= avatar_image_with_tooltip participant, size: :thumb, class: 'img-round' %>
        <% end %>
        <span class="userAndType">
          <%= link_to participant.username, participant, rel: 'nofollow' %>
          <span>nimmt teil.</span>
        </span>
      </div>
    <% end %>

    <% if local_assigns[:activity_comment] %>
      <%= render 'activities/comment', parent: meeting, comment: local_assigns[:activity_comment] %>
    <% end %>
  </div>

  <div class="btn-group">
    <% if params[:logged_in].present? && params[:logged_in] == 'owner' %>
      <% if current_user %>
      <%= link_to 'Bearbeiten', edit_meeting_path(meeting), class: 'btn-secondary -mint -small -mini' %>
      <%= link_to 'E-Mail an Mitglieder', compose_mail_meeting_path(meeting), class: 'btn-secondary -mint -small -wide' %>
      <% end %>
    <% end %>
  </div>

</div>
