<%= link_to [meeting.graetzl, meeting], class: 'meetingTeaser' do %>
  <%= attachment_image_tag(meeting, :cover_photo, :fill, 980, 370, fallback: 'cover_photo/default.jpg') %>

    <div class="facts">
      <h2><%= meeting.name %></h2>
      <div class="dateLocation">
        <% if meeting.starts_at_date %>
            <div class="dateTimeIconSmall">
              <svg class="icon-calendar-1"><use xlink:href="#icon-calendar-1"></use></svg>
              <%= I18n.localize(meeting.starts_at_date, format:'%A, %d. %B %Y') if meeting.starts_at_date %>
            </div>
        <% end %>
        <% if meeting.address.description.present? || meeting.address.street_name %>
            <div class="locationIconSmall">
              <svg class="icon-map"><use xlink:href="#icon-map"></use></svg>
              <%= address_for_teaser(meeting.address) %>
            </div>
        <% end %>
      </div>
    </div>

    <div class="participantsCountSmall">
      <svg class="icon-person">
        <use xlink:href="#icon-person"></use>
      </svg>
      <%= meeting.users.count %>
    </div>

<% end %>


<div class="txt">
  <%= simple_format(truncate(meeting.description, length: 200)) %>
</div>