<%= link_to [meeting.graetzl, meeting], class: 'meetingTeaser' do %>
  <%= attachment_image_tag(meeting, :cover_photo, :fill 980, 370, fallback: 'cover_photo/980x370.png') %>

    <div class="facts">
      <h2><%= meeting.name %></h2>
      <div class="dateLocation">
        <% if meeting.starts_at_date %>
            <div class="dateTimeIconSmall">
              <svg class="icon-calendar-2"><use xlink:href="#icon-calendar-2"></use></svg>
              <%= I18n.localize(meeting.starts_at_date, format:'%A, %d. %B %Y') if meeting.starts_at_date %>
            </div>
        <% end %>
        <% if meeting.address.description.present? || meeting.address.street_name %>
            <div class="locationIconSmall">
              <svg class="icon-location"><use xlink:href="#icon-location"></use></svg>
              <%= address_for_teaser(meeting.address) %>
            </div>
        <% end %>
      </div>
    </div>

    <div class="participantsCountSmall">
      <svg class="icon-users"><use xlink:href="#icon-users"></use></svg>
      <%= meeting.users.count %>
    </div>

<% end %>


<div class="txt"><%= truncate(meeting.description, length: 200) %></div>
