<div class="dateTime">

  <div class="wrp-icon">

    <% if @meeting.starts_at_date %>

      <span>
        <%= I18n.localize(@meeting.starts_at_date, format: '%b') %><br>
        <%= @meeting.starts_at_date.day %>
      </span>

    <% else %>

      <span>?<br>?</span>

    <% end %>

    <svg class="icon-calendar-1"><use xlink:href="#icon-calendar-1"></use></svg>

  </div>

  <div class="dayYearTimes">

    <% if @meeting.starts_at_date %>

      <%= I18n.localize(@meeting.starts_at_date, format:'%A, %d. %B %Y') %>

    <% else %>

      Tag steht noch nicht fest...

    <% end %>

    <br>
    <span class="begin">Beginn: <%= localize_time(@meeting.starts_at_time, '%H:%M') %></span>
    <span class="end">Ende: <%= localize_time(@meeting.ends_at_time, '%H:%M') %></span>
  </div>
</div>