<div class="user-miniprofile-container">
  <%= link_to 'javascript:', data: { jq_dropdown: "#user-dropdown-#{going_to.id}" }, class: 'user-miniprofile-link' do %>
    <%= avatar_for user %>
  <% end %>
  <div id="user-dropdown-<%= going_to.id %>" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-left">
    <div class="jq-dropdown-panel">
      <%= link_to user.username, user, class: 'userlink' %>
      <p><%= user.full_name %></p>
      <p><%= mail_to user.email, user.email, class: 'maillink' %></p>
      <% if going_to.going_to_date %>
        <p><strong>Termin:</strong> <%= going_to.display_starts_at_date %></p>
      <% end %>
    </div>
  </div>
</div>
