<section class="meetings-compose-mail">

  <div class="hl-subtext">
    <h1><span>E-Mail</span> an Treffen Mitglieder</h1>
    <p>
      „<%= @meeting.name %>“
    </p>
  </div>

  <div class="members">
    <% @meeting.going_tos.each do |going_to| %>
      <%= link_to user_path(going_to.user), rel: 'nofollow' do %>
        <% going_to.going_to_date ? additional = "<strong>Termin:</strong> #{going_to.display_starts_at_date}" : nil %>
        <%= avatar_image_with_tooltip going_to.user, size: :thumb, class: 'img-round show-badge', additional: additional %>
      <% end %>
    <% end %>
  </div>

  <div class="mailTo">

    <%= form_tag send_mail_meeting_path(@meeting) do %>

      <div class="input-select select_users">
        <%= label_tag :user_ids do %>
          <%= icon_tag "user-avatar" %>
          <span>Empfänger</span>
        <% end %>
        <%= select_tag :user_ids, options_from_collection_for_select(@meeting.going_tos, :user_id, :user_width_full_name_and_going_to_date, params[:user_ids]), id: 'mail-user-select', multiple: true, required: true %>
      </div>

      <div class="input-field">
        <%= label_tag :subject do %>
        <%= icon_tag "record" %>
        <span>Betreff</span>
        <% end %>
        <%= text_field_tag :subject, params[:subject], placeholder: "Dein Betreff", required: true %>
      </div>

      <div class="input-textarea">
        <%= label_tag :body do %>
        <%= icon_tag "layout-document" %>
        <span>Inhalt</span>
        <% end %>
        <%= text_area_tag :body, params[:body], placeholder: "Deine E-Mail", required: true %>
      </div>

      <%= submit_tag 'E-Mail absenden', data: { disable_with: 'sendet...' }, class: 'btn-primary' %>
    <% end %>
  </div>

</section>
