<%
  meta({
    title: t('.title', graetzl: @graetzl.name),
    description: t('.description', graetzl: @graetzl.name),
    robots: (@graetzl.closed? || params[:past].present?) ? 'noindex, follow' : 'index, follow',
    og_title: t('.title', graetzl: @graetzl.name),
    og_description: t('.description', graetzl: @graetzl.name),
    og_image: image_url('meta/og_logo.png')
  })
%>
<% content_for(:rel_next_prev, rel_next_prev_link_tags(@upcoming, param_name: :upcoming, params: { scope: :upcoming } )) unless params[:past].present? %>

<section class="meetings-overview">
  <%= render 'graetzls/map', map_data: @map_data %>
  <h1 class="hl-main">Komm doch dazu - <span>Treffen, Events & Veranstaltungen</span></h1>
  <div id="upcoming" class="cardBoxCollection -tripple js-moveActionCard3rd">
    <%= render 'action_card', graetzl: @graetzl %>
    <%= render @upcoming %>
  </div>
  <div id='paginate-upcoming'>
    <%= paginate @upcoming, remote: true, param_name: :upcoming, params: { scope: :upcoming } %>
  </div>
  <% if @past.present? %>
    <h1 class="hl-main">Vergangene Treffen im <span><%= @graetzl.name %></span></h1>
    <div id="past" class="cardBoxCollection -tripple">
      <%= render @past %>
    </div>
    <div id='paginate-past'>
      <%= paginate @past, remote: true, param_name: :past, params: { scope: :past } %>
    </div>
  <% end %>
</section>
