<% title(@graetzl.name) %>

<h1><%= @graetzl.name %></h1>
<% if user_signed_in? %>
  <%= link_to 'Neues Treffen starten', new_graetzl_meeting_path(@graetzl), class: 'btn-userCallToAction' %>  
<% end %>

<% if @meetings.upcoming.present? %>
  <h2>Treffen im <%= @graetzl.name %></h2>

  <div class="meetingBoxes">
    <% @meetings.upcoming.each do |meeting| %>
      <%= render 'meetings/box', meeting: meeting %>
    <% end %>
  </div>
<% end %>


<% if @meetings.past.present? %>
  <h2>Treffen im <%= @graetzl.name %></h2>

  <div class="meetingBoxes">
    <% @meetings.past.each do |meeting| %>
      <%= render 'meetings/box', meeting: meeting %>
    <% end %>
  </div>
<% end %>