<%
  meta({
    title: t('.title', graetzl: @graetzl.name),
    description: t('.description', graetzl: @graetzl.name),
    robots: @graetzl.open? ? 'index, follow' : 'noindex, follow',
    og_title: t('.title', graetzl: @graetzl.name),
    og_description: t('.description', graetzl: @graetzl.name),
    og_image: image_url('meta/og_logo.png')
  })
%>

<section class="meetings-overview" data-mapdata="<%= @map_data %>">

  <div class="mapImgBlock singleGraetzl">
    <div id="graetzlMapWidget"></div>
    <div class="activeArea"></div>
    <div class="illuDistrict"></div>

    <div class="wrp-headline">
      <h1><%= @graetzl.name %></h1>
      <%= content_tag :span do %>
          in
          <% @graetzl.districts.each do |district| %>
              <%= link_to district.zip, district %>
          <% end %>
      <% end %>
    </div>
  </div>

  <h1 class="hl-main">Komm doch dazu - <span>Treffen, Events & Veranstaltungen</span></h1>
  <div class="cardBoxCollection -tripple">
    <%= render 'action_card', graetzl: @graetzl %>
    <%= render @upcoming_meetings %>
  </div>
  <% if @past_meetings.present? %>
    <h1 class="hl-main">Vergangene Treffen im <span><%= @graetzl.name %></span></h1>
    <div class="cardBoxCollection -tripple">
      <%= render @past_meetings %>
    </div>
  <% end %>
</section>
