<% title(@graetzl.short_name) %>

<h1><%= @graetzl.short_name %></h1>

<% if user_signed_in? %>

  <%= button_to new_graetzl_meeting_path(@graetzl), method: :get, class: 'btn-userCallToAction' do %>
    <%= image_tag current_user.avatar_url(:small), class: 'img-round' %> Neues Treffen starten
  <% end %>
  
<% end %>

<h2>Treffen im <%= @graetzl.short_name %></h2>

<% @graetzl.meetings.each do |meeting| %>

  <%= link_to [@graetzl, meeting] do %>
    <% if meeting.starts_at_date %>
      <strong>
        <%= I18n.localize(meeting.starts_at_date, format:'%b') %><br>
        <%= meeting.starts_at_date.day %>
      </strong>
    <% end %>
    <p><%= meeting.name %><br><%= meeting.users.count %> nehmen schon teil</p>
  <% end %>

<% end %>
  