<% title("Treffen im #{@graetzl.name}") %>
<section class="meetings">
  <h2>Kommende Treffen im <%= @graetzl.name %></h2>
  <div class="meetingBoxes">
    <%= render 'box_action' %>
    <%= render partial: 'box', collection: @upcoming_meetings, as: 'meeting' %>
  </div>
  <% if @past_meetings %>
    <h2>Vergangene Treffen im <%= @graetzl.name %></h2>
    <div class="meetingBoxes">
      <%= render partial: 'meetings/box', collection: @past_meetings, as: 'meeting' %>
    </div>
  <% end %>
</section>