<% meta(
    title: t('.title', name: @meeting.name),
    description: t('.description', desc: @meeting.description[0...154]),
    robots: 'index, follow',
    og_title: t('.title', name: @meeting.name),
    og_description: t('.description', desc: @meeting.description[0...154]),
    og_image: @meeting.cover_photo_url(:header, :large) || image_url("meta/#{current_region.id}/og_logo.png")
  )
%>

<% content_for :canonical_url, graetzl_meeting_url(@graetzl, @meeting) %>

<section class="meeting">
  <div class="imgHeader -cloudy">
    <div class="titleHeadline">
      <div class="wrp">
        <% if @meeting.online_meeting %>
          <%= link_to content_tag(:h3, 'Online Event', class: 'district'), @graetzl %>
        <% else %>
          <%= link_to content_tag(:h3, @graetzl.name, class: 'district'), @graetzl %>
        <% end %>
        <h1><%= @meeting.name %></h1>
      </div>
      <div class="card"></div>
    </div>
    <%= cover_header_image(@meeting, class: 'titleImg') %>
  </div>

  <div class="entryDescription">

    <div class="dateTime-container <%= '-additional' if @meeting.meeting_additional_dates.present? %>">

      <div class="dateTime">

        <% if @meeting.ends_at_date %>
          <%= render 'meetings/datetime_range', date: @meeting %>
        <% else %>
          <%= render 'meetings/datetime', date: @meeting %>
        <% end %>

        <% if @meeting.meeting_additional_dates.present? %>
          <% @meeting.meeting_additional_dates.sort_by(&:starts_at_date).each do |date| %>
            <%= render 'meetings/datetime', date: date , additonal_date: 'additonal' %>
          <% end %>
        <% end %>

      </div>

    </div>

    <div class="ico-row">
      <%= meeting_place @meeting %>
    </div>

    <% if @meeting.group.present? %>
      <div class="ico-row">
        <%= image_tag cover_url(@meeting.group, :thumb), class: 'location avatar img-square' %>
        <div class="infotxt">
          <em class="info">Gruppe:</em><br>
          <span><%= link_to @meeting.group.title, @meeting.group, class: 'infolink' %></span>
        </div>
      </div>
    <% end %>

    <div class="ico-row userPortraitName">
      <% if @meeting.location&.owned_by?(@meeting.user) %>
        <%= avatar_image_with_tooltip @meeting.location, size: :thumb, class: 'img-square' %>
        <div class="infotxt">
          <em class="info">Erstellt von:</em><br>
          <%= link_to @meeting.location.name, [Graetzl.memoized(@meeting.location.graetzl_id), @meeting.location], class: 'infolink' %>
        </div>
      <% elsif @meeting.user %>
        <%= avatar_image_with_tooltip @meeting.user, size: :thumb, class: 'img-round' %>
        <div class="infotxt">
          <em class="info">Erstellt von:</em><br>
          <%= link_to @meeting.user.username, @meeting.user, class: 'infolink', rel: 'nofollow' %>
        </div>
      <% end %>
    </div>

    <div class="bbcode"><%= @meeting.description.bbcode_to_html.html_safe %></div>

  </div>


  <div class="entryParticipate" data-behavior="participants-container">
    <%= render 'meetings/sidebar/participation_button', meeting: @meeting %>
    <%= render 'meetings/sidebar/participations', meeting: @meeting %>
  </div>

  <div class="entryImgUploads">
    <%= link_to image_tag(@meeting.cover_photo_url(:thumb)), @meeting.cover_photo_url, data: { jbox_image: "maingallery" } if @meeting.images.present? %>
    <% @meeting.images.each do |image| %>
      <%= link_to gallery_thumb_image(image), image.file_url, data: { jbox_image: "maingallery" } %>
    <% end %>
  </div>

  <div class="stream">
    <%= render 'comments/form', commentable: @meeting %>
    <%= render partial: 'comments/stream_comment', collection: @comments, as: 'comment' %>
  </div>

  <% if @meeting.address_coordinates.present? %>
    <%= address_map(@meeting) %>
  <% end %>

  <div class="meetingBlock">
    <%= render 'further_meetings' %>
  </div>

</section>
