<% title(@meeting.name) %>

<h3><%= @graetzl.short_name %></h3>
<h2>Treffen: <%= @meeting.name %></h2>

<% if current_user.going_to?(@meeting) %>
  <%= button_to 'nicht mehr teilnehmen', going_to_path(@meeting.going_tos.find_by_user_id(current_user)), method: :delete, remote: true %>
<% else %>
  <%= button_to 'Teilnehmen', going_tos_path(meeting_id: @meeting.id), remote: true %>
<% end %>

<%= image_tag @meeting.cover_photo_url %>
<%= debug @meeting %>

<%= link_to 'Zurück', @graetzl %>