<div class="headerBlock">

  <div class="titleHeadline">
    <%= link_to content_tag(:h3, @graetzl.name, class: 'district'), @graetzl %>
    <h1><%= @meeting.name %></h1>
  </div>
  <%= image_tag @meeting.cover_photo_url(:small), class: 'titleImg' %>

</div>


<div class="entryDescription">

  <%= render 'time', meeting: @meeting %>

  <%= render 'location', address: @meeting.address %>  

  <%= simple_format @meeting.description, class: 'txt' %>

</div>

<div class="entryParticipate">
  <%= render 'participation', users: @meeting.users %>
</div>

<div class="stream">
  <div class="writeEntry">
    Stream
  </div>
  <div class="streamEntry">

  </div>
</div>