<% meta(
    title: t('.title', name: @meeting.name),
    description: t('.description', desc: @meeting.description[0...154]),
    robots: 'index, follow',
    og_title: t('.title', name: @meeting.name),
    og_description: t('.description', desc: @meeting.description[0...154]),
    og_image: attachment_url(@meeting, :cover_photo, host: request.url, fallback: 'meta/og_logo.png')
  )
%>

<section class="meeting">
  <div class="imgHeader -cloudy">
    <div class="titleHeadline">
      <div class="wrp">
        <%= link_to content_tag(:h3, @graetzl.name, class: 'district'), @graetzl %>
        <%= meeting_name @meeting %>
      </div>
      <div class="card"></div>
    </div>
    <%= attachment_image_tag @meeting, :cover_photo, :fill, 980, 370, fallback: 'cover_photo/980x370.png', class: 'titleImg' %>
  </div>

  <% if @meeting.active? %>
    <div class="entryDescription">
      <div class="dateTime">
        <div class="iconCalendarTextual">
          <%= icon_tag 'calendar-2' %>
        </div>
        <div class="dayYearTimes">
          <% if @meeting.starts_at_date %>
              <%= I18n.localize(@meeting.starts_at_date, format:'%A, %d. %B %Y') %>
          <% else %>
              Tag steht noch nicht fest...
          <% end %>
          <br>
          <span class="begin">Beginn: <%= localize_time(@meeting.starts_at_time, '%H:%M') %></span>
          <span class="end">Ende: <%= localize_time(@meeting.ends_at_time, '%H:%M') %></span>
        </div>
      </div>
      <div class="place">
        <%= meeting_place @meeting %>
      </div>
      <% if @meeting.group.present? %>
        <div class="place">
          <div class="iconMapLink">
            <%= icon_tag 'speech-bubble' %>
          </div>
          <div class="address">
            <span><%= link_to @meeting.group.title, @meeting.group %></span>
          </div>
        </div>
      <% end %>
      <%= meeting_initiator_row @meeting %>
      <div class="txt"><%= @meeting.description %></div>
    </div>

    <%= render 'going_tos/participation', meeting: @meeting %>
    
    <% if @meeting.address.try(:coordinates) %>
    <div class='gmap'>
      <iframe width="930" height="300" frameborder="0" style="border:0" src='<%= embedded_map_url(@meeting.address.coordinates)%>' allowfullscreen></iframe>
    </div>
    <% end %>

    <div class="stream">
      <%= render 'comments/form', commentable: @meeting %>
      <%= render partial: 'comments/stream_comment', collection: @comments, as: 'comment' %>
    </div>

  <% else %>
    <div class="entryParticipate">
      <%= button_to 'Treffen reaktivieren', edit_meeting_path(@meeting),
                    method: :get,
                    class: 'btn-destroy' if user_signed_in? && (current_user == @meeting.initiator) %>
    </div>
  <% end %>
</section>
