<div class="headerBlock">

  <div class="titleHeadline">
    <div class="wrp">
      <%= link_to content_tag(:h3, @graetzl.name, class: 'district'), @graetzl %>
      <h1><%= @meeting.name %></h1>
    </div>
  </div>
  <%= attachment_image_tag(@meeting, :cover_photo, :fill, 980, 370, fallback: 'cover_photo/default.jpg', class: 'titleImg') %>

</div>


<div class="entryDescription">

  <%= render 'time', meeting: @meeting %>

  <%= render 'location', address: @meeting.address %>

  <%= simple_format @meeting.description, class: 'txt' %>

</div>

<div class="entryParticipate">
  <%= render 'participation', users: @meeting.users %>
</div>

<div class="stream">
  <div class="writeEntry">
    Stream
  </div>
  <div class="streamEntry">

  </div>
</div>