<% meta(
    title: t('.title', name: @meeting.name),
    description: t('.description', desc: @meeting.description[0...154]),
    robots: 'index, follow',
    og_title: t('.title', name: @meeting.name),
    og_description: t('.description', desc: @meeting.description[0...154]),
    og_image: attachment_url(@meeting, :cover_photo, :fill, 1200, 630, host: url_for(:only_path => false, :overwrite_params => nil), fallback: 'meta/og_logo.png')
  )
%>

<%= structured_data_tag('meeting', @meeting) if @meeting.starts_at_date %>

<% content_for :pagemap do %>
  <!--
  <PageMap>
    <DataObject type="document">
      <Attribute name="type">meeting</Attribute>
      <Attribute name="searchable">true</Attribute>
      <Attribute name="id"><%= @meeting.id %></Attribute>
      <Attribute name="title"><%= @meeting.name %></Attribute>
      <Attribute name="description"><%= @meeting.description if @meeting.description.present? %></Attribute>
      <Attribute name="author"><%= @meeting.initiator.full_name if !@meeting.initiator.nil? %></Attribute>
      <Attribute name="user"><%= @meeting.initiator.username if !@meeting.initiator.nil? %></Attribute>
      <Attribute name="graetzl"><%= @graetzl.name %></Attribute>
      <Attribute name="startDate"><%= I18n.localize(@meeting.starts_at_date, format:'%Y-%m-%d') if @meeting.starts_at_date %></Attribute>
    </DataObject>
    <DataObject type="image">
      <Attribute name="src" value="<%= attachment_url(@meeting, :cover_photo, :fill, 900, 540, host: url_for(:only_path => false, :overwrite_params => nil), fallback: 'meta/og_logo.png') %>" />
    </DataObject>
    <DataObject type="thumbnail">
      <Attribute name="src" value="<%= attachment_url(@meeting.initiator, :avatar, :fill, 400, 400, host: url_for(:only_path => false, :overwrite_params => nil), fallback: 'avatar/user/400x400.png') %>" />
    </DataObject>
  </PageMap>
  -->
<% end %>

<section class="meeting">
  <div class="imgHeader -cloudy">
    <div class="titleHeadline">
      <div class="wrp">
        <%= link_to content_tag(:h3, @graetzl.name, class: 'district'), @graetzl %>
        <%= meeting_name @meeting %>
      </div>
      <div class="card"></div>
    </div>
    <%= attachment_image_tag @meeting, :cover_photo, :fill, 980, 370, fallback: 'cover_photo/980x370.png', class: 'titleImg' %>
  </div>

  <% if @meeting.active? %>
    <div class="entryDescription">
      <div class="dateTime">
        <div class="iconCalendarTextual">
          <%= icon_tag 'calendar-2' %>
        </div>
        <div class="dayYearTimes">
          <% if @meeting.starts_at_date %>
              <%= I18n.localize(@meeting.starts_at_date, format:'%A, %d. %B %Y') %>
          <% else %>
              Tag steht noch nicht fest...
          <% end %>
          <br>
          <span class="begin">Beginn: <%= localize_time(@meeting.starts_at_time, '%H:%M') %></span>
          <span class="end">Ende: <%= localize_time(@meeting.ends_at_time, '%H:%M') %></span>
        </div>
      </div>
      <div class="place">
        <%= meeting_place @meeting %>
      </div>
      <% if @meeting.group.present? %>
        <div class="place">
          <div class="iconMapLink">
            <%= icon_tag 'speech-bubble' %>
          </div>
          <div>
            <span><%= link_to @meeting.group.title, @meeting.group %></span>
          </div>
        </div>
      <% end %>
      <%= meeting_initiator_row @meeting %>
      <div class="txt"><%= @meeting.description %></div>
    </div>

    <%= render 'going_tos/participation', meeting: @meeting %>

    <div class="stream">
      <%= render 'comments/form', commentable: @meeting %>
      <%= render partial: 'comments/stream_comment', collection: @comments, as: 'comment' %>
    </div>

  <% else %>
    <div class="entryParticipate">
      <%= button_to 'Treffen reaktivieren', edit_meeting_path(@meeting),
                    method: :get,
                    class: 'btn-destroy' if user_signed_in? && (current_user == @meeting.initiator) %>
    </div>
  <% end %>

  <% if @meeting.address.try(:coordinates) %>
  <div class="map cardBox">
  <script>
    function initMaps() {
      var lat = <%= @meeting.address.try(:coordinates).y %>;
      var lng = <%= @meeting.address.try(:coordinates).x %>;
      var zoom = 17;
      var icon = '<%= image_path('map-marker.png') %>';
      var infowindow = false;
      var popup =
        '<div id="mapsMarker" class="infowindow">'+
          '<p></p>'+
        '</div>';
      APP.components.googleMap.init(lng, lat, zoom, popup, icon, infowindow);
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= embedded_map_defaults.merge({})[:key] %>&callback=initMaps" async defer></script>
  <div id="map"></div>
  </div>
  <% end %>

</section>
