<div class="titleHeadline">
  <%= link_to content_tag(:h3, @graetzl.name, class: 'district'), @graetzl %>
  <h1><%= @meeting.name %></h1>
</div>

<div class="titleImg">
  <%= image_tag @meeting.cover_photo_url(:small) %>
</div>

<div class="entryDescription">

  <%= render 'time', meeting: @meeting %>

  <%= render 'location', address: @meeting.address %>  

  <p class="txt"><%= @meeting.description %></p>

</div>

<div class="entryParticipate">
  <%= render 'participation', users: @meeting.users %>
</div>

<div class="stream">
  <div class="writeEntry">
    Stream
  </div>
  <div class="streamEntry">

  </div>
</div>