<div class="input-checkbox">
  <%= f.check_box :goal_producer_solarpower %>
  <%= f.label :goal_producer_solarpower, "PV" %>
</div>
<div class="input-checkbox beg">
  <%= f.check_box :goal_producer_hydropower %>
  <%= f.label :goal_producer_hydropower, "Wasserkraft" %>
</div>
<div class="input-checkbox beg">
  <%= f.check_box :goal_producer_windpower %>
  <%= f.label :goal_producer_windpower, "Windkraft" %>
</div>