<div class="step-personal" data-step="personalData">
  <div class="inner">
    <h5>Schritt 2/4</h5>
    <h2>Willkommen im <span>Stuwerviertel</span></h2>
    <div class="form-register">

      <div id="user_fields_description"></div>

      <div class="username input-group">
      <%= f.text_field :username %>
      <%= f.label :username %>
      </div>

      <div class="input-group">
        <%= f.password_field :password, autocomplete: "off" %>
        <%= f.label :password %>
      </div>

      <div class="input-group">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
        <%= f.label :password_confirmation %>
      </div>

      <p class="text">... um dich besser kennen zu lernen</p>

      <div class="input-group">
        <%= f.text_field :first_name %>
        <%= f.label :first_name %>
      </div>

      <div class="input-group">
        <%= f.text_field :last_name %>
        <%= f.label :last_name %>
      </div>

      <div class="input-group">
        <%= f.email_field :email %>
        <%= f.label :email %>
      </div>

      <div class="select-group">
        <%= f.select :gender, [
          ['männlich', :gender_male],
          ['weiblich', :gender_female],
          ['keines von beiden', :gender_different]
        ] %>
      </div>

      <!-- todo: birthday -->
      <div class="birthdate input-group">
          <input type="text" id="birthdate"/>
          <label for="birthdate">Geburtsdatum <span>(TT/MM/JJJJ)</span></label>
      </div>

      <!-- todo: newsletter -->
      <!-- todo: terms and conditions -->
    </div>

    <div class="btn-navBar">
        <button class="btn prev" type="button">Schritt zurück</button>
        <button class="btn-primary next" type="button">Weiter</button>
    </div>
  </div>
</div>

<div class="step-userImg" data-step="imageUpload">
  <div class="inner">
    <h5>Schritt 3/4</h5>
    <h2>Schenk deinen Grätzl ein lächeln <span>Michael</span></h2>
    <div class="wrap">
      <div class="userDummy">
          <svg class="icon-vcard"><use xlink:href="#icon-vcard"></use></svg>
      </div>
      <button class="btn-primary" type="button">
        <svg class="icon-camera"><use xlink:href="#icon-camera"></use></svg> Portrait hochladen
        <%= image_tag(resource.avatar_url(:thumb)) if resource.avatar? %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
      </button>
    </div>

    <div class="btn-navBar">
        <button class="btn prev" type="button">Schritt zurück</button>
        <%= f.button "Schritt überspringen", class: 'btn next' %>
    </div>
  </div>
</div>