<% title('Registrierung') %>

<section class="register-searchGraetzl">

  <h2>Lass uns zu Beginn dein <span>Heimatgrätzl</span> finden...</h2>

  <%= form_tag(user_registration_address_path, method: :post) do %>

      <div id="addressSearchAutocomplete" class="input-group">
        <%= text_field_tag :address, nil, required: true, autofocus: true %>
        <%= label_tag :address, 'Wo wohnst du? (Straße und Hausnummer)' %>
        <%= hidden_field_tag :feature %>
      </div>
      <div class="nav-btnBar">
        <%= button_tag 'Weiter ins Grätzl', class: 'btn-primary' %>
      </div>
  <% end %>

</section>