<% title('Registrierung') %>

<section class="register-selectGraetzl">

  <h2>Wähle dein <span>Heimatgrätzl</span></h2>

  <div class="txt">
    <% if @search_input %>

      <p>
        Unter <span class="address"><%= @search_input %></span> konnten wir <%= count_graetzl(@graetzls) %> Grätzl finden.<br>
        Wo fühlst du dich denn zuhause?
      </p>

    <% else %>

      <p>
        Bitte wähle dein Grätzl manuell.<br>
        <span class="txt-hint">(Du kannst deine Auswahl später noch ändern)</span>
      </p>

    <% end %>
  </div>


  <%= form_tag(user_registration_set_graetzl_path) do %>

    <% if @graetzls.empty? %>

      <div class="wrp-selects">
        <div class="select-group">
          <label for="district">Bezirk</label>
          <%= select_tag :district_id, options_from_collection_for_select(District.all, :id, :zip),
            prompt: 'wählen',
            data: { remote: true, url: url_for(action: :graetzl) }
            %>
        </div>
        <%= render 'graetzls', graetzls: Graetzl.all %>
      </div>

    <% else %>

      <div class="wrp-radios">
        <% @graetzls.each do |g| %>
            <div class="radio-group">
              <%= radio_button_tag :graetzl, g.id, required: true %>
              <%= label_tag "#{:graetzl}_#{g.id}", g.name %>
            </div>
        <% end %>
      </div>

    <% end %>

    <div class="nav-btnBar">
      <%= link_to 'Zurück', 'javascript:history.back();', class: 'btn-secondary' %>
      <%= button_tag 'Weiter ins Grätzl', class: 'btn-primary' %>
    </div>

  <% end %>
  
</section>