<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <%= render "#{@user.registration_step}_step", f: f %>
  
  <div class="actions">
  <%= f.submit "Weiter" %>
  <%= f.submit "Zurück", name: 'back_button' unless @user.first_step? %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
