<% title('Registrierung') %>

<section class="register-personalInfo">
  <h2>Willkommen im <span><%= resource.graetzl.short_name %></span></h2>

  <p class="txt">
    <% if resource.graetzl.users.count > 5 %>
        <span><%= resource.graetzl.users.count %></span> Nachbarn warten bereits auf dich.<br>
    <% end %>
    Ein paar Dinge müssen wir noch wissen, dann geht's los!<br>
    <small><%= link_to 'Nicht dein Grätzl?', addresses_search_path(address: ''), method: :post %></small>
  </p>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {}) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-register">

        <div class="field">
          <%= f.fields_for :address do |address_fields| %>
              <%= address_fields.hidden_field :street_name %>
              <%= address_fields.hidden_field :street_number %>
              <%= address_fields.hidden_field :zip %>
              <%= address_fields.hidden_field :city %>
              <%= address_fields.hidden_field :coordinates %>
          <% end %>
        </div>

        <div class="field">
          <%= f.fields_for :graetzl do |graetzl_fields| %>
              <%= graetzl_fields.hidden_field :name %>
          <% end %>
        </div>

        <div class="username input-group">
          <%= f.text_field :username %>
          <%= f.label :username %>
        </div>

        <div class="input-group">
          <%= f.password_field :password, autocomplete: "off" %>
          <%= f.label :password %>
        </div>

        <div class="input-group">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          <%= f.label :password_confirmation %>
        </div>

        <p class="txt">... um dich besser kennen zu lernen</p>

        <div class="input-group">
          <%= f.text_field :first_name %>
          <%= f.label :first_name %>
        </div>

        <div class="input-group">
          <%= f.text_field :last_name %>
          <%= f.label :last_name %>
        </div>

        <div class="row">
          <div class="input-group">
            <%= f.email_field :email %>
            <%= f.label :email %>
          </div>

          <div class="gender select-group">
            <label for="gender">Geschlecht</label>
            <%= f.select :gender, User::GENDER_TYPES, {include_blank: 'wählen' } %>
          </div>
        </div>

        <div class="row">
          <div class="birthdate input-group">
            <%= f.text_field :birthday %>
            <%= f.label :birthday, 'Geburtsdatum (TT/MM/JJJJ)' %>
          </div>

          <div class="upload-portrait">
            <% if resource.avatar? %>
                <%= image_tag(resource.avatar_url(:thumb), :class => "img-round") %>
                Portrait ändern
                <svg class="icon-delete-circle"><use xlink:href="#icon-delete-circle"></use></svg>
            <% else %>
                <div class="userDummy">
                  <svg class="icon-vcard"><use xlink:href="#icon-vcard"></use></svg>
                </div>
                Portrait hochladen
            <% end %>
            <%= f.file_field :avatar %>
            <%= f.hidden_field :avatar_cache %>
          </div>
        </div>



        <div class="wrp-checkboxes">
          <div class="checkbox-group">
            <%= f.check_box(:newsletter )%>
            <%= f.label :newsletter, 'Newsletter abonnieren' %>
          </div>

          <div class="checkbox-group">
            <%= f.check_box(:terms_and_conditions )%>
            <%= f.label :terms_and_conditions, "ich stimme den #{link_to 'AGBs', '#'} zu".html_safe %>
          </div>

        </div>

      </div>

      <div class="nav-btnBar">
        <%= link_to 'Zurück', addresses_registration_path %>
        <%= f.button "Anmelden", class: 'btn-primary' %>
      </div>

  <% end %>

</section>