<%= render 'find_graetzl' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {}) do |f| %>
  <%= devise_error_messages! %>

  <%= render 'address_hidden', f: f %>

  <%= render 'graetzl_hidden', f: f %>

  <%= render 'fields', f: f %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>