<div id="side-bar" class="overthrow">

  <div class="controls">
    <div class="user-ctrl">
      <%= avatar_image current_user, size: :thumb, class: 'img-round avatar show-badge' %>

      <div class="filter">
        <%= link_to 'javascript:', id: 'filterMessages' do %>
          <span class="selected-filter" data-selected-filter="active" >Alle Nachrichten</span>
          <%= icon_tag "arrow-down-2" %>
        <% end %>
        <div class="jBoxHidden jBoxDropdown" id="jBoxFilterMessages">
          <%= link_to 'Alle Nachrichten', 'javascript:', data: { filter: 'active'} %>
          <%= link_to 'Raumteiler', 'javascript:', data: { filter: 'room_rental' } %>
          <%= link_to 'Archiv', 'javascript:', data: { filter: 'archived' } %>
        </div>
      </div>
    </div>
  </div>

  <!-- Write new MSG - Open Modal -->
  <!--
  <div class="new-msg message-thread single-user">
    <div class="img-round avatar new-msg-img">
      <%= icon_tag "pencil" %>
    </div>
    <div class="wrp">
      <div class="user">Neue Nachricht an ...</div>
    </div>
  </div>
  -->
  <!-- Write new MSG - Open Modal -->

  <%= form_tag messenger_fetch_thread_list_path(per_page: 20), remote: true, method: :get, class: 'fetch-thread-list-form' do %>
  <%= hidden_field_tag :filter, params[:filter] %>
  <%= hidden_field_tag :thread_id, params[:thread_id] %>
  <% end %>
  <div class="threads-list" data-behavior="thread-list-container" data-thread="<%= params[:thread_id] %>" data-filter="<%= params[:filter] %>">
  </div>
  <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide btn-secondary -small -grey', data: { disable_with: 'lädt...', behavior: 'thread-paginate-link' }, rel: 'nofollow' %>

</div>
