<div class="back-ctrl">
  <a href="#" class="back-btn"><%= icon_tag "arrow-down-2" %> <span>Zurück</span></a>
</div>

<div class="chat-panel overthrow" data-thread-id="<%= @thread.id %>">
  <div class="message-wrapper">

    <div class="thread-info">
      <%= render 'messenger/thread/user_info' %>
      <% if @thread.room_rental && @thread.room_rental.room_offer %>
        <%= render 'messenger/thread/room_rental_info', room_rental: @thread.room_rental %>
      <% elsif @thread.tool_rental && @thread.tool_rental.tool_offer %>
        <%= render 'messenger/thread/tool_rental_info', tool_rental: @thread.tool_rental %>
      <% end %>
    </div>

    <div id="message-list">
      <% @thread.user_messages.includes(:user).order("created_at").each do |user_message| %>
        <%= render 'messenger/thread/message', user_message: user_message %>
      <% end %>
      <% if @thread.user_messages.empty? %>
        <div class="empty-messages">
          <%= icon_tag "speech-bubbles" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="thread-info">
    <% if @thread.room_rental && @thread.room_rental.room_offer && current_user == @thread.room_rental.renter %>
      <%= render 'messenger/thread/room_renter_actionbox', room_rental: @thread.room_rental %>
    <% elsif @thread.room_rental && @thread.room_rental.room_offer && current_user == @thread.room_rental.owner %>
      <%= render 'messenger/thread/room_owner_actionbox', room_rental: @thread.room_rental %>
    <% elsif @thread.tool_rental && @thread.tool_rental.tool_offer && current_user == @thread.tool_rental.renter %>
      <%= render 'messenger/thread/tool_renter_actionbox', tool_rental: @thread.tool_rental %>
    <% elsif @thread.tool_rental && @thread.tool_rental.tool_offer && current_user == @thread.tool_rental.owner %>
      <%= render 'messenger/thread/tool_owner_actionbox', tool_rental: @thread.tool_rental %>
    <% end %>
    <%= form_tag messenger_post_message_path(thread_id: @thread.id), remote: true, class: 'message-control post-message-form', id: 'msg-control' do %>
      <div class="input">
        <%= text_area_tag :message, nil, class: "chat-message-input", placeholder: "Deine Nachricht .." %>
      </div>
      <%= submit_tag "Senden", class: "btn-primary -small -mint" %>
    <% end %>

    <%= form_tag messenger_fetch_new_messages_path(thread_id: @thread.id), method: :get, remote: true, class: 'fetch-new-messages-form' do %>
      <%= hidden_field_tag :last_message_id, @thread.user_messages.last.try(:id), class: 'last-message-input' %>
    <% end %>
  </div>


</div>
