<% user = thread_other_user(thread) %>
<div class="message-thread single-user <%= message_thread_class(thread) %>" data-id="<%= thread.id %>">
  <%= form_tag messenger_fetch_thread_path(thread_id: thread.id), remote: true, method: :get, class: 'fetch-form' do; end %>
  <%= avatar_image(user, size: :thumb, class: 'img-round avatar') %>
  <div class="wrp">
    <div class="user"><%= user.full_name %></div>
    <div class="txt"><%= thread.last_message.try(:truncate, 100) %></div>
    <div class="time"><%= l(thread.last_message_at, format: '%e. %b') %></div>
  </div>
  <%= link_to 'javascript:', data: { jq_dropdown: "#action-msg-#{thread.id}" }, class:'actions' do %>
    <%= icon_tag "dot-3" %>
  <% end %>
  <div id="action-msg-<%= thread.id %>" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container">
    <div class="jq-dropdown-panel">
      <%= link_to 'Archivieren', messenger_update_thread_path(thread_id: thread.id, status: 'archived'), method: :post %>
      <%= link_to 'Löschen', messenger_update_thread_path(thread_id: thread.id, status: 'deleted'), method: :post %>
    </div>
  </div>
</div>
