<section class="messenger">

  <div id="chat-container">

    <div id="side-bar">

      <div class="controls">
        <div class="user-ctrl">
          <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/fad5d1e8df9b7eba405c9f2deec155f27c709f09/store/fill/400/400/0a90d925fcde3d6fa5b1b3f35f7ba2753972a5c6164acc222ab2e172d1ae/avatar.png">
          <div class="actions">
            <a href="#" class="new_message"><%= icon_tag "pencil" %></a>
          </div>
        </div>
        <div class="filter">
          <%= link_to 'javascript:', data: { jq_dropdown: "#filter-messages-dropdown" } do %>
            Alle Nachrichten<%= icon_tag "arrow-down-2" %>
          <% end %>
          <div id="filter-messages-dropdown" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container">
            <div class="jq-dropdown-panel">
              <%= link_to 'Alle', 'javascript:' %>
              <%= link_to 'Toolteiler Chats' %>
              <%= link_to 'Raumteiler Chats' %>
              <%= link_to 'Archiv' %>
            </div>
          </div>
        </div>
      </div>


      <div class="users-list">

        <!-- New Message -->
        <div class="single-user -new">
          <%= image_tag('avatar/user/100x100.png', class: 'attachment user avatar img-round') %>
          <div class="wrp">
            <div class="input-select">
              <%= select_tag :user_ids, options_from_collection_for_select(User.all, :id, :full_name), id: 'compose-user-select', multiple: false, placeholder: 'wieso' %>
            </div>
          </div>
        </div>
        <!-- /New Message-->

        <!-- Users -->

        <div class="single-user -active" data-msg="1">
          <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
          <div class="wrp">
            <div class="user">Peter Rippl</div>
            <div class="txt">Ja klar zahl ich! Wieviel kostets nochmals?</div>
            <div class="time">20. Jun</div>
          </div>
          <%= link_to 'javascript:', data: { jq_dropdown: "#action-msg-1" }, class:'actions' do %>
            <%= icon_tag "dot-3" %>
          <% end %>
          <div id="action-msg-1" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container">
            <div class="jq-dropdown-panel">
              <%= link_to 'Archivieren', 'javascript:' %>
              <%= link_to 'Löschen' %>
            </div>
          </div>
        </div>

        <div class="single-user" data-msg="2">
          <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/8482d6c33c1b1c989a6dd2e0f81aa66d37d3acff/store/fill/100/100/012cfe24f3b802de461d1b67665f9070bb2089d1a14a8a19f0e33fa0508a/avatar.jpeg">
          <div class="wrp">
            <div class="user">Mirjam Mieschendahl</div>
            <div class="txt">Ja, sehr cool, da machen wir was draus.</div>
            <div class="time">12. Mai</div>
          </div>
          <%= link_to 'javascript:', data: { jq_dropdown: "#action-msg-2" }, class:'actions' do %>
            <%= icon_tag "dot-3" %>
          <% end %>
          <div id="action-msg-2" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container">
            <div class="jq-dropdown-panel">
              <%= link_to 'Archivieren', 'javascript:' %>
              <%= link_to 'Löschen' %>
            </div>
          </div>
        </div>

        <div class="single-user" data-msg="3">
          <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/8f87e47edd506ab38f689c2b92d540a266b4c385/store/fill/100/100/3231783a210c5e6c5b66e206adbb9144dc829b08ec814fd1cb58cc8dc521/avatar.jpeg">
          <div class="wrp">
            <div class="user">Johanna Leitner</div>
            <div class="txt">Neue Toolteiler Anfrage</div>
            <div class="time">12. Apr</div>
          </div>
          <%= link_to 'javascript:', data: { jq_dropdown: "#action-msg-3" }, class:'actions' do %>
            <%= icon_tag "dot-3" %>
          <% end %>
          <div id="action-msg-3" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container">
            <div class="jq-dropdown-panel">
              <%= link_to 'Archivieren', 'javascript:' %>
              <%= link_to 'Löschen' %>
            </div>
          </div>
        </div>

        <div class="single-user" data-msg="4">
          <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/23ccf5c723112a50c6d1e656475ad33219f47a43/store/fill/100/100/f3a6eeded4b95c0a4c4144a208cb8af30a21a7a83e1489ab006ad1287226/avatar.jpeg">
          <div class="wrp">
            <div class="user">Lena Schartmüller</div>
            <div class="txt">Neue Raumteiler Anfrage</div>
            <div class="time">12. Jan</div>
          </div>
          <%= link_to 'javascript:', data: { jq_dropdown: "#action-msg-4" }, class:'actions' do %>
            <%= icon_tag "dot-3" %>
          <% end %>
          <div id="action-msg-4" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container">
            <div class="jq-dropdown-panel">
              <%= link_to 'Archivieren', 'javascript:' %>
              <%= link_to 'Löschen' %>
            </div>
          </div>
        </div>

        <div class="single-user">
          <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
          <div class="wrp">
            <div class="user">Peter Rippl</div>
            <div class="txt">Ja klar zahl ich! Wieviel kostets nochmals?</div>
            <div class="time">20. Jun</div>
          </div>
        </div>

        <div class="single-user">
          <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/23ccf5c723112a50c6d1e656475ad33219f47a43/store/fill/100/100/f3a6eeded4b95c0a4c4144a208cb8af30a21a7a83e1489ab006ad1287226/avatar.jpeg">
          <div class="wrp">
            <div class="user">Lena Schartmüller</div>
            <div class="txt">Neue Raumteiler Anfrage</div>
            <div class="time">12. Jan</div>
          </div>
        </div>

        <div class="single-user">
          <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/8482d6c33c1b1c989a6dd2e0f81aa66d37d3acff/store/fill/100/100/012cfe24f3b802de461d1b67665f9070bb2089d1a14a8a19f0e33fa0508a/avatar.jpeg">
          <div class="wrp">
            <div class="user">Mirjam Mieschendahl</div>
            <div class="txt">Ja, sehr cool, da machen wir was draus.</div>
            <div class="time">12. Mai</div>
          </div>
        </div>

        <div class="single-user">
          <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/8f87e47edd506ab38f689c2b92d540a266b4c385/store/fill/100/100/3231783a210c5e6c5b66e206adbb9144dc829b08ec814fd1cb58cc8dc521/avatar.jpeg">
          <div class="wrp">
            <div class="user">Johanna Leitner</div>
            <div class="txt">Neue Toolteiler Anfrage</div>
            <div class="time">12. Apr</div>
          </div>
        </div>




        <!-- /Users -->
      </div>


    <!-- /sideBar -->
    </div>
    <div id="chat-window">
    <!-- Messaging Panel -->

      <div class="chat-panel">
      <!-- Chat Panel -->

          <!-- MESSAGE WRAPPER FAKE 1 -->
          <div class="message-wrapper fake1">
          <!-- Messages -->


            <div class="chatMsg -chatBot">
              <div class="info -user">
                <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
                <div>
                  <strong>Peter Rippl</strong><br>
                  <em>Nordbahnviertel</em>
                </div>
              </div>
              <div class="info -message">

                <div class="-toolteiler">
                  <h3>Neue Toolteiler Anfrage</h3>
                  <div class="title">
                    <a href="#">„Kamera-Set Canon EOS 100D Komplett-Ausrüstung inkl. Mikro“</a>
                  </div>
                  <div class="time">10 Tage / Zeitraum: Do, 20. Jun – Sa, 30. Jun</div>
                </div>

                <div class="action">
                  <div class="ico">
                    <%= icon_tag "horn-promote" %>
                  </div>
                  <div class="note">
                    Bitte klicke auf Akzeptieren um die Buchung anzunehmen oder auf Ablehnen, wenn eine Vermietung nicht möglich ist. Weitere Fragen kannst Du mit dem Mieter im Chat klären.
                  </div>
                  <div class="btns">
                    <a href="#" class="btn-primary -small -grey">Ablehnen</a>
                    <a href="#" class="btn-primary -small -mint">Akzeptieren</a>
                  </div>
                </div>

              </div>
            </div>


            <div class="chatMsg -left">
              <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
              <div class="bubble">Hi Michael, ich würde gerne deine Kamera ausborgen! Würd mich freuen wenns klappt!
                Ist das Stativ sehr schwer? Oder gehts auf ein Lastenrad?
                Lg, Peter
              </div>
            </div>

            <div class="chatMsg -right">
              <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/fad5d1e8df9b7eba405c9f2deec155f27c709f09/store/fill/400/400/0a90d925fcde3d6fa5b1b3f35f7ba2753972a5c6164acc222ab2e172d1ae/avatar.png">
              <div class="bubble">Hallo Peter,
                ja gerne, wegen Gewicht. Schwer zu sagen.
                Wie groß ist dein Rad?
              </div>
            </div>

            <div class="chatMsg -left">
              <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
              <div class="bubble">Puh, ich würd sagen 20m lang und 30cm breit, geht das?
              </div>
            </div>

            <div class="chatMsg -right">
              <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/fad5d1e8df9b7eba405c9f2deec155f27c709f09/store/fill/400/400/0a90d925fcde3d6fa5b1b3f35f7ba2753972a5c6164acc222ab2e172d1ae/avatar.png">
              <div class="bubble">ja, das müsste sich eigentlich ausgehen ...
              </div>
            </div>

            <div class="chatMsg -left">
              <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
              <div class="bubble">Ok super, dann würd ich sagen ich komm einfach vorbei und hol mir die Kamera! :-)
              </div>
            </div>

            <div class="chatMsg -right">
              <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/fad5d1e8df9b7eba405c9f2deec155f27c709f09/store/fill/400/400/0a90d925fcde3d6fa5b1b3f35f7ba2753972a5c6164acc222ab2e172d1ae/avatar.png">
              <div class="bubble">Naja warte, so einfach gehts nicht. Du musst schon zahlen ;-)
              </div>
            </div>

            <div class="chatMsg -left">
              <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
              <div class="bubble">Ja klar zahl ich!
                Wieviel kostets nochmals?
                Also eh der Preis der dort steht oder?
              </div>
            </div>

          <!-- /Messages -->
          </div>



          <!-- MESSAGE WRAPPER FAKE 2 -->
          <div class="message-wrapper fake2">

            <div class="chatMsg -chatBot">
              <div class="info -user">
                <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/8482d6c33c1b1c989a6dd2e0f81aa66d37d3acff/store/fill/100/100/012cfe24f3b802de461d1b67665f9070bb2089d1a14a8a19f0e33fa0508a/avatar.jpeg">
                <div>
                  <strong>Mirjam Mieschendahl</strong><br>
                  <em>Stuwerviertel</em>
                </div>
              </div>
            </div>

            <div class="chatMsg -left">
              <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/8482d6c33c1b1c989a6dd2e0f81aa66d37d3acff/store/fill/100/100/012cfe24f3b802de461d1b67665f9070bb2089d1a14a8a19f0e33fa0508a/avatar.jpeg">
              <div class="bubble">Hallo Michi,
                Wie gehts dir denn heute? Wann sind wir endlich fertig?
                Lg,
                Mirjam
              </div>
            </div>

            <div class="chatMsg -right">
              <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/fad5d1e8df9b7eba405c9f2deec155f27c709f09/store/fill/400/400/0a90d925fcde3d6fa5b1b3f35f7ba2753972a5c6164acc222ab2e172d1ae/avatar.png">
              <div class="bubble">Hi Mirjam,
                ich weiss es nicht. Mal sehen wie es heute läuft!
              </div>
            </div>

          </div>

          <!-- MESSAGE WRAPPER FAKE 3 -->
          <div class="message-wrapper fake3">

          </div>

          <!-- MESSAGE WRAPPER FAKE 3 -->
          <div class="message-wrapper fake4">

          </div>




          <!-- Chat Message Input Control -->
          <form class="message-control">
            <div class="input">
              <textarea class="chat-message" placeholder="Deine Nachricht .."></textarea>
            </div>
            <a href="#" class="btn-primary -small">Senden</a>
          </form>
          <!-- /Chat Message Input Control -->



      <!-- Chat Panel -->
      </div>



    <!-- /Messaging Panel -->
    </div>

  </div>

</section>
