<% last_post = discussion.discussion_posts.reject(&:initial_post?).reject(&:deleted?).max_by(&:created_at) %>

<div class="cardBox -discussion" data-behavior="masonry-card">
  <div class="cardBoxHeader">

    <% if controller.controller_name == 'activities' %>
      <!-- Use other HeaderView if used as Activities Stream-Box -->
      <div class="coverImgWrapper">
        <%= link_to cover_photo_image(discussion.group, class: 'coverImg'), [discussion.group, discussion, target: "topic"] %>
      </div>
      <div class="categoryicon"><%= icon_tag "layout-document" %><sup><%= discussion.discussion_posts.size %></sup></div>
      <div class="sideflag -R"><div class="title"><%= discussion.group.title %></div></div>
    <% else %>
      <!-- Normal HeaderView for Groups -->
      <div class="coverImgWrapper">
        <%= link_to gallery_photo_image(discussion.first_post.images.first, fallback: 'discussion_photo.png',
            class: 'coverImg'), [discussion.group, discussion, target: "topic"] %>
      </div>
      <% if discussion.sticky %>
        <div class="categoryicon sticky"><%= icon_tag "pin" %><sup><%= discussion.discussion_posts.size %></sup></div>
      <% else %>
        <div class="categoryicon"><%= icon_tag "layout-document" %><sup><%= discussion.discussion_posts.size %></sup></div>
      <% end %>
    <% end %>


  </div>
  <div class="cardBoxContent">
    <div class="avatar-block">
      <% if discussion.user %>
        <%= link_to discussion.user, class: 'avatarImg', rel: 'nofollow' do %>
        <%= avatar_image_with_tooltip discussion.user, size: :thumb, class: 'img-round' %>
        <% end %>
      <% else %>
        <div class="avatarImg">
          <picture>
            <source srcset="<%= image_path('fallbacks/user_avatar.webp') %>" type="image/webp" />
            <%= image_tag('fallbacks/user_avatar.png', loading: 'lazy', class: 'img-round') %>
          </picture>
        </div>
      <% end %>
      <div class="typetxt">
        <div class="name">
          <% if discussion.user %>
            <%= link_to discussion.user.full_name, discussion.user, rel: 'nofollow' %>
          <% else %>
            Gelöschtes Mitglied
          <% end %>
        </div>
        <div class="infos">
          <%= discussion.discussion_category ? discussion.discussion_category.title : 'Allgemein'.html_safe %>
        </div>
      </div>
    </div>
    <div class="txt">
      <h3><%= link_to discussion.title, [discussion.group, discussion, target: "topic"] %></h3>
      <% if !discussion.first_post.deleted? %>
        <p><%= truncate discussion.first_post.content, length: 150 %></p>
      <% end %>
    </div>

    <% if last_post %>
    <div class="streamElement">
      <div class="entryInitialContent">
        <div class="userCreateInfo">
          <%= avatar_image last_post.user, size: :thumb, class: 'avatar img-round' %>
          <span class="userAndType"><%= link_to last_post.user.full_name, last_post.user, rel: 'nofollow' %> am <%= I18n.localize(last_post.created_at, format:'%d. %b %Y') %></span>
        </div>
        <div class="txt">
          <%= link_to [discussion.group, discussion, target: "discussion-post-#{last_post.id}"], class: 'commentslink' do %>
            <%= truncate last_post.content, length: 150 %></div>
          <% end %>
      </div>
    </div>
    <% end %>

  </div>
</div>
