<% last_post = discussion.discussion_posts.reject(&:initial_post?).reject(&:deleted?).max_by(&:created_at) %>

<div class="cardBox -discussion" data-behavior="masonry-card">
  <div class="cardBoxHeader">
    <div class="coverImgWrapper">
      <%= link_to attachment_image_tag(discussion.first_post.images.first, :file, :fill, 300, 180, class: 'coverImg', fallback: 'cover_photo/600x360-speech-bubble.png'), [discussion.group, discussion, anchor: "topic"] %>
    </div>
    <div class="categoryicon">
      <% if discussion.sticky %>
        <%= icon_tag "pin" %>
      <% else %>
        <%= icon_tag "layout-document" %>
      <% end %>
    </div>
  </div>
  <div class="cardBoxContent">
    <div class="avatar-block">
      <% if discussion.user %>
        <%= link_to discussion.user, class: 'avatarImg' do %>
          <%= attachment_image_tag discussion.user, :avatar, :fill, 200, 200, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
        <% end %>
      <% else %>
        <div class="avatarImg">
          <%= image_tag('avatar/user/default.png', class: 'img-round') %>
        </div>
      <% end %>
      <div class="typetxt">
        <div class="name">
          <% if discussion.user %>
            <%= link_to discussion.user.full_name, discussion.user %>
          <% else %>
            Gelöschtes Mitglied
          <% end %>
        </div>
        <div class="category">
          <%= discussion.discussion_category ? discussion.discussion_category.title : 'Allgemein'.html_safe %>
        </div>
        <div class="infos">
          <%= discussion.discussion_posts.size  %> <%= discussion.discussion_posts.size > 1 ? 'Beiträge' : 'Beitrag'  %>
        </div>
      </div>
    </div>
    <div class="txt">
      <h3><%= link_to discussion.title, [discussion.group, discussion, anchor: "topic"] %></h3>
      <% if !last_post && !discussion.first_post.deleted? %>
        <p><%= truncate discussion.first_post.content, length: 150 %></p>
      <% end %>
    </div>
    <!-- appendix -->
    <% if last_post %>
    <div class="streamElement">
      <div class="entryInitialContent">
        <div class="userCreateInfo">
          <%= attachment_image_tag last_post.user, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
          <span class="userAndType"><%= link_to last_post.user.full_name, last_post.user %> hat geantwortet</span>
        </div>
        <div class="txt">
          <%= link_to [discussion.group, discussion, anchor: "discussion-post-#{last_post.id}"], class: 'commentslink' do %>
            <%= truncate last_post.content, length: 150 %></div>
          <% end %>
      </div>
    </div>
    <% end %>
    <!-- /appendix -->
  </div>
</div>
