<div class="discussionCreate">
  <%= attachment_image_tag current_user, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
  <%= form_for @discussion do |f| %>
    <%= f.hidden_field :group_id %>
    <div class="post-content">
      <%= f.fields_for :discussion_posts do |discussion_posts_form| %>
        <%= discussion_posts_form.text_area :content, cols: 80, rows: 3, placeholder: 'Start a new discussion…', class: 'input-discussion' %>
      <% end %>
    </div>
    <%= f.button 'Post', data: { disable_with: 'sendet...' }, class: 'btn-secondary' %>
  <% end %>
</div>
