<%= form_for'toolteiler' do |f| %>

<div class="form-block">


  <h2 class="hl-main">
    Wähle eine passende <span>Kategorie</span>
  </h2>

  <div class="input-select">
    <%= f.label :category do %>
      <%= icon_tag "layout-document" %>
      <span>1. Hauptkategorie</span>
    <% end %>
    <select>
      <option value="">Wähle zuerst eine Hauptkategorie ..</option>
      <option value="1">Kategorie 1</option>
      <option value="2">Kategorie 2</option>
    </select>
  </div>

  <div class="input-select">
    <%= f.label :category do %>
      <%= icon_tag "layout-document" %>
      <span>2. Unterkategorie</span>
    <% end %>
    <select>
      <option value="">Wähle eine Unterkategorie ..</option>
      <option value="1">Kategorie 1</option>
      <option value="2">Kategorie 2</option>
    </select>
  </div>


  <h2 class="hl-main"><span>Beschreibe</span> deinen <span>Toolteiler</span></h2>

  <div class="input-field">
    <%= f.label :title do %>
    <%= icon_tag "record" %>
    <span>Titel</span>
    <% end %>
    <%= f.text_field :title, placeholder: 'Gib deinem Toolteiler einen kurzen Titel ...' %>
  </div>

  <div class="form-columns">
    <div class="input-field">
      <%= f.label :rented_area do %>
        <%= icon_tag "label-tag" %>
        <span>Marke</span>
      <% end %>
      <%= f.number_field :rented_area, placeholder: 'Marke ..' %>
    </div>
    <div class="input-field">
      <%= f.label :total_area do %>
        <%= icon_tag "label-tag" %>
        <span>Modell</span>
      <% end %>
      <%= f.number_field :total_area, placeholder: 'Modell ..' %>
    </div>
  </div>

  <div class="input-textarea">
    <%= f.label :description do %>
    <%= icon_tag "layout-document" %>
    <span>Beschreibung</span>
    <% end %>
    <%= f.text_area :description, placeholder: 'Hier kannst du deinen Toolteiler in wenigen Sätzen ausführlicher beschreiben ..' %>
  </div>

  <div class="upload-oldschool">
    <label for="room_offer_images">
      <svg class="icon-photo-camera"><use xlink:href="#icon-photo-camera"></use></svg>
      <span>Headerbild</span>
    </label>
    <div class="field-wrp">
      <input multiple="multiple" value="[]" data-reference="a60082a9415734d766034569ba5c5568" type="hidden" name="room_offer[images_files][]"><input multiple="multiple" direct="true" presigned="true" data-direct="true" data-as="file" data-url="/attachments/cache" data-reference="a60082a9415734d766034569ba5c5568" accept="image/jpeg,image/gif,image/png" include_hidden="false" type="file" name="room_offer[images_files][]" id="room_offer_images_files">
    </div>
  </div>

  <div class="upload-oldschool">
    <label for="room_offer_images">
      <svg class="icon-photo-camera"><use xlink:href="#icon-photo-camera"></use></svg>
      <span>Weitere Fotos</span>
    </label>
    <div class="field-wrp">
      <input multiple="multiple" value="[]" data-reference="a60082a9415734d766034569ba5c5568" type="hidden" name="room_offer[images_files][]"><input multiple="multiple" direct="true" presigned="true" data-direct="true" data-as="file" data-url="/attachments/cache" data-reference="a60082a9415734d766034569ba5c5568" accept="image/jpeg,image/gif,image/png" include_hidden="false" type="file" name="room_offer[images_files][]" id="room_offer_images_files">
    </div>
  </div>



  <div class="hl-subtext">
    <h2>Gib die <span>Abholadresse</span> bekannt</h2>
    <p>Wo kann sich der Mieter deinen Toolteiler abholen?</p>
  </div>

  <div class="input-field">
    <%= label_tag(:Address) do %>
      <%= icon_tag "map-location" %>
      <span>Strasse & Nr.</span>
    <% end %>
    <%= text_field_tag :Address, current_user && current_user.address.street_name ? current_user.address.street_name : nil, placeholder: 'Strasse & Nr.' %>
  </div>

  <div class="form-columns">

    <div class="input-field">
      <%= label_tag(:PostalCode) do %>
        <%= icon_tag "map-location" %>
        <span>Postleitzahl</span>
      <% end %>
      <%= text_field_tag :PostalCode, current_user && current_user.address.zip ? current_user.address.zip : nil, placeholder: 'PLZ' %>
    </div>

    <div class="input-field">
      <%= label_tag(:City) do %>
        <%= icon_tag "map-location" %>
        <span>Ort/Stadt</span>
      <% end %>
      <%= text_field_tag :City, current_user && current_user.address.city ? current_user.address.city : nil, placeholder: 'Stadt' %>
    </div>

  </div>



  <div class="hl-subtext">
    <h2><span>Preis</span> Infos</h2>
    <p>
      Lege einen Tagespreis fest.
      Um mehr Langzeitbuchungen zu erhalten, legen manche Vermieter einen Tages- oder Wochenrabatt fest.
    </p>
  </div>

  <div class="input-field">
    <%= label_tag(:Price) do %>
      <%= icon_tag "currency-euro" %>
      <span>Preis / Tag</span>
    <% end %>
    <%= text_field_tag :Price, nil, placeholder: 'Lege deinen gewünschten Tagespreis fest ..' %>
  </div>

  <div class="form-columns">

    <div class="input-field">
      <%= label_tag(:Price) do %>
        <%= icon_tag "sale-label" %>
        <span>Tagesrabatt (%)</span>
      <% end %>
      <%= text_field_tag :Price, nil, placeholder: '% Rabatt ab 2 Tagen' %>
    </div>

    <div class="input-field">
      <%= label_tag(:Price) do %>
        <%= icon_tag "sale-label" %>
        <span>Wochenrabatt (%)</span>
      <% end %>
      <%= text_field_tag :Price, nil, placeholder: '% Rabatt ab 1 Woche' %>
    </div>

  </div>

  <%= f.button 'Toolteiler erstellen', data: { disable_with: 'speichert...' }, class: 'btn-primary' %>

</div>
<% end %>
