<section class="toolTeiler">


  <!-- HEADER -->
  <div class="imgHeader">
    <img class="attachment room_offer cover_photo titleImg" src="https://cache.willhaben.at/mmo/3/308/144/263_-1764754106.jpg">
    <div class="headContent">
      <div class="category-tags">
          <ul class="tag-list -mint">
              <li>Fotokamera</li>
              <li>Technisches Equipment</li>
          </ul>
      </div>
    </div>
  </div>



  <!-- SIDEBAR -->
  <aside class="sideBar">

    <!-- Request Box-->
    <div class="sideBarbox">

      <h3 class="sideflag -L">Toolteiler / zu verleihen</h3>

      <div class="pricing-info">
        <div>
          <span class="price">25 €</span>
          <span class="info">1 Tag</span>
        </div>
        <div>
          <span class="price">22 €</span>
          <span class="info">pro Tag<br>ab 2 Tagen</span>
        </div>
        <div>
          <span class="price">20 €</span>
          <span class="info">pro Tag<br>ab 1 Woche</span>
        </div>
      </div>

      <h3 class="sidebar">Jetzt anfragen</h3>

      <div class="request">
        <%= form_for 'toolteiler' do |f| %>

          <!-- hidden input for removing focus from first date picker - otherwise it would open-->
          <%= f.text_field :hidden, class: 'hidden' %>
          <!-- end hack -->

          <div class="input-field">
            <%= f.label :starts_at_date do %>
              <%= icon_tag "calendar-2" %>
              <span></span>
            <% end %>
            <%= f.text_field :starts_at_date, class: 'starts_at_date', placeholder: 'Von' %>
          </div>

          <div class="input-field">
            <%= f.label :ends_at_date do %>
              <%= icon_tag "calendar-2" %>
              <span></span>
            <% end %>
            <%= f.text_field :ends_at_date, class: 'ends_at_date', placeholder: 'Bis' %>
          </div>

        <% end %>
      </div>

      <h3 class="sidebar">Zusammenfassung</h3>

      <ul class="pricing-summary">
        <li>
          <div class="cost">250,00 €</div>
          <div class="costname">10 Tage x 25 €</div>
        </li>
        <li>
          <div class="cost">- 50,00 €</div>
          <div class="costname">Rabatt 10 Tage x 5 €</div>
        </li>
        <li>
          <div class="cost">40,00 €</div>
          <div class="costname">Servicegebühr inkl. Versicherung</div>
        </li>
        <li class=sum>
          <div class="cost">240,00 €</div>
          <div class="costname">Gesamt</div>
        </li>
      </ul>

      <a class="btn-primary" href="/wien/raumteiler">Anfrage abschicken</a>

    </div>
    <!-- /Request Box-->

  </aside>
  <!-- /SIDEBAR -->


  <!-- MAIN CONTENT -->
  <div class="mainContent">

    <div class="introtxt">
      <h3>Kamera-Set Canon EOS 100D Komplett-Ausrüstung inkl. Mikro</h3>
      <div class="brand">
        <strong>Marke: </strong>Canon
      </div>
      <div class="model">
        <strong>Modell: </strong>EOS 100D
      </div>
    </div>

    <div class="txt">Absolut neuwertige Canon Spiegelreflexkamera (EOS 100 D), inkl. passender kleiner Tasche und original Canon 18-55mm Objektiv.
Liegt super in der Hand! Alles voll sauber!
Sehr angenehm für tolle Shootings.

Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>

    <!-- Images -->
    <div class="entryImgUploads" data-featherlight-gallery="" data-featherlight-filter="a">
        <a href="https://cache.willhaben.at/mmo/3/308/144/263_-844565300.jpg"><img class="attachment image file" src="https://cache.willhaben.at/mmo/3/308/144/263_-844565300.jpg"></a>
        <a href="https://cache.willhaben.at/mmo/3/308/144/263_-1257375367.jpg"><img class="attachment image file" src="https://cache.willhaben.at/mmo/3/308/144/263_-1257375367.jpg"></a>
        <a href="https://cache.willhaben.at/mmo/3/308/144/263_-364906734.jpg"><img class="attachment image file" src="https://cache.willhaben.at/mmo/3/308/144/263_-364906734.jpg"></a>
        <a href="https://cache.willhaben.at/mmo/3/308/144/263_-844565300.jpg"><img class="attachment image file" src="https://cache.willhaben.at/mmo/3/308/144/263_-844565300.jpg"></a>
    </div>

    <section>
      <div class="bigicontext-element">
        <svg class="icon-dot-3"><use xlink:href="#icon-dot-3"></use></svg>
        <div class="txt">Ausstattung / Zubehör</div>
      </div>
      <div class="category-tags">
        <ul class="tag-list">
            <li>Tasche</li>
            <li>Stativ</li>
            <li>Objektive</li>
            <li>Blitz</li>
            <li>Mikrophon</li>
        </ul>
      </div>
    </section>

    <!--
    <section class="owner">
      <div class="bigicontext-element">
          <img class="attachment room_offer avatar room_offer avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/fad5d1e8df9b7eba405c9f2deec155f27c709f09/store/fill/400/400/0a90d925fcde3d6fa5b1b3f35f7ba2753972a5c6164acc222ab2e172d1ae/avatar.png">
          <div class="txt">Vermieter</div>
      </div>
      <div class="txt">Description ...</div>
    </section>
    -->

  </div>

  <!-- SIDEBAR -->
  <aside class="sideBar">

    <!-- Contactbox-->
    <div class="sideBarbox">

      <h3 class="sideflag -L">Infos & Adresse</h3>

      <div class="innerbox user-wrp">
        <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/fad5d1e8df9b7eba405c9f2deec155f27c709f09/store/fill/400/400/0a90d925fcde3d6fa5b1b3f35f7ba2753972a5c6164acc222ab2e172d1ae/avatar.png">
        <span class="name">
          <a target="_blank" href="/users/gregory">Michael Walchhütter</a>
          <div class="rating-container">
            <div class="rating">
              <span class="fill">☆</span>
              <span class="fill">☆</span>
              <span class="fill">☆</span>
              <span class="fill">☆</span>
              <span>☆</span>
            </div>
            <small class="txt">4,2 von 5</small>
          </div>
        </span>
      </div>

      <div class="innerbox icontxt">
        <svg class="icon-map-location"><use xlink:href="#icon-map-location"></use></svg>
        Kinskygasse 40-44<br>
        1230 Wien<br>
      </div>

      <div class="innerbox icontxt">
        <svg class="icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
        Erstellt / Aktualisiert:<br>15. Mai 2019
      </div>

      <a class="gmap" href="https://maps.google.com?q=Kinskygasse+40-44">
        <img src="https://maps.google.com/maps/api/staticmap?key=AIzaSyB8n3QhtommfuGrJ2Khk-TyE-wQsUQksnM&amp;center=48.146612254703335,16.330155103226552&amp;zoom=16&amp;size=250x150&amp;scale=2&amp;markers=size:small|48.146612254703335,16.330155103226552">
      </a>

    </div>

  </aside>
  <!-- /SIDEBAR -->

  <!-- MAIN CONTENT -->
  <div class="mainContent">

    <section>
      <div class="stream">
        <div class="bigicontext-element">
          <svg class="icon-layout-text"><use xlink:href="#icon-layout-text"></use></svg>
          <div class="txt">Frage zum Toolteiler</div>
        </div>
        <div class="entryCreate js-initialized" data-behavior="stream-form">
          <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/b08edf6d2190549a24d5c51f4acbf49a87767fd1/store/fill/100/100/0a90d925fcde3d6fa5b1b3f35f7ba2753972a5c6164acc222ab2e172d1ae/avatar.png">
          <form class="textEditor" id="new_comment" enctype="multipart/form-data" action="/comments" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
            <input type="hidden" value="513" name="comment[commentable_id]" id="comment_commentable_id">
            <input type="hidden" value="RoomOffer" name="comment[commentable_type]" id="comment_commentable_type">
            <textarea cols="80" rows="5" placeholder="Kommentar abgeben" class="input-plain" name="comment[content]" id="comment_content" style="overflow: hidden; resize: none; height: 135px;"></textarea>
            <div class="hideBlock">
              <div class="upload-streamImgs">
                <svg class="icon-photo-camera"><use xlink:href="#icon-photo-camera"></use></svg>
                <input multiple="multiple" value="[]" data-reference="6c4d1b6fce5b6a6b496a8a996e42044e" type="hidden" name="comment[images_files][]"><input multiple="multiple" direct="true" presigned="true" data-direct="true" data-as="file" data-url="/attachments/cache/presign" data-presigned="true" data-reference="6c4d1b6fce5b6a6b496a8a996e42044e" accept="image/jpeg,image/gif,image/png" include_hidden="false" type="file" name="comment[images_files][]" id="comment_images_files">
              </div>
              <button name="button" type="submit" data-disable-with="sendet..." class="btn-secondary">Kommentar senden</button>
            </div>
          </form>
        </div>
      </div>
    </section>

  </div>
  <!-- /MAIN CONTENT -->

</section>
