<div class="mainNav">
  <%= link_to 'Home', root_path, class: 'homelink' %>
  <div class="graetzlTrigger dropdownTrigger" data-horizontal-offset="0" data-mobileNavID="graetzl">
    <span class="txt"><%= current_graetzl ? current_graetzl.name : 'Grätzl entdecken' %></span>
    <svg class="icon-arrow-down-2"><use xlink:href="#icon-arrow-down-2"></use></svg>
  </div>  
  <a href="http://blog.imgraetzl.at/" class="bloglink" target="_blank">Blog</a>

  <!-- dropDowns -->
  <div class="graetzlContainer jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropDownContainer">
    <div class="jq-dropdown-panel nav-graetzl">
      <% if current_graetzl %>
        <%= link_to 'Treffen im Grätzl', graetzl_meetings_path(current_graetzl) %>
        <%= link_to 'Kreative Wirtschaft im Grätzl', graetzl_locations_path(current_graetzl) %>
        <a href="">Grätzlzuckerl im <%= l(Date.today, format: "%B") %></a>
      <% end %>
      <%= link_to 'Wien Übersicht', districts_path, class: 'discover' %>
    </div>
  </div>
</div>

<div class="logoGraetzl">
  <%= link_to(image_tag('svg/logo.svg'), root_path, class: 'logo_main') %>
  <%= link_to(image_tag('svg/logo_reduced.svg'), root_path, class: 'logo_reduced') %>
</div>