<div class="mobileMainNav">
  <% if user_signed_in?  %>

    <!-- remove link if closed graetzl -->
    <% if current_user.graetzl.open? %>
      <%= link_to content_tag(:span, 'Treffen anlegen'), new_meeting_path, class: 'createMeeting' %>
    <% end %>
    <!-- end -->
    
  <% else %>
    <%= link_to content_tag(:span, 'Anmelden'), new_user_session_path, class: 'createMeeting' %>
  <% end %>
  <% if current_graetzl %>
      <%= link_to graetzl_path(current_graetzl) do %>
          <svg class="icon-home"><use xlink:href="#icon-home"></use></svg><%= current_graetzl.name %>
      <% end %>
      <!-- normal links -->
      <% if current_graetzl.open? %>
          <%= link_to graetzl_meetings_path(current_graetzl) do %>
              <svg class="icon-calendar-2"><use xlink:href="#icon-calendar-2"></use></svg>Treffen & Events im Grätzl
          <% end %>

          <%= link_to graetzl_locations_path(current_graetzl) do %>
              <svg class="icon-location"><use xlink:href="#icon-location"></use></svg>Treffpunkte & Anbieter
          <% end %>

      <% else %>
          <!-- disabled links -->
          <span class="linkdisabled"><svg class="icon-calendar-2"><use xlink:href="#icon-calendar-2"></use></svg>Treffen & Events im Grätzl</span>
          <span class="linkdisabled"><svg class="icon-location"><use xlink:href="#icon-location"></use></svg>Treffpunkte & Anbieter</span>
      <% end %>

      <%= link_to zuckerl_districts_path do %>
          <svg class="icon-zuckerl"><use xlink:href="#icon-zuckerl"></use></svg><%= l(Date.today, format: 'Grätzlzuckerl im %B') %>
      <% end %>

  <% end %>
  <%= link_to  districts_path, class: 'discover' do %>
      <svg class="icon-map-location"><use xlink:href="#icon-map-location"></use></svg>Wien Übersicht
  <% end %>
  <a href="http://blog.imgraetzl.at/" class="bloglink" target="_blank"><svg class="icon-coffee"><use xlink:href="#icon-coffee"></use></svg>Blog</a>
</div>