<% meta(
  title: t('.title'),
  description: t('.description'),
  robots: 'index, follow',
  og_image: image_url('lp/festival/RTF_Header_Bg_Logo2.png')
)
%>

<section class="lp -festival">

  <!-- header -->
  <div class="imgHeader -fullwidth">
    <%= image_tag('lp/festival/RTF_Header_Bg_Logo2.png', class: 'titleImg -fullwidth') %>
  </div>
  <div id="lp_nav" class="-sticky">
    <button class="btn-primary -active pages" data-nav="page_home">Home</button>
    <button class="btn-primary pages" data-nav="page_programm">Programm</button>
    <button class="btn-primary pages" data-nav="page_tickets">Tickets</button>
  </div>
  <!-- header -->

  <!-- PAGE Home -->
  <div id="page_home" class="page">

    <div class="section">
      <div class="logo">
        <%= image_tag('lp/festival/RTF_Logo.png') %>
      </div>
      <div class="facts">
        15 / juni / 2018<br>
        14:00 - 23:00 Uhr
      </div>
      <div class="location">
        Nordbahn-Halle, 1020 Wien
      </div>
    </div>

    <div class="section-top">
      <div class="wrp">
        <p class="txt">
          Raumhabende treffen auf Raumsuchende & werden in Raumpartnerschaften verbunden! Ein Tag lang verwandelt sich die Nordbahn-Halle in einen Schmelztiegel
          für kooperative Nutzungskonzepte und leistbare Gewerbeflächen.
        </p>
      </div>
    </div>

    <%= image_tag('lp/festival/RTF_Foto_Halle.png', class: 'imgHalle') %>

    <!-- Boxes -->
    <div class="wrapper">

      <div class="paperCard container -market">
        <div class="wrp">
          <p>
            <h2>Raumteiler <span>Market</span></h2>
            Möchtest du deinen Raum teilen? Willkommen sind alle
            Gewerbeflächentypen von Werkstatt, Atelier, Praxis, Studio,
            Büro bis hin zum Geschäftslokal - treffe auf Menschen, die Raum suchen.
            Außerdem: Raumunternehmen präsentieren ihre Räume zum Andocken und
            es werden Flächen zur gemeinsamen Neuanmietung vorgestellt!
            <br><br>
            <a href="#" class="pages" data-nav="page_tickets">AusstellerInnen Tickets (Plätze limitiert).</a>
          </p>
        </div>
        <div class="card"></div>
      </div>

      <div class="paperCard container -ico -info">
        <div class="wrp">
          <p>
            <h2>Info & <span>Beratung</span></h2>
            Interessierte können sich bei den Beratungsspots der Kreativen Räume Wien,
            der Wirtschaftskammer Wien und der Wirtschaftsagentur Wien über
            Raumangebote, Rechtsfragen, Fördermöglichkeiten & Kooperationspotentiale
            informieren. Usus gibt Einblick, wie man Gewerbeflächen und Leerstände
            rasch und kostengünstig aktivieren kann. Das Raumteiler Team checkt euren
            Raumteilerwunsch und verrät dazu passend die besten Suchstrategien.
          </p>
        </div>
        <div class="card"></div>
      </div>

      <div class="paperCard container -ico -workshops">
        <div class="wrp">
          <p>
            <h2><span>Workshops</span>, Austausch & Impulse</h2>
            Die TeilnehmerInnen erwartet ein spannender Einblick in innovative
            Bespielungsmöglichkeiten von Gewerbeflächen. Wie können Gewerbeflächen
            in Zukunft geplant, gestaltet und organisiert werden, damit sie
            agiler und flexibler mit den Anforderungen einer im Wandel begriffenen
            Arbeitswelt korrespondieren? Welche Organisationsmodelle für kleinteilige
            und kooperative Nutzungskonzepte stehen zur Auswahl und sind bereits im Einsatz?
          </p>
        </div>
        <div class="card"></div>
      </div>

      <div class="paperCard container -ico -music">
        <div class="wrp">
          <p>
            <h2>Music, <span>Drinks & Food</span></h2>
            <div>Wir haben zusammen eine gute Zeit. Der Innenhof der Nordbahn-Halle
              lädt zum Relaxen und Genießen ein. Am Nachmittag wird der Grill
              angeworfen und  mit Live-Musik feiern wir in den Sommerabend rein! Raumteiler Olé.</div>
            </p>
          </div>
          <div class="card"></div>
        </div>

      </div>
      <!-- /Boxes -->

    </div>

    <!-- PAGE Tickets -->

    <div id="page_tickets" class="page">

      <h1><span>Dein Festival Ticket</span></h1>
      <div style="width:100%; text-align:left;">
        <iframe src="https://eventbrite.com/tickets-external?eid=44609406937&ref=etckt" frameborder="0" height="600" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true">
        </iframe>
        <div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" >
          <a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="https://www.eventbrite.com/">Powered by Eventbrite</a>
        </div>
      </div>

    </div>

    <!-- PAGE Für wen-->

    <div id="page_fuerwen" class="page">

      <h1><span>für wen?</span></h1>

      <div class="section-area">

        <div class="wrapper">
          <h2>Selbständige, GründerInnen, kleine Unternehmen, Vereine und Kreative</h2>
          <p class="txt">
            auf der Suche nach Raum zum Andocken! Ihr könnt aus zahlreichen Raumangeboten wählen.
            Es geht darum Gewerbeflächen zu teilen, um die Kosten zu teilen!
          </p>
          <h2>Für Raumhabende,</h2>
          <p class="txt">
            die ihre Praxis, Atelier, Studio, Büro, ihre Werkstatt oder Geschäftslokal
            mit anderen teilen möchten und RaumpartnerInnen suchen.
          </p>
          <h2>Bauträger & AnbieterInnen von größeren Gewerbeflächen,</h2>
          <p class="txt">
            die kooperative Nutzungskonzepte auf ihren Flächen willkommen heißen und sich über innovative
            Lösungen im Bereich der kleinteiligen Nutzungsmischung informieren möchten.
          </p>
          <h2>Raumunternehmen, </h2>
          <p class="txt">
            die ihre Raumkonzepte den Raumsuchenden präsentieren
            und sich mit anderen RaumunternehmerInnen austauschen möchten.
            Ihr bekommt Einblick in die unterschiedlichen Projekte und Organisationsformen.
          </p>
        </div>

      </div>

    </div>


    <!-- PAGE Programm -->

    <div id="page_programm" class="page">

      <h1><span>Das Programm</span></h1>

      <!-- Timetable Plugin-->
      <div class="cd-schedule loading">
        <div class="timeline">
          <ul>
            <li><span>14:00</span></li>
            <li><span>14:30</span></li>
            <li><span>15:00</span></li>
            <li><span>15:30</span></li>
            <li><span>16:00</span></li>
            <li><span>16:30</span></li>
            <li><span>17:00</span></li>
            <li><span>17:30</span></li>
            <li><span>18:00</span></li>
          </ul>
        </div> <!-- .timeline -->

        <div class="events">
          <ul>
            <li class="events-group">
              <div class="top-info"><span>Kooperative Nutzungskonzepte<br>Kleine Halle neben Stadtraum</span></div>

              <ul>

                <li class="single-event" data-start="14:00" data-end="14:30" data-content="event-info-0a" data-event="event-4">
                  <a href="#0">
                    <em class="event-name">Begrüßung Klima- & Energiefonds, TU Wien</em>
                  </a>
                </li>

                <li class="single-event" data-start="14:30" data-end="15:00" data-content="event-info-1a" data-event="event-2">
                  <a href="#0">
                    <em class="event-name">Kooperative Nutzungen von Gewerbeflächen</em>
                  </a>
                </li>

                <li class="single-event" data-start="15:00" data-end="15:30" data-content="event-info-2a" data-event="event-2">
                  <a href="#0">
                    <em class="event-name">Gewerbeflächen Nachfrage - freielokale.at</em>
                  </a>
                </li>

                <li class="single-event" data-start="15:30" data-end="16:00" data-content="event-info-3a" data-event="event-2">
                  <a href="#0">
                    <em class="event-name">Kooperative Nutzungskonzepte am Beispiel - tbd</em>
                  </a>
                </li>

                <li class="single-event" data-start="16:00" data-end="16:30" data-content="event-info-4a" data-event="event-2">
                  <a href="#0">
                    <em class="event-name">Mischnutzung strahlt positiv in den Stadtteil aus - tbd</em>
                  </a>
                </li>

                <li class="single-event" data-start="16:30" data-end="17:00" data-content="event-info-5a" data-event="event-2">
                  <a href="#0">
                    <em class="event-name">Das Raumteiler Prinzip - imGrätzl.at</em>
                  </a>
                </li>

                <li class="single-event" data-start="17:00" data-end="17:30" data-content="event-info-6a" data-event="event-2">
                  <a href="#0">
                    <em class="event-name">Kooperative Nutzungskonzepte zur Leerstandaktivierung - tbd</em>
                  </a>
                </li>

              </ul>
            </li>

            <li class="events-group">
              <div class="top-info"><span>Schwerpunkt Raumunternehmen.<br>(Studio neben dem Magazin)</span></div>

              <ul>

                <li class="single-event" data-start="14:30" data-end="14:45"  data-content="event-info-1b" data-event="event-3">
                  <a href="#0">
                    <em class="event-name">Einführung: Was ist ein Raumunternehmen? - Thomas Kerekes (KRW)</em>
                  </a>
                </li>

                <li class="single-event" data-start="14:45" data-end="15:00"  data-content="event-info-2b" data-event="event-3">
                  <a href="#0">
                    <em class="event-name">Musikraum, Coworking für MusiklehrerInnen - Martin Schlögl</em>
                  </a>
                </li>

                <li class="single-event" data-start="15:00" data-end="15:15"  data-content="event-info-3b" data-event="event-3">
                  <a href="#0">
                    <em class="event-name">Gemeinschafts-Werkstatt im Gemeindebau - Anna Tomaselli</em>
                  </a>
                </li>

                <li class="single-event" data-start="15:15" data-end="15:30"  data-content="event-info-4b" data-event="event-3">
                  <a href="#0">
                    <em class="event-name">Traktorenfabrik, Raum für KünstlerInnen  - Karim EL SEROUI</em>
                  </a>
                </li>

                <li class="single-event" data-start="15:30" data-end="16:30"  data-content="event-info-5b" data-event="event-4">
                  <a href="#0">
                    <em class="event-name">Pause - Austausch - Vernetzung - gegenseitiges Kennenlernen</em>
                  </a>
                </li>

                <li class="single-event" data-start="16:30" data-end="16:45"  data-content="event-info-6b" data-event="event-3">
                  <a href="#0">
                    <em class="event-name">Werkstatt 15 Treffpunkt im Stadtteil - Kurt Tanner</em>
                  </a>
                </li>

                <li class="single-event" data-start="16:45" data-end="17:00"  data-content="event-info-7b" data-event="event-3">
                  <a href="#0">
                    <em class="event-name">Wir bauen ein Gewerbehaus - Peter Rippl</em>
                  </a>
                </li>

                <li class="single-event" data-start="17:00" data-end="17:15"  data-content="event-info-8b" data-event="event-3">
                  <a href="#0">
                    <em class="event-name">Coworking Projekt angefragt</em>
                  </a>
                </li>

                <li class="single-event" data-start="17:15" data-end="17:30"  data-content="event-info-9b" data-event="event-3">
                  <a href="#0">
                    <em class="event-name">Jutta Kleedorfer (Expertin für Mehrfachnutzungen) und Mutmacherin</em>
                  </a>
                </li>

                <li class="single-event" data-start="17:30" data-end="17:45"  data-content="event-info-10b" data-event="event-3">
                  <a href="#0">
                    <em class="event-name">Klarenbrunn - Zentrum für Nachhaltigkeit & kreatives Handwerk - Lisa</em>
                  </a>
                </li>

                <li class="single-event" data-start="17:30" data-end="18:00"  data-content="event-info-11b" data-event="event-1">
                  <a href="#0">
                    <em class="event-name">Abschluss-Runde mit Thomas Kerekes (KRW) und den vorgestellten Projekte</em>
                  </a>
                </li>

              </ul>
            </li>

            <li class="events-group">
              <div class="top-info"><span>Beratung & Infospots<br>RaumteilerInnen Magazin</span></div>

              <ul>

                <li class="single-event" data-start="14:00" data-end="18:00"  data-content="event-info-1c" data-event="event-1">
                  <a href="#0">
                    <em class="event-name tab-info">
                      <p><strong>Beratung & Infos:</strong></p>
                      <p>Rechtsberatung - Kreative Räume Wien</p>
                      <p>Raumteiler Check - imGrätzl.at</p>
                      <p>Beratung - Wirtschaftsagentur Wien</p>
                      <p>Beratung & Info von Kooperationspool & freielokale.at - Wirtschaftskammer Wien</p>
                      <p>Low cost & low tec Raumaktivierung - usus</p>
                    </em>
                  </a>
                </li>

              </ul>
            </li>

          </ul>
        </div>

        <div class="event-modal">
          <header class="header">
            <div class="content">
              <span class="event-date"></span>
              <h3 class="event-name"></h3>
            </div>

            <div class="header-bg"></div>
          </header>

          <div class="body">
            <div class="event-info"></div>
            <div class="body-bg"></div>
          </div>

          <a href="#0" class="close">Close</a>
        </div>

        <div class="cover-layer"></div>
      </div> <!-- .cd-schedule -->

      <!-- /Timetable Plugin-->

      <!-- Timetable Content for Modals-->
      <div class="tt_content" id="event-info-1c">
        <strong>Info Text</strong>
        <p>
          Coming soon ...
        </p>
      </div>

    </div>


    <!-- PAGE Location & Anfahrt -->

    <div id="page_location" class="page">

      <h1><span>Location & Anfahrt</span></h1>

      <!-- Boxes -->
      <div class="wrapper">

        <div class="paperCard container -ico -nbh">
          <div class="wrp">
            <div>
              <h2><span>Anfahrt</span><br>Nordbahn-Halle</h2>
              <strong>Nordbahn-Halle beim Wasserturm</strong><br>
              Leystraße/Ecke Taborstraße, 1020 Wien<br>
              Anfahrtsadresse Navi: Leystraße 157<br>
              <br>
              U-Bahn: U1 – “Vorgartenstraße” (Fußweg 10 Minuten)<br>
              Bus: 11A, 11B – “Pensionsversicherungsanstalt”​<br>
              Bus: 11A, 11B – “Holubstrasse”​<br>
              Straßenbahn: 2 – “Innstrasse”​<br>
            </div>
            <%= link_to( image_tag('lp/festival/Lageplan_Nordbahnhalle.jpg'), image_path('lp/festival/Lageplan_Nordbahnhalle.jpg')) %>
          </div>
          <div class="card"></div>
        </div>

        <div class="paperCard container -map">
          <div class="wrp">
            <p>
              <h2><span>Orientierungs</span>plan</h2>
              <%= link_to( image_tag('lp/festival/NBH-Festvalplan.png'), image_path('lp/festival/NBH-Festvalplan.png')) %>
            </p>
          </div>
          <div class="card"></div>
        </div>

    </div>



    <!-- PAGE Warum -->

    <div id="page_warum" class="page">

      <h1><span>WARUM das Raumteiler Festival!</span></h1>

      <div class="section-area">
        <div class="wrapper">
          <ul class="warum">
            <li>Um Platz für diejenigen zu schaffen, die nützliche Dinge machen wollen.</li>
            <li>Räume eröffnen, um Ideen und Projekte zu ihrer maximalen Wirkungsform zu bringen.</li>
            <li>Damit Menschen leichter zu Raum kommen, um ihre Ideen verwirklichen zu können.</li>
            <li>Denn nichts ist zu kompliziert, wenn wir zusammenarbeiten - der gemeinsame Prozess ist anders.</li>
          </ul>
          <p class="txt">
            Das Raumteiler Festival steht unter dem Motto "was einer alleine nicht schafft, das vermögen viele".
            <br><br>
            Selbständige, GründerInnen, MacherInnen, kurz gesagt: Menschen mit Ideen kommen beim Raumteiler Festival zusammen.
            Es geht nicht nur ums Räume teilen, sondern auch darum Gleichgesinnte kennenzulernen.
            <br><br>
            Das Raumteiler Festival ist ein Ort, um sich auszutauschen und zu verbinden. Ein Geben und Nehmen.
            Ein Kanal zum Teilen und Verteilen. Du stehst nicht alleine. Freue dich auf neue Kontakte und inspirierende Menschen.
            Wir wünschen uns eine Million verrückte Projekte. Es gibt kein Gewinnen und kein Scheitern, es gibt nur das Tun.
            Mehr von den "Ich hab heut etwas ge- und erschaffen und bin einen neuen Weg gegangen"-Momente. Tage voller Explosionen.
            So sollte es immer sein. Wir wollen diesen Prozessen Raum und Gemeinschaft geben.
          </p>
        </div>
      </div>

      <button class="btn-primary -large -active pages" data-nav="page_tickets">Hol dir dein Festival Ticket</button>

    </div>

    <!-- PAGE Partner-->

    <div id="page_partner" class="page">

      <div class="hl-subtext">
        <h1><span><h1>Sponsoren & KooperationspartnerInnen</h1></span></h1>
      </div>

      <p class="foerdergeber">
        Das Raumteilerfestival wird von imGrätzl.at veranstaltet und ist Teil des Smart-City-Demoprojekt Mischung: Nordbahnhof (Lead TU Wien).
        <br>
        Dieses Projekt wird aus Mitteln des Klima- und Energiefonds gefördert und im Rahmen der Smart-Cities-Initiative durchgeführt.
      </p>

      <div class="partner foerderlogos">
        <%= image_tag('lp/festival/Logo_klimafond.png', class: 'partner-logo') %>
        <%= image_tag('lp/festival/Logo_TU.png', class: 'partner-logo') %>
      </div>

      <div class="hl-subtext">
        <p><strong>In Kooperation mit</strong></p>
      </div>

      <div class="partner section-area">
        <%= image_tag('lp/festival/Logo_WKO.png', class: 'partner-logo') %>
        <%= image_tag('lp/festival/Logo_KRW.png', class: 'partner-logo') %>
        <%= image_tag('lp/festival/Logo_WAW.png', class: 'partner-logo') %>
      </div>

      <br><br>

      <div class="hl-subtext">
        <p><strong>ProjektpartnerInnen Mischung: Nordbahnhof</strong></p>
      </div>

      <div class="partner">
        <%= image_tag('lp/festival/Logo_TU.png', class: 'partner-logo smaller') %>
        <%= image_tag('lp/festival/Logo_design_build.jpg', class: 'partner-logo smaller') %>
        <%= image_tag('lp/festival/Logo_isra.png', class: 'partner-logo smaller') %>
        <%= image_tag('lp/festival/Logo_Wohnbau.png', class: 'partner-logo smaller') %>
        <%= image_tag('lp/festival/Logo_egw.png', class: 'partner-logo smaller') %>
        <%= image_tag('lp/festival/Logo_Studio_Vlay.png', class: 'partner-logo smaller') %>
        <%= image_tag('lp/festival/Logo_azw.png', class: 'partner-logo smaller') %>
      </div>
    </div>


  </section>
