<div class="<%= (comment_inline ||= false) ? 'entryUserComment' : 'entryInitialContent' %>">
  <% if current_user == comment.user %>
    <div class="editControls">
      <div class="btn-delete"><svg class="icon-trash-delete-remove"><use xlink:href="#icon-trash-delete-remove"></use></svg></div>
      <div class="btn-edit"><svg class="icon-pencil"><use xlink:href="#icon-pencil"></use></svg></div>
    </div>
  <% elsif (current_user == comment.commentable) || current_user.admin? %>
    <div class="editControls">
      <div class="btn-delete"><svg class="icon-trash-delete-remove"><use xlink:href="#icon-trash-delete-remove"></use></svg></div>
    </div>
  <% end %>

  <a name="comment-<%= comment.id -%>"></a>
  <%= render 'public_activity/info', user: comment.user, entity: comment %>

  <div id="<%= comment.id %>" class="txt"><%= comment.content %></div>

  <% unless comment.images.empty? %>
    <div class="entryImgUploads">
      <% comment.images.each do |image| %>
        <%= attachment_image_tag(image, :file, :fill, 400, 200) %>
      <% end %>
    </div>
  <% end %>
</div>