<!-- used for location post comments -->
<div id="<%= "comment_#{comment.commentable_type.underscore}_#{comment.id}" %>" class="comment">
  <div class="entryComment">
    <% if comment.edit_permission?(current_user) %>
      <div class="editControls">
        <%= link_to comment, { method: :delete, remote: true, data: { confirm: 'Kommentar wirklich löschen?', disable_with: 'lädt...' } } do %>
          <div class="btn-delete">
            <%= icon_tag "trash-delete-remove" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% user = comment.respond_to?(:preloaded_user) ? comment.preloaded_user : comment.user %>

    <div class="userEntry">
      <%= link_to user, rel: 'nofollow' do %>
        <%= avatar_image_with_tooltip user, size: :thumb, class: 'img-round show-badge' %>
      <% end %>
      <span class="userAndType">
        <span>Kommentar von </span><%= link_to user.username, user, rel: 'nofollow' %>
        <span>vor <%= time_ago_in_words(comment.created_at) %></span>
      </span>
    </div>

    <div class="txt txtlinky"><%= comment.content %></div>

    <% if comment.images.present? %>
      <div class="entryImgUploads">
        <% comment.images.each do |image| %>
          <%= link_to gallery_thumb_image(image), image.file_url, data: { jbox_image: "gallery-comment-#{comment.id}" } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
