<!-- used for location post comments -->
<div id="<%= dom_id(comment) %>" class="comment">
  <div class="entryUserComment">
    <% if comment.edit_permission?(current_user) %>
      <div class="editControls">
        <%= link_to comment, { method: :delete, remote: true, data: { confirm: 'Kommentar wirklich löschen?', disable_with: 'lädt...' } } do %>
          <div class="btn-delete">
            <%= icon_tag "trash-delete-remove" %>
          </div>
        <% end %>
      </div>
    <% end %>
    <a name="comment-<%= comment.id -%>"></a>
    <div class="userCreateInfo">
      <%= link_to comment.user, rel: 'nofollow' do %>
        <%= avatar_image_with_tooltip comment.user, size: :thumb, class: 'img-round' %>
    <% end %>
      <span class="userAndType">
        Kommentar von <%= link_to comment.user.username, comment.user, rel: 'nofollow' %>
        <span>vor <%= time_ago_in_words(comment.created_at) %></span>
      </span>
    </div>
    <div class="txt"><%= comment.content %></div>
    <% if comment.images.present? %>
      <div class="entryImgUploads">
        <% comment.images.each do |image| %>
          <%= link_to gallery_photo_image(image), image.file_url, data: { jbox_image: "gallery-comment-#{comment.id}" } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
