<%= div_for(comment, class: comment_outer_wrapper(comment)) do %>
  <div class="<%= comment_wrapper(comment) %>">
    <% if (current_user && comment.edit_permission?(current_user)) %>
      <div class="editControls">
        <%= link_to comment, { method: :delete, remote: true, data: { confirm: 'Kommentar wirklich löschen?', disable_with: 'lädt...' } } do %>
          <div class="btn-delete"><svg class="icon-trash-delete-remove"><use xlink:href="#icon-trash-delete-remove"></use></svg></div>
        <% end %>
      </div>
    <% end %>

    <a name="comment-<%= comment.id -%>"></a>
    <div class="userCreateInfo">
      <%= link_to avatar_for(comment.user), [comment.user.graetzl, comment.user] %>

      <span class="userAndType">
        Kommentar von <%= link_to comment.user.username, [comment.user.graetzl, comment.user] %>
        <span>vor <%= time_ago_in_words(comment.created_at) %></span>
      </span>
    </div>

    <div class="txt"><%= comment.content %></div>

    <% unless comment.images.empty? %>
      <div class="entryImgUploads" data-featherlight-gallery data-featherlight-filter="a">
        <% comment.images.each do |image| %>
          <%= link_to attachment_image_tag(image, :file, :fill, 400, 400), attachment_url(image, :file) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
