<%= form_for [commentable, Comment.new], html: { class: 'entryCommentForm', remote: true } do |f| %>
  <%= hidden_field_tag :inline, true %>
  <label>
    <%= avatar_for current_user %>
    <%= f.text_area :content, placeholder: ' Kommentieren' %>
  </label>
  <div class="hideBlock">
    <div class="upload-streamImgs">
      <svg class="icon-photo-camera"><use xlink:href="#icon-photo-camera"></use></svg>
      <%= f.attachment_field :images_files, multiple: true, direct: true, presigned: true %>
    </div>
    <%= f.button 'Antwort senden', data: { disable_with: 'sendet...' } %>
  </div>
<% end %>
