<div class="entryCreate" data-behavior="stream-form" id="comments-block">
  <%= avatar_image current_user, size: :thumb, class: 'img-round' %>
  <%= form_for Comment.new(commentable: commentable), html: { class: 'textEditor', remote: true } do |f| %>
    <%= f.hidden_field :commentable_id %>
    <%= f.hidden_field :commentable_type %>
    <%= f.text_area :content, cols: 80, rows: 5, placeholder: 'Neuen Beitrag schreiben ..', class: 'input-plain' %>
      <div class="hideBlock">
        <div class="upload-streamImgs">
          <%= icon_tag "photo-camera" %>
          <%= upload_images_input(f, :images) %>
        </div>
        <%= f.button 'Kommentar senden', data: { disable_with: 'sendet...' }, class: 'btn-secondary' %>
      </div>
  <% end %>
</div>
