<% @form_id = SecureRandom.hex(4) %>

<%= form_for [commentable.graetzl, commentable, Comment.new],
  html: { id: "#{@form_id}", class: 'entryCommentForm', remote: true } do |f| %>
  <label>
    <%= attachment_image_tag(current_user, :avatar, :fill, 100, 100, fallback: 'avatar/small_default.png', class: 'img-round') %>
    <%= f.text_area :content, cols: 60, rows: 2, placeholder: 'Kommentieren' %>
  </label>
  
  <%= hidden_field_tag :form_id, @form_id %>
  <%= f.button 'Antwort senden' %>
<% end %>