<% @form_id = SecureRandom.hex(4) %>

<%= form_for(Comment.new,
  url: comments_path(commentable_type: type, commentable_id: id, form_id: @form_id),
  html: { id: "#{@form_id}", class: 'entryCommentForm' },
  remote: true) do |f| %>
  <label>
    <%= image_tag current_user.avatar_url(:small), class: 'img-round' %>
    <%= f.text_area :content, cols: 60, rows: 2 %>
  </label>
  <%= f.hidden_field :form_id, value: @id %>
  <%= f.button 'Antwort senden' %>
<% end %>