<% @form_id = SecureRandom.hex(4) %>

<%= form_for(Comment.new,
  url: comments_path(commentable_type: commentable.class.name, commentable_id: commentable.id, form_id: @form_id),
  html: { id: "#{@form_id}", class: 'textEditor',
  remote: true }) do |f| %>

  <%= f.text_area :content, cols: 80, rows: 5, placeholder: 'Kommentar abgeben' %>

  <div class="upload-image js-imgUpld">
    <svg class="icon-camera">
      <use xlink:href="#icon-camera"></use>
    </svg>
    Bilder hochladen
    <%= f.attachment_field :images_files, multiple: true, direct: true, presigned: true %>
  </div>

  <%= f.hidden_field :form_id, value: @id %>
  <%= f.button 'Kommentar senden' %>
<% end %>