<%= form_for [commentable, Comment.new], html: { class: 'textEditor', remote: true } do |f| %>
  <%= f.text_area :content, cols: 80, rows: 5, placeholder: 'Kommentar abgeben' %>
    <div class="hide-wrp">
      <div class="upload-streamImgs">
        <svg class="icon-photo-camera"><use xlink:href="#icon-photo-camera"></use></svg>
        Bilder anhängen
        <%= f.attachment_field :images_files, multiple: true, direct: true, presigned: true %>
      </div>
      <%= hidden_field_tag :inline, false %>
      <%= f.button 'Beitrag senden' %>
    </div>
<% end %>