<div id="<%= dom_id(comment) %>" class="comment streamElement">
  <div class="entryInitialContent">
    <% if comment.edit_permission?(current_user) %>
      <div class="editControls">
        <%= link_to comment, { method: :delete, remote: true, data: { confirm: 'Kommentar wirklich löschen?', disable_with: 'lädt...' } } do %>
          <div class="btn-delete">
            <%= icon_tag "trash-delete-remove" %>
          </div>
        <% end %>
      </div>
    <% end %>
    <a name="comment-<%= comment.id -%>"></a>
    <div class="userCreateInfo -parentComment">
      <%= render 'shared/user_avatar_tooltip', user: comment.user %>
      <div class="infos">
        <div class="name"><%= link_to comment.user.full_name, comment.user %></div>
        <div class="date">
          <%= I18n.localize(comment.created_at, format:'%a, %d. %B %Y, %H:%M') %>
        </div>
      </div>

    </div>
    <div class="txt"><%= comment.content %></div>
    <% unless comment.images.empty? %>
      <div class="entryImgUploads" data-featherlight-gallery data-featherlight-filter="a">
        <% comment.images.each do |image| %>
          <%= link_to attachment_image_tag(image, :file, :fill, 200, 200), attachment_url(image, :file, :limit, 800, 800) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="post-comments">
    <%= link_to 'Ältere Kommentare zeigen', 'javascript:', class: 'show-all-comments-link' if comment.comments.size > 3 %>
    <% comment.comments.sort_by(&:created_at).each do |comment| %>
      <div class="comment-container" >
        <%= render 'comments/nested_comments/comment', comment: comment %>
      </div>
    <% end %>
  </div>

  <% if current_user %>
    <%= render 'comments/nested_comments/comment_form', comment: comment %>
  <% end %>

</div>
