<div id="<%= "comment_#{comment.commentable_type.underscore}_#{comment.id}" %>" class="comment streamElement">

  <div class="entryContent">

    <% if comment.edit_permission?(current_or_session_guest_user) %>
      <div class="editControls">
        <%= link_to comment, { method: :delete, remote: true, data: { confirm: 'Kommentar wirklich löschen?', disable_with: 'lädt...' } } do %>
          <div class="btn-delete">
            <%= icon_tag "trash-delete-remove" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="userEntry -parentComment">
      <% if comment.user.guest? %>
        <%= avatar_image comment.user, size: :thumb, class: 'img-round show-badge' %>
      <% else %>
        <%= link_to comment.user, rel: 'nofollow' do %>
          <%= avatar_image_with_tooltip comment.user, size: :thumb, class: 'img-round show-badge' %>
        <% end %>
      <% end %>
      <div class="infos">
        <% if comment.user.guest? %>
          <div class="guest"><%= comment.user.full_name %></div>
        <% else %>
          <div class="name"><%= link_to comment.user.full_name, comment.user, rel: 'nofollow' %></div>
        <% end %>
        <div class="date">
          <%= I18n.localize(comment.created_at, format:'%a, %d. %B %Y, %H:%M') %>
        </div>
      </div>
    </div>


    <div class="txt txtlinky"><%= comment.content %></div>

    <% unless comment.images.empty? %>
      <div class="entryImgUploads">
        <% comment.images.each do |image| %>
          <%= link_to gallery_thumb_image(image), image.file_url, data: { jbox_image: "gallery-#{comment.id}"} %>
        <% end %>
      </div>
    <% end %>

    <% preloaded_comments = comment.respond_to?(:preloaded_comments) ? comment.preloaded_comments : comment.comments.includes(:user, :images).order(:created_at) %>

    <div class="post-comments">
      <%= link_to 'Ältere Kommentare zeigen', 'javascript:', class: 'show-all-comments' %>
      <% preloaded_comments.sort_by(&:created_at).each do |comment| %>
        <div class="comment-container">
          <%= render 'comments/nested_comments/comment', comment: comment %>
        </div>
      <% end %>
    </div>

    <%= render 'comments/nested_comments/comment_form', comment: comment %>

  </div>




</div>
