<div class="call-section -page">

  <div class="users">
    <% @group.room_call.room_call_submissions.includes(:user).each do |submission| %>
      <div class="user cardBox">

        <div class="avatar">
          <%= avatar_image submission.user, size: :small, class: 'avatar img-round' %>
        </div>
        <div class="infos">
          <span><%= submission.first_name %> <br> <%= submission.last_name %></span>
          <p class="date">Abgesendet: <br> <%= I18n.localize(submission.created_at, format:'%d. %B %Y') %></p>
          <p class="date">
            <%= link_to submission_room_call_path(@group.room_call, submission_id: submission.id) do %>
            Call Einreichung
            <% end %>
          </p>
        </div>

      </div>
    <% end %>

    <% if @group.room_call.room_call_submissions.empty? %>
      <p> Noch keine ausgefüllten Calls bis jetzt .. </p>
    <% end %>
  </div>
</div>
