<div class="discussion-section -page">

  <% if @group.postable_by?(current_user) %>
    <div class="header">
      <div class="new-topic">
        <%= button_to "javascript:", class: 'btn-userIcons btn-new-topic' do %>
          <span class="ico-left">
            <%= icon_tag('pencil') %>
            Neues Thema eröffnen
          </span>
        <% end %>
      </div>
    </div>
    <div class="discussion-box">
      <div class="cardBox" id="new-topic">
        <%= render 'groups/discussions/form', discussion: Discussion.new %>
      </div>
    </div>
  <% end %>

  <div class="discussions">

    <div class="main discussions-container">
      <h3 class="title"></h3>
      <div class="cardBoxCollection -double -group-discussion" data-behavior="discussions-card-container"></div>
      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'discussions-paginate-link' }, rel: 'nofollow' %>
    </div>

    <div class="side">
      <%= render 'groups/discussions/category_select' %>
    </div>

  </div>

</div>
