<div class="discussion-section -page">

  <%= form_tag group_discussions_path(@group), method: :get, remote: true, class: 'cards-filter' do %>
    <div class="filter-selection-text-jbox">
      Zeige mir Themen aus <%= link_to 'allen Kategorien', '#filter-modal-category', data: { no_filter_label: 'allen Kategoren'} %>
    </div>
    <div id="filter-modal-category" class="filter-modal-jbox">
      <%= render 'filters/discussion_categories' %>
    </div>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="discussions-card-container"></div>
    <div class="action-card-container" data-behavior="discussions-action-card-container">
      <%= render 'groups/discussions/discussion_default_card', create_link: true %>
    </div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'discussions-paginate-link' }, rel: 'nofollow' %>
  </div>

</div>
