<div class="info-section -page">

  <div class="top-section">

    <div class="main top-posts">

      <div class="about-section">
        <h3>Worum es bei uns geht</h3>
        <div class="bbcode"><%= @group.description.bbcode_to_html.html_safe %></div>
      </div>

    </div>

    <div class="side">
      <% if @group.readable_by?(current_user) && @group.next_meeting.present? %>
        <%= render @group.next_meeting %>
      <% end %>
    </div>

  </div>

  <div class="group-member-section">

    <% if @group.default_joined? %>
      <h3>Aktive Mitglieder</h3>
    <% else %>
      <h3><%= @group.group_users.size %> <%= @group.group_users.size > 1 ? 'Mitglieder' : 'Mitglied' %></h3>
    <% end %>

    <div class="users member-section">

      <% @group.admins.each do |user| %>
        <div class="user">
          <div class="avatar">
            <%= link_to user_path(user), rel: 'nofollow' do %>
              <%= avatar_image_with_tooltip(user, size: :small, class: 'img-round') %>
            <% end %>
          </div>
          <div class="infos">
            <div class="title">Organisator:</div>
            <span><%= user.first_name %><br><%= user.last_name %></span>
          </div>
        </div>
      <% end %>

      <% if @group.default_joined? %>
        <%= render partial: 'groups/show/info_members_active' %>
      <% else %>
        <%= render partial: 'groups/show/info_members' %>
      <% end %>

    </div>
  </div>

  <div class="district-section">
    <h3><%= current_region.use_districts? ? 'Bezirke / Grätzln' : 'Gemeinden' %></h3>
    <div class="category-tags">
      <ul class="tag-list">
        <% compact_graetzl_list(@group.graetzls).each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
