<% meta(
    title: t('.title'),
    robots: 'noindex, follow',
  )
%>

<section class="search-section">

  <%= form_with url: search_results_path, remote: true, method: :get, class: 'cards-filter' do |f| %>
    <div class="input-field search-field-block">
      <%= f.label :q do %>
        <%= icon_tag "search" %>
        <span>Suche nach ..</span>
      <% end %>
      <%= text_field_tag :q, params[:q], placeholder: 'Suchbegriff (mind. 3 Zeichen) ...', data: { behavior:"searchinput" }, :required => true %>
    </div>
    <div class="filter-selection-text-jbox">
      Zeig mir Ergebnisse aus <%= link_to 'allen Bereichen', '#filter-modal-searchtype', data: { no_filter_label: 'allen Bereichen'} %>
    </div>
    <div id="filter-modal-searchtype" class="filter-modal-jbox oneclick">
      <%= render 'filters/search_type' %>
    </div>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="search-card-container"></div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'search-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
