<% title('Suche') %>

<section class="search-section">

  <!-- Search Field-->
  <%= form_tag search_path, method: :get do |f| %>

    <div class="input-field">
      <label for="search">
        <%= icon_tag "search" %>
        <span>Suche</span>
      </label>
      <%= text_field_tag :q, params[:q], placeholder: 'Suchbegriff ...' %>
      <button class="btn-primary">Suchen</button>
    </div>

    <div class="search-type-selection">
      <div class="input-radio">
        <%= radio_button_tag :label, 'all', params[:label] == 'all' || !params[:label] ? 'checked: true' : nil %>
        <label for="label_all">Alles</label>
      </div>
      <div class="input-radio">
        <%= radio_button_tag :label, 'locations', params[:label] == 'locations' ? 'checked: true' : nil %>
        <label for="label_locations">Locations</label>
      </div>
      <div class="input-radio">
        <%= radio_button_tag :label, 'treffen', params[:label] == 'treffen' ? 'checked: true' : nil %>
        <label for="label_treffen">Treffen</label>
      </div>
      <div class="input-radio">
        <%= radio_button_tag :label, 'raumteiler', params[:label] == 'raumteiler' ? 'checked: true' : nil %>
        <label for="label_raumteiler">Raumteiler</label>
      </div>
    </div>

  <% end %>
  <!-- /Search Field-->


  <% if @results && !@results.items.empty? %>

    <!-- Search Results-->
    <div class="cardBoxCollection -tripple">
      <% @results.items.each do |item| %>

    <!-- Example -->
        <!--<div class='row'>
          <h4><%= link_to item.htmlTitle.html_safe, item.link %></h4>
          <div>
            <% if item['pagemap'] && item['pagemap']['cse_thumbnail'] && img = item.pagemap.cse_thumbnail.first %>
              <div class='col-sm-2'>
                <%= image_tag(img.src, width: '200px') %>
              </div>
              <div class='col-sm-10'>
                <%= item.htmlSnippet.html_safe %>
              </div>
            <% else %>
              <%= item.htmlSnippet.html_safe %>
            <% end %>
          </div>
        </div>
    </div>-->
    <!-- /Example -->


    <!-- LocationCard-->
    <div class="cardBox -location" data-behavior="masonry-card">
      <div class="cardBoxHeader">
        <%= link_to item.link do %>
          <div class="coverImgWrapper">
            <% if item['pagemap'] && item['pagemap']['cse_thumbnail'] && img = item.pagemap.cse_thumbnail.first %>
              <%= image_tag(img.src, class: 'attachment location cover_photo coverImg') %>
            <% end %>
          </div>
        <% end %>
        <div class="categoryicon">
          <%= icon_tag "location" %>
        </div>
      </div>

      <div class="cardBoxContent">
        <div class="avatar-block">
          <%= link_to item.link, class: 'avatarImg' do %>
            <%= image_tag('avatar/location/100x100.png', class: 'attachment location avatar img-square') %>
          <% end %>
          <div class="typetxt">
            <%= link_to item.link do %>
              <div class="name"><%= item.htmlTitle.html_safe %></div>
            <% end %>
            <div class="category"></div>
            <% if pos = item.pagemap.metatags[0]['og:description'].index('Wien') %>
              <div class="address">
                <%= icon_tag "location" %>
                <%= item.pagemap.metatags[0]['og:description'][0,pos+4] %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="slogan"><%= item.htmlSnippet.html_safe %></div>
        <div class="txt">
          <p>

          </p>
        </div>

      </div>
    </div>

    <!-- /LocationCard -->


    <% end %>
    <!-- /Search Results-->


    <!-- Pagination-->
    <div class='container search-prev-next'>
      <div class='row text-center'>
        <% if @results.previous_page %>
          <%= link_to '<< Previous', search_path(q: params[:q], page: @results.previous_page, label: params[:label]), class: 'btn' %>
        <% end %>
        <% @results.pages.times do |i| %>
          <%= link_to i + 1, search_path(q: params[:q], page: i+1, label: params[:label]), class: 'btn btn-page' %>
        <% end %>
        <% if @results.next_page %>
          <%= link_to 'Next >>', search_path(q: params[:q], page: @results.next_page, label: params[:label]), class: 'btn' %>
        <% end %>
      </div>
    </div>
    <!-- /Pagination -->

  <% else %>

    <p>Keine Ergebnisse</p>

  <% end %>


</section>
