<%= form_tag initiate_eps_payment_tool_rentals_url, class: 'eps-source-form remote-form', remote: true, data: {type: 'json', with_credentials: true} do %>
  <%= hidden_field_tag :tool_offer_id, params[:tool_offer_id] %>
  <%= hidden_field_tag :rent_from, params[:rent_from] %>
  <%= hidden_field_tag :rent_to, params[:rent_to] %>
  <%= hidden_field_tag :redirect_url, choose_payment_tool_rentals_url(tool_rental_params.merge(payment_method: 'eps')) %>

  <div class="error-message">
    <% if params[:payment_method] == 'eps' && @source_status == 'failed' %>
      EPS Überweisung gescheitert.
    <% end %>
  </div>

  <div class="input-field">
    <%= label_tag :full_name do %>
    <%= icon_tag "user-avatar" %>
      <span>Name</span>
    <% end %>
    <%= text_field_tag :full_name, current_user.full_name  %>
  </div>

  <%= submit_tag "Weiter", class: 'btn-primary next-screen' %>
<% end %>

<% if params[:payment_method] == 'eps' && @source_status == 'chargeable' %>
  <div id="eps-payment-success"></div>
<% end %>
