<%= form_for(@room_demand) do |f| %>
  <%= form_errors_for @room_demand %>
  <div class="form-block">

    <h2>Ich möchte …</h2>
    <div class="room-offer-type-selection">
      <% RoomDemand.demand_types.each_with_index do |(name, value), i| %>
        <div class="input-radio">
          <%= f.radio_button :demand_type, name, required: true %>
          <%= f.label "demand_type_#{name}", t("activerecord.attributes.room_demand.demand_types.#{name}") %>
        </div>
      <% end %>
    </div>

    <h2>Raumkategorie - Welche Art von Raum suchst du?</h2>
    <div class="room-categories">
      <%= f.collection_check_boxes :room_category_ids, RoomCategory.all, :id, :name do |b| %>
        <div class="input-checkbox">
        <%= b.check_box %>
        <%= b.label %>
        </div>
      <% end %>
    </div>

    <h2><span>Wo möchtest du</span> idealerweise anmieten?</h2>
    <div class="bezirk-graetzl-select">
      <%= collection_select nil, nil, District.all, :id, :zip_name, {:include_blank => true}, {:class => 'district-graetzl-filter'}  %>
    </div>
    <div class="bezirk-graetzl-select room-categories">
      <%= f.collection_check_boxes :district_ids, District.all, :id, :zip_name do |b| %>
        <div class="input-checkbox">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>

    <div class="bezirk-graetzl-select">
      <%= collection_select nil, nil, Graetzl.all, :id, :name, {:include_blank => true}, {:class => 'graetzl-filter'}  %>
    </div>
    <div class="bezirk-graetzl-select room-categories">
      <%= f.collection_check_boxes :graetzl_ids, Graetzl.all, :id, :name do |b| %>
        <div class="input-checkbox">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>


    <h2>Ausstattung</h2>
    <div class="room-tags">
      <%= collection_check_boxes nil, :suggested_keywords, RoomSuggestedTag.pluck(:name), :downcase, :to_s do |b| %>
        <div class="input-checkbox">
        <%= b.check_box(checked: f.object.keyword_list.include?(b.value)) %>
        <%= b.label %>
        </div>
      <% end %>
    </div>
    <div class="input-tags">
      <%= label_tag :custom_keywords do %>
        <svg class="icon-label-tag"><use xlink:href="#icon-label-tag"></use></svg>
        <span>Ausstattung<br/><small>(mit Komma getrennt)</small></span>
      <% end %>
      <%= text_field_tag :custom_keywords, (f.object.keyword_list - RoomSuggestedTag.all_tags).join(', '), id: 'custom-keywords' %>
    </div>


    <h2>Wie groß sollte der Raum mindestens sein?</h2>
    <div class="room-size">
      <div class="input-field column-left">
        <%= f.label :needed_area, 'Größe die du benötigst in m2' %>
        <%= f.number_field :needed_area %>
      </div>
    </div>


    <h2><span>Kurzer Titel</span> Dein Raumteiler in einem Satz:</h2>
    <div class="input-field">
      <%= f.label :slogan do %>
        <svg class="icon-home"><use xlink:href="#icon-home"></use></svg>
        <span>Kurzer Titel</span>
      <% end %>
      <%= f.text_field :slogan, placeholder: 'z.B. Suche einen Raum für handwerklich kreative Tätigkeiten…' %>
    </div>

    <h2>Beschreibe deine Raumsuche genauer:</h2>
    <div class="input-field">
      <%= f.text_area :demand_description, placeholder: 'Hast du speyielle Anforderungen an den Raum? Beschreibe kurz das Umfeld welches gut zu dir passen würde. Welche Leute wären für dich toll als Mitnutzer im Raum zu haben …' %>
    </div>

    <h2>Ein paar Worte uber dich / deine Tätigkeit:</h2>
    <div class="input-field">
      <%= f.text_area :personal_description, placeholder: 'Beschreibe kurz deine Tätigkeit. Auch ein paar persönliche Worte über dich wären toll …' %>
    </div>

    <div class="input-checkbox">
      <%= f.check_box :wants_collaboration %>
      <%= f.label :wants_collaboration, 'Mehr als nur Raum teilen - Ich bin auch an Kooperationen interessiert!' %>
    </div>

    <h2> Dein Profilbild </h2>

    <h2 class="hl-main">Deine Kontaktdaten</h2>
    <div class="input-field">
      <%= f.label :first_name do %>
      <svg class="icon-user-avatar"><use xlink:href="#icon-user-avatar"></use></svg>
      <span>Vorname</span>
      <% end %>
      <%= f.text_field :first_name %>
    </div>
    <div class="input-field">
      <%= f.label :last_name do %>
      <svg class="icon-user-avatar"><use xlink:href="#icon-user-avatar"></use></svg>
      <span>Nachname</span>
      <% end %>
      <%= f.text_field :last_name %>
    </div>
    <div class="input-field">
      <%= f.label :website do %>
      <svg class="icon-at-symbol"><use xlink:href="#icon-at-symbol"></use></svg>
      <span>Website</span>
      <% end %>
      <%= f.text_field :website, placeholder: 'https://...' %>
    </div>
    <div class="input-field">
      <%= f.label :email do %>
      <svg class="icon-at-symbol"><use xlink:href="#icon-at-symbol"></use></svg>
      <span>Email</span>
      <% end %>
      <%= f.text_field :email %>
    </div>
    <div class="input-field">
      <%= f.label :phone do %>
      <svg class="icon-user-avatar"><use xlink:href="#icon-user-avatar"></use></svg>
      <span>Telefonnummer</span>
      <% end %>
      <%= f.text_field :phone %>
    </div>
    <div class="input-select">
      <%= f.label :location_id do %>
        <svg class="icon-location"><use xlink:href="#icon-location"></use></svg>
        <span>Location verknüpfen</span>
      <% end %>
      <%= f.collection_select(:location_id, current_user.locations, :id, :name, {include_blank: true}) %>
    </div>

    <%= f.button data: { disable_with: 'speichert...' }, class: 'btn-primary' %>

  </div>
<% end %>

<!-- 'Weitere wichtige Ausstattungsmerkmale … Benenne deine Tätigkeit' -->
