<div class="cardBox -roomdemand -<%= room_demand.status %>" data-behavior="masonry-card" data-card-id="room_demand-<%= room_demand.id %>">

  <div class="cardBoxHeader -roomdemand">
    <%= link_to room_demand do %>
      <div class="category-tags fav-exchange">
        <ul class="tag-list -mint">
          <% room_demand.room_categories.first(1).each do |category| %>
          <li><%= category.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="coverImgWrapper">
        <%= avatar_image room_demand, size: :large, class: 'coverImg' %>
      </div>
      <div class="categoryicon toggle-fav-ico">
        <%= toggle_favorite_icon(room_demand) if current_user %>
      </div>
    <% end %>
  </div>

  <div class="cardBoxContent -roomdemand">

    <div class="type-description">
      <%= link_to room_demand, class: 'typelink' do %>
      <%= t("activerecord.attributes.room_demand.demand_types.#{room_demand.demand_type}") %>
      <% end %>
    </div>

    <div class="slogan">
      <%= room_demand.slogan %>
    </div>

    <div class="txt">
      <p><%= truncate room_demand.demand_description, length: 100 %></p>
    </div>

    <% if room_demand.wants_collaboration? %>
    <div class="collaboration icontxt">
      <%= icon_tag "info-announcement" %>
      Interesse an gem. Kooperationen
    </div>
    <% end %>

    <% if local_assigns[:activity_comment] %>
      <%= render 'activities/comment', parent: room_demand, comment_url: room_demand_path(room_demand, target: local_assigns[:activity_comment].target_url_params), comment: local_assigns[:activity_comment] %>
    <% end %>

    <% if local_assigns[:manage_buttons].present? && current_user == room_demand.user %>
      <div class="btn-group">
        <%= link_to 'Bearbeiten', edit_room_demand_path(room_demand), class: 'btn-secondary -mint -small' %>
        <%= link_to "javascript:", data: { jq_dropdown: "#roomdemand-update-dropdown-#{room_demand.id}" }, class: "btn-secondary -mint -small -state-#{room_demand.status}" do %>
          Status: <span><%= t("activerecord.attributes.room_demand.statuses.#{room_demand.status}") %></span>
        <% end %>
      </div>
      <div id="roomdemand-update-dropdown-<%= room_demand.id %>" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container">
        <div class="jq-dropdown-panel">
          <%= link_to 'Aktiv', [:update_status, room_demand, status: "enabled"], method: :patch %>
          <%= link_to 'Inaktiv', [:update_status, room_demand, status: "disabled"], method: :patch %>
          <%= link_to 'Löschen', [room_demand], method: :delete, data: { confirm: 'Bist du dir sicher?' } %>
        </div>
      </div>
    <% end %>

  </div>
</div>
