<aside class="sideBar">

  <div class="sideBarbox contact">
    <div class='sideflag -L'>Was mir wichtig ist …</div>

    <div class="iconlist">

      <% if @room_demand.keyword_list.present? %>
        <div class="category-tags">
          <ul class="tag-list">
            <% @room_demand.keyword_list.each do |keyword| %>
              <li><%= keyword %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @room_demand.needed_area.present? %>
        <div class="rented-area icontxt">
          <%= icon_tag "resize-maximize" %>
          mind. <%= "%g" % (@room_demand.needed_area) %> m²<br>
        </div>
      <% end %>

      <% if @room_demand.wants_collaboration? %>
        <div class="collaboration icontxt">
          <%= icon_tag "urgent-extra-notice-info-announcement" %>
          Auch an Kooperationen interessiert.
        </div>
      <% end %>

      <%= link_to @room_demand.user, class: 'user-wrp', rel: 'nofollow' do %>
        <%= avatar_image_with_tooltip @room_demand.user, size: :thumb, class: 'img-round' %>
        <span class="name"><%= @room_demand.user.username %></span>
      <% end %>

      <div class="created icontxt">
        <%= icon_tag "pencil" %>
        Erstellt / Aktualisiert:<br><%= I18n.localize(@room_demand.updated_at, format:'%d. %b %Y') %>
      </div>

      <% if user_signed_in? && current_user == @room_demand.user %>
        <div class="btn-group">
          <%= link_to 'Bearbeiten', edit_room_demand_path(@room_demand), class: 'btn-secondary -mint -small' %>
        </div>
        <div class="btn-group">
          <%= link_to "javascript:", data: { jq_dropdown: "#roomdemand-state-update-dropdown" }, class: "btn-secondary -mint -small -state-#{@room_demand.status}" do %>
            Status: <span><%= t("activerecord.attributes.room_demand.statuses.#{@room_demand.status}") %></span>
          <% end %>
        </div>
        <div id="roomdemand-state-update-dropdown" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container">
          <div class="jq-dropdown-panel">
            <%= link_to 'Aktiv', [:update_status, @room_demand, status: "enabled"], method: :patch %>
            <%= link_to 'Inaktiv', [:update_status, @room_demand, status: "disabled"], method: :patch %>
            <%= link_to 'Löschen', room_demand_path(@room_demand), data: { confirm: 'Bist du dir sicher?' }, method: :delete %>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <% if @room_demand.location %>
    <aside class="location">
      <%= render @room_demand.location %>
    </aside>
  <% end %>

  <% if @room_demand.user.present? %>
    <%= link_to "#{@room_demand.user.first_name} kontaktieren", messenger_start_thread_path(user_id: @room_demand.user.id), class: 'btn-primary -mint -contact', id: 'requestRoomBtn', subject: "Raumteiler Kontakt" %>
  <% end %>

  <%= link_to "Alle Raumteiler", region_rooms_path, class: 'btn-primary -mint' %>
</aside>
