<aside class="sideBar">

  <div class="sideBarbox contact">
    <div class='sideflag -L'>Was mir wichtig ist …</div>

    <div class="iconlist">
      <% if @room_demand.needed_area.present? %>
        <div class="rented-area icontxt">
          <%= icon_tag "resize-maximize" %>
          mind. <%= "%g" % (@room_demand.needed_area) %> m²<br>
        </div>
      <% end %>

      <% if @room_demand.wants_collaboration? %>
        <div class="collaboration icontxt">
          <%= icon_tag "urgent-extra-notice-info-announcement" %>
          Auch an Kooperationen interessiert.
        </div>
      <% end %>

      <div class="category-tags">
        <% unless @room_demand.keyword_list.empty? %>
          <ul class="tag-list">
            <% @room_demand.keyword_list.each do |keyword| %>
              <li><%= keyword %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="btn-group">
        <%= link_to 'Bearbeiten', edit_room_demand_path(@room_demand),
          class: 'btn-secondary -mint -small' if user_signed_in? && (current_user == @room_demand.user) %>
      </div>
    </div>

  </div>

  <% unless @room_demand.email.nil? %>
  <%= mail_to @room_demand.email, "Anbieter kontaktieren", class: 'btn-primary -mint', subject: "Raumteiler Kontakt" %>
  <% end %>

  <%= link_to "Alle Raumteiler", room_demands_path, class: 'btn-primary -mint' %>
</aside>
