<aside class="sideBar">

  <div class="sideBarbox contact">
    <div class='sideflag -L'>Was mir wichtig ist …</div>

    <div class="iconlist">
      <% if @room_demand.needed_area.present? %>
        <div class="rented-area icontxt">
          <%= icon_tag "resize-maximize" %>
          mind. <%= "%g" % (@room_demand.needed_area) %> m²<br>
        </div>
      <% end %>

      <% if @room_demand.wants_collaboration? %>
        <div class="collaboration icontxt">
          <%= icon_tag "urgent-extra-notice-info-announcement" %>
          Auch an Kooperationen interessiert.
        </div>
      <% end %>

      <div class="category-tags">
        <% if @room_demand.keyword_list.present? %>
          <ul class="tag-list">
            <% @room_demand.keyword_list.each do |keyword| %>
              <li><%= keyword %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <% if user_signed_in? && current_user == @room_demand.user %>
        <div class="btn-group">
          <%= link_to 'Bearbeiten', edit_room_demand_path(@room_demand), class: 'btn-secondary -mint -small' %>
        </div>
        <div class="btn-group">
          <%= link_to 'Löschen', room_demand_path(@room_demand), data: { confirm: 'Bist du dir sicher?' },
            method: :delete, class: 'btn-secondary -mint -small' %>
        </div>
      <% end %>
    </div>

  </div>

  <% if @room_demand.location %>
    <aside class="location">
      <%= render @room_demand.location %>
    </aside>
  <% end %>

  <% if @room_demand.email.present? && current_user %>
    <%= mail_to @room_demand.email, "Anbieter kontaktieren", class: 'btn-primary -mint -contact', id: 'room-contact-btn', subject: "Raumteiler Kontakt" %>
  <% end %>

  <%= link_to "Alle Raumteiler", rooms_wien_path, class: 'btn-primary -mint' %>
</aside>
