<section class="roomDetail -Demand">
  <div class="mainContent">
    <div class="introtxt">
      <h1><%= t("activerecord.attributes.room_demand.demand_types.#{@room_demand.demand_type}") %></h1>
      <h3><%= @room_demand.slogan %></h3>
    </div>

    <div class="category-tags">
      <% unless @room_demand.room_categories.empty? %>
        <ul class="tag-list -mint">
          <% @room_demand.room_categories.each do |category| %>
            <li><%= category.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="category-tags">
      <% unless @room_demand.districts.empty? %>
        <ul class="tag-list -mint">
          <% @room_demand.districts.each do |district| %>
            <li><%= district.zip_name %></li>
          <% end %>
          <% @room_demand.graetzls.each do |graetzl| %>
            <li><%= graetzl.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="txt"><%= @room_demand.demand_description %></div>

    <div class="category-tags">
      <% unless @room_demand.keyword_list.empty? %>
        <ul class="tag-list">
          <% @room_demand.keyword_list.each do |keyword| %>
            <li><%= keyword %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <section>
      <div class="bigicontext-element">
        <% if not @room_demand.user.nil? %>
          <%= avatar_for(@room_demand.user, 200) %>
        <% else %>
        <svg class="icon-user-avatar"><use xlink:href="#icon-user-avatar"></use></svg>
        <% end %>
        <div class="txt">Über mich</div>
      </div>
      <div class="txt"><%= @room_demand.personal_description %></div>
    </section>

    <section>
      <% if @room_demand.wants_collaboration? %>
        <div class="bigicontext-element">
        <svg class="icon-urgent-extra-notice-info-announcement"><use xlink:href="#icon-urgent-extra-notice-info-announcement"></use></svg>
        <div class="txt">Auch an Kooperationen interessiert.</div>
      <% end %>
    </section>

  </div>

  <%= render 'sidebar' %>
</section>
