<% meta(
    title: t('.title', slogan: @room_demand.slogan[0..55].gsub(/\s\w+\s*$/,'...')),
    description: t('.description', type: t("activerecord.attributes.room_demand.demand_types.#{@room_demand.demand_type}"), desc: @room_demand.demand_description[0..160].gsub(/\n/, " ")),
    robots: 'index, follow',
    og_title: t('.title', slogan: @room_demand.slogan[0..80].gsub(/\s\w+\s*$/,'...')),
    og_description: t('.description', type: t("activerecord.attributes.room_demand.demand_types.#{@room_demand.demand_type}"), desc: @room_demand.demand_description[0..250].gsub(/\n/, " ")),
    og_image: @room_demand.avatar_url(:large) || image_url("meta/#{current_region.host_id}/og_logo.png")
  )
%>

<section class="demandDetail room-demand">

  <div class="imgHeader">
    <div class="titleHeadline">
      <div class="wrp">
        <h1><%= t("activerecord.attributes.room_demand.demand_types.#{@room_demand.demand_type}") %></h1>

        <div class="category-tags">
          <% if @room_demand.room_categories.present? %>
            <ul class="tag-list -mint">
              <% @room_demand.room_categories.each do |category| %>
                <li><%= link_to category.name, region_rooms_path(category: category) %></li>
              <% end %>
            </ul>
          <% end %>
        </div>

      </div>
      <div class="card"></div>
    </div>
  </div>

  <div class="userContent">
    <div class="col1">
      <%= avatar_image @room_demand, class: 'img-round -largest' %>
    </div>
  </div>


  <div class="mainContent">

    <% if @room_demand.disabled? && current_user == @room_demand.user %>
      <div class="inactive-msg">
          Dein Raumteiler ist aktuell auf inaktiv gesetzt. Raumteiler jetzt <%= link_to 'wieder aktivieren', [:update_status, @room_demand, status: "enabled"], method: :patch %>.
      </div>
    <% end %>

    <div class="introtxt">
      <h3><%= @room_demand.slogan %></h3>
    </div>

    <div class="txt"><%= @room_demand.demand_description %></div>

    <section class="owner">
      <div class="bigicontext-element">
        <% if @room_demand.user %>
          <%= avatar_image @room_demand, size: :thumb, class: 'avatar img-round' %>
        <% else %>
          <%= icon_tag "user-avatar" %>
        <% end %>
        <div class="txt">Über mich</div>
      </div>
      <div class="txt"><%= @room_demand.personal_description %></div>
    </section>

    <section>
      <div class="bigicontext-element">
        <%= icon_tag "profile-vcard" %>
        <div class="txt">Kontakt-Infos</div>
      </div>


      <% if current_user %>
        <!-- Contact Block -->
        <div class="contact-login-msg -show">
          <!-- Show Contact Link -->
          <a href="#" id="show-contact-link" data-label="Raumsuche">Kontaktinformationen einblenden</a>
          <!-- /Show Contact Link -->

          <div class="contact-infos" id="contact-infos-block">
            <% if @room_demand.first_name.present? && @room_demand.last_name.present? %>
              <div class="icontxt">
                <%= icon_tag "user-avatar" %>
                <div class="txt"><%= "#{@room_demand.first_name} #{@room_demand.last_name}" %></div>
              </div>
            <% end %>

            <% if @room_demand.phone.present? %>
              <div class="icontxt">
                <%= icon_tag "phone" %>
                <div class="txt"><%= @room_demand.phone %></div>
              </div>
            <% end %>

            <% if @room_demand.email.present? %>
              <%= mail_to @room_demand.email do %>
                <div class="icontxt">
                  <%= icon_tag "at-symbol" %>
                  <div class="txt"><%= @room_demand.email %></div>
                </div>
              <% end %>
            <% end %>

          <% if @room_demand.website.present? %>
            <%= link_to @room_demand.website, class: 'icontxt', target: '_blank' do %>
              <%= icon_tag "globe" %>
              <%= @room_demand.website.sub(/^https?\:\/\//,'') %>
            <% end %>
          <% end %>
          </div>
        </div>
        <!-- /Contact Block -->
        <% if user_signed_in? && current_user == @room_demand.user || user_signed_in? && current_user.admin? %>
          <div id="show-contact-block"></div>
        <% end %>

      <% else %>
        <div class="contact-login-msg">
            Du musst eingeloggt sein, um die vollständigen Kontaktinformationen zu sehen.<br />
            <%= link_to 'Zum Login', new_user_session_path(redirect: request.original_url, origin: request.path), rel: 'nofollow' %> |
            <%= link_to 'Zur Registrierung', new_registration_path(origin: request.path), rel: 'nofollow' %>
        </div>
      <% end %>


    </section>

    <section>
      <div class="bigicontext-element">
        <%= icon_tag "map-location" %>
        <div class="txt"><%= t("region.#{@room_demand.region.id}.wish_graetzl") %></div>
      </div>
      <div class="category-tags">
        <ul class="tag-list">
          <% compact_graetzl_list(@room_demand.graetzls).each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      </div>
    </section>

    <section>
      <div class="stream">
        <div class="bigicontext-element">
          <%= icon_tag "layout-text" %>
          <div class="txt">Frage / Kommentar an <%= "#{@room_demand.first_name} #{@room_demand.last_name}" %></div>
        </div>
        <%= render 'comments/form', commentable: @room_demand %>
        <%= render partial: 'comments/stream_comment', collection: @comments, as: 'comment' %>
      </div>
    </section>

  </div>

  <%= render 'sidebar' %>
</section>
