<% content_for(:above_title, "Hey #{@user.first_name},") %>
<% content_for(:title, "#{@notification.headline},") %>
<% content_for(:subtitle, "wo du zuvor auch kommentiert hast.") %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td style="height:30px"> </td>
  </tr>
  <tr>
    <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
      <h4 style="color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic; text-align:left;">
        <%= link_to @notification.content_title.truncate(50, separator: ' '), polymorphic_url(@notification.content_url_params), style: "color:#f48a85;" %>
      </h4>
    </td>
  </tr>
  <tr>
    <td style="padding-left:9px; padding-right:9px;">
      <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>

    <tr>
      <td valign="top" class="mcnTextContent" style="padding-left:18px; padding-right:18px; vertical-align:top">
        <%= avatar_image @notification.activity.owner, size: :thumb, style: "width:60px; height:60px; border-radius: 30px; max-width:60px; min-width:60px;", class: "mcnImage" %>
      </td>
      <td class="mcnTextContent" style="padding-right:18px; width:100%;">
        <p>
          <em><strong><%= @notification.activity.owner.username %>:</strong></em>
          <br>
          <%= @notification.comment_content_preview %>
        </p>
      </td>
    </tr>

    <tr>
      <td colspan="2" style="padding-bottom:9px;"></td>
    </tr>

    <tr>
      <td colspan="2">
        <%= render 'mailers/shared/button', title: "Zum Kommentar", url: polymorphic_url(@notification.comment_url_params, :target => "comment_#{@notification.activity.recipient_id}") %>
      </td>
    </tr>

  </tbody>
</table>
