<% content_for(:above_title, "Hallo #{@user.first_name},") %>
<% content_for(:title, "Neuer Teilnehmer an deinem Treffen.") %>
<% going_to = @notification.meeting.going_tos.where(user: @notification.activity.owner).last %>


<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td style="height:30px"> </td>
  </tr>
  <tr>
    <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
      <h4 style="color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic; text-align:left;">
        Treffen:
        <%= link_to @notification.meeting.name.truncate(50, separator: ' '), graetzl_meeting_url(@notification.meeting.graetzl, @notification.meeting), style:"color:#f48a85;" %>
      </h4>
    </td>
  </tr>
  <tr>
    <td style="padding-left:9px; padding-right:9px;">
      <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>

    <tr>
      <td valign="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px;">
        <%= avatar_image @notification.activity.owner, size: :thumb, style: "width: 40px; height: 40px; border-radius: 20px; display: block; margin-bottom:5px;" %>
      </td>
      <td>&nbsp;</td>
      <td class="mcnTextContent" style="padding-right:18px; width:100%;">
        <p>
          <em>
            <strong>
            <%= link_to @notification.activity.owner.full_name, user_url(@notification.activity.owner), style: "color:#f48a85; font-weight:bold;" %>
            nimmt teil.
            </strong>
          </em>
          <% if going_to.going_to_date %>
            <em>(Termin: <%= going_to.display_starts_at_date %>)</em>
          <% end %>
        </p>
      </td>
    </tr>

    <tr>
      <td colspan="3" style="padding-bottom:19px;"></td>
    </tr>

    <tr>
      <td colspan="3" align="center">
        <table>
          <tr>
            <td><%= render 'mailers/shared/button', title: "Zum Treffen", url: graetzl_meeting_url(@notification.meeting.graetzl, @notification.meeting) %></td>
            <td><%= render 'mailers/shared/button', title: "#{@notification.activity.owner.first_name} im Messenger antworten", url: messenger_start_thread_url(user_id: @notification.activity.owner.id) %></td>
          </tr>
        </table>
      </td>
    </tr>

  </tbody>
</table>
