<% content_for(:above_title, "Hey #{@user.first_name},") %>
<% content_for(:title, "Neues Thema in der Gruppe:") %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td style="height:30px"> </td>
  </tr>
  <tr>
    <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
      <h4 style="color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic; text-align:left;">
        <%= @notification.group.title %>
      </h4>
    </td>
  </tr>
  <tr>
    <td style="padding-left:9px; padding-right:9px;">
      <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px;">
        <%= avatar_image @notification.discussion.user, size: :small, style: "width:120px; height:120px; border-radius: 60px; max-width:120px; min-width:120px;", class: "mcnImage" %>
      </td>
      <td valign="center" class="mcnTextContent" width="100%">

        <p>
          <em>
            <strong><%= @notification.discussion.user.first_name %></strong>
            hat ein neues Thema
            <% if @notification.discussion.discussion_category %>
              unter "<%= @notification.discussion.discussion_category.title %>"
            <% end %>
            erstellt:
          </em>
          <br>
        </p>
        <p>
          <%= link_to @notification.discussion.title, group_discussion_url(@notification.group, @notification.discussion), style: "color:#ec776a; font-size:18px;" %>
        </p>

      </td>
    </tr>

    <tr>
      <td colspan="2" style="padding-bottom:9px;"></td>
    </tr>

    <tr>
      <td colspan="2" class="mcnTextContent" style="padding-bottom:18px; padding-left:18px; padding-right:18px;">
        <p>
          <%= @notification.initial_post.content.truncate(300, separator: ' ') %>
        </p>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <%= render 'mailers/shared/button', title: "Thema ansehen", url: group_discussion_url(@notification.group, @notification.discussion) %>
      </td>
    </tr>

  </tbody>
</table>
