<% content_for(:above_title, "Hallo #{@user.first_name},") %>
<% content_for(:title, "Schau mal - Es gibt Neuigkeiten aus dem Grätzl #{@user.graetzl.name} für dich:") %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td style="height:30px"> </td>
  </tr>
  <tr>
    <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
      <h4 style="color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic; text-align:left;">
        <%= link_to @notification.meeting.user.first_name, user_url(@notification.meeting.user), style: "color:#f48a85;" %>
        hat ein neues Treffen erstellt:
      </h4>
    </td>
  </tr>
  <tr>
    <td style="padding-left:9px; padding-right:9px;">
      <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-left:18px; padding-right:18px; vertical-align:top;">
        <%= avatar_image @notification.meeting.user, size: :thumb, style: "width: 40px; height: 40px; border-radius: 20px; display: block;" %>
      </td>
      <td valign="center" class="mcnTextContent" width="100%">

        <h3 style="font-size:18px; font-style:normal; font-weight:normal; line-height:130%; letter-spacing:normal; margin-top:0;margin-right:0; margin-bottom:2px;">
          <%= link_to @notification.meeting.name.truncate(70, separator: ' '), graetzl_meeting_url(@notification.meeting.graetzl, @notification.meeting), style:"color:#f48a85;" %>
        </h3>
        <em>
          <%= I18n.localize(@notification.meeting.starts_at_date, format:'%A %d. %B') if @notification.meeting.starts_at_date.present? %>
        </em>
        <p style="margin-top:12px;">
          <%= @notification.meeting.description.truncate(255, separator: ' ') %>
        </p>

      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding-bottom:9px;">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= render 'mailers/shared/button', title: "Treffen ansehen", url: graetzl_meeting_url(@notification.meeting.graetzl, @notification.meeting) %>
      </td>
    </tr>
  </tbody>
</table>
