<% content_for(:above_title, "Hey #{@user.first_name},") %>
<% content_for(:title, "Neues Mitglied in der Gruppe:") %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td style="height:30px"> </td>
  </tr>
  <tr>
    <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
      <h4 style="color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic; text-align:left;">
        <%= @notification.group.title %>
      </h4>
    </td>
  </tr>
  <tr>
    <td style="padding-left:9px; padding-right:9px;">
      <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px; padding-bottom:18px;">
        <em><strong>Neues Mitglied in der Gruppe:</strong></em>
      </td>
    </tr>

    <tr>
      <td valign="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px;">
        <!-- SINGLE MEMBER -->
        <table align="left" border="0" cellpadding="0" cellspacing="0" style="float:left; margin-right:18px; margin-bottom:18px;">
          <tr>
            <td align="center">
              <%= link_to user_url(@notification.group_user.user), target: "_blank" do %>
                <%= avatar_image @notification.group_user.user, size: :thumb, style: "width:120px; height:120px; border-radius: 60px; max-width:120px; min-width:120px;", class: "mcnImage" %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td align="center">
              <p style="text-align:center;">
                <%= @notification.group_user.user.first_name %>
                <br>
                <%= @notification.group_user.user.last_name %>
              </p>
            </td>
          </tr>
        </table>
        <!-- SINGLE MEMBER -->
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <%= render 'mailers/shared/button', title: "Zur Gruppe", url: group_url(@notification.group) %>
      </td>
    </tr>

  </tbody>
</table>
