<% content_for(:above_title, "Hallo #{@user.first_name},") %>
<% content_for(:title, "Schau mal - Es gibt Neuigkeiten #{t("region.#{@region.id}.from_graetzl")} #{@notification.crowd_campaign.graetzl.name} für dich:") %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td style="height:30px"> </td>
  </tr>
  <tr>
    <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
      <h4 style="color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic; text-align:left;">
        Eine neue Crowdfunding Kampagne ist gestartet
      </h4>
    </td>
  </tr>
  <tr>
    <td style="padding-left:9px; padding-right:9px;">
      <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-left:18px; padding-right:18px; vertical-align:top;">
        <%= link_to crowd_campaign_url(@notification.crowd_campaign), target: "_blank" do %>
          <%= cover_photo_image @notification.crowd_campaign, size: :small, style: "width:250px; height:120px; border-radius: 10px; max-width:250px; min-width:250px;", class: "mcnImage" %>
        <% end %>
      </td>
      <td valign="center" class="mcnTextContent" width="100%">

        <h3 style="font-size:18px; font-style:normal; font-weight:normal; line-height:130%; letter-spacing:normal; margin-top:0;margin-right:0; margin-bottom:2px;">
          <%= link_to @notification.crowd_campaign.title, crowd_campaign_url(@notification.crowd_campaign), style: "color:#ec776a;" %>
        </h3>

        <p style="margin-top:12px;">
          Benötigter Mindestbetrag: <%= number_to_currency(@notification.crowd_campaign.funding_1_amount, precision: 0 ,unit: "€") %><br>
          Laufzeit: <%= @notification.crowd_campaign.remaining_days %> Tage
        </p>

      </td>
    </tr>
    <tr>
      <td colspan="2" class="mcnTextContent" style="padding-top:9px; padding-bottom:9px; padding-left:18px; padding-right:18px;">
        <p>
          <em><%= @notification.crowd_campaign.slogan %></em>
        </p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= render 'mailers/shared/button', title: "Zur Crowdfunding Kampagne", url: crowd_campaign_url(@notification.crowd_campaign) %>
      </td>
    </tr>
  </tbody>
</table>
