<div class="input-checkbox">
  <%= f.check_box :goal_prosumer_solarpower %>
  <%= f.label :goal_prosumer_solarpower, "PV" %>
</div>
<div class="input-checkbox beg">
  <%= f.check_box :goal_prosumer_hydropower %>
  <%= f.label :goal_prosumer_hydropower, "Wasserkraft" %>
</div>
<div class="input-checkbox beg">
  <%= f.check_box :goal_prosumer_windpower %>
  <%= f.label :goal_prosumer_windpower, "Windkraft" %>
</div>