<footer id="footer">

  <div class="inner">

    <div class="row infolinks">
      <div class="col">
        <%= link_to 'Impressum', 'https://blog.welocally.at/kontakt/', target: '_blank' %>
        <%= link_to 'Medien', 'https://blog.imgraetzl.at/medien/', target: '_blank' %>
        <%= link_to 'Blog', 'https://blog.welocally.at/', target: '_blank' %>
      </div>
      <div class="col">
        <%= link_to 'Facebook', 'https://www.facebook.com/WeLocally', target: '_blank' %>
        <%= link_to 'Instagram', 'https://www.instagram.com/welocally/', target: '_blank' %>
      </div>
    </div>

  </div>
</footer>
