<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('campaigns/welocally.jpg')
  )
%>

<section class="homeWeLocally campaigns info lp -startpage">

  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1 class="weLocally">Gemeinsam bringen <br>wir mehr zusammen.<br>Sei locally dabei!</h1>
    </div>
  </div>

  <div class="hl-subtext -header-headline">
    <h1>WeLocally startet in Kürze.</h1>
    <p>Sei von Anfang an dabei und gestalte WeLocally mit.</p>
    <p><strong>Melde dich an für:</strong></p>
  </div>

  <div class="region-switch">
    <%= link_to 'Mühlviertler Kernland', '/campaign/muehlviertel', :class => 'btn-primary -rose -large -shadow' %>
    <%= link_to 'Griffen, St. Andrä, Völkermarkt', '/campaign/kaernten', :class => 'btn-primary -rose -large -shadow' %>
  </div>


  <!--
  <div class="hl-subtext -form-headline">
    <h1><em>Was ist zu tun?</em></h1>
    <p>Ganz einfach, melde dich über das Formular an. Wir melden uns dann bei dir, sobald es los geht.</p>
  </div>
  <%= form_for @campaign_user, url: url_for do |f| %>
    <%= form_errors_for @campaign_user if @campaign_user %>
    <%= hidden_field_tag :redirect_path, '/' %>
    <div class="form-block cardBox">
      <%= render 'campaign_users/form', :f => f %>
      <div class="input-select">
        <%= f.label :campaign_title do %>
          <%= icon_tag "globe" %>
          <span>Region</span>
        <% end %>
        <%= f.select :campaign_title, options_for_select([['Mühlviertler Kernland', 'muehlviertel'], ['Kärnten', 'kaernten']], @campaign_user.campaign_title), include_blank: "Wähle eine Region" %>
      </div>
      <%= submit_tag "Absenden", class: 'btn-primary -mint -large' %>
    </div>
  <% end %>
  -->

</section>
