<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('campaign_users/welocally.jpg')
  )
%>

<section class="campaignUsers info help lp -startpage -kaernten">


  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1 class="weLocally">Gemeinsam bringen <br>wir mehr zusammen.<br>Sei locally dabei!</h1>
    </div>
  </div>

  <div class="hl-subtext -header-headline">
    <h1>WeLocally startet in Kürze in <br><span> Griffen, St. Andrä und Völkermarkt!</span></h1>
    <p>Sei von Anfang an dabei und gestalte WeLocally mit. Damit gibst du WeLocally noch vor dem offiziellen Start den letzten Schliff.</p>
  </div>


  <!--
  <article class="container -team">
    <div class="aside -img -mentoring">
      <%= link_to(image_tag('lp/team.jpg'), root_path, class: '-feature') %>
    </div>
    <div class="txt">
      <p>
        Wir, das sind Mirjam, Lena und Michi. In Wien betreiben wir seit 2016 die gemeinwohlorientierte Plattform <%= link_to 'imGrätzl.at', 'https://www.imgraetzl.at', :target => "blank" %> zur Stärkung der Selbstständigen, Gründer*innen, Kulturschaffenden, Macher*innen und Vereine.
        <br>
        <strong>Die großartige Nachricht: wir dürfen nun die Plattform zu euch nach Griffen, St. Andrä, Völkermarkt bringen.</strong>
      </p>
    </div>
  </article>
  -->


  <div class="hl-subtext -form-headline">
    <h1><em>Was ist zu tun?</em></h1>
    <p>Ganz einfach, melde dich über das Formular an. Wir melden uns dann bei dir, sobald es los geht.</p>
  </div>

  <%= form_for @campaign_user, url: url_for do |f| %>
  <%= form_errors_for @campaign_user if @campaign_user %>
  <%= hidden_field_tag :redirect_path, '/kaernten' %>
  <%= f.hidden_field :campaign_title, value: 'kaernten' %>
    <div class="form-block cardBox">
      <%= render 'form', :f => f %>
      <%= submit_tag "Absenden", class: 'btn-primary -mint -large' %>
    </div>
  <% end %>



  <div class="section -fullwidth -fullwidth-welocally">

    <div class="hl-subtext -feature-headline">
      <h1><em>Über die Platform</em> WeLocally</h1>
      <p><strong>Entdecke spannende Events, Workshops und die lokalen Anbieter*innen und Initiativen.</strong>
      <br>
      Lerne andere lokalen Macher*innen kennen, finde Gleichgesinnte für Kooperationen und zur gegenseitigen Unterstützung, teile Räume und Ressourcen, setze deine eigenen Vorhaben mit Rückenwind um!</p>
    </div>

    <%= render 'info_services' %>

  </div>







  <section class="kooperationspartner">

      <div class="hl-subtext">
        <h1>In Kooperation mit</h1>
      </div>

      <p class="kooperation-txt">
        <strong>Die Plattform WeLocally entsteht in Zusammenarbeit mit Griffen, St.Andrä und Völkermarkt.</strong>
        Eine Arbeitsgruppe wurde ins Leben gerufen, um in den letzten Monaten WeLocally gemeinsam zu entwickeln.
        <br><br>
        Das Kernteam hinter WeLocally, das sind Mirjam, Lena und Michi.
        In Wien betreiben wir seit 2016 die gemeinwohlorientierte Plattform <%= link_to 'imGrätzl.at', 'https://www.imgraetzl.at', :target => "blank" %> zur Stärkung der lokalen Akteur*innen.
        Basierend auf imGrätzl bauen wir nun mit WeLocally eine neue Plattform auf, die in Griffen, St.Andrä und Völkermarkt startet.
      </p>

      <div class="sponsorBox">
        <div class="wrp -img">
          <%= link_to(image_tag('campaign_users/kaernten/logo_griffen.png'), 'https://www.griffen.gv.at/', :target => "blank") %>
        </div>
        <div class="wrp">
          <h3>Marktgemeinde Griffen</h3>
          <div class="links">
            <%= link_to 'www.griffen.gv.at', 'https://www.griffen.gv.at/', :target => "blank" %><br>
          </div>
        </div>
        <div class="wrp -img">
          <%= link_to(image_tag('campaign_users/kaernten/logo_standrae.png'), 'https://www.st-andrae.gv.at/', :target => "blank") %>
        </div>
        <div class="wrp">
          <h3>Stadtgemeinde St. Andrä</h3>
          <div class="links">
            <%= link_to 'www.st-andrae.gv.at', 'https://www.st-andrae.gv.at/', :target => "blank" %><br>
          </div>
        </div>
        <div class="wrp -img">
          <%= link_to(image_tag('campaign_users/kaernten/logo_voelkermarkt.png'), 'https://voelkermarkt.gv.at', :target => "blank") %>
        </div>
        <div class="wrp">
          <h3>Stadtgemeinde Völkermarkt</h3>
          <div class="links">
            <%= link_to 'www.voelkermarkt.gv.at', 'https://voelkermarkt.gv.at/', :target => "blank" %><br>
          </div>
        </div>
      </div>
  </section>



</section>
