<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('campaign_users/welocally.jpg')
  )
%>

<section class="campaignUsers info help lp -startpage">

  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1 class="weLocally">Gemeinsam bringen <br>wir mehr zusammen.<br>Sei locally dabei!</h1>
    </div>
  </div>

  <div class="hl-subtext -header-headline">
    <h1>WeLocally startet in Kürze <span>im Mühlviertler Kernland!</span></h1>
    <p>Sei von Anfang an dabei und gestalte WeLocally mit. Damit gibst du WeLocally noch vor dem offiziellen Start den letzten Schliff.</p>
  </div>

  <div class="hl-subtext -form-headline">
    <h1><em>Was ist zu tun?</em></h1>
    <p>Ganz einfach, melde dich über das Formular an. Wir melden uns dann bei dir, sobald es los geht.</p>
  </div>

  <%= form_for @campaign_user, url: url_for do |f| %>
  <%= form_errors_for @campaign_user if @campaign_user %>
  <%= hidden_field_tag :redirect_path, '/muehlviertel' %>
  <%= f.hidden_field :campaign_title, value: 'muehlviertel' %>
    <div class="form-block cardBox">
      <%= render 'form', :f => f %>
      <%= submit_tag "Absenden", class: 'btn-primary -mint -large' %>
    </div>
  <% end %>

  <div class="section -fullwidth -fullwidth-welocally">

    <div class="hl-subtext -feature-headline">
      <h1><em>Über die Platform</em> WeLocally</h1>
      <p><strong>Entdecke spannende Events, Workshops und die lokalen Anbieter*innen und Initiativen.</strong>
      <br>
      Lerne andere lokalen Macher*innen kennen, finde Gleichgesinnte für Kooperationen und zur gegenseitigen Unterstützung, teile Räume und Ressourcen, setze deine eigenen Vorhaben mit Rückenwind um!</p>
    </div>

    <%= render 'info_services' %>

  </div>


  <section class="kooperationspartner">
    <div class="hl-subtext">
      <h1>In Kooperation mit</h1>
    </div>
      <div class="cardBox">
        <div class="wrp -img">
          <%= link_to(image_tag('lp/muehlviertel/logo-mv-kernland.jpg'), 'https://www.facebook.com/leader.muehlviertlerkernland/', :target => "blank") %>
        </div>
        <div class="wrp">
          <h3>Regionalverein „Leader-Region“ Mühlviertler Kernland</h3>
          Ansprechpartnerin: Conny Wernitznig<br>
          Waaggasse 6<br>
          4240 Freistadt<br>
          07942/75111<br>
          conny.wernitznig@leader-kernland.at<br><br>
          <div class="links">
            <%= link_to 'www.kernland.at', 'http://www.kernland.at', :target => "blank" %><br>
            <%= link_to 'www.thinktankregion.at', 'https://www.thinktankregion.at', :target => "blank" %><br>
            <%= link_to 'www.dahoamimmuehlviertel.at', 'https://www.dahoamimmuehlviertel.at', :target => "blank" %><br>
            <%= link_to 'www.facebook.com/leader.muehlviertlerkernland', 'https://www.facebook.com/leader.muehlviertlerkernland', :target => "blank" %><br>
            <%= link_to 'www.facebook.com/groups/supportyourmuehlviertel', 'https://www.facebook.com/groups/supportyourmuehlviertel', :target => "blank" %><br>
          </div>
        </div>
      </div>
  </section>

</section>
