<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('campaign_users/welocally.jpg')
  )
%>

<section class="campaignUsers info help lp -startpage -campaignUsers">


  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1 class="weLocally">Gemeinsam bringen <br>wir mehr zusammen.<br>Sei locally dabei!</h1>
    </div>
  </div>


  <div class="hl-subtext -header">
    <h1>WeLocally startet in Kürze <span>im Mühlviertler Kernland!</span></h1>
    <p>Wir freuen uns schon sehr darauf, euch persönlich kennenzulernen, liebe Macher*innen.</p>
  </div>


  <article class="container -team">
    <div class="aside -img -mentoring">
      <%= link_to(image_tag('lp/team.jpg'), root_path, class: '-feature') %>
    </div>
    <div class="txt">
      <p>
        Wir, das sind Mirjam, Lena und Michi. In Wien betreiben wir seit 2016 die gemeinwohlorientierte Plattform <%= link_to 'imGrätzl.at', 'https://www.imgraetzl.at', :target => "blank" %> zur Stärkung der Selbstständigen, Gründer*innen, Kulturschaffenden, Macher*innen und Vereine.
        <br>
        <strong>Die großartige Nachricht: wir dürfen nun die Plattform zu euch ins Mühlviertler Kernland bringen.</strong>
      </p>
    </div>
  </article>


  <div class="hl-subtext">
    <h1><em>Möchtest du von Anfang an dabei sein?</em></h1>
    <p>Dann trage dich gleich hier ein:</p>
  </div>

  <%= form_for @campaign_user, url: url_for do |f| %>
  <%= form_errors_for @campaign_user if @campaign_user %>
  <%= hidden_field_tag :redirect_path, '/muehlviertel' %>
  <%= f.hidden_field :campaign_title, value: 'muehlviertel' %>
    <div class="form-block cardBox">
      <%= render 'form', :f => f %>
      <%= submit_tag "Absenden", class: 'btn-primary -mint -large' %>
    </div>
  <% end %>



  <div class="section -fullwidth -fullwidth-welocally">

    <div class="hl-subtext">
      <h1><em>Über die Platform</em> WeLocally</h1>
      <p><strong>Entdecke spannende Events, Workshops und die lokalen Anbieter*innen und Initiativen.</strong>
      <br>
      Lerne andere lokalen Macher*innen kennen, finde Gleichgesinnte für Kooperationen und zur gegenseitigen Unterstützung, teile Räume und Ressourcen, setze deine eigenen Vorhaben mit Rückenwind um!</p>
    </div>

    <%= render 'info_services' %>

  </div>


  <div class="hl-subtext -footer-headline">
    <h1>Weg vom Einzelkämpfertum <em>hin zu einem kooperativen WIR</em></h1>
  </div>

  <div class="paperCard -cord1RT -footer">
    <div class="wrp">
      <p>
        Wir sind überzeugt davon, dass so eine Plattform auch im Mühlviertler Kernland eine positive Wirkung erzielen kann.
        Und: Wir glauben an Gemeinschaft und daran, dass man zusammen mehr erreichen kann.
      </p>
      <p>
        <strong>Weg vom Einzelkämpfertum hin zu einem kooperativen WIR, als Lösung für viele Herausforderungen!</strong> Wir denken dabei an den Strukturwandel, Digitalisierung, eine sich verändernde Arbeitswelt, aber auch an die Klimakrise. Unser Motto ist: Laßt uns die Kräfte bündeln!
      </p>
      <p>
        Neben dem Mühlviertler Kernland dockt übrigens noch ein weiteres Gebiet an den neuen Plattform Prototyp an und zwar drei Gemeinden in Kärnten.
        <strong>Last but not least: wenn du jemand kennst, der/die auch Lust auf Mitgestaltung und Vernetzung  hat, dann gerne den Link zur Seite weiterleiten.</strong>
      </p>
    </div>
    <div class="card"></div>
  </div>


  <section class="kooperationspartner">
      <h2>Unser Kooperationspartner</h2>
      <div class="cardBox">
        <div class="wrp -img">
          <%= link_to(image_tag('lp/muehlviertel/logo-mv-kernland.jpg'), 'https://www.facebook.com/leader.muehlviertlerkernland/', :target => "blank") %>
        </div>
        <div class="wrp">
          <h3>Regionalverein „Leader-Region“ Mühlviertler Kernland</h3>
          Ansprechpartnerin: Conny Wernitznig<br>
          Waaggasse 6<br>
          4240 Freistadt<br>
          07942/75111<br>
          conny.wernitznig@leader-kernland.at<br><br>
          <div class="links">
            <%= link_to 'www.kernland.at', 'http://www.kernland.at', :target => "blank" %><br>
            <%= link_to 'www.thinktankregion.at', 'https://www.thinktankregion.at', :target => "blank" %><br>
            <%= link_to 'www.dahoamimmuehlviertel.at', 'https://www.dahoamimmuehlviertel.at', :target => "blank" %><br>
            <%= link_to 'www.facebook.com/leader.muehlviertlerkernland', 'https://www.facebook.com/leader.muehlviertlerkernland', :target => "blank" %><br>
            <%= link_to 'www.facebook.com/groups/supportyourmuehlviertel', 'https://www.facebook.com/groups/supportyourmuehlviertel', :target => "blank" %><br>
          </div>
        </div>
      </div>
  </section>



</section>
