<%= form_for'toolteiler' do |f| %>

<div class="form-block" data-step="4">

  <div class="hl-subtext">
    <h2>Lege den <span>Preis</span> fest.</h2>
    <p>
      Über den Preis, den du für deinen Toolteiler nimmst, entscheidest du selbst.
      Der Mietpreis sollte sich nach Equipment und Ausstattung richten.
      Um mehr Langzeitbuchungen zu erhalten, legen manche Vermieter auch einen Tages- oder Wochenrabatt fest.
    </p>
  </div>

  <div class="input-field">
    <%= label_tag(:Price) do %>
      <%= icon_tag "currency-euro" %>
      <span>Preis / Tag</span>
    <% end %>
    <%= text_field_tag :Price, nil, placeholder: 'Lege deinen gewünschten Tagespreis fest ..' %>
  </div>

  <div class="form-columns">

    <div class="input-select">
      <%= label_tag(:Price) do %>
        <%= icon_tag "sale-label" %>
        <span>Tagesrabatt</span>
      <% end %>
      <select>
        <option value="">% Rabatt ab 2 Tagen</option>
        <option value="1">5 %</option>
        <option value="2">10 %</option>
        <option value="2">15 %</option>
        <option value="2">20 %</option>
        <option value="2">25 %</option>
        <option value="2">30 %</option>
        <option value="2">40 %</option>
        <option value="2">50 %</option>
      </select>
    </div>

    <div class="input-select">
      <%= label_tag(:Price) do %>
        <%= icon_tag "sale-label" %>
        <span>Wochenrabatt</span>
      <% end %>
      <select>
        <option value="">% Rabatt ab 1 Woche</option>
        <option value="1">5 %</option>
        <option value="2">10 %</option>
        <option value="2">15 %</option>
        <option value="2">20 %</option>
        <option value="2">25 %</option>
        <option value="2">30 %</option>
        <option value="2">40 %</option>
        <option value="2">50 %</option>
      </select>    </div>

  </div>

  <div class="hl-subtext">
    <h2>Dein <span>Auszahlungskonto</span></h2>
    <p>
      Auf deine Auszahlungskonto überweisen wir dir deine Mieteinnahmen. Du musst es daher spätestens hinzufügen, wenn du eine Miet-Anfrage als Vermieter akzeptierst.
    </p>
  </div>

  <div class="form-columns">
    <div class="input-field">
      <%= label_tag(:Firstname) do %>
        <%= icon_tag "user-avatar" %>
        <span>Vorname</span>
      <% end %>
      <%= text_field_tag :Firstname, current_user ? current_user.first_name : nil, placeholder: 'Vorname' %>
    </div>

    <div class="input-field">
      <%= label_tag(:Lastname) do %>
        <%= icon_tag "user-avatar" %>
        <span>Nachname</span>
      <% end %>
      <%= text_field_tag :Lastname, current_user ? current_user.last_name : nil, placeholder: 'Nachname' %>
    </div>
  </div>

  <div class="input-field">
    <%= label_tag(:IBAN) do %>
      <%= icon_tag "profile-vcard" %>
      <span>Kontoverbindung</span>
    <% end %>
    <%= text_field_tag :IBAN, nil, placeholder: 'IBAN' %>
  </div>

  <%= f.button 'Toolteiler erstellen', data: { disable_with: 'speichert...' }, class: 'btn-primary' %>

</div>
<% end %>
