<% meta(
    title: t('.title', title: @energy_offer.title[0..55].gsub(/\s\w+\s*$/,'...')),
    description: t('.description', type: t("activerecord.attributes.energy.energy_types.full.#{@energy_offer.energy_type}"), desc: @energy_offer.description[0..160].gsub(/\n/, " ")),
    robots: 'index, follow',
    og_title: t('.title', title: @energy_offer.title[0..80].gsub(/\s\w+\s*$/,'...')),
    og_description: t('.description', type: t("activerecord.attributes.energy.energy_types.full.#{@energy_offer.energy_type}"), desc: @energy_offer.description[0..250].gsub(/\n/, " ")),
    og_image: @energy_offer.cover_photo_url(:header, :large) || image_url("meta/#{current_region.host_id}/og_logo.png"),
  )
%>

<section class="offerDetail -energyOffer">
  <div class="imgHeader -line">
    <%= cover_header_image(@energy_offer, class: 'titleImg', fetchpriority: 'high') %>

    <div class="headContent">
      <div class="introtxt">
        <h1>Biete Energiegemeinschaft<br>zum andocken</h1>
      </div>
      <div class="category-tags">
        <ul class="tag-list -mint">
          <li><%= link_to t("activerecord.attributes.energy.energy_types.full.#{@energy_offer.energy_type}"), region_energies_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <%= render 'energy_offers/show/sidebar' %>

  <div class="mainContent">

    <% if @energy_offer.disabled? && current_user == @energy_offer.user %>
      <div class="inactive-msg">
          Dein Energieteiler ist aktuell auf inaktiv gesetzt. Energieteiler jetzt
          <%= link_to 'wieder aktivieren', [:update_status, @energy_offer, status: "enabled"], method: :patch %>.
      </div>
    <% end %>

    <div class="introtxt">
      <h3><%= @energy_offer.title %></h3>
    </div>
    <div class="bbcode"><%= @energy_offer.description.bbcode_to_html.html_safe %></div>

    <section>
      <div class="bigicontext-element">
        <%= icon_tag "search" %>
        <div class="txt">Wir sind noch auf der Suche nach ..</div>
      </div>
      <div class="cardBox factBox">
      <% @energy_offer.energy_categories.main_categories.sort_by(&:position).each_with_index do |category, i| %>
        <div class="content-block -toggable <%= i.zero? ? '-open' : '' %>">
          <h3 class="ico"><%= icon_tag "flash" %><span><%= category.label? ? t("activerecord.attributes.energy_offer.types.#{category.label}") : category.title %></span></h3>
          <div class="-toggle-content">
            <% if category.label? %>
              <%= render "energy_offers/show/sub_type_#{category.label}" rescue nil %>
            <% elsif category.group? %>
              <%= render "energy_offers/show/sub_type_#{category.group}" rescue nil %>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    </section>


     <div class="entryImgUploads -grid">
      <%= link_to image_tag(@energy_offer.avatar_url(:thumb)), @energy_offer.avatar_url, data: { jbox_image: "maingallery" } if @energy_offer.avatar_data? %>
      <%= link_to image_tag(@energy_offer.cover_photo_url(:thumb)), @energy_offer.cover_photo_url, data: { jbox_image: "maingallery" } if @energy_offer.cover_photo_data? %>
      <% @energy_offer.images.each do |image| %>
        <%= link_to gallery_thumb_image(image), image.file_url, data: { jbox_image: "maingallery" } %>
      <% end %>
    </div>

    <section>
     <div class="bigicontext-element">
       <%= icon_tag "map-location" %>
       <div class="txt">Wo kann man sich andocken</div>
     </div>
     <div class="category-tags">
       <ul class="tag-list">
         <% compact_graetzl_list(@energy_offer.graetzls).each do |item| %>
           <li><%= item %></li>
         <% end %>
       </ul>
     </div>
   </section>

   <section>
     <div class="bigicontext-element">
       <%= icon_tag "handshake" %>
       <div class="txt">Ziele unserer Energiegemeinschaft</div>
     </div>
     <div class="bbcode"><%= @energy_offer.project_goals.bbcode_to_html.html_safe %></div>
   </section>

   <section>
     <div class="bigicontext-element">
       <%= icon_tag "info-announcement" %>
       <div class="txt">Besondere Ausrichtung</div>
     </div>
     <div class="bbcode"><%= @energy_offer.special_orientation.bbcode_to_html.html_safe %></div>
   </section>

  <section>
     <div class="bigicontext-element">
       <%= icon_tag "profile-vcard" %>
       <div class="txt">Kontakt-Infos</div>
     </div>

     <% if current_user %>
       <!-- Contact Block -->
       <div class="contact-login-msg -show">
         <!-- Show Contact Link -->
         <a href="#" id="show-contact-link" data-label="Energieteiler">Kontaktinformationen einblenden</a>
         <!-- /Show Contact Link -->

         <div class="contact-infos" id="contact-infos-block">
           <% if @energy_offer.contact_company.present? %>
             <div class="icontxt">
               <%= icon_tag "organization" %>
               <div class="txt"><%= @energy_offer.contact_company %></div>
             </div>
           <% end %>

           <% if @energy_offer.contact_name.present? %>
             <div class="icontxt">
               <%= icon_tag "user-avatar" %>
               <div class="txt"><%= @energy_offer.contact_name %></div>
             </div>
           <% end %>

           <% if @energy_offer.contact_phone.present? %>
             <div class="icontxt">
               <%= icon_tag "phone" %>
               <div class="txt"><%= @energy_offer.contact_phone %></div>
             </div>
           <% end %>

           <% if @energy_offer.contact_email.present? %>
             <%= mail_to @energy_offer.contact_email do %>
               <div class="icontxt">
                 <%= icon_tag "at-symbol" %>
                 <div class="txt"><%= @energy_offer.contact_email %></div>
               </div>
             <% end %>
           <% end %>

           <% if @energy_offer.contact_website.present? %>
             <%= link_to @energy_offer.contact_website, class: 'icontxt', target: '_blank' do %>
               <%= icon_tag "globe" %>
               <%= @energy_offer.contact_website.sub(/^https?\:\/\//,'') %>
             <% end %>
           <% end %>
         </div>
       </div>
       <!-- /Contact Block -->
       <% if user_signed_in? && current_user == @energy_offer.user || user_signed_in? && current_user.admin? %>
         <div id="show-contact-block"></div>
       <% end %>

     <% else %>
       <div class="contact-login-msg">
           Du musst eingeloggt sein, um die vollständigen Kontaktinformationen zu sehen.<br />
           <%= link_to 'Zum Login', new_user_session_path(redirect: request.original_url, origin: request.path), rel: 'nofollow' %> |
           <%= link_to 'Zur Registrierung', new_registration_path(origin: request.path), rel: 'nofollow' %>
       </div>
     <% end %>

   </section>

   <section>
     <div class="stream">
       <div class="bigicontext-element">
         <%= icon_tag "layout-text" %>
         <div class="txt">Frage / Kommentar an die Energiegemeinschaft</div>
       </div>
       <%= render 'comments/form', commentable: @energy_offer %>
       <%= render partial: 'comments/stream_comment', collection: @comments, as: 'comment' %>
     </div>
   </section>

  </div>

</section>