<div class="flex-table row toggable" role="rowgroup">
  <div class="flex-row xxlarge user toggle" role="cell">

    <% if crowd_pledge.user&.username %>
      <div><%= avatar_image_with_tooltip crowd_pledge.user, size: :thumb, class: 'img-round' %></div>
      <div class="name">
        <%= link_to crowd_pledge.contact_name, crowd_pledge.user %><br>
        <small><em><%= I18n.localize(crowd_pledge.created_at, format:'%a, %d. %B %Y, %H:%M') %></em></small>
      </div>
    <% else %>
      <div><%= avatar_image crowd_pledge.user, size: :thumb, class: 'img-round' %></div>
      <div class="name">
        <%= crowd_pledge.contact_name %><br>
        <small><em><%= I18n.localize(crowd_pledge.created_at, format:'%a, %d. %B %Y, %H:%M') %></em></small>
      </div>
    <% end %>

  </div>
  <div class="flex-row xxxlarge toggle" role="cell">
    <div class="ellipsis">
      <em><%= "#{crowd_pledge.crowd_donation&.title}" %></em>
    </div>
  </div>
  <div class="flex-row full toggle-cell" role="cell">
    <div>
      <strong>Kontaktdaten:</strong>
      <p><%= mail_to crowd_pledge.email %></p>
      <p><%= crowd_pledge.contact_name %></p>
    </div>
    <div>
      <% if crowd_pledge.answer.present? %>
        <strong>Antwort:</strong>
        <p><%= crowd_pledge.answer %></p>
      <% end %>
    </div>
  </div>
</div>
