<div class='tabs-ctrl -plain'>
  <ul class="tabs-nav">
    <li><a href="#tab-supporters">UnterstützerInnen<small><%= @crowd_pledges.complete.count %></small></a></li>
    <li><a href="#tab-material">Materialspenden<small><%= @crowd_donation_pledges.material.count %></small></a></li>
    <li><a href="#tab-time">Zeitspenden<small><%= @crowd_donation_pledges.assistance.count %></small></a></li>
    <li><a href="#tab-room">Raumspenden<small><%= @crowd_donation_pledges.room.count %></small></a></li>
  </ul>

  <div id='tab-supporters'>
    <div class="table-container -light" role="table">
      <div class="flex-table header" role="rowgroup">
        <div class="flex-row xxlarge first" role="columnheader">UnterstützerInnen</div>
        <div class="flex-row medium" role="columnheader">Gesamt Unterstützung</div>
        <div class="flex-row medium" role="columnheader">Freie Unterstützung</div>
        <div class="flex-row xxlarge" role="columnheader">Dankeschön</div>
      </div>
      <%= render partial: 'crowd_campaigns/crowd_pledges/crowd_pledge', collection: @crowd_pledges, as: 'crowd_pledge' %>
      <div class="flex-table header" role="rowgroup">
        <div class="flex-row xxlarge first" role="columnheader"></div>
        <div class="flex-row medium" role="columnheader"><h3><%= number_to_currency(@crowd_campaign.crowd_pledges_sum, unit: "€") %></h3></div>
        <div class="flex-row medium" role="columnheader"></div>
        <div class="flex-row xxlarge" role="columnheader"></div>
      </div>
    </div>
  </div>

  <div id='tab-material'>
    <div class="table-container -light" role="table">
      <div class="flex-table header" role="rowgroup">
        <div class="flex-row xxlarge first" role="columnheader">UnterstützerInnen</div>
        <div class="flex-row xxxlarge" role="columnheader">Materialspende</div>
      </div>
      <%= render partial: 'crowd_campaigns/crowd_pledges/crowd_donation_pledge', collection: @crowd_donation_pledges.material, as: 'crowd_pledge' %>
    </div>
  </div>

  <div id='tab-time'>
    <div class="table-container -light" role="table">
      <div class="flex-table header" role="rowgroup">
        <div class="flex-row xxlarge first" role="columnheader">UnterstützerInnen</div>
        <div class="flex-row xxxlarge" role="columnheader">Zeitspende</div>
      </div>
      <%= render partial: 'crowd_campaigns/crowd_pledges/crowd_donation_pledge', collection: @crowd_donation_pledges.assistance, as: 'crowd_pledge' %>
    </div>
  </div>

  <div id='tab-room'>
    <div class="table-container -light" role="table">
      <div class="flex-table header" role="rowgroup">
        <div class="flex-row xxlarge first" role="columnheader">UnterstützerInnen</div>
        <div class="flex-row xxxlarge" role="columnheader">Raumspende</div>
      </div>
      <%= render partial: 'crowd_campaigns/crowd_pledges/crowd_donation_pledge', collection: @crowd_donation_pledges.room, as: 'crowd_pledge' %>
    </div>
  </div>
</div>
