<%= form_for Comment.new(commentable: comment), html: { class: 'entryCommentForm', remote: true, data: { behavior: "comment-form-#{comment.id}" } } do |f| %>
  <%= f.hidden_field :commentable_id %>
  <%= f.hidden_field :commentable_type %>
  <label>
    <%= avatar_image current_user, size: :small, class: 'avatar img-round' %>
    <%= f.text_area :content, placeholder: ' Kommentieren' %>
  </label>
  <div class="hideBlock">
    <%= f.button 'Antwort senden', data: { disable_with: 'sendet...' } %>
  </div>
<% end %>
