<% @next_slot = crowd_boost.next_slot(current_region) %>

<div class="cardBox -crowd_boost -open <%= @next_slot ? "-active" : "" %>" data-behavior="masonry-card" data-card-id="crowd_boost-<%= crowd_boost.id %>">
  
  <div class="cardBoxHeader">
    <%= link_to crowd_boost do %>
      <div class="coverImgWrapper">
        <%= avatar_image(crowd_boost, class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= image_tag 'svg/icon-booster.svg', class:'icon' %>
    </div>
  </div>

  <div class="cardBoxContent">

    <h3>Reiche jetzt dein Vorhaben für den <%= crowd_boost.title %> ein!</h3>
    <p>Falls du unsicher bist, ob der <%= crowd_boost.title %> etwas für dich ist, ruf kurz durch, dann reden wir über dein Vorhaben: 0699 / 150 28 277 oder schreib uns an: <%= mail_to t("region.#{current_region.id}.contact_email") %></p>

    <% if @next_slot && !local_assigns[:hide_facts].present? %>
      <div class="facts icontxt -mint">
        <%= icon_tag "time-clock" %>
        Einreichfrist: <%= I18n.localize(@next_slot.ends_at, format:'%d. %b %Y') %>
      </div>
      <% if @next_slot.boost_amount? %>
        <div class="facts icontxt -rosa">
          <%= icon_tag "rocket" %>
          <%= number_to_currency(@next_slot.boost_amount.to_i, unit: "€") %> Boost für dein Projekt
        </div>
      <% elsif @next_slot.boost_percentage? %>
        <div class="facts icontxt -rosa">
          <%= icon_tag "rocket" %>
          Bis zu <%= @next_slot.boost_percentage.to_i %>% Boost für dein Projekt
        </div>
      <% end %>
    <% end %>

    <%= link_to 'Mehr Infos zum Crowdfunding', start_crowd_campaigns_path, class: 'btn-secondary -mint' %>
    <%= link_to 'Kampagne starten & einreichen', new_crowd_campaign_path, class: 'btn-primary -mint -shadow' %>

  </div>
</div>