<% meta(
    title: t('.title', title: "#{@crowd_boost.title} - 2.250 € Crowdfunding-Zuschuss für Raumvorhaben in Graz! - Jetzt einreichen!"),
    description: t('.description', desc: "Der ViertelFonds ist ein Fördertopf für Raumvorhaben in Graz, die durch Crowdfunding finanziert werden sollen. Pro erfolgreich abgeschlossenem Crowdfunding-Projekt kann ein Zuschuss von 2.250 € vergeben werden. Die Einreichung ist bis zum 30.11.2025 möglich."),
    robots: 'index, follow',
    og_title: t('.title', title: "#{@crowd_boost.title} - 2.250 € Crowdfunding-Zuschuss für Raumvorhaben in Graz! - Jetzt einreichen!"),
    og_description: t('.description', desc: "Der ViertelFonds ist ein Fördertopf für Raumvorhaben in Graz, die durch Crowdfunding finanziert werden sollen. Pro erfolgreich abgeschlossenem Crowdfunding-Projekt kann ein Zuschuss von 2.250 € vergeben werden. Die Einreichung ist bis zum 30.11.2025 möglich."),
    og_image: image_url('meta/crowd_boost.jpg')
  )
%>

<section class="info -boost_call">
  <div class="imgHeader -fullwidth"></div>
</section>

<section class="crowd_boost boost_call -graz">

  <div class="introcontainer">
    <div class="introtxt">
      <div class="hl-subtext">
        <h1><em><%= @crowd_boost.title %></em></h1>
        <p><strong>Der ViertelFonds - Setze dein Raumvorhaben via Crowdfunding und viel Rückenwind um!</strong></p>
      </div>
      <p>Planst du ein Crowdfunding, um dein Raumvorhaben zu verwirklichen? Dann reiche ein und hol dir <strong>2.250 € extra Zuschuss</strong> für dein Raumvorhaben.</p>
      <p>Sobald dein Crowdfunding 30 % des Mindestziels erreicht und 30 Unterstützer*innen gewonnen hat, wird der Zuschuss von 2.250 € direkt in deinem Crowdfunding ausgeschüttet. <strong>Die Einreichung ist bis zum 30.11.2025 möglich.</strong></p>
      <p>Das bekommst du zusätzlich:</p>
      <ul>
        <li><strong>Begleitung:</strong> Wir bereiten mit dir deine Kampagne vor.</li>
        <li><strong>Sichtbarkeit:</strong> Wir machen dein Projekt über unsere Kanäle bekannt.</li>
        <li><strong>Abzeichen:</strong> Dein Projekt wird als „Unterstützenswertes Projekt“ hervorgehoben.</li>
      </ul>
      <p>Studien zeigen, dass solche Matchfunding-Mechaniken mehr Unterstützende anziehen und dass dadurch das Mindestziel schneller erreicht wird. In der neuen Runde wurde der ViertelFonds durch die Unterstützung der Volksbank Steiermark AG gefüllt.</p>
    </div>
    <div class="introSide">

      <%= render 'crowd_boosts/crowd_boost_info', crowd_boost: @crowd_boost, crowd_boost_page: true %>
      <%#= image_tag'info/crowd2raum/graz-call.png', class: 'map-img' %>
      <div class="logo-side">
        <a href="https://www.graz.at/cms/beitrag/10068425/7769305/bezirksvertretung_jakomini.html" target="_blank">
          <%= image_tag 'logo-graz.png', width:363, height:100 %>
        </a>
        <p class="side-txt">In der ersten Runde in Kooperation mit dem Bezirksrat Jakomini</p>
      </div>

      <div class="logo-side">
        <a href="https://www.volksbank-stmk.at" target="_blank">
          <%= image_tag 'logo-volksbank-steiermark.png', width:709, height:200 %>
        </a>
        <p class="side-txt">Die zweite Runde ermöglicht durch die Volksbank Steiermark AG</p>
      </div>

    </div>
  </div>

  <div class="content-wide">
    <div class="wrp-inner">
      <div class="hl-subtext">
        <h1>Die neue Runde ist gestartet!</h1>
        <p>Bis zum 30. November 2025 könnt ihr eure Raumvorhaben beim ViertelFonds einreichen. <br>Mach mit, so funktionierts:</p>
      </div>
      <div class="content-wide-text">

        <!--
        <ul class="list-num">
          <li>Erstelle <strong>deinen Account</strong> auf WeLocally - <strong><%= link_to 'Hier gehts zur Registrierung.', new_registration_path, target: '_blank' %></strong></li>
          <li>Erstelle anschließend eingeloggt eine neue Crowdfunding Kampagne und wähle innerhalb des Formulars deine <strong>Teilnahme am "Viertelfonds"</strong> aus. Beschreibe dein Vorhaben und fülle alle Kampagnenfelder bis zur letzten Seite vollständig aus und schicke deine Kampagne zur Freigabe ab. <strong><%= link_to 'Hier gehts zum Kampagnen-Start.', start_crowd_campaigns_path %></strong></li>
          <li><strong>Wir melden uns zeitnah</strong> und laden euch zu einer individuellen Crowdfunding-Beratung ein, damit euer Projekt die bestmöglichen Chancen auf ein erfolgreiches Crowdfunding erhält.</li>
        </ul>
        <% if current_user %>
          <%= link_to "Los geht's - Kampagne starten", start_crowd_campaigns_path, class: 'btn-primary -large -rose -shadow' %>
        <% else %>
          <%= link_to "Los geht's - Zur Registrierung", new_registration_path, class: 'btn-primary -large -rose -shadow' %>
        <% end %>
        -->

        <ul class="list-num">
          <li><strong>Erzähl uns in 1–2 Sätzen von deinem Vorhaben</strong> und fülle dazu bitte das anschließende Formular aus.</li>
          <li><strong>Wir melden uns zeitnah</strong> und laden euch zu einer individuellen Crowdfunding-Beratung ein, damit euer Projekt die bestmöglichen Chancen auf ein erfolgreiches Crowdfunding erhält.</li>
        </ul>

        <%= form_for @contact_list_entry, url: url_for do |f| %>
          <%= form_errors_for @contact_list_entry if @contact_list_entry %>
          <%= hidden_field_tag :redirect_path, '/leerstand' %>
          <%= hidden_field_tag :fallback_view, 'crowd_boosts/call_graz' %>

          <div class="form-block cardBox">
            <div class="input-field">
              <%= f.label :name do %>
                <%= icon_tag "user-avatar" %>
                <span>Name</span>
              <% end %>
              <%= f.text_field :name, placeholder: 'Vorname Nachname', required: true %>
            </div>
            <div class="input-field">
              <%= f.label :email do %>
                <%= icon_tag "at-symbol" %>
                <span>E-Mail</span>
              <% end %>
              <%= f.text_field :email, placeholder: 'E-Mail Adresse', required: true %>
            </div>
            <div class="input-textarea">
              <%= f.label :message do %>
                <%= icon_tag "layout-document" %>
                <span>Dein Vohaben</span>
              <% end %>
              <%= f.text_area :message, placeholder: 'Was ist deine Tätigkeit und wofür benötigst du Raum? Schreib uns 2-3 Sätze ...', required: true %>
            </div>
            <%= submit_tag "Mein Vorhaben absenden", class: 'btn-primary -rose -large -shadow' %>
            <p class="hint">
              Wir verwenden die E-Mail-Adresse ausschließlich zur Vorbereitung der Fördereinreichung. Deine E-Mail-Adresse wird nicht an Dritte weitergegeben und ausschließlich im Rahmen dieses Prozesses genutzt.
            </p>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <div class="toggle-container">
    <div class="content-block -toggable">
      <h3>So funktioniert der ViertelFonds</h3>
      <div class="-toggle-content">

        <p>Wir sichten alle Einreichungen. Passt dein Vorhaben grundsätzlich zu den Zielen, melden wir uns für ein kurzes Erstgespräch. Direkt danach erfährst du, ob dein Projekt qualifiziert ist und in die Vorbereitung für den Start geht. Gesucht werden Projekte zur Aktivierung von Räumen in Graz, zum Beispiel Leerstand nutzbar machen, oder zur Sicherung bestehender Räume, zum Beispiel durch Renovierung, Ausstattung. Alle Raumarten sind möglich, außer Wohnraum. Kampagnen-Mindestziel ab 6.000 €</p>
        <p>Nach der Qualifizierungszusage könnt ihr eure Crowdfunding-Kampagne starten.</p>
        <p><strong>Die ersten zwei Projekte, die ...</strong></p>
        <ul class="arrow">
          <li>30 % des Mindestziels erreichen,</li>
          <li>mindestens 30 Unterstützer*innen gewinnen und</li>
          <li>ihr Crowdfunding erfolgreich abschließen,</li>
        </ul>
        <p>... erhalten einen Zuschuss von 2.250 € – nach dem First-Come-First-Serve-Prinzip.</p>
        <p><strong>Schnell sein lohnt sich! Der Topf ist in der neuen Runde mit 4.500 € begrenzt.</strong></p>
        <p>Alle qualifizierten ViertelFonds-Projekte erhalten auf ihrer Kampagnenseite außerdem das <strong>Badge „Gewinn für die Nachbarschaft“</strong> – damit sofort erkennbar ist, welches Potenzial in eurer Idee steckt.</p>
      </div>
    </div>
    <div class="content-block -toggable">
      <h3>Hintergrund</h3>
      <div class="-toggle-content">
        <p>Der ViertelFonds wurde im Rahmen des Projekts <strong>crowd2raum von WeLocally.at und dem StadtLABOR</strong> ins Leben gerufen, um gezielt die Finanzierungsbarrieren für lokale Macher*innen bei der Anmietung von Räumen zu senken und Leerstände in Graz mit neuem Leben zu füllen.</p>
        <p>Seither wächst der Fonds kontinuierlich – getragen von engagierten Kooperationspartner*innen wie der <strong>Bezirksvorstehung Jakomini und der Volksbank Steiermark AG.</strong></p>
        <p>Ein Teil des Fonds wird zudem direkt von der Community unterstützt: Über die Funktion <strong>„Aufrunden bitte“</strong> können Unterstützerinnen bei jeder Crowdfunding-Kampagne auf WeLocally in Graz freiwillig einen kleinen Beitrag leisten und so dazu beitragen, dass Leerstände durch lokale Macher*innen aktiviert werden.</p>
      </div>
    </div>
  </div>

  <!--
  <div id="tabs-container" class="content-wide -grey">
    <div class="hl-subtext">
      <h1>Unterstütze Projekte</h1>
    </div>
    <div id="tab-campaigns" class="wrp-inner card-grid-container">
      <%= form_tag campaigns_crowd_boost_path(@crowd_boost), method: :get, remote: true, class: 'cards-filter' do %><% end %>
      <div class="card-grid" data-behavior="campaigns-card-container"></div>
    </div>
  </div>
  -->

  <div class="content-wide -end logo-footer">
    <div class="wrp-inner">
      <div class="logos">
        <a href="https://www.welocally.at/home" target="_blank">
          <%= image_tag("regions/logo.svg", class: 'logo-desktop', alt:'logo', width:120, height:84) %>
        </a>
        <a href="https://stadtlaborgraz.at/de/" target="_blank">
          <%= image_tag 'logo-stadtlabor.png', width:76, height:65 %>
        </a>
        <a href="https://wieneuplus.wien.gv.at/" target="_blank">
          <%= image_tag 'logo-wieneuplus.png', width:190, height:100 %>
        </a>
      </div>
      <p>
        Der „ViertelFonds“ wird im Rahmen des Forschungsprojektes „crowd2raum“ eingerichtet zur gezielten Leerstandsaktivierung und Schaffung von Raumnutzungen für lokale Macher*innen.
        Projektkonsortium: <a href="https://www.welocally.at/home" target="_blank">WeLocally</a> / morgenjungs GmbH (Konsortialführer); <a href="https://stadtlaborgraz.at/de/" target="_blank">StadtLABOR</a> - Innovationen für urbane Lebensqualität GmbH; <a href="https://wieneuplus.wien.gv.at/" target="_blank">Stadt Wien</a> – MA25 Technische Stadterneuerung
      </p>
    </div>
    <div class="wrp-inner">
      <div class="logos">
        <a href="https://smartcities.at/projects/stadtkern-plus/" target="_blank">
          <%= image_tag 'logo-klimafonds.png', width:76, height:65 %>
        </a>
        <a href="https://www.bmk.gv.at" target="_blank">
          <%= image_tag 'logo-bmk.png', width:556, height:200 %>
        </a>
      </div>
      <p>
        Fördergeber: Klima- und Energiefonds & BMK im Rahmen der Sondierung für die Ausschreibung „Technologien und Innovationen für die Klimaneutrale Stadt 2023“ 
      </p>
    </div>
  </div>

</section>