<section class="info -boost_call">
  <div class="imgHeader -fullwidth"></div>
</section>

<section class="crowd_boost boost_call">

  <div class="introcontainer">
    <div class="introtxt">
      <div class="hl-subtext">
        <h1><em><%= @crowd_boost.title %></em></h1>
        <p><strong>Leerstand beleben und Räumen eine neue Zukunft geben!</strong></p>
      </div>
      <p>Mehr Räume schaffen oder erhalten für lokale Macher*innen und lebendige Grätzl in Wien. Auf der einen Seite gibt es einen großen Bedarf an Räumen, auf der anderen Seite Leerstand. Zudem steigen die Mieten und Energiekosten, weshalb lokale Macher*innen ihre Räume aufgeben müssen.</p>
      <p><strong>Genau darum geht es beim RaumBooster – Der RaumBooster ist ein neues Format, das euch unterstützt, eure Raumvorhaben via Crowdfunding noch leichter umzusetzen!</strong></p>
      <p>Zunächst füllen wir den RaumBooster Topf. Dann startet im Dezember der erste Call und wir laden euch ein, eure Raumvorhaben einzureichen. Alle, die sich für den RaumBooster qualifizieren und ihr Crowdfunding starten, bekommen einen zusätzlichen <strong>RaumBooster von 500 bis 1.000 € oben drauf</strong>, sobald das Crowdfunding 30% des Mindestziels erreicht hat.</p>
    </div>
    <div class="introSide">
      <%= render 'crowd_boosts/crowd_boost_call', crowd_boost: @crowd_boost %>
    </div>
  </div>


  <div class="content-wide">
    <div class="wrp-inner">
      <div class="hl-subtext">
        <h1><em>Hot August</em> - Alles muss raus :)</h1>
        <p>Gemeinsam füllen wir ab August den RaumBooster, um mehr Raum zu schaffen – von lokalen Macher*innen für lokale Macher*innen. Wählt einfach aus den verschiedenen Möglichkeiten aus!</p>
      </div>
      
      <div class="cardBoxCollection -quart">

        <div class="paperCard -illuteaser -zuckerl -cord1RT">
          <div class="wrp">
            <h3>Hol dir ein <span>Zuckerl</span> oder pushe deinen <span>Raumteiler</span> nach vorne.</h3>
            <p>Alle Einnahmen im August landen zu 100% im RaumBooster-Topf.</p>
            <%= link_to 'Zuckerl vergünstigt im August buchen', new_zuckerl_path, class: 'btn-primary -mint -shadow' %>
            <%= link_to 'Raumteiler pushen', new_room_booster_path, class: 'btn-primary -mint -shadow' %>
          </div>
          <div class="card"></div>
        </div>

        <div class="paperCard -illuteaser -location -cord1RT">
          <div class="wrp">
            <h3>Werde imGrätzl-<span>Fördermitglied</span>.</h3>
            <p>Ein Teil deiner Mitgliedschaftsgebühren fließt in den RaumBooster-Topf, der andere Teil ermöglicht uns den Betrieb von imGrätzl.</p>
            <%= link_to 'Mitglied werden', subscription_plans_path, class: 'btn-primary -mint -shadow' %>
          </div>
          <div class="card"></div>
        </div>

        <div class="paperCard -illuteaser -good-morning-date -cord1RT">
          <div class="wrp">
            <h3>Komm zu einem <span>Good Morning Date</span> im Herbst!</h3>
            <p>Wenn du kannst, lege dort 5 € in den RaumBooster Hut, den die Gastgeber*innen beim Treffen aufstellen – als Dankeschön für die Organisation.</p>
            <%= link_to 'Termin Übersicht', good_morning_dates_path, class: 'btn-primary -mint -shadow' %>
          </div>
          <div class="card"></div>
        </div>

        <div class="paperCard -illuteaser -favorites -cord1RT">
          <div class="wrp">
            <h3><span>Unterstütze direkt</span> den RaumBooster-Topf.</h3>
            <p>Du kannst natürlich auch direkt einen Betrag deiner Wahl in den Topf einzahlen, jeder Beitrag schafft neuen Raum!</p>
            <%= link_to 'Direkt einzahlen', new_crowd_boost_crowd_boost_charge_path(@crowd_boost), class: 'btn-primary -mint -shadow' %>
          </div>
          <div class="card"></div>
        </div>

      </div>
    </div>
  </div>


  <div class="toggle-container">
    <div class="content-block -toggable">
      <h3>Weitere Vorteile</h3>
      <div class="-toggle-content">
        <p>Außerdem erhalten alle qualifizierten Projekte eine persönliche Crowdfunding-Begleitung, maximale Sichtbarkeit auf imGrätzl und das Abzeichen <strong>"Besonders unterstützenswertes Vorhaben"</strong> auf ihrer Crowdfunding-Seite.</p>  
        <p>Untersuchungen aus den Niederlanden und England zeigen, dass Crowdfunding-Projekte mit zusätzlicher Fördertopf-Unterstützung ihre <strong>Erfolgsaussichten um bis zu 90% steigern</strong> können. Solche Matchfunding-Mechanismen bewirken zudem höhere Beträge und ziehen mehr Unterstützende an. Eure Raumvorhaben solchen von diesen positiven Effekten profitieren.</p>
      </div>
    </div>
    <div class="content-block -toggable">
      <h3>Wie geht es weiter</h3>
      <div class="-toggle-content">
        <p>Der erste RaumBooster Call ist vom 15. Dezember 2024 bis 15. Januar 2025 geplant, und wir laden euch ein, eure Raumvorhaben einzureichen. Bis dahin möchten wir ein paar tausend Euro im Topf haben, um mehrere Raumprojekte gut anschieben zu können!</p>
      </div>
    </div>
    <div class="content-block -toggable">
      <h3>Hintergrund RaumBooster</h3>
      <div class="-toggle-content">
        <p><strong>Räume zu aktivieren und zu halten wird immer kostspieliger</strong> - Die lokalen Macher*innen in Wien benötigen aber leistbare Räume für ihre Ideen, Angebote und Projekte.</p>  
        <p><strong>Bei einer Raumaktivierung kommen schnell ein paar tausend Euro zusammen:</strong> Provisionen, Renovierung, Ausstattung. Bestehende Räume möchten ebenfalls gehalten werden, diese müssen zukunftsfit gemacht werden z.B. mit neuen Organisationsmodellen oder anderen Anpassungen. Leerstandsförderungen sind großartig, stehen aber nicht allen offen und müssen ausfinanziert werden. Kredite sind schwer zu bekommen.</p>
        <p>Eine <a href="https://blog.imgraetzl.at/allgemein/raumaktivierung-herausforderungen/" target="_blank">Umfrage im Jahr 2022 unter 599 Macher*innen</a> in Wien zeigte deutlich, dass eine Raumaktivierung in den meisten Fällen an den finanziellen Mitteln scheitert, obwohl es einen großen Raumbedarf gibt.</p>
        <p><strong>Leerstand beleben und Räumen eine neue Zukunft geben – genau darum geht es beim RaumBooster.</strong></p>
        <p>Der RaumBooster ist ein neues Format, das euch unterstützt, eure Raumvorhaben via Crowdfunding noch leichter umzusetzen. Als erstes Matchfunding-Programm zur Leerstandsaktivierung im DACH-Raum, das Crowdfunding mit einem Fördertopf kombiniert, baut der RaumBooster finanzielle Hürden ab und erleichtert das Crowdfunding erheblich. Damit möchten wir auch all diejenigen ermutigen, die sich bisher noch nicht an Crowdfunding zur Umsetzung ihrer Raumvorhaben herangewagt haben.</p>
        <p>Unsere Stadtteile brauchen eure Angebote der Alltagsökonomie, denn ohne euch und eure Angebote veröden die Grätzln, das Miteinander schwindet und die Lebensqualität sinkt. Deshalb: Statt Verdrängung – eine liebevolle Rückeroberung von Räumen!</p>
      </div>
    </div>
  </div>


  <div id="tabs-container" class="content-wide -grey">
    <div class="hl-subtext">
      <h1>Ihr ermöglicht den RaumBooster - Danke!</h1>
      <p>Tausend Dank an euch, dass ihr den RaumBooster möglich macht!</p>
    </div>
    <div id="tab-charges" class="wrp-inner charges">
      <%= form_tag charges_crowd_boost_path(@crowd_boost), method: :get, remote: true, class: 'form-charges' do %><% end %>
      <div class="charges-container">
        <%= image_tag 'svg/loading.svg', class: 'loading-spinner -hidden', width:100, height:100 %>
      </div>
    </div>
  </div>

  <div class="content-wide -end logo-footer">
    <div class="wrp-inner">
      <a href="https://smartcities.at/projects/stadtkern-plus/" target="_blank">
        <%= image_tag 'logo-klimafonds.png', width:76, height:65 %>
      </a>
      <p>
        Das Projekt ist Teil von <a href="https://smartcities.at/projects/stadtkern-plus/" target="_blank">Stadtkern_Plus</a> und wird aus Mitteln des Klima- und Energiefonds gefördert und im Rahmen des Programms „Leuchttürme für resiliente Städte 2040" durchgeführt.
      </p>
    </div>
  </div>

</section>