<% meta(
    title: t('.title', title: "#{@crowd_boost.title} - Der Crowdfunding-Zuschuss zum Leerstände beleben & Räumen eine neue Zukunft geben!"),
    description: t('.description', desc: "RDer ViertelFonds ist ein Fördertopf für Raumvorhaben in Graz, die durch Crowdfunding finanziert werden sollen. Pro erfolgreich abgeschlossenem Crowdfunding-Projekt kann ein Zuschuss von 1.000 € vergeben werden."),
    robots: 'index, follow',
    og_title: t('.title', title: "#{@crowd_boost.title} - Der Crowdfunding-Zuschuss zum Leerstände beleben & Räumen eine neue Zukunft geben!"),
    og_description: t('.description', desc: "Der ViertelFonds ist ein Fördertopf für Raumvorhaben in Graz, die durch Crowdfunding finanziert werden sollen. Pro erfolgreich abgeschlossenem Crowdfunding-Projekt kann ein Zuschuss von 1.000 € vergeben werden."),
    og_image: image_url('meta/crowd_boost.jpg')
  )
%>

<section class="info -boost_call">
  <div class="imgHeader -fullwidth"></div>
</section>

<section class="crowd_boost boost_call -graz">

  <div class="introcontainer">
    <div class="introtxt">
      <div class="hl-subtext">
        <h1><em><%= @crowd_boost.title %></em></h1>
        <p><strong>Der Crowdfunding-Zuschuss zum Leerstände beleben & Räumen eine neue Zukunft geben!</strong></p>
      </div>
      <p><strong>Der ViertelFonds</strong> ist ein Fördertopf für Raumvorhaben in Graz, die durch Crowdfunding finanziert werden sollen. Pro erfolgreich abgeschlossenem Crowdfunding-Projekt kann ein <strong>Zuschuss von 1.000 €</strong> vergeben werden.</p>
      <ul>
        <li><strong>Du hast einen Leerstand</strong> (alles außer Wohnraum) <strong>in Lend, Geidorf, St. Leonhard, Jakomini, der Inneren Stadt oder in Gries</strong> im Blick? Du würdest ihn gerne anmieten, aber hohe Aktivierungskosten bremsen dich noch aus? Oder hast du kürzlich einen Leerstand aktiviert und dir fehlen jetzt die Mittel für nötige Renovierungsarbeiten oder die Ausstattung?</li>
        <li>Dann könnte der <strong>ViertelFonds</strong> genau die Unterstützung sein, die du suchst.</li>
      </ul>
      <p>Er setzt genau dort an, wo es oft hakt: bei den Anschubkosten für die Aktivierung von Räumen. Ziel ist es, finanzielle Hürden abzubauen und Mut zu machen, den Schritt in Richtung Raumanmietung mit Crowdfunding zu wagen.</p>
      <p><strong>In der neuen Runde wurde der ViertelFonds durch die Unterstützung der Volksbank Graz gefüllt.</strong></p>
    </div>
    <div class="introSide">

      <%= image_tag'info/crowd2raum/graz-call.png', class: 'map-img' %>

      <div class="logo-side">
        <a href="https://www.graz.at/cms/beitrag/10068425/7769305/bezirksvertretung_jakomini.html" target="_blank">
          <%= image_tag 'logo-graz.png', width:363, height:100 %>
        </a>
        <p class="side-txt">In Kooperation mit dem Bezirksrat Jakomini</p>
      </div>

    </div>
  </div>

  <div class="content-wide">
    <div class="wrp-inner">
      <div class="hl-subtext">
        <h1>Die neue Runde startet!</h1>
        <p>Vom 6. Mai bis zum 31. Dezember 2025 könnt ihr eure Raumvorhaben beim ViertelFonds einreichen - Mach mit, so funktionierts:</p>
      </div>
      <div class="content-wide-text">
        <ul>
          <li>Erstelle <strong>deinen Account</strong> auf WeLocally - <strong><%= link_to 'Hier gehts zur Registrierung.', new_registration_path, target: '_blank' %></strong></li>
          <li>Erstelle anschließend eingeloggt eine neue Crowdfunding Kampagne und wähle innerhalb des Formulars deine <strong>Teilnahme am "Viertelfonds"</strong> aus. Beschreibe dein Vorhaben und fülle alle Kampagnenfelder bis zur letzten Seite vollständig aus und schicke deine Kampagne zur Freigabe ab. <strong><%= link_to 'Hier gehts zum Kampagnen-Start.', start_crowd_campaigns_path %></strong></li>
          <li><strong>Wir melden uns zeitnah</strong> und laden euch zu einer individuellen Crowdfunding-Beratung ein, damit euer Projekt die bestmöglichen Chancen auf ein erfolgreiches Crowdfunding erhält.</li>
        </ul>
        <% if current_user %>
          <%= link_to "Los geht's - Kampagne starten", start_crowd_campaigns_path, class: 'btn-primary -large -rose -shadow' %>
        <% else %>
          <%= link_to "Los geht's - Zur Registrierung", new_registration_path, class: 'btn-primary -large -rose -shadow' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="toggle-container">
    <div class="content-block -toggable">
      <h3>So funktioniert der ViertelFonds</h3>
      <div class="-toggle-content">

        <p>Wenn euer Raumvorhaben überzeugt – insbesondere durch einen guten Planungsstand und sich in einem der Bezirke des Pilotgebiets befindet, erhaltet ihr die <strong>Qualifizierungszusage für den Zuschuss</strong>.</p>
        <p>Nach der Qualifizierungszusage könnt ihr eure Crowdfunding-Kampagne starten.</p>
        <p><strong>Die ersten vier Projekte, die ...</strong></p>
        <ul class="arrow">
          <li>30 % des Mindestziels erreichen,</li>
          <li>mindestens 30 Unterstützer*innen gewinnen und</li>
          <li>ihr Crowdfunding erfolgreich abschließen,</li>
        </ul>
        <p>... <strong>erhalten einen Zuschuss von 1.000 € – nach dem First-Come-First-Serve-Prinzip.</strong></p>
        <p>Schnell sein lohnt sich! Der Topf ist in der neuen Runde mit 4.000 € gefüllt.</p>
        <p>Alle qualifizierten ViertelFonds-Projekte erhalten auf ihrer Kampagnenseite außerdem das <strong>Badge „Gewinn für die Nachbarschaft“</strong> – damit sofort erkennbar ist, welches Potenzial in eurer Idee steckt.</p>
      </div>
    </div>
    <div class="content-block -toggable">
      <h3>Hintergrund</h3>
      <div class="-toggle-content">
        <p>Der ViertelFonds wurde im Rahmen des Projekts <strong>crowd2raum von WeLocally.at und dem StadtLABOR Graz</strong> ins Leben gerufen, um gezielt die Finanzierungsbarrieren für lokale Macher*innen bei der Anmietung von Räumen zu senken und Leerstände in Graz mit neuem Leben zu füllen.</p>
        <p>Seither wächst der Fonds kontinuierlich – getragen von engagierten Kooperationspartner*innen wie der <strong>Bezirksvorstehung Jakomini und der Volksbank Graz.</strong></p>
        <p>Ein Teil des Fonds wird zudem direkt von der Community unterstützt: Über die Funktion <strong>„Aufrunden bitte“</strong> können Unterstützerinnen bei jeder Crowdfunding-Kampagne auf WeLocally in Graz freiwillig einen kleinen Beitrag leisten und so dazu beitragen, dass Leerstände durch lokale Macher*innen aktiviert werden.</p>
      </div>
    </div>
  </div>

  <!--
  <div id="tabs-container" class="content-wide -grey">
    <div class="hl-subtext">
      <h1>Unterstütze Projekte</h1>
    </div>
    <div id="tab-campaigns" class="wrp-inner card-grid-container">
      <%= form_tag campaigns_crowd_boost_path(@crowd_boost), method: :get, remote: true, class: 'cards-filter' do %><% end %>
      <div class="card-grid" data-behavior="campaigns-card-container"></div>
    </div>
  </div>
  -->

  <div class="content-wide -end logo-footer">
    <div class="wrp-inner">
      <div class="logos">
        <a href="https://www.welocally.at/home" target="_blank">
          <%= image_tag("regions/logo.svg", class: 'logo-desktop', alt:'logo', width:120, height:84) %>
        </a>
        <a href="https://stadtlaborgraz.at/de/" target="_blank">
          <%= image_tag 'logo-stadtlabor.png', width:76, height:65 %>
        </a>
        <a href="https://wieneuplus.wien.gv.at/" target="_blank">
          <%= image_tag 'logo-wieneuplus.png', width:190, height:100 %>
        </a>
      </div>
      <p>
        Der „ViertelFonds“ wird im Rahmen des Forschungsprojektes „crowd2raum“ eingerichtet zur gezielten Leerstandsaktivierung und Schaffung von Raumnutzungen für lokale Macher*innen.
        Projektkonsortium: <a href="https://www.welocally.at/home" target="_blank">WeLocally</a> / morgenjungs GmbH (Konsortialführer); <a href="https://stadtlaborgraz.at/de/" target="_blank">StadtLABOR</a> - Innovationen für urbane Lebensqualität GmbH; <a href="https://wieneuplus.wien.gv.at/" target="_blank">Stadt Wien</a> – MA25 Technische Stadterneuerung
      </p>
    </div>
    <div class="wrp-inner">
      <div class="logos">
        <a href="https://smartcities.at/projects/stadtkern-plus/" target="_blank">
          <%= image_tag 'logo-klimafonds.png', width:76, height:65 %>
        </a>
        <a href="https://www.bmk.gv.at" target="_blank">
          <%= image_tag 'logo-bmk.png', width:556, height:200 %>
        </a>
      </div>
      <p>
        Fördergeber: Klima- und Energiefonds & BMK im Rahmen der Sondierung für die Ausschreibung „Technologien und Innovationen für die Klimaneutrale Stadt 2023“ 
      </p>
    </div>
  </div>

</section>