<% meta(
    title: t('.title', title: @crowd_boost.title),
    description: t('.description', desc: @next_slot ? strip_tags(@next_slot.slot_description.bbcode_to_html.html_safe).truncate(250) : @crowd_boost.slogan.truncate(250)),
    robots: 'index, follow',
    og_title: t('.title', title: @crowd_boost.title),
    og_description: t('.description', desc: @next_slot ? strip_tags(@next_slot.slot_description.bbcode_to_html.html_safe).truncate(250) : @crowd_boost.slogan.truncate(250)),
    og_image: image_url('meta/crowd_boost.jpg')
  )
%>

<section class="info -crowdfunding">
  <div class="imgHeader -fullwidth"></div>
</section>

<section class="crowd_boost boost_call -<%= current_region.id %>">

  <div class="introcontainer">
    <div class="introtxt">

      <div class="hl-subtext">
        <h1><em><%= @crowd_boost.title %></em></h1>
        <% if @next_slot %>
          <div class="bbcode"><%= @next_slot.slot_description.bbcode_to_html.html_safe %></div>
        <% else %>
          <div class="bbcode"><strong><%= @crowd_boost.slogan %></strong></div>
        <% end %>
      </div>

      <% if @next_slot %>

        <!-- Slot Box -->
        <div class="cardBox slotBox">          
          <ul class="list-arrow -rosa">
            <li><strong>Einreichzeitraum:</strong> <%= @next_slot.timerange %></li>
            <% if @next_slot.boost_amount? %>
              <li>
                <strong>Crowdfunding Boost:</strong>
                <%= number_to_currency(@next_slot.boost_amount.to_i, unit: "€") %> Extra-Boost für dein Projekt
              </li>
            <% elsif @next_slot.boost_percentage? %>
              <li>
                <strong>Crowdfunding Boost:</strong>
                Bis zu <%= @next_slot.boost_percentage.to_i %>% Extra-Boost für dein Projekt
              </li>
            <% end %>
          </ul>
          <div class="badge -small"><div class="inner">Nächste<br>Runde</div></div>
        </div>
        <!-- /Slot Box -->

        <% if @next_slot.slot_detail_description %>
          <div class="content-block -toggable">
            <h3>Wie funktioniert der <%= @crowd_boost.title %></h3>
            <div class="-toggle-content bbcode"><%= @next_slot.slot_detail_description.bbcode_to_html.html_safe %></div>
          </div>
        <% end %>

        <% if @next_slot.slot_terms %>
          <div class="content-block -toggable">
            <h3>Welche Vorhaben können teilnehmen</h3>
            <div class="-toggle-content bbcode"><%= @next_slot.slot_terms.bbcode_to_html.html_safe %></div>
          </div>
         <% end %>
         
        <% if @next_slot.slot_process_description %>
          <div class="content-block -toggable">
            <h3>Qualifizierung - Wie bewertet die Jury</h3>
            <div class="-toggle-content bbcode"><%= @next_slot.slot_process_description.bbcode_to_html.html_safe %></div>
          </div>
        <% end %>

      <% else %>

        <% if @crowd_boost.description.present? %>
          <div class="bbcode"><%= @crowd_boost.description.bbcode_to_html.html_safe %></div>
        <% end %>

      <% end %>

    </div>

    <div class="introSide">

      <% if @next_slot && @next_slot.open? %>
        <%= render 'crowd_boosts/crowd_boost_open', crowd_boost: @crowd_boost, hide_facts: true %>
      <% else %>
        <%= render 'crowd_boosts/crowd_boost', crowd_boost: @crowd_boost %>
      <% end %>

      <% if current_region.is?('graz') && @crowd_boost.title.include?("ViertelFonds") %>
        <div class="logo-side">
          <a href="https://www.graz.at/cms/beitrag/10068425/7769305/bezirksvertretung_jakomini.html" target="_blank">
            <%= image_tag 'logo-graz.png', width:363, height:100 %>
          </a>
          <p class="side-txt">In Kooperation mit dem Bezirksrat Jakomini</p>
        </div>
      <% end %>

    </div>
    
  </div>

  <div class="tabs-ctrl -plain">
    <ul class="tabs-nav">
      <li class="active">
        <a href="#tab-campaigns">
          <h3>Bisher unterstützte Projekte</h3>
          <% if @campaign_count.to_i.positive? %><small><%= @campaign_count %></small><% end %>
        </a>
      </li>
      <% if @crowd_boost.chargeable? %>
        <li class="<%= @campaign_count == 0 ? 'active' : '' %>">
          <a href="#tab-charges">
            <h3>Topf Einzahlungen</h3>
            <% if @charge_count.to_i.positive? %><small><%= @charge_count %></small><% end %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="tabs-container" class="content-wide -grey">
    <div id="tab-campaigns" class="wrp-inner card-grid-container">
      <%= form_tag campaigns_crowd_boost_path(@crowd_boost), method: :get, remote: true, class: 'cards-filter' do %><% end %>
      <div class="card-grid" data-behavior="campaigns-card-container"></div>
    </div>
    <% if @crowd_boost.chargeable? %>
      <div id="tab-charges" class="wrp-inner charges">
        <%= form_tag charges_crowd_boost_path(@crowd_boost), method: :get, remote: true, class: 'form-charges' do %><% end %>
        <%= link_to "In den Topf einzahlen", new_crowd_boost_crowd_boost_charge_path(@crowd_boost), class: "btn-primary -mint -small -shadow btn-charge" %>
        <div class="charges-container">
          <%= image_tag 'svg/loading.svg', class: 'loading-spinner -hidden', width:100, height:100 %>
        </div>
      </div>
    <% end %>
  </div>

  <% if current_region.is?('graz') && @crowd_boost.title.include?("ViertelFonds") %>
    <div class="content-wide -end logo-footer">
      <div class="wrp-inner">
        <div class="logos">
          <a href="https://www.welocally.at/home" target="_blank">
            <%= image_tag("regions/logo.svg", class: 'logo-desktop', alt:'logo', width:120, height:84) %>
          </a>
          <a href="https://stadtlaborgraz.at/de/" target="_blank">
            <%= image_tag 'logo-stadtlabor.png', width:76, height:65 %>
          </a>
          <a href="https://wieneuplus.wien.gv.at/" target="_blank">
            <%= image_tag 'logo-wieneuplus.png', width:190, height:100 %>
          </a>
        </div>
        <p>
          Der „ViertelFonds“ wird im Rahmen des Forschungsprojektes „crowd2raum“ eingerichtet zur gezielten Leerstandsaktivierung und Schaffung von Raumnutzungen für lokale Macher*innen.
          Projektkonsortium: <a href="https://www.welocally.at/home" target="_blank">WeLocally</a> / morgenjungs GmbH (Konsortialführer); <a href="https://stadtlaborgraz.at/de/" target="_blank">StadtLABOR</a> - Innovationen für urbane Lebensqualität GmbH; <a href="https://wieneuplus.wien.gv.at/" target="_blank">Stadt Wien</a> – MA25 Technische Stadterneuerung
        </p>
      </div>
      <div class="wrp-inner">
        <div class="logos">
          <a href="https://smartcities.at/projects/stadtkern-plus/" target="_blank">
            <%= image_tag 'logo-klimafonds.png', width:76, height:65 %>
          </a>
          <a href="https://www.bmk.gv.at" target="_blank">
            <%= image_tag 'logo-bmk.png', width:556, height:200 %>
          </a>
        </div>
        <p>
          Fördergeber: Klima- und Energiefonds & BMK im Rahmen der Sondierung für die Ausschreibung „Technologien und Innovationen für die Klimaneutrale Stadt 2023“ 
        </p>
      </div>
    </div>
  <% else %>
    <div class="content-wide -end logo-footer">
      <div class="wrp-inner">
        <a href="https://smartcities.at/projects/stadtkern-plus/" target="_blank">
          <%= image_tag 'logo-klimafonds.png', width:76, height:65 %>
        </a>
        <p>
          Das Projekt ist Teil von <a href="https://smartcities.at/projects/stadtkern-plus/" target="_blank">Stadtkern_Plus</a> und wird aus Mitteln des Klima- und Energiefonds gefördert und im Rahmen des Programms „Leuchttürme für resiliente Städte 2040" durchgeführt.
        </p>
      </div>
    </div>
  <% end %>

</section>