<div class="cardBox">
  <div class="cardBoxHeader">
    <%= link_to [location.graetzl, location] do %>
      <%= attachment_image_tag location, :cover_photo, :fill, 300, 180, fallback: 'cover_photo/300x180.png', class: 'coverImg' %>
    <% end %>
    <div class="categoryicon">
      <svg class="icon-location"><use xlink:href="#icon-location"></use></svg>
    </div>
  </div>
  <div class="cardBoxContent">
    <div class="location-shortfacts">
      <%= link_to [location.graetzl, location], class: 'locationlogo' do %>
        <%= avatar_for location %>
      <% end %>
      <div class="locationtxt">
        <%= link_to location.name, [location.graetzl, location], class: 'name' %>
        <div class="category"><%= location.category.name %></div>
        <% if location.address %>
          <div class="address">
            <svg class="icon-location">
              <use xlink:href="#icon-location"></use>
            </svg>
            <%= "#{location.address.street_name} #{location.address.street_number.split(%r{/}).first}" %>
          </div>
        <% end %>
      </div>
    </div>
    <% if location.pending? %>
      <div class="locationstate">
        <div class="state">Deine Location wird noch geprüft...</div>
        <div class="txt">Wir schicken dir ein E-Mail, sobald deine Location freigeschalten wurde.</div>
      </div>
    <% end %>
    <div class="btn-group">
      <%= link_to 'Bearbeiten', edit_location_path(location), class: 'btn-secondary -mint -small' %>
      <%= link_to 'Löschen', location_path(location),
        data: { confirm: 'Bist du dir sicher?' },
        method: :delete,
        class: 'btn-secondary -mint -small' %>
      <%= link_to('Grätzlzuckerl einbuchen', new_location_zuckerl_path(location), class: 'btn-primary -mint -small') unless location.pending? %>
    </div>
  </div>
</div>
