<div class="cardBox -subscription-plan">

  <div class="cardBoxHeader">
    <div class="coverImgWrapper">
      <%= image_tag("info/cardbox-abo#{@plan.image_url}.jpg", class: 'coverImg') %>
    </div>
    <div class="categoryicon">
      <%= @plan.short_name %>
    </div>
  </div>

  <div class="cardBoxContent">
    <ul class="pricing-summary -facts">
      <p class="title">
        <%= @plan %>
        <% if @subscription&.current_period_start %>
          <small class="hint"><%= I18n.localize(@subscription.current_period_start, format:'%d. %b %Y') %> – <%= I18n.localize(@subscription.current_period_end, format:'%d. %b %Y') %></small>
        <% end %>
      </p>
    </ul>
    <ul class="pricing-summary">
      <li>
        <div class="cost"><%= number_to_currency(@plan.amount, unit: "€") %></div>
        <div class="costname">
          <%= t("activerecord.attributes.subscription_plan.per_interval.#{@plan.interval}") %>
          <% if @plan.interval == 'year' %>
          <br><small>(entspricht <%= number_to_currency(@plan.equals_monthly_price, unit: "€") %> pro Monat)</small>
          <% end %>
        </div>
      </li>
      <li class="sum">
        <div class="cost"><%= number_to_currency(@plan.amount, unit: "€") %></div>
        <div class="costname">
          Gesamtbetrag
          <br>
          <small>inkl. MwSt.</small>
        </div>
      </li>
    </ul>

  </div>

</div>
