<div id="crowd-campaign-post-form" class="entryCreate stream-form" data-behavior="crowd-campaign-post-form">
  <%= avatar_image @crowd_campaign, size: :thumb, class: 'img-square avatar' %>
  <%= form_for(CrowdCampaignPost.new, url: add_post_crowd_campaign_path(@crowd_campaign), html: { class: 'textEditor' }, remote: true) do |f| %>
    <%= f.text_field :title, placeholder: 'Neuigkeit (Titel)', class: 'input-plain postTitle' %>
    <%= f.text_area :content, placeholder: 'Beschreibung', class: 'input-plain postMessage' %>

    <div class="hideBlock">
      <div class="upload-streamImgs">
        <%= icon_tag "photo-camera" %>
        <%= upload_image_input(f, :images, multiple: true, live_preview: false) %>
      </div>
      <%= f.button 'Beitrag senden', data: { disable_with: 'sendet...' }, class: 'btn-secondary' %>
    </div>
  <% end %>
</div>
