<% content_for(:above_title, "Hey #{@user.first_name}") %>
<% content_for(:title, "Willkommen in der Gruppe!") %>

<!-- --------------- BLOCK HEADLINE --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
   <tr>
     <td style="height:30px"> </td>
   </tr>
   <tr>
     <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
       <h4 style="text-align:left; color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic;">
         Du bist nun Mitglied in der Gruppe:
       </h4>
     </td>
   </tr>
   <tr>
     <td style="padding-left:9px; padding-right:9px;">
       <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td>
             <span></span>
           </td>
         </tr>
       </table>
     </td>
   </tr>
 </table>

<!-- --------------- ITEM GROUP NEW --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px;">
        <%= link_to group_url(@group) do %>
          <%= cover_photo_image(@group, size: :small, class: 'mcnImage', style: "width:290px; border-radius:5px; max-width:290px; min-width:100px;") %>
         <% end %>
      </td>
      <td valign="center" class="mcnTextContent" width="100%">
        <p>
          <%= link_to @group.title, group_url(@group), style: "color:#ec776a; font-size:18px;" %>
        </p>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding-top:9px; padding-bottom:9px;" class="mcnTextContent">
        <p>
          <%= @group.welcome_message.to_s.gsub("\r\n", "<br/>").html_safe %>
        </p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= render 'mailers/shared/button', title: "Zur Gruppe", url: group_url(@group) %>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding-bottom:5px;"></td>
    </tr>
  </tbody>
</table>
