<% if f.object.address.nil? %>
  <div id="addressSearchAutocomplete" class="input-field">
    <%= label_tag :address do %>
      <%= icon_tag "map-location" %>
      <span>Adresse</span>
    <% end %>
    <%= text_field_tag :address, params[:address], placeholder: 'Straße und Hausnummer' %>
    <%= hidden_field_tag :feature %>
  </div>
<% else %>
  <%= f.fields_for :address do |address_fields| %>
    <div class="input-field">
      <%= address_fields.label :street_name do %>
          <%= icon_tag "map-location" %>
          <span>Straße</span>
      <% end %>
      <%= address_fields.text_field :street_name, placeholder: 'Straße' %>
    </div>
    <div class="input-field">
      <%= address_fields.label :street_number do %>
          <%= icon_tag "map-location" %>
          <span>Hausnummer</span>
      <% end %>
      <%= address_fields.text_field :street_number, placeholder: 'Nummer' %>
    </div>
    <div class="input-field" id="address-fields">
      <%= address_fields.label :description do %>
        <%= icon_tag "location" %>
        <span>Ortsbeschreibung</span>
      <% end %>
      <%= address_fields.text_field :description, placeholder: 'z.B.: Venediger Au, Gasthaus Hansy, Schikaneder Kino, etc.' %>
    </div>
  <% end %>
<% end %>