<div class="meet-platform_meeting_request">
  <p>Aktion <span>Selbstständige</span> für <span>Selbstständige</span></p>

  <div class="checkbox_container">
    <%= f.fields_for :platform_meeting_join_request do |p| %>
      <div class="input-checkbox">
        <%= p.check_box :status, {}, "#{@meeting.platform_meeting_join_request.status != 'no' ? @meeting.platform_meeting_join_request.status : 'pending'}", "no" %>
        <%= p.label :status, 'Ja, ich möchte bei der Aktion "Selbstständige für Selbstständige & Macher*innen" mitmachen.' %>
      </div>
    <% end %>
  </div>

  <div id="meeting-platform-meeting-fields">

    <%= f.fields_for :platform_meeting_join_request do |p| %>
      <p class="question">
        <strong>Bitte ausfüllen:</strong> Warum engagierst du dich und stärkst mit deinem Angebot andere lokale Anbieter*innen und die lokale Wirtschaft?
      </p>
      <div class="input-textarea">
        <%= p.label :request_message do %>
          <%= icon_tag "layout-document" %>
          <span>Deine Antwort</span>
        <% end %>
        <%= p.text_area :request_message, placeholder: 'Beschreibe deine Beweggründe in 1-2 Sätzen. (Deine Antwort wird bei deinem Angebot veröffentlicht)' %>
      </div>
    <% end %>
    <div class="input-select">
      <%= f.label :meeting_category_id do %>
        <%= icon_tag "record" %>
        <span>Themenfeld</span>
      <% end %>
      <%= f.collection_select :meeting_category_id, MeetingCategory.all.order(:starts_at_date), :id, :category_width_date_range, { prompt: 'Wähle ein passendes Themenfeld ..' } %>
    </div>
    <p class="hint">
      <strong>Bitte beachte, dass es sich um ein kostenloses Angebot handeln muss um in der Ruprik Selbständige für Selbständige gelistet zu werden.</strong> (Eine Listung erfolgt erst nach Freischaltung)
    </p>
  </div>

</div>
