<%= content_tag(:li, id: dom_id(notification), data: { behavior: 'notification-item' }, class: 'notification-item') do %>
  <%= link_to polymorphic_url(notification.content_url_params, target: notification.target_url_params) do %>
    <%= avatar_image notification.comment.user, size: :thumb, class: 'img-round' %>
    <div class="msg">
      <div class="timeago">vor <%= time_ago_in_words(notification.created_at) %></div>
      <span class="username"><%= notification.comment.user.username %></span> hat das Treffen
      <span class="matter"><%= notification.subject.name %></span> kommentiert
    </div>
  <% end %>
<% end %>
