<%- group = notification.activity.trackable %>

<%= content_tag(:li, id: dom_id(notification), data: { behavior: 'notification-item' }, class: 'notification-item') do %>
  <%= link_to group do %>
    <%= image_tag avatar_url(notification.activity.owner, :thumb), class: 'img-round' %>
    <div class="msg">
      <div class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></div>
      Neue Gruppe von <span class="username"><%= notification.activity.owner.username %></span>: <span class="matter"><%= group.title %></span>
    </div>
  <% end %>
<% end %>
