<%- user = notification.activity.trackable %>

<%= content_tag_for(:li, notification, data: { behavior: 'notification-item' }, class: 'notification-item') do %>
  <%= link_to [user.graetzl, user] do %>
    <%= attachment_image_tag notification.activity.owner, :avatar, :fill, 40, 40, fallback: 'avatar/user/40x40.png', class: 'img-round' %>
    <div class="msg">
      <div class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></div>
      <span class="username"><%= notification.activity.owner.username %></span> hat an deine Pinnwand geschrieben
    </div>
  <% end %>
<% end %>
