<%- meeting = notification.activity.trackable %>
<%= content_tag_for(:li, notification, data: { behavior: 'notification-item' }) do %>
  <%= link_to [meeting.graetzl, meeting] do %>
    <span class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></span>
    Neues Treffen <%= meeting.name %> von <%= notification.activity.owner.username %> im Grätzl <%= meeting.graetzl.name %>
  <% end %>
<% end %>
