
<%= content_tag(:li, id: dom_id(notification), data: { behavior: 'notification-item' }, class: 'notification-item') do %>
  <%= link_to notification.tool_offer do %>
    <%= avatar_image notification.tool_offer.user, size: :thumb, class: 'img-round' %>
    <div class="msg">
      <div class="timeago">vor <%= time_ago_in_words(notification.created_at) %></div>
      <span class="username"><%= notification.tool_offer.user.username %></span>
      hat einen neuen Geräteteiler <%= t("region.#{current_region.id}.in_graetzl") %> <span class="matter"><%= notification.tool_offer.graetzl.name %></span> erstellt
    </div>
  <% end %>
<% end %>
