<%- discussion = notification.activity.trackable %>

<%= content_tag(:li, id: dom_id(notification), data: { behavior: 'notification-item' }, class: 'notification-item') do %>
  <%= link_to [discussion.group, discussion, :target => "topic"] do %>
    <%= avatar_image notification.activity.owner, size: :thumb, class: 'img-round' %>
    <div class="msg">
      <div class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></div>
      <span class="username"><%= notification.activity.owner.username %></span> hat ein neues Thema in der Gruppe erstellt: <span class="matter"><%= discussion.title %></span>
    </div>
  <% end %>
<% end %>
