<%- post = notification.activity.trackable %>
<% if post.author.is_a?(User) %>
  <li>
    <%= link_to [post.graetzl, post] do %>
      <span class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></span>
      Neuer Beitrag im Grätzl <%= post.graetzl.name %> von <%= post.author.username %>: <%= post.content %>
    <% end %>
  </li>
<% else %>
  <li>
    <%= link_to [post.graetzl, post.author] do %>
      <span class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></span>
      Neuer Beitrag im Grätzl <%= post.graetzl.name %> von <%= post.author.name %>: <%= post.title %>
    <% end %>
  </li>
<% end %>
