<%- room_call = notification.activity.trackable %>

<%= content_tag(:li, id: dom_id(notification), data: { behavior: 'notification-item' }, class: 'notification-item') do %>
  <%= link_to room_call do %>
    <%= attachment_image_tag room_call, :avatar, :fill, 40, 40, fallback: 'avatar/user/40x40.png', class: 'img-round' %>
    <div class="msg">
      <div class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></div>
      <span class="username"><%= notification.activity.owner.username %></span> hat einen neuen Raumteiler Call im Grätzl <span class="matter"><%= room_call.graetzl.name %></span> erstellt
    </div>
  <% end %>
<% end %>
