<%= content_tag(:li, id: dom_id(notification), data: { behavior: 'notification-item' }, class: 'notification-item') do %>
  <%= link_to notification.coop_demand do %>
    <%= avatar_image notification.coop_demand, size: :thumb, class: 'img-round' %>
    <div class="msg">
      <div class="timeago">vor <%= time_ago_in_words(notification.created_at) %></div>
      <span class="username"><%= notification.coop_demand.user.username %></span> hat ein neues <strong>Coop & Share Angebot</strong> veröffentlicht.
    </div>
  <% end %>
<% end %>
