<% post = notification.activity.trackable %>
<% graetzl = Graetzl.memoized(post.graetzl_id) %>

<%= content_tag(:li, id: dom_id(notification), data: { behavior: 'notification-item' }, class: 'notification-item') do %>
  <%= link_to [graetzl, post] do %>
    <%= attachment_image_tag post.author, :avatar, :fill, 40, 40, fallback: 'avatar/user/40x40.png', class: 'img-round' %>
    <div class="msg">
      <div class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></div>
      <span class="username"><%= post.author.username %></span> hat einen neuen Beitrag im Grätzl <span class="matter"><%= graetzl.name %></span> geschrieben
    </div>
  <% end %>
<% end %>
