<%- location = notification.activity.trackable %>

<%= content_tag(:li, id: dom_id(notification), data: { behavior: 'notification-item' }, class: 'notification-item') do %>
  <%= link_to [location.graetzl, location] do %>
    <%= attachment_image_tag location, :avatar, :fill, 40, 40, fallback: 'avatar/location/40x40.png', class: 'img-square' %>
    <div class="msg">
      <div class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></div>
      Neu auf imGrätzl: <span class="matter"><%= location.name %></span> - Sag gleich Hallo!
    </div>
  <% end %>
<% end %>
