<%- meeting = notification.activity.trackable %>

<%= content_tag_for(:li, notification, data: { behavior: 'notification-item' }, class: 'notification-item') do %>
  <%= link_to [meeting.graetzl, meeting] do %>
    <%= avatar_for notification.activity.owner, fill: [40,40] %>
    <div class="msg">
      <div class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></div>
      <span class="username"><%= notification.activity.owner.username %></span> hat ein neues Treffen im Grätzl <span class="matter"><%= meeting.graetzl.name %></span> erstellt
    </div>
  <% end %>
<% end %>
