<%- post = notification.activity.trackable %>

<%= content_tag(:li, id: dom_id(notification), data: { behavior: 'notification-item' }, class: 'notification-item') do %>
  <%= link_to [post.group, post.discussion, :target => "discussion-post-#{post.id}"] do %>
    <%= avatar_image notification.activity.owner, size: :thumb, class: 'img-round' %>
    <div class="msg">
      <div class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></div>
      Neue Antwort von <span class="username"><%= notification.activity.owner.username %></span> bei: <span class="matter"><%= post.discussion.title %></span>
    </div>
  <% end %>
<% end %>
