<% room_call = notification.activity.trackable %>
<% graetzl = Graetzl.memoized(room_call.graetzl_id) %>

<%= content_tag(:li, id: dom_id(notification), data: { behavior: 'notification-item' }, class: 'notification-item') do %>
  <%= link_to room_call do %>
    <%= avatar_image room_call, size: :thumb, class: 'img-round' %>
    <div class="msg">
      <div class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></div>
      <span class="username"><%= notification.activity.owner.username %></span> hat einen neuen Raumteiler Call im Grätzl <span class="matter"><%= graetzl.name %></span> erstellt
    </div>
  <% end %>
<% end %>
