<% tool_rental = notification.activity.trackable %>

<%= content_tag(:li, id: dom_id(notification), data: { behavior: 'notification-item' }, class: 'notification-item') do %>
  <%= link_to messenger_path(thread_id: tool_rental.user_message_thread.id) do %>
    <%= avatar_image notification.activity.owner, size: :thumb, class: 'img-round' %>
    <div class="msg">
      <div class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></div>
      <span class="username"><%= notification.activity.owner.username %></span><span class="matter"> hat deine Toolteiler Anfrage abgelehnt</span>. Erfahre mehr im Messenger.
    </div>
  <% end %>
<% end %>
