<%= content_tag(:li, id: dom_id(notification), data: { behavior: 'notification-item' }, class: 'notification-item') do %>
  <%= link_to messenger_path(thread_id: notification.tool_rental.user_message_thread.id) do %>
    <%= avatar_image notification.tool_rental.renter, size: :thumb, class: 'img-round' %>
    <div class="msg">
      <div class="timeago">vor <%= time_ago_in_words(notification.created_at) %></div>
      <span class="username"><%= notification.tool_rental.renter.username %></span> möchte deinen Toolteiler ausborgen.
      Du kannst die <span class="matter">Anfrage akzeptieren oder ablehnen</span>.
    </div>
  <% end %>
<% end %>
