<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        Hallo <%= @location.user.first_name %>,
        <p>
          ich habe dein virtuelles Schaufenster auf <%= t("region.#{@location.region.id}.domain_full") %> gerade freigeschaltet.<br>
          <%= link_to graetzl_location_url(@location.graetzl, @location, host: @location.region.host), graetzl_location_url(@location.graetzl, @location, host: @location.region.host) %>
        </p>

        <p>
          <strong>Schau bitte noch einmal nach, ob eine ansprechende Beschreibung drin ist. Denn, dein Schaufenster wird außerdem im nächsten Newsletter vorgestellt.</strong>
        </p>

        <p>
          In Tests haben wir herausgefunden, dass die Schaufenster mit ausführlichen Beschreibungen,
          also mind. 3-4 Sätze, häufiger angeklickt werden und mehr Menschen dann auch zu den Websites weitergehen.
          <br>Schreib z.B. etwas zu deinem Hintergrund oder was deine absolute Spezialität ist.
        </p>

        <p>
          Du kannst mir gerne schreiben, wenn du Fragen zum Schaufenster hast.
        </p>

        <p>
          Viel Freude auf <%= t("region.#{@location.region.id}.domain_full") %><br>
          Mirjam
        </p>

        <p>
          PS: Wenn dir die Idee von <%= t("region.#{@location.region.id}.domain_short") %> gefällt, würden wir uns sehr freuen, wenn du die
          Möglichkeiten an andere Selbständige, kleinen Unternehmen, Kulturschaffende oder Vereine
          weiterträgst.
        </p>
      </td>
    </tr>
  </tbody>
</table>

<%= render 'mailers/notification_mailer/featured/subscription' if @region.id == 'wien' && !@location.user.subscribed? %>