<div class="btn-ctrl" id="groups-btn-ctrl">

  <% if !user_signed_in? %> <!-- Logged Out -->

    <%= link_to new_user_session_path(redirect: request.original_url), class: 'btn-userIcons' do %>
      <span><%= image_tag 'avatar/user/default.png', class: 'img-round' %> Gruppe beitreten</span>
    <% end %>

  <% elsif group.admins.include?(current_user) %> <!-- Group Admin -->

    <%= link_to 'javascript:', data: { jq_dropdown: "#group-settings-dropdown" }, class: 'btn-userIcons -grey -admin' do %>
      <span>Du bist Admin <%= icon_tag "arrow-down-2" %></span>
    <% end %>

    <div id="group-settings-dropdown" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container createmenu">
      <div class="jq-dropdown-panel">
        <%= link_to settings_group_path(group) do %>
          <%= icon_tag "bell" %>
          <div class="icontxt">Gruppen Benachrichtigungen</div>
        <% end %>
        <%= link_to edit_group_path(group) do %>
          <%= icon_tag "pencil" %>
          <div class="icontxt">Gruppe bearbeiten</div>
        <% end %>
        <%= link_to group_path(group), data: { confirm: 'Bist du dir sicher?' }, method: :delete do %>
          <%= icon_tag "trash-delete-remove" %>
          <div class="icontxt">Gruppen löschen</div>
        <% end %>
      </div>
    </div>

  <% elsif group.members.include?(current_user) %> <!-- Group Member -->

    <%= link_to 'javascript:', data: { jq_dropdown: "#group-settings-dropdown" }, class: 'btn-userIcons -grey' do %>
      <span>Du bist Mitglied <%= icon_tag "arrow-down-2" %></span>
    <% end %>

    <div id="group-settings-dropdown" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container createmenu">
      <div class="jq-dropdown-panel">
        <%= link_to settings_group_path(group) do %>
          <%= icon_tag "bell" %>
          <div class="icontxt">Gruppen Benachrichtigungen</div>
        <% end %>
        <%= link_to remove_user_group_path(user_id: current_user.id, id: group.id), method: :post, data: { confirm: 'Bist du dir sicher?' } do %>
          <%= icon_tag "level-down" %>
          <div class="icontxt">Gruppe verlassen</div>
        <% end %>
      </div>
    </div>

  <% elsif group.group_join_requests.exists?(user_id: current_user.id) %> <!-- Join Request pending -->

    <%= link_to 'javascript:', class: 'btn-userIcons -grey -disabled' do %>
      <span>Beitrittsanfrage gestellt ...</span>
    <% end %>

  <% else %> <!-- Join Request -->

    <%= link_to '#join-request-modal', class: 'join-request-button btn-userIcons' do %>
      <span><%= avatar_for current_user %> Gruppe beitreten</span>
    <% end %>

    <div id="join-request-modal" class="join-request-modal">
      <%= form_tag request_join_group_path(group) do %>
        <div class="input-textarea">
          <%= text_area_tag :request_message, nil, cols: 40, rows: 3, placeholder: 'write a short a sentence about you or why you want to join' %>
        </div>
        <%= submit_tag "Beitreten", class: 'btn-primary' %>
      <% end %>
    </div>

  <% end %>
</div>
