<div class="btn-ctrl" id="groups-btn-ctrl">

  <% if @group.postable_by?(current_user) %>
    <%= link_to 'javascript:', class: 'btn-round-icon', id: 'createTopic' do %>
      <%= icon_tag "pencil" %>
    <% end %>
    <div class="jBoxHidden jBoxDropdown" id="jBoxCreateTopic">
      <%= link_to new_group_discussion_path(@group, anchor: "newtopic") do %>
        <%= icon_tag "layout-document" %>
        <div class="icontxt">Neues Thema erstellen</div>
      <% end %>
      <% if !@group.default_joined? %>
        <%= link_to new_meeting_path(group_id: @group.id) do %>
          <%= icon_tag "calendar-2" %>
          <div class="icontxt">Neues Gruppentreffen</div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if !user_signed_in? %> <!-- Logged Out -->

    <%= link_to new_user_session_path(redirect: request.original_url), class: 'btn-userIcons' do %>
      <span><%= image_tag 'fallbacks/user_avatar.png', class: 'img-round' %> Gruppe beitreten</span>
    <% end %>

  <% elsif group.admin?(current_user) %> <!-- Group Admin -->

    <%= link_to 'javascript:', data: { jq_dropdown: "#group-settings-dropdown-#{group.id}" }, class: 'btn-userIcons -grey -admin' do %>
      <span>Du bist Admin <%= icon_tag "arrow-down-2" %></span>
    <% end %>

    <div id="group-settings-dropdown-<%= group.id %>" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container createmenu">
      <div class="jq-dropdown-panel">
        <%= link_to edit_group_path(group) do %>
          <%= icon_tag "pencil" %>
          <div class="icontxt">Gruppe bearbeiten</div>
        <% end %>
        <% if !@group.default_joined? %>
          <%= link_to compose_mail_group_path(group) do %>
            <%= icon_tag "at-symbol" %>
            <div class="icontxt">E-Mail an Mitglieder</div>
          <% end %>
        <% end %>
        <%= link_to group_path(group), data: { confirm: 'Bist du dir sicher?' }, method: :delete do %>
          <%= icon_tag "trash-delete-remove" %>
          <div class="icontxt">Gruppen löschen</div>
        <% end %>
      </div>
    </div>

  <% elsif group.member?(current_user) %> <!-- Group Member -->

    <%= link_to 'javascript:', data: { jq_dropdown: "#group-settings-dropdown-#{group.id}" }, class: 'btn-userIcons -grey' do %>
      <span>Du bist Mitglied <%= icon_tag "arrow-down-2" %></span>
    <% end %>

    <div id="group-settings-dropdown-<%= group.id %>" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container createmenu">
      <div class="jq-dropdown-panel">
        <%= link_to remove_user_group_path(user_id: current_user.id, id: group.id), method: :post, data: { confirm: 'Bist du dir sicher?' } do %>
          <%= icon_tag "level-down" %>
          <div class="icontxt">Gruppe verlassen</div>
        <% end %>
      </div>
    </div>

  <% elsif group.group_join_requests.exists?(user_id: current_user.id) %> <!-- Join Request pending -->

    <%= link_to 'javascript:', class: 'btn-userIcons -grey -disabled' do %>
      <span>Beitrittsanfrage gestellt ...</span>
    <% end %>

  <% else %>

    <%= link_to 'javascript:', class: 'btn-userIcons', id: 'joinRequest' do %>
      <span><%= avatar_image current_user, size: :thumb, class: 'img-round' %> Gruppe beitreten</span>
    <% end %>

    <div id="jBoxRoinRequest" class="jBoxHidden jBoxDropdown">
      <%= render 'groups/join_request_form', group: group %>
    </div>

  <% end %>
</div>
