<div class="room-call-section -page">

  <div class="room-call-submissions">
    <% @group.room_call.room_call_submissions.includes(:user).each do |submission| %>
      <div class="user-submission-card cardBox">
        <%= link_to submission_room_call_path(@group.room_call, submission_id: submission.id) do %>
          <%= attachment_image_tag submission.user, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
          <span><%= submission.first_name %> <%= submission.last_name %></span>
          <span class="date">Added: <%= I18n.localize(submission.created_at, format:'%d. %B %Y') %></span>
        <% end %>
      </div>
    <% end %>

    <% if @group.room_call.room_call_submissions.empty? %>
      <p> No submissions yet. </p>
    <% end %>
  </div>
</div>
