<div class="discussion-section">

  <%= link_to "Neues Thema starten", "javascript:", class: 'btn-primary -mint btn-new-topic' %>

  <div class="discussion-box"> 
    <% if @group.users.include?(current_user) %>
      <%= render 'groups/discussions/new', group_id: @group.id %>
    <% end %>
  </div>

  <h3 class="header">Aktuell <%= @discussions.size %> <%= @discussions.size > 1 ? 'Themen' : 'Thema'  %> in der Gruppe:</h3>

  <% @discussions.each do |discussion| %>
    <%= render 'groups/discussions/discussion_preview', discussion: discussion %>
  <% end %>
</div>
