<%= form_for(@group) do |f| %>
<%= form_errors_for @group %>
<div class="form-block">
  
  <h2 class="hl-main"><span>Titel</span> und <span>Beschreibung</span></h2>
  <div class="input-field">
    <%= f.label :title do %>
    <%= icon_tag "record" %>
    <span>Titel</span>
    <% end %>
    <%= f.text_field :title, placeholder: 'z.B. My Cool New Group' %>
  </div>
  
  <div class="input-field">
    <%= f.label :description do %>
    <%= icon_tag "layout-document" %>
    <span>Description</span>
    <% end %>
    <%= f.text_area :description, placeholder: 'z.B. My Group is for people to discus new ideas…' %>
  </div>
  
  <h2> Select RoomOffer </h2>
  <div class="input-select">
    <%= select_tag :room_offer_id, options_from_collection_for_select(current_user.room_offers, :id, :slogan, params[:room_offer_id]), id: 'room-offer-select' %>
  </div>

  <%= f.button 'Create Group', data: { disable_with: 'speichert...' }, class: 'btn-primary' %>
</div>
<% end %>