<%= form_for(@group) do |f| %>
<%= form_errors_for @group %>
<div class="form-block">

  <div class="hl-subtext -groups">
    <h2>Für welche <span>Kategorie?</span></h2>
    <p>Wähle eine passende Kategorie für deine Gruppe. (maximal 3)</p>
  </div>

  <div class="group-categories cb-columns">
    <%= f.collection_check_boxes :group_category_ids, GroupCategory.all, :id, :title do |b| %>
    <div class="input-checkbox">
      <%= b.check_box %>
      <%= b.label %>
    </div>
    <% end %>
  </div>

  <h2 class="hl-main"><span>Titel</span> und <span>Beschreibung</span></h2>

  <div class="input-field">
    <%= f.label :title do %>
    <%= icon_tag "record" %>
    <span>Gruppen Titel</span>
    <% end %>
    <%= f.text_field :title, placeholder: 'Gib deiner Gruppe einen kurzen Titel ...' %>
  </div>

  <div class="input-textarea">
    <%= f.label :description do %>
    <%= icon_tag "layout-document" %>
    <span>Beschreibung</span>
    <% end %>
    <%= f.text_area :description, placeholder: 'Hier kannst du deine Gruppe in wenigen Sätzen ausführlicher beschreiben ..' %>
  </div>

  <div class="upload-oldschool">
    <%= f.label :cover_photo do %>
      <%= icon_tag "photo-camera" %>
      <span>Headerbild<small class="upload-hint">(max. 5MB)</small></span>
    <% end %>
    <div class="field-wrp">
      <%= upload_image_input(f, :cover_photo) %>
    </div>
  </div>

  <div class="input-checkbox -permission">
    <%= f.check_box :private %>
    <%= f.label :private, 'Private Gruppe (nur Gruppenmitglieder können Inhalte einsehen)' %>
  </div>

  <div class="hl-subtext -groups">
    <h2>Diskussions <span>Kategorien</span></h2>
    <p>Erstelle Unterthemen für deine Gruppe, du kannst diese auch später noch ändern.</p>
  </div>
  <div class="group-categories cb-columns">
    <%= f.fields_for :discussion_categories do |category_form| %>
      <%= render 'groups/form/discussion_category_fields', f: category_form %>
    <% end %>
    <%= link_to_add_association 'Kategorie hinzufügen', f, :discussion_categories, class: 'add', partial: 'groups/form/discussion_category_fields' %>
  </div>

  <h2 class="hl-main"><span>Wo</span> soll deine Gruppe sichtbar sein?</h2>
  <div id="area-select" data-region="<%= current_region %>" data-graetzl="<%= t("region.#{current_region.id}.graetzl") %>">
    <% if current_region.use_districts? %>
      <div class="input-select">
        <%= f.select :district_ids, district_select_options, {}, { multiple: true, class: 'district-select' } %>
      </div>
    <% end %>
    <div class="input-select">
      <%= f.select :graetzl_ids, graetzl_select_options, {}, { multiple: true, class: 'graetzl-select' } %>
    </div>
  </div>

  <div class="hl-subtext -groups">
    <h2><span>Fragen</span> an neue Mitglieder</h2>
    <p>Möchtest du neuen Mitgliedern beim Gruppenbeitritt gezielte Fragen stellen?</p>
  </div>
  <div class="group-join-questions">
    <% f.object.group_join_questions.build if f.object.group_join_questions.empty? %>
    <%= f.fields_for :group_join_questions do |field_form| %>
    <%= render 'groups/form/join_question_fields', f: field_form %>
    <% end %>
    <div class="group-join-questions-links">
      <%= link_to_add_association 'Weitere Frage hinzufügen', f, :group_join_questions, partial: 'groups/form/join_question_fields' %>
    </div>
  </div>

  <div class="hl-subtext -groups">
    <h2><span>Welcome-Mail</span> an neue Mitglieder</h2>
    <p>Sende neuen Mitgliedern automatisch eine kurze Begrüßung bzw. erste Infos zur Gruppe zu.</p>
  </div>
  <div class="input-textarea">
    <%= f.label :welcome_message do %>
    <%= icon_tag "layout-document" %>
    <span>Welcome-Mail</span>
    <% end %>
    <%= f.text_area :welcome_message, placeholder: 'Hallo, herzlich willkommen in der Gruppe ..' %>
  </div>

  <%= render "groups/form/connections", f: f %>

  <%= f.button @group.new_record? ? 'Gruppe erstellen' : 'Speichern', data: { disable_with: 'speichert...' }, class: 'btn-primary' %>

</div>
<% end %>
