<div class="cardBox -group" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <div class="coverImgWrapper">
      <%= link_to cover_photo_for(group.parent), group %>
    </div>
    <div class="categoryicon">
      <%= icon_tag "speech-bubble" %>
    </div>
  </div>

  <div class="cardBoxContent -group">

    <%= link_to group.title, group, class: 'title' %>

    <p class="infos">
      <%= group.users.size %> <%= group.users.size > 1 ? "Mitglieder" : "Mitglied" %>  &middot;
      <%= group.private? ? "Geschlossene" : "Offene" %> Gruppe
    </p>

    <div class="users">

      <% group.admins.each do |user| next if user == current_user %>
          <%= attachment_image_tag user, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
      <% end %>

      <% if group.users.include?(current_user) %>
        <%= attachment_image_tag current_user, :avatar, :fill, 200, 200, fallback: 'avatar/user/200x200.png', class: 'img-round' %>
      <% end %>

      <% group.members.first(8).each do |user| next if user == current_user %>
        <%= attachment_image_tag user, :avatar, :fill, 200, 200, fallback: 'avatar/user/200x200.png', class: 'img-round' %>
      <% end %>
      <% if group.members.size > 9 %>
        <span> + <%= group.members.size - 9 %> weitere </span>
      <% end %>

    </div>

    <div class="slogan">
      <%= truncate group.description, length: 100 %>
    </div>

    <%= link_to "Zur Gruppe", group, class: 'btn-userIcons -mint' %>
  </div>
</div>
