<div class="nested-fields">

  <%= link_to_remove_association f do %>
    <div class="btn-delete">
      <%= icon_tag "trash-delete-remove" %>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.label :title do %>
      <%= icon_tag "record" %>
      <span>Kategorie</span>
    <% end %>
    <%= f.text_field :title, placeholder: 'Gib deiner Kategorie einen kurzen Titel ..' %>
  </div>

</div>
