<div class="cardBox -group <%= local_assigns[:featured_card] if local_assigns[:featured_card].present? %>" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <div class="coverImgWrapper">
      <%= link_to cover_photo_image(group, class: 'coverImg'), group %>
    </div>
    <div class="categoryicon">
      <%= icon_tag "speech-bubble" %>
    </div>
    <% if group.group_categories.first %>
      <div class="sideflag -category -R">
        <%= safe_join(group.group_categories.map { |category| link_to(category.title, region_groups_path(category: category.id), :rel => 'nofollow') }, ', ') %>
      </div>
    <% end %>
  </div>

  <div class="cardBoxContent -group">

    <%= link_to group.title, group, class: 'title' %>

    <div class="users">
      <% group.admins.last(10).each do |user| %>
        <%= link_to user_path(user), rel: 'nofollow' do %>
          <%= avatar_image user, size: :thumb, class: 'img-round' %>
        <% end %>
      <% end %>
      <% if group.admins.size < 10 %>
        <% group.members.last(10 - group.admins.size).each do |user| %>
          <%= link_to user_path(user), rel: 'nofollow' do %>
            <%= avatar_image user, size: :thumb, class: 'img-round' %>
          <% end %>
        <% end %>
      <% end %>
      <% if group.group_users_count > 10 %>
        <span> + <%= group.group_users_count - 10 %> weitere </span>
      <% end %>
    </div>

    <div class="slogan">
      <%= truncate group.description, length: 100 %>
    </div>

    <%= link_to "Zur Gruppe", group, class: 'btn-userIcons -mint' %>
  </div>
</div>
