<div class="group-header">

  <div class="coverImg">
    <%= link_to group_path(@group) do %>
      <%= cover_header_image(@group, class: 'coverImg') %>
    <% end %>
    <% if @group.group_categories %>
      <div class="sideflag -category -R">
        <% @group.group_categories.each do |category| %>
          <%= link_to category.title, groups_wien_path(category: category.id), rel: 'nofollow' %><br>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="groupInfos">
    <h1 class="hl-main"><%= @group.title %></h1>

    <% if @group.location %>
      <div class="parent"><%= icon_tag('location') %><div>Gruppe für <%= link_to @group.location, [Graetzl.memoized(@group.location.graetzl_id), @group.location] %></div></div>
    <% elsif @group.parent %>
      <div class="parent"><%= icon_tag('raumteiler') %><div>Gruppe für <%= link_to @group.parent, @group.parent %></div></div>
    <% end %>

    <p class="facts">

      <% if @group.default_joined? %>
          <% if @group.private? %>
            <%= icon_tag('lock-1') %>Geschlossene Gruppe
          <% else %>
            <%= icon_tag('users') %>Offene Gruppe
          <% end %>
      <% else %>
          <%= icon_tag('users') %><%= @group.group_users.size %> <%= @group.group_users.size > 1 ? "Mitglieder" : "Mitglied" %>
          <span class="separator">&middot;</span>
          <%= icon_tag('lock-1') if @group.private? %><%= @group.private? ? "Geschlossene" : "Offene" %> Gruppe
      <% end %>

    </p>
    <div class="users">
      <% @group.admins.to_a.first(5).each do |user| %>
      <div class="user">
        <div class="avatar">
          <%= link_to user_path(user) do %>
            <%= avatar_image_with_tooltip(user, size: :small, class: 'img-round') %>
          <% end %>
        </div>
        <div class="infos">
          <div class="title">Organisiert von:</div>
          <span><%= user.full_name %></span>
        </div>
      </div>
      <% end %>
      <% if @group.admins.size > 5 %>
      <div class="user -more">
        <div class="avatar">
          <%= icon_tag "user-avatar" %>
        </div>
        <div class="infos">
          <span>+ <%= @group.admins.size - 5 %> weitere</span>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
