<div class="group-header">

  <div class="coverImg">
    <%= link_to group_path(@group) do %>
      <%= attachment_image_tag @group, :cover_photo, :fill, 980, 500, fallback: 'cover_photo/980x370.png', class: 'coverImg' %>
    <% end %>
  </div>

  <div class="groupInfos">
    <h1 class="hl-main"><%= @group.title %></h1>
    <% if @group.parent %>
      <p>Raumteiler Gruppe für <%= link_to @group.parent, @group.parent %> </p>
    <% end %>
    <p>
      <%= @group.users.count %> Mitglieder &middot;
      <%= @group.private? ? "Geschlossene" : "Offene" %> Gruppe
    </p>
    <div class="users">
      <% @group.admins.each do |user| %>
      <div class="user">
        <div class="avatar">
          <%= attachment_image_tag user, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
        </div>
        <div class="infos">
          <div class="title">Organisiert von:</div>
          <span><%= user.full_name %></span>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
