<%= form_tag request_join_group_path(group) do %>
  <h1>Wir freuen uns auf Dich!</h1>
  <% if group.group_join_questions.present? %>
    <% group.group_join_questions.each do |join_question| %>
      <h3><%= join_question.question %></h3>
      <div class="input-textarea">
        <%= text_area_tag :"join_answers[]", nil, cols: 40, rows: 3 %>
      </div>
    <% end %>
  <% else %>
    <div class="input-textarea">
      <%= text_area_tag :request_message, nil, cols: 40, rows: 3, placeholder: 'Schreib noch einen kurzen Satz über Dich, bzw. warum Du beitreten möchtest ..' %>
    </div>
  <% end %>
  <%= submit_tag "Jetzt beitreten", class: 'btn-primary' %>
<% end %>
