<% title('Gruppe erstellen') %>

<section class="group-form-page">

  <div class="hl-subtext">

      <h1><span>Neue Gruppe</span> erstellen</h1>

      <% if current_user.locations.present? && current_user.locations.where(:id => params[:location_id]).exists? %>

        <p>F端r deine Location "<%= Location.find(params[:location_id]).name %>"</p>

      <% elsif current_user.room_offers.present? && current_user.room_offers.where(:id => params[:room_offer_id]).exists? %>

        <p>F端r deinen Raumteiler "<%= RoomOffer.find(params[:room_offer_id]) %>"</p>

      <% elsif current_user.room_demands.present? && current_user.room_demands.where(:id => params[:room_demand_id]).exists? %>

        <p>F端r deinen Raumteiler "<%= RoomDemand.find(params[:room_demand_id]) %>"</p>

      <% elsif current_user.room_calls.present? && current_user.room_calls.where(:id => params[:room_call_id]).exists? %>

        <p>F端r deinen Open Call "<%= RoomCall.find(params[:room_call_id]).title %>"</p>

      <% end %>

  </div>

  <%= render 'form' %>

</section>
