<% meta(
    title: @group.title,
    description: (@group.description[0...154] if @group.description?),
    robots: 'index, follow',
    og_title: @group.title,
    og_description: (@group.description[0...154] if @group.description?),
    og_image: @group.cover_photo_url || image_url('meta/og_logo.png')
  )
%>

<div class="group-page">

  <%= render 'groups/header' %>
  <%= render 'groups/btn_ctrl', group: @group %>

  <div class='tabs-ctrl'>

    <!-- NAVIGATION -->
    <ul class="tabs-nav">
      <li><a href="#tab-info">Die Gruppe</a></li>
      <% if @group.readable_by?(current_user) %>
        <li><a href="#tab-discussions">Themen</a></li>
        <% if !@group.default_joined? %>
          <li><a href="#tab-meetings">Treffen</a></li>
          <li><a href="#tab-members">Mitglieder</a></li>
        <% end %>
      <% end %>
      <% if @group.room_call_readable_by?(current_user) %>
        <li><a href="#tab-call">Call</a></li>
      <% end %>
    </ul>
    <!-- /NAVIGATION -->

    <!-- CONTENT -->
    <div id='tab-info'><%= render 'groups/show/info' %></div>
    <% if @group.readable_by?(current_user) %>
      <div id='tab-discussions'><%= render 'groups/show/discussions' %></div>
      <% if !@group.default_joined? %>
        <div id='tab-meetings'><%= render 'groups/show/meetings' %></div>
        <div id='tab-members'><%= render 'groups/show/members' %></div>
      <% end %>
    <% end %>
    <% if @group.room_call_readable_by?(current_user) %>
      <div id='tab-call'><%= render 'groups/show/call' %></div>
    <% end %>
    <!-- /CONTENT -->

  </div>

</div>
