<% meta(
    title: @group.title,
    description: (@group.description[0...154] if @group.description?),
    robots: 'index, follow',
    og_title: @group.title,
    og_description: (@group.description[0...154] if @group.description?),
    og_image: attachment_url(@group, :cover_photo, host: url_for(:only_path => false, :overwrite_params => nil), fallback: 'meta/og_logo.png')
  )
%>

<% content_for :pagemap do %>
  <!--
  <PageMap>
    <DataObject type="document">
      <Attribute name="type">group</Attribute>
      <Attribute name="searchable">true</Attribute>
      <Attribute name="id"><%= @group.id %></Attribute>
      <Attribute name="title"><%= @group.title %></Attribute>
      <Attribute name="group_visibility"><%= @group.private? ? "Geschlossene" : "Offene" %> Gruppe</Attribute>
      <Attribute name="description"><%= @group.description[0..250].gsub(/\n/, " ") if @group.description? %></Attribute>
      <% if @group.parent %>
      <Attribute name="parent"><%= @group.parent %></Attribute>
      <% end %>
      <% if (@group.parent.is_a? RoomCall) %>
      <Attribute name="parent_path"><%= room_call_path(@group.parent) %></Attribute>
      <% elsif (@group.parent.is_a? RoomOffer) %>
      <Attribute name="parent_path"><%= room_offer_path(@group.parent) %></Attribute>
      <% elsif (@group.parent.is_a? RoomDemand) %>
      <Attribute name="parent_path"><%= room_demand_path(@group.parent) %></Attribute>
      <% elsif (@group.parent.is_a? Location) %>
      <Attribute name="parent_path"><%= location_path(@group.parent) %></Attribute>
      <% end %>
      <Attribute name="users_count"><%= @group.users.count %></Attribute>
    </DataObject>
    <% @group.users.first(10).each do |user| %>
    <DataObject type="members">
      <Attribute name="src" value="<%= attachment_url(user, :avatar, :fill, 200, 200, host: url_for(:only_path => false, :overwrite_params => nil), fallback: 'avatar/user/100x100.png') %>" />
    </DataObject>
    <% end %>
    <DataObject type="image">
      <Attribute name="src" value="<%= attachment_url(@group, :cover_photo, :fill, 900, 540, host: url_for(:only_path => false, :overwrite_params => nil), fallback: 'cover_photo/980x370.png') %>" />
    </DataObject>
  </PageMap>
  -->
<% end %>

<div class="group-page">

  <%= render 'groups/header' %>
  <%= render 'groups/btn_ctrl', group: @group %>

  <div class='tabs-ctrl'>

    <!-- NAVIGATION -->
    <ul class="tabs-nav">
      <li><a href="#tab-info">Die Gruppe</a></li>
      <% if @group.readable_by?(current_user) %>
        <li><a href="#tab-discussions">Diskussionen</a></li>
        <li><a href="#tab-meetings">Treffen</a></li>
        <li><a href="#tab-members">Mitglieder</a></li>
      <% end %>
      <% if @group.room_call_readable_by?(current_user) %>
        <li><a href="#tab-call">Call</a></li>
      <% end %>
    </ul>
    <!-- /NAVIGATION -->

    <!-- CONTENT -->
    <div id='tab-info'><%= render 'info' %></div>
    <% if @group.readable_by?(current_user) %>
      <div id='tab-discussions'><%= render 'discussions' %></div>
      <div id='tab-meetings'><%= render 'meetings' %></div>
      <div id='tab-members'><%= render 'members' %></div>
    <% end %>
    <% if @group.room_call_readable_by?(current_user) %>
      <div id='tab-call'><%= render 'call' %></div>
    <% end %>

    <!-- /CONTENT -->

  </div>

</div>
