<div class="group-page">

  <%= render 'groups/header' %>
  <%= render 'groups/btn_ctrl', group: @group %>

  <div class='tabs-ctrl'>

    <!-- NAVIGATION -->
    <ul class="tabs-nav">
      <li><a href="#tab-info">Die Gruppe</a></li>
      <% if @group.readable_by?(current_user) %>
        <li><a href="#tab-discussions">Diskussionen</a></li>
        <li><a href="#tab-meetings">Treffen</a></li>
        <li><a href="#tab-members">Mitglieder</a></li>
      <% end %>
      <% if @group.room_call_readable_by?(current_user) %>
        <li><a href="#tab-call">Call</a></li>
      <% end %>
    </ul>
    <!-- /NAVIGATION -->

    <!-- CONTENT -->
    <div id='tab-info'><%= render 'info' %></div>
    <% if @group.readable_by?(current_user) %>
      <div id='tab-discussions'><%= render 'discussions' %></div>
      <div id='tab-meetings'><%= render 'meetings' %></div>
      <div id='tab-members'><%= render 'members' %></div>
    <% end %>
    <% if @group.room_call_readable_by?(current_user) %>
      <div id='tab-call'><%= render 'call' %></div>
    <% end %>

    <!-- /CONTENT -->

  </div>

</div>
