<section class="groupDetail">
  <h3><%= @group.title %> – Discussions</h3>
  <p><%= @group.description %></p>

  <aside>
    <h4>Admin</h4>
    <div class="group-user group-admin">
      <%= attachment_image_tag @group.admin, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
      <p><%= @group.admin.first_name %> <%= @group.admin.last_name %></p>
    </div>

    <h4>Members</h4>
    <% @group.users.each do |user| %>
      <div class="group-user group-member">
        <%= attachment_image_tag user, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
        <p><%= user.first_name %> <%= user.last_name %></p>
      </div>
    <% end %>
  </aside>

  <% if @group.visible_to?(current_user) %>
    <%= render 'discussions' %>
  <% else %>
    <%= render 'private' %>
  <% end %>
</section>
