<%= form_for user do |f| %>
  <%= form_errors_for user, 'Dein Profil' %>

  <div class="formBlock">
    <h2><span>Zugangsdaten</span> für deinen Account</h2>
    <div class="formRow -double">
      <div class="input-field">
        <%= f.label :email do %>
          <%= icon_tag "at-symbol" %>
          <span>E-Mail</span>
        <% end %>
        <%= f.email_field :email %>
      </div>
      <div class="input-field">
        <%= f.label :password do %>
          <%= icon_tag "unlocked" %>
          <span>Passwort</span>
        <% end %>
        <%= f.password_field :password %>
      </div>
    </div>
  </div>

  <div class="formBlock">
    <h2>Informationen <span>über dich</span></h2>
    <div class="formRow -double">
      <div class="input-field disabled">
        <%= f.label :username do %>
          <%= icon_tag "user-avatar" %>
          <span>Username</span>
        <% end %>
        <%= f.text_field :username, disabled: true %>
      </div>
    </div>

    <div class="formRow -double">
      <div class="input-field">
        <%= f.label :first_name do %>
          <%= icon_tag "user-avatar" %>
          <span>Vorname</span>
        <% end %>
        <%= f.text_field :first_name %>
      </div>
      <div class="input-field">
        <%= f.label :last_name do %>
          <%= icon_tag "user-avatar" %>
          <span>Nachname</span>
        <% end %>
        <%= f.text_field :last_name %>
      </div>
    </div>

    <div class="formRow -double">
      <div class="input-textarea">
        <%= f.label :bio do %>
          <%= icon_tag "layout-document" %>
          <span>Über mich</span>
        <% end %>
        <%= f.text_area :bio, size: '30x10', placeholder: 'Ein paar Infos über dich' %>
      </div>

      <div class="upload-oldschool">
        <%= f.label :avatar do %>
          <%= icon_tag "photo-camera" %>
          <span><%= User.human_attribute_name(:avatar) %></span>
        <% end %>
        <div class="field-wrp">
          <%= upload_image_input(f, :avatar) %>
        </div>
      </div>
    </div>
  </div>

  <div class="formBlock profileSection">
    <h2>Ergänzungen zur <span>Profilseite</span></h2>
    <div class="formRow -double">
      <div class="col1">

        <div class="input-field">
          <%= f.label :website do %>
            <%= icon_tag "globe" %>
            <span>Web/Blog</span>
          <% end %>
          <%= f.url_field :website, placeholder: 'Deine Web-, FB- oder Blog Url eintragen' %>
        </div>
        <div class="upload-oldschool">
          <%= f.label :cover_photo do %>
            <%= icon_tag "photo-camera" %>
            <span><%= User.human_attribute_name(:cover_photo) %></span>
          <% end %>
          <div class="field-wrp">
            <%= upload_image_input(f, :cover_photo) %>
          </div>
        </div>

      </div>
      <div class="col2">

        <div class="input-checkbox">
          <%= f.check_box :newsletter %>
          <%= f.label :newsletter, 'Newsletter abonnieren' %>
        </div>
        <div class="input-checkbox">
          <%= f.check_box :business %>
          <%= f.label :business, 'Ich bin wirtschaftlich und/oder kreativ tätig' %>
        </div>
      </div>

    </div>
  </div>

  <%= f.submit 'Speichern', data: { disable_with: 'speichert...' }, class: 'btn-primary' %>
<% end %>

<%= button_to 'Account löschen', registration_path, data: { confirm: 'Bist du dir sicher? Kann nicht rückgängig gemacht werden.' },
    method: :delete, class: 'btn-destroy' %>
