<% graetzl = Graetzl.memoized(location.graetzl_id) %>

<div class="cardBox">
  <div class="cardBoxHeader">
    <%= link_to [graetzl, location] do %>
      <div class="coverImgWrapper">
        <%= cover_photo_image(location, class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "location" %>
    </div>
  </div>
  <div class="cardBoxContent">
    <div class="avatar-block">
      <%= link_to [graetzl, location], class: 'avatarImg' do %>
        <%= avatar_image(location, size: :small, class: 'img-square avatar') %>
      <% end %>
      <div class="typetxt">
        <%= link_to location.name, [graetzl, location], class: 'name' %>
        <div class="category"><%= location.location_category.name if location.location_category %></div>
        <% if location.using_address? %>
          <div class="address">
            <%= icon_tag "location" %>
            <%= location.address_street %>
          </div>
        <% end %>
      </div>
    </div>
    <% if location.pending? %>
      <div class="itemstate">
        <div class="state">Dein Schaufenster wird noch geprüft...</div>
        <div class="txt">Wir schicken dir ein E-Mail, sobald dein Schaufenster freigeschalten wurde.</div>
      </div>
    <% end %>
    <div class="btn-group">
      <%= link_to 'Bearbeiten', edit_location_path(location), class: 'btn-secondary -mint -small' %>
      <%= link_to 'Löschen', location_path(location),
        data: { confirm: 'Bist du dir sicher?' },
        method: :delete,
        class: 'btn-secondary -mint -small' %>
      <%= link_to('Zuckerl buchen', new_location_zuckerl_path(location), class: 'btn-primary -mint -small') unless location.pending? %>
    </div>
  </div>
</div>
