<div class="tabs-ctrl">
  <ul class="tabs-nav">
    <li><a href="#tab-1"><%= @initiated.total_count %> Treffen erstellt</a></li>
    <li><a href="#tab-2">An <%= @attended.total_count %> Treffen teilgenommen</a></li>
  </ul>
  <div id="tab-1">
    <!-- Dies als defaulttext nehmen -->
    <!-- <div class="defaultText">Im Moment sind keine Treffen geplant.</div> -->
    <div id="initiated" class="meetingBoxCollection -tripple" data-tabID="one">
      <%= render @initiated %>
    </div>
    <%= view_more_scoped(@initiated, :initiated) %>
  </div>
  <div id="tab-2">
    <!-- Dies als defaulttext nehmen -->
    <!-- <div class="defaultText">Der User hat an noch keinen Treffen teilgenommen..</div> -->
    <div id="attended" class="meetingBoxCollection -tripple" data-tabID="two">
      <%= render @attended %>
    </div>
    <%= view_more_scoped(@attended, :attended) %>
  </div>
</div>
