<div class="tabs-ctrl">
  <ul class="tabs-nav">
    <li><a href="#tab-1"><%= @initiated.total_count %> Treffen erstellt</a></li>
    <li><a href="#tab-2">An <%= @attended.total_count %> Treffen teilgenommen</a></li>
  </ul>
  <div id="tab-1">
    <!-- Dies als defaulttext nehmen -->
    <!-- <div class="defaultText">Im Moment sind keine Treffen geplant.</div> -->
    <div id="initiated" class="cardBoxCollection -tripple" data-tabID="one" data-behavior="initiated-container">
      <%= render @initiated %>
    </div>
    <%= view_more_of @initiated, 'initiated' %>
  </div>
  <div id="tab-2">
    <!-- Dies als defaulttext nehmen -->
    <!-- <div class="defaultText">Der User hat an noch keinen Treffen teilgenommen..</div> -->
    <div id="attended" class="cardBoxCollection -tripple" data-tabID="two" data-behavior="attended-container">
      <%= render @attended %>
    </div>
    <%= view_more_of @attended, 'attended' %>
  </div>
</div>
