<div class="flex-table row" role="rowgroup">
  <div class="flex-row large user" role="cell">
    <div>
      <%= link_to tool_rental.renter do %>
        <%= avatar_image(tool_rental.renter, size: :thumb, class: 'img-round avatar') %>
      <% end %>
    </div>
    <div class="name">
      <%= link_to tool_rental.renter do %>
        <%= tool_rental.renter.first_name %><br>
        <%= tool_rental.renter.last_name %>
      <% end %>
    </div>
  </div>
  <div class="flex-row large" role="cell">
    <% if tool_rental.tool_offer.enabled? %>
      <%= link_to tool_rental.tool_offer.title.truncate(35), tool_rental.tool_offer %>
    <% else %>
      <%= tool_rental.tool_offer.title.truncate(35) %>
    <% end %>
  </div>
  <div class="flex-row medium" role="cell"><%= l(tool_rental.rent_from, format: :short) %> - <%= l(tool_rental.rent_to, format: :short) %></div>
  <div class="flex-row small" role="cell"><%= number_to_currency(tool_rental.owner_payout_amount, unit: "€") %></div>
  <div class="flex-row large status <%= tool_rental.rental_status %>" role="cell">
    <span>
      <%= t("activerecord.attributes.tool_rental.rental_statuses.#{tool_rental.rental_status}") %>
    </span>
    <% if tool_rental.invoice_ready? %>
    <span>
      <%= link_to "Download Gutschrift", tool_rental.owner_invoice.presigned_url(:get), class: 'invoice-link' %>
    </span>
    <% end %>
  </div>
  <div class="flex-row medium btn" role="cell">
    <% if tool_rental.user_message_thread %>
      <%= link_to 'Messenger', messenger_path(thread_id: tool_rental.user_message_thread.id), class: 'btn-secondary -small -mint' %>
    <% end %>
  </div>
</div>
