<div class="flex-table row" role="rowgroup">
  <div class="flex-row large user" role="cell">
    <div>
      <%= link_to room_rental.renter do %>
        <%= avatar_image(room_rental.renter, size: :small, class: 'img-round avatar') %>
      <% end %>
    </div>
    <div class="name">
      <%= link_to room_rental.renter do %>
        <%= room_rental.renter.first_name %><br>
        <%= room_rental.renter.last_name %>
      <% end %>
    </div>
  </div>
  <div class="flex-row large" role="cell">
    <% if room_rental.room_offer.enabled? %>
      <%= link_to room_rental.room_offer.slogan.truncate(35), room_rental.room_offer %>
    <% else %>
      <%= room_rental.room_offer.slogan.truncate(35) %>
    <% end %>
  </div>
  <div class="flex-row medium" role="cell"><%= room_rental.rental_period %></div>
  <div class="flex-row small" role="cell"><%= number_to_currency(room_rental.owner_payout_amount, unit: "€") %></div>
  <div class="flex-row large status <%= room_rental.rental_status %>" role="cell">
    <span>
      <%= t("activerecord.attributes.room_rental.rental_statuses.#{room_rental.rental_status}") %>
    </span>
    <% if room_rental.invoice_ready? %>
    <span>
      <%= link_to "Rechnung Mieter", room_rental.renter_invoice.presigned_url(:get), class: 'invoice-link' %><br>
      <%= link_to "Rechnung Vermieter", room_rental.owner_invoice.presigned_url(:get), class: 'invoice-link' %>
    </span>
    <% end %>
  </div>
  <div class="flex-row medium btn" role="cell">
    <% if room_rental.user_message_thread %>
      <%= link_to 'Messenger', messenger_path(thread_id: room_rental.user_message_thread.id), class: 'btn-secondary -small -mint' %>
    <% end %>
  </div>
</div>
