<% if @rooms.empty? %>
  <div class="introcontainer">
    <div class="introtxt">

      <div class="hl-subtext" id="teilnahme">
        <h1><em>Der Raumteiler auf <%= t("region.#{current_region.id}.domain_full") %></em></h1>
        <p>Gewerbeflächen teilen - Kosten teilen. <%= render 'shared/questionmarklink', hint_url: info_raumteiler_path %></p>
      </div>

      <h3>Der Raumteiler ist eine Art WG-Partnersuche für Gewerbeflächen.</h3>
      <ul class="list-basic">
        <li>Raumhabende und Raumsuchende werden zu neuen Raumpartnerschaften verbunden.</li>
        <li>Trage deine freien Raumressourcen kostenlos ein: Büro, Geschäftslokal, Praxis, Werkstatt, oder Studio und Atelier!</li>
        <li>Du kannst das Kurzzeitmieten Buchungstool optional nutzen, wenn du die Buchung und Bezahlung direkt über den Raumteiler abwickeln willst.</li>
        <li>Wenn du Raum zum Andocken suchst, dann veröffentliche jetzt kostenlos deinen Raumwunsch!</li>
      </ul>

      <h3>Wir Trommeln für dein Raumteilergesuch via ...</h3>
      <ul class="list-basic">
        <li>Newsletter <%= t("region.#{current_region.id}.in_region") %></li>
        <li>Social Media Kanäle</li>
      </ul>

      <h3>Raumpartnerschaften = neue Formen der Zusammenarbeit</h3>
      <ul class="list-basic">
        <li>Kooperationen</li>
        <li>Hin zu mehr WIR</li>
        <li>Gegenseitige Unterstützung</li>
      </ul>

    </div>
    <%= render 'rooms/action_card', user: @user %>
  </div>

<% else %>

  <div class="cardBoxCollection -tripple" data-behavior="rooms-card-container">
    <%= render @rooms, manage_buttons: true %>
  </div>
  <div class="action-card-container">
    <%= render 'rooms/action_card', user: @user %>
  </div>

<% end %>
