<% actual_plan = current_user.subscribed? && current_user.subscription.subscription_plan == subscription_plan %>

<div class="cardBox -subscription-plan" data-behavior="masonry-card" data-card-id="subscription_plan-<%= subscription_plan.id %>">

  <div class="cardBoxHeader">
    <div class="coverImgWrapper">
      <%= image_tag('info/cardbox-abo.jpg', class: 'coverImg') %>
    </div>
  </div>

  <div class="cardBoxContent">
    <ul class="pricing-summary -facts">
      <p class="title"><%= subscription_plan %></p>
    </ul>
    <ul class="pricing-summary">
      <li>
        <div class="cost"><%= number_to_currency(subscription_plan.amount, unit: "€") %></div>
        <div class="costname"><%= t("activerecord.attributes.subscription_plan.per_interval.#{subscription_plan.interval}") %></div>
      </li>

        <% if @subscription.on_grace_period? %>
        <li class="sum">
        Du hast dein Abo storniert. Dieses läuft noch bis zum <%= I18n.localize(@subscription.ends_at, format:'%d. %B %Y') %>
        </li>
        <% elsif @subscription.canceled? %>
        <li class="sum">
        Dein Abo ist am <%= I18n.localize(@subscription.ends_at, format:'%d. %B %Y') %> abgelaufen.
        </li>
        <% end %>

    </ul>

    <% if @subscription.on_grace_period? %>

      <%= link_to "Abo fortsetzen", resume_subscription_path(@subscription), method: :patch, class: 'btn-primary' %>

    <% elsif @subscription.active? %>

      <%= link_to "Abo ändern", subscription_plans_path, class: 'btn-primary -mint' %>
      <%= link_to "Abo stornieren", subscription_path(@subscription), method: :delete, data: { confirm: "Bist du sicher?" }, class: 'btn-primary -grey' if !@subscription.on_grace_period? %>

    <% elsif @subscription.canceled? %>

      <%= link_to "Zur Abo Übersicht", subscription_plans_path, class: 'btn-primary -mint' %>

    <% end %>

  </div>

</div>
