<% actual_plan = current_user.subscribed? && current_user.subscription.subscription_plan == subscription_plan %>

<div class="cardBox -subscription-plan" data-behavior="masonry-card" data-card-id="subscription_plan-<%= subscription_plan.id %>">

  <div class="cardBoxHeader">
    <div class="coverImgWrapper">
      <%= image_tag("info/cardbox-abo#{subscription_plan.image_url}.jpg", class: 'coverImg') %>
    </div>
    <div class="categoryicon">
      <%= subscription_plan %>
    </div>
  </div>

  <div class="cardBoxContent">
    <ul class="pricing-summary -facts">
      <p class="title"><%= subscription_plan %></p>
    </ul>
    <ul class="pricing-summary">
      <li>
        <div class="cost"><%= number_to_currency(subscription_plan.amount, unit: "€") %></div>
        <div class="costname"><%= t("activerecord.attributes.subscription_plan.per_interval.#{subscription_plan.interval}") %></div>
      </li>

        <% if @subscription.on_grace_period? %>
        <li class="sum">
        Deine Mitgliedschaft läuft noch bis zum <%= I18n.localize(@subscription.ends_at, format:'%d. %B %Y') %>.
        </li>
        <% elsif @subscription.canceled? %>
        <li class="sum">
        Deine Mitgliedschaft ist am <%= I18n.localize(@subscription.ends_at, format:'%d. %B %Y') %> ausgelaufen.
        </li>
        <% end %>

    </ul>

    <% if @subscription.on_grace_period? %>

      <%= link_to "Mitgliedschaft fortsetzen", resume_subscription_path(@subscription), method: :patch, class: 'btn-primary' %>
      <%= link_to 'Zuckerl einlösen', new_zuckerl_path, class: 'btn-primary -mint' if @subscription.open_zuckerl? %>

    <% elsif @subscription.active? %>

      <%= link_to "Mitgliedschaft ändern", subscription_plans_path, class: 'btn-primary -mint' %>
      <%= link_to 'Zuckerl einlösen', new_zuckerl_path, class: 'btn-primary -mint' if @subscription.open_zuckerl? %>
      <%= link_to "Mitgliedschaft stornieren", subscription_path(@subscription), method: :delete, data: { confirm: "Bist du sicher?" }, class: 'btn-primary -grey' if !@subscription.on_grace_period? %>

    <% elsif @subscription.canceled? %>

      <%= link_to "Zur Mitgliedschaft Übersicht", subscription_plans_path, class: 'btn-primary -mint' %>

    <% end %>

  </div>

</div>
