<% actual_plan = current_user.subscribed? && current_user.subscription.subscription_plan == subscription_plan %>

<div class="cardBox -subscription-plan" data-behavior="masonry-card" data-card-id="subscription_plan-<%= subscription_plan.id %>">

  <div class="cardBoxHeader">
    <div class="coverImgWrapper">
      <%= image_tag("info/cardbox-abo#{subscription_plan.image_url}.jpg", class: 'coverImg') %>
    </div>
    <div class="categoryicon">
      <%= subscription_plan.short_name %>
    </div>
  </div>

  <div class="cardBoxContent">
    <ul class="pricing-summary -facts">
      <p class="title"><%= subscription_plan %></p>
    </ul>
    <ul class="pricing-summary">
      <% if @subscription.coupon.present? %>
        <% if @subscription.coupon.once? %>
          <li>
            <div class="cost"><%= number_to_currency(subscription_plan.amount, unit: "€") %></div>
            <div class="costname">
              <strong><%= t("activerecord.attributes.subscription_plan.per_interval.#{subscription_plan.interval}") %></strong>
              <% if subscription_plan.interval == 'year' %>
              <br><small>(entspricht <%= number_to_currency(subscription_plan.equals_monthly_price, unit: "€") %> pro Monat)</small>
              <br>
              <small>inkl. MwSt.</small>
              <% end %>
            </div>
          </li>
        <% else %>
          <li>
            <div class="cost linethrough"><%= number_to_currency(subscription_plan.amount, unit: "€") %></div>
            <div class="costname linethrough">
              <%= t("activerecord.attributes.subscription_plan.per_interval.#{subscription_plan.interval}") %>
              <% if subscription_plan.interval == 'year' %>
              <br><small>(entspricht <%= number_to_currency(subscription_plan.equals_monthly_price, unit: "€") %> pro Monat)</small>
              <% end %>
            </div>
          </li>
        <% end %>
        <% if @subscription.coupon.amount_off.present? %>
          <li>
            <div class="rabatt">- <%= number_to_currency(@subscription.coupon.amount_off, unit: "€") %></div>
            <div class="costname"><%= @subscription.coupon.discount_description %></div>
          </li>
        <% end %>
        <% if @subscription.coupon.percent_off.present? %>
          <li>
            <div class="rabatt">- <%= @subscription.coupon.percent_off %>%</div>
            <div class="costname"><%= @subscription.coupon.discount_description %></div>
          </li>
        <% end %>
        <% if @subscription.coupon.long_term_coupon? %>
         <li class="sum">
            <div class="cost"><%= number_to_currency(subscription_plan.discounted_amount(amount_off: @subscription.coupon.amount_off, percent_off: @subscription.coupon.percent_off), unit: "€") %></div>
            <div class="costname">
              <%= t("activerecord.attributes.subscription_plan.per_interval.#{subscription_plan.interval}") %>
              <% if subscription_plan.interval == 'year' %>
              <br><small>(entspricht <%= number_to_currency(subscription_plan.discounted_equals_monthly_price(amount_off: @subscription.coupon.amount_off, percent_off: @subscription.coupon.percent_off), unit: "€") %> pro Monat)</small>
              <% end %>
              <br>
              <small>inkl. MwSt.</small>
            </div>
          </li>
        <% else %>
          
        <% end %>
      <% else %>
        <li>
          <div class="cost"><%= number_to_currency(subscription_plan.amount, unit: "€") %></div>
          <div class="costname">
            <%= t("activerecord.attributes.subscription_plan.per_interval.#{subscription_plan.interval}") %>
            <% if subscription_plan.interval == 'year' %>
            <br><small>(entspricht <%= number_to_currency(subscription_plan.equals_monthly_price, unit: "€") %> pro Monat)</small>
            <% end %>
          </div>
        </li>
         <li class="sum">
          <div class="cost"><%= number_to_currency(subscription_plan.amount, unit: "€") %></div>
          <div class="costname">
            Gesamtbetrag
            <br>
            <small>inkl. MwSt.</small>
          </div>
        </li>
      <% end %>

        <% if @subscription.on_grace_period? %>
        <li class="sum">
          Deine Mitgliedschaft läuft noch bis zum <%= I18n.localize(@subscription.ends_at, format:'%d. %B %Y') %>.
        </li>
        <% elsif @subscription.canceled? %>
        <li class="sum">
          Deine Mitgliedschaft ist am <%= I18n.localize(@subscription.ends_at, format:'%d. %B %Y') %> ausgelaufen.
        </li>
        <% elsif @subscription.past_due? && @subscription.subscription_invoices.open.any? %>
        <li class="sum">
          Für deine Mitgliedschaft liegt eine offene Rechnung vor. Bitte schließe deine Zahlung jetzt ab.
        </li>
        <% elsif @subscription.past_due? && !@subscription.subscription_invoices.open.any? %>
        <li class="sum">
          Bitte aktualisiere deine Zahlungsmethode um deine aktuelle Fördermitgliedschaft zu verlängern.
        </li>
        <% end %>

    </ul>

    <% if @subscription.on_grace_period? %>

      <%= link_to 'Zuckerl einlösen', new_zuckerl_path, class: 'btn-primary -mint' if @subscription.open_zuckerl? %>
      <%= link_to "Zur Mitgliedschaft Übersicht", subscription_plans_path, class: 'btn-primary -mint' %>
      <!--<%= link_to "Mitgliedschaft fortsetzen", resume_subscription_path(@subscription), method: :patch, class: 'btn-primary' %>-->

    <% elsif @subscription.active? %>

      <%= link_to 'Zuckerl einlösen', new_zuckerl_path, class: 'btn-primary -mint' if @subscription.open_zuckerl? %>
      <%= link_to "Mitgliedschaft stornieren", subscription_path(@subscription), method: :delete, data: { confirm: "Bist du sicher?" }, class: 'btn-primary -grey' if !@subscription.on_grace_period? %>

    <% elsif @subscription.canceled? %>

      <%= link_to "Zur Mitgliedschaft Übersicht", subscription_plans_path, class: 'btn-primary -mint' %>

    <% elsif @subscription.past_due? && @subscription.subscription_invoices.open.any? %>

      <% invoice = @subscription.subscription_invoices.open.last %>
      <%= link_to "Zahlung abschließen", change_payment_subscription_path(@subscription, payment_intent: invoice.stripe_payment_intent_id), class: 'btn-primary' %>

    <% elsif @subscription.past_due? %>

      <%= link_to "Zahlungsmethode aktualisieren", payment_method_user_path, class: 'btn-primary' %>

    <% end %>

  </div>

</div>
