<div class="flex-table row" role="rowgroup">
  <div class="flex-row wide20 first" role="cell">
    <%= link_to tool_rental.tool_offer.title.truncate(33), tool_rental.tool_offer %>
  </div>
  <div class="flex-row wide20" role="cell">
    <% if !tool_rental.user_message_thread.nil? %>
      <%= link_to messenger_path(thread_id: tool_rental.user_message_thread.id), class: 'message' do %>
        <%= icon_tag "speech-bubbles" %>
        <%= user.full_name %>
      <% end %>
    <% else %>
      <%= user.full_name %>
    <% end %>
  </div>
  <div class="flex-row" role="cell"><%= l(tool_rental.rent_from) %></div>
  <div class="flex-row" role="cell"><%= l(tool_rental.rent_to) %></div>
  <div class="flex-row" role="cell"><%= number_to_currency(tool_rental.total_price, unit: "€") %></div>
  <div class="flex-row wide20" role="cell">
    <div class="status">
      <%= t("activerecord.attributes.tool_rental.rental_statuses.#{tool_rental.rental_status}") %>
      <% if tool_rental.approved? %>
        / <%= t("activerecord.attributes.tool_rental.payment_statuses.#{tool_rental.payment_status}") %>
        <% end %>
    </div>
    <% if tool_rental.invoice_ready? %>
      <div class="invoice">
        <% if user == tool_rental.owner %>
          <%= link_to "Gutschriften", tool_rental.owner_invoice.presigned_url(:get), class: 'invoice-link' %>
        <% elsif user == tool_rental.renter %>
          <%= link_to "Gutschriften", tool_rental.renter_invoice.presigned_url(:get), class: 'invoice-link' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
