<div class="flex-table row" role="rowgroup">
  <div class="flex-row first" role="cell">
    <%= link_to tool_rental.tool_offer.title, tool_rental.tool_offer %>
  </div>
  <div class="flex-row" role="cell">
    <%= link_to user.full_name, user  %>
  </div>
  <div class="flex-row" role="cell"><%= tool_rental.rent_from.to_s(:weekday) %></div>
  <div class="flex-row" role="cell"><%= tool_rental.rent_to.to_s(:weekday) %></div>
  <div class="flex-row" role="cell"><%= number_to_currency(tool_rental.total_price, unit: "€") %></div>
  <div class="flex-row" role="cell">
    <div class="status">
      <%= t("activerecord.attributes.tool_rentals.rental_statuses.#{tool_rental.rental_status}") %>
    </div>
    <% if tool_rental.approved? %>
      <div class="status">
        <%= t("activerecord.attributes.tool_rentals.payment_statuses.#{tool_rental.payment_status}") %>
      </div>
    <% end %>
    <% if tool_rental.payment_transfered? %>
      <%= link_to "Gutschriften", '#', class: 'invoice-link' %>
    <% end %>
  </div>
  <div class="flex-row" role="cell">
    <%= link_to icon_tag("speech-bubbles"), messenger_path(thread_id: tool_rental.user_message_thread.id) %>
  </div>
</div>
