<% if @tools.empty? %>

  <div class="introcontainer">

    <div class="introtxt">

      <div class="hl-subtext">
        <h1><em>Der Toolteiler auf <%= t("region.#{current_region.id}.domain_full") %></em></h1>
        <p>Vermiete dein Arbeitsequipment & die Geräte an deinem Arbeitsplatz. Leihe Arbeitsequipment & oder miete Geräte am Standort.<%= render 'shared/questionmarklink', hint_url: info_toolteiler_path %></p>
      </div>

      <p>
        Ermögliche anderen Menschen die Nutzung deines Arbeitsequipments.
        Du kannst über den Toolteiler Geräte verleihen oder auch den Zugang zur
        Ausstattung an deinem Arbeitsstandort ermöglichen.
        Es dreht sich beim Toolteiler alles um Gegenstände, die man im Arbeitsumfeld benötigt,
        also nicht um Freizeitgegenstände, wie z.B. eine Skiausrüstung
      </p>

      <h3>Du behältst immer die Kontrolle</h3>
      <p>
        Du bestimmst den Tages- oder Wochenpreis für dein Gerät. Es liegt ganz bei dir, ob du eine Mietanfrage annimmst oder einfach ablehnst.
      </p>

      <h3>Die Abwicklung übernehmen wir</h3>
      <p>
        Die Buchung und die Verteilung der Einnahmen erfolgt über <%= t("region.#{current_region.id}.domain_short") %>.
        Das Einstellen der Geräte ist kostenlos, erst bei einer erfolgreichen Buchung wird eine Servicegebühr erhoben (Die Payment Servicegebühr ist dort inkludiert).
      </p>

    </div>
    <%= render 'tools/action_card', user: current_user, create_link: false %>
  </div>

<% else %>

  <div class="cardBoxCollection -tripple" data-behavior="tool-offers-card-container">
    <%= render @tools, manage_buttons: true %>
  </div>
  <div class="action-card-container">
    <%= render 'tools/action_card', user: current_user, create_link: false %>
  </div>

<% end %>
