<% graetzl = Graetzl.memoized(user.graetzl_id) %>

<div class="cardBox -user" data-behavior="masonry-card" data-card-id="user-<%= user.id %>">
  <div class="cardBoxHeader">
    <%= link_to user do %>
      <div class="coverImgWrapper">
        <%= cover_photo_image(user, class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "user-avatar", class: 'fav-exchange' %>
      <%= toggle_favorite_icon(user) if current_user %>
    </div>
    <%= graetzl_flag(graetzl) %>
  </div>

  <div class="cardBoxContent">
    <div class="avatar-block">
      <%= link_to user, class: 'avatarImg' do %>
        <%= avatar_image_with_tooltip user, size: :small, class: 'img-round show-badge' %>
      <% end %>
      <div class="typetxt">
        <%= link_to user do %>
          <div class="name"><%= user.full_name %></div>
        <% end %>
        <div class="category"><%= user.username %></div>

        <%= link_to user.website.sub(/^https?\:\/\//,''), user.website, class: 'url' if user.website %>

      </div>
    </div>
    <div class="slogan"><%= truncate user.bio, length: 120 %></div>

    <div class="location-line">
      <%= icon_tag "location" %>
      <%= link_to user.locations.last, user.locations.last %>
    </div>

    <%= link_to messenger_start_thread_path(user_id: user.id), rel: 'nofollow', class: "btn-primary -mint btn-messenger", id: 'requestMessengerBtn', data: { label: "User" } do %>
      <%= icon_tag "speech-bubbles" %><span>Im Messenger kontaktieren</span>
    <% end %>

  </div>
</div>
