<% location = zuckerl.location %>
<% graetzl = Graetzl.memoized(location.graetzl_id) %>

<div class="cardBox -zuckerl">
  <div class="cardBoxHeader">
    <%= link_to [graetzl, location] do %>
      <div class="coverImgWrapper">
        <%= cover_photo_image(zuckerl, class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "shopping-bag" %>
    </div>
  </div>
  <div class="cardBoxContent">
    <div class="avatar-block">
      <div class="avatarImg">
        <%= link_to [graetzl, location] do %>
          <%= avatar_image location, size: :small, class: 'avatar img-square' %>
        <% end %>
      </div>
      <div class="typetxt">
        <%= link_to location.name, [graetzl, location], class: 'name' %>
        <div class="category"><%= location.location_category.name if location.location_category %></div>
        <% if location.using_address? %>
          <div class="address">
            <%= icon_tag "location" %>
            <%= location.address_street %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="zuckerlteasertxt">
      <div class="hl">
        <%= icon_tag "shopping-bag" %>
        Grätzlzuckerl <%= zuckerl_month_and_year(zuckerl) %>
      </div>
      <div class="title"><%= zuckerl.title %></div>
      <div class="description"><%= zuckerl.description %></div>
    </div>
    <% if zuckerl.link %>
      <%= link_to zuckerl.link, class: 'btn-userIcons', target: '_blank' do %>
        <%= icon_tag "globe" %>
        Mehr dazu
      <% end %>
    <% end %>

    <div class="itemstate">
      <%= zuckerl_state_for(zuckerl) %>
    </div>
    <div class="btn-group">
      <%= link_to 'Bearbeiten', edit_location_zuckerl_path(location, zuckerl), class: 'btn-secondary -mint -small' unless zuckerl.live? || zuckerl.expired? %>
      <%= link_to 'Löschen', location_zuckerl_path(location, zuckerl),
        data: { confirm: 'Bist du dir sicher?' },
        method: :delete,
        class: 'btn-secondary -mint -small' %>
      <%= link_to "Download Rechnung", zuckerl.zuckerl_invoice.presigned_url(:get), class: 'btn-secondary -grey -small -invoice' if zuckerl.invoice_number.present? %>
    </div>
  </div>
</div>
