<% location = zuckerl.location %>
<div class="cardBox -zuckerl">
  <div class="cardBoxHeader">
    <%= link_to [location.graetzl, location] do %>
      <div class="coverImgWrapper">
        <%= attachment_image_tag(zuckerl, :image, :fill, 300, 180, class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "shopping-bag" %>
    </div>
  </div>
  <div class="cardBoxContent">
    <div class="avatar-block">
      <div class="avatarImg">
        <%= link_to([location.graetzl, location]){ avatar_for location } %>
      </div>
      <div class="typetxt">
        <%= link_to location.name, [location.graetzl, location], class: 'name' %>
        <div class="category"><%= location.category.name %></div>
        <% if location.address %>
          <div class="address">
            <%= icon_tag "location" %>
            <%= "#{location.address.street_name} #{location.address.street_number.split(%r{/}).first}" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="zuckerlteasertxt">
      <div class="title"><%= zuckerl.title %></div>
      <div class="description"><%= zuckerl.description %></div>
    </div>
    <div class="locationstate">
      <%= zuckerl_state_for(zuckerl) %>
    </div>
    <div class="btn-group">
      <%= link_to 'Bearbeiten', edit_location_zuckerl_path(location, zuckerl), class: 'btn-secondary -mint -small' unless zuckerl.live? %>
      <%= link_to 'Löschen', location_zuckerl_path(location, zuckerl),
        data: { confirm: 'Bist du dir sicher?' },
        method: :delete,
        class: 'btn-secondary -mint -small' %>
    </div>
  </div>
</div>
