<div class="introcontainer">
  <div class="introtxt">
    <div class="hl-subtext">
      <h1><em>Deine Zuckerln</em></h1>
      <p>Mit einem Zuckerl hast du die Möglichkeit günstig, einfach und unkompliziert Werbung für dein spezielles
        Angebot <%= t("region.#{current_region.id}.in_your_graetzl") %><%= ', Bezirk' if current_region.use_districts? %> oder in ganz <%= current_region %> zu schalten.</p>
    </div>

    <p>Als Zuckerl eignen sich <strong>Angebote, Gutscheine oder Rabattaktionen, aber auch allgemeine Werbung für deine Produkte.</strong>.</p>

    <p>Das Startdatum deines Zuckerls kannst du frei wählen. <strong>Die Laufzeit deines Zuckerls beträgt dann immer genau 1 Monat.</strong></p>
    <p>
      <strong>Ein Zuckerl kostet dich <%= number_to_currency(Zuckerl.price(current_region) / 100) %></strong> (inkl. USt.).
      Das Zuckerl erscheint <%= t("region.#{current_region.id}.in_your_graetzl") %><%= ' und im ganzen Bezirk' if current_region.use_districts? %>
      und wird ausserdem in die automatisierten Newsletter eingestreut.
    </p>

    <p><strong><%= t("region.#{current_region.id}.zuckerl.headline") %>.</strong>
    <%= t("region.#{current_region.id}.zuckerl.subline") %> Sprich einen Monat die volle Sichtbarkeit für dich.
    <strong>Das Zuckerl kostet dich <%= number_to_currency(Zuckerl.region_price(current_region) / 100) %></strong> (inkl. USt.) und wird ausserdem in die automatisierten Newsletter <%= t("region.#{current_region.id}.in_your_region") %> eingestreut.
    </p>

    <% if current_user.open_zuckerl? || @subscription&.open_zuckerl? %>
      <div class="hl-subtext">
        <h1>Dein <span>Zuckerl Guthaben</span></h1>
        <p></p>
      </div>
      <%= render partial: 'users/zuckerl_voucher_subscription' if @subscription&.open_zuckerl? %>
      <%= render partial: 'users/zuckerl_voucher_user' if current_user.open_zuckerl? %>
    <% end %>

  </div>
  <%= render 'users/zuckerl_actioncard', user: @user %>

  <% if !current_user.subscribed? && current_region.id == 'wien' %>
    <div class="cardBox -tipp">
      <%= link_to 'Tipp: Mit der JUHU! Fördermitgliedschaft sparst du 50 € auf das Wien Zuckerl', subscription_plans_path, class: 'link-more -small' %>
    </div>
  <% end %>

</div>
