<section class="usersetup -groups">

  <% if @groups.empty? %>

    <div class="introcontainer">
      <div class="introtxt">

        <div class="hl-subtext" id="teilnahme">
          <h1><em>Gruppen auf <%= t("region.#{current_region.id}.domain_full") %></em></h1>
          <p>Erstelle eine Gruppe für Austausch, Zusammenarbeit und Organisation!</p>
        </div>

        <p>
          Gruppenfunktionalitäten werden auf Wunsch kostenlos zur Verfügung gestellt. In den Gruppen können Beiträge veröffentlicht, kommentiert und Termine koordiniert werden. Sie verfügen zusätzlich dazu über ein Mailverteiler. Die Gruppen eignen sich besonders gut, wenn ihr mit einem Kreis von Menschen in Kontakt bleiben, euch zu einem Thema austauschen und gemeinsame Termine planen, möchtet. Die Gruppen können mit einem Raumteiler oder dem Schaufenster verknüpft werden.
        </p>

        <h3>Du möchtest eine neue Gruppe gründen?</h3>
        <p>
          Schreib uns ein kurzes Mail an <%= mail_to t("region.#{current_region.id}.contact_email") %> mit ein paar Infos zu deiner Gruppe die du gründen möchtest. Wir richten dir die Gruppe gerne ein.
        </p>

      </div>
      <%= render 'groups/action_card', user: @user %>
    </div>

  <% else %>

    <div class="hl-subtext -groups">
      <h1>Deine <span>Gruppen</span> Mitgliedschaften</h1>
    </div>
    <div class="cardBoxCollection -tripple" data-behavior="groups-card-container">
      <%= render @groups.order(created_at: :desc), manage_buttons: true %>
    </div>
    <div class="action-card-container">
      <%= render 'groups/action_card', user: @user, view_all: true %>
    </div>

  <% end %>

</section>
