<section class="usersetup -groups">

  <% if @groups.empty? %>

  <div class="introcontainer -groups">
    <div class="introtxt">
      <h1>Trete jetzt einer <span>Gruppe</span> bei.</h1>
      <p>
        Durchstöbere die Gruppen auf imGrätzl und trete einer passenden Gruppe bei.
        <br>
        Hier gehts zu allen <%= link_to "Gruppen in deinem Grätzl", groups_graetzl_path(current_user.graetzl) %> <%= current_user.graetzl.name %>.
      </p>
      <p>
        Du kannst natürlich auch in den Gruppen in ganz Wien stöbern, oder eine neue Gruppe gründen.
      </p>
      <p class="btns">
        <%= link_to 'Weitere Infos', info_gruppen_path, class: 'btn-primary -grey' %>
        <%= link_to 'Zu allen Gruppen in ganz Wien', groups_wien_path, class: 'btn-primary -mint' %>
      </p>
    </div>
    <%= render 'groups/action_card', user: @user %>
  </div>
  <% else %>

    <div class="hl-subtext -groups">
      <h1>Deine <span>Gruppen</span></h1>
      <p>Gruppen in denen du Miglied bist. Stöbern in <%= link_to 'allen Gruppen', groups_wien_path %>.</p>
    </div>

    <div class="cardBoxCollection -tripple" data-behavior="groups-card-container">
      <%= render @groups.order(created_at: :desc), manage_buttons: true %>
      <%= render 'groups/action_card', user: @user, view_all: true %>
    </div>

  <% end %>

</section>
