<% meta(
    title: t('.title'),
    robots: 'noindex, follow',
  )
%>

<section class="usersetup -location">

  <% if @locations.empty? %>
    <div class="introcontainer">
      <div class="introtxt">
        <div class="hl-subtext" id="teilnahme">
          <h1><em>Dein virtuelles Schaufenster</em></h1>
          <p>Dein persönliches Schaufenster <%= t("region.#{current_region.id}.in_your_region") %> und auf <%= t("region.#{current_region.id}.domain_full") %> <%= render 'shared/questionmarklink', hint_url: info_anbieter_und_locations_path %></p>
        </div>
        <h3>1. Richte dir dein kostenloses Schaufenster ein.</h3>
          <p>
          Du hast ein Projekt oder Angebot, du bist kreativ, sozial oder wirtschaftlich tätig?
          Egal, ob aus dem Home-Office, mit oder ohne Geschäftslokal -
          Mach dich und deine Tätigkeit <%= t("region.#{current_region.id}.in_your_region") %> sichtbar!
          <br><br>
          <strong>Deine Seite ist dein persönliches Schaufenster <%= t("region.#{current_region.id}.in_region") %> - Und sie ist kostenlos!</strong>
          </p>
        <h3>2. Wenn du dein Schaufenster erstellt hast ...</h3>
          ... kannst du Neuigkeiten, Aktionen oder Termine auf dieser veröffentlichen -
          Diese landen nicht nur im Stream, sondern auch im wöchentlichen Newsletter
          <%= t("region.#{current_region.id}.in_region") %>.
          Damit erfahren die Bewohner*innen, was es bei dir Neues & Besonderes gibt.
          <br>
          Darüber hinaus ist das Schaufenster die Voraussetzung für das <%= link_to 'Zuckerl', info_zuckerl_path %>.<br>
          Und: du kannst an der Community only Aktion teilnehmen und im Schaufenster dein Goodie für die anderen Mitglieder eintragen.
      </div>
      <%= render 'locations/action_card', user: @user %>
    </div>

  <% else %>

    <h2 class="hl-main">Deine <span>AnbieterInnen & Schaufenster-Seite</span> verwalten</h2>

    <div class="cardBoxCollection -tripple">
      <%= render partial: 'users/location', collection: @locations %>
    </div>
    <div class="action-card-container">
      <%= render 'locations/action_card', user: @user %>
    </div>

  <% end %>

</section>
