<% meta(
    title: t('.title'),
    robots: 'noindex, follow',
  )
%>

<section class="usersetup -meetings">

  <% if @user.initiated_meetings.empty? %>

  <div class="introcontainer">
    <div class="introtxt">

      <div class="hl-subtext" id="teilnahme">
        <h1><em>Deine Events & Workshops auf <%= t("region.#{current_region.id}.domain_full") %></em></h1>
        <p>Wir machen deine Events <%= t("region.#{current_region.id}.in_region") %> bekannt!</p>
      </div>

      <ul class="list-basic">
        <li>Stelle kostenlos deine Veranstaltungen und Treffen auf <%= t("region.#{current_region.id}.domain_full") %> ein.</li>
        <br>
        <li>Deine Events, Treffen, Workshops, Kurse und Aktionen werden auf der Plattform angezeigt und in den <%= t("region.#{current_region.id}.domain_short") %> Newsletter aufgenommen, dieser wird an registrierte BewohnerInnen <%= t("region.#{current_region.id}.in_region") %> verschickt.</li>
        <br>
        <li>Ist deine Veranstaltung kostenlos oder handelt es sich um eine kostenlose Erstberatung? Dann wird dein Treffen zusätzlich noch in einem gesonderten Bereich angezeigt.</li>
      </ul>

    </div>
    <%= render 'meetings/action_card', user: @user %>
  </div>

  <% else %>

    <h2 class="hl-main">Deine <span>Events & Workshops</span> verwalten</h2>

    <%= form_tag meetings_path(initiated_user_id: @user.id, per_page: 9, logged_in: 'owner'), method: :get, remote: true, class: 'autosubmit-stream' do; end %>
    <div class="cardBoxCollection -tripple" data-behavior="meetings-card-container"></div>

    <div class="action-card-container" data-behavior="meetings-action-card-container">
      <%= render 'meetings/action_card', user: @user, graetzl: user_home_graetzl %>
    </div>

    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'meetings-paginate-link' }, rel: 'nofollow' %>
  <% end %>

</section>
