<% meta(
    title: t('.title', name: @user.username, graetzl: @user.graetzl.name),
    description: t('.description', name: @user.username, graetzl: @user.graetzl, numeric: @user.graetzl.district.numeric),
    robots: 'noindex, follow',
    og_title: t('.title', name: @user.username, graetzl: @user.graetzl.name),
    og_description: t('.description', name: @user.username, graetzl: @user.graetzl, numeric: @user.graetzl.district.numeric),
    og_image: attachment_url(@user, :cover_photo, host: url_for(:only_path => false, :overwrite_params => nil), fallback: 'meta/og_logo.png')
  )
%>

<section class="userprofile">
  <div class="imgHeader -shadowed">
    <div class="titleHeadline">
      <div class="wrp">
        <h1><%= @user.username %></h1>
      </div>
      <div class="card"></div>
    </div>
    <%= attachment_image_tag(@user, :cover_photo, :fill, 980, 200, class: 'titleImg', fallback: 'cover_photo/980x370.png') %>
  </div>

  <div class="userContent">
    <div class="col1">
      <%= attachment_image_tag(@user, :avatar, :fill, 400 ,400, class: 'img-round -largest', fallback: 'avatar/user/400x400.png') %>
      <div class="sideBarbox">
        <% if @user.website %>
          <%= link_to @user.website, class: 'icontxt', target: '_blank' do %>
            <%= icon_tag "globe" %>
            <%= @user.website.sub(/^https?\:\/\//,'') %>
          <% end %>
        <% end %>
        <div class="icontxt">
          <%= icon_tag "calendar-2" %>
          Beigetreten: <%= l(@user.created_at, format: "%b, %Y") %>
        </div>
        <div class="icontxt">
          <%= icon_tag "flag-1" %>
          <%= link_to @user.graetzl.name, @user.graetzl %>
        </div>
      </div>
    </div>
    <div class="col2"><%= @user.bio %></div>
  </div>

  <%= render 'meetings' %>

  <div class="stream" data-behavior="stream-container">
    <h3>Persönliche <span>Pinnwand</span> von <%= @user.username %></h3>
    <%= render 'comments/form', commentable: @user %>
    <%= render partial: 'comments/stream_comment', collection: @wall_comments, as: 'comment' %>
  </div>

</section>
