<% meta(
    title: t('.title', name: @user.username, graetzl: @user.graetzl.name),
    description: t('.description', name: @user.username, graetzl: @user.graetzl, numeric: @user.graetzl.district.numeric),
    robots: 'noindex, follow',
    og_title: t('.title', name: @user.username, graetzl: @user.graetzl.name),
    og_description: t('.description', name: @user.username, graetzl: @user.graetzl, numeric: @user.graetzl.district.numeric),
    og_image: @user.cover_photo_url || image_url('meta/og_logo.png')
  )
%>

<section class="userprofile">
  <div class="imgHeader -shadowed">
    <div class="titleHeadline">
      <div class="wrp">
        <h1><%= @user.username %></h1>
      </div>
      <div class="card"></div>
    </div>
    <%= cover_header_image(@user, class: 'titleImg') %>
  </div>

  <div class="userContent">
    <div class="col1">
      <%= avatar_image @user, class: 'img-round -largest' %>
      <div class="sideBarbox">

        <div class="rating-block icontxt">
          <%= icon_tag "user-avatar" %>
          <div>
            <span class="name"><%= @user.full_name %></span>
            <div class="rating-container">
              <%= user_rating(@user) %>
            </div>
          </div>
        </div>

        <div class="icontxt">
          <%= icon_tag "calendar-2" %>
          Beigetreten: <%= l(@user.created_at, format: "%b, %Y") %>
        </div>
        <div class="icontxt">
          <%= icon_tag "mail-1" %>
          <%= link_to "Nachricht senden", messenger_start_thread_path(user_id: @user.id) %>
        </div>
        <% if !@user.website.blank? %>
          <%= link_to @user.website, class: 'icontxt', target: '_blank' do %>
            <%= icon_tag "globe" %>
            <%= @user.website.sub(/^https?\:\/\//,'') %>
          <% end %>
        <% end %>
        <div class="icontxt">
          <%= icon_tag "map-location" %>
          <%= link_to @user.graetzl.name, @user.graetzl %>
        </div>

      </div>
    </div>
    <div class="col2"><%= @user.bio %></div>
  </div>

  <div class="tabs-ctrl">
    <ul class="tabs-nav">
      <% if @user.locations.approved.exists? %><li data-submit="#location-submit" data-target="locations-card-container"><a href="#tab-locations">Location</a></li><% end %>
      <% if !@user.rooms.blank? %><li data-submit="#room-submit" data-target="rooms-card-container"><a href="#tab-raumteiler">Raumteiler</a></li><% end %>
      <% if @user.tool_offers.enabled.exists? %><li data-submit="#tool-submit" data-target="tool-offers-card-container"><a href="#tab-toolteiler">Toolteiler</a></li><% end %>
      <% if @user.groups.exists? %><li data-submit="#group-submit" data-target="groups-card-container"><a href="#tab-gruppen">Mitglied in Gruppen</a></li><% end %>
      <% if !@user.initiated_meetings.blank? %><li data-submit="#meeting-submit" data-target="meetings-card-container"><a href="#tab-meetings">Events & Workshops</a></li><% end %>
    </ul>

    <div id="tab-locations">
      <%= form_tag locations_path(user_id: @user.id, per_page: 9), method: :get, remote: true, id: 'location-submit' do; end %>
      <div class="cardBoxCollection -tripple" data-behavior="locations-card-container"></div>
      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'locations-paginate-link' }, rel: 'nofollow' %>
    </div>

    <div id="tab-raumteiler">
      <%= form_tag rooms_path(user_id: @user.id, per_page: 9), method: :get, remote: true, id: 'room-submit' do; end %>
      <div class="cardBoxCollection -tripple" data-behavior="rooms-card-container"></div>
      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'rooms-paginate-link' }, rel: 'nofollow' %>
    </div>

    <div id="tab-toolteiler">
      <%= form_tag tool_offers_path(user_id: @user.id, per_page: 9), method: :get, remote: true, id: 'tool-submit' do; end %>
      <div class="cardBoxCollection -tripple" data-behavior="tool-offers-card-container"></div>
      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'tool-offers-paginate-link' }, rel: 'nofollow' %>
    </div>

    <div id="tab-gruppen">
      <%= form_tag groups_path(member_user_id: @user.id, per_page: 9), method: :get, remote: true, id: 'group-submit' do; end %>
      <div class="cardBoxCollection -tripple" data-behavior="groups-card-container"></div>
      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'groups-paginate-link' }, rel: 'nofollow' %>
    </div>

    <div id="tab-meetings">
      <%= form_tag meetings_path(initiated_user_id: @user.id, per_page: 9), method: :get, remote: true, id: 'meeting-submit' do; end %>
      <div class="cardBoxCollection -tripple" data-behavior="meetings-card-container"></div>
      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'meetings-paginate-link' }, rel: 'nofollow' %>
    </div>

  </div>


  <div class="stream" data-behavior="stream-container">
    <h3>Persönliche <span>Pinnwand</span> von <%= @user.username %></h3>
    <%= render 'comments/form', commentable: @user %>
    <%= render partial: 'comments/stream_comment', collection: @wall_comments, as: 'comment' %>
  </div>

</section>
