<%
  meta({
    title: t('.title', name: @user.username, graetzl: @user.graetzl.name),
    description: t('.description', name: @user.username, graetzl: @user.graetzl, numeric: @user.graetzl.district.numeric),
    robots: 'noindex, follow',
    og_title: t('.title', name: @user.username, graetzl: @user.graetzl.name),
    og_description: t('.description', name: @user.username, graetzl: @user.graetzl, numeric: @user.graetzl.district.numeric),
    og_image: attachment_url(@user, :cover_photo, host: request.url, fallback: 'meta/og_logo.png')
  })
%>

<section class="userprofile">
  <div class="imgHeader -shadowed">
    <div class="titleHeadline">
      <div class="wrp">
        <h1><%= @user.username %></h1>
      </div>
      <div class="card"></div>
    </div>
    <%= cover_photo_for(@user, fill: [980,200], class: 'titleImg') %>
  </div>

  <div class="userContent">
    <div class="col1">
      <%= avatar_for(@user, fill: [400,400], class: 'img-round -largest') %>
      <div class="sideBarbox">
        <% if @user.website %>
          <%= link_to @user.website, class: 'icontxt', target: '_blank' do %>
            <svg class="icon-globe">
              <use xlink:href="#icon-globe"></use>
            </svg>
            <%= @user.website.sub(/^https?\:\/\//,'') %>
          <% end %>
        <% end %>
        <div class="icontxt">
          <svg class="icon-calendar-2">
            <use xlink:href="#icon-calendar-2"></use>
          </svg>
          Beigetreten: <%= l(@user.created_at, format: "%b, %Y") %>
        </div>
        <div class="icontxt">
          <svg class="icon-flag-1">
            <use xlink:href="#icon-flag-1"></use>
          </svg>
          <%= link_to @user.graetzl.name, @user.graetzl %>
        </div>
      </div>
    </div>
    <div class="col2"><%= @user.bio %></div>
  </div>

  <%= render 'meetings' %>
  
  <%= render 'stream' %>

</section>
