<% meta(
    title: t(".#{current_region.host_id}.title", name: @user.username, graetzl: @user.graetzl.name, region: @user.region.name),
    description: t(".#{current_region.host_id}.description", name: @user.username, graetzl: @user.graetzl, region: @user.region.name),
    robots: 'noindex, follow',
    og_image: @user.cover_photo_url || image_url("meta/#{current_region.id}/og_logo.png")
  )
%>

<section class="userprofile">
  <div class="imgHeader -shadowed">
    <div class="titleHeadline">
      <div class="wrp">
        <h1><%= @user.username %></h1>
      </div>
      <div class="card"></div>
    </div>
    <%= cover_header_image(@user, class: 'titleImg') %>
  </div>

  <div class="userContent">
    <div class="col1">
      <%= avatar_image @user, class: 'img-round -largest show-badge' %>
      <div class="sideBarbox">

        <div class="rating-block icontxt">
          <%= icon_tag "user-avatar" %>
          <div>
            <span class="name"><%= @user.full_name %></span>
            <div class="rating-container">
              <%= user_rating(@user) %>
            </div>
          </div>
        </div>

        <div class="icontxt">
          <%= icon_tag "calendar-2" %>
          Beigetreten: <%= l(@user.created_at, format: "%b, %Y") %>
        </div>

        <% if @user.subscribed? %>
          <div class="icontxt">
            <%= icon_tag "abo" %>
            <%= link_to "imGrätzl Fördermitglied", subscription_plans_path %>
          </div>
        <% end %>

        <% if !@user.website.blank? %>
          <%= link_to @user.website, class: 'icontxt', target: '_blank' do %>
            <%= icon_tag "globe" %>
            <%= @user.website.sub(/^https?\:\/\//,'') %>
          <% end %>
        <% end %>

        <div class="icontxt">
          <%= icon_tag "map-location" %>
          <%= link_to @user.graetzl.name, graetzl_url(@user.graetzl, host: @user.region.host) %>
        </div>

        <div class="sticky-btns">
          <%= messenger_button(@user, class: 'btn-primary -mint', label: @user.class.name) %>
          <%= toggle_favorite_icon(@user, class: 'btn-secondary -mint') if current_user %>
        </div>

      </div>
    </div>
    <div class="col2 txtlinky"><%= @user.bio %></div>
  </div>

  <div class="tabs-ctrl">

    <ul class="tabs-nav">
      <% if @user.crowd_campaigns.in(current_region).scope_public.present? %><li data-submit="#crowdfunding-submit" data-target="crowd-campaigns-card-container"><a href="#tab-crowdfunding">Crowdfunding</a></li><% end %>
      <% if @user.locations.in(current_region).approved.present? %><li data-submit="#location-submit" data-target="locations-card-container"><a href="#tab-locations">Schaufenster</a></li><% end %>
      <% if @user.initiated_meetings.in(current_region).present? %><li data-submit="#meeting-submit" data-target="meetings-card-container"><a href="#tab-meetings">Events</a></li><% end %>
      <% if @user.coop_demands.in(current_region).enabled.present? %><li data-submit="#coopdemand-submit" data-target="coopdemands-card-container"><a href="#tab-coop">Coop & Share</a></li><% end %>
      <% if @user.room_offers.in(current_region).enabled.present? || !@user.room_demands.in(current_region).enabled.blank? %><li data-submit="#room-submit" data-target="rooms-card-container"><a href="#tab-raumteiler">Raumteiler</a></li><% end %>
      <% if @user.tool_offers.in(current_region).enabled.present? || !@user.tool_demands.in(current_region).enabled.blank? %><li data-submit="#tool-submit" data-target="tools-card-container"><a href="#tab-toolteiler">Geräteteiler</a></li><% end %>
    </ul>

    <div id="tab-crowdfunding">
      <%= form_tag crowd_campaigns_path(user_id: @user.id, per_page: 9), method: :get, remote: true, id: 'crowdfunding-submit' do; end %>
      <div class="cardBoxCollection -tripple" data-behavior="crowd-campaigns-card-container"></div>
      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'crowd-campaigns-paginate-link' }, rel: 'nofollow' %>
    </div>

    <div id="tab-locations">
      <%= form_tag locations_path(user_id: @user.id, per_page: 9), method: :get, remote: true, id: 'location-submit' do; end %>
      <div class="cardBoxCollection -tripple" data-behavior="locations-card-container"></div>
      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'locations-paginate-link' }, rel: 'nofollow' %>
    </div>

    <div id="tab-raumteiler">
      <%= form_tag rooms_path(user_id: @user.id, per_page: 9), method: :get, remote: true, id: 'room-submit' do; end %>
      <div class="cardBoxCollection -tripple" data-behavior="rooms-card-container"></div>
      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'rooms-paginate-link' }, rel: 'nofollow' %>
    </div>

    <div id="tab-toolteiler">
      <%= form_tag tools_path(user_id: @user.id, per_page: 9), method: :get, remote: true, id: 'tool-submit' do; end %>
      <div class="cardBoxCollection -tripple" data-behavior="tools-card-container"></div>
      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'tools-paginate-link' }, rel: 'nofollow' %>
    </div>

    <div id="tab-meetings">
      <%= form_tag meetings_path(initiated_user_id: @user.id, per_page: 9), method: :get, remote: true, id: 'meeting-submit' do; end %>
      <div class="cardBoxCollection -tripple" data-behavior="meetings-card-container"></div>
      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'meetings-paginate-link' }, rel: 'nofollow' %>
    </div>

    <div id="tab-coop">
      <%= form_tag coop_demands_path(user_id: @user.id, per_page: 9), method: :get, remote: true, id: 'coopdemand-submit' do; end %>
      <div class="cardBoxCollection -tripple" data-behavior="coopdemands-card-container"></div>
      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'coopdemands-paginate-link' }, rel: 'nofollow' %>
    </div>

  </div>


  <div class="stream" data-behavior="stream-container">
    <h3>Persönliche <span>Pinnwand</span> von <%= @user.username %></h3>
    <%= render 'comments/form', commentable: @user %>
    <%= render partial: 'comments/stream_comment', collection: @wall_comments, as: 'comment' %>
  </div>

</section>
