<section class="usersetup -subscriptions">

  <div class="introcontainer">
    <div class="introtxt">
      <div class="hl-subtext">
        <h1><em><%= t("region.#{current_region.id}.domain_short") %> Fördermitgliedschaft</em></h1>
        <% if current_user.subscribed? %>
        <p>
          Vielen Dank für deine Unterstützung <%= current_user.first_name %>!
          <% if @subscription&.zuckerl_included? %>
          <br>Deine Fördermitgliedschaft beinhaltet folgende Zuckerl:
          <% end %>
        </p>
        <% else %>
          <p>Dein Beitrag ermöglicht den Betrieb von imGrätzl und unterstützt die lokalen Macher*innen in Wien. <%= render 'shared/questionmarklink', hint_url: subscription_plans_path %></p>
        <% end %>
      </div>

      <% if current_user.subscribed? %>

        <%= render partial: 'users/zuckerl_voucher_subscription' %>

        <ul class="list-basic">

          <% if @subscription.subscription_plan.interval == 'month' %>
            <li>Deine Fördermitglidschaft wird monatlich verlängert und ist jederzeit kündbar. Nächste Verlängerung am <%= I18n.localize(@subscription.next_invoice_date, format:'%d. %B %Y') %>.</li>
          <% elsif @subscription.subscription_plan.interval == 'year' %>
            <li>Deine Fördermitglidschaft wird jährlich verlängert und ist jederzeit kündbar. Nächste Verlängerung am <%= I18n.localize(@subscription.next_invoice_date, format:'%d. %B %Y') %>.</li>
          <% end %>
          <li>Deine hinterlegte Zahlungsmethode kannst du <%= link_to 'hier', payment_method_user_path %> anpassen.</li>
          <li>Deine Rechnungsanschrift kannst du <%= link_to 'hier', billing_address_user_path %> ändern.</li>
          <li>Deine Steuerrechnungen kannst du unterhalb downloaden.</li>
        </ul>


      <% else %>
        <p>
        </p>
      <% end %>

    </div>
    <% if @subscription %>
      <%= render 'users/subscription_plan', subscription_plan: @subscription.subscription_plan %>
    <% else %>
      <%= render 'subscriptions/action_card', user: @user %>
    <% end %>
  </div>

  <% if @subscription&.zuckerls.present? %>
    <h3>Bereits eingelöste Zuckerl</h3>

    <div class="table-container -light" role="table">
      <div class="flex-table header" role="rowgroup">
        <div class="flex-row medium first" role="columnheader">Laufzeit</div>
        <div class="flex-row large" role="columnheader">Sichtbarkeit</div>
        <div class="flex-row xxxlarge" role="columnheader">Zuckerl</div>
      </div>

      <% @subscription.zuckerls.order(created_at: :desc).each do |zuckerl| %>
        <div class="flex-table" role="rowgroup">
          <div class="flex-row medium" role="cell"><%= zuckerl_month_and_year(zuckerl) %></div>
          <div class="flex-row large" role="cell"><%= zuckerl.visibility %></div>
          <div class="flex-row xxxlarge" role="cell"><%= link_to zuckerl.title, zuckerls_user_path(anchor:"zuckerl-#{zuckerl.id}") %></div>
        </div>
      <% end %>

    </div>
  <% end %>

  <% if current_user.subscription_invoices.any? %>
    <h3>Deine Rechnungen</h3>

    <div class="table-container -light" role="table">
      <div class="flex-table header" role="rowgroup">
        <div class="flex-row medium first" role="columnheader">Datum</div>
        <div class="flex-row large" role="columnheader">Rechnungsnummer</div>
        <div class="flex-row xxxlarge" role="columnheader">Download PDF Rechnung</div>
      </div>

      <% current_user.subscription_invoices.order(created_at: :desc).each do |invoice| %>
        <div class="flex-table" role="rowgroup">
          <div class="flex-row medium" role="cell"><%= I18n.localize(invoice.created_at, format:'%B %Y') %></div>
          <div class="flex-row large" role="cell"><%= invoice.invoice_number %></div>
          <div class="flex-row xxxlarge" role="cell"><%= link_to 'Download', invoice.invoice_pdf %></div>
        </div>
      <% end %>

    </div>
  <% end %>

</section>
