<% meta(
    title: t('.title'),
    robots: 'noindex, follow',
  )
%>

<section class="usersetup -subscriptions">

  <div class="introcontainer">
    <div class="introtxt">
      <div class="hl-subtext">
        <h1><em><%= t("region.#{current_region.id}.domain_short") %> Fördermitgliedschaft</em></h1>
        <% if current_user.subscribed? %>
        <p>
          Vielen Dank für deine Unterstützung <%= current_user.first_name %>!
          <% if @subscription&.zuckerl_included? %>
          <br>Deine Fördermitgliedschaft beinhaltet folgende Zuckerl:
          <% end %>
        </p>
        <% else %>
          <p>Dein Beitrag ermöglicht den Betrieb von <%= t("region.#{current_region.id}.domain_short") %> und unterstützt die lokalen Macher*innen <%= t("region.#{current_region.id}.in_region") %>. <%= render 'shared/questionmarklink', hint_url: subscription_plans_path %></p>
        <% end %>
      </div>

      <% if current_user.subscribed? %>

        <%= render partial: 'users/zuckerl_voucher_subscription' %>
        <ul class="list-basic">
          <% if @subscription.on_grace_period? %>
            <li>Deine Fördermitglidschaft läuft noch bis zum <%= I18n.localize(@subscription.ends_at, format:'%d. %B %Y') %>.</li>
          <% else %>
            <li>Deine Fördermitglidschaft wird <%= @subscription.subscription_plan.interval == 'month' ? 'monatlich' : 'jährlich' %> verlängert und ist jederzeit kündbar. Nächste Verlängerung am <%= I18n.localize(@subscription.current_period_end, format:'%d. %B %Y') %>.</li>
          <% end %>
          <li>Deine hinterlegte Zahlungsmethode kannst du <%= link_to 'hier', payment_method_user_path %> anpassen.</li>
          <li>Deine Rechnungsanschrift kannst du <%= link_to 'hier', billing_address_user_path %> ändern.</li>
          <li>Deine abgewickelten Rechnungen findest du (sobald verfügbar) unten auf der Seite.</li>
        </ul>

      <% elsif @subscription&.past_due? && @subscription.subscription_invoices.open.any? %>

        <p>
          Für die aktuelle Laufzeit deiner Mitgliedschaft (<%= I18n.localize(@subscription.current_period_start, format:'%d. %b %Y') %> - <%= I18n.localize(@subscription.current_period_end, format:'%d. %b %Y') %>) liegt eine offene Rechnung vor, da deine hinterlegte Zahlungsmethode nicht belastet werden konnte. 
          <strong>Bitte schließe deine Zahlung ab, damit deine Mitgliedschaft wieder aktiviert werden kann.</strong>
        </p>

      <% elsif @subscription&.past_due? %>

        <p>
          Leider gab es bei der Bezahlung deiner Mitgliedschaft (<%= I18n.localize(@subscription.current_period_start, format:'%d. %b %Y') %> - <%= I18n.localize(@subscription.current_period_end, format:'%d. %b %Y') %>) Probleme, da deine hinterlegte Zahlungsmethode nicht belastet werden konnte. 
          <strong>Bitte ändere deine Zahlungsmethode, damit deine Mitgliedschaft wieder aktiviert werden kann.</strong>
        </p>

      <% else %>

        <p>
          Um unsere <%= t("region.#{current_region.id}.domain_short") %> Arbeit nachhaltig zu finanzieren, brauchen wir vor allem eins: Unsere Förder*innen. Danke an alle, die unsere Arbeit bereits mit einer Fördermitgliedschaft unterstützen und es ermöglichen,
          dass <%= t("region.#{current_region.id}.domain_short") %> allen lokalen Macher*innen <%= t("region.#{current_region.id}.in_region") %> kostenlos zur Verfügung steht! <%= link_to 'Hier gehts zu den Fördermitgliedschaften', subscription_plans_path %>
        </p>
        
      <% end %>

    </div>
    <% if @subscription %>
      <%= render 'users/subscription_plan', subscription_plan: @subscription.subscription_plan %>
    <% else %>
      <%= render 'subscriptions/action_card', user: @user %>
    <% end %>
  </div>

  <% if @subscription&.zuckerls&.initialized.present? %>
    <h3>Bereits eingelöste Zuckerl</h3>

    <div class="table-container -light" role="table">
      <div class="flex-table header" role="rowgroup">
        <div class="flex-row medium first" role="columnheader">Laufzeit</div>
        <div class="flex-row large" role="columnheader">Sichtbarkeit</div>
        <div class="flex-row xxxlarge" role="columnheader">Zuckerl</div>
      </div>

      <% @subscription.zuckerls.order(created_at: :desc).each do |zuckerl| %>
        <div class="flex-table" role="rowgroup">
          <div class="flex-row medium" role="cell"><%= zuckerl_month_and_year(zuckerl) %></div>
          <div class="flex-row large" role="cell"><%= zuckerl.visibility %></div>
          <div class="flex-row xxxlarge" role="cell"><%= link_to zuckerl.title, zuckerls_user_path(anchor:"zuckerl-#{zuckerl.id}") %></div>
        </div>
      <% end %>

    </div>
  <% end %>

  <% if current_user.subscription_invoices.any? %>
    <h3>Deine Rechnungen</h3>

    <div class="table-container -light" role="table">
      <div class="flex-table header" role="rowgroup">
        <div class="flex-row large first" role="columnheader">Datum</div>
        <div class="flex-row large" role="columnheader">Status</div>
        <div class="flex-row xlarge" role="columnheader">Rechnungsnummer</div>
        <div class="flex-row xlarge" role="columnheader">Rechnung</div>
      </div>

      <% current_user.subscription_invoices.initialized.order(created_at: :desc).each do |invoice| %>
        <div class="flex-table" role="rowgroup">
          <div class="flex-row large" role="cell"><%= I18n.localize(invoice.created_at, format:'%B %Y') %></div>
          <div class="flex-row large" role="cell"><%= invoice.status %></div>
          <div class="flex-row xlarge" role="cell"><%= invoice.invoice_number %></div>
          <div class="flex-row xlarge" role="cell">
          <% if invoice.status == "open" && @subscription.past_due? %>
            <%= link_to 'Zahlung abschließen', change_payment_subscription_path(@subscription, payment_intent: invoice.stripe_payment_intent_id), class: '-pay' %>
          <% else %>
            <%= link_to 'Download', invoice.generate_invoice_pdf %>
          <% end %>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>

</section>
