<div class="user-tooltip-wrp">

  <div class="tt-img">
    <%= link_to @user do %>
      <%= avatar_image @user, size: :thumb, class: 'avatar img-round', width: 80, height: 80 %>
    <% end %>
  </div>

  <div class="tt-content">
    <%= link_to @user.full_name, @user, class:'username' %>
    <% if current_user != @user %>
      <div class="tt-line -messenger">
        <%= icon_tag "mail-1" %>
        <%= link_to "Nachricht senden", messenger_start_thread_path(user_id: @user.id) %>
      </div>
    <% end %>
    <div class="tt-line -profile">
      <%= icon_tag "user-avatar" %>
      <%= link_to "Zum Profil", @user %>
    </div>
    <div class="tt-line -graetzl">
      <%= icon_tag "map-location" %>
      <%= link_to @user.graetzl.zip_name, @user.graetzl %>
    </div>
  </div>

  <% if !@user.bio.blank? %>
    <div class="tt-bio">
      <%= @user.bio.truncate(120) %>
    </div>
  <% end %>

  <% if params[:additional].present? %>
    <div class="tt-additional">
      <%= params[:additional].html_safe %>
    </div>
  <% end %>

</div>
