<div class="form-block" id="tab-address">

  <div class="hl-subtext">
    <h2>Deine <span>Abholadresse</span></h2>
    <p>Wo kann sich der Mieter deinen Toolteiler abholen?</p>
  </div>

  <div class="address-autocomplete" data-url="<%= address_search_url %>">
    <div class="input-field">
      <%= f.label :address_street do %>
        <%= icon_tag "map-location" %>
        <span>Adresse</span>
      <% end %>
      <%= f.text_field :address_street, placeholder: 'Straße und Hausnummer', class: 'address-autocomplete-input' %>
    </div>

    <%= f.hidden_field :address_coords, class: 'address-coords-input' %>

    <div class="form-columns">
      <div class="input-field">
        <%= f.label :address_zip do %>
          <%= icon_tag "map-location" %>
          <span>Postleitzahl</span>
        <% end %>
        <%= f.text_field :address_zip, class: 'address-zip-input' %>
      </div>

      <div class="input-field">
        <%= f.label :address_city do %>
          <%= icon_tag "map-location" %>
          <span>Ort</span>
        <% end %>
        <%= f.text_field :address_city, class: 'address-city-input' %>
      </div>
    </div>

    <div class="input-select">
      <label>
        <%= icon_tag "flag-1" %>
        <span>Grätzl</span>
      </label>
      <%= f.select :graetzl_id, current_region.graetzls.sort_by(&:zip_name).map{|g| [g.zip_name, g.id]},
          { prompt: 'wählen', required: true }, { class: 'address-graetzl-input' } %>
    </div>

    <div class="input-field">
      <%= f.label :address_description do %>
        <%= icon_tag "location" %>
        <span>Ortsbeschreibung</span>
      <% end %>
      <%= f.text_field :address_description, placeholder: 'z.B.: Kaiserwiese, Gasthaus Hansy, Yoga-Studio am Eck, etc.' %>
    </div>

  </div>

  <div class="input-button">
    <%= button_tag "Zurück", type: 'button', class: 'btn-secondary prev-screen', data: { tab: 'tab-basic' } %>
    <%= button_tag "Weiter", type: 'button', class: 'btn-primary next-screen', data: { tab: 'tab-deposit' } %>
  </div>

</div>
