<div class="form-block" id="tab-deposit">

  <div class="hl-subtext">
    <h2>Möchtest du eine <span>Kaution</span> verlangen?</h2>
    <p>
      Wenn eine Kaution für den Verleihvorgang bei dir hinterlegt werden soll, dann lege diese hier fest.
      <strong>Wichtig:</strong> Die Hinterlegung der Kaution erfolgt in bar und persönlich an dich bei der Übergabe.
    </p>
  </div>

  <div class="deposit-radios">
    <div class="input-radio">
      <input class="deposit-toggle-input" type="radio" value="false" <%= 'checked' if !@tool_offer.deposit? %> name="tool_offer[deposit_enabled]" id="tool_offer_deposit_enabled_false">
      <label for="tool_offer_deposit_enabled_false">Ohne Kaution</label>
    </div>
    <div class="input-radio">
      <input class="deposit-toggle-input" type="radio" value="true" <%= 'checked' if @tool_offer.deposit? %> name="tool_offer[deposit_enabled]" id="tool_offer_deposit_enabled_true">
      <label for="tool_offer_deposit_enabled_true">Mit Kaution</label>
    </div>
  </div>

  <div id="deposit-fields" class="input-field">
    <%= f.label :deposit do %>
      <%= icon_tag "currency-euro" %>
      <span>Kaution</span>
    <% end %>
    <%= f.text_field :deposit, placeholder: 'Lege die Höhe der Kaution in Euro fest...' %>
  </div>

  <div class="input-button">
    <%= button_tag "Zurück", type: 'button', class: 'btn-secondary prev-screen', data: { tab: 'tab-address' } %>
    <%= button_tag "Weiter", type: 'button', class: 'btn-primary next-screen', data: { tab: 'tab-price' } %>
  </div>

</div>
