<div class="form-block" id="tab-insurance">

  <div class="hl-subtext">
    <h2>Infos für deine <span>Versicherung</span></h2>
    <p>
      Deine Arbeitsgeräte sind versichert, wenn sie auf imGrätzl.at - Toolteiler angeboten werden.
      Bitte notiere noch etwaige bekannte Mängel und wenn du auch noch die Seriennummer des Gerätes weisst, perfekt!
    </p>
  </div>

  <!--<div class="form-columns">
    <div class="input-select">
      <%= f.label :value_up_to do %>
        <%= icon_tag "label-tag" %>
        <span>Wert deines Toolteilers</span>
      <% end %>
      <%= f.select :value_up_to, tool_insurance_values %>
    </div>
  </div>-->

  <div class="input-field">
    <%= f.label :serial_number do %>
      <%= icon_tag "label-tag" %>
      <span>Seriennummer</span>
    <% end %>
    <%= f.text_field :serial_number, placeholder: 'Seriennummer ..' %>
  </div>

  <div class="input-textarea">
    <%= f.label :known_defects do %>
    <%= icon_tag "layout-document" %>
    <span>Bekannte Mängel</span>
    <% end %>
    <%= f.text_area :known_defects, placeholder: 'Falls dir Mängel bekannt sind, gib sie hier kurz an ..' %>
  </div>

  <div class="input-button">
    <%= button_tag "Weiter", type: 'button', class: 'btn-primary next-screen', data: { tab: 'tab-price' } %>
  </div>

  <div class="footer-insurance">
    <!--<%= link_to image_tag('logo-axa.png'), info_versicherung_path %>-->
    <p>
      Geräte, die du auf imGrätzl.at - Toolteiler verleihst sind im Rahmen der Versicherungsbedingungen bis zu 15.000 € versichert.
      Einfach und unbürokratisch. Mehr Infos zu der Versicherungspolizze und den allgemeinen Versicherungsbedingungen findest du <%= link_to "hier", info_versicherung_path %>.
    </p>
  </div>

</div>
