<div class="form-block" id="tab-price">

  <div class="hl-subtext">
    <h2>Lege den <span>Preis</span> fest.</h2>
    <p>
      Den Preis, den du für deinen Geräteteiler nimmst, legst du selber fest.
      Mach vorab einen Suchmaschinen Check, was ein üblicher Mietpreis für dein Arbeitsgerät ist.
      Dein Preis sollte darunter liegen, da es beim Geräteteiler nicht darum geht viel Geld zu verdienen,
      sondern darum sich gegenseitig mit einem leistbaren Zugang zu Arbeitsgeräten zu unterstützen.
    </p>
  </div>

  <div class="input-field">
    <%= label_tag(:price_per_day) do %>
      <%= icon_tag "currency-euro" %>
      <span>Preis / Tag</span>
    <% end %>
    <%= f.number_field :price_per_day, placeholder: 'Lege deinen gewünschten Tagespreis fest ..' %>
  </div>

  <div class="form-columns">
    <div class="input-select">
      <%= label_tag(:two_day_discount) do %>
        <%= icon_tag "sale-label" %>
        <span>Tagesrabatt</span>
      <% end %>
      <%= f.select :two_day_discount, tool_discount_values, include_blank: "% Rabatt ab 2 Tagen" %>
    </div>

    <div class="input-select">
      <%= label_tag(:weekly_discount) do %>
        <%= icon_tag "sale-label" %>
        <span>Wochenrabatt</span>
      <% end %>
      <%= f.select :weekly_discount, tool_discount_values, include_blank: "% Rabatt ab 1 Woche" %>
    </div>
  </div>

  <div class="hl-subtext">
    <h2>Dein <span>Auszahlungskonto</span></h2>
    <p>
      Deine Kontoangaben benötigen wir für die Auszahlung deiner Mieteinnahmen.
    </p>
  </div>

  <div class="form-columns">
    <div class="input-field">
      <%= f.label :first_name do %>
        <%= icon_tag "user-avatar" %>
        <span>Vorname</span>
      <% end %>
      <%= f.text_field :first_name, placeholder: 'Vorname' %>
    </div>

    <div class="input-field">
      <%= f.label :last_name do %>
        <%= icon_tag "user-avatar" %>
        <span>Nachname</span>
      <% end %>
      <%= f.text_field :last_name, placeholder: 'Nachname' %>
    </div>
  </div>

  <div class="input-field">
    <%= f.label :iban do %>
      <%= icon_tag "profile-vcard" %>
      <span>Kontoverbindung</span>
    <% end %>
    <%= f.text_field :iban, placeholder: 'IBAN' %>
  </div>

  <div class="input-button">
    <%= button_tag "Zurück", type: 'button', class: 'btn-secondary prev-screen', data: { tab: 'tab-deposit' } %>
    <%= button_tag "Speichern", data: { disable_with: 'speichert...' }, class: 'btn-primary -saving', name: 'tab', value: 'price' if !f.object.new_record? %>

    <% if f.object.new_record? %>
      <%= f.button data: { disable_with: 'speichert...' }, class: 'btn-primary -saving' %>
    <% else %>
      <%= f.button "Zum Geräteteiler", data: { disable_with: 'speichert...' }, class: 'btn-secondary -saving' %>
    <% end %>

  </div>

</div>
