<div id="location-post-form" class="entryCreate" data-behavior="stream-form">
  <%= attachment_image_tag location, :avatar, :fill, 200, 200, class:'img-square', fallback: 'avatar/location/200x200.png'%>
  <%= form_for(location.posts.new, html: { class: 'textEditor' }, remote: true) do |f| %>
    <%= f.hidden_field :graetzl_id, value: location.graetzl.id %>
    <%= f.hidden_field :author_id %>
    <%= f.hidden_field :author_type %>
    <%= f.text_field :title, placeholder: 'Neuigkeit (Titel)', class: 'input-plain postTitle' %>
    <%= f.text_area :content, placeholder: 'Beschreibung', class: 'input-plain postMessage' %>
    <div class="hideBlock">
      <div class="upload-streamImgs">
        <svg class="icon-photo-camera"><use xlink:href="#icon-photo-camera"></use></svg>
        <%= f.attachment_field :images_files, multiple: true, direct: true, presigned: true %>
      </div>
      <%= f.button 'Beitrag senden', data: { disable_with: 'sendet...' }, class: 'btn-secondary' %>
    </div>
  <% end %>
</div>
