<% location = location_post.location %>
<% graetzl = Graetzl.memoized(location.graetzl_id) %>

<div class="cardBox" data-behavior="masonry-card">
  <div class="cardBoxHeader">
    <%= link_to [graetzl, location, anchor: dom_id(location_post)] do %>
      <div class="coverImgWrapper">
        <% if image = location_post.images.first %>
            <%= gallery_photo_image(image, class: 'coverImg') %>
        <% else %>
          <%= cover_photo_image(location, class: 'coverImg') %>
        <% end %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "location" %>
    </div>
  </div>
  <div class="cardBoxContent">
    <div class="avatar-block">
      <%= link_to [graetzl, location], class: 'avatarImg' do %>
        <%= avatar_image(location, size: :small, class: 'img-square avatar') %>
      <% end %>
      <div class="typetxt">
        <%= link_to [graetzl, location] do %>
          <div class="name"><%= location.name %></div>
        <% end %>
        <div class="category"><%= location.location_category.name if location.location_category %></div>
        <% if location.address %>
          <div class="address">
            <%= icon_tag "location" %>
            <%= location.address.street %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="txt">
      <h3><%= link_to location_post.title, [graetzl, location, anchor: dom_id(location_post)] %></h3>
      <p><%= truncate location_post.content, length: 100 %></p>
    </div>

    <% if local_assigns[:appendix].present? %>
      <%= render 'activities/appendix', appendix: local_assigns[:appendix], parent: location_post %>
    <% end %>
  </div>
</div>
