<!----------- LOGIN PANEL CONTENT ----------->
<div class="login-panel -content">
  <div class="hl-subtext">
    <h1>Anmelden / Registrieren</h1>
    <p>
      Bitte melde dich zuerst mit deinem <%= t("region.#{current_region.id}.domain_short") %> Account an.
      <% if local_assigns[:message] %>
        <br><%= local_assigns[:message] %>
      <% end %>
    </p>
  </div>
  <div class="container">
    <div class="login">
      <%= form_for(:user, :url => session_path(:user, :redirect => request.original_url)) do |f| %>
        <div class="input-field">
          <%= label_tag(:login) do %>
            <%= icon_tag "user-avatar" %>
          <% end %>
          <%= f.text_field :login, autofocus: true, placeholder: "Username oder E-Mail" %>
        </div>
        <div class="input-field">
          <%= label_tag(:password) do %>
            <%= icon_tag "unlocked" %>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Passwort" %>
        </div>
        <div class="wrp">
          <%= f.button 'Einloggen', class: 'btn-primary -mint' %>
        </div>
      <% end %>
    </div>
    <div class="register">

      <div class="wrp">
        <p>
          Du hast noch keinen <%= t("region.#{current_region.id}.domain_short") %>-Account?<br>
          <%= link_to 'Hier kostenlos registrieren', new_registration_path(redirect: (local_assigns[:redirect] if local_assigns[:redirect]), origin: (local_assigns[:origin] if local_assigns[:origin])) %>
        </p>
      </div>
      <div class="sharedLinks">
        <%= link_to 'Passwort vergessen?', new_password_path %>
      </div>

    </div>

  </div>
</div>
<!----------- LOGIN PANEL CONTENT ----------->
