<div class="user-miniprofile-container">
  <%= link_to 'javascript:', data: { jq_dropdown: "#user-dropdown-#{user.id}" }, class: 'user-miniprofile-link' do %>
    <%= avatar_for user %>
  <% end %>
  <div id="user-dropdown-<%= user.id %>" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-left">
    <div class="jq-dropdown-panel">
      <%= link_to user.username, user, class: 'userlink' %>
      <p><%= user.full_name %></p>
      <p><%= mail_to user.email, user.email, class: 'maillink' %></p>
    </div>
  </div>
</div>
