<div class="filter-stream">

  <!-- for mobile we use a select menu -->
  <div class="input-select">
    <label for="filter">
      <svg class="icon-funnel-filter"><use xlink:href="#icon-funnel-filter"></use></svg>
      <span>Filter</span>
    </label>
    <select id="filter"><!-- generate links from desktop view via JS --></select>
  </div>
  <!-- END mobile select menu -->

  <%= link_to graetzl_path(graetzl), class: "iconfilter #{active?(graetzl_path(graetzl))}" do %>
    <%= image_tag 'mapthumbs/stuwerviertel.jpg', class: 'mapthumb' %>
    <div class="txt">Grätzl <br/>Übersicht</div>
  <% end %>
  <%= link_to graetzl_meetings_path(graetzl), class: "iconfilter #{active?(graetzl_meetings_path(graetzl))}" do %>
    <svg class="icon-calendar-2"><use xlink:href="#icon-calendar-2"></use></svg>
    <div class="txt">Treffen <br/>& Events</div>
  <% end %>
  <%= link_to graetzl_locations_path(graetzl), class: "iconfilter #{active?(graetzl_locations_path(graetzl))}" do %>
    <svg class="icon-location active"><use xlink:href="#icon-location"></use></svg>
    <div class="txt">Anbieter <br/>& Locations</div>
  <% end %>
  <%= link_to graetzl_rooms_path(graetzl), class: "iconfilter #{active?(graetzl_rooms_path(graetzl))}" do %>
    <svg class="icon-raumteiler"><use xlink:href="#icon-raumteiler"></use></svg>
    <div class="txt">Raum <br/> Teiler</div>
  <% end %>
  <%= link_to graetzl_zuckerls_path(graetzl), class: "iconfilter #{active?(graetzl_zuckerls_path(graetzl))}" do %>
    <svg class="icon-shopping-bag"><use xlink:href="#icon-shopping-bag"></use></svg>
    <div class="txt">Zuckerl <br/>& Angebote</div>
  <% end %>
  <%= link_to graetzl_posts_path(graetzl), class: "iconfilter #{active?(graetzl_posts_path(graetzl))}" do %>
    <svg class="icon-head-idea-lightbulb"><use xlink:href="#icon-head-idea-lightbulb"></use></svg>
    <div class="txt">Ideen <br/>im Grätzl</div>
  <% end %>
  <%= link_to new_user_session_path, class: 'iconfilter loginlink' do %>
    <svg class="icon-login-signin"><use xlink:href="#icon-login-signin"></use></svg>
    <div class="txt">Registrieren<br/>& Login</div>
  <% end %>
</div>
