<!--
<div class="input-field option-switch">
  <div class="input-radio">
    <%= f.radio_button :region_type, 'new_region', class: 'region-type-switch' %>
    <%= f.label :region_type, "Neue Region eröffnen", value: 'new_region' %>
  </div>
  <div class="input-radio">
    <%= f.radio_button :region_type, 'existing_region', class: 'region-type-switch' %>
    <%= f.label :region_type, "Andocken an bestehende Region", value: 'existing_region' %>
  </div>
</div>

<div class="input-select region-select">
  <%= f.label :region_id do %>
    <%= icon_tag "map-location" %>
    <span>Andocken an</span>
  <% end %>
  <%= f.select :region_id, options_for_select(Region.all.sort_by(&:name).map{|g| [g.name, g.id]}, @region_call.region_id), include_blank: "Region auswählen" %>
</div>
-->
<div class="input-field">
  <%= f.label :gemeinden do %>
    <%= icon_tag "map-location" %>
    <span>Stadt / Gemeinde(n)</span>
  <% end %>
  <%= f.text_field :gemeinden, placeholder: 'Um welche Stadt bzw. Gemeinde(n) handelt es sich...' %>
</div>
<div class="input-field">
  <%= f.label :name do %>
    <%= icon_tag "user-avatar" %>
    <span>Ansprechpartner</span>
  <% end %>
  <%= f.text_field :name, placeholder: 'Vorname Nachname' %>
</div>
<div class="input-field">
  <%= f.label :personal_position do %>
    <%= icon_tag "user-avatar" %>
    <span>Ihre Funktion</span>
  <% end %>
  <%= f.text_field :personal_position, placeholder: 'Funktion' %>
</div>
<div class="input-field">
  <%= f.label :email do %>
    <%= icon_tag "at-symbol" %>
    <span>E-Mail Adresse</span>
  <% end %>
  <%= f.text_field :email, placeholder: 'E-Mail' %>
</div>
<div class="input-field">
  <%= f.label :phone do %>
    <%= icon_tag "phone" %>
    <span>Telefon</span>
  <% end %>
  <%= f.text_field :phone, placeholder: 'Telefonnummer' %>
</div>
<div class="input-field">
  <%= f.label :message do %>
    <%= icon_tag "layout-document" %>
    <span>Anmerkungen</span>
  <% end %>
  <%= f.text_area :message, placeholder: 'Fragen & Anmerkungen ...' %>
</div>
