<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/welocally-call-2022.jpg')
  )
%>

<section class="homeWeLocally region_calls info lp">


  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h2><span>WeLocally</span><br>Open Call</h2>
      <h1 class="weLocally"><span>Gemeinsam bringen <br>wir mehr zusammen.<br>Sei locally dabei!</span></h1>
    </div>
    <%= link_to welocally_platform_url do %>
      <%= image_tag 'campaigns/call/screenshot.png', class: 'screenshot', alt:'WeLocally Screenshot', width:721, height:542 %>
    <% end %>
  </div>


  <div class="hl-subtext -header-headline">
    <h1>WeLocally:<br>innovative Gemeinden sind eingeladen sich anzudocken!</h1>
    <p>
      <strong><%= link_to 'WeLocally.at', welocally_platform_url %> ist eine digitale und gemeinwohlorientierte Plattform zur Vernetzung lokaler
      Macher*innen im ländlichen Raum.</strong> Für Kooperationen und mehr Sichtbarkeit, Teilen von Ressourcen (z.B. Raum) und die Stärkung der lokalen Strukturen.
      Für gemeindeübergreifende Zusammenarbeit!
    </p>
  </div>


  <div class="register-line section -fullwidth -fullwidth-welocally">
    <div>
      <h3 class="txt">Bewerbung bis zum 28. Februar möglich!</h3>
      <%= link_to "Jetzt anmelden", "?target=call", class: 'btn-primary -rose -large callbtn' %>
    </div>
  </div>


  <div class="section -fullwidth -fullwidth-welocally">
    <div class="variants">
      <div class="variant">
        <%= image_tag 'campaigns/call/variante-1.png', alt:'WeLocally Variante 1', width:310, height:308 %>
        <br>
        <strong>Variante 1</strong><br>
        Gemeindeverbünde ab 25.000 EinwohnerInnen können teilnehmen. Max. 2 neue Gebiete werden 2022 eröffnet.
      </div>
      <div class="variant">
        <%= image_tag 'campaigns/call/variante-2.png', alt:'WeLocally Variante 2', width:310, height:308 %>
        <br>
        <strong>Variante 2</strong><br>
        Umliegende Gemeinden können sich an die 3 bestehenden Gebiete andocken.
      </div>
    </div>

    <div class="hl-subtext">
      <p>
        <strong>2022 werden innovative Gemeinden gesucht,</strong> die WeLocally als eine Chance begreifen, um Selbstständige, lokale Unternehmen, Kunst- und Kulturschaffende und  lokale Macher*innen und Vereine in ihrer Region zu stärken und die neue Formen der Zusammenarbeit fördern, Leerstand minimieren und die Mehrfachnutzung von Ressourcen und Infrastruktur unterstützen möchten.
      </p>
    </div>
  </div>


  <div class="infos">
    <%= image_tag 'campaigns/call/regionen-illu.png', alt:'WeLocally Call Illu', width:732, height:848 %>
    <p>
      <strong>Hintergrund: WeLocally.at ist eine gemeindeübergreifende und gemeinwohlorientierte Plattform, die 2021 mit den Kärntner Gemeinden Griffen, St. Andrä und Völkermarkt und der Leader-Reagion Mühlviertler Kernland für den ländlichen Raum entwickelt wurde. </strong>
      <br><br>
      WeLocally basiert auf imGrätzl.at, das seit 2016 in Wien erfolgreich aufgebaut wurde. Auf WeLocally teilen sich lokale Macher*innen Ressourcen (z.B. Gewerbeflächen), verbinden sich in Kooperationen, stärken sich gegenseitig und bekommen Sichtbarkeit für ihre Tätigkeit und Events.
      <br><br>
      Durch den gemeindeübergreifenden Vernetzungsansatz von WeLocally rücken die Gemeinden enger zusammen. Positive regionale Effekte können entstehen, etwa wenn über den Raumteiler Leerstand aktiviert und damit der Orts-/Stadtkern belebt wird. 2022 können sich neue Gemeinden an WeLocally andocken. Für Gemeindeverbünde kann ein neues Pilotgebiet/Region eröffnet werden, Nachbargemeinden der Entwicklungspartner können sich an die bereits bestehenden Pilotgebiete anhängen.
      <br><br>
      Mit dem Call wird einen gemeinsamer Start aller neuen WeLocally Gemeinden angestrebt, damit zusätzlich eine regionsübergreifende Vernetzung und Austausch möglich wird.
    </p>
  </div>

  <div class="section -fullwidth -fullwidth-welocally ablauf">
    <div class="hl-subtext">
      <h1><em>Zum Ablauf</em></h1>
    </div>
    <div class="items">
      <div class="item -item1"><span><strong>Anmeldung Call</strong><br> bis zum 28.02.2022</span></div>
      <div class="item -item2"><span><strong>Klärung von offenen Fragen</strong><br> von 01.03. - 14.03.</span></div>
      <div class="item -item3"><span><strong>15.03.2022 finale Rückmeldung,</strong><br> ob alle Voraussetzungen gegeben sind.</span></div>
      <div class="item -item4"><span><strong>Technische Umsetzung:</strong><br> Anbindung Gemeinde(n) bis 30.04.2022 abgeschlossen</span></div>
      <div class="item -item5"><span><strong>Bildung gemeindeübergreifende Arbeitsgruppe</strong> bis 30.03.2022 abgeschlossen</span></div>
      <div class="item -item6"><span><strong>Arbeitsgruppe: 3 x Workshops</strong><br> zum WeLocally Start. April - Mai</span></div>
      <div class="item -item7"><span><strong>Arbeitsgruppe: Monatliche Arbeitstreffen</strong> von Mai - April 2023</span></div>
    </div>
    <div class="hint">
      <small>
        Die Gemeinden arbeiten aktiv mit. Es sind drei Co-Creation Workshops mit der Arbeitsgruppe geplant. Im Anschluss daran erfolgen monatliche (online) Arbeitstreffen mit der Arbeitsgruppe, um die Verankerung der Plattform in der Gemeinde und Region umzusetzen.
      </small>
    </div>
  </div>

  <div class="hl-subtext finanzen-headline">
    <h1><span>Finanzierungsbeitrag für Partnerinnen</span></h1>
    <p>
      Die einmalige Set-up Gebühr beinhaltet die technische Integration der Gemeinde, sowie die drei Workshops und Arbeitstreffen zur Verankerung der Plattform vor Ort. Laufzeit 1 Jahr. Zur Deckung der laufenden Kosten ist ein monatlicher Beitrag vorgesehen,  darin sind z.B. das Hosting, technische Wartung und Pflege und das Nutzer*innen Management enthalten.
    </p>
  </div>

  <div class="lightSliderWrapper card-slider-container">
    <div class="costs card-slider">
      <div class="cardBox cost -cost1">
        <%= image_tag 'campaigns/call/ico-1.png', alt:'Icon 1', width:46, height:70 %>
        <h4>Unter 2.000 Einwohner*innen</h4>
        <div class="title">Set-up Gebühr</div>
        <div class="price">3.500 € <span>/ einmalig</span></div>
        <div class="title">Laufende Kosten</div>
        <div class="price">200 € <span>/ monatlich</span></div>
      </div>
      <div class="cardBox cost -cost1">
        <%= image_tag 'campaigns/call/ico-2.png', alt:'Icon 2', width:46, height:70 %>
        <h4>2.000 - 3.000 Einwohner*innen</h4>
        <div class="title">Set-up Gebühr</div>
        <div class="price">4.000 € <span>/ einmalig</span></div>
        <div class="title">Laufende Kosten</div>
        <div class="price">200 € <span>/ monatlich</span></div>
      </div>
      <div class="cardBox cost -cost1">
        <%= image_tag 'campaigns/call/ico-3.png', alt:'Icon 3', width:46, height:70 %>
        <h4>3.000 - 5.000 Einwohner*innen</h4>
        <div class="title">Set-up Gebühr</div>
        <div class="price">4.250 € <span>/ einmalig</span></div>
        <div class="title">Laufende Kosten</div>
        <div class="price">250 € <span>/ monatlich</span></div>
      </div>
      <div class="cardBox cost -cost1">
        <%= image_tag 'campaigns/call/ico-4.png', alt:'Icon 4', width:46, height:70 %>
        <h4>5.000 - 10.000 Einwohner*innen</h4>
        <div class="title">Set-up Gebühr</div>
        <div class="price">4.500 € <span>/ einmalig</span></div>
        <div class="title">Laufende Kosten</div>
        <div class="price">300 € <span>/ monatlich</span></div>
      </div>
      <div class="cardBox cost -cost1">
        <%= image_tag 'campaigns/call/ico-5.png', alt:'Icon 5', width:46, height:70 %>
        <h4>10.000 - 20.000 Einwohner*innen</h4>
        <div class="title">Set-up Gebühr</div>
        <div class="price">8.000 € <span>/ einmalig</span></div>
        <div class="title">Laufende Kosten</div>
        <div class="price">600 € <span>/ monatlich</span></div>
      </div>
    </div>
  </div>

  <small>
    Partner profitieren von der Aufbauarbeit der letzten 5 Jahre. In die technische Entwicklung der Plattform wurden bislang über 300.000 € investiert, dazu ist ein Vielfaches an Eigenleistung eingeflossen. 2022 werden im Rahmen der Initiative „Regional.Digital.Innovativ“ vom Bundesministerium für Landwirtschaft, Regionen und Tourismus weitere Mittel investiert, um die Plattform technisch um lokale Crowdfunding Tools zu erweitern.  WeLocally ist außerdem von 2022 - 2025 Partner bei einem  Forschungsprojekt. Das ermöglicht uns weitere Services zu entwickeln, die sich positiv auf die lokalen Strukturen und lokale Akteur*innen auswirken werden. Partner*innen bekommen mit WeLocally eine auf sie angepasste digitale und lokale Lösung zu einem Bruchteil der Entwicklungskosten. (Preise netto zzgl. 20 % USt.)
  </small>

  <div class="hl-subtext -form-headline">
    <h1 id="call"><em>Anmeldung Call</em></h1>
  </div>

  <%= form_for @region_call, url: url_for do |f| %>
  <%= form_errors_for @region_call if @region_call %>
  <%= hidden_field_tag :redirect_path, '/call-2022' %>
    <div class="call-form">
      <div class="form-block cardBox">
        <%= render 'form', :f => f %>
        <%= submit_tag "Bewerbung absenden", class: 'btn-primary -mint -large' %>
      </div>
      <div class="contact cardBox">
        <a href="https://www.linkedin.com/in/mmieschendahl/" target="_blank">
          <div class="bigicontext-element">
            <%= image_tag('info/team/Mirjam.jpg', class: 'img-round') %>
          </div>
        </a>
        <p>
          <strong>Kontakt für Rückfragen</strong>
          <br><br>
          Mirjam Mieschendahl<br>
          (Gründerin)<br>
          <strong>Mail</strong>: <a href="mailto:mirjam@welocally.at">mirjam@welocally.at</a> <br>
          <strong>Mobil</strong>: +43-699 / 150 28 277 <br>
        </p>
      </div>
    </div>
  <% end %>

</section>
