<div class="form-block" id="tab-basic">

  <div class="room-offer-type-selection">
    <% RoomOffer.offer_types.each_with_index do |(name, value), i| %>
    <div class="input-radio">
      <%= f.radio_button :offer_type, name, required: true %>
      <%= f.label "offer_type_#{name}", t("activerecord.attributes.room_offer.offer_types.#{name}") %>
    </div>
    <% end %>
  </div>

  <% if f.object.new_record? && current_user.admin? %>
    <h2 class="hl-main"><span>User</span> auswählen</h2>
    <% if f.object.new_record? %>
      <div class="input-field">
        <%= f.label :user_id do %>
          <%= icon_tag "user-avatar" %>
          <span>Raumteiler Ersteller</span>
        <% end %>
        <div class="user-autocomplete autocomplete-wrp">
          <%= image_tag 'svg/loading-input.svg', class: 'autocomplete-loading-spinner -hidden' %>
          <%= hidden_field_tag :user_id, current_user.id, data:{behavior:"user-autocomplete-id"} %>
          <%= text_field_tag :q, current_user.username, id: "user-autocomplete", data:{behavior:"user-autocomplete"} %>
        </div>
      </div>
    <% end %>
  <% end %>

  <h2 class="hl-main"><span>Wo</span> befindet sich dein Raum?</h2>
  <%= render 'room_offers/form/address_fields', f: f %>

  <h2 class="hl-main"><span>Raumtitel</span> und <span>Beschreibung</span></h2>
  <div class="input-field">
    <%= f.label :slogan do %>
    <%= icon_tag "record" %>
    <span>Kurzer Titel</span>
    <% end %>
    <%= f.text_field :slogan, placeholder: 'z.B. Vermiete zur Mitbenutzung ruhigen Praxisraum im 9. Bezirk…' %>
  </div>

  <div class="input-field">
    <%= f.label :room_description do %>
    <%= icon_tag "layout-document" %>
    <span>Beschreibung</span>
    <% end %>
    <%= f.text_area :room_description, placeholder: 'Detaillierte Beschreibung – Hier kannst du deinen Raum ausführlicher beschreiben …' %>
  </div>

  <h2 class="hl-main"><span>Raumkategorie</span> - Welche trifft fur dich zu?</h2>
  <div class="room-categories">
    <%= f.collection_check_boxes :room_category_ids, RoomCategory.all, :id, :name do |b| %>
    <div class="input-checkbox">
      <%= b.check_box %>
      <%= b.label %>
    </div>
    <% end %>
  </div>

  <h2 class="hl-main">Dein idealer <span>Raumpartner</span></h2>
  <div class="input-field">
    <%= f.label :tenant_description do %>
      <%= icon_tag "layout-document" %>
      <span>Wen suchst du?</span>
    <% end %>
    <%= f.text_area :tenant_description, placeholder: 'Wer wurde ideal zu dir bzw. zu euch passen? Welche Tätigkeitsbereiche wären ergänzend zu deinen?' %>
  </div>

  <div class="input-button">
    <%= button_tag "Weiter", type: 'button', class: 'btn-primary next-screen', data: { tab: 'tab-facts' } %>
  </div>

</div>
