<div class="form-block" id="tab-contact">

  <h2 class="hl-main">Ein paar Worte <span>über dich</span> / über euch</h2>
  <div class="input-field">
    <%= f.label :owner_description do %>
      <%= icon_tag "layout-document" %>
      <span>Über mich</span>
    <% end %>
    <%= f.text_area :owner_description, placeholder: 'Ein paar Worte uber dich / euch. In welchem Bereich bist du tätig?' %>
  </div>

  <div class="input-checkbox">
    <%= f.check_box :wants_collaboration %>
    <%= f.label :wants_collaboration, 'Mehr als nur Raum teilen - Ich bin auch an Kooperationen interessiert!' %>
  </div>

  <h2 class="hl-main"><span>Kontakt</span> & Infos</h2>

  <div class="upload-oldschool">
    <%= f.label :avatar do %>
      <%= icon_tag "photo-camera" %>
      <span>Foto von dir<small class="upload-hint">(max. 5MB)</small></span>
    <% end %>
    <div class="field-wrp">
      <%= upload_image_input(f, :avatar) %>
    </div>
  </div>

  <div class="form-columns">
    <div class="input-field">
      <%= f.label :first_name do %>
        <%= icon_tag "user-avatar" %>
        <span>Vorname</span>
      <% end %>
      <%= f.text_field :first_name, placeholder: 'Vorname' %>
    </div>

    <div class="input-field">
      <%= f.label :last_name do %>
        <%= icon_tag "user-avatar" %>
        <span>Nachname</span>
      <% end %>
      <%= f.text_field :last_name, placeholder: 'Nachname' %>
    </div>
  </div>
  <div class="input-field">
    <%= f.label :email do %>
      <%= icon_tag "at-symbol" %>
      <span>Email</span>
    <% end %>
    <%= f.email_field :email, placeholder: 'E-Mail Adresse', class: '-validate' %>
  </div>
  <div class="input-field">
    <%= f.label :website do %>
      <%= icon_tag "globe" %>
      <span>Website</span>
    <% end %>
    <%= f.text_field :website, placeholder: 'http:// oder https://' %>
  </div>
  <div class="input-field">
    <%= f.label :phone do %>
      <%= icon_tag "phone" %>
      <span>Telefonnummer</span>
    <% end %>
    <%= f.text_field :phone, placeholder: '0664 1234567' %>
  </div>
  <div class="input-select">
    <%= f.label :location_id do %>
      <%= icon_tag "location" %>
      <span>Schaufenster</span>
    <% end %>
    <%= f.collection_select(:location_id, current_user.locations, :id, :name, {:include_blank => 'Schaufenster verknüpfen..'}) %>
  </div>

  <div class="input-button">
    <%= button_tag "Zurück", type: 'button', class: 'btn-secondary prev-screen', data: { tab: 'tab-facts' } %>
    <%= button_tag "Speichern", data: { disable_with: 'speichert...' }, class: 'btn-primary -saving', name: 'tab', value: 'contact' if !f.object.new_record? %>
    <%= button_tag "Weiter", type: 'button', class: "#{f.object.new_record? ? 'btn-primary' : 'btn-secondary'} next-screen", data: { tab: 'tab-packages' } %>
  </div>

</div>
