<div class="form-block" id="tab-facts">

  <div class="hl-subtext">
    <h2><span>Ausstattung</span> - kurz das wichtigste</h2>
    <p>Hier kannst du stichwortartig noch besondere Ausstattungsmermale festlegen.</p>
  </div>
  <div class="room-tags">
    <%= collection_check_boxes nil, :suggested_keywords, RoomSuggestedTag.pluck(:name), :downcase, :to_s do |b| %>
    <div class="input-checkbox">
      <%= b.check_box(checked: f.object.keyword_list.include?(b.value)) %>
      <%= b.label %>
    </div>
    <% end %>
  </div>

  <div class="input-tags">
    <%= label_tag :custom_keywords do %>
    <%= icon_tag "label-tag" %>
    <span>Ausstattung<br/><small>(mit Komma getrennt)</small></span>
    <% end %>
    <%= text_field_tag :custom_keywords, (f.object.keyword_list - RoomSuggestedTag.all_tags).join(', '), id: 'custom-keywords' %>
  </div>


  <h2 class="hl-main">Raum<span>größe</span></h2>

  <div class="room-columns">
    <div class="input-field column-left">
      <%= f.label :rented_area do %>
        <%= icon_tag "resize-maximize" %>
        <span>Fläche die du vermietest</span>
      <% end %>
      <%= f.number_field :rented_area, placeholder: 'm2', class: '-validate' %>
    </div>
    <div class="input-field column-right">
      <%= f.label :total_area do %>
        <%= icon_tag "resize-maximize" %>
        <span>Größe des gesamten Objektes</span>
      <% end %>
      <%= f.number_field :total_area, placeholder: 'm2', class: '-validate' %>
    </div>
  </div>

  <h2 class="hl-main"><span>Fotos</span> vom Raum</h2>

  <div class="upload-oldschool">
    <%= f.label :cover_photo do %>
      <%= icon_tag "photo-camera" %>
      <span>Coverfoto</span>
    <% end %>
    <div class="field-wrp">
      <%= upload_image_input(f, :cover_photo) %>
    </div>
  </div>

  <div class="upload-oldschool">
    <%= f.label :images do %>
      <%= icon_tag "photo-camera" %>
      <span>Weitere Fotos</span>
    <% end %>
    <div class="field-wrp">
      <%= upload_images_input(f, :images) %>
    </div>
  </div>

  <div class="input-button">
    <%= button_tag "Zurück", type: 'button', class: 'btn-secondary prev-screen', data: { tab: 'tab-basic' } %>
    <%= button_tag "Weiter", type: 'button', class: 'btn-primary next-screen', data: { tab: 'tab-contact' } %>
  </div>

</div>
