<div class="">
  <div class="form-columns">
    <div class="input-field">
      <%= f.label :price_per_hour do %>
        <%= icon_tag "currency-euro" %>
        <span>Preis / Stunde</span>
      <% end %>
      <%= f.number_field :price_per_hour, placeholder: 'Stundenpreis in €' %>
    </div>
    <div class="input-select">
      <%= label_tag :minimum_rental_hours do %>
        <%= icon_tag "time-clock" %>
        <span>Mindestmietdauer</span>
      <% end %>
      <%= f.select :minimum_rental_hours, minimum_rental_hour_values %>
    </div>
  </div>
  <div class="input-select">
    <%= f.label :eight_hour_discount do %>
      <%= icon_tag "sale-label" %>
      <span>Rabatt ab 8h</span>
    <% end %>
    <%= f.select :eight_hour_discount, room_discount_values, include_blank: "% Rabatt ab 8h" %>
  </div>
  <!--
  <div class="input-field">
    <%= f.label :name do %>
      <%= icon_tag "record" %>
      <span>Beschreibung</span>
    <% end %>
    <%= f.text_field :name, placeholder: 'Gib deinem Preis Paket einen Titel, z.b. "Ganzer Raum"' %>
  </div>
  -->
</div>
