<div class="availability form-columns -three">

  <div class="input-select day">
    <%= label_tag :weekday do %>
      <%= icon_tag "calendar-2" %>
      <span>Montag</span>
    <% end %>
    <%= select_tag :weekday, options_for_select(["verfügbar", "nicht verfügbar"]) %>
  </div>

  <div class="input-field time">
    <%= label_tag :starts_at_time do %>
      <%= icon_tag "time-clock" %>
      <span>Von</span>
    <% end %>
    <%= text_field_tag :starts_at_time, nil, class: 'timepicker', placeholder: 'wählen' %>
  </div>

  <div class="input-field time">
    <%= label_tag :ends_at_time do %>
      <%= icon_tag "time-clock" %>
      <span>Bis</span>
    <% end %>
    <%= text_field_tag :ends_at_time, nil, class: 'timepicker', placeholder: 'wählen' %>
  </div>

  <div class="input-select day">
    <%= label_tag :weekday do %>
      <%= icon_tag "calendar-2" %>
      <span>Dienstag</span>
    <% end %>
    <%= select_tag :weekday, options_for_select(["nicht verfügbar", "verfügbar"]) %>
  </div>

  <div class="input-field time">
    <%= label_tag :starts_at_time do %>
      <%= icon_tag "time-clock" %>
      <span>Von</span>
    <% end %>
    <%= text_field_tag :starts_at_time, nil, class: 'timepicker', placeholder: 'wählen', :disabled => true %>
  </div>

  <div class="input-field time">
    <%= label_tag :ends_at_time do %>
      <%= icon_tag "time-clock" %>
      <span>Bis</span>
    <% end %>
    <%= text_field_tag :ends_at_time, nil, class: 'timepicker', placeholder: 'wählen', :disabled => true %>
  </div>

  <div class="input-select day">
    <%= label_tag :weekday do %>
      <%= icon_tag "calendar-2" %>
      <span>Mittwoch</span>
    <% end %>
    <%= select_tag :weekday, options_for_select(["verfügbar", "nicht verfügbar"]) %>
  </div>

  <div class="input-field time">
    <%= label_tag :starts_at_time do %>
      <%= icon_tag "time-clock" %>
      <span>Von</span>
    <% end %>
    <%= text_field_tag :starts_at_time, nil, class: 'timepicker', placeholder: 'wählen' %>
  </div>

  <div class="input-field time">
    <%= label_tag :ends_at_time do %>
      <%= icon_tag "time-clock" %>
      <span>Bis</span>
    <% end %>
    <%= text_field_tag :ends_at_time, nil, class: 'timepicker', placeholder: 'wählen' %>
  </div>

  <div class="input-select day">
    <%= label_tag :weekday do %>
      <%= icon_tag "calendar-2" %>
      <span>Donnerstag</span>
    <% end %>
    <%= select_tag :weekday, options_for_select(["verfügbar", "nicht verfügbar"]) %>
  </div>

  <div class="input-field time">
    <%= label_tag :starts_at_time do %>
      <%= icon_tag "time-clock" %>
      <span>Von</span>
    <% end %>
    <%= text_field_tag :starts_at_time, nil, class: 'timepicker', placeholder: 'wählen' %>
  </div>

  <div class="input-field time">
    <%= label_tag :ends_at_time do %>
      <%= icon_tag "time-clock" %>
      <span>Bis</span>
    <% end %>
    <%= text_field_tag :ends_at_time, nil, class: 'timepicker', placeholder: 'wählen' %>
  </div>

  <div class="input-select day">
    <%= label_tag :weekday do %>
      <%= icon_tag "calendar-2" %>
      <span>Freitag</span>
    <% end %>
    <%= select_tag :weekday, options_for_select(["verfügbar", "nicht verfügbar"]) %>
  </div>

  <div class="input-field time">
    <%= label_tag :starts_at_time do %>
      <%= icon_tag "time-clock" %>
      <span>Von</span>
    <% end %>
    <%= text_field_tag :starts_at_time, nil, class: 'timepicker', placeholder: 'wählen' %>
  </div>

  <div class="input-field time">
    <%= label_tag :ends_at_time do %>
      <%= icon_tag "time-clock" %>
      <span>Bis</span>
    <% end %>
    <%= text_field_tag :ends_at_time, nil, class: 'timepicker', placeholder: 'wählen' %>
  </div>

  <div class="input-select day">
    <%= label_tag :weekday do %>
      <%= icon_tag "calendar-2" %>
      <span>Samstag</span>
    <% end %>
    <%= select_tag :weekday, options_for_select(["verfügbar", "nicht verfügbar"]) %>
  </div>

  <div class="input-field time">
    <%= label_tag :starts_at_time do %>
      <%= icon_tag "time-clock" %>
      <span>Von</span>
    <% end %>
    <%= text_field_tag :starts_at_time, nil, class: 'timepicker', placeholder: 'wählen' %>
  </div>

  <div class="input-field time">
    <%= label_tag :ends_at_time do %>
      <%= icon_tag "time-clock" %>
      <span>Bis</span>
    <% end %>
    <%= text_field_tag :ends_at_time, nil, class: 'timepicker', placeholder: 'wählen' %>
  </div>

  <div class="input-select day">
    <%= label_tag :weekday do %>
      <%= icon_tag "calendar-2" %>
      <span>Sonntag</span>
    <% end %>
    <%= select_tag :weekday, options_for_select(["verfügbar", "nicht verfügbar"]) %>
  </div>

  <div class="input-field time">
    <%= label_tag :starts_at_time do %>
      <%= icon_tag "time-clock" %>
      <span>Von</span>
    <% end %>
    <%= text_field_tag :starts_at_time, nil, class: 'timepicker', placeholder: 'wählen' %>
  </div>

  <div class="input-field time">
    <%= label_tag :ends_at_time do %>
      <%= icon_tag "time-clock" %>
      <span>Bis</span>
    <% end %>
    <%= text_field_tag :ends_at_time, nil, class: 'timepicker', placeholder: 'wählen' %>
  </div>

</div>
