<div class="form-block" id="tab-slots">

  <div class="hl-subtext">
    <h2>Raumteiler <span>Kurzzeitmiete</span> aktivieren?</h2>
    <p>
      Möchtest du, dass dein Raumteiler stundenweise online gebucht werden kann?
    </p>
  </div>

  <div class="slot-radios">
    <div class="input-radio">
      <%= f.radio_button :rental_enabled, false, class: 'rental-toggle-input' %>
      <%= f.label :rental_enabled, "Nein", value: false %>
    </div>
    <div class="input-radio">
      <%= f.radio_button :rental_enabled, true, class: 'rental-toggle-input' %>
      <%= f.label :rental_enabled, "Ja", value: true %>
    </div>
  </div>


  <div id="slot-fields">

    <div class="hl-subtext">
      <h2><span>Stundenpreis</span> festlegen</h2>
      <p>
        Lege einen Stundenpreis für deinen Raum fest. Nutzer können deinen Raum direkt über ein online Buchungsformular anfragen.
        Sobald du eine Buchungsanfrage bestätigst, bekommst du nach Mietende die Mieteinnahmen auf dein Konto ausbezahlt.
      </p>
    </div>

    <% f.object.build_room_rental_price if f.object.room_rental_price.nil? %>
    <%= f.fields_for :room_rental_price do |price_form| %>
      <%= render 'room_offers/form/rental_price_fields', f: price_form %>
    <% end %>

    <div class="rental-availability-container">
      <%= render 'room_offers/form/availability', f: f %>
    </div>

    <div class="user-billing-container">
      <%= render 'room_offers/form/user_billing' %>
    </div>

  </div>

  <div class="input-button">
    <%= button_tag "Zurück", type: 'button', class: 'btn-secondary prev-screen', data: { tab: 'tab-packages' } %>
    <%= button_tag "Speichern", data: { disable_with: 'speichert...' }, class: 'btn-primary -saving', name: 'tab', value: 'slots' if !f.object.new_record? %>

    <% if f.object.new_record? %>
      <%= f.button data: { disable_with: 'speichert...' }, class: 'btn-primary -saving' %>
    <% else %>
      <%= f.button "Zum Raumteiler", data: { disable_with: 'speichert...' }, class: 'btn-secondary -saving' %>
    <% end %>

  </div>

</div>
