<ul class="tabs-nav -small">
  <li>
    <%= link_to '#tab-basic' do %>
      <span class="desk">Dein Raumteiler</span>
      <span class="mob">1.</span>
    <% end %>
  </li>
  <li>
    <%= link_to '#tab-facts' do %>
      <span class="desk">Ausstattung / Fotos</span>
      <span class="mob">2.</span>
    <% end %>
  </li>
  <li>
    <%= link_to '#tab-contact' do %>
      <span class="desk">Über Dich</span>
      <span class="mob">3.</span>
    <% end %>
  </li>
  <li>
    <%= link_to '#tab-packages' do %>
      <span class="desk">Raumteiler-Pakete</span>
      <span class="mob">4.</span>
    <% end %>
  </li>
  <li>
    <%= link_to '#tab-slots' do %>
      <span class="desk">Kurzzeitmiete</span>
      <span class="mob">5.</span>
    <% end %>
  </li>
</ul>
