<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url("meta/og_logo_welocally.png")
  )
%>
<% content_for :canonical_url, welocally_platform_url %>

<section class="homeWeLocally info lp -startpage">

  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1 class="weLocally">Gemeinsam bringen <br>wir mehr zusammen.<br>Sei locally dabei!</h1>
    </div>
  </div>

  <p class="subline">
    <strong>Entdecke spannende Events, Workshops und die lokalen Anbieter*innen und Initiativen.</strong><br>
    Lerne andere lokalen Macher*innen kennen, finde Gleichgesinnte f체r Kooperationen und zur gegenseitigen
    Unterst체tzung, teile R채ume und Ressourcen, setze deine eigenen Vorhaben mit R체ckenwind um!
  </p>

  <div class="hl-subtext">
    <h1><span>WeLocally gibt es</span> in diesen Gebieten:</h1>
    <p class="mail-hint">Innovative Gemeinden sind herzlich eingeladen sich anzudocken! <%= link_to 'Zum Call', call_2022_url(host: welocally_platform_host) %></p>
  </div>

  <div class="region-switch-icons">
    <% Region.all.each do |region| %>
      <%= link_to region_root_url(region), class: 'region-button' do %>
        <div class="bigicontext-element">
          <%= icon_tag "region-#{region.id}" %>
        </div>
        <div class="title"><%= region.name %></div>
      <% end %>
    <% end %>
    <%= link_to call_2022_url(host: welocally_platform_host), class: 'badge -arrow' do %>
      WeLocally Call
    <% end %>
  </div>

  <div class="section -fullwidth -fullwidth-welocally">

    <div class="hl-subtext">
      <h1><em>So funktioniert</em> WeLocally</h1>
      <p>Melde dich gleich kostenlos an.</p>
    </div>

    <%= render 'static_pages/info_services' %>

    <%= link_to "Sei locally dabei - Kostenlos registrieren", new_registration_path(origin: request.path), class: 'btn-primary -rose -large -shadow -register region-select-link', data: {urlmethod: new_registration_path} if !user_signed_in? %>

  </div>

</section>
