<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url("meta/og_logo_welocally.png")
  )
%>
<% content_for :canonical_url, welocally_platform_url %>

<section class="homeWeLocally info lp -startpage">

  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1 class="weLocally">Gemeinsam bringen <br>wir mehr zusammen.<br>Sei locally dabei!</h1>
    </div>
  </div>

  <p class="subline">
    <strong>Verbinde dich mit anderen lokalen Macher*innen! Teile Räume und Geräte oder starte ein Crowdfunding zur Realisierung deiner Ideen.</strong>
    Entdecke spannende Events, Vereine, Kunst- und Kulturschaffende, lokale Produzent*innen und die Anbieter*innen bei dir ums Eck.
    Finde Gleichgesinnte für Kooperationen und zur gegenseitigen Unterstützung und setze deine eigenen Vorhaben mit Rückenwind um!
  </p>

  <div class="hl-subtext">
    <h1><span>WeLocally gibt es</span> in diesen Gebieten:</h1>
    <p class="mail-hint">Innovative Gemeinden sind herzlich eingeladen sich anzudocken! <%= link_to 'Mehr Infos', andocken_url(host: welocally_platform_host) %></p>
  </div>

  <div class="region-switch-icons">
    <% Region.all.each do |region| %>
      <%= link_to region_root_url(region), class: 'region-button' do %>
        <div class="bigicontext-element">
          <%= icon_tag "region-#{region.id}" %>
        </div>
        <div class="title"><%= region.name %></div>
      <% end %>
    <% end %>
    <!--
    <%= link_to andocken_url(host: welocally_platform_host), class: 'region-button add-region' do %>
      <div class="bigicontext-element">
        <%= icon_tag "plus" %>
      </div>
      <div class="title">Gemeinde / Stadt andocken</div>
    <% end %>
    -->

  </div>

  <div class="section -fullwidth -fullwidth-welocally">

    <div class="hl-subtext">
      <h1><em>So funktioniert</em> WeLocally</h1>
      <p>Melde dich gleich kostenlos an.</p>
    </div>

    <%= render 'static_pages/info_services' %>

    <%= link_to "Sei locally dabei - Kostenlos registrieren", new_registration_path(origin: request.path), class: 'btn-primary -rose -large -shadow -register region-select-link', data: {urlmethod: new_registration_path} if !user_signed_in? %>

  </div>

</section>
