<% meta(
    title: t(".#{current_region.id}.title", region: current_region.name),
    description: t(".#{current_region.id}.description", region: current_region.name),
    robots: 'index, follow',
    og_title: t(".#{current_region.id}.title", region: current_region.name),
    og_description: t(".#{current_region.id}.description", region: current_region.name),
    og_image: image_url("meta/#{current_region.host_id}/og_logo.png")
  )
%>

<% if current_region.raum_booster_open? %>
  <div id="betaflash">
    Noch bis 31.01 - <%= link_to 'RaumBooster Call', '/crowdfunding-booster/raum-booster' %> - Mach mit!
    <%= link_to 'javascript:', class: 'close-ico' do %>
      <%= icon_tag "cross" %>
    <% end %>
  </div>
<% end %>

<section class="homeRegion">

  <div class="stage">
    <%= render 'map' %>
    <div class="stage-content">
      <h1><span>Gemeinsam </span><span>bringen wir mehr </span><span>zusammen</span></h1>
      <%= link_to new_registration_path(origin: request.path), class: 'badge -mint -arrow -left' do %>
        Kostenlos<br/>anmelden
      <% end %>
    </div>
  </div>

  <%= render "navigation" %>

  <div class="graetzl-switch-wrapper">

    <div class="input-select">
      <% if current_region.use_districts? %>
          <label for="select">
            <%= icon_tag "map-location" %>
            <span>Zu <%= t("region.#{current_region.id}.your_graetzl") %></span>
          </label>
          <%= select_tag :select, options_for_select(district_url_options), prompt: 'Bezirk wählen', onchange: 'location.href = $(this).val()' %>
      <% else %>
          <label for="select">
            <%= icon_tag "map-location" %>
            <span>Zu <%= t("region.#{current_region.id}.your_graetzl") %></span>
          </label>
          <%= select_tag :select, options_for_select(graetzl_url_options), prompt: 'Auswählen', onchange: 'location.href = $(this).val()' %>
      <% end %>
    </div>

    <%= render partial: "regions/logos_#{current_region.id}" rescue nil %>

  </div>

  <%= render 'rooms' %>
  <%= render 'crowd_campaigns' %>
  <%= render 'meetings' %>
  <%= render 'locations' %>
  <%= render 'coop_demands' %>

  <%= link_to "Kostenlos #{ t("region.#{current_region.id}.in_your_graetzl") } registrieren", new_registration_path(origin: request.path), class: 'btn-primary -rose -large -shadow -register' if !user_signed_in? %>

</section>
