<% meta(
    title: t(".#{current_region.host_id}.title", region: current_region.name),
    description: t(".#{current_region.host_id}.description", region: current_region.name),
    robots: 'index, follow',
    og_title: t(".#{current_region.host_id}.title", region: current_region.name),
    og_description: t(".#{current_region.host_id}.description", region: current_region.name),
    og_image: image_url("meta/#{current_region.id}/og_logo.png")
  )
%>

<% if current_region.id != 'wien' %>
<div id="betaflash">
  WeLocally ist in der Testphase, melde dich jetzt an und gestalte die nächsten Schritte mit.
  <%= link_to 'javascript:', class: 'close-ico' do %>
    <%= icon_tag "cross" %>
  <% end %>
</div>
<% end %>

<section class="homeRegion">

  <div class="stage">
    <%= render 'map' %>
    <div class="stage-content">
      <% if current_region.id == 'kaernten' %>
        <br><br><h1><span>Mach mit: </span><span>be locally</span></h1>
      <% else %>
        <h1><span>Gemeinsam </span><span>bringen wir mehr </span><span>zusammen</span></h1>
      <% end %>
      <%= link_to new_registration_path(origin: request.path), class: 'badge -mint -arrow -left' do %>
        Kostenlos<br/>anmelden
      <% end %>
    </div>
  </div>

  <%= render "navigation" %>

  <div class="graetzl-switch-wrapper">

    <div class="input-select">
      <% if current_region.use_districts? %>
          <label for="select">
            <%= icon_tag "map-location" %>
            <span>Zu deinem Grätzl</span>
          </label>
          <%= select_tag :select, options_for_select(district_url_options), prompt: 'Bezirk wählen', onchange: 'location.href = $(this).val()' %>
      <% else %>
          <label for="select">
            <%= icon_tag "map-location" %>
            <span>Zu deiner Gemeinde</span>
          </label>
          <%= select_tag :select, options_for_select(graetzl_url_options), prompt: 'Auswählen', onchange: 'location.href = $(this).val()' %>
      <% end %>
    </div>

    <%= render partial: "regions/logos_#{current_region.id}" rescue nil %>

  </div>

  <% if @activity_sample.crowd_campaigns.present? %>
    <div class="block-crowdcampaigns">
      <div class="hl-subtext">
        <h1>Lokales — <span>Crowdfunding</span> <%= t("region.#{current_region.id}.in_your_graetzl") %></h1>
        <p>Setze deine Vorhaben mit der Kraft der Gemeinschaft um.</p>
      </div>
      <div class="cardBoxCollection -tripple -morelink">
        <%= render @activity_sample.crowd_campaigns %>
        <%= render 'crowd_campaigns/action_card', view_all: true %>
      </div>
    </div>
  <% end %>

  <div class="block-meetings">
    <div class="hl-subtext">
      <h1>Entdecke — <span>Events &amp; Workhops</span> <%= t("region.#{current_region.id}.in_your_graetzl") %></h1>
      <p>Organisiert von Selbstständigen, kl. Unternehmen, Vereinen & Macher*innen.</p>
    </div>
    <div class="cardBoxCollection -tripple -morelink">
      <%= render @activity_sample.meetings %>
      <%= render 'meetings/action_card', view_all: true %>
    </div>
  </div>

  <div class="block-locations">
    <div class="hl-subtext">
      <h1>Entdecke — <span>Anbieter &amp; Macherinnen</span> <%= t("region.#{current_region.id}.in_your_graetzl") %></h1>
      <p>Entdecke Selbständige, kl. Unternehmen, Kreative, Vereine & Macher*innen</p>
    </div>
    <div class="cardBoxCollection -tripple -morelink">
      <%= render @activity_sample.locations %>
      <%= render 'locations/action_card', view_all: true %>
    </div>
  </div>

  <div class="block-coops">
    <div class="hl-subtext">
      <h1>Entdecke — <span>Coop & Share</span> Angebote <%= t("region.#{current_region.id}.in_your_graetzl") %></h1>
      <p>Vernetze dich mit anderen, tausch dich aus und kooperiere!</p>
    </div>
    <div class="cardBoxCollection -tripple -morelink">
      <%= render @activity_sample.coop_demands %>
      <%= render 'coop_demands/action_card', view_all: true, create_link: true %>
    </div>
  </div>

  <div class="block-rooms">
    <div class="hl-subtext">
      <h1>Entdecke — <span>Raumteiler</span> <%= t("region.#{current_region.id}.in_your_graetzl") %></h1>
      <p>Gewerbeflächen zum Teilen - Raumhabende und Raumsuchende finden sich</p>
    </div>
    <div class="cardBoxCollection -tripple -morelink">
      <%= render @activity_sample.rooms %>
      <%= render 'rooms/action_card', view_all: true %>
    </div>
  </div>

  <div class="block-tools">
    <div class="hl-subtext">
      <h1>Entdecke — <span>Toolteiler</span> <%= t("region.#{current_region.id}.in_your_graetzl") %></h1>
      <p>Arbeitsequipment leihen & Geräte am Standort nutzen <%= render 'shared/questionmarklink', hint_url: info_toolteiler_path %></p>
    </div>
    <div class="cardBoxCollection -tripple -morelink">
      <%= render @activity_sample.tools %>
      <%= render 'tools/action_card', view_all: true %>
    </div>
  </div>

  <%= link_to "Kostenlos #{ t("region.#{current_region.id}.in_your_graetzl") } registrieren", new_registration_path(origin: request.path), class: 'btn-primary -rose -large -shadow -register' if !user_signed_in? %>

</section>
