<%= form_for(@tool_demand) do |f| %>
  <%= form_errors_for @tool_demand %>
  <div class="form-block">

    <h2 class="hl-main"><span>Titel</span> und <span>Beschreibung</span></h2>
    <div class="input-field">
      <%= f.label :slogan do %>
        <%= icon_tag "record" %>
        <span>Kurzer Titel</span>
      <% end %>
      <%= f.text_field :slogan, placeholder: 'z.B. Suche einen Brennofen für Keramik...' %>
    </div>
    <div class="input-field">
      <%= f.label :demand_description do %>
        <%= icon_tag "layout-document" %>
        <span>Beschreibung</span>
      <% end %>
      <%= f.text_area :demand_description, placeholder: 'Hast du spezielle Anforderungen an das Gerät? Beschreibe kurz das Gerät und dessen Funktionen...' %>
    </div>
    <div class="upload-oldschool">
      <%= f.label :images do %>
        <%= icon_tag "photo-camera" %>
        <span>Bilder<small class="upload-hint">(max. 5MB / Foto)</small></span>
      <% end %>
      <div class="field-wrp">
        <%= upload_image_input(f, :images, multiple: true) %>
      </div>
    </div>
    <div class="input-select">
      <%= f.label :tool_category_id do %>
        <%= icon_tag "layout-document" %>
        <span>Kategorie</span>
      <% end %>
      <%= f.select :tool_category_id, tool_categories_select_options, { include_blank: 'auswählen...' }, class: 'category-select' %>
    </div>

    <h2 class="hl-main"><span>Ausstattung</span> - Kurz das wichtigste</h2>
    <div class="input-tags">
      <%= label_tag :custom_keywords do %>
      <%= icon_tag "label-tag" %>
      <span>Ausstattung<br/><small>(Komma getrennt)</small></span>
      <% end %>
      <%= text_field_tag :custom_keywords, (f.object.keyword_list).join(', '), id: 'custom-keywords' %>
    </div>

    <h2 class="hl-main">Ein paar Worte <span>zur geplanten Verwendung</span></h2>
    <div class="input-field">
      <%= f.label :usage_description do %>
      <%= icon_tag "layout-document" %>
      <span>Verwendung</span>
      <% end %>
      <%= f.text_area :usage_description, placeholder: 'Beschreibe, was du mit dem Gerät vorhast ...' %>
    </div>

    <h2 class="hl-main">Bestimmter Zeitraum & <span>Ausleihdauer</span></h2>
    <div class="usage-period-switch">
      <div class="input-radio">
        <%= f.radio_button :usage_period, false, class: 'period-switch' %>
        <%= f.label :usage_period, "Zeitraum egal", value: false %>
      </div>
      <div class="input-radio">
        <%= f.radio_button :usage_period, true, class: 'period-switch' %>
        <%= f.label :usage_period, "Zeitraum angeben", value: true %>
      </div>
    </div>

    <div id="usage-period-true">
      <p>Von wann bis wann benötigst du das Gerät?</p>
      <div class="input-field">
        <%= f.label :usage_period_from do %>
          <%= icon_tag "calendar-2" %>
          <span>Von</span>
        <% end %>


        <%= f.text_field :usage_period_from,
                         value: (I18n.localize(f.object.usage_period_from, format:'%A, %d. %B %Y') if f.object.usage_period_from),
                         data: { value: (I18n.localize(f.object.usage_period_from, format:'%Y-%m-%d') if f.object.usage_period_from) },
                         class: 'datepicker date-from',
                         placeholder: 'Datum' %>



      </div>
      <div class="input-field">
        <%= f.label :usage_period_to do %>
          <%= icon_tag "calendar-2" %>
          <span>Bis</span>
        <% end %>
        <%= f.text_field :usage_period_to,
                         value: (I18n.localize(f.object.usage_period_to, format:'%A, %d. %B %Y') if f.object.usage_period_to),
                         data: { value: (I18n.localize(f.object.usage_period_to, format:'%Y-%m-%d') if f.object.usage_period_to) },
                         class: 'datepicker date-to',
                         placeholder: 'Datum' %>

      </div>
    </div>

    <div id="usage-period-false"></div>

    <div class="input-field period-days">
      <%= f.label :usage_days do %>
        <%= icon_tag "calendar-2" %>
        <span>Wieviele Tage benätigst du das Gerät in etwa?</span>
      <% end %>
      <%= f.text_field :usage_days, placeholder: 'Anzahl Tage' %>
    </div>

    <h2 class="hl-main">Hast du bereits ein <span>Budget</span> dafür vorgesehen?</h2>
    <div class="input-field period-budget">
      <%= f.label :budget do %>
        <%= icon_tag "currency-euro" %>
        <span>Wie hoch ist dein Budget?</span>
      <% end %>
      <%= f.text_field :budget, placeholder: 'Betrag in Euro' %>
    </div>



    <h2 class="hl-main"><span>Kontakt</span> & Infos</h2>

    <div class="input-field">
      <%= f.label :first_name do %>
      <%= icon_tag "user-avatar" %>
      <span>Vorname</span>
      <% end %>
      <%= f.text_field :first_name %>
    </div>
    <div class="input-field">
      <%= f.label :last_name do %>
      <%= icon_tag "user-avatar" %>
      <span>Nachname</span>
      <% end %>
      <%= f.text_field :last_name %>
    </div>
    <div class="input-field">
      <%= f.label :website do %>
      <%= icon_tag "globe" %>
      <span>Website</span>
      <% end %>
      <%= f.url_field :website, placeholder: 'http:// oder https://' %><em></em>
    </div>
    <div class="input-field">
      <%= f.label :email do %>
      <%= icon_tag "at-symbol" %>
      <span>Email</span>
      <% end %>
      <%= f.email_field :email %>
    </div>
    <div class="input-field">
      <%= f.label :phone do %>
      <%= icon_tag "phone" %>
      <span>Telefonnummer</span>
      <% end %>
      <%= f.text_field :phone %>
    </div>
    <div class="input-select">
      <%= f.label :location_id do %>
        <%= icon_tag "location" %>
        <span>Schaufenster</span>
      <% end %>
      <%= f.collection_select(:location_id, current_user.locations, :id, :name, {:include_blank => 'Schaufenster verknüpfen..'}) %>
    </div>

    <h2 class="hl-main"><span>Wo</span> soll dieses Angebot <span>sichtbar</span> sein?</h2>
    <div id="area-select" data-region="<%= current_region %>" data-graetzl="<%= t("region.#{current_region.id}.graetzl") %>">
      <% if current_region.use_districts? %>
        <div class="input-select">
          <%= f.label :district_ids do %>
            <%= icon_tag "map-location" %>
            <span>Bezirk</span>
          <% end %>
          <%= f.select :district_ids, district_select_options, {}, { multiple: true, class: 'district-select' } %>
        </div>
      <% end %>
      <div class="input-select">
        <%= f.label :graetzl_ids do %>
          <%= icon_tag "map-location" %>
          <span><%= t("region.#{current_region.id}.graetzl") %></span>
        <% end %>
        <%= f.select :graetzl_ids, graetzl_select_options, {}, { multiple: true, class: 'graetzl-select' } %>
      </div>
    </div>

    <% if f.object.new_record? && current_user.admin? %>
      <h2 class="hl-main"><span>User</span> auswählen</h2>
      <% if f.object.new_record? %>
        <div class="input-field">
          <%= f.label :user_id do %>
            <%= icon_tag "user-avatar" %>
            <span>Ersteller</span>
          <% end %>
          <div class="user-autocomplete autocomplete-wrp">
            <%= image_tag 'svg/loading-input.svg', class: 'autocomplete-loading-spinner -hidden' %>
            <%= hidden_field_tag :user_id, current_user.id, data:{behavior:"user-autocomplete-id"} %>
            <%= text_field_tag :q, current_user.username, id: "user-autocomplete", data:{behavior:"user-autocomplete"} %>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="input-button">
      <%= f.button data: { disable_with: 'speichert...' }, class: 'btn-primary -saving' %>
    </div>

  </div>
<% end %>
