<% meta(
    title: t('.title', title: "#{@tool_demand.slogan}"),
    description: t('.description', desc: @tool_demand.demand_description[0..160].gsub(/\n/, " ")),
    robots: 'index, follow',
    og_title: t('.title', title: "#{@tool_demand.slogan}"),
    og_description: t('.description', desc: @tool_demand.demand_description[0..250].gsub(/\n/, " ")),
    og_image: image_url("meta/#{current_region.id}/og_logo.png")
  )
%>

<section class="demandDetail tool-demand">

  <div class="imgHeader">
    <div class="titleHeadline">
      <div class="wrp">
        <h1><%= @tool_demand.slogan %></h1>

        <% if @tool_demand.keyword_list.present? %>
          <div class="category-tags">
            <ul class="tag-list -mint">
              <% @tool_demand.keyword_list.each do |keyword| %>
                <li><%= keyword %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      </div>
      <div class="card"></div>
    </div>
  </div>

  <div class="userContent">
    <div class="col1">
      <%= avatar_image @tool_demand.user, class: 'img-round -largest' %>
    </div>
  </div>


  <div class="mainContent">

    <% if @tool_demand.disabled? && current_user == @tool_demand.user %>
      <div class="inactive-msg">
          Deine Gerätesuche ist aktuell auf inaktiv gesetzt. Gerätesuche jetzt <%= link_to 'wieder aktivieren', [:update_status, @tool_demand, status: "enabled"], method: :patch %>.
      </div>
    <% end %>

    <div class="txt"><%= @tool_demand.demand_description %></div>

    <div class="entryImgUploads -grid">
      <% @tool_demand.images.each do |image| %>
        <%= link_to gallery_thumb_image(image), image.file_url, data: { jbox_image: "maingallery" } %>
      <% end %>
    </div>

    <section class="owner">
      <div class="bigicontext-element">
        <%= icon_tag "info-announcement" %>
        <div class="txt">Verwendung</div>
      </div>
      <div class="txt"><%= @tool_demand.usage_description %></div>
    </section>

    <section>
      <div class="bigicontext-element">
        <%= icon_tag "profile-vcard" %>
        <div class="txt">Kontakt-Infos</div>
      </div>


      <% if current_user %>
        <!-- Contact Block -->
        <div class="contact-login-msg -show">
          <!-- Show Contact Link -->
          <a href="#" id="show-contact-link" data-category="Geräteteiler" data-label="Gerätesuche">Kontaktinformationen einblenden</a>
          <!-- /Show Contact Link -->

          <div class="contact-infos" id="contact-infos-block">
            <% if @tool_demand.first_name.present? && @tool_demand.last_name.present? %>
              <div class="icontxt">
                <%= icon_tag "user-avatar" %>
                <div class="txt"><%= "#{@tool_demand.first_name} #{@tool_demand.last_name}" %></div>
              </div>
            <% end %>

            <% if @tool_demand.phone.present? %>
              <div class="icontxt">
                <%= icon_tag "phone" %>
                <div class="txt"><%= @tool_demand.phone %></div>
              </div>
            <% end %>

            <% if @tool_demand.email.present? %>
              <%= mail_to @tool_demand.email do %>
                <div class="icontxt">
                  <%= icon_tag "at-symbol" %>
                  <div class="txt"><%= @tool_demand.email %></div>
                </div>
              <% end %>
            <% end %>

          <% if @tool_demand.website.present? %>
            <%= link_to @tool_demand.website, class: 'icontxt', target: '_blank' do %>
              <%= icon_tag "globe" %>
              <%= @tool_demand.website.sub(/^https?\:\/\//,'') %>
            <% end %>
          <% end %>
          </div>
        </div>
        <!-- /Contact Block -->
        <% if user_signed_in? && current_user == @tool_demand.user || user_signed_in? && current_user.admin? %>
          <div id="show-contact-block"></div>
        <% end %>

      <% else %>
        <div class="contact-login-msg">
            Du musst eingeloggt sein, um die vollständigen Kontaktinformationen zu sehen.<br />
            <%= link_to 'Zum Login', new_user_session_path(redirect: request.original_url, origin: request.path) %> |
            <%= link_to 'Zur Registrierung', new_registration_path(origin: request.path) %>
        </div>
      <% end %>


    </section>

    <section>
      <div class="bigicontext-element">
        <%= icon_tag "map-location" %>
        <div class="txt"><%= t("region.#{@tool_demand.region.id}.wish_graetzl") %></div>
      </div>
      <div class="category-tags">
        <ul class="tag-list">
          <% compact_graetzl_list(@tool_demand.graetzls).each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      </div>
    </section>

    <section>
      <div class="stream">
        <div class="bigicontext-element">
          <%= icon_tag "layout-text" %>
          <div class="txt">Frage / Kommentar an <%= "#{@tool_demand.first_name} #{@tool_demand.last_name}" %></div>
        </div>
        <%= render 'comments/form', commentable: @tool_demand %>
        <%= render partial: 'comments/stream_comment', collection: @comments, as: 'comment' %>
      </div>
    </section>

  </div>

  <%= render 'sidebar' %>
</section>
