<h1>Noch ein wenig Geduld!</h1>

<h2>
  <%= @graetzl.users.count %> Bewohner haben sich schon in diesem Grätzl angemeldet.<br>
  Ab 30 Anmeldungen gehts auch im Grätzl <%= @graetzl.name %> los!
</h2>

<p>Gleich anmelden und gemeinsam das Grätzl öffnen!</p>
<p>Und wenn du noch weitere Bewohner aus dem Grätzl <%= @graetzl.name %> kennst, gib ihnen gleich Bescheid, damit wir noch schneller auf die 30 kommen...</p>

<h3>In folgenden Grätzln tut sich schon was, schau mal rein:</h3>
<% Graetzl.open.find_each do |g| %>
  <h2><%= link_to g.name, g %> <%= g.districts.first.zip %> Wien</h2>
<% end %>


<div class="ownMeetingBox">
  <%= link_to new_registration_path, class: 'wrp' do %>
      <h3>Sei am Anfang dabei im Grätzl <%= @graetzl.name %></h3>
      <button class="btn-primary -rose">Hier vorab anmelden</button>
  <% end %>
  <div class="card"></div>
</div>