<section class="closedGraetzl-public">

  <div class="hl-subtext">
    <h1>Melde dich an & <span>helfe mit</span> das Grätzl zu eröfnnen!</h1>
    <p>
      <strong class="usercount"><%= @graetzl.users.count %> Bewohner</strong> haben sich in diesem Grätzl angemeldet.<br>
      <strong>Ab 30 Anmeldungen</strong> geht es im Grätzl <%= @graetzl.name %> los.<br>
    </p>
  </div>

  <div class="block-graetzlList">
    <div class="col1">
      <div class="txt-wrp">
        <p>Wenn du aktive Bewohner, oder Initiativen aus dem Grätzl <%= @graetzl.name %> kennst, dann erzähl ihnen von imGrätzl.</p>
      </div>
      <div class="txt-wrp">
        <h3>In folgenden Grätzln tut sich schon was, schau mal rein:</h3>
        <% Graetzl.open.find_each do |g| %>
            <%= link_to g.name, g %> <%= g.districts.first.zip %> Wien
        <% end %>
      </div>
    </div>

    <div class="paperCard -illuteaser -cord1RT">
      <div class="wrp">
        <h3>Sei am Anfang dabei im Grätzl <%= @graetzl.name %></h3>
        <%= link_to 'Hier vorab anmelden', new_registration_path, class: 'btn-primary -rose' %>
      </div>
      <div class="card"></div>
    </div>

  </div>

</section>