<div class="mapImgBlock -hasillu">
  <div id="graetzlMapWidget" data-mapdata="<%= MapData.new.for_graetzl(@graetzl).to_json %>"></div>
  <div class="activeArea"></div>
  <div class="illuDistrict"></div>
  <div class="mapInfoText"></div>

  <div class="navBlock">
    <h1><%= @graetzl.name %></h1>
    <div class="links">
      <% Graetzl.memoized(@graetzl.id).districts.each do |district| %>
        <%= link_to district, class: 'toOverview' do %>
          <%= icon_tag "arrow-left-2" %> <%= district.name %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
