<div class="mapImgBlock -hasillu">
  <div id="graetzlMapWidget" data-mapdata="<%= map_data %>"></div>
  <div class="activeArea"></div>
  <div class="illuDistrict"></div>
  <div class="mapInfoText"></div>

  <div class="navBlock">
    <h1><%= @graetzl.name %></h1>
    <div class="links">
      <% @graetzl.districts.each do |district| %>
        <%= link_to district, class: 'toOverview' do %>
          <svg class="icon-arrow-left-2"><use xlink:href="#icon-arrow-left-2"></use></svg><%= district.name %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if @graetzl.curator %>
    <div class="graetzl-ambassador">
      Kuratiert mit<svg class="icon-love"><use xlink:href="#icon-love"></use></svg>von <%= link_to @graetzl.curator.name, @graetzl.curator.website, target: '_blank' %>
    </div>
  <% end %>
</div>
