<div class="mapImgBlock -hasillu">
  <%= area_map(@graetzl) %>
  <div class="illuDistrict"></div>
  <div class="mapInfoText"></div>

  <div class="navBlock">
    <h1><%= @graetzl.name %></h1>
    <div class="links">
      <% if current_region.use_districts? %>
          <% Graetzl.memoized(@graetzl.id).districts.each do |district| %>
            <%= link_to district_index_path(district), class: 'toOverview' do %>
              <%= icon_tag "arrow-left-2" %> <%= district.name %>
            <% end %>
          <% end %>
      <% else %>
          <%= link_to region_index_path, class: 'toOverview' do %>
            <%= icon_tag "arrow-left-2" %> <%= current_region %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
