<div class="filter-stream">

  <!-- for mobile we use a select menu -->
  <div class="input-select">
    <label for="filter">
      <svg class="icon-funnel-filter"><use xlink:href="#icon-funnel-filter"></use></svg>
      <span>Filter</span>
    </label>
    <select id="filter"><!-- generate links from desktop view via JS --></select>
  </div>
  <!-- END mobile select menu -->

  <%= active_link_to graetzl_path(@graetzl), class: "iconfilter" do %>
    <%= image_tag 'mapthumbs/stuwerviertel.jpg', class: 'mapthumb' %>
    <div class="txt">Grätzl <br/><%= user_signed_in? ? "Stream" : "Übersicht" %></div>
  <% end %>

  <%= active_link_to graetzl_meetings_path(@graetzl), class: "iconfilter" do %>
    <svg class="icon-calendar-2"><use xlink:href="#icon-calendar-2"></use></svg>
    <div class="txt">Treffen <br/>& Events</div>
  <% end %>

  <%= active_link_to locations_graetzl_path(@graetzl), class: "iconfilter" do %>
    <svg class="icon-location active"><use xlink:href="#icon-location"></use></svg>
    <div class="txt">Anbieter <br/>& Locations</div>
  <% end %>

  <%= active_link_to rooms_graetzl_path(@graetzl), class: "iconfilter" do %>
    <svg class="icon-raumteiler"><use xlink:href="#icon-raumteiler"></use></svg>
    <div class="txt">Raum-<br>teiler</div>
  <% end %>

  <%= active_link_to zuckerls_graetzl_path(@graetzl), class: "iconfilter" do %>
    <svg class="icon-shopping-bag"><use xlink:href="#icon-shopping-bag"></use></svg>
    <div class="txt">Zuckerl <br/>& Angebote</div>
  <% end %>

  <%= active_link_to posts_graetzl_path(@graetzl), class: "iconfilter" do %>
    <svg class="icon-head-idea-lightbulb"><use xlink:href="#icon-head-idea-lightbulb"></use></svg>
    <div class="txt">Ideen <br/>im Grätzl</div>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to '#', class: 'iconfilter createentry', data: { behavior: 'createTrigger' } do %>
      <svg class="icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
      <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: 'iconfilter loginlink' do %>
      <svg class="icon-login-signin"><use xlink:href="#icon-login-signin"></use></svg>
      <div class="txt">Registrieren<br/>& Login</div>
    <% end %>
  <% end %>
</div>

<% if user_signed_in? %>
  <div class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container createmenu" data-behavior="createContainer">
    <div class="jq-dropdown-panel">

      <%= link_to new_graetzl_meeting_path(@graetzl) do %>
        <svg class="icon-calendar-2"><use xlink:href="#icon-calendar-2"></use></svg>
        <div class="icontxt">Neues Treffen</div>
      <% end %>

      <%= link_to select_room_offers_path do %>
        <svg class="icon-raumteiler"><use xlink:href="#icon-raumteiler"></use></svg>
        <div class="icontxt">Neuer Raumteiler</div>
      <% end %>

      <%= link_to new_graetzl_user_post_path(@graetzl) do %>
        <svg class="icon-head-idea-lightbulb"><use xlink:href="#icon-head-idea-lightbulb"></use></svg>
        <div class="icontxt">Neue Idee im Grätzl</div>
      <% end %>

      <% current_user.locations.approved.each do |location| %>
        <%= link_to graetzl_location_path(location.graetzl, location, anchor: 'location-post-form') do %>
          <svg class="icon-location"><use xlink:href="#icon-location"></use></svg>
          <div class="icontxt">Neuigkeit meiner Location</div>
          <%= attachment_image_tag location, :avatar, :fill, 35, 35, fallback: 'avatar/location/35x35.png', class: 'img-square' %>
        <% end %>
        <%= link_to new_location_zuckerl_path(location) do %>
          <svg class="icon-shopping-bag"><use xlink:href="#icon-shopping-bag"></use></svg>
          <div class="icontxt">Grätzlzuckerl meiner Location</div>
          <%= attachment_image_tag location, :avatar, :fill, 35, 35, fallback: 'avatar/location/35x35.png', class: 'img-square' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
