<div class="filter-stream -scrollnav overthrow">

  <%= active_link_to graetzl_path(@graetzl), class: "iconfilter" do %>
    <%= icon_tag "map-location" %>
    <div class="txt"><%= t("region.#{current_region.id}.graetzl") %> <br/><%= user_signed_in? ? "Stream" : "Übersicht" %></div>
  <% end %>

  <%= active_link_to rooms_graetzl_path(@graetzl), class: "iconfilter" do %>
    <%= icon_tag "raumteiler" %>
    <div class="txt">Raum<br/>teiler</div>
  <% end %>

  <%= active_link_to tool_offers_graetzl_path(@graetzl), class: "iconfilter" do %>
    <%= icon_tag "tacker" %>
    <div class="txt">Tool<br/>teiler</div>
  <% end %>

  <%= active_link_to coop_demands_graetzl_path(@graetzl), class: "iconfilter -coopshare" do %>
    <%= icon_tag "coop-share-white" %>
    <div class="txt">Coop & Share<br/>Marktplatz</div>
  <% end %>

  <%= active_link_to locations_graetzl_path(@graetzl), class: "iconfilter" do %>
    <%= icon_tag "location" %>
    <div class="txt">Anbieter &<br/>Locations</div>
  <% end %>

  <%= active_link_to meetings_graetzl_path(@graetzl), class: "iconfilter" do %>
    <%= icon_tag "calendar-2" %>
    <div class="txt">Events & <br/>Workshops</div>
  <% end %>

  <%= active_link_to zuckerls_graetzl_path(@graetzl), class: "iconfilter" do %>
    <%= icon_tag "shopping-bag" %>
    <div class="txt">Zuckerl &<br/>Angebote</div>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to 'javascript:', class: 'iconfilter createentry', id: 'createContent' do %>
      <%= icon_tag "pencil" %>
    <% end %>
  <% end %>

</div>

<% if user_signed_in? %>
  <div class="jBoxHidden jBoxDropdown" id="jBoxCreateContent">
    <%= link_to new_meeting_path(graetzl_id: @graetzl.id) do %>
      <%= icon_tag "calendar-2" %>
      <div class="icontxt">Neues Treffen</div>
    <% end %>
    <%= link_to select_room_offers_path do %>
      <%= icon_tag "raumteiler" %>
      <div class="icontxt">Neuer Raumteiler</div>
    <% end %>
    <%= link_to new_tool_offer_path do %>
      <%= icon_tag "tacker" %>
      <div class="icontxt">Neuer Toolteiler</div>
    <% end %>
    <%= link_to new_coop_demand_path do %>
      <%= icon_tag "coop-share-white" %>
      <div class="icontxt">Neues Coop & Share Angebot</div>
    <% end %>
    <% if current_user.locations.empty? %>
      <%= link_to new_location_path do %>
        <%= icon_tag "location" %>
        <div class="icontxt">Neue Location erstellen</div>
      <% end %>
    <% end %>
    <% if current_user.admin? %>
      <%= link_to new_group_path(graetzl_id: @graetzl.id) do %>
        <%= icon_tag "speech-bubble" %>
        <div class="icontxt">Neue Gruppe gründen</div>
      <% end %>
    <% end %>

    <% current_user.locations.approved.each do |location| %>
      <%= link_to graetzl_location_path(Graetzl.memoized(location.graetzl_id), location, anchor: 'location-post-form') do %>
        <%= icon_tag "location" %>
        <div class="icontxt">Neuigkeit meiner Location</div>
        <%= avatar_image location, size: :thumb, class: 'img-square' %>
      <% end %>
      <%= link_to new_location_zuckerl_path(location) do %>
        <%= icon_tag "shopping-bag" %>
        <div class="icontxt">Grätzlzuckerl meiner Location</div>
        <%= avatar_image location, size: :thumb, class: 'img-square' %>
      <% end %>
    <% end %>
  </div>
<% end %>
