<div class="block-overview">
  <div class="cardBoxCollection -quart">
    <div class="wrp-cardBox">
      <h2>Treffen & Events</h2>
      <% unless @meetings.empty? %>
        <%= render @meetings.first %>
        <%= link_to 'Alle Treffen & Events', graetzl_meetings_path(@graetzl), class: 'link-more -small' %>
      <% else %>
        <div class="cardBox meetBox -illuteasersmall">
          <div class="txt">
            <p>Lege ein Treffen für gemeinsame Aktivitäten an oder trage ein Event ein.</p>
          </div>
          <%= link_to 'Treffen anlegen', new_graetzl_meeting_path(@graetzl), class: 'btn-primary' %>
        </div>
      <% end %>
    </div>

    <div class="wrp-cardBox">
      <h2>Initiativen</h2>
      <div class="cardBox initiativeBox -illuteasersmall">
        <div class="txt">
          <p>Gartenprojekt, Flohmarkt, oder Spendenaktion? Finde Mitorganisatoren.</p>
        </div>
        <a class="btn-primary -disabled" href="#" title="An dieser Funktion arbeiten wir noch...">In Kürze verfügbar</a>
      </div>
    </div>

    <div class="wrp-cardBox">
      <h2>Betreiber & Locations</h2>
      <% unless @locations.empty? %>
        <%= render @locations.first %>
        <%= link_to 'Alle Treffpunkte', graetzl_locations_path(@graetzl), class: 'link-more -small' %>
      <% else %>
        <div class="cardBox locationBox -illuteasersmall">
          <div class="txt">
            <p>Unternehmerisch oder kreativ im Grätzl tätig? Zeig, was du machst.</p>
          </div>
          <%= link_to 'Betreiber eintragen', new_location_path, class: 'btn-primary -mint' %>
        </div>
      <% end %>
    </div>

    <div class="wrp-cardBox">
      <h2>Besondere Angebote</h2>
      <div class="cardBox candyBox -illuteasersmall">
        <div class="txt">
          <p>Entdecke einzigartige Anbieter und Angebote in deinem Grätzl.</p>
        </div>
        <a class="btn-primary -mint" href="#">Zum Grätzlzuckerl</a>
      </div>
    </div>
  </div>
</div>

<%= render 'stream' %>