<div class="block-meetings">
  <div class="hl-subtext">
    <h1>Mach mit - <span>Treffen & Events</span> im Grätzl <%= @graetzl.name %></h1>
    <p>Lerne dabei nette Menschen aus deiner Nähe kennen</p>
  </div>

  <div class="cardBoxCollection -tripple">
    <%= render @meetings if @meetings %>
    <%= render 'meetings/action_card', graetzl: @graetzl, more: true %>
  </div>

</div>

<div class="block-locations">
  <div class="hl-subtext">
    <h1>Entdecke <span>Anbieter & Treffpunkte</span> im Grätzl</h1>
    <p>Finde grätzlansässige Kreative, gute Treffpunkte, Lokale & Geschäfte</p>
  </div>
  <div class="cardBoxCollection -tripple">
    <%= render @locations if @locations %>

    <!-- could be partial (action card) -->
    <div class="cardbox-wrp">
      <div class="paperCard -cord1RT -illuteaser">
        <div class="wrp">
          <div class="user">
            <img class="img-round" src="https://placeimg.com/40/40/people?6" alt="">
            <span>Dein Name</span>
          </div>
          <h3>Du bist unternehmerisch oder kreativ im Grätzl <%= @graetzl.name %> tätig?</h3>
          <%= link_to 'Als Betreiber eintragen', new_location_path, class: 'btn-primary' %>
        </div>
        <div class="card"></div>
      </div>
      <%= link_to 'Alle Treffpunkte & Anbieter', graetzl_locations_path(@graetzl), class: 'link-more' %>
    </div>
  <!-- end action card -->

  </div>
</div>

<div class="block-zuckerl">
  <div class="zuckerlHeader">
    <h1>Entdecke Einzigartiges im Grätzl</h1>
    <h2>Besondere Angebote, Aktionen & Workshops</h2>
  </div>
  <div class="zuckerlCollection">

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <img src="/assets/images/dummy/zuckerl/mikle.jpg" alt="" class="img-round">
        <div class="datelocation">
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Mikle Hager-Adam</strong> eröffnet ihre Grinberg Praxis im Stuwerviertel. Mit dem Kennwort ‚Wohlbefinden‘ gibt es 50% Ermäßigung auf die erste Grinberg Anwendung.</div>
      <a href="http://www.mikle-hager-adam.at/" target="_blank">www.mikle-hager-adam.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <img src="/assets/images/dummy/zuckerl/contentessa.jpg" alt="" class="img-round">
        <div class="datelocation">
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt"><strong>3 Gratis-Webseiten-Checks von Contentessa.</strong> Erfahre, ob deine Seite zeitgemäß, ansprechend & nutzerfreundlich ist. Die ersten 3 Personen, die sich bei ihr melden, bekommen einen kostenlosen Check!</div>
      <a href="http://www.contentessa.at/" target="_blank">www.contentessa.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <img src="/assets/images/dummy/zuckerl/omega-cbu.jpg" alt="" class="img-round">
        <div class="datelocation">
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt">Die hochwertigen T-Shirts mit den Designs des Street-Art Künstlers <strong>omega cbu</strong> gibt es mit dem Kennwort ‚Street-Art‘ zum Vorzugspreis von 23 €. Nur solange der Vorrat reicht.</div>
      <a href="http://www.omega-cbu.com/" target="_blank">www.omega-cbu.com</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <img src="/assets/images/dummy/zuckerl/kant.jpg" alt="" class="img-round">
        <div class="datelocation">
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt">Ka:nt innen — Kunst für drunter! Die Künstlerin <strong>Ka:nt</strong> hat neue Zensurpanti es im Programm:</div>
      <a href="http://www.etsy.com/shop/vaKant/" target="_blank">www.etsy.com/shop/vaKant</a>
    </div>

  </div>
  <a class="link-more" href="/wien">Alle Grätzl Zuckerl</a>
</div>