<% meta(
    title: t('.title', graetzl: @graetzl.name),
    description: t('.description', graetzl: @graetzl.name),
    robots: params[:past].present? ? 'noindex, follow' : 'index, follow',
    og_title: t('.title', graetzl: @graetzl.name),
    og_description: t('.description', graetzl: @graetzl.name),
    og_image: image_url('meta/og_logo.png')
  )
%>

<section class="graetzls">
  <%= render 'map' %>
  <%= render 'navigation' %>

  <% if !user_signed_in? %>
    <div class="hl-subtext -cards">
      <h1><span>Events & Workshops</span> im Grätzl <%= @graetzl.name %></h1>
      <p>Organisiert von Selbstständigen, kl. Unternehmen, Vereinen & Macher*innen.</p>
    </div>
  <% end %>

  <%= form_tag meetings_path, method: :get, remote: true, class: 'cards-filter' do %>
    <div class="filter-selection-text-jbox">
      Zeige mir <%= link_to 'alle Events', '#filter-modal-type', data: { no_filter_label: 'alle Events'} %>,
      in <%= link_to @graetzl.name, '#filter-modal-district', data: { no_filter_label: 'ganz Wien'}, class: 'filter-modal-district filter-applied' %>
      - Zur Aktion <%= link_to 'Selbstständige für Selbstständige', platform_meetings_wien_path, class: 'plain-link' %>
    </div>
    <div id="filter-modal-type" class="filter-modal-jbox">
      <%= render 'filters/meeting_type' %>
    </div>
    <div id="filter-modal-district" class="filter-modal-jbox-district">
      <%= render 'filters/district', graetzl_ids: @graetzl.id, district_ids: @graetzl.district.id, graetzl: @graetzl  %>
    </div>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="meetings-card-container"></div>
    <div class="action-card-container" data-behavior="meetings-action-card-container">
      <%= render 'meetings/action_card', graetzl: @graetzl %>
    </div>
    <!-- Insert Featured Card -->
    <% unless Meeting.platform_meeting.upcoming.empty? %>
      <%= render "shared/featured_cards/community_meeting" %>
    <% end %>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'meetings-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
