<% meta(
    title: t('.title', graetzl: @graetzl.name),
    description: t('.description', graetzl: @graetzl.name),
    robots: params[:past].present? ? 'noindex, follow' : 'index, follow',
    og_title: t('.title', graetzl: @graetzl.name),
    og_description: t('.description', graetzl: @graetzl.name),
    og_image: image_url('meta/og_logo.png')
  )
%>

<section class="graetzls">
  <%= render 'map' %>
  <%= render 'curator' if @graetzl.curator %>
  <%= render 'navigation' %>

  <% if !user_signed_in? %>
    <div class="hl-subtext -cards">
      <h1><span>Events & Workshops</span> im Gr채tzl <%= @graetzl.name %></h1>
      <p>Motto: Runter vom Sofa & mitten rein ins Gr채tzlleben</p>
    </div>
  <% end %>

  <%= form_tag meetings_path, method: :get, remote: true, class: 'cards-filter' do %>
    <div class="filter-selection-text">
      Zeige mir Eintr채ge in <%= link_to @graetzl.name, '#filter-modal-bezirk', class: 'filter-applied', data: { no_filter_label: 'allen Bezirken'} %>
    </div>
  <% end %>

  <div id="filter-modal-bezirk" class="filter-modal">
    <%= render 'filters/district_graetzl', graetzl_ids: @graetzl.id, district_ids: @graetzl.district.id %>
  </div>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="meetings-card-container"></div>
    <div class="action-card-container" data-behavior="meetings-action-card-container">
      <%= render 'meetings/action_card', graetzl: @graetzl %>
    </div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'l채dt...', behavior: 'meetings-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
