<% meta(
    title: t(".#{current_region.id}.title", graetzl: @graetzl.name, region: current_region.name),
    description: t(".#{current_region.id}.description", graetzl: @graetzl.name, region: current_region.name),
    og_title: t(".#{current_region.id}.title", graetzl: @graetzl.name, region: current_region.name),
    og_description: t(".#{current_region.id}.description", graetzl: @graetzl.name, region: current_region.name),
    og_image: image_url("meta/#{current_region.host_id}/og_logo.png"),
    robots: 'index, follow'
  )
%>
<% content_for :canonical_url, region_meetings_url(category: @category) if @category %>

<section class="graetzls meetings">
  <%= render 'map' %>
  <%= render 'navigation' %>

  <div class="hl-subtext -cards">
    <h1><span>Events & </span>Workshops</h1>
    <p>Organisiert von Selbstständigen, kl. Unternehmen, Vereinen & Macher*innen.<%= render 'shared/questionmarklink', hint_url: info_events_und_workshops_path %></p>
  </div>

  <%= render 'filters/meeting_categories' %>

  <%= form_tag meetings_path, method: :get, remote: true, class: 'cards-filter' do %>
    <%= hidden_field_tag :category_id, @category.try(:id) %>
    <%= hidden_field_tag :special_category_id, @special_category %>
    <div class="filter-selection-text-jbox">
      Zeige mir <%= link_to 'alle Events', '#filter-modal-type', data: { no_filter_label: 'alle Events'} %>,
      <%= link_to 'von', 'javascript:', data: { no_filter_label: 'von'}, class: 'plain-link date_from' %> - <%= link_to 'bis', 'javascript:', data: { no_filter_label: 'bis'}, class: 'plain-link date_to' %>, 
      aus <%= link_to 'allen Kategorien', 'javascript:', data: { no_filter_label: 'allen Kategorien'}, class: 'plain-link category-slider-label' %>,
      <% if @graetzl.id == current_user&.graetzl_id %>
        in <%= link_to "#{@graetzl.name} & #{t("region.#{current_region.id}.favorite_graetzls")}", '#filter-modal-areas', data: { no_filter_label: "ganz #{current_region}" }, class: 'filter-modal-areas filter-applied' %>
      <% else %>
        in <%= link_to @graetzl.name, '#filter-modal-areas', data: { no_filter_label: "ganz #{current_region}"}, class: 'filter-modal-areas filter-applied' %>
      <% end %>
    </div>
    <div id="filter-modal-type" class="filter-modal-jbox">
      <%= render 'filters/meeting_type', meeting_type: 'all' %>
    </div>
    <div id="filter-modal-areas" class="filter-modal-jbox-areas">
      <% if @graetzl.id == current_user&.graetzl_id %>
        <%= render 'filters/areas', favorites: current_user %>
      <% else %>
        <%= render 'filters/areas', graetzl: @graetzl %>
      <% end %>
    </div>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="meetings-card-container"></div>
    <div class="action-card-container" data-behavior="meetings-action-card-container">
      <%= render 'meetings/action_card', graetzl: @graetzl %>
    </div>

    <!-- Insert Featured Card -->
    <% if current_region.is?('wien') %>
      <%= render 'shared/featured_cards/subscription', subscription: Subscription.in(current_region).active.sample if Subscription.in(current_region).active.any? %>
      <%# render 'shared/featured_cards/good_morning_dates' %>
    <% end %>

    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'meetings-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
