<% meta(
    title: t('.title', graetzl: @graetzl.name),
    description: t('.description', graetzl: @graetzl.name),
    robots: 'index, follow',
    og_title: t('.title', graetzl: @graetzl.name),
    og_description: t('.description', graetzl: @graetzl.name),
    og_image: image_url('meta/og_logo.png')
  )
%>

<section class="graetzls">
  <%= render 'map' %>
  <%= render 'navigation' %>

  <% if !user_signed_in? %>
    <div class="hl-subtext -cards">
      <h1>Gestaltet euer Grätzl mit - <span>Ideen & Wünsche</span></h1>
      <p>Entdecke, was sich BewohnerInnen fürs Grätzl <%= @graetzl.name %> wünschen und welche Ideen im Raum stehen.</p>
    </div>
  <% end %>

  <%= form_tag posts_path(graetzl_id: @graetzl), method: :get, remote: true, class: 'cards-filter' do; end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="posts-card-container"></div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'posts-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
