<%
  meta(
    title: t('.title', graetzl: @graetzl.name),
    description: t('.description', graetzl: @graetzl.name, numeric: @graetzl.district.numeric),
    robots: 'index, follow',
    og_title: t('.title', graetzl: @graetzl.name),
    og_description: t('.description', graetzl: @graetzl.name, numeric: @graetzl.district.numeric),
    og_image: image_url('meta/og_logo.png')
  )
%>
<section class="masonryFilterGrid">
  <%= cache [@graetzl, 'map'], expires_in: 2.months do %>
    <%= render 'map', map_data: @map_data %>
  <% end %>
  <%= render 'curator' if @graetzl.curator %>
  <%= render 'menu' %>

  <% if !user_signed_in? %>
    <div class="hl-subtext">
      <h1><em>Raumteiler</em> - Bilde eine Raumpartnerschaft!</h1>
      <p>Weg vom Einzelkämpfertum - Gemeinsam die monatlichen Kosten senken bzw. teilen.</p>
    </div>
  <% end %>


  <%= form_tag rooms_path(graetzl_id: @graetzl), method: :get, remote: true, class: 'cards-filter autosubmit-filter' do %>
    <div class="filter-selection-text">
      Zeige mir <%= link_to 'alle Raumteiler', '#filter-modal-type' %>,
      aus <%= link_to 'allen Kategorien', '#filter-modal-categories' %>,
      in <%= link_to @graetzl.name, '#filter-modal-bezirk' %>
    </div>

    <div id="filter-modal-type" class="filter-modal">
      <div class="input-select">
        <%= select :room_filter, :room_type, options_for_select(filter_room_types), {}, { class: 'filter-input' } %>
      </div>
      <%= button_tag "Auswahl übernehmen", class: 'btn-primary filter-button' %>
    </div>

    <div id="filter-modal-categories" class="filter-modal">
      <%= collection_check_boxes :room_filter, :room_category_ids, RoomCategory.all, :id, :name do |b| %>
        <div class="input-checkbox filter-input">
          <%= b.check_box("data-label": b.text) %>
          <%= b.label %>
        </div>
      <% end %>
      <%= button_tag "Auswahl übernehmen", class: 'btn-primary filter-button' %>
    </div>

    <div id="filter-modal-bezirk" class="filter-modal filter-modal-large">
      <%= select :room_filter, :district_ids, district_select_options, {}, { multiple: true, class: 'district-select filter-input' } %>
      <%= button_tag "Auswahl übernehmen", class: 'btn-primary filter-button' %>
    </div>
  <% end %>

  <div class="cards-layout-wrapper">
    <div class="cards-container" data-behavior="stream-container"></div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load', data: { disable_with: 'lädt...', behavior: 'paginate-link' } %>
  </div>
</section>
