<% meta(
    title: t('.title', graetzl: @graetzl.name),
    description: t('.description', graetzl: @graetzl.name, numeric: @graetzl.district.numeric),
    og_title: t('.title', graetzl: @graetzl.name),
    og_description: t('.description', graetzl: @graetzl.name, numeric: @graetzl.district.numeric),
    og_image: image_url('meta/og_logo.png'),
    robots: 'index, follow'
  )
%>
<% content_for :canonical_url, rooms_category_region_path(@category) if @category %>

<section class="graetzls rooms">
  <%= render 'map' %>
  <%= render 'navigation' %>

  <% if !user_signed_in? %>
    <!-- only logged in -->
  <% end %>
  <div class="hl-subtext -cards">
    <%= image_tag 'svg/raumteiler-headline.svg', class: 'raumteiler-headline', width:340, height:87 %>
    <p>Gewerbeflächen teilen - Kosten teilen. <%= render 'shared/questionmarklink', hint_url: info_raumteiler_path %></p>
  </div>

  <%= render 'filters/room_categories' %>

  <%= form_tag rooms_path, method: :get, remote: true, class: 'cards-filter' do %>
    <%= hidden_field_tag :category_id, @category.try(:id) %>
    <%= hidden_field_tag :special_category_id, @special_category %>
    <div class="filter-selection-text-jbox">
      Zeig mir <%= link_to 'alle Raumteiler', '#filter-modal-type', data: { no_filter_label: 'alle Raumteiler'} %>,
      aus <%= link_to 'allen Kategorien', 'javascript:', data: { no_filter_label: 'allen Kategorien'}, class: 'plain-link category-slider-label' %>,
      in <%= link_to @graetzl.name, '#filter-modal-district', data: { no_filter_label: "ganz #{current_region}"}, class: 'filter-modal-district filter-applied' %>
    </div>
    <div id="filter-modal-type" class="filter-modal-jbox">
      <%= render 'filters/room_type' %>
    </div>
    <div id="filter-modal-district" class="filter-modal-jbox-district">
      <%= render current_region.use_districts ? 'filters/district' : 'filters/graetzl', graetzl_ids: @graetzl.id, district_ids: @graetzl.district.id, graetzl: @graetzl  %>
    </div>
  <% end %>


  <div class="card-grid-container">
    <div class="card-grid" data-behavior="rooms-card-container"></div>
    <div class="action-card-container" data-behavior="rooms-action-card-container">
      <%= render 'rooms/action_card', graetzl: @graetzl %>
    </div>

    <!-- Insert Featured Card -->
    <%= render partial: 'shared/featured_cards/kreative_raeume' %>

    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'rooms-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
