<% meta(
    title: t('.title', graetzl: @graetzl.name),
    description: t('.description', graetzl: @graetzl.name, numeric: @graetzl.district.numeric),
    robots: 'index, follow',
    og_title: t('.title', graetzl: @graetzl.name),
    og_description: t('.description', graetzl: @graetzl.name, numeric: @graetzl.district.numeric),
    og_image: image_url('meta/og_logo.png')
  )
%>
<section class="graetzls masonryFilterGrid">
  <%= cache [@graetzl, 'map'], expires_in: 2.months do %>
    <%= render 'map', map_data: @map_data %>
  <% end %>
  <%= render 'curator' if @graetzl.curator %>
  <%= render 'menu' %>

  <% if !user_signed_in? %>
    <div class="hl-subtext">
      <h1><em>Raumteiler</em> - Bilde eine Raumpartnerschaft!</h1>
      <p>Weg vom Einzelkämpfertum - Gemeinsam die monatlichen Kosten senken bzw. teilen.</p>
    </div>
  <% end %>

  <%= form_tag rooms_path, method: :get, remote: true, class: 'cards-filter autosubmit-filter' do %>
    <div class="filter-selection-text">
      Zeige mir <%= link_to 'alle Raumteiler', '#filter-modal-type', data: { no_filter_label: 'alle Raumteiler'} %>,
      aus <%= link_to 'allen Kategorien', '#filter-modal-categories', data: { no_filter_label: 'allen Kategorien'} %>,
      in <%= link_to @graetzl.name, '#filter-modal-bezirk', data: { no_filter_label: 'allen Bezirken'} %>
    </div>

    <div id="filter-modal-type" class="filter-modal">
      <%= render 'filters/room_type' %>
    </div>

    <div id="filter-modal-categories" class="filter-modal">
      <%= render 'filters/room_categories' %>
    </div>

    <div id="filter-modal-bezirk" class="filter-modal">
      <%= render 'filters/district_graetzl', graetzl: @graetzl %>
    </div>
  <% end %>

  <div class="masonry-wrapper">
    <div class="cards-container" data-behavior="stream-container"></div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load -big', data: { disable_with: 'lädt...', behavior: 'paginate-link' } %>
  </div>
</section>
