<% title(@graetzl.name) %>

<section class="graetzls" data-mapdata="<%= @map_data %>">

  <div class="mapImgBlock singleGraetzl">
    <div id="graetzlMapWidget" data-mapvisible='{"graetzls":["0205"]}'></div>
    <div class="activeArea"></div>
    <div class="illuDistrict"></div>
    <div class="mapInfoText"></div>

    <div class="wrp-headline">
      <h1><%= @graetzl.name %></h1>
      <%= content_tag :span do %>
          in
          <% @graetzl.districts.each do |district| %>
              <%= link_to district.zip, district %>
          <% end %>
      <% end %>
    </div>
  </div>

  <% if @graetzl.open? %>
    <%= render "open#{'_private' if user_signed_in?}" %>
  <% else %>
    <%= render "closed#{'_private' if user_signed_in?}" %>
  <% end %>
  
</section>