<% meta(
    title: t('.title', name: @graetzl.name, numeric: @graetzl.district.numeric),
    description: t('.description', name: @graetzl.name),
    robots: 'index, follow',
    og_title: t('.title', name: @graetzl.name, numeric: @graetzl.district.numeric),
    og_description: t('.description', name: @graetzl.name),
    og_image: image_url('meta/og_logo.png')
  )
%>

<%= render 'pagemap' %>

<section class="graetzls">
  <%= render 'map' %>
  <%= render 'curator' if @graetzl.curator %>
  <%= render 'menu' %>

  <% if user_signed_in? %>
    <div class="card-grid-container">
      <%= form_tag activities_path(graetzl_id: @graetzl), method: :get, remote: true, class: 'cards-filter' do; end %>
      <div class="card-grid" data-behavior="activities-card-container"></div>
      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'activities-paginate-link' }, rel: 'nofollow' %>
    </div>
  <% else %>
    <%= render "activity_sample" %>
  <% end %>

</section>
