<% title(@graetzl.short_name) %>

<h1><%= @graetzl.short_name %></h1>

<%= content_tag :span do %>
  in
  <% @graetzl.districts.each do |district| %>
    <%= link_to district.zip, district %>
  <% end %>
<% end %>

<div>
  <%= content_tag(:h2, 'Nächste Treffen') if @meetings %>
  <% @meetings.each do |meeting| %>

    <div class="meeting">
      <%= link_to [@graetzl, meeting] do %>      
        <strong>
          <%= I18n.localize(meeting.starts_at_date, format:'%b') %><br>
          <%= meeting.starts_at_date.day %>
        </strong>
        <p><%= meeting.name %><br><%= meeting.users.count %> nehmen schon teil</p>
      <% end %>
    </div>

  <% end %>

  <%= link_to 'Alle Treffen im Grätzl', graetzl_meetings_path(@graetzl) %>
</div>

<div class="stream">
  <%= render 'stream', graetzl: @graetzl, activities: @activities %>
</div>

<!-- tmp styles -->
<style type="text/css">
  div.meeting {
    padding: 1em;
    margin-bottom: 1em;
    background-color: #DCDCDC;
  }
  div.streamEntry {
    padding: 1em;
    border-bottom: 1px dotted #666;
  }
</style>