<% title(@graetzl.short_name) %>

<h1><%= @graetzl.short_name %></h1>

<%= content_tag :span do %>
  in
  <% @graetzl.districts.each do |district| %>
    <%= link_to district.zip, district %>
  <% end %>
<% end %>

<div>
  <%= content_tag(:h2, 'Nächste Treffen') unless @graetzl.next_meetings.empty? %>
  <% @graetzl.next_meetings.each do |meeting| %>

    <%= link_to [@graetzl, meeting] do %>      
      <strong>
        <%= I18n.localize(meeting.starts_at_date, format:'%b') %><br>
        <%= meeting.starts_at_date.day %>
      </strong>
      <p><%= meeting.name %><br><%= meeting.users.count %> nehmen schon teil</p>
    <% end %>

  <% end %>

  <%= link_to 'Alle Treffen im Grätzl', graetzl_meetings_path(@graetzl) %>
</div>

<div class="stream">
  <div class="writeEntry">
    <%= render 'post_form' if user_signed_in? %>
  </div>

  <div class="writeEntry">
    <% if user_signed_in? %>
      <%= button_to new_graetzl_meeting_path(@graetzl), method: :get, class: 'btn-userCallToAction' do %>
        <%= image_tag current_user.avatar_url(:small), class: 'img-round' %> Neues Treffen starten
      <% end %>
  <% end %>
  </div>

  <%= render_activities(@activities, layout: :activity, fallback: 'default') %>
</div>


<!-- tmp styles -->
<style type="text/css">
  div.streamEntry {
    padding: 1em;
    border-bottom: 1px dotted #666;
  }
</style>