<% title(@graetzl.name) %>

<section class="graetzls" data-mapvisible='{"graetzls":["0205"]}'>

  <div class="mapImgBlock">

    <div id="graetzlMapWidget"></div>
    <div class="activeArea"></div>
    <div class="illuDistrict"></div>
    <div class="mapInfoText"></div>

    <div class="wrp-headline">
      <h1><%= @graetzl.name %></h1>

      <%= content_tag :span do %>
          in
          <% @graetzl.districts.each do |district| %>
              <%= link_to district.zip, district %>
          <% end %>
      <% end %>
    </div>

  </div>


  <% if @meetings.present? %>
    <div class="teaserBlock">

      <h2>Nächste Treffen</h2>
      <div class="meetingBoxes">
        <%= render partial: 'meetings/box', collection: @meetings, as: 'meeting' %>
        <div class="specialBox">
          <div class="wrp">Grätzl Special!</div>
          <div class="card"></div>
        </div>
      </div>

      <%= link_to 'Alle Treffen', graetzl_meetings_path(@graetzl), class: 'link-more' %>
    </div>
  <% end %>

  <%= render 'stream' if user_signed_in? %>

</section>