<% meta(
    title: t('.title', name: @graetzl.name, numeric: @graetzl.district.numeric),
    description: t('.description', name: @graetzl.name),
    robots: 'index, follow',
    og_title: t('.title', name: @graetzl.name, numeric: @graetzl.district.numeric),
    og_description: t('.description', name: @graetzl.name),
    og_image: image_url('meta/og_logo.png')
  )
%>

<section class="graetzls masonryFilterGrid">
  <%= cache [@graetzl, 'map'], expires_in: 2.months do %>
    <%= render 'map', map_data: @map_data %>
  <% end %>
  <%= render 'curator' if @graetzl.curator %>
  <%= render 'menu' %>

  <% if user_signed_in? %>
    <%= form_tag activities_path(graetzl_id: @graetzl), method: :get, remote: true, class: 'autosubmit-filter' %>

    <div class="masonry-wrapper">
      <div class="cards-container" data-behavior="stream-container"></div>
      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load -big', data: { disable_with: 'lädt...', behavior: 'paginate-link' } %>
    </div>
  <% else %>
    <%= render "activity_sample" %>
  <% end %>

</section>
