<% meta(
    title: t(".#{current_region.id}.title", name: @graetzl.name, numeric: @graetzl.numeric, region: current_region.name),
    description: t(".#{current_region.id}.description", name: @graetzl.name),
    robots: 'index, follow',
    og_title: t(".#{current_region.id}.title", name: @graetzl.name, numeric: @graetzl.numeric, region: current_region.name),
    og_description: t(".#{current_region.id}.description", name: @graetzl.name),
    og_image: image_url("meta/#{current_region.host_id}/og_logo.png")
  )
%>

<% if current_region.hot_august? %>
  <div id="betaflash">
    „Hot August” für den RaumBooster - <%= link_to 'Mach mit', '/raumbooster' %>!
    <%= link_to 'javascript:', class: 'close-ico' do %>
      <%= icon_tag "cross" %>
    <% end %>
  </div>
<% elsif current_region.is?('wien') && user_signed_in? && current_user.show_subscription_hint? %>
  <div id="betaflash">
    Uns gibt's nur durch eure <%= link_to 'Unterstützung', subscription_plans_url %>!
    <%= link_to 'javascript:', class: 'close-ico' do %>
      <%= icon_tag "cross" %>
    <% end %>
  </div>
<% end %>


<section class="graetzls">
  <%= render 'map' %>
  <%= render 'navigation' %>

  <% if user_signed_in? %>

    <%= form_tag activities_path, method: :get, remote: true, class: 'cards-filter' do %>
      <div class="filter-selection-text-jbox">

        <% if @graetzl.id == current_user&.graetzl_id %>
          Neues aus
          <%= link_to "#{@graetzl.name} & #{t("region.#{current_region.id}.favorite_graetzls")}", '#filter-modal-activity',
              data: { no_filter_label: "#{@graetzl.name} & #{t("region.#{current_region.id}.favorite_graetzls")}"} %>
        <% else %>
          Neues aus
          <%= link_to "#{@graetzl.name}", '#filter-modal-activity',
            data: { no_filter_label: "#{@graetzl.name}"} %>
        <% end %>

      </div>
      <div id="filter-modal-activity" class="filter-modal-jbox oneclick">
        <%= render 'filters/home_graetzl', graetzl: @graetzl %>
      </div>
    <% end %>

    <div class="card-grid-container">
      <div class="card-grid" data-behavior="activities-card-container"></div>
      <!-- Insert Featured Card -->
      <%= render 'shared/featured_cards/subscription', subscription: Subscription.in(current_region).active.sample if Subscription.in(current_region).active.any? && current_region.is?('wien') %>
      

      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'activities-paginate-link' }, rel: 'nofollow' %>
    </div>

  <% else %>

    <% if current_region.id == 'wien' %>

      <%= render 'rooms' %>
      <%= render 'crowd_campaigns' %>
      <%= render 'meetings' %>
      <%= render 'locations' %>
      <%= render 'coop_demands' %>
      <%= render 'energieteiler' %>

    <% else %>

      <%= form_tag activities_path, method: :get, remote: true, class: 'cards-filter' do %>
        <div class="filter-selection-text-jbox">
          Neues aus <%= link_to "#{@graetzl.name}", '#filter-modal-activity', data: { no_filter_label: "#{@graetzl.name}"} %>
        </div>
        <div id="filter-modal-activity" class="filter-modal-jbox oneclick">
          <%= render 'filters/home_graetzl', graetzl: @graetzl %>
        </div>
      <% end %>

      <div class="card-grid-container">
        <div class="card-grid" data-behavior="activities-card-container"></div>
        <!-- Insert Featured Card -->

        <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'activities-paginate-link' }, rel: 'nofollow' %>
      </div>

    <% end %>

  <% end %>

</section>
