<%
  meta({
    title: t('.title', name: @graetzl.name, numeric: @graetzl.district.numeric),
    description: t('.description', name: @graetzl.name),
    robots: 'index, follow',
    og_title: t('.title', name: @graetzl.name, numeric: @graetzl.district.numeric),
    og_description: t('.description', name: @graetzl.name),
    og_image: image_url('meta/og_logo.png')
  })
%>

<section class="startpage">
  <%= cache [@graetzl, 'map'], expires_in: 2.months do %>
    <%= render 'map', map_data: @map_data %>
  <% end %>
  <%= render 'filters', graetzl: @graetzl %>
  <div class="cards-container" data-behavior="stream-container">
    <%= render @activity_decorated || @activity %>
  </div>
  <%= view_more_link @activity %>
</section>
