<% title(@graetzl.name) %>

<section class="graetzls" data-mapdata="<%= @map_data %>">

  <div class="mapImgBlock">

    <div id="graetzlMapWidget" class="singleGraetzlHeader" data-mapvisible='{"graetzls":["0205"]}'></div>
    <div class="activeArea"></div>
    <div class="illuDistrict"></div>
    <div class="mapInfoText"></div>

    <div class="wrp-headline">
      <h1><%= @graetzl.name %></h1>

      <%= content_tag :span do %>
          in
          <% @graetzl.districts.each do |district| %>
              <%= link_to district.zip, district %>
          <% end %>
      <% end %>
    </div>

  </div>



  <div class="teaserBlock">

    <div class="meetingBoxes -quart">

      <div class="wrp-cardBox">
        <h2>Treffen & Events</h2>
        <% if @meeting %>
          <%= render @meeting, card: true %>
        <% else %>
          bla
        <% end %>
      </div>

      <div class="wrp-cardBox">
        <h2>Initiativen</h2>
        <div class="cardBox initiativeBox">
          <h3><svg class="icon-lightbulb"><use xlink:href="#icon-lightbulb"></use></svg>Du hast eine Idee für dein Grätzl?</h3>
          <div class="txt">
            <p>Ein Community-Gartenprojekt, ein Flohmarkt, eine Charityaktion?</p>
            <p><strong>Wir arbeiten an dieser Funktion!</strong> Bald kannst du deine Idee hier eintragen und Mitorganisatoren bzw. Unterstützer finden.</p>
          </div>
        </div>
      </div>

      <div class="wrp-cardBox">
        <h2>Locations</h2>
        <div class="cardBox locationBox">
          <% if @graetzl.locations.managed.present? %>

            <% @graetzl.locations.managed.order("RANDOM()").limit(2).each do |location| %>
              <%= link_to [location.graetzl, location], class: 'locationUserSlice' do %>
                <div class="wrp-user">
                  <%= avatar_for (user = location.users.first) %>
                  <div class="col">
                    <span class="username"><%= user.username %></span><br>
                    betreibt
                  </div>
                </div>
                <div class="locationName"><%= location.name %></div>
              <% end %>
            <% end %>

          <%= link_to graetzl_locations_path(@graetzl), class: 'icontxt' do %>
            Alle Locations<svg class="icon-arrow-right-2"><use xlink:href="#icon-arrow-right-2"></use></svg>
          <% end %>

        <% else %>
          <div class="cardBox locationBox">
            <p>Es wurden noch keine Locations im Grätzl angelegt. Bist du selbst wirtschaftlich im Grätzl tätig, so kannst du hier deine Location anlegen</p>
          </div>
        <% end %>
        </div>



      </div>

      <div class="wrp-cardBox">
        <div class="cardBox candyBox">
          <h3>Entdecke<br>einzigartiges im Grätzl!</h3>
          <div class="txt">
            <p>Stöbere durch besondere Angebote von grätzlansässigen Kreativen, Selbständigen und kleinen Unternehmen im Viertel.</p>
            <p>Jeder erste Mittwoch des Monats ist Grätzlzuckerltag und es erscheinen neue Angebote!</p>
          </div>
          <a href="#" class="icontxt">
            Zu den Grätzlzuckerl<svg class="icon-arrow-right-2"><use xlink:href="#icon-arrow-right-2"></use></svg>
          </a>
        </div>
      </div>

    </div>

  </div>

  <% if user_signed_in? %>
      <div class="wrp-stream">
        <h2>Neues im <span><%= @graetzl.name %></span> Stream</h2>
        <div class="streamEntryNav">
          <span class="createEntry icontxt"><svg class="icon-speech-bubble"><use xlink:href="#icon-speech-bubble"></use></svg>Beitrag</span>
          <a href="/treffen/new" class="createMeeting">Treffen anlegen</a>
        </div>

      </div>
      <%= render 'stream' %>
  <% end %>



</section>