<% title(@graetzl.name) %>

<section class="graetzls" data-mapvisible='{"graetzls":["0205"]}'>

  <div class="headerImgBlock">

    <div id="graetzlMapWidget"></div>
    <div class="activeArea"></div>
    <div class="illuDistrict"></div>
    <div class="mapInfoText"></div>

    <div class="wrp-headline">
      <h1><%= @graetzl.name %></h1>

      <%= content_tag :span do %>
          in
          <% @graetzl.districts.each do |district| %>
              <%= link_to district.zip, district %>
          <% end %>
      <% end %>
    </div>

  </div>



  <div class="teaserBlock">

    <h2>Nächste Treffen</h2>
    <div class="meetingBoxes">
      <% @meetings.each do |meeting| %>
          <%= render 'meetings/box', meeting: meeting %>
      <% end %>
      <div class="specialBox">
        <div class="wrp">Grätzl Special!</div>
        <div class="card"></div>
      </div>
    </div>

    <%= link_to 'Alle Treffen', graetzl_meetings_path(@graetzl), class: 'link-more' %>
  </div>

  <%= render 'stream' %>


</section>