<% meta(
    title: t('.title', name: @graetzl.name, numeric: @graetzl.district.numeric, region: current_region.name),
    description: t('.description', name: @graetzl.name),
    robots: 'index, follow',
    og_title: t('.title', name: @graetzl.name, numeric: @graetzl.district.numeric, region: current_region.name),
    og_description: t('.description', name: @graetzl.name),
    og_image: image_url('meta/og_logo.png')
  )
%>

<section class="graetzls">
  <%= render 'map' %>
  <%= render 'navigation' %>

  <% if user_signed_in? %>

    <%= form_tag activities_path, method: :get, remote: true, class: 'cards-filter' do %>
      <div class="filter-selection-text-jbox">
        Neues aus <%= current_region.use_districts ? 'dem' : 'der' %> <%= link_to "Bezirk #{@graetzl.district.name} (#{@graetzl.district.zip})", '#filter-modal-activity', data: { no_filter_label: "Bezirk #{@graetzl.district.name} (#{@graetzl.district.zip})"} %>
      </div>
      <div id="filter-modal-activity" class="filter-modal-jbox oneclick">
        <%= render 'filters/home_graetzl', graetzl_ids: @graetzl.id, district_ids: @graetzl.district.id, graetzl: @graetzl %>
      </div>
    <% end %>
    <div class="card-grid-container">
      <div class="card-grid" data-behavior="activities-card-container"></div>
      <!-- Insert Featured Card -->
      <%= render partial: 'shared/featured_cards/sommer_events' if current_region == 'wien' %>

      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'activities-paginate-link' }, rel: 'nofollow' %>
    </div>

  <% else %>

    <%= render "activity_sample" %>

  <% end %>

</section>
