<% meta(
    title: t('.title', graetzl: @graetzl.name),
    description: t('.description', graetzl: @graetzl.name, numeric: @graetzl.district.numeric),
    og_title: t('.title', graetzl: @graetzl.name),
    og_description: t('.description', graetzl: @graetzl.name, numeric: @graetzl.district.numeric),
    og_image: image_url('meta/toolteiler.jpg'),
    robots: 'index, follow'
  )
%>
<% content_for :canonical_url, tool_offers_category_region_path(@category) if @category %>

<section class="graetzls toolteiler">
  <%= render 'map' %>
  <%= render 'navigation' %>

  <div class="hl-subtext -cards">
    <%= image_tag 'svg/toolteiler-headline.svg', class: 'toolteiler-headline', width:340, height:85 %>
    <p>Arbeitsequipment leihen & Geräte am Standort nutzen <%= render 'shared/questionmarklink', hint_url: info_toolteiler_path %></p>
  </div>

  <%= render 'filters/tool_offer_categories' %>

  <%= form_tag tool_offers_path, method: :get, remote: true, class: 'cards-filter' do %>
    <%= hidden_field_tag :category_id, @category.try(:id) %>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="tool-offers-card-container"></div>
    <div class="action-card-container" data-behavior="tool-offers-action-card-container">
      <%= render 'tool_offers/action_card' %>
    </div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'tool-offers-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
