<% meta(
    title: t(".#{current_region.id}.title", graetzl: @graetzl.name, region: current_region.name),
    description: t(".#{current_region.id}.description", graetzl: @graetzl.name, numeric: @graetzl.numeric, region: current_region.name),
    robots: 'index, follow',
    og_title: t(".#{current_region.id}.title", graetzl: @graetzl.name, region: current_region.name),
    og_description: t(".#{current_region.id}.description", graetzl: @graetzl.name, numeric: @graetzl.numeric, region: current_region.name),
    og_image: image_url("meta/#{current_region.host_id}/og_logo.png")
  )
%>

<section class="graetzls">
  <%= render 'map' %>
  <%= render 'navigation' %>

  <div class="hl-subtext -cards">
    <h1>Die schönsten <span>Angebote im <%= I18n.localize Time.now.end_of_month, format: '%B' %></span> <%= t("region.#{current_region.id}.in_graetzl") %></h1>
    <p>Tolle Angebote, Gutscheine & Rabatte von Selbständigen & Geschäften ums Eck <%= render 'shared/questionmarklink', hint_url: info_zuckerl_path %></p>
  </div>

  <%= form_tag zuckerls_path, method: :get, remote: true, class: 'cards-filter' do %>

    <div class="filter-selection-text-jbox">
      Zeige mir Zuckerl
      <% if @graetzl.id == current_user&.graetzl_id %>
        in <%= link_to "#{@graetzl.name} & #{t("region.#{current_region.id}.favorite_graetzls")}", '#filter-modal-areas', data: { no_filter_label: "ganz #{current_region}" }, class: 'filter-modal-areas filter-applied' %>
      <% else %>
        in <%= link_to @graetzl.name, '#filter-modal-areas', data: { no_filter_label: "ganz #{current_region}"}, class: 'filter-modal-areas filter-applied' %>
      <% end %>
    </div>
    <div id="filter-modal-areas" class="filter-modal-jbox-areas">
      <% if @graetzl.id == current_user&.graetzl_id %>
        <%= render 'filters/areas', favorites: current_user %>
      <% else %>
        <%= render 'filters/areas', graetzl: @graetzl %>
      <% end %>
    </div>

  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="zuckerls-card-container"></div>
    <div class="action-card-container" data-behavior="zuckerls-action-card-container">
      <%= render 'zuckerls/action_card', graetzl: @graetzl %>
    </div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'zuckerls-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
