<% meta(
    title: t(".#{current_region.host_id}.title", graetzl: @graetzl.name),
    description: t(".#{current_region.host_id}.description", graetzl: @graetzl.name, numeric: @graetzl.numeric),
    robots: 'index, follow',
    og_title: t(".#{current_region.host_id}.title", graetzl: @graetzl.name),
    og_description: t(".#{current_region.host_id}.description", graetzl: @graetzl.name, numeric: @graetzl.numeric),
    og_image: image_url("meta/#{current_region.id}/og_logo.png")
  )
%>

<section class="graetzls">
  <%= render 'map' %>
  <%= render 'navigation' %>

  <div class="hl-subtext -cards">
    <h1>Die schönsten <span>Angebote im <%= I18n.localize Time.now.end_of_month, format: '%B' %></span> <%= t("region.#{current_region.id}.in_graetzl") %></h1>
    <p>Tolle Angebote, Gutscheine & Rabatte von Selbständigen & Geschäften ums Eck <%= render 'shared/questionmarklink', hint_url: info_zuckerl_path %></p>
  </div>

  <%= form_tag zuckerls_path(graetzl_id: @graetzl), method: :get, remote: true, class: 'cards-filter' do; end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="zuckerls-card-container"></div>
    <div class="action-card-container" data-behavior="zuckerls-action-card-container">
      <%= render 'zuckerls/action_card', graetzl: @graetzl %>
    </div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'zuckerls-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
