<div class="categories-list">
  <h3>Kategorien</h3>
  <ul>
    <li>
      <%= icon_tag('record') %>
      <%= link_to "Alle", group_discussions_path(@group), remote: true,
        class: params[:discussion_category_id].blank? ? 'autoload-link' : nil %>
    </li>
    <% @group.discussion_categories.each do |discussion_category| %>
      <li>
        <%= icon_tag('record') %>
        <%= link_to discussion_category.title, group_discussions_path(@group, discussion_category_id: discussion_category.id),
          remote: true, class: params[:discussion_category_id] == discussion_category.id.to_s ? 'autoload-link' : nil %>
      </li>
    <% end %>
  </ul>
</div>

<!-- for mobile we use a select menu -->
<div class="input-select categories-list-mobile">
  <label for="filter">
    <%= icon_tag "funnel-filter" %>
    <span>Diskussionen aus der Kategorie..</span>
  </label>
  <select id="filter"><!-- generate links from desktop view via JS --></select>
</div>
<!-- END mobile select menu -->
