<% post = discussion.sticky? ? discussion.discussion_posts.first : discussion.discussion_posts.last %>
<div class="discussion-preview">

  <h3>
    <%= link_to discussion.title, [discussion.group, discussion] %>
  </h3>

  <div class="discussion-infos">
    <%= discussion.discussion_posts.size  %> <%= discussion.discussion_posts.size > 1 ? 'Beiträge' : 'Beitrag'  %> im Thema &middot; Letzter von:
  </div>

  <% if discussion.discussion_posts.size > 0 %>
  <div class="user">
    <div class="avatar">
      <%= attachment_image_tag post.user, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
    </div>
    <div class="infos">
      <div class="name"><%= post.user.full_name %></div>
      <div class="date">
        <%= I18n.localize(post.created_at, format:'%a, %d. %B %Y, %H:%M') %>
      </div>
    </div>
  </div>

  <div class="content">
    <p><%= post.content.truncate(300, separator: ' ') %></p>
    <div class="ctrl">
      <%= link_to 'Beitrag lesen', [discussion.group, discussion, anchor: "discussion-post-#{post.id}"], class: 'btn-secondary -mint -small' %>
    </div>
  </div>
  <% end %>

</div>
