<%= form_for [@group, discussion], html: { class: 'discussion-form' } do |f| %>

  <div class="input-field">
    <%= f.label :title do %>
    <%= icon_tag "speech-bubble" %>
    <span>Neues Thema</span>
    <% end %>
    <%= f.text_field :title, placeholder: 'Gib deinem Thema einen kurzen Titel ..', required: true, class: '-validate' %>
  </div>

  <div class="input-select">
    <%= f.label :discussion_category_id do %>
      <%= icon_tag "record" %>
      <span>Kategorie</span>
    <% end %>
    <%= f.select :discussion_category_id, @group.discussion_categories.map{|g| [g.title, g.id]}, id: 'discussion-category-select', include_blank: 'Kategorie auswählen..' %>
  </div>

  <% if f.object.new_record? %>
    <%= f.fields_for :initial_post, DiscussionPost.new do |pf| %>
      <div class="input-textarea">
        <%= pf.label :content do %>
          <%= avatar_image current_user, size: :thumb, class: 'avatar img-round' %>
          <span>Dein Beitrag</span>
        <% end %>
        <%= pf.text_area :content, cols: 100, rows: 5, placeholder: 'Dein erster Beitrag im Thema ..', required: true, class: '-validate' %>
      </div>

      <div class="upload-oldschool">
        <%= pf.label :images do %>
          <%= icon_tag "photo-camera" %>
          <span>Bilder</span>
        <% end %>
        <div class="field-wrp">
          <%= upload_image_input(pf, :images, multiple: true, live_preview: false) %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @group.admins.include?(current_user) || current_user.admin? %>
    <div class="input-checkbox">
      <%= f.check_box :sticky %>
      <%= f.label :sticky, "Sticky Thema / Oben halten." %>
    </div>
  <% end %>

  <% if f.object.new_record? && @group.default_joined? && @group.admins.include?(current_user) && current_user.admin? %>
    <div class="input-checkbox">
      <input name="trigger_notification" type="hidden" value="0"><input type="checkbox" value="1" name="trigger_notification" id="trigger_notification">
      <label for="trigger_notification"><strong>E-Mail Trigger?</strong> (<%= @group.group_users.size %> Gruppenmitglieder werden per E-Mail informiert - Default am nächsten Tag.)</label>
    </div>
  <% end %>

  <%= f.button 'Thema erstellen', data: { disable_with: 'sendet...' }, class: 'btn-primary' %>

<% end %>
