<div class="discussion-box">
  <div class="discussion-form">
    <%= form_for [@group, DiscussionPost.new] do |f| %>
      <%= hidden_field_tag :discussion_id, @discussion.id %>
      <div class="input-textarea">
        <%= f.label :content do %>
        <%= avatar_image current_user, size: :thumb, class: 'avatar img-round' %>
        <span>Dein Beitrag</span>
        <% end %>
        <%= f.text_area :content, cols: 80, rows: 3, placeholder: 'Neuen Beitrag im Thema schreiben ..', required: true %>
      </div>
      <div class="upload-oldschool">
        <%= f.label :images do %>
          <%= icon_tag "photo-camera" %>
          <span>Bilder<small class="upload-hint">(max. 5MB / Foto)</small></span>
        <% end %>
        <div class="field-wrp">
          <%= upload_image_input(f, :images, multiple: true, live_preview: false, max_files: 4) %>
        </div>
      </div>
      <%= f.button 'Beitrag absenden', data: { disable_with: 'sendet...' }, class: 'btn-primary' %>
    <% end %>
  </div>
</div>
