<% meta(
    title: 'Thema: ' + @discussion.title,
    robots: 'index, follow',
    og_title: 'Thema: ' + @discussion.title,
    og_image: @group.cover_photo_url || image_url("meta/#{current_region.host_id}/og_logo.png")
  )
%>

<div class="group-page discussion-area">

  <%= render 'groups/header' %>
  <%= render 'groups/btn_ctrl', group: @group %>
  <%= render 'groups/tab_navigation' %>

  <div class="discussion-infos -page" id="topic">

    <div class="breadcrumb">
      <%= link_to "Themen", group_path(@group, anchor: 'tab-discussions') %>
      <% if @discussion.discussion_category %>
        <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
        <%= link_to @discussion.discussion_category.title, group_path(@group, category: @discussion.discussion_category.id, anchor: 'tab-discussions') %>
      <% end %>
      <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>Thema
    </div>

    <%= render 'groups/discussions/actions' %>
  </div>

  <h2 class="title"><%= @discussion.title %></h2>

  <% @posts.sort_by(&:created_at).each do |post| %>
    <%= render 'groups/discussion_posts/post', post: post %>
  <% end %>

  <% if @group.commentable_by?(current_user) %>
    <%= render 'groups/discussions/reply_form' %>
  <% end %>
</div>
