<% meta(
    title: 'Thema: ' + @discussion.title,
    robots: 'index, follow',
    og_title: 'Thema: ' + @discussion.title,
    og_image: attachment_url(@group, :cover_photo, host: url_for(:only_path => false, :overwrite_params => nil), fallback: 'meta/og_logo.png')
  )
%>

<div class="group-page discussion-page">

  <%= render 'groups/header' %>
  <%= render 'groups/btn_ctrl', group: @group %>
  <%= render 'groups/tab_navigation' %>

  <div class="discussion-infos -page">

    <div class="breadcrumb">
      <%= link_to "Diskussionen", group_path(@group, anchor: 'tab-discussions') %>
      <% if @discussion.discussion_category %>
        <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
        <%= link_to @discussion.discussion_category.title, group_path(@group, discussion_category_id: @discussion.discussion_category.id, anchor: 'tab-discussions') %>
      <% end %>
      <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>Thema
    </div>

    <div class="actions">

      <% if @discussion.edit_permission?(current_user) %>
        <div class="btn-control">
          <%= link_to [:edit, @group, @discussion], class: 'edit-post-link' do %>
            <%= icon_tag "pencil" %>
          <% end %>
        </div>
      <% end %>

      <% if @discussion.delete_permission?(current_user) %>
        <div class="btn-control">
          <%= link_to [@group, @discussion], method: :delete, data: { confirm: 'Thema wirklich löschen?', disable_with: 'wird gelöscht...'}, class: 'delete' do %>
            <%= icon_tag "trash-delete-remove" %>
          <% end %>
        </div>
      <% end %>

      <% if @group.users.include?(current_user) %>
        <% following = @discussion.followed_by?(current_user) %>
        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        E-Mail Updates:
        <%= link_to toggle_following_group_discussion_path(@group, @discussion), remote: true, method: 'post', class: ["follow", following ? '' : '-hide'] do %>
          <div class="input-switch -small -checked"><label></label></div>
        <% end %>

        <%= link_to toggle_following_group_discussion_path(@group, @discussion), remote: true, method: 'post', class: ["follow", following ? '-hide' : ''] do %>
          <div class="input-switch -small"><label></label></div>
        <% end %>
      <% end %>

    </div>

  </div>

  <h2 class="title"><%= @discussion.title %></h2>

  <% @posts.each do |post| %>
    <%= render 'groups/discussion_posts/post', post: post %>
  <% end %>

  <div class="discussion-box">
    <% if @group.users.include?(current_user) %>
      <div class="discussion-form">
        <%= form_for [@group, DiscussionPost.new] do |f| %>
          <%= hidden_field_tag :discussion_id, @discussion.id %>
          <div class="input-textarea">
            <%= f.label :content do %>
            <%= attachment_image_tag current_user, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
            <% end %>
            <%= f.text_area :content, cols: 80, rows: 3, placeholder: 'Schreib hier deinen Beitrag bzw. deine Antwort ..' %>
          </div>
          <div class="upload-oldschool">
            <%= f.label :images do %>
              <%= icon_tag "photo-camera" %>
              <span>Bild hochladen</span>
            <% end %>
            <div class="field-wrp">
              <%= f.attachment_field :images_files, multiple: true, direct: true, presigned: true %>
            </div>
          </div>
          <%= f.button 'Beitrag absenden', data: { disable_with: 'sendet...' }, class: 'btn-primary' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
