<% meta(
    title: t('.title'),
    robots: 'noindex, nofollow'
  )
%>

<section class="crowd-boost-charge-page payment-screen">

  <div class="col-content">
    <%= render "crowd_boost_charges/new/tabs_nav" %>
    <%= render 'crowd_boost_charges/new/payment' %>
  </div>

  <div class="col-sidebar">
    <%= render @crowd_boost %>
  </div>

</section>

<%= javascript_include_tag "https://js.stripe.com/v3/" %>
<script>
  window.stripe = Stripe("<%= Rails.configuration.stripe[:publishable_key] %>", { locale: 'de' });
</script>
