<% meta(
    title: t('.title'),
    robots: 'noindex, nofollow'
) %>

<section class="crowd-boost-charge-page region-screen">

  <div class="col-content">

    <div class="hl-subtext">
      <h1>Deine Einzahlung für</h1>
      <p class="subtitle">
        <em><%= @crowd_boost %></em>
      </p>
      <p class="regionhint">
        Für welche Region möchtest du in den Topf einzahlen?
      </p>
    </div>

    <div class="input-select">
      <label>
        <%= icon_tag "map-location" %>
        <span>Region</span>
      </label>
      <!-- Get all Regions for current booster -->
      <% regions = Region.all.find_all {|r| r.crowd_boost_ids.include?(@crowd_boost.id) } %>
      <select name="select" onchange="location.href = $(this).val()">
        <option value="">Auswählen</option>
        <% regions.each do |region| %>
          <option value="<%= new_crowd_boost_crowd_boost_charge_url(@crowd_boost, host: region.host) %>"><%= region.name %></option>
        <% end %>
      </select>
    </div>

  </div>
        


  <div class="col-sidebar">
    <%= render @crowd_boost %>
  </div>

</section>