<% meta(
    title: t('.title'),
    robots: 'noindex, nofollow'
  )
%>

<section class="crowd-boost-charge-page detail-screen">

  <div class="col-content">

    <div class="hl-subtext">
      <h1>Deine Einzahlung</h1>
      <p>
        Hier findest du eine Übersicht und Informationen zu deiner Einzahlung.
      </p>
    </div>

    <div class="table-container -light" role="table">

      <div class="flex-table header" role="rowgroup">
        <div class="flex-row full first" role="columnheader">Zusammenfassung</div>
      </div>

      <div class="flex-table" role="rowgroup">
        <div class="flex-row xxlarge" role="cell"><strong>Crowdfunding Booster</strong></div>
        <div class="flex-row xxxlarge" role="cell"><%= link_to @crowd_boost_charge.crowd_boost.title, @crowd_boost_charge.crowd_boost, target: '_blank' %></div>
      </div>

      <div class="flex-table row" role="rowgroup">
        <div class="flex-row xxlarge" role="cell"><strong>Datum</strong></div>
        <div class="flex-row xxxlarge" role="cell"><%= I18n.localize(@crowd_boost_charge.created_at, format:'%a, %d. %B %Y, %H:%M') %></div>
      </div>

      <div class="flex-table row" role="rowgroup">
        <div class="flex-row xxlarge" role="cell"><strong>Betrag</strong></div>
        <div class="flex-row xxxlarge" role="cell"><%= number_to_currency(@crowd_boost_charge.amount, unit: "€") %></div>
      </div>

    </div>

    <%= link_to 'Details öffnen', 'javascript:', class: 'btn-primary -mint -charge-details-toggle' %>

    <div class="-charge-details">

      <div class="table-container -light" role="table">

        <div class="flex-table header" role="rowgroup">
          <div class="flex-row full first" role="columnheader">Einzahlungsdetails</div>
        </div>

        <div class="flex-table" role="rowgroup">
          <div class="flex-row xxlarge" role="cell"><strong>Deine Daten</strong></div>
          <div class="flex-row xxxlarge" role="cell">
            <%= @crowd_boost_charge.contact_name %><br>
            <%= @crowd_boost_charge.address_street if @crowd_boost_charge.address_street.present? %><br>
            <%= @crowd_boost_charge.address_zip if @crowd_boost_charge.address_zip.present? %> <%= @crowd_boost_charge.address_city if @crowd_boost_charge.address_city.present? %>
          </div>
        </div>

        <div class="flex-table row" role="rowgroup">
          <div class="flex-row xxlarge" role="cell"><strong>Einzahlungs-ID</strong></div>
          <div class="flex-row xxxlarge" role="cell"><%= @crowd_boost_charge.id %></div>
        </div>

        <div class="flex-table row" role="rowgroup">
          <div class="flex-row xxlarge" role="cell"><strong>Einzahlung via</strong></div>
          <div class="flex-row xxxlarge" role="cell"><%= charge_type(@crowd_boost_charge) %></div>
        </div>

        <div class="flex-table row" role="rowgroup">
          <div class="flex-row xxlarge" role="cell"><strong>Bezahlstatus</strong></div>
          <div class="flex-row xxxlarge" role="cell"><%= t("activerecord.attributes.crowd_pledge.statuses.#{@crowd_boost_charge.payment_status}") %></div>
        </div>

        <div class="flex-table row" role="rowgroup">
          <div class="flex-row xxlarge" role="cell"><strong>Verwendungszweck</strong></div>
          <div class="flex-row xxxlarge" role="cell"><%= "#{@crowd_boost_charge.region.host_id} Booster".upcase %></div>
        </div>

        <div class="flex-table row" role="rowgroup">
          <div class="flex-row xxlarge" role="cell"><strong>Buchungsdatum</strong></div>
          <div class="flex-row xxxlarge" role="cell"><%= I18n.localize(@crowd_boost_charge.debited_at, format:'%a, %d. %B %Y, %H:%M') if @crowd_boost_charge.debited_at %></div>
        </div>

      </div>

    </div>

    <div class="faqs">
      <div class="content-block -toggable -small">
        <h3>Bekomme ich eine MwSt. Rechnung für die Einzahlung?</h3>
        <div class="-toggle-content">
          <p>Du kannst einen Zahlungsbeleg für deine Einzahlung downloaden. Hierbei handelt es sich aber nicht um eine MwSt. Rechnung.</p>
        </div>
      </div>
      <div class="content-block -toggable -small">
        <h3>Wie sieht die Abbuchung auf meiner Kreditkarte / meinem Konto aus?</h3>
        <div class="-toggle-content">
          <p>Bei <strong>Kreditkartenzahlungen</strong> erscheint die Abbuchung mit folgendem Buchungstext:<br>
            <em><%= "#{@crowd_boost_charge.region.host_id} Booster".upcase %></em>
          </p>
          <p>Bei <strong>Zahlungen mittels Bankeinzug</strong> erscheint die Abbuchung mit folgendem Buchungstext:
            <em>PPRO Payment Services S.A. (<%= @crowd_boost_charge.region.host_domain_name.upcase %> by Stripe via PPRO)</em>
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sidebar">
    <%= render @crowd_boost, hide_facts: true %>
    <br>
    <%= link_to "Download Zahlungsbeleg", @crowd_boost_charge.invoice.presigned_url(:get), class: 'btn-secondary -mint -small' if @crowd_boost_charge.invoice_number.present? %>
    <br>
    <%= link_to 'Zahlung abschließen', choose_payment_crowd_boost_charge_url(@crowd_boost_charge), class: 'btn-secondary -small' if @crowd_boost_charge.failed? %>
  </div>

</section>
