<footer id="footer">

  <div class="inner">

    <div class="row infolinks">
      <div class="col">
        <%= link_to 'Infos & Services', info_path %>
        <%= link_to 'Über Uns', info_ueber_uns_path %>
        <%= link_to 'Presse', info_presse_path %>
        <%= link_to 'Blog', 'https://blog.welocally.at/', target: '_blank' %>
        <%= link_to 'Impressum', info_impressum_path %>
        <a href="https://www.facebook.com/WeLocally" target="_blank" class="facebook">
          Auf Facebook <%= icon_tag "social-facebook" %>
        </a>
      </div>
      <div class="col">
        <%= link_to 'Datenschutzrichtlinien', info_datenschutz_path %>
        <%= link_to 'Cookie Einstellungen', 'javascript:', id: 'ihavecookiesBtn' %>
        <%= link_to 'Code of Conduct', info_code_of_conduct_path %>
        <%= link_to 'AGB', info_agb_path %>
        <a href="https://www.instagram.com/welocally/" target="_blank" class="instagram">
          Auf Instagram <%= image_tag 'svg/icon-instagram-grey.svg', width:28, height:28, class: 'icon' %>
        </a>
      </div>
      <div class="col footer-logos">
        <a href="https://www.ffg.at" target="_blank">
          <picture>
            <source srcset="<%= image_path('logo-ffg.webp') %>" type="image/webp" />
            <%= image_tag 'logo-ffg.png', alt: 'Forschungsförderungsgesellschaft', width:161, height:65 %>
          </picture>
        </a>
        <div>
          Der Prototyp von “<%= link_to 'WeLocally', welocally_platform_url %>” wurde im Rahmen der FFG-Förderung “Impact Innovation” entwickelt.
        </div>
      </div>
      <div class="col footer-logos logo-ke">
        <a href="https://www.klimafonds.gv.at" target="_blank">
          <picture>
            <source srcset="<%= image_path('logo-klimafonds.webp') %>" type="image/webp" />
            <%= image_tag 'logo-klimafonds.png', width:76, height:65 %>
          </picture>
        </a>
        <div>
          Der Raumteiler auf imGrätzl.at ist Teil des F&amp;E Projektes Mischung: Nordbahnhof (Lead TU Wien).
          <br><br>
          Dieses Projekt wird aus Mitteln des Klima- und Energiefonds gefördert und im Rahmen der Smart-Cities-Initiative durchgeführt.
        </div>
      </div>

    </div>

    <div class="maplinks-block">
      <h3>WeLocally gibt es derzeit in folgenden Gebieten:</h3>
      <div class="row">
        <div class="col">
          <% Region.all.each do |region| %>
            <%= link_to region.name, region_root_url(region) %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</footer>

<div id="select-region-modal-content" style="display: none">
  <div class="input-select">
    <label for="select">
      <%= icon_tag "map-location" %>
      <span>Region</span>
    </label>
    <select name="select" id="select">
      <option value="">Auswählen</option>
      <% Region.all.each do |region| %>
        <option value="<%= region_root_url(region) %>"><%= region.name %></option>
      <% end %>
    </select>
  </div>
</div>
