<header class="navigation">
  <div class="inner">
    <div class="nav-body">

      <div class="nav-site">

        <!-- Mobile Menue -->
        <%= link_to 'javascript:', class: "nav-mobile-toggle", data: { dropdown: "nav-site-main" } do %>
          <%= icon_tag("layout-text") %>
          <span class="nav-mobile-toggle-label">Navigation</span>
        <% end %>
        <div class="nav-dropdown-menu" id="nav-site-main">
          <div class="nav-dropdown-submenu shown" id="nav-submenu-city-main">
            <% Region.all.each do |region| %>
              <%= nav_menu_item("region-#{region.id}", "#{region.name}", region_root_url(region)) %>
            <% end %>
            <%= nav_menu_item("lightbulb", 'Infos & Services', info_path) %>
            <%= nav_menu_item("users", 'Über Uns', info_ueber_uns_path) %>
            <%= nav_menu_item("layout-document", 'Presse', info_presse_path) %>
            <!--<%= nav_menu_item("horn-promote", 'WeLocally Call 2022', call_2022_path) %>-->
          </div>
        </div>
        <!-- /Mobile Menue -->

        <!-- Desktop Menue -->
        <%= link_to 'Home', root_path, class: 'nav-top-link nav-home-link' %>
        <%= link_to 'javascript:', class: 'nav-top-link nav-about-link', data: { dropdown: "nav-site-about" } do %>
          <%= icon_tag "arrow-down-2" %><span>WeLocally</span>
        <% end %>
        <%= link_to 'javascript:', class: 'nav-top-link nav-about-link', data: { dropdown: "nav-site-info" } do %>
          <%= icon_tag "arrow-down-2" %><span>Info</span>
        <% end %>
        <div class="nav-dropdown-menu" id="nav-site-about">
          <% Region.all.each do |region| %>
            <%= nav_menu_item("region-#{region.id}", "#{region.name}", region_root_url(region)) %>
          <% end %>
          <!--<%= nav_menu_item("horn-promote", 'WeLocally Call 2022', call_2022_path) %>-->
        </div>
        <div class="nav-dropdown-menu" id="nav-site-info">
          <%= nav_menu_item("lightbulb", 'Infos & Services', info_path) %>
          <%= nav_menu_item("users", 'Über Uns', info_ueber_uns_path) %>
          <%= nav_menu_item("layout-document", 'Presse', info_presse_path) %>
        </div>
        <!-- /Desktop Menue -->

      </div>


      <div class="nav-logo">
        <%= link_to root_path do %>
          <%= image_tag("regions/logo.svg", class: 'logo-desktop', alt:'logo', width:120, height:84) %>
          <%= image_tag("regions/logo_reduced.svg", class: 'logo-mobile', alt:'logo', width:45, height:25) %>
        <% end %>
      </div>


      <div class="nav-guest">
        <%= link_to 'Kostenlos registrieren', 'javascript:', class: 'nav-top-link flare region-select-link', data: {urlmethod: new_registration_path} %>
        <%= link_to 'Anmelden', 'javascript:', class: 'nav-top-link region-select-link', data: {urlmethod: new_user_session_path} %>
      </div>


    </div>
  </div>
</header>
