<div class="cardBox -notification-hint">
  <p>
    Als registrierter Nutzer bekommst du <strong>wöchentlich Neuigkeiten</strong> <%= t("region.#{current_region.id}.from_your_homegraetzl") %> (<%= current_user.graetzl.name %>) und deinen <%= t("region.#{current_region.id}.favorite_graetzls") %> zugesandt. Deine <%= t("region.#{current_region.id}.favorite_graetzls") %> kannst du <%= link_to "hier anpassen", favorite_graetzls_user_path %>.
  </p>
  <p>
    Definiere ausserdem, welche Inhalte du erhalten möchtest und welche nicht.
  </p>
</div>

<div class="notifications-block">

  <div class="settingHead">
    <div class="col1">
      <h2><span>Neuigkeiten</span> <%= t("region.#{current_region.id}.from_your_graetzl") %></h2>
    </div>
    <div class="col3">
      <%= icon_tag "mail-1" %> Benachrichtigungen per E-Mail
    </div>
    <div class="col2">
      <%= icon_tag "bell" %> Notifications im Web
    </div>
  </div>
  <%= render 'notification_settings/slice', type: Notifications::NewMeeting %>
  <%= render 'notification_settings/slice', type: Notifications::NewLocation %>
  <%= render 'notification_settings/slice', type: Notifications::NewLocationPost %>
  <%= render 'notification_settings/slice', type: Notifications::NewLocationMenu %>
</div>


<div class="notifications-block">
  <div class="settingHead">
    <div class="col1">
      <h2><span>Raumteiler</span> & <span>Geräteteiler</span> <%= t("region.#{current_region.id}.in_your_graetzl") %></h2>
    </div>
  </div>
  <%= render 'notification_settings/slice', type: Notifications::NewRoomOffer %>
  <%= render 'notification_settings/slice', type: Notifications::NewRoomDemand %>
  <%= render 'notification_settings/slice', type: Notifications::NewToolOffer %>
  <%= render 'notification_settings/slice', type: Notifications::NewEnergyOffer if current_region.use_energieteiler? %>
</div>

<div class="notifications-block">
  <div class="settingHead">
    <div class="col1">
      <h2><span>Coop & Share Angebote</span> <%= t("region.#{current_region.id}.in_your_graetzl") %></h2>
    </div>
  </div>
  <%= render 'notification_settings/slice', type: Notifications::NewCoopDemand %>
</div>

<div class="notifications-block">
  <div class="settingHead">
    <div class="col1">
      <h2><span>Crowdfunding</span> Kampagnen</h2>
    </div>
  </div>
  <%= render 'notification_settings/slice', type: Notifications::NewCrowdCampaign %>
  <%= render 'notification_settings/slice', type: Notifications::NewCrowdCampaignPost %>
</div>

<div class="notifications-block">
  <div class="settingHead">
    <div class="col1">
      <h2>Betrifft <span>mich</span></h2>
    </div>
  </div>
  <%= render 'notification_settings/slice', type: Notifications::NewWallComment %>
  <%= render 'notification_settings/slice', type: Notifications::MeetingAttended %>
  <%= render 'notification_settings/slice', type: Notifications::CommentInAttending %>
  <%= render 'notification_settings/slice', type: Notifications::CommentOnOwnedContent %>
  <%= render 'notification_settings/slice', type: Notifications::ReplyOnComment %>
</div>


<div class="notifications-block">
  <div class="settingHead">
    <div class="col1">
      <h2>Ebenfalls <span>kommentiert</span></h2>
    </div>
  </div>
  <%= render 'notification_settings/slice', type: Notifications::CommentOnFollowedContent %>
  <%= render 'notification_settings/slice', type: Notifications::ReplyOnFollowedComment %>
</div>


<div class="notifications-block">
  <div class="settingHead">
    <div class="col1">
      <h2>Neues aus deinen <span>Gruppen</span></h2>
    </div>
  </div>
  <%= render 'notification_settings/slice', type: Notifications::NewGroupDiscussion %>
  <%= render 'notification_settings/slice', type: Notifications::NewGroupPost %>
</div>

<div class="notifications-block">
  <div class="settingHead">
    <div class="col1">
      <h2>Redaktioneller <span>Newsletter</span></h2>
    </div>
  </div>
  <div class="settingSlice">
    <div class="col1">Der redaktionelle Newsletter erscheint ca. 1 mal pro Monat
    </div>
    <div class="col3">
      <div class="input-select">
        <%= select_tag :notification_interval, options_for_select([
          ['Nein', :false],
          ['Ja', :true]
        ], current_user.newsletter?), data: {
          behavior: "mail-notification-toggle", type: 'newsletter'
        } %>
      </div>
    </div>
  </div>
</div>
