<div class="block-settings">

  <div class="settingHead">
    <div class="col1">
      <h2><span>Neuigkeiten</span> aus meinem Gr채tzl</h2>
    </div>
    <div class="col2">
      <svg class="icon-bell"><use xlink:href="#icon-bell"></use></svg>Notifications
    </div>
    <div class="col3">
      <svg class="icon-mail-1"><use xlink:href="#icon-mail-1"></use></svg>Per E-Mail
    </div>
  </div>

  <div class="settingSlice">
    <div class="col1">
      Ein neues Treffen wurde in meinem Gr채tzl erstellt
    </div>
    <div class="col2">
      <%= render 'notification_settings/website', type: Notifications::NewMeeting %>
    </div>
    <div class="col3">
      <%= render 'notification_settings/mail', type: Notifications::NewMeeting %>
    </div>
  </div>

  <div class="settingSlice">
    <div class="col1">
      Ein neuer Beitrag wurde in meinem Gr채tzl erstellt
    </div>
    <div class="col2">
      <%= render 'notification_settings/website', type: Notifications::NewPost %>
    </div>
    <div class="col3">
      <%= render 'notification_settings/mail', type: Notifications::NewPost %>
    </div>
  </div>

  <div class="settingSlice">
    <div class="col1">
      Ein neuer Kommentar wurde in an meiner Pinnwand gepostet
    </div>
    <div class="col2">
      <%= render 'notification_settings/website', type: Notifications::NewWallComment %>
    </div>
    <div class="col3">
      <%= render 'notification_settings/mail', type: Notifications::NewWallComment %>
    </div>
  </div>
</div>

<div class="block-settings">
  <div class="settingHead">
    <div class="col1">
      <h2>Treffen an denen <span>ich teilnehme</span></h2>
    </div>
  </div>
  <div class="settingSlice">
    <div class="col1">
      Ein Treffen ge채ndert wird
    </div>
    <div class="col2">
      <%= render 'notification_settings/website', type: Notifications::MeetingUpdated %>
    </div>
    <div class="col3">
      <%= render 'notification_settings/mail', type: Notifications::MeetingUpdated %>
    </div>
  </div>

  <div class="settingSlice">
    <div class="col1">
      Ein Treffen abgesagt wird
    </div>
    <div class="col2">
      <%= render 'notification_settings/website', type: Notifications::MeetingCancelled %>
    </div>
    <div class="col3">
      <%= render 'notification_settings/mail', type: Notifications::MeetingCancelled %>
    </div>
  </div>

  <div class="settingSlice">
    <div class="col1">
      Ein User das Treffen kommentiert
    </div>
    <div class="col2">
      <%= render 'notification_settings/website', type: Notifications::CommentInMeeting %>
    </div>
    <div class="col3">
      <%= render 'notification_settings/mail', type: Notifications::CommentInMeeting %>
    </div>
  </div>
</div>

<div class="block-settings">
  <div class="settingHead">
    <div class="col1">
      <h2>Treffen die <span>ich erstellt</span> habe</h2>
    </div>
  </div>
  <div class="settingSlice">
    <div class="col1">
      Jemand Neuer am Treffen teilnimmt
    </div>
    <div class="col2">
      <%= render 'notification_settings/website', type: Notifications::AttendeeInUsersMeeting %>
    </div>
    <div class="col3">
      <%= render 'notification_settings/mail', type: Notifications::AttendeeInUsersMeeting %>
    </div>
  </div>

  <div class="settingSlice">
    <div class="col1">
      Ein User das Treffen kommentiert
    </div>
    <div class="col2">
      <%= render 'notification_settings/website', type: Notifications::CommentInUsersMeeting %>
    </div>
    <div class="col3">
      <%= render 'notification_settings/mail', type: Notifications::CommentInUsersMeeting %>
    </div>
  </div>
</div>
