<div class="notifications-block">

  <div class="settingHead">
    <div class="col1">
      <h2><span>Neuigkeiten</span> <%= t("region.#{current_region.id}.from_your_graetzl") %></h2>
    </div>
    <div class="col3">
      <%= icon_tag "mail-1" %> Benachrichtigungen per E-Mail
    </div>
    <div class="col2">
      <%= icon_tag "bell" %> Notifications im Web
    </div>
  </div>
  <%= render 'notification_settings/slice', type: Notifications::NewMeeting %>
  <%= render 'notification_settings/slice', type: Notifications::NewLocation %>
  <%= render 'notification_settings/slice', type: Notifications::NewLocationPost %>
  <%= render 'notification_settings/slice', type: Notifications::NewLocationMenu %>
</div>


<div class="notifications-block">
  <div class="settingHead">
    <div class="col1">
      <h2><span>Raumteiler</span> <%= t("region.#{current_region.id}.in_your_graetzl") %></h2>
    </div>
  </div>
  <%= render 'notification_settings/slice', type: Notifications::NewRoomOffer %>
  <%= render 'notification_settings/slice', type: Notifications::NewRoomDemand %>
</div>

<div class="notifications-block">
  <div class="settingHead">
    <div class="col1">
      <h2><span>Toolteiler</span> <%= t("region.#{current_region.id}.in_your_graetzl") %></h2>
    </div>
  </div>
  <%= render 'notification_settings/slice', type: Notifications::NewToolOffer %>
</div>

<div class="notifications-block">
  <div class="settingHead">
    <div class="col1">
      <h2><span>Coop & Share Angebote</span> <%= t("region.#{current_region.id}.in_your_graetzl") %></h2>
    </div>
  </div>
  <%= render 'notification_settings/slice', type: Notifications::NewCoopDemand %>
</div>

<div class="notifications-block">
  <div class="settingHead">
    <div class="col1">
      <h2>Betrifft <span>mich</span></h2>
    </div>
  </div>
  <%= render 'notification_settings/slice', type: Notifications::NewWallComment %>
  <%= render 'notification_settings/slice', type: Notifications::MeetingAttended %>
  <%= render 'notification_settings/slice', type: Notifications::CommentInMeeting %>
  <%= render 'notification_settings/slice', type: Notifications::CommentOnOwnedContent %>
  <%= render 'notification_settings/slice', type: Notifications::ReplyOnComment %>
</div>


<div class="notifications-block">
  <div class="settingHead">
    <div class="col1">
      <h2>Ebenfalls <span>kommentiert</span></h2>
    </div>
  </div>
  <%= render 'notification_settings/slice', type: Notifications::CommentOnFollowedContent %>
  <%= render 'notification_settings/slice', type: Notifications::ReplyOnFollowedComment %>
</div>


<div class="notifications-block">
  <div class="settingHead">
    <div class="col1">
      <h2>Neues aus deinen <span>Gruppen</span></h2>
    </div>
  </div>
  <%= render 'notification_settings/slice', type: Notifications::NewGroupDiscussion %>
  <%= render 'notification_settings/slice', type: Notifications::NewGroupMeeting %>
  <%= render 'notification_settings/slice', type: Notifications::NewGroupPost %>
</div>
