<div class="block-settings">

  <div class="settingHead">
    <div class="col1">
      <h2><span>Neuigkeiten</span> aus meinem Gr채tzl</h2>
    </div>
    <div class="col2">
      <svg class="icon-bell"><use xlink:href="#icon-bell"></use></svg>Notifications
    </div>
    <div class="col3">
      <svg class="icon-mail-1"><use xlink:href="#icon-mail-1"></use></svg>Per E-Mail
    </div>
  </div>

  <div class="settingSlice">
    <div class="col1">
      Ein neues Treffen wurde in meinem Gr채tzl erstellt
    </div>
    <div class="col2">
      <div class="input-switch">
        <input id="toggle_new_meeting_in_graetzl" type="checkbox" <% if current_user.enabled_website_notification?(:new_meeting_in_graetzl) %>checked <% end %>>
        <label for="toggle_new_meeting_in_graetzl"></label>
      </div>
    </div>
    <div class="col3">
      <%= render 'notification_settings/mail_settings', type: "new_meeting_in_graetzl" %>
    </div>
  </div>

  <div class="settingSlice">
    <div class="col1">
      Ein neuer Beitrag wurde in meinem Gr채tzl erstellt
    </div>
    <div class="col2">
      <div class="input-switch">
        <input id="toggle_new_post_in_graetzl" type="checkbox" <% if current_user.enabled_website_notification?(:new_post_in_graetzl) %>checked <% end %>>
        <label for="toggle_new_post_in_graetzl"></label>
      </div>
    </div>
    <div class="col3">
      <%= render 'notification_settings/mail_settings', type: "new_post_in_graetzl" %>
    </div>
  </div>

  <div class="settingSlice">
    <div class="col1">
      Ein neuer Kommentar wurde in an meiner Pinnwand gepostet
    </div>
    <div class="col2">
      <div class="input-switch">
        <input id="toggle_new_wall_comment" type="checkbox" <% if current_user.enabled_website_notification?(:new_wall_comment) %>checked <% end %>>
        <label for="toggle_new_wall_comment"></label>
      </div>
    </div>
    <div class="col3">
      <%= render 'notification_settings/mail_settings', type: "new_wall_comment" %>
    </div>
  </div>
</div>

<div class="block-settings">
  <div class="settingHead">
    <div class="col1">
      <h2>Treffen an denen <span>ich teilnehme</span></h2>
    </div>
  </div>
  <div class="settingSlice">
    <div class="col1">
      Ein Treffen ge채ndert wird
    </div>
    <div class="col2">
      <div class="input-switch">
        <input id="toggle_update_of_meeting" type="checkbox" <% if current_user.enabled_website_notification?(:update_of_meeting) %>checked <% end %>>
        <label for="toggle_update_of_meeting"></label>
      </div>
    </div>
    <div class="col3">
      <%= render 'notification_settings/mail_settings', type: "update_of_meeting" %>
    </div>
  </div>

  <div class="settingSlice">
    <div class="col1">
      Ein Treffen abgesagt wird
    </div>
    <div class="col2">
      <div class="input-switch">
        <input id="toggle_cancel_of_meeting" type="checkbox" <% if current_user.enabled_website_notification?(:cancel_of_meeting) %>checked <% end %>>
        <label for="toggle_cancel_of_meeting"></label>
      </div>
    </div>
    <div class="col3">
      <%= render 'notification_settings/mail_settings', type: "cancel_of_meeting" %>
    </div>
  </div>

  <div class="settingSlice">
    <div class="col1">
      Ein User das Treffen kommentiert
    </div>
    <div class="col2">
      <div class="input-switch">
        <input id="toggle_comment_in_meeting" type="checkbox" <% if current_user.enabled_website_notification?(:comment_in_meeting) %>checked <% end %>>
        <label for="toggle_comment_in_meeting"></label>
      </div>
    </div>
    <div class="col3">
      <%= render 'notification_settings/mail_settings', type: "comment_in_meeting" %>
    </div>
  </div>
</div>

<div class="block-settings">
  <div class="settingHead">
    <div class="col1">
      <h2>Treffen die <span>ich erstellt</span> habe</h2>
    </div>
  </div>
  <div class="settingSlice">
    <div class="col1">
      Jemand Neuer am Treffen teilnimmt
    </div>
    <div class="col2">
      <div class="input-switch">
        <input id="toggle_another_attendee" type="checkbox" <% if current_user.enabled_website_notification?(:another_attendee) %>checked <% end %>>
        <label for="toggle_another_attendee"></label>
      </div>
    </div>
    <div class="col3">
      <%= render 'notification_settings/mail_settings', type: "another_attendee" %>
    </div>
  </div>

  <div class="settingSlice">
    <div class="col1">
      Ein User das Treffen kommentiert
    </div>
    <div class="col2">
      <div class="input-switch">
        <input id="toggle_user_comments_users_meeting" type="checkbox" <% if current_user.enabled_website_notification?(:user_comments_users_meeting) %>checked <% end %>>
        <label for="toggle_user_comments_users_meeting"></label>
      </div>
    </div>
    <div class="col3">
      <%= render 'notification_settings/mail_settings', type: "user_comments_users_meeting" %>
    </div>
  </div>
</div>
