<script>
    $(document).ready(function () {
        $('.tabs-ctrl').tabslet({
            animation: true,
            deeplinking: true
        });
    });
</script>


<section class="user-settings">

  <div class='tabs-ctrl'>
    <ul class="tabs-nav">
      <li><a href="#tab-1">Persönliche Daten</a></li>
      <li><a href="#tab-2">Benachrichtigungen</a></li>
      <li><a href="#tab-3">Meine Locations</a></li>
    </ul>



    <div id='tab-1' class="personal-settings">

      <div class="formBlock">
        <h2><span>Zugangsdaten</span> für deinen Account</h2>
        <div class="formRow -double">
          <div class="input-field">
            <label for="">
              <svg class="icon-at-symbol"><use xlink:href="#icon-at-symbol"></use></svg>
              <span>E-Mail</span>
            </label>
            <input type="text" placeholder="E-Mail">
          </div>
          <div class="input-field">
            <label for="">
              <svg class="icon-unlocked"><use xlink:href="#icon-unlocked"></use></svg>
              <span>Passwort</span>
            </label>
            <input type="text">
          </div>
        </div>
      </div>

      <div class="formBlock">
        <h2>Informationen <span>über dich</span></h2>
        <div class="formRow -double">
          <div class="input-field disabled">
            <label for="">
              <svg class="icon-user-avatar"><use xlink:href="#icon-user-avatar"></use></svg>
              <span>Username</span>
            </label>
            <input type="text" value="Grätzllover" disabled>
          </div>
        </div>

        <div class="formRow -double">
          <div class="input-field">
            <label for="">
              <svg class="icon-user-avatar"><use xlink:href="#icon-user-avatar"></use></svg>
              <span>Vorname</span>
            </label>
            <input type="text" placeholder="Vorname">
          </div>
          <div class="input-field">
            <label for="">
              <svg class="icon-user-avatar"><use xlink:href="#icon-user-avatar"></use></svg>
              <span>Nachname</span>
            </label>
            <input type="text" placeholder="Nachname">
          </div>
        </div>

        <div class="formRow -double">
          <div class="input-textarea">
            <label for="">
              <svg class="icon-layout-document"><use xlink:href="#icon-layout-document"></use></svg>
              <span>Über mich</span>
            </label>
            <textarea name="" id="" cols="30" rows="10" placeholder="Ein paar Infos über dich"></textarea>
          </div>
          <div class="upload-image">
            <!-- <img src="http://kulyo.com/wp-content/uploads/2013/01/eventica-dummy-image-31.jpg" alt=""/> -->
            <svg class="icon-photo-camera"><use xlink:href="#icon-photo-camera"></use></svg>
            Profil Foto
            <!--  <svg class="icon-delete-circle"><use xlink:href="#icon-delete-circle"></use></svg> -->
            <input id="file_id" name="" type="file">
          </div>
        </div>
      </div>

      <div class="formBlock profileSection">
        <h2>Ergänzungen zur <span>Profilseite</span></h2>
        <div class="formRow -double">
          <div class="col1">
            <div class="input-field">
              <label for="">
                <svg class="icon-globe"><use xlink:href="#icon-globe"></use></svg>
                <span>Web/Blog</span>
              </label>
              <input type="text" placeholder="">
            </div>
            <div class="upload-image">
              <!-- <img src="http://kulyo.com/wp-content/uploads/2013/01/eventica-dummy-image-31.jpg" alt=""/> -->
              <svg class="icon-photo-camera"><use xlink:href="#icon-photo-camera"></use></svg>
              Profil Seite Header-Bild
              <!--  <svg class="icon-delete-circle"><use xlink:href="#icon-delete-circle"></use></svg> -->
              <input id="file_id" name="" type="file">
            </div>
          </div>
          <div class="col2">
            <div class="input-checkbox">
              <input type="checkbox" id="checkbox-wirtschaft">
              <label for="checkbox-wirtschaft">Ich bin wirtschaftlich im Grätzl tätig</label>
            </div>
            <div class="input-checkbox">
              <input type="checkbox" id="checkbox-newsletter">
              <label for="checkbox-newsletter">Grätzlnewsletter abonnieren</label>
            </div>
          </div>
        </div>


      </div>

      <button class="btn-primary">Speichern</button>
      <button class="del-Account">Account löschen</button>

    </div>

    <div id='tab-2' class="notification-settings">

      <div class="block-settings">

        <div class="settingHead">
          <div class="col1">
            <h2><span>Neuigkeiten</span> aus meinem Grätzl</h2>
          </div>
          <div class="col2">
            <svg class="icon-bell"><use xlink:href="#icon-bell"></use></svg>Notifications
          </div>
          <div class="col3">
            <svg class="icon-mail-1"><use xlink:href="#icon-mail-1"></use></svg>Per E-Mail
          </div>
        </div>

        <div class="settingSlice">
          <div class="col1">
            Ein neues Treffen wurde in meinem Grätzl erstellt
          </div>
          <div class="col2">
            <div class="input-switch">
              <input id="toggle_new_meeting_in_graetzl" type="checkbox" <% if current_user.enabled_website_notification?(:new_meeting_in_graetzl) %>checked <% end %>>
              <label for="toggle_new_meeting_in_graetzl"></label>
            </div>
          </div>
          <div class="col3">
            <%= render partial: 'mail_settings', locals: { type: "new_meeting_in_graetzl" } %>
          </div>
        </div>

        <div class="settingSlice">
          <div class="col1">
            Ein neuer Beitrag wurde in meinem Grätzl erstellt
          </div>
          <div class="col2">
            <div class="input-switch">
              <input id="toggle_new_post_in_graetzl" type="checkbox" <% if current_user.enabled_website_notification?(:new_post_in_graetzl) %>checked <% end %>>
              <label for="toggle_new_post_in_graetzl"></label>
            </div>
          </div>
          <div class="col3">
            <%= render partial: 'mail_settings', locals: { type: "new_post_in_graetzl" } %>
          </div>
        </div>
      </div>

      <div class="block-settings">
        <div class="settingHead">
          <div class="col1">
            <h2>Treffen an denen <span>ich teilnehme</span></h2>
          </div>
        </div>
        <div class="settingSlice">
          <div class="col1">
            Ein Treffen geändert wird
          </div>
          <div class="col2">
            <div class="input-switch">
              <input id="toggle_update_of_meeting" type="checkbox" <% if current_user.enabled_website_notification?(:update_of_meeting) %>checked <% end %>>
              <label for="toggle_update_of_meeting"></label>
            </div>
          </div>
          <div class="col3">
            <%= render partial: 'mail_settings', locals: { type: "update_of_meeting" } %>
          </div>
        </div>

        <div class="settingSlice">
          <div class="col1">
            Ein Veranstalter das Treffen kommentiert
          </div>
          <div class="col2">
            <div class="input-switch">
              <input id="toggle_initiator_comments" type="checkbox" <% if current_user.enabled_website_notification?(:initiator_comments) %>checked <% end %>>
              <label for="toggle_initiator_comments"></label>
            </div>
          </div>
          <div class="col3">
            <%= render partial: 'mail_settings', locals: { type: "initiator_comments" } %>
          </div>
        </div>

        <div class="settingSlice">
          <div class="col1">
            Ein User das Treffen kommentiert
          </div>
          <div class="col2">
            <div class="input-switch">
              <input id="toggle_another_user_comments" type="checkbox" <% if current_user.enabled_website_notification?(:another_user_comments) %>checked <% end %>>
              <label for="toggle_another_user_comments"></label>
            </div>
          </div>
          <div class="col3">
            <%= render partial: 'mail_settings', locals: { type: "another_user_comments" } %>
          </div>
        </div>
      </div>

      <div class="block-settings">
        <div class="settingHead">
          <div class="col1">
            <h2>Treffen die <span>ich erstellt</span> habe</h2>
          </div>
        </div>
        <div class="settingSlice">
          <div class="col1">
            Jemand Neuer am Treffen teilnimmt
          </div>
          <div class="col2">
            <div class="input-switch">
              <input id="toggle_another_attendee" type="checkbox" <% if current_user.enabled_website_notification?(:another_attendee) %>checked <% end %>>
              <label for="toggle_another_attendee"></label>
            </div>
          </div>
          <div class="col3">
            <%= render partial: 'mail_settings', locals: { type: "another_attendee" } %>
          </div>
        </div>

        <div class="settingSlice">
          <div class="col1">
            Ein User das Treffen kommentiert
          </div>
          <div class="col2">
            <div class="input-switch">
              <input id="toggle_user_comments_users_meeting" type="checkbox" <% if current_user.enabled_website_notification?(:user_comments_users_meeting) %>checked <% end %>>
              <label for="toggle_user_comments_users_meeting"></label>
            </div>
          </div>
          <div class="col3">
            <%= render partial: 'mail_settings', locals: { type: "user_comments_users_meeting" } %>
          </div>
        </div>

        <div class="settingSlice">
          <div class="col1">
            Ein Teilnehmer wieder absagt
          </div>
          <div class="col2">
            <div class="input-switch">
              <input id="toggle_attendee_left" type="checkbox" <% if current_user.enabled_website_notification?(:attendee_left) %>checked <% end %>>
              <label for="toggle_attendee_left"></label>
            </div>
          </div>
          <div class="col3">
            <%= render partial: 'mail_settings', locals: { type: "attendee_left" } %>
          </div>
        </div>
      </div>

    </div>

    <div id='tab-3'>

      <div class="notification-settings">
        <div class="introtext">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam at atque culpa delectus deserunt distinctio, doloremque ex, id ipsam maxime nobis pariatur, perspiciatis sapiente voluptatum. Ab at placeat ratione?
        </div>

        <div class="locationSlice">
          <div class="col1">
            <div class="locationName">
              <div class="medalBadge">
                <img class="img-round" src="https://placeimg.com/200/200/nature?11">
              </div>
              <span class="txt"><a href="#">Bude im Keller</a></span>
            </div>
          </div>
          <div class="col2">
            <span class="txt">Location wird geprüft...</span>
          </div>
        </div>

        <div class="locationSlice">
          <div class="col1">
            <div class="locationName">
              <div class="medalBadge">
                <img class="img-round" src="https://placeimg.com/200/200/nature">
              </div>
              <span class="txt"><a href="#">Gasthaus Hansy</a></span>
            </div>
            <div class="locationMembers">
              <div class="singleMember">
                <img src="https://placeimg.com/100/100/people" class="img-round" alt="">Fritz Verzetnitsch
              </div>
              <div class="singleMember">
                <img src="https://placeimg.com/100/100/people?2" class="img-round" alt="">Renate Brauner
              </div>
            </div>
          </div>
          <div class="col2">
            <div class="btnCollection">
              <div class="btn-secondary -small">Bearbeiten</div>
              <div class="btn-secondary -small">Besitzer hinzufügen</div>
              <div class="btn-secondary -small">Location entfernen</div>
            </div>
          </div>
        </div>

        <button class="btn-primary">Location hinzufügen</button>
      </div>

    </div>
  </div>

</section>