<%= form_for @billing_address, url: zuckerl_billing_address_path(@zuckerl) do |f| %>
  <%= form_errors_for @billing_address %>

  <div class="input-field">
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>
  <div class="input-field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  <div class="input-field">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>
  <div class="input-field">
    <%= f.label :full_city %>
    <%= f.text_field :full_city %>
  </div>
  <%= f.button 'Rechnungsdaten senden', class: 'btn-primary' %>
<% end %>
