<section class="createzuckerl">
  <div class="col-l">
    <div class="billing-block">
      <div class="hl"><span>Vielen Dank</span> für deine Buchung</div>
      <div class="txt">
        <p>Um dein Zuckerl zeitgerecht am <%= I18n.localize(@zuckerl.created_at.end_of_month+1.day, format: '%d.%m.%Y') %> schalten zu können,
          überweise bitte den noch offenen Betrag an folgende Kontoverbindung.</p>
        <div class="bookingdetails">
          <p><strong>Gesamtbetrag: <%= @zuckerl.total_price_with_currency %></strong> (inkl. USt.)</p>
          <p><strong>Kontoverbindung:</strong><br/>
            morgenjungs GmbH<br/>
            IBAN: AT03 2011 1826 6988 6500<br/>
            BIC: GIBAATWWXXX<br/></p>
          <p>Bitte gib folgenden <strong>Verwendungszweck</strong> bei deiner Überweisung an:<br/><i class="zuckerlID"><%= @zuckerl.payment_reference %></i></p>
        </div>
        <p>Nach Zahlungseingang senden wir dir erneut eine Bestätigung (inkl. Rechnung) an folgende E-Mailadresse zu: <%= mail_to current_user.email, nil %></p>
        <p>Solltest du Fragen zu deiner Buchung haben, sende uns ein E-Mail an <%= mail_to 'wir@imgraetzl.at', nil %></p>
        <%= link_to 'Fertig', zuckerls_user_path(anchor: "zuckerl-verwalten"), class: 'btn-primary' %>
      </div>
      <div class="collapsible">
        <div class="collapsibletrigger" data-collapsed="<%= @billing_address.errors.any? ? false : true %>">
          Du brauchst eine spezielle Anschrift auf deiner Rechnung?
        </div>
        <div class="form-block collapsiblecontainer">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-r">
    <%= render 'zuckerls/sidebar', zuckerl: @zuckerl %>
  </div>
</section>
