<div class="chat-message <%= user_message.user == current_user ? '-right' : '-left' %>" data-id="<%= user_message.id %>">
  <%= avatar_image(user_message.user, size: :thumb, class: 'img-round avatar') %>
  <div class="bubble txtlinky"><%= user_message.message %><small class="time"><%= l(user_message.created_at, format: '%e. %b, %H:%M') %></small></div>
</div>
