<div class="rental-info room-rental-info">

  <div class="action-box">
    <div class="box-icon">
      <%= icon_tag "horn-promote" %>
    </div>

    <% if room_rental.incomplete? %>

      <div class="note">
        <strong>Stelle <%= room_rental.owner.full_name %> deinen offenen Fragen zur Raummiete.</strong>
        Wenn ihr alles geklärt habt, dann klicke auf <strong>Buchung vervollständigen</strong> um deine Buchung zu fixieren und die Miete zu hinterlegen.
      </div>
      <div class="buttons">
        <%= link_to "Buchung vervollständigen", edit_room_rental_path(room_rental), class: "btn-primary -small" %>
      </div>

    <% elsif room_rental.pending? %>

      <div class="note">
        <strong><%= room_rental.owner.full_name %> wurde über deine Anfrage benachrichtigt.</strong> Ihr könnt jetzt im Chat noch offene Fragen klären.
        Eine zahlungspflichtige Buchung erfolgt erst nach Bestätigung deiner Anfrage durch den Vermieter. Du kannst deine Anfrage auch noch zurückziehen.
      </div>
      <div class="buttons">
        <%= link_to "Anfrage zurückziehen", cancel_room_rental_path(room_rental), method: :post, class: "btn-primary -small -grey" %>
      </div>

    <% elsif room_rental.canceled? %>

      <div class="note">
        Du hast die Anfrage zurückgezogen. Bitte schreib dem Vermieter, warum du den Raumteiler doch nicht buchen möchtest.
      </div>

    <% elsif room_rental.approved? %>

      <div class="note">
        <strong>Glückwunsch, <%= room_rental.owner.first_name %> hat deine Anfrage angenommen, damit ist der Raumteiler erfolgreich gebucht.</strong>
        Die Kontaktdaten sind wie folgt, alle Details wurden dir auch per E-Mail gesendet.
        <p class="contact">
          <%= room_rental.owner.full_name %>, <%= room_rental.room_offer.address_street %>,
          <%= room_rental.room_offer.address_zip %> <%= room_rental.room_offer.address_city %>
        </p>
        Offene Fragen zur Miete könnt ihr am besten gleich hier im Chat besprechen.
      </div>

    <% elsif room_rental.rejected? %>

      <div class="note">
        Leider hat der Vermieter deine Anfrage abgelehnt.
        Probiere es mit einem anderen <%= link_to "Raumteiler", region_rooms_path %>.
      </div>

    <% elsif room_rental.expired? %>

      <div class="note">
        Diese Anfrage ist leider abgelaufen, da der Vermieter nicht auf diese reagiert hat.<br>
        Starte eine <%= link_to_if room_rental.room_offer.enabled?, "neue Anfrage", room_rental.room_offer %>, oder
        probiere es mit einem anderen <%= link_to "Raumteiler", region_rooms_path %>.
      </div>

    <% elsif room_rental.paid_out? %>

      <div class="note">
        <strong>Deine Raumteilerbuchung ist abgeschlossen.</strong><br>
        Wir hoffen es hat alles gut geklappt!
      </div>

    <% elsif room_rental.storno? %>

      <div class="note">
        <strong>Die Buchungssanfrage wurde storniert.</strong><br>
      </div>

    <% end %>

  </div>
</div>
