<div class="rental-info room-rental-info">

  <div class="action-box">
    <div class="box-icon">
      <%= icon_tag "horn-promote" %>
    </div>

    <% if room_rental.incomplete? %>

      <div class="note">
        <strong><%= room_rental.renter.full_name %> möchte deinen Raum mieten, hat aber noch offene Fragen.</strong>
        Sofern <%= room_rental.renter.first_name %> nach Klärung der Fragen deinen Raum mieten möchte, bekommst du hier die Möglichkeit die Miete zu bestätigen oder abzulehnen.
      </div>

    <% elsif room_rental.pending? %>

      <div class="note">
        Bitte klicke auf Akzeptieren um die Buchung anzunehmen oder auf Ablehnen, wenn eine Vermietung
        nicht möglich ist. Weitere Fragen kannst Du mit dem Mieter im Chat klären.
      </div>
      <div class="buttons">
        <%= link_to "Ablehnen", reject_room_rental_path(room_rental), method: :post, class: "btn-primary -small -grey" %>
        <%= link_to "Akzeptieren", approve_room_rental_path(room_rental), method: :post, class: "btn-primary -small" %>
      </div>

    <% elsif room_rental.canceled? %>

      <div class="note">
        <strong><%= room_rental.renter.full_name %> hat die Anfrage zurückgezogen.</strong>
      </div>

    <% elsif room_rental.approved? %>

      <div class="note">
        <strong>Glückwunsch, du hast die Anfrage akzeptiert und damit die Buchung bestätigt.</strong>
        Wir haben <%= room_rental.renter.first_name %> eine Buchungsbestätigung per E-Mail gesendet.
        Weitere Infos zur Miete kannst du mit <%= room_rental.renter.first_name %> am besten gleich hier im Chat besprechen.
      </div>

    <% elsif room_rental.rejected? %>

      <div class="note">
        Du hast die Anfrage abgelehnt. Bitte schreibe dem Mieter warum du den Raumteiler nicht vermieten konntest.
      </div>

    <% elsif room_rental.expired? %>

    <div class="note">
      Diese Raumteiler Anfrage ist mittlerweile abgelaufen.
    </div>

    <% elsif room_rental.paid_out? %>

      <div class="note">
        <strong>Deine Raumteilerbuchung ist abgeschlossen, wir hoffen es hat alles gut geklappt!</strong><br>
        Die Mieteinnahmen werden dir auf dein Konto gutgeschrieben.
      </div>

    <% elsif room_rental.storno? %>

      <div class="note">
        <strong>Die Buchungssanfrage wurde storniert.</strong><br>
      </div>

    <% end %>

  </div>
</div>
