<div class="rental-info tool-rental-info">

  <% if current_user == tool_rental.renter %>
    <div class="title">
      Du hast nach dem Geräteteiler
      „<%= link_to_if tool_rental.tool_offer.enabled?, "#{tool_rental.tool_offer.title}", tool_rental.tool_offer %>“
      bei <%= tool_rental.owner.full_name %> angefragt.
    </div>
  <% elsif current_user == tool_rental.owner %>
    <div class="title">
      <%= tool_rental.renter.full_name %> möchte deinen Geräteteiler
      „<%= link_to_if tool_rental.tool_offer.enabled?, "#{tool_rental.tool_offer.title}", tool_rental.tool_offer %>“
      mieten.
    </div>
  <% end %>

  <div class="time">
    <%= tool_rental.days %> Tage /
    <%= l(tool_rental.rent_from, format: :short) %> - <%= l(tool_rental.rent_to, format: :short) %>
  </div>

</div>
