<div class="tool-rental-info">

  <div class="title">
    <%= tool_rental.renter.full_name %> möchte deinen Toolteiler
    „<%= link_to_if tool_rental.tool_offer.enabled?, "#{tool_rental.tool_offer.title}", tool_rental.tool_offer %>“
    mieten.
  </div>

  <div class="time">
    <%= tool_rental.days %> Tage /
    <%= l(tool_rental.rent_from, format: :short) %> - <%= l(tool_rental.rent_to, format: :short) %>
  </div>

</div>
