<div class="rental-info tool-rental-info">

  <div class="action-box">
    <div class="box-icon">
      <%= icon_tag "horn-promote" %>
    </div>

    <% if tool_rental.incomplete? %>

      <div class="note">
        <strong>Stelle <%= tool_rental.owner.full_name %> deinen offenen Fragen zum Geräteteiler.</strong>
        Wenn ihr alles geklärt habt, dann klicke auf <strong>Buchung vervollständigen</strong> um die Buchung zu fixieren.
      </div>
      <div class="buttons">
        <%= link_to "Buchung vervollständigen", edit_tool_rental_path(tool_rental), class: "btn-primary -small" %>
      </div>

    <% elsif tool_rental.pending? %>

      <div class="note">
        <%= tool_rental.owner.full_name %> wurde über deine Anfrage benachrichtigt. Ihr könnt jetzt im Chat noch offene Fragen klären.
        Eine zahlungspflichtige Buchung erfolgt erst nach Bestätigung der Anfrage durch den Vermieter. Du kannst deine Anfrage auch noch zurückziehen.
      </div>
      <div class="buttons">
        <%= link_to "Anfrage zurückziehen", cancel_tool_rental_path(tool_rental), method: :post, class: "btn-primary -small -grey" %>
      </div>

    <% elsif tool_rental.canceled? %>

      <div class="note">
        Du hast die Anfrage zurückgezogen. Bitte schreib dem Verleiher, warum du den Geräteteiler doch nicht ausleihen möchtest.
      </div>

    <% elsif tool_rental.expired? %>

      <div class="note">
        Deine Anfrage ist bereits abgelaufen.
      </div>

    <% elsif tool_rental.approved? %>

      <div class="note">
        <strong>Glückwunsch, <%= tool_rental.owner.first_name %> hat deine Anfrage angenommen, damit ist der Geräteteiler erfolgreich gebucht.</strong>
        Die Kontaktdaten sind wie folgt, alle Details wurden dir auch per E-Mail gesendet.
        <p class="contact">
          <%= tool_rental.owner.full_name %>, <%= tool_rental.tool_offer.address_street %>, <%= tool_rental.tool_offer.address_zip %> <%= tool_rental.tool_offer.address_city %>
        </p>
        Macht euch am besten gleich hier im Chat eine genaue Uhrzeit und einen Treffpunkt aus.
      </div>

    <% elsif tool_rental.rejected? %>

      <div class="note">
        Leider hat der Vermieter deine Anfrage abgelehnt.
        Probiere es mit einem anderen <%= link_to "Geräteteiler", region_tools_path %>.
      </div>

    <% elsif tool_rental.return_pending? %>

      <div class="note">
        Wir hoffen die Miete des Geräteteilers war erfolgreich und es hat alles gepasst.
        Sobald <%= tool_rental.owner.full_name %> die Rückgabe des Geräteteilers bestätigt hat, kannst du hier den Mietvorgang bewerten.
      </div>

    <% elsif tool_rental.return_confirmed? %>

      <div class="note">
        <strong><%= tool_rental.owner.first_name %> hat die Rückgabe bestätigt.</strong><br>
        <% if tool_rental.owner_rating.blank? %>
          Bitte bewerte nun den Verleihvorgang bzw. <%= tool_rental.owner.first_name %> als Vermieter:
          <div class="leave-rating-container">
            <% (1..5).each do |rating| %>
              <%= link_to '☆', leave_rating_tool_rental_path(tool_rental, rating: rating), method: 'post', class: 'star' %>
            <% end %>
          </div>
        <% else %>
          Danke für deine Bewertung.
        <% end %>
      </div>

    <% end %>

  </div>
</div>
