<div class="rental-info tool-rental-info">

  <div class="action-box">
    <div class="box-icon">
      <%= icon_tag "horn-promote" %>
    </div>

    <% if tool_rental.incomplete? %>

      <div class="note">
        <strong><%= tool_rental.renter.full_name %> möchte deinen Geräteteiler ausleihen, hat aber noch offene Fragen.</strong>
        Sofern <%= tool_rental.renter.first_name %> nach Klärung der Fragen deinen Geräteteiler weiterhin ausleihen möchte, bekommst du hier die Möglichkeit dies zu bestätigen oder abzulehnen.
      </div>

    <% elsif tool_rental.pending? %>

      <div class="note">
        Bitte klicke auf Akzeptieren um die Buchung anzunehmen oder auf Ablehnen, wenn eine Vermietung
        nicht möglich ist. Weitere Fragen kannst Du mit dem Mieter im Chat klären.
      </div>
      <div class="buttons">
        <%= link_to "Ablehnen", reject_tool_rental_path(tool_rental), method: :post, class: "btn-primary -small -grey" %>
        <%= link_to "Akzeptieren", approve_tool_rental_path(tool_rental), method: :post, class: "btn-primary -small" %>
      </div>

    <% elsif tool_rental.canceled? %>

      <div class="note">
        <strong><%= tool_rental.renter.full_name %> hat die Anfrage zurückgezogen.</strong>
      </div>

    <% elsif tool_rental.expired? %>

      <div class="note">
        <strong>Die Anfrage von <%= tool_rental.renter.full_name %> ist bereits abgelaufen.</strong>
      </div>

    <% elsif tool_rental.approved? %>

      <div class="note">
        <strong>Glückwunsch, du hast die Anfrage akzeptiert und damit die Buchung bestätigt.</strong>
        Wir haben dir eine Buchungsbestätigung per E-Mail gesendet.
        Die Kontaktdaten des Mieters sind wie folgt:
        <p class="contact">
          <%= tool_rental.renter.full_name %>, <%= tool_rental.renter.address_street %>, <%= tool_rental.renter.address_zip %> <%= tool_rental.renter.address_city %>
        </p>
        Macht euch am besten gleich hier im Chat eine genaue Uhrzeit und einen Treffpunkt aus.
      </div>

    <% elsif tool_rental.rejected? %>

      <div class="note">
        Du hast die Anfrage abgelehnt. Bitte schreibe dem Mieter warum du ihm den Geräteteiler nicht vermieten konntest.
      </div>

    <% elsif tool_rental.return_pending? %>

      <div class="note">
        Wir hoffen die Verleihung deines Geräteteilers war erfolgreich und es hat alles gepasst.
        Bitte bestätige nun die Rückgabe deines Geräteteilers.
        Die Auszahlung deiner Mieteinnahmen auf dein Konto erfolgt innerhalb von 5 Tagen nach Bestätigung der Rückgabe.
      </div>
      <div class="buttons">
        <%= link_to "Rückgabe bestätigen", confirm_return_tool_rental_path(tool_rental), method: :post, class: "btn-primary -small" %>
      </div>

    <% elsif tool_rental.return_confirmed? %>

      <div class="note">
        <strong>Du hast die Rückgabe bestätigt.</strong><br>
        <% if tool_rental.renter_rating.blank? %>
          Bitte bewerte nun den Verleihvorgang bzw. <%= tool_rental.renter.first_name %> als Mieter:
          <div class="leave-rating-container">
            <% (1..5).each do |rating| %>
              <%= link_to '☆', leave_rating_tool_rental_path(tool_rental, rating: rating), method: 'post', class: 'star' %>
            <% end %>
          </div>
        <% else %>
          Danke für deine Bewertung.
        <% end %>
      </div>

    <% end %>

  </div>
</div>
