<div class="mobileMainNav">
  <%= link_to graetzl_path(target) do %>
    <svg class="icon-home"><use xlink:href="#icon-home"></use></svg><%= target.name %>
  <% end %>
  <% if target.open? %>
    <!-- normal links -->
    <%= link_to graetzl_meetings_path(target) do %>
      <svg class="icon-calendar-2"><use xlink:href="#icon-calendar-2"></use></svg>Treffen & Events im Grätzl
    <% end %>
    <%= link_to graetzl_locations_path(target) do %>
      <svg class="icon-location"><use xlink:href="#icon-location"></use></svg>Treffpunkte & Anbieter
    <% end %>
  <% else %>
    <!-- disabled links -->
    <span class="linkdisabled"><svg class="icon-calendar-2"><use xlink:href="#icon-calendar-2"></use></svg>Treffen & Events im Grätzl</span>
    <span class="linkdisabled"><svg class="icon-location"><use xlink:href="#icon-location"></use></svg>Treffpunkte & Anbieter</span>
  <% end %>
  <%= link_to graetzl_zuckerls_path(target) do %>
    <svg class="icon-shopping-bag"><use xlink:href="#icon-shopping-bag"></use></svg><%= l(Date.today, format: 'Grätzlzuckerl im %B') %>
  <% end %>
  <%= link_to districts_path, class: 'discover' do %>
    <svg class="icon-map-location"><use xlink:href="#icon-map-location"></use></svg>Wien Übersicht
  <% end %>
  <a href="http://blog.imgraetzl.at/" class="bloglink" target="_blank"><svg class="icon-coffee"><use xlink:href="#icon-coffee"></use></svg>Blog</a>
</div>
