<% if !@poll.find_poll_user(current_user) %>

  <h2 class="hl-main"><em>Jetzt teilnehmen</em></h2>

  <% disabled = @poll.find_poll_user(current_user) ? true : false %>

  <%= form_for [@poll, poll_user], html: { class: 'poll-form' } do |f| %>
  <%= form_errors_for f.object %>
  <% f.object.poll_user_answers.build if f.object.poll_user_answers.empty? %>

    <% @poll.poll_questions.order(:position).each do |question| %>

        <div class="cardBox pollquestion" data-required="<%= question.required? ? true : '' %>" data-type="<%= question.option_type %>">

          <h3>
            <%= question.title %>
            <%= icon_tag "pie-chart" %>
          </h3>

            <% if question.single? %>

              <%= f.fields_for :poll_user_answers do |o| %>
              <%= o.hidden_field :poll_question_id, value: question.id %>
                <% question.poll_options.each do |option| %>
                  <div class="input-radio <%= disabled ? 'disabled' : '' %>">
                    <%= o.radio_button :poll_option_id, option.id, { disabled:  disabled ? true : false } %>
                    <%= o.label :poll_option_id, option.title, value: option.id %>
                  </div>
                <% end %>
              <% end %>

            <% elsif question.multiple? %>

              <% question.poll_options.each do |option| %>
                <%= f.fields_for :poll_user_answers do |o| %>
                <%= o.hidden_field :poll_question_id, value: question.id %>
                  <div class="input-checkbox <%= disabled ? 'disabled' : '' %>">
                    <%= o.check_box :poll_option_id, { disabled:  disabled ? true : false }, option.id, nil %>
                    <%= o.label :poll_option_id, option.title %>
                </div>
                <% end %>
              <% end %>

            <% else %>
              <%= f.fields_for :poll_user_answers do |o| %>
              <%= o.hidden_field :poll_question_id, value: question.id %>
                <div class="input-textarea <%= disabled ? 'disabled' : '' %>">
                  <%= o.text_area :answer, placeholder: 'Deine Antwort ... (wird nicht öffentlich angezeigt)', disabled:  disabled ? true : false %>
                </div>
              <% end %>
            <% end %>
          
        </div>
      
        
    <% end %>

    <div class="input-button">
      <span class="errormsg -hidden">Bitte beantworte alle gekennzeichneten Fragen.</span>
      <%= link_to 'Teilnahme absenden', 'javascript:', class: 'btn-primary -save' %>
    </div>

  <% end %>


<% end %>

  <!----------- LOGIN PANEL MODAL ----------->
  <%= render 'shared/login_panel_modal', redirect: request.original_url, origin: request.original_url %>
  <!----------- LOGIN PANEL MODAL ----------->