<% graetzl = Graetzl.memoized(meeting.graetzl_id) %>

<div class="cardBox featuredCard -hidden -meeting <%= meeting_past_flag(meeting) %>" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to [graetzl, meeting] do %>
      <div class="coverImgWrapper">
        <%= cover_photo_image(meeting, class: 'coverImg') %>
      </div>
    <% end %>
    <% if meeting.starts_at_date %>
      <div class="calendarSheet">
        <div class="day"><%= meeting.starts_at_date.day %></div>
        <div class="month"><%= I18n.localize(meeting.starts_at_date, format:'%b') %></div>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "users" %>
      <div class="count"><%= meeting.going_tos.size %></div>
    </div>
    <%= graetzl_flag(graetzl) %>
  </div>

  <div class="cardBoxContent">
    <% if meeting.location&.owned_by?(meeting.user) %>
      <%= link_to [Graetzl.memoized(meeting.location.graetzl_id), meeting.location], class: 'initiator' do %>
        <%= avatar_image meeting.location, size: :thumb, class: 'img-round' %>
        <span><%= meeting.location.name %></span>
      <% end %>
    <% elsif meeting.user %>
      <%= link_to meeting.user, class: 'initiator' do %>
        <%= avatar_image meeting.user, size: :thumb, class: 'img-round' %>
        <span><%= meeting.user.username %></span>
      <% end %>
    <% end %>

    <div class="txt">
      <h3><%= link_to meeting.name, [graetzl, meeting] %></h3>
      <p><%= truncate(meeting.description, length: 100) %></p>
    </div>
    <%= link_to meeting_link_text(meeting), [graetzl, meeting], class: 'btn-primary -mint' %>

    <% if local_assigns[:activity_comment] %>
      <%= render 'activities/comment', parent: meeting, comment: local_assigns[:activity_comment] %>
    <% end %>
  </div>

</div>
