<%
  meta({
    title: t('.title', numeric: @district.numeric),
    description: t('.description', numeric: @district.numeric, name: @district.name),
    robots: 'index, follow',
    og_title: t('.title', numeric: @district.numeric),
    og_description: t('.description', numeric: @district.numeric, name: @district.name),
    og_image: image_url('meta/og_logo.png')
  })
%>

<section class="districts">
  <%= render 'districts/map', map_data: @map_data %>
  <h1 class="hl-main">Komm doch dazu - <span>Treffen & Events</span> im <%= @district.numeric %>. Bezirk</h1>
  <div id="upcoming" class="cardBoxCollection -tripple">
    <!-- render action card -->
    <%= render partial: 'meetings/meeting', collection: @upcoming %>
  </div>
  <div id='paginate-upcoming'>
    <%= paginate @upcoming, remote: true, params: { scope: :upcoming } %>
  </div>
  <% unless @past.empty? %>
    <h1 class="hl-main">Vergangene Treffen in <span> im <%= @district.numeric %>. Bezirk</span></h1>
    <div id="past" class="cardBoxCollection -tripple">
      <%= render partial: 'meetings/meeting', collection: @past %>
    </div>
    <div id='paginate-past'>
      <%= paginate @past, remote: true, params: { scope: :past } %>
    </div>
  <% end %>
</section>
