<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>

    <tr>
      <td colspan="2" valign="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px;">
        <p>
          <%= link_to notification.content_title, polymorphic_url(notification.content_url_params), style: "color:#ec776a; font-size:18px;"%>
        </p>
      </td>
    </tr>

    <tr>
      <td valign="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px;">
        <%= avatar_image notification.comment.user, size: :thumb, style: "width:60px; height:60px; border-radius: 30px; max-width:60px; min-width:60px;", class: "mcnImage" %>
      </td>

      <td class="mcnTextContent" style="padding-right:18px; width:100%;">
        <p>
          <em><strong><%= notification.comment.user.username %>:</strong></em>
          <br>
          <%= notification.comment.preview %>
        </p>
      </td>
    </tr>

    <tr>
      <td colspan="2" style="padding-bottom:9px;"></td>
    </tr>

    <tr>
      <td colspan="2">
        <%= render 'mailers/shared/button', title: "Zum Kommentar",
            url: polymorphic_url(notification.content_url_params, target: notification.child.target_url_params) %>
      </td>
    </tr>

  </tbody>
</table>
