<% notifications.group_by(&:discussion).each do |discussion, discussion_notifications| %>

  <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
    <tbody>
      <tr>
        <td colspan="2" valign="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px;">
          <p>
            <em><strong>Neue Beiträge im Thema:</strong></em>
          </p>
          <p>
            <%= link_to discussion.title, group_discussion_url(discussion.group, discussion), style: "color:#ec776a; font-size:18px;" %>
          </p>
        </td>
      </tr>

      <% discussion_notifications.sort_by(&:created_at).each do |notification| %>
        <tr>
          <td valign="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px;">
            <%= avatar_image notification.discussion_post.user, size: :thumb, style: "width:60px; height:60px; border-radius: 30px; max-width:60px; min-width:60px;", class: "mcnImage" %>
          </td>
          <td class="mcnTextContent" style="padding-right:18px; width:100%;">
            <p>
              <em><strong><%= notification.activity.owner.first_name %>:</strong></em>
              <br>
              <%= notification.discussion_post.content.truncate(300, separator: ' ') %>
            </p>
          </td>
        </tr>

        <tr>
          <td colspan="2" style="padding-bottom:9px;"></td>
        </tr>

        <tr>
          <td colspan="2">
            <%= render 'mailers/shared/button', title: "Zum Beitrag", url: group_discussion_url(notification.group, notification.discussion, target: "discussion-post-#{notification.discussion_post.id}") %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>

<% end %>
