<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>

    <tr>
      <td valign="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px;">

        <%= link_to tool_demand_url(notification.tool_demand), target: "_blank" do %>
          <%= avatar_image notification.tool_demand.user, size: :small, style: "width:120px; height:120px; border-radius: 60px; max-width:120px; min-width:120px;", class: "mcnImage" %>
        <% end %>

      </td>

      <td valign="center" class="mcnTextContent" width="100%">
        <p>
          <%= link_to notification.tool_demand.slogan, tool_demand_url(notification.tool_demand), style: "color:#ec776a; font-size:18px;" %>
        </p>
        <p>
          <em><strong>Ausleihdauer: <%= notification.tool_demand.usage_days %> Tage </strong></em><br>
        </p>
      </td>
    </tr>

    <tr>
      <td colspan="2" style="padding-bottom:9px;"></td>
    </tr>

    <tr>
      <td colspan="2" class="mcnTextContent" style="padding-bottom:18px; padding-left:18px; padding-right:18px;">
        <p>
          <%= notification.tool_demand.demand_description.truncate(255, separator: ' ') %>
        </p>
      </td>
    </tr>

  </tbody>
</table>
