<% if zuckerls.any? %>

  <%= render 'summary/block_header', title: "Aktuelle Zuckerl im #{I18n.localize Time.now, format: '%B'}" %>

  <% zuckerls.last(2).each do |zuckerl| %>
  <% location = zuckerl.location %>
  <% graetzl = Graetzl.memoized(location.graetzl_id) %>

  <!-- Zuckerl Card-->
  <table border="0" cellpadding="0" cellspacing="0" style="float:left; max-width:300px; margin-bottom:20px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef;" width="100%" class="mcnTextContentContainer">
    <tbody>
      <tr>
        <td valign="top" class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:18px; padding-right:18px;">
          <table>
            <tr>
              <td>
                <%= avatar_image location, size: :thumb, style: "width:60px; height:60px; max-width:60px; max-height:60px; border-radius: 4px; border: 1px solid #83C7BD; background-color: #ffffff; padding: 2px; margin-right:8px;", class: "mcnImage" %>
              </td>
              <td style="font-size:12px; line-height:16px; vertical-valign:center;">
                <%= link_to location.name, graetzl_location_url(location.graetzl, location), style: "color:#69a8a7;" %>
                <br>
                <%= location.location_category.name if location.location_category %>
                <% if location.using_address? %>
                  <div class="address">
                    <%= location.address_street %>
                  </div>
                <% end %>
              </td>
            </tr>
          </table>
          <%= link_to [graetzl, location, anchor: dom_id(zuckerl)] do %>
            <%= cover_photo_image zuckerl, size: :small, style: "width:100%; padding-bottom:10px; padding-top:10px;", class: "mcnImage" %>
          <% end %>
          <table style="width:100%;">
            <tr>
              <td style="vertical-valign:center;"><img src="https://gallery.mailchimp.com/3accfa3feb5f05b82bd1fddc6/images/91f7f040-579d-43aa-968d-c19e08f100ef.png" style="width:20px; height:20px; max-width:20px; max-height:20px; padding-right:5px; float:left;" width="20" height="20" class="mcnImage"><em>Zuckerl im <%= I18n.localize Time.now, format: '%B' %>:</em></td>
            </tr>
            <tr>
              <td>
                <%= link_to zuckerl.title, [graetzl, location, anchor: dom_id(zuckerl)], style: "color:#ec776a;" %>
              </td>
            </tr>
            <tr>
              <td><%= zuckerl.description %></td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- /Zuckerl Card-->

  <% end %>

  <%= render 'mailers/shared/button', title: "Alle Zuckerl im #{I18n.localize Time.now, format: '%B'}", url: zuckerls_graetzl_url(@user.graetzl), style: "width:100%;" %>

<% end %>
