<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>

    <tr>
      <td valign="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px;">
        <%= avatar_image notification.coop_demand, size: :small, style: "width:120px; height:120px; border-radius: 60px; max-width:120px; min-width:120px;", class: "mcnImage" %>
      </td>

      <td valign="center" class="mcnTextContent" width="100%">
        <p>
          <em><strong>
            <%= I18n.t("activerecord.attributes.coop_demand.coop_types.#{notification.coop_demand.coop_type}") %> <%= notification.coop_demand.coop_demand_category.name %>:
          </strong></em>
        </p>

        <p>
          <%= link_to notification.coop_demand.slogan, coop_demand_url(notification.coop_demand), style: "color:#ec776a; font-size:18px;" %>
        </p>
      </td>
    </tr>

    <tr>
      <td colspan="2" style="padding-bottom:9px;"></td>
    </tr>

    <tr>
      <td colspan="2" class="mcnTextContent" style="padding-bottom:18px; padding-left:18px; padding-right:18px;">
        <p>
          <%= notification.coop_demand.demand_description.truncate(255, separator: ' ') %>
        </p>
      </td>
    </tr>

  </tbody>
</table>
