<!-- Prepare GOOD MORDNING Dates for @user, max 2 -->

<% all_dates = meetings %>
<% my_dates = all_dates.joins(:districts).where(districts: @user.district) %>
<% @meetings = (all_dates - my_dates).sample(2) %>
<% @meetings += my_dates %>

<% if @meetings.any? %>

  <%= render 'summary/block_header', title: "Die Good Morning Dates 2024 starten!" %>

  <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;" class="mcnTextContentContainer">
    <tr>
      <td valign="center" class="mcnTextContent" width="100%" style="padding-left:18px; padding-right:18px; padding-bottom:18px;">
        <p>
          <strong>Du möchtest Macher*innen aus deinem Bezirk kennenlernen</strong> und erfahren, woran andere bei dir um die Ecke gerade tüfteln, was sie begeistert, wie sie ins Tun kommen? 
          Auf zum ersten <%= link_to 'Good Morning Date', good_morning_dates_url, style: "color:#ec776a;", target: "_blank" %> in deinem Bezirk!
        </p>
      </td>
    </tr>
  </table>

  <% @meetings.last(2).reverse.each do |meeting| %>

  <!-- Meeting Card-->
  <table border="0" cellpadding="0" cellspacing="0" style="float:left; max-width:300px; margin-bottom:20px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef;" width="100%" class="mcnTextContentContainer">
    <tbody>

      <tr>
        <td valign="top" class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-right:18px;">
          <table>
            <tr>
              <td>
                <%= avatar_image meeting.user, size: :thumb, style: "width:40px; height:40px; border-radius: 22px; max-width:40px; min-width:40px; border: 1px solid #83C7BD; background-color: #ffffff; padding: 2px;", class: "mcnImage" %>
              </td>
              <td> </td>
              <td style="font-size:12px; line-height:16px;">
                <%= link_to meeting.user.username, user_url(meeting.user), style: "color:#ec776a; font-size:12px;" %>
                <br>
                <%= I18n.localize(meeting.starts_at_date, format:'%A %d. %B') %>
              </td>
            </tr>
          </table>

          <%= link_to graetzl_meeting_url(meeting.graetzl, meeting), target: "_blank" do %>
            <%= cover_photo_image(meeting, size: :small, style: "width:100%; padding-bottom:10px; padding-top:10px;", class: "mcnImage") %>
          <% end %>

          <p style="min-height:53px; max-height:53px; overflow: hidden; text-overflow: ellipsis;"><%= meeting.name.truncate(70, separator: ' ') %></p>
        </td>
      </tr>

      <% if meeting.attendees.any? %>
      <tr>
        <td valign="top" class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:18px; padding-right:18px;">
          <% meeting.attendees.map(&:user).last(12).each do |user| %>
            <table cellpadding="0" cellspacing="0" border="0" align="left" style="margin-right:10px; margin-bottom:10px;">
              <tr>
                <td>
                  <%= avatar_image user, size: :thumb, style: "width:30px; height:30px; border-radius: 15px; max-width:30px; min-width:30px;", class: "mcnImage" %>
                </td>
              </tr>
            </table>
          <% end %>
          <% if meeting.attendees.size > 12 %>
            <table cellpadding="0" cellspacing="0" border="0" align="left" style="margin-right:10px; margin-bottom:10px;">
              <tr>
                <td style="height:30px;">
                  <small><em> + <%= meeting.attendees.size - 12 %> weitere</em></small>
                </td>
              </tr>
            </table>
          <% end %>
        </td>
      </tr>
      <% end %>

      <tr>
        <td>
          <%= render 'mailers/shared/button', title: "Teilnehmen", url: graetzl_meeting_url(meeting.graetzl, meeting), style: "width:100%;" %>
        </td>
      </tr>

    </tbody>
  </table>

  <!-- /Meeting Card-->

  <% end %>

  <table border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer" style="width:100%;">
    <tr>
      <td class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:18px; padding-right:18px; text-align:center;">
        <%= link_to 'Zur Good Morning Date Übersicht', good_morning_dates_url, target:'_blank', style: "color:#ec776a; font-weight:bold;" %>
      </td>
    </tr>
  </table>

<% end %>
