<div class="mailTo">

  <div class="hl-subtext">
    <h1><span>E-Mail</span> an Unterstützerinnen <span>senden</span></h1>
  </div>

  <%= form_with url: [:send_mail, @crowd_campaign], method: :post do |f| %>

    <div class="input-select select_users">
      <%= label_tag :user_ids do %>
        <%= icon_tag "user-avatar" %>
        <span>Empfänger</span>
      <% end %>
      <%= select_tag :emails, options_from_collection_for_select(@supporters, :email, :contact_name_and_type, params[:emails]), id: 'mail-user-select', multiple: true, required: true %>
    </div>

    <div class="input-field">
      <%= label_tag :subject do %>
      <%= icon_tag "record" %>
      <span>Betreff</span>
      <% end %>
      <%= text_field_tag :subject, params[:subject], placeholder: "Dein Betreff", required: true, data: { max_chars: 100 }, maxlength:100 %>
      <span class="charCountContainer charsLeft"></span>
    </div>

    <div class="input-textarea">
      <%= label_tag :body do %>
      <%= icon_tag "layout-document" %>
      <span>Inhalt</span>
      <% end %>
      <%= text_area_tag :body, params[:body], placeholder: "Deine E-Mail", required: true %>
    </div>

    <div class="input-checkbox">
      <%= f.check_box :self_copy, checked: true %>
      <%= f.label "self_copy", "Kopie dieser E-Mail an mich senden." %>
    </div>

    <%= submit_tag 'E-Mail absenden', data: { disable_with: 'sendet...' }, class: 'btn-primary' %>
  <% end %>
</div>
