<div class="cardBox -crowdRewardBox -crowdDonationBox">
  <div class="left">
    <div class="reward-img">
      <% if crowd_donation.donation_type == 'material' %>
        <%= icon_tag "label-tag" %>
      <% elsif crowd_donation.donation_type == 'assistance' %>
        <%= icon_tag "time-clock" %>
      <% else %>
        <%= icon_tag "pin" %>
      <% end %>
    </div>
  </div>
  <div class="right">
    <h4><%= crowd_donation.title %></h4>
    <small><%= crowd_donation.claimed %> mal zugesagt.</small>

      <div class="description">
        <%= crowd_donation.description %><br>
        <small>Benötigt im Zeitraum:</small>
        <p><em>
          <% if crowd_donation.startdate %>
            Ab frühestens: <%= I18n.localize(crowd_donation.startdate, format:'%d.%m.%y') %><br>
          <% end %>
          <% if crowd_donation.enddate %>
            Bis spätestens: <%= I18n.localize(crowd_donation.enddate, format:'%d.%m.%y') %>
          <% end %>
        </em></p>
      </div>

  </div>
  <div class="priceContainer">
    <%= link_to 'Auswählen', choice_crowd_donation_pledges_path(crowd_campaign_id: crowd_donation.crowd_campaign.id, crowd_donation_id: crowd_donation.id), class: 'btn-primary -small' %>
  </div>
</div>
