<div class="cardBox -crowdRewardBox <%= crowd_reward.available? ? '' : 'soldOut' %>">
  <div class="left">
    <% if crowd_reward.avatar.nil? %>
      <div class="reward-img"><%= icon_tag "label-tag" %></div>
    <% else %>
      <%= avatar_image crowd_reward, size: :large, class: 'reward-img' %>
    <% end %>
  </div>
  <div class="right">
    <h4><%= crowd_reward.title %></h4>
    <small><%= crowd_reward.claimed %> <%= crowd_reward.limit ? "von #{crowd_reward.limit}" : "" %> gebucht</small>
    <div class="description txtlinky"><%= crowd_reward.description %></div>
  </div>
  <div class="priceContainer">
    <strong><%= number_to_currency(crowd_reward.amount, unit: "€") %></strong>
    <% if crowd_reward.available? %>
      <%= link_to 'Auswählen', [:choose_amount, @crowd_campaign, :crowd_pledges, crowd_reward_id: crowd_reward.id],
          rel: 'nofollow', class: 'btn-primary -small', title: "Dankeschön auswählen: #{crowd_reward.title}" %>
    <% else %>
      <%= link_to 'Ausgebucht', 'javascript:', rel: 'nofollow', class: 'btn-primary -disabled -small' %>
    <% end %>
  </div>
</div>
