<!-- SUPPORT BOX -->
<div class="paperCard -mint -cord1RT -supportBox">
  <div class="wrp">
    <div class="txt">
      <h2 class="hl-main"><span>Freie</span> Unterst체tzung</h2>

      <p>
        Du kannst dieses Projekt mit einem Betrag deiner Wahl auch ohne Belohnung unterst체tzen. Einfach, weil es dich anspricht.
      </p>
      <%= form_for CrowdPledge.new(crowd_campaign_id: @crowd_campaign.id), html: { class: 'campaign_support_form' } do |f| %>
        <%= f.hidden_field :crowd_campaign_id %>
        <div class="input-field">
          <%= label_tag :amount do %>
            <%= icon_tag "currency-euro" %>
          <% end %>
          <%= f.text_field :amount, class: 'amount', placeholder: 'Betrag w채hlen' %>
        </div>
        <%= f.button 'Ausw채hlen', class: 'btn-primary -mint' %>
      <% end %>

    </div>
  </div>
  <div class="card"></div>
</div>
<!-- /SUPPORT BOX -->
