<!-- SUPPORT BOX -->
<div class="paperCard -mint -cord1RT -supportBox">
  <div class="wrp">
    <div class="txt">
      <h2 class="hl-main"><span>Freie</span> Unterst체tzung</h2>

      <p>
        Du kannst dieses Projekt mit einem Betrag deiner Wahl auch ohne Belohnung unterst체tzen.
      </p>

      <%= form_with url: new_crowd_pledge_path, html: { class: 'campaign_support_form', method: :get } do |f| %>
      <%= f.hidden_field :crowd_campaign_id, value: @crowd_campaign.id %>

        <div class="input-field">
          <%= label_tag :amount do %>
            <%= icon_tag "currency-euro" %>
          <% end %>
          <%= f.number_field :amount, class: 'amount', placeholder: 'Betrag w채hlen', required: true %>
        </div>
        <%= f.submit 'Ausw채hlen', class: 'btn-primary -mint' %>
      <% end %>

    </div>
  </div>
  <div class="card"></div>
</div>
<!-- /SUPPORT BOX -->
