  <% @supporters.each do |crowd_pledge| %>
    <% if crowd_pledge.is_a?(CrowdBoostPledge) %>
      <div class="supporter cardBox">
        <%= link_to crowd_pledge.crowd_boost, rel: 'nofollow' do %>
          <%= avatar_image crowd_pledge.crowd_boost, size: :thumb, class: 'img-round show-badge' %>
        <% end %>
        <div class="name">
          <span><%= link_to crowd_pledge.crowd_boost.title, crowd_pledge.crowd_boost, rel: 'nofollow' %></span><br>
          <small>vor <%= time_ago_in_words(crowd_pledge.created_at) %></small>
        </div>
      </div>
    <% elsif crowd_pledge.user && !crowd_pledge.user.guest? %>
      <div class="supporter cardBox">
        <%= link_to crowd_pledge.user, rel: 'nofollow' do %>
          <%= avatar_image_with_tooltip crowd_pledge.user, size: :thumb, class: 'img-round show-badge' %>
        <% end %>
        <div class="name">
          <span><%= link_to crowd_pledge.contact_name, crowd_pledge.user, rel: 'nofollow' %></span><br>
          <% if crowd_pledge.is_a?(CrowdDonationPledge) %>
            <small><em>(<%= I18n.t("activerecord.attributes.crowd_donation.donation_type.#{crowd_pledge.donation_type}") %>)</em></small><br>
          <% end %>
          <small>vor <%= time_ago_in_words(crowd_pledge.created_at) %></small>
        </div>
      </div>
    <% else %>
      <div class="supporter cardBox">
        <%= avatar_image crowd_pledge.user, size: :thumb, class: 'img-round' %>
        <div class="name">
          <span><%= crowd_pledge.contact_name %></span><br>
          <% if crowd_pledge.is_a?(CrowdDonationPledge) %>
            <small><em>(<%= I18n.t("activerecord.attributes.crowd_donation.donation_type.#{crowd_pledge.donation_type}") %>)</em></small><br>
          <% end %>
          <small>vor <%= time_ago_in_words(crowd_pledge.created_at) %></small>
        </div>
      </div>
    <% end %>
  <% end %>
