<div class="paperCard -cord1RT -supportBox">
  <div class="wrp">
    <div class="txt">
      <h3 class="hl-main">Freie Unterstützung</h3>

      <p>
        Du kannst dieses Projekt mit einem freien Betrag deiner Wahl unterstützen, oder wähle eines der Dankeschöns unterhalb aus.
      </p>

      <%= form_with url: [:new, @crowd_campaign, :crowd_pledge], html: { class: 'campaign_support_form', method: :get } do |f| %>
        <div class="input-field">
          <%= label_tag :donation_amount do %>
            <%= icon_tag "currency-euro" %>
          <% end %>
          <%= f.number_field :donation_amount,
            placeholder: 'Dein Betrag', 
            class: 'amount', 
            maxlength: 8, 
            inputmode: "decimal", 
            required: true %>
        </div>
        <%= f.submit 'Jetzt unterstützen', class: 'btn-primary' %>
      <% end %>

      <% if @crowd_campaign.crowd_pledges.initialized.donation.count > 0 %>
      <small>
        <%= @crowd_campaign.crowd_pledges.initialized.donation.count %> haben mit freiem Betrag unterstützt.
      </small>
      <% end %>

    </div>
  </div>
  <div class="card"></div>
</div>
