<div id="tab-info" class="layoutArea">

  <div class="mainArea">

    <div class="content-block bbcode"><%= @crowd_campaign.description.bbcode_to_html.html_safe if @crowd_campaign.description.present? %></div>

    <div class="content-block -facts">

      <div class="block">
        <h4>Finanzierungszeitraum</h4>
        <p><strong><%= I18n.localize(@crowd_campaign.startdate, format:'%d.%m.%y') if @crowd_campaign.startdate %> - <%= I18n.localize(@crowd_campaign.enddate, format:'%d.%m.%y') if @crowd_campaign.enddate %></strong></p>
      </div>

      <div class="block">
        <h4>Projekt Kategorie</h4>
        <p><strong><%= @crowd_campaign.crowd_categories.map(&:title).join(", ") %></strong></p>
      </div>

      <div class="block">
        <h4>Benötigter Mindesbetrag</h4>
        <p><strong><%= number_to_currency(@crowd_campaign.funding_1_amount, unit: "€") %></strong></p>
        <p class="desc"><%= @crowd_campaign.funding_1_description %></p>
      </div>

      <% if @crowd_campaign.funding_2_amount %>
      <div class="block">
        <h4>Optimalbetrag</h4>
        <p><strong><%= number_to_currency(@crowd_campaign.funding_2_amount, unit: "€") %></strong></p>
        <p class="desc"><%= @crowd_campaign.funding_2_description %></p>
      </div>
      <% end %>

    </div>

    <div class="content-block -toggable">
      <h3>Warum sollte jemand dieses Projekt unterstützen?</h3>
      <div class="bbcode -toggle-content"><%= @crowd_campaign.support_description.bbcode_to_html.html_safe if @crowd_campaign.support_description.present? %></div>
    </div>

    <div class="content-block -toggable">
      <h3>Was sind die Ziele?</h3>
      <div class="bbcode -toggle-content"><%= @crowd_campaign.aim_description.bbcode_to_html.html_safe if @crowd_campaign.aim_description.present? %></div>
    </div>

    <% if @crowd_campaign.benefit? %>
    <div class="content-block -toggable">
      <h3>Wie profitieren andere Menschen von diesem Vorhaben?</h3>
      <div class="bbcode -toggle-content"><%= @crowd_campaign.benefit_description %></div>
    </div>
    <% end %>

    <div class="content-block -toggable">
      <h3>Wer steht hinter dem Projekt?</h3>
      <div class="bbcode -toggle-content"><%= @crowd_campaign.about_description.bbcode_to_html.html_safe if @crowd_campaign.about_description.present? %>
        <div class="imprint">
          <h3>Impressum</h3>
          <div>
            <p><%= @crowd_campaign.contact_company if @crowd_campaign.contact_company.present? %></p>
            <p><%= @crowd_campaign.contact_name if @crowd_campaign.contact_name.present? %></p>
            <p><%= @crowd_campaign.contact_address if @crowd_campaign.contact_address.present? %></p>
            <p>
              <%= @crowd_campaign.contact_zip if @crowd_campaign.contact_zip.present? %>
              <%= @crowd_campaign.contact_city if @crowd_campaign.contact_city.present? %>
            </p>
          </div>
          <div>
            <%= link_to @crowd_campaign.user, class: 'user-wrp', rel: 'nofollow' do %>
              <%= avatar_image_with_tooltip @crowd_campaign.user, size: :thumb, class: 'img-round' %>
              <span class="name"><%= @crowd_campaign.user.full_name %></span>
            <% end %>
            <% if @crowd_campaign.contact_website.present? %>
              <%= link_to @crowd_campaign.contact_website, class: 'icontxt', target: '_blank', rel: 'noopener' do %>
                <%= icon_tag "globe" %>
                <span><%= @crowd_campaign.contact_website.sub(/^https?\:\/\//,'') %></span>
              <% end %>
            <% end %>
            <% if @crowd_campaign.contact_email.present? %>
              <%= mail_to @crowd_campaign.contact_email, class: 'icontxt' do %>
                <%= icon_tag "at-symbol" %>
                <span><%= @crowd_campaign.contact_email %></span>
              <% end %>
            <% end %>
          </div>
        </div></div>
    </div>

    <% if @crowd_campaign.video? %>
      <div class="entryImgUploads" style="padding:56.25% 0 0 0;position:relative;">
        <iframe id="galleryVideo" src="<%= @crowd_campaign.video %>"
          title="Crowdfunding Video"
          frameborder="0" allow="accelerometer; autoplay;
          encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          style="position:absolute;top:0;left:0;
          width:100%;height:100%;">
        </iframe>
      </div>
    <% end %>

    <% if @crowd_campaign.images.present? %>
      <div class="entryImgUploads -grid">
        <%= link_to image_tag(@crowd_campaign.cover_photo_url(:thumb)), @crowd_campaign.cover_photo_url, alt: "Crowdfunding Gallery Foto", data: { jbox_image: "maingallery" } %>
        <% @crowd_campaign.images.each do |image| %>
          <%= link_to gallery_thumb_image(image), image.file_url, alt: "Crowdfunding Gallery Foto", data: { jbox_image: "maingallery" } %>
        <% end %>
      </div>
    <% end %>

  </div>

  <div class="sideArea">

    <%= render 'crowd_campaigns/show/support_box' %>

    <% if @crowd_campaign.crowd_rewards.exists? %>
      <%= render partial: 'crowd_campaigns/show/rewards', collection: @crowd_campaign.crowd_rewards.sort_by(&:amount), as: :crowd_reward %>
    <% end %>
    <% if @crowd_campaign.crowd_donations.material.exists? %>
      <h3 class="reward-headlines">Material Spenden</h3>
      <%= render partial: 'crowd_campaigns/show/donations', collection: @crowd_campaign.crowd_donations.material, as: :crowd_donation %>
    <% end %>
    <% if @crowd_campaign.crowd_donations.assistance.exists? %>
      <h3 class="reward-headlines">Zeit Spenden</h3>
      <%= render partial: 'crowd_campaigns/show/donations', collection: @crowd_campaign.crowd_donations.assistance, as: :crowd_donation %>
    <% end %>
    <% if @crowd_campaign.crowd_donations.room.exists? %>
      <h3 class="reward-headlines">Raum Spenden</h3>
      <%= render partial: 'crowd_campaigns/show/donations', collection: @crowd_campaign.crowd_donations.room, as: :crowd_donation %>
    <% end %>

    <%= link_to "Im Messenger kontaktieren", messenger_start_thread_path(user_id: @crowd_campaign.user.id), rel: 'nofollow', class: "btn-primary -mint", id: 'requestMessengerBtn', data: { category: "Crowdfunding", label: "Kampagne" } %>

  </div>

</div>
