<%= form_for [@group, discussion_post, Comment.new],
  html: { class: 'entryForm', remote: true, data: { behavior: "comment-form-#{discussion_post.id}" } } do |f| %>
  <label>
    <%= avatar_image current_user, size: :thumb, class: 'avatar img-round show-badge' %>
    <%= f.text_area :content, placeholder: 'Kommentieren' %>
  </label>
  <div class="hideBlock">
    <div class="upload-streamImgs">
      <%= icon_tag "photo-camera" %>
      <%= upload_image_input(f, :images, multiple: true, live_preview: false) %>
    </div>
    <%= f.button 'Antwort senden', data: { disable_with: 'sendet...' } %>
  </div>
<% end %>
