<%= form_for [@group, post], remote: true, html: { class: 'edit-post-form' } do |f| %>
  <div class="input-textarea">
    <%= f.text_area :content, cols: 80, rows: 3 %>
  </div>
  <div class="upload-oldschool">
    <%= f.label :images do %>
      <%= icon_tag "photo-camera" %>
      <span>Bilder</span>
    <% end %>
    <div class="field-wrp">
      <%= upload_image_input(f, :images, multiple: true, live_preview: false) %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Speichern', data: { disable_with: 'sendet...' }, class: 'btn-primary -mint' %>
    <%= f.button 'Abbrechen', type: 'button', class: 'cancel-edit-link btn-secondary -mint' %>
  </div>
<% end %>
