<div class="user-post" id="discussion-post-<%= post.id %>">
  <div class="user">
    <div class="avatar">
      <% if post.deleted? %>
        <%= image_tag 'fallbacks/user_avatar.png', class: 'attachment user avatar img-round' %>
      <% else %>
        <%= link_to post.user, rel: 'nofollow' do %>
        <%= avatar_image_with_tooltip post.user, size: :thumb, class: 'img-round' %>
        <% end %>
      <% end %>
    </div>
    <div class="infos">
      <div class="name">
        <% if post.deleted? %>
          Gelöschtes Mitglied
        <% else %>
          <%= link_to post.user.full_name, post.user, rel: 'nofollow' %>
        <% end %>
      </div>
      <div class="date">
        <%= I18n.localize(post.created_at, format:'%a, %d. %B %Y, %H:%M') %>
      </div>
    </div>

    <div class="btn-control">
      <% if post.edit_permission?(current_user) %>
        <%= link_to 'javascript:', class: 'edit-post-link' do %>
          <%= icon_tag "pencil" %>
        <% end %>
      <% end %>

      <% if post.delete_permission?(current_user) %>
        <%= link_to [@group, post], method: :delete, remote: true, data: { confirm: 'Beitrag wirklich löschen?', disable_with: 'wird gelöscht...'}, class: 'delete' do %>
          <%= icon_tag "trash-delete-remove" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="content">

    <% if post.deleted? %>
      <div class="bbcode">Beitrag gelöscht..</div>
    <% else %>
      <div class="bbcode"><%= post.content.bbcode_to_html.html_safe %></div>

      <% if post.images.present? %>
        <div class="entryImgUploads">
          <% post.images.each do |image| %>
            <%= link_to gallery_thumb_image(image), image.file_url, data: { jbox_image: "gallery-post-#{post.id}" } %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <div class="post-comments">
      <%= link_to 'Ältere Kommentare zeigen', 'javascript:', class: 'show-all-comments-link' if post.comments.size > 3 %>
      <% post.comments.sort_by(&:created_at).each do |comment| %>
        <div class="comment-container" >
          <%= render 'groups/discussion_posts/comment', comment: comment %>
        </div>
      <% end %>
    </div>

    <% if @group.commentable_by?(current_user) %>
      <%= render 'groups/discussion_posts/comment_form', discussion_post: post %>
    <% end %>
  </div>

  <% if post.edit_permission?(current_user) %>
    <%= render 'groups/discussion_posts/edit_form', post: post %>
  <% end %>

</div>
