<div class="sticky-btns">

  <% if !user_signed_in? %>

    <%= link_to new_user_session_path(redirect: request.original_url, origin: request.path), class: 'btn-avatar' do %>
      <span><%= image_tag 'fallbacks/user_avatar.png', class: 'img-round' %> Am Treffen teilnehmen</span>
    <% end %>

  <% elsif current_user == meeting.user %>

    <%= link_to 'javascript:', class: 'btn-avatar', id: 'meetingSettings' do %>
      <span>
        <%= avatar_image current_user, size: :thumb, class: 'img-round avatar' %>
        Treffen Optionen <%= icon_tag "arrow-down-2" %>
      </span>
    <% end %>
    <div class="jBoxHidden jBoxDropdown" id="jBoxMeetingSettings">
      <%= link_to edit_meeting_path(meeting), method: :get do %>
        <%= icon_tag "pencil" %>
        <div class="icontxt">Treffen bearbeiten</div>
      <% end %>
      <%= link_to compose_mail_meeting_path(meeting), method: :get do %>
        <%= icon_tag "at-symbol" %>
        <div class="icontxt">E-Mail an Mitglieder</div>
      <% end %>
    </div>

  <% elsif meeting.attending?(current_user) %>

    <%= link_to [:unattend, meeting], method: :post, class: 'btn-avatar' do %>
      <span>
        <%= avatar_image current_user, size: :thumb, class: 'img-round avatar' %>
        Nicht mehr teilnehmen
      </span>
    <% end %>

  <% else %>

    <%= link_to 'javascript:', class: 'btn-avatar', id: 'attendMeeting' do %>
      <span>
        <%= avatar_image current_user, size: :thumb, class: 'img-round avatar' %>
        Am Treffen teilnehmen
      </span>
    <% end %>

  <% end %>

  <%= toggle_favorite_icon(meeting, class: 'btn-secondary -mint') if current_user %>
</div>

<%= render 'meetings/attend_meeting', meeting: meeting %>
