<% if !user_signed_in? %>
  <div class="btn-going-to">
    <%= link_to new_user_session_path(redirect: request.original_url, origin: request.path), class: 'btn-userCallToAction' do %>
      <span><%= image_tag 'fallbacks/user_avatar.png', class: 'img-round' %> Am Treffen teilnehmen</span>
    <% end %>
  </div>
<% elsif current_user == meeting.user %>

  <div class="btn-going-to">
    <%= link_to 'javascript:', class: 'btn-userCallToAction', id: 'meetingSettings' do %>
      <span>
        <%= avatar_image current_user, size: :thumb, class: 'img-round avatar' %>
        Treffen Optionen <%= icon_tag "arrow-down-2" %>
      </span>
    <% end %>
  </div>
  <div class="jBoxHidden jBoxDropdown" id="jBoxMeetingSettings">
    <%= link_to edit_meeting_path(meeting), method: :get do %>
      <%= icon_tag "pencil" %>
      <div class="icontxt">Treffen bearbeiten</div>
    <% end %>
    <%= link_to compose_mail_meeting_path(meeting), method: :get do %>
      <%= icon_tag "at-symbol" %>
      <div class="icontxt">E-Mail an Mitglieder</div>
    <% end %>
  </div>

<% elsif meeting.attending?(current_user) %>
  <div class="btn-going-to">
    <%= button_to [:unattend, meeting], method: :post, class: 'btn-userCallToAction meeting-unattend-btn' do %>
      <span>
        <%= avatar_image current_user, size: :thumb, class: 'img-round avatar' %>
        Nicht mehr teilnehmen
      </span>
    <% end %>
  </div>
<% else %>
  <div class="btn-going-to">
    <% if @meeting.meeting_additional_dates.present? %>
    <%= button_to 'javascript:', class: 'btn-userCallToAction', id: 'attendMeeting' do %>
      <span>
        <%= avatar_image current_user, size: :thumb, class: 'img-round avatar' %>
        Am Treffen teilnehmen
      </span>
    <% end %>
    <% else %>
      <%= form_tag attend_meeting_path, method: :post do %>
        <%= button_to 'javascript:', class: 'btn-userCallToAction meeting-attend-btn' do %>
          <span>
            <%= avatar_image current_user, size: :thumb, class: 'img-round avatar' %>
            Am Treffen teilnehmen
          </span>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render 'meetings/attend_meeting', meeting: meeting %>
