<div class="mapImgBlock">
  <div id="graetzlMapWidget" data-mapdata="<%= MapData.new.for_district(@district).to_json %>"></div>
  <div class="activeArea"></div>
  <div class="navBlock">
    <h1><%= @district.name %></h1>
    <div class="links">
      <a class="toOverview" href="/wien">
        <%= icon_tag "arrow-left-2" %> Wien
      </a>
      <% District.memoized(@district.id).graetzls.each do |graetzl| %>
        <%= link_to graetzl.name, graetzl %>
      <% end %>
    </div>
    <select class="mobileSelectMenu">
      <option disabled>Grätzl wählen</option>
    </select>
  </div>
</div>

<% unless @district.curators.empty? %>
  <div class="graetzl-ambassador">
    Grätzlbotschafter <%= icon_tag "love" %> <%= @district.curators.collect{ |c| link_to(c.name, c.website, target: '_blank') }.to_sentence.html_safe %>
  </div>
<% end %>
