<% cache ["district_map_block", @district.id, Graetzl.maximum(:updated_at).to_i], expires_in: 1.week do %>
<% graetzls = District.memoized(@district.id).graetzls %>
<div class="mapImgBlock">
  <%= area_map(graetzls, 'APP.components.areaMap.init($("#area-map"), { interactive: true });') %>

  <div class="navBlock">
    <h1><%= @district.name %></h1>
    <div class="links">
      <%= link_to region_index_path, class: 'toOverview' do %>
        <%= icon_tag "arrow-left-2" %> <%= current_region.name %>
      <% end %>
      <% graetzls.each do |graetzl| %>
        <%= link_to graetzl.name, graetzl, data:{id: graetzl.id} %>
      <% end %>
    </div>
    <select class="mobileSelectMenu">
      <option disabled>Grätzl wählen</option>
    </select>
  </div>
</div>
<% end %>