<div class="mapImgBlock">
  <div id="graetzlMapWidget" data-mapdata="<%= MapData.new.for_district(@district).to_json %>"></div>
  <div class="activeArea"></div>
  <div class="navBlock">
    <h1><%= @district.name %></h1>
    <div class="links">
      <%= link_to region_path, class: 'toOverview' do %>
        <%= icon_tag "arrow-left-2" %> <%= current_region.name %>
      <% end %>
      <% District.memoized(@district.id).graetzls.each do |graetzl| %>
        <%= link_to graetzl.name, graetzl %>
      <% end %>
    </div>
    <select class="mobileSelectMenu">
      <option disabled>Grätzl wählen</option>
    </select>
  </div>
</div>
