<% meta(
    title: t('.title', numeric: @district.numeric, zip: @district.zip, region: current_region.name),
    description: t('.description', numeric: @district.numeric, name: @district.name, region: current_region.name),
    robots: 'index, follow',
    og_title: t('.title', numeric: @district.numeric, zip: @district.zip, region: current_region.name),
    og_description: t('.description', numeric: @district.numeric, name: @district.name, region: current_region.name),
    og_image: image_url("meta/#{current_region.host_id}/og_logo.png")
  )
%>
<% content_for :canonical_url, region_coop_demands_url(category: @category) if @category %>

<section class="districts coop-demands">
  <%= render 'map' %>
  <%= render 'navigation' %>

  <div class="hl-subtext -cards">
    <h1><span>Coop & Share</span> Marplatz</h1>
  </div>

  <%= render 'filters/coop_demand_categories' %>

  <%= form_tag coop_demands_path, method: :get, remote: true, class: 'cards-filter' do %>
    <%= hidden_field_tag :category_id, @category.try(:id) %>
    <div class="filter-selection-text-jbox">
      Zeige mir Coop & Share Angebote aus <%= link_to 'allen Kategorien', 'javascript:', data: { no_filter_label: 'allen Kategorien'}, class: 'plain-link category-slider-label' %>,
      in <%= link_to @district.zip_name, '#filter-modal-areas', data: { no_filter_label: "ganz #{current_region.name}"}, class: 'filter-modal-areas filter-applied' %>
    </div>
    <div id="filter-modal-areas" class="filter-modal-jbox-areas">
      <%= render 'filters/areas', district: @district %>
    </div>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="coopdemands-card-container"></div>
    <div class="action-card-container" data-behavior="coop-demands-action-card-container">
      <%= render 'coop_demands/action_card', create_link: true %>
    </div>
    <!-- Insert Featured Card -->
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'coopdemands-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
