<% meta(
    title: t('.title', numeric: @district.numeric, region: current_region.name),
    description: t('.description', numeric: @district.numeric, name: @district.name, region: current_region.name),
    robots: 'index, follow',
    og_title: t('.title', numeric: @district.numeric, region: current_region.name),
    og_description: t('.description', numeric: @district.numeric, name: @district.name, region: current_region.name),
    og_image: image_url("meta/#{current_region.host_id}/og_logo.png")
  )
%>

<section class="districts">
  <%= render 'map' %>
  <%= render 'navigation' %>

  <div class="hl-subtext -cards">
    <h1><span>Gruppen</span> - Austausch & Vernetzung</h1>
  </div>

  <%= form_tag groups_path, method: :get, remote: true, class: 'cards-filter' do %>
    <div class="filter-selection-text-jbox">
      Zeige mir Gruppen aus <%= link_to 'allen Kategorien', '#filter-modal-category', data: { no_filter_label: 'allen Kategorien'}, class: 'filter-modal-category' %>,
      in <%= link_to @district.zip_name, '#filter-modal-areas', data: { no_filter_label: "ganz #{current_region.name}"}, class: 'filter-modal-areas filter-applied' %>
    </div>
    <div id="filter-modal-category" class="filter-modal-jbox">
      <%= render 'filters/group_categories' %>
    </div>
    <div id="filter-modal-areas" class="filter-modal-jbox-areas">
      <%= render 'filters/areas', district: @district %>
    </div>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="groups-card-container"></div>
    <div class="action-card-container" data-behavior="groups-action-card-container">
      <%= render 'groups/action_card', district: @district, create_link: true %>
    </div>
    <!-- Insert Featured Card -->
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'groups-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
