<% meta(
    title: t('.title', numeric: @district.numeric),
    description: t('.description', numeric: @district.numeric, name: @district.name),
    robots: 'index, follow',
    og_title: t('.title', numeric: @district.numeric),
    og_description: t('.description', numeric: @district.numeric, name: @district.name),
    og_image: image_url('meta/og_logo.png')
  )
%>

<section class="districts -groups">
  <%= cache [@district, 'locationsmap'], expires_in: 2.months do %>
    <%= render 'districts/map', map_data: @map_data %>
  <% end %>

  <%= render 'menu' %>

  <% if @featured_groups.present? %>
    <div class="lightSliderWrapper card-slider-container">
      <div class="text">
        Empfohlene & beliebte Gruppen
      </div>
      <div class="cardBoxCollection" id="lightSlider">
        <%= render @featured_groups %>
      </div>
    </div>
  <% end %>

  <div class="hl-subtext -groups">
    <h1>Stöbern in <span>allen Gruppen</span></h1>
    <p>Nach Gruppe suchen oder in Kategorien stöbern</p>
  </div>

  <div class="card-grid-container">
    <%= form_tag groups_path, method: :get, remote: true, class: 'cards-filter' do %>
      <%= hidden_field_tag :group_category_id %>
      <div class="input-field search-filter">
        <div class="input-field">
          <%= text_field_tag :query, nil, placeholder: 'Suche..', class: 'search-suggestion-trigger' %>
        </div>
        <div class="input-select label-select">
          <%= select_tag :district_ids, options_from_collection_for_select(District.order(:zip), :id, :zip_name, @district.id), id: 'graetzl-suggestion', multiple: true %>
        </div>
      </div>
    <% end %>

    <div class="cardBox search-suggestion">
      <div class="wrapper">
        <% ([:all] + GroupCategory.all).in_groups_of(3, false).each do |categories| %>
          <div class="col">
            <% categories.each do |category| %>
              <% if category == :all %>
                <%= link_to "Alle Gruppen", 'javascript:', class: 'active' %>
              <% else %>
                <%= link_to category.title, 'javascript:', data: { category_id: category.id } %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div id="graetzl-suggestion" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-left dropdown-container">
      <div class="jq-dropdown-panel">
        Bezirk auswählen ...
      </div>
    </div>

    <div class="card-grid" data-behavior="groups-card-container"></div>
    <div class="action-card-container" data-behavior="groups-action-card-container">
      <%= render 'groups/action_card', graetzl: @graetzl %>
    </div>

    <!-- Insert Featured Card -->

    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'groups-paginate-link' }, rel: 'nofollow' %>
  </div>
</section>
