<% meta(
    title: t('.title', numeric: @district.numeric, region: current_region.name),
    description: t('.description', numeric: @district.numeric, name: @district.name, region: current_region.name),
    robots: 'index, follow',
    og_title: t('.title', numeric: @district.numeric, region: current_region.name),
    og_description: t('.description', numeric: @district.numeric, name: @district.name, region: current_region.name),
    og_image: image_url('meta/og_logo.png')
  )
%>

<section class="districts">
  <%= render 'map' %>
  <%= render 'navigation' %>

  <% if @featured_groups.present? && @category.nil? %>
    <div class="hl-subtext -cards">
      <h1><span>Gruppen</span> - Austausch & Vernetzung</h1>
      <p>Empfohlene & beliebte Gruppen im <%= @district.numeric %>. Bezirk</p>
    </div>
    <div class="lightSliderWrapper card-slider-container">
      <div class="cardBoxCollection" id="card-slider">
        <%= render @featured_groups %>
      </div>
    </div>
  <% end %>

  <div class="hl-subtext -cards">
    <h1>Stöbern in <span class="category_title">allen</span> Gruppen</h1>
    <p>Nach Gruppe suchen oder in Kategorien stöbern</p>
  </div>

  <%= form_tag groups_path, method: :get, remote: true, class: 'cards-filter' do %>
    <%= hidden_field_tag :group_category_id, @category.try(:id) %>
    <div class="input-field search-filter">
      <div class="input-field">
        <%= text_field_tag :query, @category ? @category.title : nil, placeholder: 'Suche..', class: 'search-suggestion-trigger' %>
      </div>
      <div class="input-select label-select">
        <%= select_tag :district_ids, options_for_select(district_select_options, @district.id), id: 'graetzl-suggestion', multiple: true %>
      </div>
    </div>
  <% end %>
  <%= render 'filters/group_categories', selected_category: @category %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="groups-card-container"></div>
    <div class="action-card-container" data-behavior="groups-action-card-container">
      <%= render 'groups/action_card', district: @district, create_link: true %>
    </div>
    <!-- Insert Featured Card -->
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'groups-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
