<% meta(
    title: t('.title', numeric: @district.numeric),
    description: t('.description', numeric: @district.numeric, name: @district.name),
    robots: 'index, follow',
    og_title: t('.title', numeric: @district.numeric),
    og_description: t('.description', numeric: @district.numeric, name: @district.name),
    og_image: image_url('meta/og_logo.png')
  )
%>

<section class="districts">
  <%= cache [@district, 'locationsmap'], expires_in: 2.months do %>
    <%= render 'districts/map', map_data: @map_data %>
  <% end %>
  <h1 class="hl-main">Anbieter, local Makers, Lokale &amp; Geschäfte <span>im <%= @district.numeric %>. Bezirk</span></h1>

  <%= form_tag locations_path(district_id: @district.id), method: :get, remote: true, class: 'autosubmit-filter' %>
  <div class="cardBoxCollection -tripple js-moveActionCard3rd" data-behavior="stream-container">
    <%= render 'locations/action_card', district: @district %>
  </div>
  <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load -big', data: { disable_with: 'lädt...', behavior: 'paginate-link' } %>
</section>
