<% if @category %>
  <% meta(
      title: t('.title_category', numeric: @district.numeric, zip: @district.zip, category: @category.name, region: current_region.name),
      description: t('.description_category', numeric: @district.numeric, name: @district.name, category: @category.name, region: current_region.name),
    )
  %>
<% else %>
  <% meta(
      title: t('.title', numeric: @district.numeric, zip: @district.zip, region: current_region.name),
      description: t('.description', numeric: @district.numeric, name: @district.name, region: current_region.name),
    )
  %>
<% end %>
<% meta(
    robots: 'index, follow',
    og_title: t('.title', numeric: @district.numeric, zip: @district.zip, region: current_region.name),
    og_description: t('.description', numeric: @district.numeric, name: @district.name, region: current_region.name),
    og_image: image_url('meta/og_logo.png')
  )
%>

<section class="districts rooms">
  <%= render 'map' %>
  <%= render 'navigation' %>

  <h1 class="hl-main -cards">
    <%= @category ? @category.name : 'Entdecke' %> <span>Raumteiler</span> im <%= @district.numeric %>. Bezirk
  </h1>

  <%= render 'filters/room_categories' %>

  <%= form_tag rooms_path, method: :get, remote: true, class: 'cards-filter' do %>
    <%= hidden_field_tag :category_id, @category.try(:id) %>
    <%= hidden_field_tag :special_category_id, @special_category %>
    <div class="filter-selection-text-jbox">
      Zeig mir <%= link_to 'alle Raumteiler', '#filter-modal-type', data: { no_filter_label: 'alle Raumteiler', jbox_title: 'Filtern nach ...'} %>,
      aus <%= link_to 'allen Kategorien', 'javascript:', data: { no_filter_label: 'allen Kategorien'}, class: 'plain-link category-slider-label' %>,
      in <%= link_to @district.zip_name, '#filter-modal-district', data: { no_filter_label: "ganz #{current_region.name}"}, class: 'filter-modal-district filter-applied' %>
    </div>
    <div id="filter-modal-type" class="filter-modal-jbox">
      <%= render 'filters/room_type' %>
    </div>
    <div id="filter-modal-district" class="filter-modal-jbox-district">
      <%= render 'filters/areas', district: @district %>
    </div>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="rooms-card-container"></div>
    <div class="action-card-container" data-behavior="rooms-action-card-container">
      <%= render 'rooms/action_card', district: @district %>
    </div>

    <!-- Insert Featured Card here -->
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'rooms-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
