<%
  meta({
    title: t('.title', numeric: @district.numeric, name: @district.name),
    description: t('.description', num: @district.graetzls.size, name: @district.name, numeric: @district.numeric),
    robots: 'index, follow',
    og_title: t('.title', numeric: @district.numeric, name: @district.name),
    og_description: t('.description', num: @district.graetzls.size, name: @district.name, numeric: @district.numeric),
    og_image: image_url('meta/og_logo.png')
  })
%>

<section class="districts">
  <%= render 'map', map_data: @map_data %>
  <div class="block-meetings">
    <div class="hl-subtext">
      <h1>Mach mit - <span>Treffen & Events</span> im <%= @district.numeric %>. Bezirk</h1>
      <p>Lerne dabei nette Menschen aus dem Bezirk <%= @district.name %> kennen</p>
    </div>
    <div class="cardBoxCollection -tripple">
      <%= render partial: 'meetings/meeting', collection: @meetings %>
      <%= render 'districts/meetings/action_card', district: @district, more: true %>
    </div>
  </div>

  <div class="block-locations">
    <div class="hl-subtext">
      <h1>Entdecke <span>Anbieter & Treffpunkte</span> <%= @district.numeric %>. Bezirk</h1>
      <p>Finde grätzlansässige Kreative, gute Treffpunkte, Lokale & Geschäfte</p>
    </div>
    <div class="cardBoxCollection -tripple">
      <%= render partial: 'locations/location', collection: @locations %>
      <%= render 'districts/locations/action_card', district: @district, more: true %>
    </div>
  </div>
</section>
