<% title "Grätzln im #{@district.numeric}. Bezirk (#{@district.name}) in Wien" %>
<% meta_tag :description, "Es gibt #{@district.graetzls.size} Grätzl in Wien #{@district.name}! In welchem bist du zuhause oder öfters anzutreffen? Entdecke die Vielfalt der Grätzln im #{@district.numeric}. Bezirk, es gibt spannendes zu entdecken" %>
<% meta_tag :robots, 'index, follow' %>

<section class="districts" data-mapdata="<%= @map_data %>">

  <div class="mapImgBlock">
    <div id="graetzlMapWidget"></div>
    <div class="activeArea"></div>
    <div class="navBlock">
      <h1><%= @district.name %></h1>
      <div class="links">
        <a class="toVienna" href="/wien"><svg class="icon-arrow-left-2"><use xlink:href="#icon-arrow-left-2"></use></svg> Wien Übersicht</a>
        <% @district.graetzls.each do |graetzl| %>
            <%= link_to graetzl.name, graetzl %>
        <% end %>
      </div>
      <select class="mobileSelectMenu">
        <option disabled>Grätzl wählen</option>
      </select>
    </div>
  </div>

  <% if !@meetings.empty? %>
    <div class="teaserBlock">
      <h2>Aktuelle Treffen in <%= @district.zip %> <%= @district.name %></h2>
      <div class="cardBoxCollection -tripple">
        <%= render @meetings %>
      </div>
    </div>
  <% end %>
</section>
