<h1><%= @district.name %> | <%= @district.zip %></h1>

<%= content_tag(:h2, "Treffen in #{@district.name} (4 per default)") unless @meetings.empty? %>
<% @meetings.each do |meeting| %>
  <%= link_to meeting.name, [meeting.graetzls.first, meeting] %><br>
<% end %>

<h2>Grätzl:</h2>
<% @district.graetzls.each do |graetzl| %>
  <%= link_to graetzl.short_name, graetzl %><br>
<% end %>