<% meta(
    title: t('.title', numeric: @district.numeric, zip: @district.zip, region: current_region.name),
    description: t('.description', numeric: @district.numeric, name: @district.name, region: current_region.name),
    og_title: t('.title', numeric: @district.numeric, zip: @district.zip, region: current_region.name),
    og_description: t('.description', numeric: @district.numeric, name: @district.name, region: current_region.name),
    og_image: image_url('meta/toolteiler.jpg'),
    robots: 'index, follow'
  )
%>
<% content_for :canonical_url, region_tools_url(category: @category) if @category %>


<section class="districts toolteiler">
  <%= render 'map' %>
  <%= render 'navigation' %>

  <h1 class="hl-main -cards">
    <%= @category ? @category.name : 'Entdecke' %> <span>Geräteteiler</span> im <%= @district.numeric %>. Bezirk
  </h1>

  <%= render 'filters/tool_categories' %>

  <%= form_tag tools_path, method: :get, remote: true, class: 'cards-filter' do %>
    <%= hidden_field_tag :category_id, @category.try(:id) %>
    <div class="filter-selection-text-jbox">
      Zeige mir Geräteteiler aus <%= link_to 'allen Kategorien', 'javascript:', data: { no_filter_label: 'allen Kategorien'}, class: 'plain-link category-slider-label' %>,
      in <%= link_to @district.zip_name, '#filter-modal-areas', data: { no_filter_label: "ganz #{current_region.name}"}, class: 'filter-modal-areas filter-applied' %>
    </div>
    <div id="filter-modal-areas" class="filter-modal-jbox-areas">
      <%= render 'filters/areas', district: @district %>
    </div>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="tools-card-container"></div>
    <div class="action-card-container" data-behavior="tools-action-card-container">
      <%= render 'tools/action_card', district: @district %>
    </div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'tools-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
