<% meta(
    title: t('.title', numeric: @district.numeric, region: current_region.name),
    description: t('.description', numeric: @district.numeric, name: @district.name, region: current_region.name),
    robots: 'index, follow',
    og_title: t('.title', numeric: @district.numeric, region: current_region.name),
    og_description: t('.description', numeric: @district.numeric, name: @district.name, region: current_region.name),
    og_image: image_url("meta/#{current_region.id}/og_logo.png")
  )
%>

<section class="districts">
  <%= render 'map' %>
  <%= render 'navigation' %>

  <h1 class="hl-main -cards">
    Jeden Monat neu - Zuckerl &amp; Angebote <span>im <%= @district.numeric %>. Bezirk</span>
  </h1>

  <%= form_tag zuckerls_path(district_id: @district.id), method: :get, remote: true, class: 'cards-filter' do; end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="zuckerls-card-container"></div>
    <div class="action-card-container" data-behavior="zuckerls-action-card-container">
      <%= render 'zuckerls/action_card', district: @district %>
    </div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'zuckerls-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
