<% disabled = @poll.find_poll_user(current_user) ? true : false %>

<%= form_for [@poll, poll_user], html: { class: 'poll-form' } do |f| %>
<%= form_errors_for f.object %>
<% f.object.poll_user_answers.build if f.object.poll_user_answers.empty? %>

  <% @poll.poll_questions.each do |question| %>

      <div class="cardBox pollquestion">

        <h3 data-required="<%= question.required? ? true : '' %>">
          <%= question.title %>
           <%= icon_tag "pie-chart" %>
        </h3>

          <% if question.single? %>

            <%= f.fields_for :poll_user_answers do |o| %>
            <%= o.hidden_field :poll_question_id, value: question.id %>
              <% question.poll_options.each do |option| %>
                <div class="input-radio <%= disabled ? 'disabled' : '' %>">
                  <%= o.radio_button :poll_option_id, option.id, { disabled:  disabled ? true : false } %>
                  <%= o.label :poll_option_id, option.title, value: option.id %>
                </div>
              <% end %>
            <% end %>

          <% elsif question.multiple? %>

            <% question.poll_options.each do |option| %>
              <%= f.fields_for :poll_user_answers do |o| %>
              <%= o.hidden_field :poll_question_id, value: question.id %>
                <div class="input-checkbox <%= disabled ? 'disabled' : '' %>">
                  <%= o.check_box :poll_option_id, { disabled:  disabled ? true : false }, option.id, nil %>
                  <%= o.label :poll_option_id, option.title %>
               </div>
              <% end %>
            <% end %>

          <% else %>
            <%= f.fields_for :poll_user_answers do |o| %>
            <%= o.hidden_field :poll_question_id, value: question.id %>
              <div class="input-textarea <%= disabled ? 'disabled' : '' %>">
                <%= o.text_area :answer, placeholder: 'Deine Antwort ...', disabled:  disabled ? true : false %>
              </div>
            <% end %>
          <% end %>
        
      </div>
    
      
  <% end %>

  <div class="input-button">
    <% if @poll.find_poll_user(current_user) %>
      <%= link_to 'Du hast bereits teilgenommen - Aktuelle Teilnahme wieder löschen', [:unattend, @poll], method: :post, data: { confirm: 'Bist du dir sicher?' }, class: 'btn-secondary -delete' %>
    <% else %>
      <%= f.button 'Teilnahme absenden', data: { disable_with: 'sendet...' }, class: 'btn-primary' %>
    <% end %>
  </div>

<% end %>