<% content_for(:above_title, "Hey #{@tool_rental.owner.first_name}") %>
<% content_for(:title, "Erinnerung: Du hast eine neue Geräteteiler Anfrage") %>

<!-- --------------- BLOCK HEADLINE --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
   <tr>
     <td style="height:30px"> </td>
   </tr>
   <tr>
     <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
       <h4 style="text-align:left; color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic;">
         Geräteteiler: <%= link_to @tool_rental.tool_offer.title.truncate(45), tool_offer_url(@tool_rental.tool_offer), style: "color:#ec776a;" %>
       </h4>
     </td>
   </tr>
   <tr>
     <td style="padding-left:9px; padding-right:9px;">
       <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td>
             <span></span>
           </td>
         </tr>
       </table>
     </td>
   </tr>
 </table>

 <!-- --------------- ITEM NEW REQUEST --------------- -->
 <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-left:18px; padding-right:18px; vertical-align:top; padding-top:20px;">
        <%= avatar_image @tool_rental.renter, size: :thumb, style: "width:60px; height:60px; border-radius: 30px; max-width:60px; min-width:60px;", class: "mcnImage" %>
      </td>
      <td class="mcnTextContent" style="padding-right:18px; width:100%;">
        <p>
          <em><strong><%= @tool_rental.renter.full_name %> möchte deinen Geräteteiler ausleihen:</strong></em><br>
          <strong>Dauer:</strong> <%= @tool_rental.days %> Tage<br>
          <strong>Von:</strong> <%= l(@tool_rental.rent_from, format: :short) %> bis <%= l(@tool_rental.rent_to, format: :short) %>
        </p>
        <p>
          Wenn du deinen Geräteteiler an <%= @tool_rental.renter.first_name %> verleihst, verdienst du dadurch <strong><%= number_to_currency(@tool_rental.owner_payout_amount, unit: "€") %></strong> (nach Abzug der Servicegebühr).
        </p>
        <p>
          Klicke auf jetzt antworten um mit <%= @tool_rental.renter.first_name %> im Geräteteiler-Messenger in Kontakt zu treten und die Anfrage anzunehmen oder abzulehnen.
        </p>
      </td>
    </tr>

    <tr>
      <td colspan="2" style="padding-bottom:9px;"></td>
    </tr>

    <tr>
      <td colspan="2">
        <%= render 'mailers/shared/button', title: "Jetzt antworten", url: messenger_url(thread_id: @tool_rental.user_message_thread.id) %>
      </td>
    </tr>

  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:10px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td class="mcnTextContent" style="padding-left:18px; padding-right:18px;">
      <i>PS.: Du findest den Messenger auch eingeloggt auf <%= t("region.#{@tool_rental.region.id}.domain_full") %> rechts oben im Menü.</i>
    </td>
  </tr>
</table>
