<section class="submission-section -loggedin" id="call">

  <h2>Open Call - Deine Bewerbung</h2>

  <div class="info">
    <div class="left">
      <h3 class="subtitle">Wer kann sich bewerben?</h3>
      <p class="description"><%= @room_call.about_partner %></p>
    </div>
    <div class="right">
      <h3 class="subtitle">Call Kontakt</h3>
      <div class="cardBox contact-infos">
        <% if @room_call.first_name.present? || @room_call.last_name.present? %>
          <div class="icontxt">
            <% if @room_call.user %>
              <%= attachment_image_tag(@room_call, :avatar, :fill, 200, 200, class: 'room_offer avatar img-round', fallback: 'avatar/user/200x200.png') %>
            <% else %>
              <%= icon_tag "user-avatar" %>
            <% end %>
            <div class="txt"><%= "#{@room_call.first_name} #{@room_call.last_name}" %></div>
          </div>
        <% end %>

        <% if @room_call.email.present? %>
          <%= mail_to @room_call.email do %>
            <div class="icontxt">
              <%= icon_tag "at-symbol" %>
              <div class="txt"><%= @room_call.email %></div>
            </div>
          <% end %>
        <% end %>

        <% if @room_call.website.present? %>
          <%= link_to @room_call.website, class: 'icontxt', target: '_blank' do %>
            <%= icon_tag "globe" %>
            <%= @room_call.website.sub(/^https?\:\/\//,'') %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>

  <% if @room_call.open? %>
  <div class="steps">

    <div class="step -active">
      <div class="bigicontext-element -large">
        <%= icon_tag "user-info-profile-details" %>
      </div>
      <h3>1. Call ausf체llen</h3>
      <p>Um dich beim Call zu bewerben, f체lle das Formular unterhalb vollst채ndig aus. Einreichfirst ist der <%= I18n.localize(@room_call.ends_at, format: '%d. %B') %></p>
    </div>

    <div class="line">
      <%= image_tag('svg/round-line-down.svg', class: '-down') %>
    </div>

    <div class="step">
      <div class="bigicontext-element -large">
        <%= icon_tag "speech-bubble" %>
      </div>
      <h3>2. Kennenlernen & Infos in der Raumteiler Gruppe</h3>
      <p>Wir schalten dich f체r die Raumteiler Gruppe frei, dort gibt es alle weiteren Infos.</p>
    </div>

  </div>

  <div class="submission_form">
    <%= form_tag add_submission_room_call_url(@room_call) do %>

    <% @room_call.room_call_fields.each do |field| %>
    <h3><%= field.label %></h3>
    <div class="input-field">
      <%= text_area_tag :"answers[#{field.id}]", nil, placeholder: 'Deine Antwort...' %>
    </div>
    <% end %>

    <h3>Deine Kontaktdaten:</h3>

    <div class="formBlock">

      <div class="formRow -double">

        <div class="input-field">
          <%= label_tag :first_name do %>
          <%= icon_tag "user-avatar" %> <span>Vorname</span>
          <% end %>
          <%= text_field_tag :first_name, current_user.first_name %>
        </div>

        <div class="input-field">
          <%= label_tag :last_name do %>
          <%= icon_tag "user-avatar" %> <span>Nachname</span>
          <% end %>
          <%= text_field_tag :last_name, current_user.last_name %>
        </div>

      </div>

      <div class="input-field">
        <%= label_tag :email do %>
        <%= icon_tag "at-symbol" %> <span>Email</span>
        <% end %>
        <%= email_field_tag :email, current_user.email %>
      </div>

      <div class="formRow -double">

        <div class="input-field">
          <%= label_tag :phone do %>
          <%= icon_tag "phone" %> <span>Telefonnummer</span>
          <% end %>
          <%= text_field_tag :phone, nil, placeholder: '0664 / ...' %>
        </div>

        <div class="input-field">
          <%= label_tag :website do %>
          <%= icon_tag "globe" %> <span>Website</span>
          <% end %>
          <%= url_field_tag :website, current_user.website, placeholder: 'http:// oder https://' %><em></em>
        </div>

      </div>

    </div>

    <%= submit_tag 'Call abschicken', data: { disable_with: 'speichert...' }, class: 'btn-primary' %>
    <% end %>
  </div>

  <% else %>

    <br>

    <div class="info-msg">
      <% if @room_call.starts_at.future? %>
        Noch ein wenig Geduld. Der Call startet am <%= I18n.localize(@room_call.starts_at, format: '%d. %B %Y') %>.
      <% elsif @room_call.ends_at.past? %>
        Die Bewerbungsfrist ist leider schon vorbei. (Lief bis <%= I18n.localize(@room_call.ends_at, format: '%d. %B %Y') %>).
      <% end %>
    </div>

  <% end %>
</section>
