<section class="info-section">

  <div class="description">

    <h3><%= @room_call.subtitle %></h3>
    <p><%= @room_call.description %></p>
    <h3>Die Idee dahinter:</h3>
    <p><%= @room_call.about_us %></p>

    <%= image_tag('svg/round-arrow-bottom.svg') %>

  </div>

  <div class="cardBox">

    <h3><%= @room_call.total_vacancies %> freie Plätze</h3>
    <strong>Bewerbungsfrist:</strong>
    <p><%= I18n.localize(@room_call.ends_at, format: '%d. %B %Y') %></p>
    <strong>Beziehbar ab:</strong>
    <p><%= I18n.localize(@room_call.opens_at, format: '%d. %B %Y') %></p>
    <strong>Raumteiler-Hub</strong>
    <p><%= @room_call.full_address %></p>

    <% if user_signed_in? && current_user == @room_call.user %>
    <p><%= link_to 'Call bearbeiten', edit_room_call_path(@room_call) %></p>
    <% end %>

    <%= link_to '#call', class: 'btn-userIcons' do %>
      <span><%= icon_tag "user-info-profile-details" %> Jetzt bewerben</span>
    <% end %>

  </div>

</section>
