<section class="submission-section -loggedout" id="call">

  <h2>Interesse? - Jetzt mitmachen:</h2>

  <div class="steps">

    <div class="step">
      <div class="bigicontext-element -large">
        <%= icon_tag "mouse" %>
      </div>
      <h3>1. Kostenlos registrieren</h3>
      <p>Hole dir zuerst deinen kostenlosen imGrätzl Account und kehre eingeloggt auf diese Seite zurück.</p>
    </div>

    <div class="line">
      <%= image_tag('svg/round-line-up.svg', class: '-up') %>
    </div>

    <div class="step">
      <div class="bigicontext-element -large">
        <%= icon_tag "user-info-profile-details" %>
      </div>
      <h3>2. Formular ausfüllen</h3>
      <p>Eingeloggt siehst du an dieser Stelle das Call Formular und du kannst dieses bis zum <%= I18n.localize(@room_call.ends_at, format: '%d. %B') %> unverbindlich ausfüllen.</p>
    </div>

    <div class="line">
      <%= image_tag('svg/round-line-down.svg', class: '-down') %>
    </div>

    <div class="step">
      <div class="bigicontext-element -large">
        <%= icon_tag "speech-bubble" %>
      </div>
      <h3>3. Kennenlernen & Infos in der Gruppe</h3>
      <p>Wir schalten dich für die Raumteiler Gruppe frei, dort gibt es alle weiteren Infos & Besichtigungstermine.</p>
    </div>

  </div>

  <div class="loginpanel">
    <%= link_to 'Kostenlos registrieren & weiter zum Call', new_registration_path(redirect: request.original_url, origin: @room_call.slug), class: 'btn-primary -rose -large -shadow' %>
  </div>


</section>
