<section class="prices-section">

  <h2>Dein Platz im Raumteiler-Hub</h2>

  <% @room_call.room_call_prices.includes(:room_modules).each do |room_price| %>

  <div class="paperCard -cord1RT">

    <div class="room-price-description wrp">

      <h3>
        <%= room_price.name %>
        <br>
        <span>Für die Module:</span>
        <span class="modules">
        <% room_price.room_modules.each do |room_module| %>
          <%= room_module.name %>,
        <% end %>
        </span>
      </h3>

      <p><%= room_price.description %></p>

    </div>

    <ul class="room-price-features wrp">
      <span class="info">Im Package enthalten:</span>
      <% room_price.feature_list.each do |feature| %>
      <li>
        <%= icon_tag 'check' %>
        <%= feature %>
      </li>
      <% end %>
    </ul>

    <div class="room-price-amount wrp">
      <span class="info">Unterm Strich alles zusammen:</span>
      <div class="monthly-amount">
        <%= room_price.amount.to_i %> €
        <span> / Monat</span>
      </div>
    </div>

    <div class="card"></div>

  </div>

  <% end %>
</section>
