<section class="submission-section -loggedin">
  <% if @room_call.open? %>
    <h2>Open Call - Deine Bewerbung</h2>

    <%= form_tag add_submission_room_call_url(@room_call) do %>

      <% @room_call.room_call_fields.each do |field| %>
        <h3><%= field.label %></h3>
        <div class="input-field">
          <%= text_area_tag :"answers[#{field.id}]", nil, placeholder: 'Deine Antwort...' %>
        </div>
      <% end %>

      <div class="input-field">
        <%= label_tag :first_name do %>
          <%= icon_tag "user-avatar" %> <span>Vorname</span>
        <% end %>
        <%= text_field_tag :first_name, current_user.first_name %>
      </div>

      <div class="input-field">
        <%= label_tag :last_name do %>
          <%= icon_tag "user-avatar" %> <span>Nachname</span>
        <% end %>
        <%= text_field_tag :last_name, current_user.last_name %>
      </div>

      <div class="input-field">
        <%= label_tag :email do %>
          <%= icon_tag "at-symbol" %> <span>Email</span>
        <% end %>
        <%= email_field_tag :email, current_user.email %>
      </div>

      <div class="input-field">
        <%= label_tag :phone do %>
          <%= icon_tag "phone" %> <span>Telefonnummer</span>
        <% end %>
        <%= text_field_tag :phone, nil, placeholder: '0664 / ...' %>
      </div>

      <div class="input-field">
        <%= label_tag :website do %>
          <%= icon_tag "globe" %> <span>Website</span>
        <% end %>
        <%= url_field_tag :website, current_user.website, placeholder: 'http:// oder https://' %><em></em>
      </div>

      <%= submit_tag 'Submit', data: { disable_with: 'speichert...' }, class: 'btn-primary' %>

    <% end %>
  <% end %>
</section>
