<section class="submissions-section">

  <h2>Call TeilnehmerInnen</h2>

  <% if @room_call.room_call_submissions.present? %>
    <div class="users">
    <% @room_call.room_call_submissions.includes(:user).each do |submission| %>
      <div class="user cardBox">
        <div class="avatar">
          <%= avatar_image submission.user, size: :thumb, class: 'img-round' %>
        </div>
        <div class="infos">
          <span><%= submission.first_name %> <br> <%= submission.last_name %></span>
          <p class="date">Abgesendet: <br> <%= I18n.localize(submission.created_at, format:'%d. %B %Y') %></p>
          <p class="date">
            <%= link_to submission_room_call_path(@room_call, submission_id: submission.id) do %>
            Call Einreichung
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
    </div>
  <% else %>
  <!-- if no submissions yet .. -->
  <% end %>

</section>
