<% yesterday  = Time.current.yesterday.beginning_of_day..Time.current.yesterday.end_of_day %>
<% this_month = Time.current.beginning_of_month..Time.current.end_of_month %>
<% this_year  = Time.current.beginning_of_year..Time.current.end_of_year %>
<% last_month = Time.current.last_month.beginning_of_month..Time.current.last_month.end_of_month %>
<% last_year  = Time.current.last_year.beginning_of_year..Time.current.last_year.end_of_year %>
<% tax = 1.2 %>

<%
  def calc_pledges(pledges, boost_pledges = CrowdBoostPledge.none)
    crowd_pledges_fee = pledges.sum do |pledge|
      (pledge.total_price / 100) * pledge.crowd_campaign.service_fee_percentage
    end

    crowd_boost_pledges_fee = boost_pledges.sum do |pledge|
      (pledge.amount / 100) * pledge.crowd_campaign.service_fee_percentage
    end

    stripe_fee = pledges.sum do |pledge|
      (pledge.total_price / 100) * pledge.crowd_campaign.stripe_fee_percentage
    end

    stripe_fee += boost_pledges.sum do |pledge|
      (pledge.amount / 100) * pledge.crowd_campaign.stripe_fee_percentage
    end

    crowd_pledges_fee_netto = (crowd_pledges_fee + crowd_boost_pledges_fee) / 1.2
    platform_fee_netto = crowd_pledges_fee_netto - stripe_fee
    platform_fee_netto
  end

  def calc_funding_sum(collection)
    funding_sum = 0
    collection.all.each do |campaign|
      funding_sum += campaign.funding_sum
    end
    return funding_sum
  end
%>

<% if local_assigns[:thead] %>
    <thead>
        <tr style="background-color: #96D4D4; font-size:0.8rem; text-align:right;">
            <th style="width: 40%; font-size:1.0rem; text-align:left; border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= title %></th>
            <th style="width: 10%; border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;">Gestern</th>
            <th style="width: 10%; border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= I18n.localize(Date.today, format:'%b') %></th>
            <th style="width: 10%; border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= I18n.localize(1.month.ago, format:'%b') %></th>
            <th style="width: 10%; border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= I18n.localize(Date.today, format:'%Y') %></th>
            <th style="width: 10%; border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= I18n.localize(1.year.ago, format:'%Y') %></th>
            <th style="width: 10%; border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;">All</th>
        </tr>
    </thead>
<% elsif local_assigns[:pledge] %>
    <tr style="font-size:0.8rem; font-weight:bold; text-align:right;">
        <td style="text-align:left; border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= title %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_currency(calc_pledges(collection.where(debited_at: yesterday), boost_collection&.where(debited_at: yesterday)), precision: 0 ,unit: "€") %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_currency(calc_pledges(collection.where(debited_at: this_month), boost_collection&.where(debited_at: this_month)), precision: 0 ,unit: "€") %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_currency(calc_pledges(collection.where(debited_at: last_month), boost_collection&.where(debited_at: last_month)), precision: 0 ,unit: "€") %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_currency(calc_pledges(collection.where(debited_at: this_year), boost_collection&.where(debited_at: this_year)), precision: 0 ,unit: "€") %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_currency(calc_pledges(collection.where(debited_at: last_year), boost_collection&.where(debited_at: last_year)), precision: 0 ,unit: "€") %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_currency(calc_pledges(collection, boost_collection), precision: 0 ,unit: "€") %></td>
    </tr>
<% elsif local_assigns[:funding_sum] %>
    <tr style="font-size:0.8rem; text-align:right;">
        <td style="text-align:left; border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= title %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_currency(calc_funding_sum(collection.where(enddate: this_year)), precision: 0 ,unit: "€") %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_currency(calc_funding_sum(collection.where(enddate: last_year)), precision: 0 ,unit: "€") %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap; font-weight:bold;"><%= number_to_currency(calc_funding_sum(collection), precision: 0 ,unit: "€") %></td>
    </tr>
<% elsif local_assigns[:amount] %>
    <tr style="font-size:0.8rem; font-weight:bold; text-align:right;">
        <td style="text-align:left; border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= title %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_currency(collection.where(created_at: yesterday).sum(local_assigns[:amount]) / tax, precision: 0 ,unit: "€") %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_currency(collection.where(created_at: this_month).sum(local_assigns[:amount]) / tax, precision: 0 ,unit: "€") %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_currency(collection.where(created_at: last_month).sum(local_assigns[:amount]) / tax, precision: 0 ,unit: "€") %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_currency(collection.where(created_at: this_year).sum(local_assigns[:amount]) / tax, precision: 0 ,unit: "€") %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_currency(collection.where(created_at: last_year).sum(local_assigns[:amount]) / tax, precision: 0 ,unit: "€") %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_currency(collection.sum(local_assigns[:amount]) / tax, precision: 0 ,unit: "€") %></td>
    </tr>
<% elsif local_assigns[:sum] %>
    <tr style="font-size:0.8rem; text-align:right;">
        <td style="text-align:left; border: 1px solid white; border-collapse: collapse; padding:2px 5px;" colspan="6"><%= title %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.all.size %></td>
    </tr>
<% elsif local_assigns[:startdate] %>
    <tr style="font-size:0.8rem; text-align:right;">
        <td style="text-align:left; border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= title %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.where(startdate: yesterday).size %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.where(startdate: this_month).size %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.where(startdate: last_month).size %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.where(startdate: this_year).size %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.where(startdate: last_year).size %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.all.size %></td>
    </tr>
<% elsif local_assigns[:enddate] %>
    <tr style="font-size:0.8rem; text-align:right;">
        <td style="text-align:left; border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= title %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.where(enddate: yesterday).size %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.where(enddate: this_month).size %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.where(enddate: last_month).size %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.where(enddate: this_year).size %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.where(enddate: last_year).size %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.all.size %></td>
    </tr>
<% else %>
    <tr style="font-size:0.8rem; text-align:right;">
        <td style="text-align:left; border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= title %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.where(created_at: yesterday).size %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.where(created_at: this_month).size %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.where(created_at: last_month).size %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.where(created_at: this_year).size %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.where(created_at: last_year).size %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= collection.all.size %></td>
    </tr>
<% end %>
