  <% content_for(:above_title, "Daily Mail") %>
  <% content_for(:title, "#{I18n.localize(Date.today, format:'%A, %d. %B %Y')}") %>



  <%= render 'mailers/notification_mailer/summary/block_header', title: 'Zusammenfassung' %>

  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_thead', title: "Registrierungen" %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Gesamt", collection: User %>
      <% Region.all.each do |region| %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: region, collection: User.in(region) %>
      <% end %>
    </tbody>
  </table>

  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_thead', title: "Fördermitgliedschaft" %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Fördermitgliedschaft", collection: Subscription.active %>
    </tbody>
  </table>

  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_thead', title: "Buchungen" %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Großes Zuckerl", collection: Zuckerl.initialized.entire_region %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Kleines Zuckerl", collection: Zuckerl.initialized.graetzl %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Zuckerl Einnahmen", collection: Zuckerl.marked_as_paid, amount: true %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Raumteiler Booster", collection: RoomBooster.initialized %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Booster Einnahmen", collection: RoomBooster.initialized, amount: true %>
    </tbody>
  </table>



  <%= render 'mailers/notification_mailer/summary/block_header', title: 'Erstellte Inhalte' %>

  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_thead', title: "Schaufenster" %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Schaufenster", collection: Location %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Schaufenster Update", collection: LocationPost %> 
    </tbody>
  </table>

  
  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_thead', title: "Treffen" %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Treffen | Upcoming", collection: Meeting.upcoming, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Treffen", collection: Meeting %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Treffen Teilnahme", collection: GoingTo.attendee %>
    </tbody>
  </table>


  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_thead', title: "Coop & Share" %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Coop & Share | Active", collection: CoopDemand.enabled, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Coop & Share", collection: CoopDemand %>
    </tbody>
  </table>

  
  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_thead', title: "Raumteiler" %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Habe Raum | Active", collection: RoomOffer.enabled, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Habe Raum", collection: RoomOffer %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Suche Raum | Active", collection: RoomDemand.enabled, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Suche Raum", collection: RoomDemand %>
    </tbody>
  </table>

  
  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_thead', title: "Geräteteiler" %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Habe Gerät | Active", collection: ToolOffer.enabled, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Suche Gerät", collection: ToolOffer %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Suche Gerät | Active", collection: ToolDemand.enabled, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Suche Gerät", collection: ToolDemand %>
    </tbody>
  </table>

  
  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_thead', title: "Crowdfunding" %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Kampagnen | Visible", collection: CrowdCampaign.scope_public, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Kampagnen", collection: CrowdCampaign %>
      <%= render 'mailers/admin_mailer/daily_mail_trow', title: "Unterstützungen", collection: CrowdPledge.initialized %> 
    </tbody>
  </table>