  <% content_for(:above_title, "imGrätzl Daily Mail") %>
  <% content_for(:title, "#{I18n.localize(Date.yesterday, format:'%A, %d. %B %Y')}") %>


  <%= render 'mailers/notification_mailer/summary/block_header', title: 'Zusammenfassung' %>

  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Registrierungen", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Gesamt", collection: User %>
      <% Region.all.each do |region| %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: region, collection: User.in(region) %>
      <% end %>
    </tbody>
  </table>

  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Fördermitgliedschaft", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Aktive Mitgliedschaften", collection: Subscription.active, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Bezahlte Rechnungen", collection: SubscriptionInvoice.paid %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Mitgliedschaft Einnahmen", collection: SubscriptionInvoice.all, amount: :amount %>
    </tbody>
  </table>

  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Buchungen", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Großes Zuckerl", collection: Zuckerl.where(payment_status: [:processing, :debited]).entire_region %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Kleines Zuckerl", collection: Zuckerl.where(payment_status: [:processing, :debited]).graetzl %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Zuckerl Einnahmen", collection: Zuckerl.where(payment_status: [:processing, :debited]), amount: :amount %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Raumteiler Booster", collection: RoomBooster.where(payment_status: [:authorized, :processing, :debited]) %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Booster Einnahmen", collection: RoomBooster.where(payment_status: [:authorized, :processing, :debited]), amount: :amount %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Raumteiler Buchung", collection: RoomRental.where(payment_status: [:authorized, :processing, :debited]) %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Buchungs Provision", collection: RoomRental.where(payment_status: [:processing, :debited]), amount: :service_fee %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Crowdfunding Provision", collection: CrowdPledge.debited, pledge: true %>
    </tbody>
  </table>



  <%= render 'mailers/notification_mailer/summary/block_header', title: 'Erstellte Inhalte' %>

  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Schaufenster", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Schaufenster", collection: Location %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Schaufenster Update", collection: LocationPost %> 
    </tbody>
  </table>

  
  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Treffen", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Treffen | Upcoming", collection: Meeting.upcoming, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Treffen", collection: Meeting %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Treffen Teilnahme", collection: GoingTo.attendee %>
    </tbody>
  </table>


  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Coop & Share", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Coop & Share | Active", collection: CoopDemand.enabled, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Coop & Share", collection: CoopDemand %>
    </tbody>
  </table>

  
  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Raumteiler", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Habe Raum | Active", collection: RoomOffer.enabled, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Habe Raum", collection: RoomOffer %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Suche Raum | Active", collection: RoomDemand.enabled, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Suche Raum", collection: RoomDemand %>
    </tbody>
  </table>


  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Messenger", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Messenger Nachrichten", collection: UserMessage %>
    </tbody>
  </table>

  
  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Geräteteiler", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Habe Gerät | Active", collection: ToolOffer.enabled, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Habe Gerät", collection: ToolOffer %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Suche Gerät | Active", collection: ToolDemand.enabled, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Suche Gerät", collection: ToolDemand %>
    </tbody>
  </table>

  
  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Crowdfunding", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Kampagnen | Visible", collection: CrowdCampaign.scope_public, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Kampagnen", collection: CrowdCampaign %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Unterstützungen", collection: CrowdPledge.initialized %> 
    </tbody>
  </table>