  <% content_for(:above_title, "imGrätzl Daily Mail") %>
  <% content_for(:title, "#{I18n.localize(Date.yesterday, format:'%A, %d. %B %Y')}") %>


  <%= render 'mailers/notification_mailer/summary/block_header', title: 'Zusammenfassung' %>

  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Registrierungen", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Gesamt (Registriert)", collection: User.registered %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Gesamt (Guests)", collection: User.guests %>
      <% Region.all.each do |region| %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: region, collection: User.registered.in(region) %>
      <% end %>
    </tbody>
  </table>

  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Fördermitgliedschaft", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Aktive Mitgliedschaften", collection: Subscription.active, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Bezahlte Rechnungen", collection: SubscriptionInvoice.paid %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Mitgliedschaft Einnahmen", collection: SubscriptionInvoice.paid, amount: :amount %>
    </tbody>
  </table>

  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Buchungen", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Großes Zuckerl", collection: Zuckerl.where(payment_status: [:processing, :debited]).entire_region %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Kleines Zuckerl", collection: Zuckerl.where(payment_status: [:processing, :debited]).graetzl %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Zuckerl Einnahmen", collection: Zuckerl.where(payment_status: [:processing, :debited]), amount: :amount %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Raumteiler Pusher", collection: RoomBooster.where(payment_status: [:processing, :debited]) %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Pusher Einnahmen", collection: RoomBooster.where(payment_status: [:processing, :debited]), amount: :amount %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Raumteiler Buchung", collection: RoomRental.where(payment_status: [:processing, :debited]) %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Buchungs Fee", collection: RoomRental.where(payment_status: [:processing, :debited]), amount: :service_fee %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Crowdfunding Fee", collection: CrowdPledge.where(status: :debited).includes(:crowd_campaign), boost_collection: CrowdBoostPledge.where(status: :debited).includes(:crowd_campaign), pledge: true %>
    </tbody>
  </table>



  <%= render 'mailers/notification_mailer/summary/block_header', title: 'Erstellte Inhalte' %>

  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Schaufenster", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Schaufenster", collection: Location %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Schaufenster Update", collection: LocationPost %> 
    </tbody>
  </table>

  
  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Treffen", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Treffen | Upcoming", collection: Meeting.upcoming, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Treffen", collection: Meeting %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Treffen Teilnahme", collection: GoingTo.attendee %>
    </tbody>
  </table>


  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Crowdfunding", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Funding Volumen", collection: CrowdCampaign.successful, funding_sum: true %>
      <tr style="font-size:0.8rem; text-align:right;">
        <td style="text-align:left; border: 1px solid white; border-collapse: collapse; padding:2px 5px;" colspan="6">Erfolgsquote</td>
        <% completed_count = CrowdCampaign.completed.enabled.count %>
        <% success_rate = completed_count.zero? ? 0 : (100 * CrowdCampaign.completed.successful.enabled.count) / completed_count %>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"><%= success_rate %> %</td>
      </tr>
      <% pledges_with_fee = CrowdPledge.debited.where.not(stripe_fee: nil) %>
      <% total_amount = pledges_with_fee.sum(:total_price) %>
      <% total_stripe_fee = pledges_with_fee.sum(:stripe_fee) %>
      <% avg_stripe_fee_percentage = total_amount.zero? ? 0.0 : ((total_stripe_fee / total_amount) * 100).round(2) %>
      <tr style="font-size:0.8rem; text-align:right;">
        <td style="text-align:left; border: 1px solid white; border-collapse: collapse; padding:2px 5px;" colspan="6">Stripe Fee (⌀)</td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_percentage(avg_stripe_fee_percentage, precision: 2) %></td>
      </tr>
      <% this_year_range = Time.current.beginning_of_year..Time.current.end_of_year %>
      <% last_year_range = Time.current.last_year.beginning_of_year..Time.current.last_year.end_of_year %>
      <% avg_fee_this_year = CrowdCampaign.scope_public.where(enddate: this_year_range).average(:service_fee_percentage).to_f %>
      <% avg_fee_last_year = CrowdCampaign.scope_public.where(enddate: last_year_range).average(:service_fee_percentage).to_f %>
      <% avg_fee_all = CrowdCampaign.scope_public.average(:service_fee_percentage).to_f %>
      <tr style="font-size:0.8rem; text-align:right;">
        <td style="text-align:left; border: 1px solid white; border-collapse: collapse; padding:2px 5px;">Service Fee Gesamt (⌀)</td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px;"></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_percentage(avg_fee_this_year, precision: 1) %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_percentage(avg_fee_last_year, precision: 1) %></td>
        <td style="border: 1px solid white; border-collapse: collapse; padding:2px 5px; white-space: nowrap;"><%= number_to_percentage(avg_fee_all, precision: 1) %></td>
      </tr>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Kampagnen", collection: CrowdCampaign.scope_public, startdate: true %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Unterstützungen", collection: CrowdPledge.initialized %> 
    </tbody>
  </table>

  
  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Raumteiler", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Habe Raum | Active", collection: RoomOffer.enabled, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Habe Raum", collection: RoomOffer %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Suche Raum | Active", collection: RoomDemand.enabled, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Suche Raum", collection: RoomDemand %>
    </tbody>
  </table>


  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Coop & Share", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Coop & Share | Active", collection: CoopDemand.enabled, sum: true %>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Coop & Share", collection: CoopDemand %>
    </tbody>
  </table>


  <table class="mcnTextContent statisticTable" style="width:100%; margin-bottom:20px;">
    <%= render 'mailers/admin_mailer/daily_mail_row', title: "Messenger", thead: true %>
    <tbody>
      <%= render 'mailers/admin_mailer/daily_mail_row', title: "Messenger Nachrichten", collection: UserMessage %>
    </tbody>
  </table>
