Check Messenger Nachrichten von User:<br><br>
Username: <%= @user.username %><br>
Name: <%= @user.full_name %><br>
E-Mail: <%= @user.email %><br>
Admin-Link zum User: <a href="<%= admin_user_url(@user) %>"><%= admin_user_url(@user) %></a><br>