<div class="nested-fields">
  <div class="date-fields">
    <div class="input-field">
      <%= label_tag :starts_at_date do %>
        <%= icon_tag "calendar-2" %>
        <span>Datum</span>
      <% end %>
      <%= text_field_tag :starts_at_date, nil, class: 'datepicker', placeholder: 'wählen' %>
    </div>

    <div class="input-field">
      <%= label_tag :starts_at_time do %>
        <%= icon_tag "time-clock" %>
        <span>Beginn</span>
      <% end %>
      <%= text_field_tag :starts_at_time, nil, class: 'timepicker', placeholder: 'wählen' %>
    </div>

    <div class="input-field">
      <%= label_tag :ends_at_time do %>
        <%= icon_tag "time-clock" %>
        <span>Ende</span>
      <% end %>
      <%= text_field_tag :ends_at_time, nil, class: 'timepicker', placeholder: 'wählen' %>
    </div>

  </div>
  
  <%= link_to_remove_association f do %>
    <div class="btn-delete">
      <%= icon_tag "trash-delete-remove" %>
    </div>
  <% end %>

</div>
