<div class="date-container">

  <div class="hl-subtext">
    <h1>Deine Miete</h1>
    <p>
      Möchtest du noch weitere Tage hinzufügen?
    </p>
  </div>

  <%= form_for @room_rental, url: calculate_price_room_rentals_url, method: :get, remote: true, html: { class: 'rental-date-form' } do |f| %>
    <%= f.hidden_field :room_offer_id %>

    <%= f.fields_for :room_rental_slots do |slot_form| %>
      <%= render 'room_rentals/new/timeslot_fields', f: slot_form %>
    <% end %>

    <div class="additional-dates-links">
      <%= link_to_add_association 'Weiteres Datum hinzufügen', f, :room_rental_slots, partial: 'room_rentals/new/timeslot_fields' %>
    </div>

    <%= link_to "Weiter", address_room_rentals_url, class: 'btn-primary next-page' %>
  <% end %>

</div>
