<div class="payment">

  <div class="hl-subtext">
    <h1>Wähle deine Zahlungsart</h1>
    <p>
      Wir buchen erst Geld ab, wenn deine Anfrage vom Vermieter bestätigt wurde und die Miete zustande kommt.
    </p>
  </div>

  <div class="paymentMethods">
    <% RoomRental::PAYMENT_METHODS.each do |payment_method| %>
      <div class="input-radio -<%= payment_method %>">
        <%= radio_button_tag :payment_method, payment_method, payment_method == params[:payment_method] %>
        <%= label_tag :"payment_method_#{payment_method}", payment_method_label(payment_method) %>
      </div>
    <% end %>
  </div>

  <% RoomRental::PAYMENT_METHODS.each do |payment_method| %>
    <div class="payment-method-container <%= payment_method %>-container">
      <%= render "room_rentals/new/payment_#{payment_method}" %>
    </div>
  <% end %>

  <div class="footer-txt">
    <strong>Bist du noch unschlüssig und möchtest <%= @room_rental.owner.first_name %>
    zuerst eine Frage stellen</strong>, so gehe direkt <%= link_to 'zum Messenger', messenger_path(thread_id: @room_rental.user_message_thread.id) %>.
    Du kannst deine Buchung auch nachher im Messenger starten.
  </div>

</div>
