<div class="summary" id="tab-summary">

  <div class="hl-subtext">
    <h1>Deine Raumbuchungs-Anfrage</h1>
    <p>
      Zusammenfassung
    </p>
  </div>

  <div class="summarybox">
    <div>
      <h3>Raumteiler</h3>
      <p>
        „<%= @room_offer.slogan %>“
      </p>
    </div>
    <div class="avatar">
      <%= avatar_for @room_offer.user %>
    </div>
    <div>
      <h3>Vermieter</h3>
      <p>
        <%= @room_offer.user.full_name %><br>
        <%= @room_offer.address.street %><br>
        <%= @room_offer.address.zip %> <%= @room_offer.address.city %>
      </p>
    </div>
  </div>

  <div class="summarybox -line">
    <div class="line"></div>
    <div class="avatar">
      <%= icon_tag "raumteiler" %>
    </div>
    <div class="line"></div>
  </div>

  <div class="summarybox">
    <div class="payment-summary">
      <h3>Zahlungsart</h3>
      <p>
        <span class="payment-method block">
          <%= payment_method_label(params[:payment_method]) %> <br>
          <% if @card %> endet auf <%= @card.last4 %> <span class="card-last4"></span> <% end %>
        </span>
        <%= link_to "ändern", choose_payment_room_rentals_url(room_rental_params) %>
      </p>
    </div>

    <div class="avatar">
      <%= avatar_for current_user %>
    </div>
    <div class="renter-summary">
      <h3>Mieter</h3>
      <p>
        <span class="renter-company block"><%= params[:renter_company] %></span>
        <span class="renter-name block"><%= params[:renter_name] %></span>
        <span class="renter-address block"><%= params[:renter_address] %></span>
        <span class="renter-zip"><%= params[:renter_zip] %></span> <span class="renter-city"><%= params[:renter_city] %></span>
      </p>
    </div>
  </div>

  <%= form_tag room_rentals_path, html: { class: 'rental-form' } do |f| %>
    <%= hidden_field_tag :room_offer_id, params[:room_offer_id] %>
    <%= hidden_field_tag :renter_company, params[:renter_company] %>
    <%= hidden_field_tag :renter_name, params[:renter_name] %>
    <%= hidden_field_tag :renter_address, params[:renter_address] %>
    <%= hidden_field_tag :renter_zip, params[:renter_zip] %>
    <%= hidden_field_tag :renter_city, params[:renter_city] %>
    <%= hidden_field_tag :payment_method, params[:payment_method] %>
    <%= hidden_field_tag :stripe_payment_intent_id, params[:stripe_payment_intent_id] %>
    <%= hidden_field_tag :stripe_source_id, params[:stripe_source_id] %>

    <%= submit_tag "Weiter", class: 'btn-primary submit-form' %>
  <% end %>

</div>
