<div class="summary" id="tab-summary">

  <div class="hl-subtext">
    <h1>Deine Buchungsanfrage</h1>
    <p>
      Zusammenfassung
    </p>
  </div>

  <div class="summarybox">
    <div>
      <h3>Raumteiler</h3>
      <p>
        „<%= @room_rental.room_offer.slogan %>“
      </p>
    </div>
    <div class="avatar">
      <%= avatar_image @room_rental.owner, size: :small, class: 'img-round' %>
    </div>
    <div>
      <h3>Vermieter</h3>
      <p>
        <%= @room_rental.owner.full_name %><br>
        <%= @room_rental.room_offer.address_street %><br>
        <%= @room_rental.room_offer.address_zip %> <%= @room_rental.room_offer.address_city %>
      </p>
    </div>
  </div>

  <div class="summarybox -line">
    <div class="line"></div>
    <div class="avatar">
      <%= icon_tag "raumteiler" %>
    </div>
    <div class="line"></div>
  </div>

  <div class="summarybox">
    <div class="payment-summary">
      <h3>Zahlungsart</h3>
      <p>
        <span class="payment-method block">
          <%= payment_method_label(@room_rental.payment_method) %> <br>
          <% if @room_rental.payment_method == 'card' %>
            endet auf <%= @room_rental.payment_card_last4 %> <span class="card-last4"></span>
          <% end %>
        </span>
      </p>
    </div>

    <div class="avatar">
      <%= avatar_image current_user, size: :small, class: 'avatar img-round' %>
    </div>
    <div class="renter-summary">
      <h3>Mieter</h3>
      <p>
        <span class="renter-company block"><%= @room_rental.renter_company %></span>
        <span class="renter-name block"><%= @room_rental.renter_name %></span>
        <span class="renter-address block"><%= @room_rental.renter_address %></span>
        <span class="renter-zip"><%= @room_rental.renter_zip %></span>
        <span class="renter-city"><%= @room_rental.renter_city %></span>
      </p>
    </div>
  </div>

  <div class="footer-txt">
    <strong>Deine Anfrage wurde erfolgreich an <%= @room_rental.owner.first_name %> versendet.</strong>
    Sobald <%= @room_rental.owner.first_name %> deine Anfrage bearbeitet, erhältst du eine Nachricht im Messenger (und per E-Mail).
  </div>

  <% if @room_rental.user_message_thread %>
    <%= link_to 'Zum Messenger', messenger_path(thread_id: @room_rental.user_message_thread.id), class: "btn-primary" %>
  <% end %>
</div>
