<% title('Anmelden') %>

<section class="loginPage">

  <% if current_region.nil? %>
    <h1><span>Bei WeLocally</span> anmelden</h1>
  <% else %>
    <h1><span><%= t("region.#{current_region.id}.in_your_graetzl") %></span> anmelden</h1>
  <% end %>

  <div class="loginForm">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-field">
          <%= f.label :login do %>
            <%= icon_tag "user-avatar" %>
            <span>Username</span>
          <% end %>
          <%= f.text_field :login, autofocus: true, placeholder: "Username oder E-Mail" %>
        </div>

        <div class="input-field">
          <%= f.label :password do %>
            <%= icon_tag "unlocked" %>
            <span>Passwort</span>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Passwort" %>
        </div>

        <div class="wrp">
          <% if devise_mapping.rememberable? %>
              <div class="input-checkbox">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
          <% end %>

          <%= hidden_field_tag :redirect, params[:redirect] %>
          <%= f.button 'Anmelden', class: 'btn-primary' %>
        </div>
    <% end %>

    <div class="sharedLinks">
      <%= render "devise/shared/links" %>
    </div>
  </div>

  <div class="paperCard -illuteaser -cord1RT">
    <div class="wrp">
      <% if current_region.nil? %>
        <h3>Noch nicht bei WeLocally registriert?</h3>
      <% else %>
        <h3>Noch nicht bei <%= t("region.#{current_region.id}.domain_short") %> registriert?</h3>
      <% end %>
      <%= link_to 'Hier kostenlos registrieren', new_registration_path(origin: @origin_path_from_referer), class: 'btn-primary -rose' %>
    </div>
    <div class="card"></div>
  </div>

</section>
