<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

        <p>Hallo <%= @user.first_name %>,

        <p>nochmals herzlich willkommen auf <%= t("region.#{@user.region.id}.domain_short") %> <%= @user.graetzl.name %>!</p>

        <p>
          Um deinen <%= t("region.#{@user.region.id}.domain_short") %> Account nutzen zu können, müsstest du noch deine Registrierung bestätigen. Klicke dafür bitte folgenden Link:<br>
          <strong><%= link_to 'Registrierung jetzt abschließen!', confirmation_url(confirmation_token: @user.confirmation_token, host: @user.region.host) %></strong>
        </p>

        <p>
          Als registrierter Nutzer bekommst du automatisch Updates und News <%= t("region.#{@user.region.id}.from_your_graetzl") %> <%= @user.graetzl.name %>.
          Du kannst diesen Service nach der Registrierung unter <%= link_to 'Einstellungen', edit_user_url(target: "tab-2", host: @user.region.host) %> jederzeit abbestellen oder nach deinen Interessen anpassen.
        </p>

        <p>Wir freuen uns auf Dich!<p>

        <p>
          Liebe Grüße,<br>
          dein Team von <%= t("region.#{@user.region.id}.domain_full") %><br>
          --<br>
          Bei Fragen schreib uns an:
          <%= t("region.#{@user.region.id}.contact_email") %>
        </p>

      </td>
    </tr>
  </tbody>
</table>
