<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        Hallo <%= @user.first_name %> - Herzlich willkommen, schön, dass du bei imGrätzl.at dabei bist!
        <p>
          Mit imGrätzl.at bieten wir dir eine ganze Palette von Services an, die dich dabei unterstützen
          deine Ressourcen zu erhöhen, Kosten zu senken und die dich vor allem mit spannenden und
          kooperativen Menschen vernetzen! Weg von der Einzelanstrengung hin zu neuen Formen der
          Zusammenarbeit. Ganz lokal in Wien.
        </p>

        <strong>1.)</strong>
        <em>
          <strong>Richte dir deine Locationseite ein</strong>, um mit deinen Aktionen und deinem Tun im Stadtteil sichtbar zu werden.
          Zum Einrichten deiner Locationseite: <%= link_to locations_user_url, locations_user_url, target: '_blank' %>
        </em>

        <br><br>

        <strong>2.)</strong>
        <em>
          <strong>Du möchtest deine Gewerbefläche teilen, oder suchst Raum zum Andocken?</strong>
          Dann stelle jetzt deinen Raumteilerwunsch beim Raumteiler ein. Zum Raumteiler:
          <%= link_to rooms_wien_url, rooms_wien_url, target: '_blank' %>
        </em>

        <br><br>

        <strong>3.)</strong>
        <em>
          <strong>Du hast Arbeitsequipment und Geräte, die du nicht rund um die Uhr nutzt?</strong>
          Dann vermiete sie im Toolteiler an andere MacherInnen und verdiene damit etwas dazu.
          Du benötigst temporär ein Gerät für ein Projekt? Dann schau im Toolteiler rein,
          ob du es dir günstig ausleihen kannst. Und keine Sorge: eine Versicherung ist automatisch inkludiert. Zum Toolteiler:
          <%= link_to tool_offers_wien_url, tool_offers_wien_url, target: '_blank' %>
        </em>

        <br><br>

        <strong>4.)</strong>
        <em>
          <strong>Komm in dein Unterstützer-Team!</strong>
          Für GründerInnen, Selbstständige & MacherInnen, die 2020 was vorhaben!
          Die neuen Unterstützer-Teams starten Ende Februar. 
          Wenn du ein Vorhaben hast, das du im neuen Jahr unbedingt umsetzen möchtest, dann mach mit:
          <%= link_to unterstuetzer_team_url, unterstuetzer_team_url, target: '_blank' %>
        </em>

        <br><br>

        <strong>5.)</strong>
        <em>
          <strong>Du hast ein schönes Angebot, ein Rabatt oder Gutschein, den du bekannter machen möchtest?</strong>
          Dann ist das Grätzlzuckerl dafür das Richtige, das spielt dein Angebot bezirksweise oder in ganz Wien aus, einen ganzen Monat lang:
          <%= link_to zuckerls_user_url, zuckerls_user_url, target: '_blank' %>
        </em>

        <br><br>

        <p>Viel Freude mit imGrätzl und wenn du Fragen hast, dann melde dich einfach bei mir.</p>

        Liebe Grüße,<br>
        Mirjam<br>

        <p>
          PS: Ich sende dir in den nächsten Tagen weitere nützliche Tipps zu imGrätzl zu, damit du
          für dich das Passende rauspicken kannst!
        </p>


        <% if @user.origin == 'mentoring' %>
        <% else %>

        <% end %>
      </td>
    </tr>
  </tbody>
</table>
