<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        Hallo <%= @user.first_name %> - Herzlich willkommen, schön, dass du bei <%= t("region.#{@user.region.id}.domain_full") %> dabei bist!
        <p>
          Mit <%= t("region.#{@user.region.id}.domain_full") %> bieten wir dir eine ganze Palette von Services an, die dich dabei unterstützen deine Ressourcen zu erhöhen, Kosten zu senken und die dich dabei mit kooperativen Menschen vernetzen! Unser Motto: Weg von der Einzelanstrengung hin zu neuen Formen der Zusammenarbeit.
        </p>

        <br>

        <strong>1.)</strong>
        <em>
          <strong>Mehr digitale Sichtbarkeit für dich und dein Tun - </strong>Richte dir dein virtuelles Schaufenster ein (kostenlos): <%= link_to 'Zu den Schaufenstern', region_locations_url(host: @user.region.host), target: '_blank' %>
        </em>

        <br><br>

        <strong>2.)</strong>
        <em>
          <strong>Du möchtest deine Gewerbefläche teilen, oder suchst Raum zum Andocken?</strong> Dann stelle jetzt dein Raumteilergesuch beim Raumteiler ein. (kostenlos): <%= link_to 'Zum Raumteiler', region_rooms_url(host: @user.region.host), target: '_blank' %>
        </em>

        <br><br>

        <strong>3.)</strong>
        <em>
          <strong>Du kannst deine Workshops, Veranstaltungen und Kurse über die Eventfunktion bekannt machen.</strong> Die Events werden nicht nur auf <%= t("region.#{@user.region.id}.domain_full") %>, sondern auch im Newsletter ausgespielt (kostenlos).
          <%= link_to 'Zu den Treffen', region_meetings_url(host: @user.region.host), target: '_blank' %>
        </em>

        <br><br>

        <strong>4.)</strong>
        <em>
          <strong>Du kannst dich im Coop & Share Bereich mit Gleichgesinnten vernetzen.</strong> Finde Kooperationen, Projektpartner*innen, entdecke Initiativen und Vereine oder stelle Schnuppersessions und Tauschgeschäfte rein (kostenlos).
          <%= link_to 'Zum Coop & Share Bereich', region_coop_demands_url(host: @user.region.host), target: '_blank' %>
        </em>

        <br><br>

        <strong>5.)</strong>
        <em>
          <strong>Du hast ein Vorhaben, das du in die Umsetzung bringen möchtest?</strong> Dann schau dir die <%= t("region.#{@user.region.id}.domain_short") %> Crowdfunding Tools an.
          <%= link_to 'Zum Crowdfunding Bereich', region_crowd_campaigns_url(host: @user.region.host), target: '_blank' %>
        </em>

        <br><br>

        <em>
          Wir haben außerdem <% if @user.region.use_energieteiler? %>noch den <%= link_to 'Energieteiler', energieteiler_url(host: @user.region.host), target: '_blank' %>, <% end %>immer wieder <%= @user.region.use_districts? ? (link_to 'Vernetzungsaktionen', good_morning_dates_url(host: @user.region.host), target: '_blank') : 'Vernetzungsaktionen' %> und jede Menge mehr. Am meisten hast du von <%= t("region.#{@user.region.id}.domain_short") %>, wenn du es aktiv nutzt!
        </em>

        <br><br>

        <p>Viel Freude mit <%= t("region.#{@user.region.id}.domain_full") %> und wenn du Fragen hast, dann melde dich einfach bei mir. Wenn dir <%= t("region.#{@user.region.id}.domain_short") %> gefällt, erzähle es weiter. Danke!</p>

        Liebe Grüße,<br>
        Mirjam<br><br>

        <p>
          PS: Ich sende dir in den nächsten Tagen weitere nützliche Tipps zu <%= t("region.#{@user.region.id}.domain_full") %> zu, damit du
          für dich das Passende rauspicken kannst!
        </p>

      </td>
    </tr>
  </tbody>
</table>
