<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        Hallo <%= @user.first_name %> - Herzlich willkommen, schön, dass du bei <%= t("region.#{@user.region.id}.domain_readable") %> dabei bist!
        <p>
          Mit <%= t("region.#{@user.region.id}.domain_readable") %> bieten wir dir eine ganze Palette von Services an, die dich dabei unterstützen deine Ressourcen zu erhöhen, Kosten zu senken und die dich dabei mit kooperativen Menschen vernetzen! Unser Motto: Weg von der Einzelanstrengung hin zu neuen Formen der Zusammenarbeit.
        </p>

        <strong>1.)</strong>
        <em>
          <strong>Richte dir dein virtuelles Schaufenster ein,</strong> um mit deinem Tun und Angebot in der Umgebung sichtbar zu werden. Zum Einrichten deines virtuellen Schaufensters (gratis): <%= link_to locations_user_url(host: @user.region.host), locations_user_url(host: @user.region.host), target: '_blank' %>
        </em>

        <br><br>

        <strong>2.)</strong>
        <em>
          <strong>Du möchtest deine Gewerbefläche teilen, oder suchst Raum zum Andocken?</strong> Dann stelle jetzt dein Raumteilergesuch beim Raumteiler ein. Zum Raumteiler (gratis):  <%= link_to region_rooms_url(host: @user.region.host), region_rooms_url(host: @user.region.host), target: '_blank' %>
        </em>

        <br><br>

        <strong>3.)</strong>
        <em>
          <strong>Du hast Arbeitsequipment und Geräte, die du nicht rund um die Uhr nutzt?</strong> Dann vermiete sie im <strong>Toolteiler</strong> an andere Macher*innen und verdiene damit etwas dazu. Du benötigst temporär ein Gerät für ein Projekt? Dann schau im Toolteiler rein, ob du es dir günstig ausleihen kannst. <%= link_to region_tool_offers_url(host: @user.region.host), region_tool_offers_url(host: @user.region.host), target: '_blank' %>
        </em>

        <br><br>

        <strong>4.)</strong>
        <em>
          <strong>Du kannst deine Workshops, Veranstaltungen und Kurse über die Eventfunktion bekannt machen.</strong> Die Events werden nicht nur auf <%= t("region.#{@user.region.id}.domain_readable") %>, sondern auch im Newsletter ausgespielt (gratis). <%= link_to new_meeting_url(host: @user.region.host), new_meeting_url(host: @user.region.host), target: '_blank' %>
        </em>

        <br><br>

        <strong>5.)</strong>
        <em>
          <strong>Du kannst dich im Coop & Share Marktplatz mit Gleichgesinnten vernetzen.</strong> Finde Kooperationen, Tauschgeschäfte, entdecke Initiativen und Vereine oder docke dich  an Netzwerke, Teams und Mentor*innen zur gegenseitigen Unterstützung an (gratis) <%= link_to new_coop_demand_url(host: @user.region.host), new_coop_demand_url(host: @user.region.host), target: '_blank' %>
        </em>

        <br><br>

        <strong>6.)</strong>
        <em>
          <% if @user.region.use_districts? %>
            <strong>Hast du gerade ein besonderes Angebot oder einen Rabatt?</strong> Dann ist das Grätzlzuckerl dafür das Richtige, das spielt dein Angebot bezirksweise oder in ganz <%= @user.region.name %> aus, einen ganzen Monat lang (kostenpflichtig): <%= link_to zuckerls_user_url(host: @user.region.host), zuckerls_user_url(host: @user.region.host), target: '_blank' %>
          <% else %>
            <strong>Hast du gerade ein besonderes Angebot oder einen Rabatt?</strong> Dann ist das Zuckerl dafür das Richtige, das spielt dein Angebot in deiner Gemeinde oder in der ganzen Region <%= @user.region.name %> aus, einen ganzen Monat lang (kostenpflichtig): <%= link_to zuckerls_user_url(host: @user.region.host), zuckerls_user_url(host: @user.region.host), target: '_blank' %>
          <% end %>
        </em>

        <br><br>

        <p>Viel Freude mit <%= t("region.#{@user.region.id}.domain_readable") %> und wenn du Fragen hast, dann melde dich einfach bei mir.</p>

        Liebe Grüße,<br>
        Mirjam<br>

        <p>
          PS: Ich sende dir in den nächsten Tagen weitere nützliche Tipps zu <%= t("region.#{@user.region.id}.domain_readable") %> zu, damit du
          für dich das Passende rauspicken kannst!
        </p>

      </td>
    </tr>
  </tbody>
</table>
