<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        Hallo <%= @user.first_name %> - Herzlich willkommen, schön, dass du bei imGrätzl.at dabei bist!
        <p>
          Mit imGrätzl.at bieten wir dir eine ganze Palette von Services an, die dich dabei unterstützen deine Ressourcen zu erhöhen, Kosten zu senken und die dich dabei mit kooperativen Menschen vernetzen! Unser Motto: Weg von der Einzelanstrengung hin zu neuen Formen der Zusammenarbeit.
        </p>

        <strong>1.)</strong>
        <em>
          <strong>Richte dir deine gratis Locationseite ein,</strong> um mit deinen Aktionen und deinem Tun im Stadtteil sichtbar zu werden. Zum Einrichten deiner Locationseite: <%= link_to locations_user_url, locations_user_url, target: '_blank' %>
        </em>

        <br><br>

        <strong>2.)</strong>
        <em>
          <strong>Du möchtest deine Gewerbefläche teilen, oder suchst Raum zum Andocken?</strong> Dann stelle jetzt dein Raumteilergesuch beim Raumteiler ein. Ganz neu sind die Kurzzeitmieten. Zum Raumteiler: <%= link_to rooms_region_url, rooms_region_url, target: '_blank' %>
        </em>

        <br><br>

        <strong>3.)</strong>
        <em>
          <strong>Du hast Arbeitsequipment und Geräte, die du nicht rund um die Uhr nutzt?</strong> Dann vermiete sie im <strong>Toolteiler</strong> an andere Macher*innen und verdiene damit etwas dazu. Du benötigst temporär ein Gerät für ein Projekt? Dann schau im Toolteiler rein, ob du es dir günstig ausleihen kannst. Eine Versicherung ist immer automatisch inkludiert. <%= link_to tool_offers_region_url, tool_offers_region_url, target: '_blank' %>
        </em>

        <br><br>

        <strong>4.)</strong>
        <em>
          <strong>Du kannst online und offline Workshops, Events und Beratungen über unsere Treffenfunktion bekannt machen.</strong> Die online Workshops, Kurse und Beratungen werden auf der Plattform in ganz Wien ausgespielt. <%= link_to new_meeting_url, new_meeting_url, target: '_blank' %>
        </em>

        <br><br>

        <strong>5.)</strong>
        <em>
          <strong>Hast du gerade ein besonderes Angebot oder einen Rabatt?</strong> Dann ist das Grätzlzuckerl dafür das Richtige, das spielt dein Angebot bezirksweise oder in ganz Wien aus, einen ganzen Monat lang: <%= link_to zuckerls_user_url, zuckerls_user_url, target: '_blank' %>
        </em>

        <br><br>

        <strong>6.)</strong>
        <em>
          <strong>Lust dich mit anderen Macher*innen und Selbständigen zu vernetzen?</strong> Wir organisieren laufend Aktionen, um euch miteinander zu verbinden. Was gerade aktuell stattfindet, erfährst du in unserem <%= link_to 'imGrätzl Blog', 'https://blog.imgraetzl.at', target: '_blank' %>
        </em>

        <br><br>

        <p>Viel Freude mit imGrätzl und wenn du Fragen hast, dann melde dich einfach bei mir.</p>

        Liebe Grüße,<br>
        Mirjam<br>

        <p>
          PS: Ich sende dir in den nächsten Tagen weitere nützliche Tipps zu imGrätzl zu, damit du
          für dich das Passende rauspicken kannst!
        </p>


        <% if @user.origin == 'mentoring' %>
        <% else %>

        <% end %>
      </td>
    </tr>
  </tbody>
</table>
