<div class="cardbox-wrp">
  <div class="paperCard -cord1RT -illuteaser -zuckerl">
    <div class="wrp">
      <div class="user">
        <% if current_user %>
          <%= attachment_image_tag current_user, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
          <span><%= current_user.username %></span>
        <% else %>
          <%= image_tag('avatar/user/default.png', class: 'img-round') %>
          <span>Dein Name</span>
        <% end %>
      </div>
      <% if defined? graetzl %>
        <h3>Mit dem Grätzlzuckerl kannst Du Werbung für dein Angebot in deinem Grätzl & Bezirk schalten</h3>
        <%= link_to 'Mein Grätzlzuckerl', new_zuckerl_path, class: 'btn-primary' %>
      <% elsif defined? district %>
        <h3>Mit dem Grätzlzuckerl kannst Du Werbung für dein Angebot im <%= district.numeric %>. Bezirk schalten.</h3>
        <%= link_to 'Mein Grätzlzuckerl', new_zuckerl_path, class: 'btn-primary' %>
      <% else %>
        <h3>Mit dem Grätzlzuckerl kannst Du Werbung für dein Angebot in deinem Grätzl & Bezirk schalten</h3>
        <%= link_to 'Mein Grätzlzuckerl', new_user_session_path, class: 'btn-primary -rose' %>
      <% end %>
    </div>
    <div class="card"></div>
  </div>
  <% if defined? view_all %>
    <%= link_to 'Alle Angebote', district_zuckerls_path(district), class: 'link-more' %>
  <% elsif defined? graetzl %>
    <%= link_to 'Alle Angebote', graetzl_zuckerls_path(graetzl), class: 'link-more' %>
  <% end %>
</div>
