<%= form_errors_for f.object %>
<%= f.hidden_field :location_id %>

<div class="input-field">
  <%= f.label :title do %>
    <%= icon_tag "record" %>
    <span><%= Zuckerl.human_attribute_name :title %></span>
  <% end %>
  <%= f.text_field :title,
    placeholder: 'Gib deinem Angebot einen knackigen Titel ... (80 Zeichen)',
    id: 'zuckerl_title',
    maxlength: 80,
    data: { behavior: 'titleinput' } %>
</div>

<div class="input-textarea">
  <%= f.label :description do %>
    <%= icon_tag "layout-document" %>
    <span><%= Zuckerl.human_attribute_name :description %></span>
  <% end %>
  <%= f.text_area :description,
    placeholder: 'Beschreibe dein Angebot in 1-2 Sätzen ... (160 Zeichen)',
    id: 'zuckerl_description',
    maxlength: 160,
    data: { behavior: 'descriptioninput'} %>
</div>

<div class="upload-oldschool">
  <%= f.label :image do %>
    <%= icon_tag "photo-camera" %>
    <span>Bild hochladen</span>
  <% end %>
  <div class="field-wrp">
    <%= f.attachment_field :image, direct: true, presigned: true, data: { behavior: 'imageinput' } %>
  </div>
</div>

<div class="input-select">
  <%= f.label :initiative_id do %>
    <%= icon_tag "love" %>
    <span>Mit dem Zuckerl unterstütze ich</span>
  <% end %>
  <%= f.select :initiative_id,
    options_from_collection_for_select(f.object.location.graetzl.initiatives, :id, :name),
    {include_blank: 'Alle Initiativen im Grätzl'},
    data: { behavior: 'initiativeselect' },
    id: 'zuckerl_support' %>
</div>

<div class="input-labledcheckbox">
  <%= f.label :flyer do %>
    <%= icon_tag "open-book" %>
    <span>Grätzlzuckerl Flyer</span>
  <% end %>
  <div class="field-wrp">
    <div class="input-checkbox">
      <%= f.check_box :flyer %>
      <%= f.label :flyer do %>
        Ich möchte auch im Grätzlzuckerl Flyer erscheinen.<br/>
        <small>
          Wir kontaktieren dich sobald die nächste Print-Ausgabe für deinen Bezirk geplant ist. Du bezahlst & buchst jetzt nur das Online Zuckerl.
        </small>
      <% end %>
    </div>
  </div>
</div>
