<div class="cardBox -zuckerl">
  <div class="cardBoxHeader">
    <div class="imgpreview" data-behavior="imagepreview">
      <div class="coverImgWrapper">
        <%= cover_photo_image(zuckerl, class: 'coverImg') if zuckerl.cover_photo %>
      </div>
    </div>
    <div class="categoryicon">
      <%= icon_tag "shopping-bag" %>
    </div>
  </div>
  <div class="cardBoxContent">
    <div class="avatar-block">
      <div class="avatarImg">
        <%= avatar_image location, size: :small, class: 'avatar img-square' %>
      </div>
      <div class="typetxt">
        <div class="name"><%= location.name %></div>
        <div class="category"><%= location.location_category.name if location.location_category %></div>
        <% if location.using_address? %>
          <div class="address">
            <%= icon_tag "location" %>
            <%= location.address_street %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="zuckerlteasertxt">
      <div class="title" data-behavior="titlepreview"></div>
      <div class="description" data-behavior="descriptionpreview"></div>
    </div>
    <%= link_to "javascript:", class: 'btn-userIcons linkpreview', data: { behavior: ''} do %>
      <%= icon_tag "globe" %>
      Mehr dazu
    <% end %>

  </div>
</div>

<div class="basicdata">
  <div class="headline">Eckdaten</div>
  <ul class="facts">
    <li><strong>Laufzeit:</strong> <%= zuckerl_month_and_year(zuckerl) %></li>
    <li>
      <strong>Sichtbarkeit:</strong>
        <span data-behavior="graetzlpreview">
          <%= location.graetzl.name %>
          <% if current_region.use_districts? %> und gesamter <%= location.graetzl.district.numeric %>. Bezirk <% end %>
        </span>
        <span data-behavior="alldistrictspreview">
          Ganz <%= current_region %>
        </span>
      </li>
    <li><strong>Preis:</strong> <span data-behavior="pricepreview"></span> (inkl. 20% USt.)</li>
  </ul>
</div>
