<div class="cardBox -location ">
  <div class="cardBoxHeader">
    <div class="imgpreview" data-behavior="imagepreview"></div>
    <div class="location-shortfacts">
      <%= link_to [location.graetzl, location] do %>
        <img class="img-square" src="http://www.imgraetzl.at/attachments/25da7aa39f57ba4685438e18199b4c93e36ff34a/store/fill/200/200/2ef1a113e444791a6780e3ad9808d67d0144ccaafbc74edbf918c29e032b/avatar.jpeg" alt="Avatar">
        <div class="name"><%= location.name %></div>
      <% end %>

      <div class="category"><%= location.category.name %></div>
      <% if address = location.address %>
        <div class="address">
          <svg class="icon-location">
            <use xlink:href="#icon-location"></use>
          </svg>
          <%= location.address.street_name %> <%= location.address.street_number %>
        </div>
      <% end %>
    </div>
    <div class="categoryicon">
      <svg class="icon-shopping-bag">
        <use xlink:href="#icon-shopping-bag"></use>
      </svg>
    </div>
  </div>
  <div class="zuckerl-teaser-box">
    <div class="title" data-behavior="titlepreview"></div>
    <div class="description" data-behavior="descriptionpreview"></div>
  </div>
</div>

<div class="basicdata">
  <div class="headline">Eckdaten</div>
  <ul class="facts">
    <li><strong>Laufzeit:</strong> <%= zuckerl_month(zuckerl) %></li>
    <li><strong>Grätzl:</strong> <%= location.graetzl.name %></li>
    <li><strong>Preis:</strong> 18€ (inkl. 3€ MwSt.)</li>
  </ul>
</div>

<div class="initiative-container">
  <p>Mit deinem Zuckerl unterstützt du:</p>
  <div class="initiative-info">
    <p class="defaulttext">Mit deiner Buchung kannst du gezielt Initiativen aus dem Grätzl unterstützen. Wählst du
      eine Initiative, so
      gehen 50% deiner Buchung gezielt an diese. Wählst du "Alle", werden die 50% gleichmäßig an alle verteilt.
    </p>

    <div>
      <div class="name">lebensviertel.stuwerviertel</div>
      <p class="description">
        <img class="logo" src="/assets/img/logo-stuwerviertel.jpg" alt="">
        ist eine gemeinsame Initiative des "Vereins der Freunde des Vorgartenmarktes" und des
        Einkaufsstraßenvereins "Die 1. im 2ten - Einkaufen im Stuwerviertel“. Unter „lebensviertel.stuwerviertel“
        wollen die beiden Vereine in Kooperation mit der Gebietsbetreuung GB*2/20 – das Stuwerviertel zu einem der
        fünf lebenswertesten Wohn- und Geschäftsviertel in Wien machen.</p>
      <a class="homepage" href="http://www.stuwerviertel.at" target="_blank">www.stuwerviertel.at</a>
    </div>
    <div>
      <div class="name">neuner haus</div>
      <p class="description">
        <img class="logo" src="/assets/img/logo-neunerhaus.jpg" alt="">
        Das neunerhaus gibt Obdach. Und mehr. Wir bieten Wohnraum, sozialarbeiterische sowie medizinische
        Betreuung und ermöglichen obdachlosen Menschen ein selbst bestimmtes und menschenwürdiges Wohnen.</p>
      <a class="homepage" href="http://www.neunerhaus.at" target="_blank">www.neunerhaus.at</a>
    </div>
  </div>
</div>
