<div class="cardBox">
  <div class="cardBoxHeader">
    <div class="imgpreview" data-behavior="imagepreview">
      <div class="coverImgWrapper">
        <%= attachment_image_tag(zuckerl, :image, :fill, 300, 180, class: 'coverImg') if zuckerl.image_id %>
      </div>
    </div>

    <div class="categoryicon">
      <%= icon_tag "shopping-bag" %>
    </div>
  </div>
  <div class="cardBoxContent">
    <div class="location-shortfacts">
      <div class="locationlogo"><%= avatar_for zuckerl.location %></div>
      <div class="locationtxt">
        <div class="name"><%= zuckerl.location.name %></div>
        <div class="category"><%= zuckerl.location.category.name %></div>
        <% if address = zuckerl.location.address %>
          <div class="address">
            <%= icon_tag "location" %>
            <%= zuckerl.location.address.street %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="zuckerlteasertxt">
      <div class="title"><%= zuckerl.title %></div>
      <div class="description"><%= zuckerl.description %></div>
    </div>
  </div>
</div>


<div class="basicdata">
  <div class="headline">Eckdaten</div>
  <ul class="facts">
    <li><strong>Laufzeit:</strong> <%= zuckerl_month_and_year(zuckerl) %></li>
    <li><strong>Grätzl:</strong> <%= zuckerl.location.graetzl.name %></li>
    <li><strong>Preis:</strong> 15 € (inkl. USt.)</li>
  </ul>
</div>

<div class="initiative-container">
  <% if initiative = zuckerl.initiative %>
    <p>Mit deinem Zuckerl unterstützt du:</p>
    <div class="initiative-info">
      <div>
        <div class="name"><%= initiative.name %></div>
        <p class="description">
          <%= attachment_image_tag(initiative, :image, :fit, 100, 200, class: 'logo') if initiative.image %>
          <%= initiative.description %>
        </p>
        <%= link_to initiative.website.sub(/^https?\:\/\//, ''), initiative.website, target: '_blank' %>
      </div>
    </div>
  <% end %>
</div>
