<div class="cardBox -zuckerl">
  <div class="cardBoxHeader">
    <div class="imgpreview" data-behavior="imagepreview">
      <div class="coverImgWrapper">
        <%= cover_photo_image(zuckerl, class: 'coverImg') if zuckerl.cover_photo %>
      </div>
    </div>

    <div class="categoryicon">
      <%= icon_tag "shopping-bag" %>
    </div>
  </div>
  <div class="cardBoxContent">
    <div class="avatar-block">
      <div class="avatarImg">
        <%= avatar_image zuckerl.location, size: :small, class: 'avatar img-square' %>
      </div>
      <div class="typetxt">
        <div class="name"><%= zuckerl.location.name %></div>
        <div class="category"><%= zuckerl.location.location_category.name if zuckerl.location.location_category %></div>
        <% if zuckerl.location.using_address? %>
          <div class="address">
            <%= icon_tag "location" %>
            <%= zuckerl.location.address_street %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="zuckerlteasertxt">
      <div class="hl">
        <%= icon_tag "shopping-bag" %>
        Grätzlzuckerl im <%= zuckerl_month(zuckerl) %>
      </div>
      <div class="title"><%= zuckerl.title %></div>
      <div class="description"><%= zuckerl.description %></div>
    </div>
    <% if zuckerl.link %>
      <%= link_to zuckerl.link, class: 'btn-userIcons', target: '_blank' do %>
        <%= icon_tag "globe" %>
        Mehr dazu
      <% end %>
    <% end %>
  </div>
</div>

<div class="basicdata">
  <div class="headline">Eckdaten</div>
  <ul class="facts">
    <li><strong>Laufzeit:</strong> <%= zuckerl_month_and_year(zuckerl) %></li>
    <li><strong>Grätzl:</strong> <%= zuckerl.visibility %></li>
    <li><strong>Preis:</strong> <%= zuckerl.total_price_with_currency %> (inkl. 20% USt.)</li>
  </ul>
</div>
