<div class="cardBox -location ">
  <div class="cardBoxHeader">
    <div class="imgpreview">
      <%= attachment_image_tag(zuckerl, :image, :fill, 300, 180) if zuckerl.image_id %>
    </div>
    <div class="location-shortfacts">
      <%= link_to [zuckerl.location.graetzl, zuckerl.location] do %>
        <%= avatar_for(zuckerl.location, fill: [200, 200], class: 'img-square') %>
        <div class="name"><%= zuckerl.location.name %></div>
      <% end %>

      <div class="category"><%= zuckerl.location.category.name %></div>
      <% if address = zuckerl.location.address %>
        <div class="address">
          <svg class="icon-location">
            <use xlink:href="#icon-location"></use>
          </svg>
          <%= zuckerl.location.address.street_name %> <%= zuckerl.location.address.street_number %>
        </div>
      <% end %>
    </div>
    <div class="categoryicon">
      <svg class="icon-shopping-bag">
        <use xlink:href="#icon-shopping-bag"></use>
      </svg>
    </div>
  </div>
  <div class="zuckerl-teaser-box">
    <div class="title"><%= zuckerl.title %></div>
    <div class="description"><%= zuckerl.description %></div>
  </div>
</div>

<div class="basicdata">
  <div class="headline">Eckdaten</div>
  <ul class="facts">
    <li><strong>Laufzeit:</strong> <%= zuckerl_month(zuckerl) %></li>
    <li><strong>Grätzl:</strong> <%= zuckerl.location.graetzl.name %></li>
    <li><strong>Preis:</strong> 18€ (inkl. 3€ MwSt.)</li>
  </ul>
</div>

<div class="initiative-container">
</div>
