<div class="cardBox -zuckerl">
  <div class="cardBoxHeader">
    <div class="imgpreview" data-behavior="imagepreview">
      <div class="coverImgWrapper">
        <%= cover_photo_image(@zuckerl, class: 'coverImg') if @zuckerl.cover_photo %>
      </div>
    </div>
    <div class="categoryicon">
      <%= icon_tag "shopping-bag" %>
    </div>
  </div>
  <div class="cardBoxContent">
    <% @zuckerl.user.locations.each do |location| %>
      <div class="avatar-block" id="location_<%= location.id %>">
        <div class="avatarImg">
          <%= avatar_image location, size: :small, class: 'avatar img-square show-badge' %>
        </div>
        <div class="typetxt">
          <div class="name"><%= location.name %></div>
          <div class="category"><%= location&.location_category&.name %></div>
          <div class="address">
            <%= address_short_for(location) %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="avatar-block" id="user-avatar-block">
      <div class="avatarImg">
         <%= avatar_image @zuckerl.user, size: :small, class: 'avatar img-round show-badge' %>
      </div>
      <div class="typetxt">
        <div class="name"><%= @zuckerl.user.first_name %></div>
        <div class="category name"><%= @zuckerl.user.last_name %></div>
        <div class="address">
          <%= address_short_for(@zuckerl.user) %>
        </div>
      </div>
    </div>
    <div class="zuckerlteasertxt">
      <div class="hl">
        <%= icon_tag "shopping-bag" %>
        Aktuelles Zuckerl
      </div>
      <div class="title" data-behavior="titlepreview"></div>
      <div class="description" data-behavior="descriptionpreview"></div>
    </div>
    <%= link_to "javascript:", class: 'btn-icon linkpreview', data: { behavior: ''} do %>
      <%= icon_tag "globe" %>
      Mehr dazu
    <% end %>

  </div>
</div>

<div class="zuckerl-keydata">
  <div class="headline">Eckdaten</div>
  <ul class="facts">
    <li><strong>Laufzeit:</strong> <span data-behavior="runtimepreview"><%= zuckerl_runtime(@zuckerl) %></span></li>
    <li><strong>Sichtbarkeit:</strong> <span data-behavior="graetzlpreview"></span></li>
    <li><strong>Newsletter:</strong> <span data-behavior="newsletterpreview">4 x (jeden Dienstag)</span></li>
    <li><strong>Preis:</strong> <span data-behavior="pricepreview"></span> (inkl. 20% USt.) <span data-behavior="oldpricepreview"></span></li>
  </ul>
</div>