<% location = zuckerl.location %>
<% graetzl = Graetzl.memoized(location.graetzl_id) %>

<div class="cardBox -zuckerl" data-behavior="masonry-card">
  <div class="cardBoxHeader">
    <%= link_to [graetzl, location, target: dom_id(zuckerl)] do %>
      <div class="coverImgWrapper">
        <%= cover_photo_image(zuckerl, class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "shopping-bag" %>
    </div>
    <%= graetzl_flag(graetzl) %>
  </div>
  <div class="cardBoxContent">
    <div class="avatar-block">
      <%= link_to [graetzl, location], class: 'avatarImg' do %>
        <%= avatar_image location, size: :small, class: 'avatar img-square' %>
      <% end %>
      <div class="typetxt">
        <%= link_to [graetzl, location] do %>
          <div class="name"><%= location.name %></div>
        <% end %>
        <div class="category"><%= location.location_category.name if location.location_category %></div>
        <% if location.using_address? %>
          <div class="address">
            <%= address_short(location) %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="zuckerlteasertxt">
      <div class="hl">
        <%= icon_tag "shopping-bag" %>
        Zuckerl im <%= I18n.localize Time.now, format: '%B' %>
      </div>
      <div class="title"><%= zuckerl.title %></div>
      <div class="description"><%= zuckerl.description %></div>
    </div>
    <% if zuckerl.link %>
      <%= link_to zuckerl.link, class: 'btn-userIcons', target: '_blank' do %>
        <%= icon_tag "globe" %>
        Mehr dazu
      <% end %>
    <% end %>

  </div>
</div>
