<div class="cardBox -zuckerl" data-behavior="masonry-card" id="zuckerl-<%= zuckerl.id %>">
  <div class="cardBoxHeader">
    <%= link_to zuckerl.location? ? [zuckerl.location.graetzl, zuckerl.location, target: dom_id(zuckerl)] : zuckerl.user do %>
      <div class="coverImgWrapper">
        <%= cover_photo_image(zuckerl, class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "shopping-bag" %>
    </div>
    <%= graetzl_flag(zuckerl.location.graetzl) if zuckerl.location? %>
  </div>
  <div class="cardBoxContent">
    <div class="avatar-block">
      <% if zuckerl.location? %>
        <%= link_to [zuckerl.location.graetzl, zuckerl.location], class: 'avatarImg' do %>
          <%= avatar_image zuckerl.location, size: :small, class: 'avatar img-square show-badge' %>
        <% end %>
      <% else %>
        <%= link_to zuckerl.user, class: 'avatarImg' do %>
          <%= avatar_image zuckerl.user, size: :small, class: 'avatar img-round show-badge' %>
        <% end %>
      <% end %>
      <div class="typetxt">
        <% if zuckerl.location? %>
          <%= link_to [zuckerl.location.graetzl, zuckerl.location] do %>
            <div class="name"><%= zuckerl.location.name %></div>
          <% end %>
          <div class="category"><%= zuckerl.location&.location_category&.name %></div>
        <% else %>
          <%= link_to zuckerl.user do %>
            <div class="name"><%= zuckerl.user.first_name %></div>
            <div class="category name"><%= zuckerl.user.last_name %></div>
          <% end %>
        <% end %>
        <div class="address">
          <%= address_short_for(zuckerl.location? ? zuckerl.location : zuckerl.user) %>
        </div>
      </div>
    </div>

    <div class="zuckerlteasertxt">
      <div class="hl">
        <%= icon_tag "shopping-bag" %>
        Aktuelles Zuckerl
      </div>
      <div class="title"><%= zuckerl.title %></div>
      <div class="description"><%= zuckerl.description %></div>
    </div>
    <% if zuckerl.link.present? %>
      <%= link_to zuckerl.link, class: 'btn-icon', target: '_blank' do %>
        <%= icon_tag "globe" %>
        Mehr dazu
      <% end %>
    <% end %>

    <% if local_assigns[:manage_buttons].present? && current_user == zuckerl.user %>
    <div class="itemstate">
      <%= zuckerl_state_for(zuckerl) %>
    </div>
    <div class="btn-group">
      <%= link_to "Zahlungsmethode anpassen", change_payment_zuckerl_path(zuckerl), class: 'btn-primary -rosa -small -payment' if zuckerl.failed? && zuckerl.approved? %>
      <div class="actions">
        <%= link_to 'Bearbeiten', edit_zuckerl_path(zuckerl), class: 'btn-secondary -mint -small -actions' if zuckerl.can_edit? %>
        <%= link_to 'Löschen', zuckerl_path(zuckerl),
          data: { confirm: 'Bist du dir sicher?' },
          method: :delete,
          class: 'btn-secondary -mint -small' %>
      </div>
      <%= link_to "Download Rechnung", zuckerl.zuckerl_invoice.presigned_url(:get), class: 'btn-secondary -grey -small -invoice' if zuckerl.invoice_number.present? %>
      <% if zuckerl.subscription %>
        <%= link_to "Eingelöst aus Fördermitgliedschaft", '#', class: 'btn-primary -small -disabled -invoice' %>
      <% elsif zuckerl.free? %>
        <%= link_to "Eingelöst aus Zuckerlguthaben", '#', class: 'btn-primary -small -disabled -invoice' %>
      <% end %>
      <%= link_to 'Zuckerl nochmals schalten', duplicate_zuckerl_path(zuckerl), class: 'btn-primary -mint -small -actions' %>
    </div>
    <% end %>

  </div>
</div>