<% meta(
    title: t('.title'),
    robots: 'noindex, nofollow'
  )
%>

<section class="zuckerl-page payment-screen">

  <div class="col-content">
    <%= render "zuckerls/new/tabs_nav" %>
    <%= render 'zuckerls/new/payment' %>
  </div>

  <div class="col-sidebar">
    <%= render @zuckerl %>
    <%= render 'zuckerls/new/key_data' %>
  </div>

</section>

<%= javascript_include_tag "https://js.stripe.com/v3/" %>
<script>
  window.stripe = Stripe("<%= Rails.configuration.stripe[:publishable_key] %>", { locale: 'de' });
</script>
