<section class="createzuckerl -edit">
  <div class="col-l">
    <%= form_for [@location, @zuckerl], data: { behavior: 'zuckerlform' } do |f| %>
      <div class="booking-block">
        <div class="form-block">
          <p class="txt"><span>Zuckerl</span> für den <span>Monat <%= zuckerl_month(@zuckerl) %></span> bearbeiten</p>
          <%= render 'fields', f: f %>
          <%= f.button class: 'btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-r">
    <%= render 'preview', location: @location, zuckerl: @zuckerl %>
  </div>
</section>
