<%
  meta({
    title: t('.title', numeric: 2),
    description: t('.description', district: 'Leopoldstadt'),
    robots: 'noindex, follow',
    og_title: t('.title', numeric: 2),
    og_description: t('.description', district: 'Leopoldstadt'),
    og_image: image_url('meta/og_logo.png')
  })
%>

<section class="zuckerlOverview">

  <div class="imgHeader zuckerlHeader">
    <h1>Entdecke Einzigartiges im Grätzl</h1>
    <h2>Besondere Angebote, Aktionen & Workshops</h2>
  </div>


  <div class="zuckerlCollection">

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/contentessa.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt"><strong>3 Gratis-Webseiten-Checks von Contentessa.</strong> Erfahre, ob deine Seite zeitgemäß, ansprechend & nutzerfreundlich ist. Die ersten 3 Personen, die sich bei ihr melden, bekommen einen kostenlosen Check!</div>
      <a href="http://www.contentessa.at/" target="_blank">www.contentessa.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/rosa-rosch.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt">Der neueste Clou der Statement Accessoire Designerin <strong>Rosa Rosch</strong> sind Hundeleinen, die wie außergewöhnliche Schmuckstücke wirken. Hergestellt aus veganen Materialien.</div>
      <a href="http://www.itsgutso.com/" target="_blank">www.itsgutso.com</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/mikle.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Mikle Hager-Adam</strong> eröffnet ihre Grinberg Praxis im Stuwerviertel. Mit dem Kennwort ‚Wohlbefinden‘ gibt es 50% Ermäßigung auf die erste Grinberg Anwendung.</div>
      <a href="http://www.mikle-hager-adam.at/" target="_blank">www.mikle-hager-adam.at</a>
    </div>

    <div class="paperCard -cord1RTsmall -illuteaser">
      <div class="wrp">
        <h3>Hier fehlt noch ein Grätzlzuckerl?</h3>
        <p>Wenn du ebenfalls ein spezielles Angebot für den 2. Bezirk hast, dann schreib ein Mail an:
          <a href="mailto:wir@imgraetzl.at">wir@imgraetzl.at</a></p>
      </div>
      <div class="card"></div>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/omega-cbu.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt">Die hochwertigen T-Shirts mit den Designs des Street-Art Künstlers <strong>omega cbu</strong> gibt es mit dem Kennwort ‚Street-Art‘ zum Vorzugspreis von 23 €. Nur solange der Vorrat reicht.</div>
      <a href="http://www.omega-cbu.com/" target="_blank">www.omega-cbu.com</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/spuer-dich.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="location">Karmelieterviertel</div>
        </div>
      </div>
      <div class="txt">Deine Schultern sind verspannt, im Bauch zwickt’s und zwackt’s, das Kreuz zieht? Vereinbare eine <strong>Shiatsu-Behandlung</strong> bei Barbara Reiniger.</div>
      <a href="http://www.spuer-dich.at/" target="_blank">www.spuer-dich.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/kant.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt">Ka:nt innen — Kunst für drunter! Die Künstlerin <strong>Ka:nt</strong> hat neue Zensurpanti es im Programm:</div>
      <a href="http://www.etsy.com/shop/vaKant/" target="_blank">www.etsy.com/shop/vaKant</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/ana-chron.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="location">Stuwerviertel/Volkertviertel</div>
        </div>
      </div>
      <div class="txt">Die Macherin hinter <strong>ANA Chron</strong> stellt in liebevoller Handarbeit Taschen aus alten Kinderbüchern her. Kontakt/Info:</div>
      <a href="http://www.ana-chron.at/" target="_blank">www.ana-chron.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <img src="https://placeimg.com/100/100/people" alt="" class="img-round">
        <div class="datelocation">
          <div class="date">23. September</div>
          <div class="location">Nordbahnviertel </div>
        </div>
      </div>
      <div class="txt">Ein <strong>Ashtanga-Yoga Kurs</strong> zum Kennenlernen startet am 23. Sept. mit Margit im Nordbahnviertel.</div>
      <a href="http://www.ooom.at/" target="_blank">www.ooom.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/palette.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">26. September</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt">Die <strong>Palette</strong> nimmt die gschmackigsten & feinsten Käsesorten in ihr Programm auf. Die Erzeuger sind handverlesen und Bettina kann wunderbare Geschichten über die Hersteller erzählen. <strong>Käseverkostung</strong>: 26.09. ab 10 Uhr in der Palette am Vorgartenmarkt. Unkostenbeitrag 5 €</div>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/biggarten.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">Oktober</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt">Liebe Oktober Geburtstagskinder feiert gut! <strong>Yunus</strong> lädt im Oktober die Geburtstagskinder für einen Abend auf alle Getränke ein, wenn das Geburtstagskind mind. 10 Leuten zum Anstossen mitbringt. (Stell ein Treffen ein, falls wir dazukommen sollen) Reservierung: <a href="tel:004369918113050">0699 - 18113050</a> oder einfach persönlich vorbeigehen Big Garten Vorgartenmarkt 1020 Wien</div>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/goodvibrations.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">6. Oktober</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt">Noch ein Grund mehr sich mal eine Massage zu gönnen: Am 6.Oktober ist wieder Charity Tuesday, wobei die gesamten Einnahmen des Tages an den Tierschutz für Operationen & Impfungen misshandelter Tierhaltungen zugute kommen. Leystrasse 161/1/1 1020 Wien</div>
      <a href="http://www.goodvibrations-atelier.at/" target="_blank">www.goodvibrations-atelier.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/lebensbewusstsein.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">9. Oktober</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt">Lisa Hofer feiert auch und zwar ihr <strong>Praxisfest</strong>, kommt vorbei am 9. Oktober ab 17Uhr in der Wohlmutstrasse 20/7 1020. Ihr könnt reinschnuppern, ob die Gesundheitspraxis 'Lebensbewusstsein'  mit ihrem Yoga-, Ayurveda- und Shiatsu-Angebot nicht vielleicht genau das ist, was ihr schon lange ums Ecks gesucht habt.</div>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/hellbunt-events.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">6. November</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt">Advent-Werkstatt mit Tina Hinterleitner von <strong>Hellbunt Events</strong> - Gebastelt werden Adventkalender & Weihnachtsdekoration mit nachhaltigen und recycelten Materialien. Freitag, 06. 11. 2015  Anmeldung und alle Informationen:</div>
      <a href="http://www.hellbunt-events.at/" target="_blank">www.hellbunt-events.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/familien-fotosession.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">Oktober</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt">Die Familien Fotosession: 30 min Shooting, inkl. <strong>Foto-Retuche und 3 Fotos</strong> à 15x20 cm. Im Oktober gibt es das Paket statt für 130 € für 79 €. Meldet euch bei Foto Fally in der Wohlmutstraße 31 1020 Wien Tel.: <a href="tel:004317295470">01/729 54 70</a></div>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/oel.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">22. September</div>
          <div class="location">Nordbahnviertel</div>
        </div>
      </div>
      <div class="txt">Die Gesundheit auf natürliche Weise unterstützen — <strong>ein Vortrag über ätherische Öle</strong> von Verena Jung. Haussteinstr. 1A/EG, 1020 Wien | Jeweils 16.9., 22.9. und 30.9. um 18.30 Uhr. Kostenlos, aber anmelden: Tel.: <a href="tel:00436767901299">0676 · 7901299</a></div>
    </div>

    <div class="placeholderIllu">
      <%= link_to info_infos_zum_graetzlzuckerl_path, class:'badge -arrow' do %>
          Mit-<br>machen
      <%end%>
    </div>

  </div>

</section>
