<%
   meta({
          title: t('.title', numeric: 2),
          description: t('.description', district: 'Leopoldstadt'),
          robots: 'index, follow',
          og_title: t('.title', numeric: 2),
          og_description: t('.description', district: 'Leopoldstadt'),
          og_image: image_url('meta/og_logo.png')
        })
%>
<section class="masonryFilterGrid">
  <%= cache [@graetzl, 'map'], expires_in: 2.months do %>
    <%= render 'graetzls/map', map_data: @map_data %>
  <% end %>
  <%= render 'graetzls/curator' if @graetzl.curator %>
  <%= filters_for current_user, @graetzl %>
  <div class="cards-container" data-behavior="stream-container">
    <%= render @zuckerls %>
  </div>
  <%= view_more_link @zuckerls %>
</section>
