<%
   meta({
          title: t('.title', numeric: 2),
          description: t('.description', district: 'Leopoldstadt'),
          robots: 'index, follow',
          og_title: t('.title', numeric: 2),
          og_description: t('.description', district: 'Leopoldstadt'),
          og_image: image_url('meta/og_logo.png')
        })
%>

<section class="zuckerlOverview">

  <div class="imgHeader zuckerlHeader">
    <h1>Das schwarze Brett fürs Grätzl</h1>
    <h2>Treffen, Workshops und schöne Angebote</h2>
  </div>


  <div class="zuckerlCollection">

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/schmu.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">27.-29. Nov.<br/>ab 12 Uhr</div>
          <div class="location">Afrikaner- &amp; <br/>Rotensternviertel</div>
        </div>
      </div>
      <div class="txt"><strong>SCHMU. Schmuckes zum Schmusen.</strong><br/>
        13 Fräuleins zeigen ihre Feinheiten & der Schmusechor singt. <br/>
        <i class="address">Praterstraße 16</i></div>
      <a href="http://www.itsgutso.com/" target="_blank">www.itsgutso.com</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/anachron.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">8.Dez<br/>15-18 Uhr</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Adventbasteln für Groß & Klein</strong> mit ANA chron. Schaut vorbei und faltet
        nostalgische Weihnachtsdeko aus alten Buchseiten oder Notenblättern!<br/>
        <i class="address">Buchhandlung Stuwerstraße 42</i></div>
      <a href="http://www.ana-chron.at/" target="_blank">www.ana-chron.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/happyhippies.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">27.Nov. &amp; 14.Dez.<br/>ab 14.30 Uhr</div>
          <div class="location">Nordbahnviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Kinderyoga – Spiel, Spaß und Entspannung!</strong><br/>
        Im Workshop verwandeln wir uns in Superhelden. Sei dabei! -10% mit dem Code: <strong>„Happy“</strong><br/>
        <i class="address">Engerthstraße 151</i></div>
      <a href="http://facebook.com/happyhippiesyoga" target="_blank">facebook.com/happyhippiesyoga</a>
    </div>

    <div class="paperCard -cord1RTsmall -illuteaser">
      <div class="wrp">
        <h3>Hier fehlt noch ein Grätzlzuckerl?</h3>
        <p>Wenn du ebenfalls ein spezielles Angebot für den 2. Bezirk hast, dann schreib ein Mail an:
          <a href="mailto:wir@imgraetzl.at">wir@imgraetzl.at</a></p>
      </div>
      <div class="card"></div>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/fotofally.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">10.Dez 14 Uhr</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Foto Fally. Das Christkindl legt bei Foto Fally im Schaufenster eine Pause ein.</strong><br/>
        Dort verteilt es an Kinder Süßigkeiten. Kaum zu glauben, aber überzeugt euch selbst. Eine Aktion im Rahmen „Schaufenster Poesie im Zweiten“.<br/>
        <i class="address">Wohlmutstraße 31</i></div>
      <a href="http://www.fotofally.at" target="_blank">www.fotofally.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/mikle.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">Dezember - Jänner</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Schmerzen, Ängste, Wünsche?</strong><br/>
        Lernen durch den Körper mit der Grinberg Methode. Mikle Hager-Adam, Grinberg
        Praktikerin, bietet auf die erste Sitzung 50% Ermäßigung (€ 25,- statt € 50,-).<br/>
        <i class="address">Molkereistraße 7</i></div>
      <a href="http://www.mikle-hager-adam.at/" target="_blank">www.mikle-hager-adam.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/vorgluehen.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">10.Dez 18.30 Uhr</div>
          <div class="location">Stuwerviertel<br/>Zwischenbrücken &amp;<br/> Nordbahnviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Vorglühen im Vorgarten.</strong><br/>
        Nachbarn eröffnen in ihren Hauseingängen, Vorgärten und Hinterhöfen kleine
        Stationen mit warmen Getränken und laden die Menschen rundherum zum
        Anstoßen ein. Einfach eigenes Häferl mitbringen!</div>
      <a href="http://www.imGrätzl.at/" target="_blank">www.imGrätzl.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/werkbuch.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">Dezember 8-10 Uhr</div>
          <div class="location">Karmeliterviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Das Werkbuchcafé.</strong><br/>
        Das Werkbuchcafé versüßt dir das Aufstehen im dunkelsten Monat des
        Jahres! Komm im Dezember zwischen 8 und 10 Uhr, denn dein liebster
        Muntermachkaffee kostet dann nur 1,80 € – to go oder to stay. Da bleibt
        man doch am liebsten noch zum Frühstück und startet inspiriert in den Tag.<br/>
        <i class="address">Haidgasse 5</i></div>
      <a href="http://www.werkbuchcafe.at/" target="_blank">www.werkbuchcafe.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/palette.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">Dezember - Jänner</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Bio-Laden Palette.</strong><br/>
        Zum Kennenlernen und für alle, die schon Fan sind: Bei Vorlage dieses
        Grätzl-Zuckerls gibt es einmal 10% auf Ihren Einkauf im Bio-Laden
        Palette. Aktion gültig von 1.12.2015 bis 31.01.2016.<br/>
        <i class="address">Vorgartenmarkt</i></div>
      <a href="http://www.palette.or.at" target="_blank">www.palette.or.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/ledersberger.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">im Dezember</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Autor Erich Ledersberger.</strong><br/>
        Ein besonderes Grätzlzuckerl haben wir für euch mit dem Autor Erich Ledersberger
        organisiert: Es gibt eine Wohnzimmerlesung zu gewinnen. Eine gute Gelegenheit,
        Freunde nach Hause einzuladen, um gemeinsam über die heiteren, manchmal auch
        tragisch-komischen Geschichten zu lachen. Der Autor des Buches „Ich bin so viele“
        verlost eine Lesung unter allen, die im Dezember ein Email senden an: <a href="mailto:e.ledersberger@gmail.com">e.ledersberger@gmail.com</a><br/>
        <a href="http://www.kakanien.com" target="_blank">www.kakanien.com</a>
      </div>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/gb.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">3. Dez ab 18 Uhr</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Triff dich mit Bewohnern beim Grätzlforum im Stuwerviertel.</strong><br/>
        Im Grätzlzentrum bringen wir uns auf den neuesten Stand und
        sammeln Stadtteilideen für das neue Jahr.<br/>
        <i class="address">Max-Winter-Platz 23</i></div>
      <a href="http://www.gbstern.at/ueber-die-gb/standorte/gb220/max-winter-platz/" target="_blank">Grätzlzentrum</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/praterundstern.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">19. Dez ab 18 Uhr</div>
          <div class="location">Volkert- &amp; Alliiertenviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Prater&amp;STERNSTUNDEN:</strong>
        Abseits der Hektik des vorweihnachtlichen Einkaufstrudels mit heißem
        Glögg und selbstgebackene Kekse + für jeden mitgebrachten STERN
        gibt’s auf den Einkauf -10%.<br/>
        <i class="address">Lessinggasse 5</i></div>
      <a href="http://www.praterundstern.at" target="_blank">www.praterundstern.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/siller.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">bis 31.3.2016</div>
          <div class="location">Nordbahnviertel</div>
        </div>
      </div>
      <div class="txt">Du willst dein Leben wieder lebendiger selbst gestalten?
        Du suchst Inspiration und Klarheit? Coaching Angebot 2 + 1 gratis. Kennwort „Lebendich. im Grätzl“</div>
      <a href="http://www.lebendich.at" target="_blank">www.lebendich.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/deutschzentrum.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">3. Dez ab 14 Uhr</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Echte Wiener und Zugezogene gesucht!</strong><br/>
        Im Deutsch-Café treff en sich Deutschlernende und Mutt ersprachler zum
        Austausch. Das Deutsch-Café trifft sich um 14 Uhr vor dem Riesenrad zum Punsch-Trinken, um 15.30 Uhr geht es
        in der Sprachschule weiter.<br/>
        <i class="address">Stuwerstraße 4</i></div>
      <a href="http://www.german-course-vienna.com/" target="_blank">www.german-course-vienna.com</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/socialgrafen.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">3. Dez ab 19.30 Uhr</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Die Socialgrafen sind zu Gast im Grätzlzentrum</strong>
        und laden die Bewohner im Stuwerviertel zu einem besonderen Experiment ein.<br/>
        <i class="address">Max-Winter-Platz 23</i></div>
      <a href="http://www.egografie.at" target="_blank">www.egografie.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/einfachsein.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">laufende Aktion</div>
          <div class="location">Volkert- &amp; Alliiertenviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Gesundheit ist die Summe aller Krankheiten, die man NICHT hat!</strong>
        Die schönsten Geschenke zum Fest und im Neuen Jahr sind Gesundheit, Wohlbefinden, Lebensfreude. Susanne Bohrn, Dipl. Gesundheitstrainerin 50+<br/>
        <i class="address">Taborstraße 100</i></div>
      <a href="http://www.einfach-sein.co.at/" target="_blank">www.einfach-sein.co.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/leynacht.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">5.-6. Dez ab 14 Uhr</div>
          <div class="location">Zwischenbrücken</div>
        </div>
      </div>
      <div class="txt"><strong>Leynachtsmarkt im Flansch:werk.</strong><br/>
        Der feine Leynachtsmarkt im Flansch:werk freut sich über euer Kommen.
        Der Geheimtipp unter den Wiener Weihnachtsmärkten ist ein heißer
        Kandidat für alle, die das Authentische schätzen und dieses Jahr ganz
        besondere Sachen verschenken möchten.<br/>
        <i class="address">Leystraße 124</i></div>
      <a href="http://www.facebook.com/Flanschwerk/" target="_blank">facebook.com/Flanschwerk</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/wortbastlerei.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">20. Dez ab 14 Uhr</div>
          <div class="location">Rotensternviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Wortbastlerei & Kinderkutsche.</strong><br/>
        Neben Punsch und Keksen letzte Geschenke bei Wortbastlerei,
        Kinderkutsche und Gästen finden und gleichzeitig herbergssuchende
        Famlien mit Spenden unterstützen. Das ist der „Himmel auf Erden“!<br/>
        <i class="address">Glockengasse 22</i></div>
      <a href="http://www.wortbastlerei.com/" target="_blank">www.wortbastlerei.com</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/klitzeklein.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">am 6. Dezember</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Café Klitzeklein.</strong><br/>
        Nach dem Bummel durch den Prater, eine Pause einlegen im feinen Café
        Klitzeklein. Zu jedem warmen Getränk gibt es eines der berühmten Brownies
        an diesem Tag um die Hälfte. Für die Kinder gibt es obendrauf noch eine
        klitzekleine Überraschung.<br/>
        <i class="address">Ausstellungsstraße / Ecke Straße des Ersten Mai</i></div>
      <a href="http://www.cafeklitzeklein.at/" target="_blank">www.cafeklitzeklein.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader -noimg">
        <div class="datelocation">
          <div class="date">Dezember - Jänner</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Business-Coaching.</strong>
        Sie suchen professionelle Begleitung zur Entwicklung und Erweiterung
        beruflicher Rollen-Kompetenz? Einstiegsangebot statt € 75,- um € 40,-
        Gültig von 1.12. 15 bis 31.01.2016.</div>
      <a href="mailto:vorgartencoach@gmail.com">vorgartencoach@gmail.com</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/shenor.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">23. Dez 16-19 Uhr<br/>24. Dez 11-14 Uhr</div>
          <div class="location">Karmeliterviertel</div>
        </div>
      </div>
      <div class="txt"><strong>shneor`s — Feinste Patisserie zum Fest.</strong>
        Handgemacht von einem, der die Kunst der himmlischen Naschereien in der
        Schweiz, Frankreich & Österreich gelernt und dabei die höchste Könnerschaft
        erreicht hat. Wie schön, dass er das gleich ums Eck bei shneor`s macht.<br/>
        <i class="address">Hermingasse 21</i></div>
      <a href="http://www.shneors.com/" target="_blank">www.shneors.com</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/lunzer.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">8. Dez von 9-19 Uhr</div>
          <div class="location">Volkert- &amp; Alliiertenviertel</div>
        </div>
      </div>
      <div class="txt"><strong>Lunzers Maß-Greißlerei</strong>
        feiert den Feiertag mit Maroni und Glühwein ohne Maß und ohne Ziel. Weihnachtsshopping mit Benefit sozusagen.<br/>
        <i class="address">Heinestraße 3</i></div>
      <a href="http://www.mass-greisslerei.at/" target="_blank">www.mass-greisslerei.at</a>
    </div>

    <div class="singleZuckerl">
      <div class="singleZuckerlHeader">
        <%= image_tag('zuckerl/radbauer.jpg', class: 'img-round') %>
        <div class="datelocation">
          <div class="date">23.Jänner</div>
          <div class="location">Stuwerviertel</div>
        </div>
      </div>
      <div class="txt"><strong>TCM — Kochen mit Pflanzen als Eiweißspender</strong><br/>
        „Grünes Eiweiß – Kochen mit Pflanzen als Eiweißspender“ nach der TCM mit Dr. Claudia Radbauer, Ernährungsmedizinerin, TCM-Ärztin.<br/>
        <i class="address">Harkortstr. 7</i></div>
      <a href="http://www.tcm-aerztin.at/" target="_blank">www.tcm-aerztin.at</a>
    </div>

    <div class="placeholderIllu">
      <%= link_to info_infos_zum_graetzlzuckerl_path, class:'badge -arrow' do %>
        Mit-<br>machen
      <%end%>
    </div>

  </div>

</section>
