<section class="usersetup -zuckerl -missing-location">
  <% if @locations.empty? %>

    <div class="cardBox" id="error_explanation">
      <p class="title">Du hast noch kein virtuelles Schaufenster!</p>
      <p>Um ein Zuckerl buchen zu können, musst du dir zuerst dein kostenloses virtuelles Schaufenster einrichten.</p>
      <%= link_to 'Kostenloses Schaufenster jetzt einrichten', new_location_path, class: 'btn-primary -rose -shadow' %>
    </div>

    <div class="introcontainer">
      <div class="introtxt">
        <div class="hl-subtext">
          <h1><em>Zuckerl buchen</em></h1>
          <p>Mit einem Zuckerl hast du die Möglichkeit günstig, einfach und unkompliziert Werbung für dein spezielles
            Angebot <%= t("region.#{current_region.id}.in_your_graetzl") %><%= ', Bezirk' if current_region.use_districts? %> oder in ganz <%= current_region %> zu schalten.</p>
        </div>

        <p>Als Zuckerl eignen sich <strong>Angebote, Gutscheine oder Rabattaktionen, aber auch allgemeine Werbung für deine Produkte.</strong>.</p>

        <p>Zuckerl können immer für den kommenden Monat im Voraus gebucht werden und laufen dann einen ganzen Monat.
        <strong>Sprich, wenn du jetzt ein Zuckerl buchst, läuft dieses im Monat <%= I18n.localize Time.now.end_of_month+1.day, format: '%B %Y' %>.</strong></p>
        <p>
          <strong>Ein Zuckerl kostet dich <%= number_to_currency(Zuckerl.price / 100) %></strong> (inkl. USt.)
          Das Zuckerl erscheint <%= t("region.#{current_region.id}.in_your_graetzl") %><%= ' und im ganzen Bezirk' if current_region.use_districts? %> auf <%= t("region.#{current_region.id}.domain_full") %>!
          Das Zuckerl wird ausserdem in die automatisierten Newsletter <%= t("region.#{current_region.id}.in_your_graetzl") %><%= ' bzw. in deinem Bezirk' if current_region.use_districts? %> eingestreut.
        </p>

        <p><strong><%= t("region.#{current_region.id}.zuckerl_headline") %>.</strong>
        <%= t("region.#{current_region.id}.zuckerl_subline") %> - Also 1 Monat die volle Sichtbarkeit für dich auf <%= t("region.#{current_region.id}.domain_short") %> :)
        <strong>Das Zuckerl kostet dich <%= number_to_currency(Zuckerl.region_price / 100) %></strong> (inkl. USt.).
        Das Zuckerl wird ausserdem in die automatisierten Newsletter <%= t("region.#{current_region.id}.in_your_region") %> eingestreut.
        </p>
      </div>
      <%= render 'users/zuckerl_actioncard', user: @user %>
    </div>

  <% else %>
    <div class="selectlocation">
      <h2 class="hl-main">Für <span>welches deiner Schaufenster</span> möchtest Du ein Zuckerl buchen?</h2>
      <div class="input-select">
        <label>
          <%= icon_tag "label-tag" %>
          <span>Location</span>
        </label>
        <%= select_tag :location_id,
                       options_for_select(@locations.map { |location| [location.name, new_location_zuckerl_path(location)] }),
                       prompt: 'wählen',
                       onchange: 'location.href = $(this).val()' %>
      </div>
    </div>

  <% end %>
</section>
