<div class="address-setting">
  <p class="txt">Wie <span>findet</span> man dich</p>

  <div class="using-address-selection">
    <div class="input-radio">
      <%= radio_button_tag :no_address, false, params[:no_address].blank?, class: 'using-address-switch' %>
      <%= label_tag :no_address_false, "Adresse anzeigen" %>
    </div>
    <div class="input-radio">
      <%= radio_button_tag :no_address, true, params[:no_address].present?, class: 'using-address-switch' %>
      <%= label_tag :no_address_true, "Ohne Adresse" %>
    </div>
  </div>

  <div id="not-using-address-fields">
    <% if current_region.use_districts? %>
      <div class="input-select">
        <label>
          <%= icon_tag "map-location" %>
          <span>Bezirk</span>
        </label>
        <%= select nil, :district_id, district_select_options, { prompt: 'wählen', selected: f.object.graetzl&.district_id },
            { class: 'district-input' } %>
      </div>
    <% end %>

    <div class="input-select">
      <label>
        <%= icon_tag "flag-1" %>
        <span><%= t("region.#{current_region.id}.graetzl") %></span>
      </label>
      <%= f.select :graetzl_id, graetzl_select_options, { prompt: 'wählen', required: true },
          { class: 'graetzl-input' } %>
    </div>
  </div>

  <div id="using-address-fields" class="address-autocomplete" data-url="<%= address_search_url %>">
    <div class="input-field">
      <%= f.label :address_street do %>
        <%= icon_tag "map-location" %>
        <span>Adresse</span>
      <% end %>
      <%= f.text_field :address_street, placeholder: 'Straße und Hausnummer', class: 'address-autocomplete-input' %>
    </div>

    <%= f.hidden_field :address_coords, class: 'address-coords-input' %>

    <div class="form-columns">
      <div class="input-field">
        <%= f.label :address_zip do %>
          <%= icon_tag "map-location" %>
          <span>Postleitzahl</span>
        <% end %>
        <%= f.text_field :address_zip, placeholder: 'PLZ', class: 'address-zip-input' %>
      </div>

      <div class="input-field">
        <%= f.label :address_city do %>
          <%= icon_tag "map-location" %>
          <span>Ort</span>
        <% end %>
        <%= f.text_field :address_city, placeholder: 'Ort', class: 'address-city-input' %>
      </div>
    </div>

    <div class="input-select">
      <label>
        <%= icon_tag "flag-1" %>
        <span><%= t("region.#{current_region.id}.graetzl") %></span>
      </label>
      <%= f.select :graetzl_id, current_region.graetzls.sort_by(&:zip_name).map{|g| [g.zip_name, g.id]},
          { prompt: 'wählen', required: true }, { class: 'address-graetzl-input' } %>
    </div>

    <div class="input-field">
      <%= f.label :address_description do %>
        <%= icon_tag "location" %>
        <span>Ortsbeschreibung</span>
      <% end %>
      <%= f.text_field :address_description, placeholder: 'z.B.: Kaiserwiese, Gasthaus Hansy, Yoga-Studio am Eck, etc.' %>
    </div>

  </div>

</div>
