<div class="form-block">
  <p class="txt">So kann man dich <span>erreichen</span></p>

  <div class="input-field">
    <%= f.label :online_shop_url do %>
        <%= icon_tag "onlineshop" %>
        <span>Online Shop</span>
    <% end %>
    <%= f.text_field :online_shop_url, placeholder: 'Falls du Produkte über deinen eigenen Online Shop verkaufst ...' %>
  </div>

  <div class="input-field">
    <%= f.label :website_url do %>
        <%= icon_tag "globe" %>
        <span>Homepage</span>
    <% end %>
    <%= f.text_field :website_url, placeholder: 'http:// oder https://' %>
  </div>

  <div class="input-field">
    <%= f.label :email do %>
      <%= icon_tag "at-symbol" %>
      <span>E-Mail Adresse</span>
    <% end %>
    <%= f.email_field :email, placeholder: 'E-Mail', class: '-validate' %>
  </div>

  <div class="input-field">
    <%= f.label :phone do %>
      <%= icon_tag "phone" %>
      <span>Telefon</span>
    <% end %>
    <%= f.telephone_field :phone, placeholder: '+43 xxx xxxxxxx' %>
  </div>

  <div class="input-textarea">
    <%= f.label :open_hours do %>
      <%= icon_tag "time-clock" %>
      <span>Öffnungszeiten</span>
    <% end %>
    <%= f.text_area :open_hours, placeholder: 'Wann bist du vor Ort anzutreffen' %>
  </div>
</div>
