<%= form_for(@location) do |f| %>
  <%= hidden_field_tag :selected_graetzl_id, params[:selected_graetzl_id] %>
  <%= f.hidden_field :graetzl_id %>

  <%= form_errors_for @location %>

  <div class="form-block">
    <p class="txt"><span>Details</span> zu deiner Location</p>

    <div class="input-field">
      <%= f.label :name do %>
        <%= icon_tag "location" %>
        <span>Name</span>
      <% end %>
      <%= f.text_field :name, placeholder: 'Name deiner Location / Benenne deine Tätigkeit' %>
    </div>

    <div class="input-field">
      <%= f.label :slogan do %>
        <%= icon_tag "quotes" %>
        <span>Slogan</span>
      <% end %>
      <%= f.text_field :slogan, placeholder: 'Kurzer Slogan bzw. Beschreibung' %>
    </div>

    <div class="input-textarea -description">
      <%= f.label :description do %>
        <%= icon_tag "layout-document" %>
        <span>Beschreibung</span>
      <% end %>
      <%= f.text_area :description, placeholder: 'Ausführlichere Beschreibung deiner Location. Was bietest du an? Worum gehts?' %>
    </div>

    <div class="input-select">
      <%= f.label :location_category_id do %>
        <%= icon_tag "record" %>
        <span><%= Location.human_attribute_name(:location_category) %></span>
      <% end %>
      <%= f.collection_select :location_category_id,
                              LocationCategory.all, :id, :name,
                              { prompt: 'Um welche Art von Location handelt es sich..' } %>
    </div>

    <div class="input-tags">
      <%= f.label :product_list do %>
        <%= icon_tag "label-tag" %>
        <span><%= Location.human_attribute_name(:product_list) %><br/><small>(mit Komma getrennt)</small></span>
      <% end %>
      <%= f.text_field :product_list, value: @location.product_list.to_s %>
    </div>

    <div class="upload-oldschool">
      <%= f.label :cover_photo do %>
        <%= icon_tag "photo-camera" %>
        <span>Coverphoto</span>
      <% end %>
      <div class="field-wrp">
        <% if f.object.cover_photo %>
          <div class="preview-wrp">
            <%= image_tag f.object.cover_photo_url(:small) %>
            <div class="input-checkbox">
              <%= f.check_box :remove_cover_photo, { class: 'deleteCheckbox' } %>
              <%= f.label :remove_cover_photo, 'Löschen' %>
            </div>
          </div>
        <% end %>
        <%= f.hidden_field :cover_photo, value: f.object.cached_cover_photo_data %>
        <%= f.file_field :cover_photo %>
      </div>
    </div>

    <div class="upload-oldschool">
      <%= f.label :avatar do %>
        <%= icon_tag "photo-camera" %>
        <span>Profilbild</span>
      <% end %>
      <div class="field-wrp">
        <% if f.object.avatar %>
          <div class="preview-wrp">
            <%= image_tag f.object.avatar_url(:small), class: 'img-round' %>
            <div class="input-checkbox">
              <%= f.check_box :remove_avatar, { class: 'deleteCheckbox' } %>
              <%= f.label :remove_avatar, 'Löschen' %>
            </div>
          </div>
        <% end %>
        <%= f.hidden_field :avatar, value: f.object.cached_avatar_data %>
        <%= f.file_field :avatar %>
      </div>
    </div>
  </div>

  <%= render 'locations/form/contact_fields', f: f %>

  <div class="form-block">
    <%= render 'locations/form/address_fields', f: f %>
  </div>

  <%= f.button data: { disable_with: 'speichert...' }, class: 'btn-primary' %>
<% end %>
