<%= form_for(@location) do |f| %>
  <%= form_errors_for @location %>

  <div class="form-block">
    <p class="txt"><span>Details</span> zu deinem Schaufenster</p>

    <div class="input-field">
      <%= f.label :name do %>
        <%= icon_tag "location" %>
        <span>Name</span>
      <% end %>
      <%= f.text_field :name, placeholder: 'Name deines Schaufensters / Benenne deine Tätigkeit' %>
    </div>

    <div class="input-field">
      <%= f.label :slogan do %>
        <%= icon_tag "quotes" %>
        <span>Slogan</span>
      <% end %>
      <%= f.text_field :slogan, placeholder: 'Kurzer Slogan bzw. Beschreibung', data: { max_chars: 160 }, maxlength:160 %>
      <span class="charCountContainer charsLeft"></span>
    </div>

    <div class="input-textarea -description">
      <%= f.label :description do %>
        <%= icon_tag "layout-document" %>
        <span>Beschreibung</span>
      <% end %>
      <%= f.text_area :description, placeholder: 'Ausführlichere Beschreibung. Was bietest du an? Worum gehts?', data: { min_chars: 250 } %>
      <div class="charCountContainer">
        <span class="charsCount"></span>
        <span class="charsMin"></span>
      </div>
    </div>

    <div class="input-textarea -description">
      <%= f.label :description_background do %>
        <%= icon_tag "layout-document" %>
        <span>Dein Background</span>
      <% end %>
      <%= f.text_area :description_background, placeholder: 'Wie bist du zu deinem Thema oder deiner Tätigkeit gekommen?' %>
    </div>

    <div class="input-textarea -description">
      <%= f.label :description_favorite_place do %>
        <%= icon_tag "layout-document" %>
        <span>Lieblingsort ums Eck</span>
      <% end %>
      <%= f.text_area :description_favorite_place, placeholder: 'Was/wo ist dein liebster Ort bei dir ums Eck und warum?' %>
    </div>

    <div class="input-select" id="location-cat">
      <%= f.label :location_category_id do %>
        <%= icon_tag "record" %>
        <span>Kategorie</span>
      <% end %>
      <%= f.collection_select :location_category_id,
                              LocationCategory.all, :id, :name,
                              { prompt: 'Um welche Art von Schaufenster handelt es sich..' } %>
    </div>

    <div class="input-tags">
      <%= f.label :product_list do %>
        <%= icon_tag "label-tag" %>
        <span>Schlagworte<br/><small>(mit Komma getrennt)</small></span>
      <% end %>
      <%= f.text_field :product_list, value: @location.product_list.to_s %>
    </div>

    <div class="upload-oldschool">
      <%= f.label :cover_photo do %>
        <%= icon_tag "photo-camera" %>
        <span>Coverphoto<small class="upload-hint">(max. 5MB)</small></span>
      <% end %>
      <div class="field-wrp">
        <%= upload_image_input(f, :cover_photo) %>
      </div>
    </div>

    <div class="upload-oldschool">
      <%= f.label :avatar do %>
        <%= icon_tag "photo-camera" %>
        <span>Profilbild<small class="upload-hint">(max. 5MB)</small></span>
      <% end %>
      <div class="field-wrp">
        <%= upload_image_input(f, :avatar) %>
      </div>
    </div>

    <div class="upload-oldschool">
      <%= f.label :images do %>
        <%= icon_tag "photo-camera" %>
        <span>Weitere Fotos<small class="upload-hint">(max. 5MB / Foto)</small></span>
      <% end %>
      <div class="field-wrp">
        <%= upload_image_input(f, :images, multiple: true) %>
      </div>
    </div>
  </div>

  <%= render 'locations/form/contact_fields', f: f %>

  <div class="form-block">
    <%= render 'locations/form/address_fields', f: f %>
  </div>

  <div class="form-block">
    <p class="txt">Mein <span>Goodie für <%= t("region.#{current_region.id}.domain_short") %> Mitglieder</p>
    <p class="desc"><strong>Von Macher*innen für Macher*innen:</strong><br>Trage hier z.B. einen Rabatt oder einen anderen Vorteil ein, den du speziell der <%= t("region.#{current_region.id}.domain_short") %> Community gewähren möchtest. Dieser erscheint in der Kategorie "Goodie" und ist nur für <%= t("region.#{current_region.id}.domain_short") %> Mitglieder sichtbar.</p>

    <div class="input-textarea -description">
      <%= f.label :goodie do %>
        <%= icon_tag "goodie" %>
        <span>Mitglieder Goodie</span>
      <% end %>
      <%= f.text_area :goodie, placeholder: 'Beschreibe dein Goodie in 1-2 Sätzen ... (250 Zeichen)', maxlength: 250 %>
    </div>

  </div>

  <div class="input-button">
    <%= f.button data: { disable_with: 'speichert...' }, class: 'btn-primary -saving' %>
  </div>

<% end %>
