// inject address values into hidden form
<% if @address %>
  $('#user_address_attributes_street_name').val('<%= @address.street_name %>');
  $('#user_address_attributes_street_number').val('<%= @address.street_number %>');
  $('#user_address_attributes_zip').val('<%= @address.zip %>');
  $('#user_address_attributes_city').val('<%= @address.city %>');
  $('#user_address_attributes_coordinates').val('<%= @address.coordinates %>');
<% end %>

// empty form element form previous serch
$('#user_graetzl').empty();

// render new input fields
<% @graetzls.each do |graetzl| %>
  var input = "<input id='user_graetzl_attributes_name_"
    + "<%= graetzl.id %>'"
    + "name='user[graetzl_attributes][name]' type='radio'"
    + "value='"
    + "<%= graetzl.name %>"
    + "'>";
  var label = "<label for='user_graetzl_attributes_name'>"
    + "<%= graetzl.name %>"
    + "</label>";

  $('#user_graetzl').append(input);
  $('#user_graetzl').append(label);
  $('#user_graetzl').append("<br>");
<% end %>

// show form
$('#user_graetzl').slideDown(350);