<% title('Registrierung') %>

<section class="register-selectGraetzl">

  <h2>Wähle dein <span>Heimatgrätzl</span></h2>

  <div class="txt">
    <p>
      <% if !@search_input.blank? %>

        <% if @graetzls.size < 4 %>
          Unter <span class="address"><%= @search_input %></span> konnten wir <%= @graetzls.size %> Grätzl finden.<br>
          Wo fühlst du dich denn zuhause?</p>
        <% else %>
          Unter <span class="address"><%= @search_input %></span> konnten wir leider kein Grätzl finden.<br>
          Bitte wähle dein Grätzl manuell.
        <% end %>

      <% else %>

        Bitte wähle dein Grätzl manuell.<br>
          <span class="txt-hint">(Du kannst deine Auswahl später noch ändern)</span>

      <% end %>
    </p>

  </div>


  <%= form_tag(addresses_match_path, method: :post) do %>

    <% if @graetzls.size < 4 %>

      <%= render 'radios' %>

    <% else %>

      <%= render 'select' %>

    <% end %>

    <div class="nav-btnBar">
      <%= link_to 'Schritt zurück', 'javascript:history.back();' %>
      <%= button_tag 'Weiter', class: 'btn-primary' %>
    </div>


  <% end %>

</section>