<div class="keydata-facts">
  <div class="headline">Eckdaten</div>
  <ul class="facts">
    <li><strong>Plattform Booster:</strong> 1 Woche in ganz <%= @room_offer.region %></li>
    <li><strong>Laufzeit:</strong> <%= @room_booster.runtime %></li>
    <li><strong>Newsletter:</strong> <%= I18n.localize(@room_booster.send_at_date , format:'%a, %d.%m.%Y') %> in ganz <%= @room_offer.region %></li>
    <li><strong>Preis:</strong> <%= @room_booster.amount ? number_to_currency(@room_booster.amount) : number_to_currency(RoomBooster.price(@room_offer.region) / 100) %> (inkl. 20% USt.)</li>
  </ul>
</div>
