<div class="nested-fields -line crowd-donation-room">
  <%= f.hidden_field :donation_type, value: 'room' %>

  <% already_pledged = @crowd_campaign.crowd_donation_pledges.exists?(crowd_donation_id: f.object.id) %>
  <% disabled = local_assigns[:disabled] && already_pledged %>
  <% deleteable = !local_assigns[:disabled] || !already_pledged %>

  <div class="input-field -toggle">
    <%= f.label :title do %>
      <%= icon_tag "record" %>
      <span>Benötigte Räumlichkeiten</span>
    <% end %>
    <%= f.text_field :title, placeholder: "Welche art von Räumlichkeiten benötigst du? ...", data: { max_chars: 100 }, maxlength:100, required: true, disabled: disabled %>
    <span class="charCountContainer charsLeft"></span>
  </div>

  <div class="toggle-content">

    <div class="input-textarea">
      <%= f.label :description do %>
        <%= icon_tag "layout-document" %>
        <span>Beschreibung</span>
      <% end %>
      <%= f.text_area :description, placeholder: 'Beschreibung ...', data: { max_chars: 500 }, required: true, disabled: disabled %>
      <span class="charCountContainer charsLeft"></span>
    </div>

    <div class="form-columns">

      <div class="input-field">
        <%= f.label :startdate do %>
          <%= icon_tag "calendar-2" %>
          <span>Benötigt ab frühestens</span>
        <% end %>
        <%= f.text_field :startdate,
                         value: (I18n.localize(f.object.startdate, format:'%A, %d. %B %Y') if f.object.startdate),
                         data: { value: (I18n.localize(f.object.startdate, format:'%Y-%m-%d') if f.object.startdate) },
                         class: 'datepicker',
                         placeholder: 'wählen', disabled: disabled %>
      </div>

      <div class="input-field">
        <%= f.label :enddate do %>
          <%= icon_tag "calendar-2" %>
          <span>Benötigt bis spätestens</span>
        <% end %>
        <%= f.text_field :enddate,
                         value: (I18n.localize(f.object.enddate, format:'%A, %d. %B %Y') if f.object.enddate),
                         data: { value: (I18n.localize(f.object.enddate, format:'%Y-%m-%d') if f.object.enddate) },
                         class: 'datepicker',
                         placeholder: 'wählen', disabled: disabled %>
      </div>

    </div>
    <div class="input-textarea">
      <%= f.label :question do %>
      <%= icon_tag "layout-document" %>
      <span>Frage an die RaumspenderIn</span>
      <% end %>
      <%= f.text_area :question, placeholder: 'Benötigst du noch weitere Infos von der RaumspenderIn? Stell hier deine Frage ...', disabled: disabled %>
    </div>
    <% if deleteable %>
      <%= link_to_remove_association f, data: { confirm: 'Raumspende löschen?' } do %>
        <div class="btn-delete">
          <%= icon_tag "trash-delete-remove" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
