<div class="nested-fields -line crowd-donation-material">
  <%= f.hidden_field :donation_type, value: 'material' %>
  <% disabled = local_assigns[:disabled] %>
  <% deleteable = !local_assigns[:disabled] %>

  <div class="input-field -toggle">
    <%= f.label :title do %>
      <%= icon_tag "record" %>
      <span>Benötigtes Material</span>
    <% end %>
    <%= f.text_field :title, placeholder: "Welches Material / Equipment benötigst du? ...", required: !@crowd_campaign.draft?, disabled: disabled %>
  </div>

  <div class="toggle-content">

      <div class="input-field">
        <%= f.label :limit do %>
          <%= icon_tag "slots" %>
          <span>Benötigte Stückzahl</span>
        <% end %>
        <%= f.text_field :limit, placeholder: "Wieviel benötigst du maximal von diesem Material?", disabled: disabled %>
      </div>

      <div class="input-textarea">
        <%= f.label :description do %>
      <%= icon_tag "layout-document" %>
      <span>Beschreibung</span>
      <% end %>
      <%= f.text_area :description, placeholder: 'Beschreibung ...', disabled: disabled %>
    </div>

    <div class="form-columns">

      <div class="input-field">
        <%= f.label :startdate do %>
          <%= icon_tag "calendar-2" %>
          <span>Benötigt ab frühestens</span>
        <% end %>
        <%= f.text_field :startdate,
                         value: (I18n.localize(f.object.startdate, format:'%A, %d. %B %Y') if f.object.startdate),
                         data: { value: (I18n.localize(f.object.startdate, format:'%Y-%m-%d') if f.object.startdate) },
                         class: 'datepicker',
                         placeholder: 'wählen', disabled: disabled %>
      </div>

      <div class="input-field">
        <%= f.label :enddate do %>
          <%= icon_tag "calendar-2" %>
          <span>Benötigt bis spätestens</span>
        <% end %>
        <%= f.text_field :enddate,
                         value: (I18n.localize(f.object.enddate, format:'%A, %d. %B %Y') if f.object.enddate),
                         data: { value: (I18n.localize(f.object.enddate, format:'%Y-%m-%d') if f.object.enddate) },
                         class: 'datepicker',
                         placeholder: 'wählen', disabled: disabled %>
      </div>

    </div>
    <% if deleteable %>
      <%= link_to_remove_association f, data: { confirm: 'Sachspende löschen?' } do %>
        <div class="btn-delete">
          <%= icon_tag "trash-delete-remove" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
