<div class="form-block">

  <p class="txt">Abschließende <span>Daten</span>, bervor wir fertig sind ...</p>

  <div class="input-field">
    <%= f.label :contact_name do %>
      <%= icon_tag "user-avatar" %>
      <span>Name</span>
    <% end %>
    <%= f.text_field :contact_name, placeholder: 'Vor- & Nachname', disabled: !@crowd_campaign.editable? %>
  </div>

  <div class="input-field">
    <%= f.label :contact_company do %>
      <%= icon_tag "user-avatar" %>
      <span>Firma</span>
    <% end %>
    <%= f.text_field :contact_company, placeholder: 'Firma (optional)', disabled: !@crowd_campaign.editable? %>
  </div>

  <div class="input-field">
    <%= f.label :vat_id do %>
      <%= icon_tag "profile-vcard" %>
      <span>UID-Nummer</span>
    <% end %>
    <%= f.text_field :vat_id, placeholder: 'Umsatz-Steuer-Identifikations-Nummer (falls vorhanden).', disabled: !@crowd_campaign.editable? %>
  </div>

  <div class="input-field">
    <%= f.label :contact_email do %>
      <%= icon_tag "at-symbol" %>
      <span>E-Mail</span>
    <% end %>
    <%= f.text_field :contact_email, placeholder: 'E-Mail Adresse', disabled: !@crowd_campaign.editable? %>
  </div>

  <div class="input-field">
    <%= f.label :contact_phone do %>
      <%= icon_tag "phone" %>
      <span>Telefon</span>
    <% end %>
    <%= f.text_field :contact_phone, placeholder: '+43 xxx xxxxxxx', disabled: !@crowd_campaign.editable? %>
  </div>

  <div class="input-field">
    <%= f.label :contact_address do %>
      <%= icon_tag "map-location" %>
      <span>Strasse & Nr.</span>
    <% end %>
    <%= f.text_field :contact_address, placeholder: 'Strasse & Nr.', disabled: !@crowd_campaign.editable? %>
  </div>

  <div class="form-columns">

    <div class="input-field">
      <%= f.label :contact_zip do %>
        <%= icon_tag "map-location" %>
        <span>Postleitzahl</span>
      <% end %>
      <%= f.text_field :contact_zip, placeholder: 'PLZ', disabled: !@crowd_campaign.editable? %>
    </div>

    <div class="input-field">
      <%= f.label :contact_city do %>
        <%= icon_tag "map-location" %>
        <span>Ort/Stadt</span>
      <% end %>
      <%= f.text_field :contact_city, placeholder: 'Stadt', disabled: !@crowd_campaign.editable? %>
    </div>
  </div>

</div>

<div class="form-block">

  <p class="txt">Kannst du <span>Rechnungen oder Spendenquittungen</span> ausstellen?</p>

  <div class="input-select">
    <%= label_tag :billable do %>
      <%= icon_tag "profile-vcard" %>
      <span>Rechnung / Beleg</span>
    <% end %>
    <%= f.select :billable, billable_values, { include_blank: 'auswählen...' }, disabled: !@crowd_campaign.editable? %>
  </div>

</div>

<div class="form-block">

  <p class="txt"><span>Links</span> zu deinem Projekt</p>

  <div class="input-field">
    <%= f.label :contact_website do %>
      <%= icon_tag "globe" %>
      <span>Website</span>
    <% end %>
    <%= f.text_field :contact_website, placeholder: 'http:// oder https://' %>
  </div>

  <div class="input-field">
    <%= f.label :contact_instagram do %>
      <%= icon_tag "social-instagram" %>
      <span>Instagram</span>
    <% end %>
    <%= f.text_field :contact_instagram, placeholder: 'https://www.instagram.com/xyz' %>
  </div>

  <div class="input-field">
    <%= f.label :contact_facebook do %>
      <%= icon_tag "social-facebook" %>
      <span>Facebook</span>
    <% end %>
    <%= f.text_field :contact_facebook, placeholder: 'https://www.facebook.com/xyz' %>
  </div>

</div>

<% if current_user.locations.present? || current_user.room_offers.present? %>
  <div class="form-block">

    <p class="txt">Dein <span>Projekt verknüpfen</span> mit ...</p>

    <% if current_user.locations.present? %>
      <div class="input-select">
        <%= f.label :location_id do %>
          <%= icon_tag "location" %>
          <span>Schaufenster</span>
        <% end %>
        <%= f.collection_select(:location_id, current_user.locations, :id, :name, {:include_blank => 'Schaufenster verknüpfen..'}) %>
      </div>
    <% end %>

    <% if current_user.room_offers.present? %>
      <div class="input-select">
        <%= f.label :room_offer_id do %>
          <%= icon_tag "raumteiler" %>
          <span>Raumangebot</span>
        <% end %>
        <%= f.collection_select(:room_offer_id, current_user.room_offers, :id, :slogan, {:include_blank => 'Raumteiler verknüpfen..'}) %>
      </div>
    <% end %>

  </div>
<% end %>

<% if @crowd_campaign.created_at.present? && @crowd_campaign.created_at >= Time.zone.local(2025, 11, 1) %>
  <%= render "crowd_campaigns/form/service_fee_percentage_high", crowd_campaign: @crowd_campaign %>
<% elsif @crowd_campaign.service_fee_percentage >= 5.0 %>
  <%= render "crowd_campaigns/form/service_fee_percentage_base", crowd_campaign: @crowd_campaign %>
<% end %>
