<div class="form-block">

  <p class="txt">Abschließende <span>Daten</span>, bervor wir fertig sind ...</p>

  <div class="input-field">
    <%= f.label :contact_name do %>
      <%= icon_tag "user-avatar" %>
      <span>Name</span>
    <% end %>
    <%= f.text_field :contact_name, placeholder: 'Vor- & Nachname', disabled: !@crowd_campaign.editable? %>
  </div>

  <div class="input-field">
    <%= f.label :contact_company do %>
      <%= icon_tag "user-avatar" %>
      <span>Firma</span>
    <% end %>
    <%= f.text_field :contact_company, placeholder: 'Firma (optional)', disabled: !@crowd_campaign.editable? %>
  </div>

  <div class="input-field">
    <%= f.label :contact_website do %>
      <%= icon_tag "globe" %>
      <span>Website</span>
    <% end %>
    <%= f.text_field :contact_website, placeholder: 'http:// oder https://', disabled: !@crowd_campaign.editable? %>
  </div>

  <div class="input-field">
    <%= f.label :contact_instagram do %>
      <%= icon_tag "social-instagram" %>
      <span>Instagram</span>
    <% end %>
    <%= f.text_field :contact_instagram, placeholder: 'https://www.instagram.com/xyz', disabled: !@crowd_campaign.editable? %>
  </div>

  <div class="input-field">
    <%= f.label :contact_facebook do %>
      <%= icon_tag "social-facebook" %>
      <span>Facebook</span>
    <% end %>
    <%= f.text_field :contact_facebook, placeholder: 'https://www.facebook.com/xyz', disabled: !@crowd_campaign.editable? %>
  </div>

  <div class="input-field">
    <%= f.label :contact_email do %>
      <%= icon_tag "at-symbol" %>
      <span>E-Mail</span>
    <% end %>
    <%= f.text_field :contact_email, placeholder: 'E-Mail Adresse', disabled: !@crowd_campaign.editable? %>
  </div>

  <div class="input-field">
    <%= f.label :contact_phone do %>
      <%= icon_tag "phone" %>
      <span>Telefon</span>
    <% end %>
    <%= f.text_field :contact_phone, placeholder: '+43 xxx xxxxxxx', disabled: !@crowd_campaign.editable? %>
  </div>

  <div class="input-field">
    <%= f.label :contact_address do %>
      <%= icon_tag "map-location" %>
      <span>Strasse & Nr.</span>
    <% end %>
    <%= f.text_field :contact_address, placeholder: 'Strasse & Nr.', disabled: !@crowd_campaign.editable? %>
  </div>

  <div class="form-columns">

    <div class="input-field">
      <%= f.label :contact_zip do %>
        <%= icon_tag "map-location" %>
        <span>Postleitzahl</span>
      <% end %>
      <%= f.text_field :contact_zip, placeholder: 'PLZ', disabled: !@crowd_campaign.editable? %>
    </div>

    <div class="input-field">
      <%= f.label :contact_city do %>
        <%= icon_tag "map-location" %>
        <span>Ort/Stadt</span>
      <% end %>
      <%= f.text_field :contact_city, placeholder: 'Stadt', disabled: !@crowd_campaign.editable? %>
    </div>
  </div>

</div>

<div class="form-block">

  <p class="txt">Kannst du <span>Rechnungen oder Spendenquittungen</span> ausstellen?</p>

  <div class="input-select">
    <%= label_tag :billable do %>
      <%= icon_tag "profile-vcard" %>
      <span>Rechnung / Beleg</span>
    <% end %>
    <%= f.select :billable, billable_values, { include_blank: 'auswählen...' }, disabled: !@crowd_campaign.editable? %>
  </div>

</div>

<% if current_user.locations.present? || current_user.room_offers.present? %>
  <div class="form-block">

    <p class="txt">Dein <span>Projekt verknüpfen</span> mit ...</p>

    <% if current_user.locations.present? %>
      <div class="input-select">
        <%= f.label :location_id do %>
          <%= icon_tag "location" %>
          <span>Schaufenster</span>
        <% end %>
        <%= f.collection_select(:location_id, current_user.locations, :id, :name, {:include_blank => 'Schaufenster verknüpfen..'}) %>
      </div>
    <% end %>

    <% if current_user.room_offers.present? %>
      <div class="input-select">
        <%= f.label :room_offer_id do %>
          <%= icon_tag "raumteiler" %>
          <span>Raumangebot</span>
        <% end %>
        <%= f.collection_select(:room_offer_id, current_user.room_offers, :id, :slogan, {:include_blank => 'Raumteiler verknüpfen..'}) %>
      </div>
    <% end %>

  </div>
<% end %>


<% if @crowd_campaign.service_fee_percentage >= 5.0 %>
  <div class="form-block percentage-block" data-percent="<%= percentage_to_value(@crowd_campaign.service_fee_percentage) %>">

    <p class="txt">Dein <span>Kostenbeitrag</span></p>
    <p>
      Wenn deine Kampagne erfolgreich ist, behalten wir 5,0 % des erreichten Betrags (inkl. MwSt.) für den externen Zahlungsdienstleister ein. 
      Du bestimmst selbst, wie viel du dem <%= t("region.#{current_region.id}.domain_short") %>-Team für die Arbeit und den Betrieb der Plattform gibst. 
      Wir glauben an ein faires Geben und Nehmen als Basis für ein starkes WIR.
    </p>
    <br>
    <p>
      <strong>Wenn deine Kampagne nicht erfolgreich ist, kostet sie dich nichts.</strong>
      Wir übernehmen dann ggf. auch die Kosten, die im Zusammenhang mit dem Zahlungsanbieter aufgetreten sind (z.B. den Legitimations Check etc.).
    </p>
    <% if @crowd_campaign.crowdfunding_call? %>
    <br>
    <p>
        Wenn du an unserem Call teilnimmst und dein Vorhaben ausgewählt wird, bekommst du ein großes Sichtbarkeits- & Beratungspaket umsonst. 
    </p>
    <% end %>

    <div class="input-range">

      <div class="range">
        <input id="percentage" type="range" min="0" max="5" value="<%= percentage_to_value(@crowd_campaign.service_fee_percentage) %>" data-url="<%= set_percentage_crowd_campaign_path(@crowd_campaign) %>" <%= @crowd_campaign.editable? ? '' : 'disabled=true' %> /> 
        <ul>
          <li class="percent-0">5,0 %</li>
          <li class="percent-1">6,0 %</li>
          <li class="percent-2">7,0 %</li>
          <li class="percent-3">8,0 %</li>
          <li class="percent-4">9,0 %</li>
          <li class="percent-5">10,0 %</li>
        </ul>
      </div>

      <!-- graz facts are hidden via css -->
      
      <div class="percent-info-container">
        <div class="percent-0 cardBox">
          <h3>Das Minimum ist gegeben.</h3>
          Was können wir mit <%= t("region.#{current_region.id}.domain_short") %> noch besser machen, um dich zu überzeugen?
        </div>
        <div class="percent-1 cardBox">
          <h3>Es ist ein Anfang.</h3>
          Wie können wir dich für noch mehr Unterstützung begeistern?
        </div>
        <div class="percent-2 cardBox">
          <h3>Herzlichen Dank!</h3>
          Dein Beitrag ermöglicht es uns, an <%= t("region.#{current_region.id}.domain_short") %> dran zu bleiben.
          <div class="facts">
            <h3>Du bekommst von uns:</h3>
            <ul>
              <li><strong>Sichtbarkeits-Boost:</strong> Dein Projekt wird zum Start <%= t("region.#{current_region.id}.region_wide_newsletter") %> prominent platziert, um eine breite Aufmerksamkeit zu erzielen!</li>
              <li><strong>Exklusiver Crowdfunding Check:</strong> Profitiere von 15 Minuten individueller Beratung und erhalte wertvolle Tipps für den Erfolg deiner Kampagne.</li>
            </ul>
          </div>
        </div>
        <div class="percent-3 cardBox">
          <h3>1000 Dank an dich!</h3>
          Mit jedem zusätzlichen Prozentpunkt unterstützt du <%= t("region.#{current_region.id}.domain_short") %> entscheidend.
          <div class="facts">
            <h3>Du bekommst von uns:</h3>
            <ul>
              <li><strong>Sichtbarkeits-Boost:</strong> Dein Projekt wird zum Start <%= t("region.#{current_region.id}.region_wide_newsletter") %> prominent platziert, um eine breite Aufmerksamkeit zu erzielen!</li>
              <li><strong>Exklusiver Crowdfunding Check:</strong> Profitiere von 15 Minuten individueller Beratung und erhalte wertvolle Tipps für den Erfolg deiner Kampagne.</li>
            </ul>
          </div>
        </div>
        <div class="percent-4 cardBox">
          <h3>Alles für die Gemeinschaft!</h3>
            Danke, dass du die Ziele von <%= t("region.#{current_region.id}.domain_short") %> so großartig unterstützt. Herzlichen Dank dafür!
            <div class="facts">
              <h3>Du bekommst von uns:</h3>
              <ul>
              <li><strong>Sichtbarkeits-Boost:</strong> Dein Projekt wird zum Start <%= t("region.#{current_region.id}.region_wide_newsletter") %> prominent platziert, um eine breite Aufmerksamkeit zu erzielen!</li>
              <li><strong>Exklusiver Crowdfunding Check:</strong> Profitiere von 15 Minuten individueller Beratung und erhalte wertvolle Tipps für den Erfolg deiner Kampagne.</li>
            </ul>
            </div>
        </div>
        <div class="percent-5 cardBox">
          <h3>Zusammen bauen wir eine starke Plattform.</h3>
          Deine Unterstützung sichert die Zukunft von <%= t("region.#{current_region.id}.domain_short") %> und hilft uns dabei Projekte für die lokalen Macher*innen umzusetzen. Ein riesengroßes Dankeschön an dich!
          <div class="facts">
            <h3>Du bekommst von uns:</h3>
            <ul>
              <li><strong>Sichtbarkeits-Boost:</strong> Dein Projekt wird zum Start <%= t("region.#{current_region.id}.region_wide_newsletter") %> prominent platziert, um eine breite Aufmerksamkeit zu erzielen!</li>
              <li><strong>3x Workshops:</strong> Erhalte drei Workshops à 45 Minuten, um mit fundiertem Wissen und praktischen Tipps deine Kampagne zum Erfolg zu führen.</li>
              <li><strong>Premium Sichtbarkeit in unserer Community & Social Media Spotlight:</strong> Dein Projekt wird in unserer imGrätzl Community via Social Media Postings hervorgehoben.</li>
            </ul>
          </div>
        </div>    
      </div>

    </div>

  </div>
<% end %>