<div class="form-block">

  <p class="txt"><span>Wieviel benötigst du mindestens</span> um dein Vorhaben umzusetzen?</p>

  <div class="input-field">
    <%= f.label :funding_1_amount do %>
      <%= icon_tag "currency-euro" %>
      <span>Mininalbetrag</span>
    <% end %>
    <%= f.number_field :funding_1_amount, placeholder: 'Betrag in €', required: !@crowd_campaign.draft?, disabled: !@crowd_campaign.editable? %>
  </div>

  <div class="input-textarea">
    <%= f.label :funding_1_description do %>
    <%= icon_tag "layout-document" %>
    <span>Wofür benötigt?</span>
    <% end %>
    <%= f.text_area :funding_1_description, placeholder: 'Was kannst du mit dem Betrag umsetzen? ...', data: { max_chars: 500 }, required: !@crowd_campaign.draft?, disabled: !@crowd_campaign.editable? %>
    <span class="charCountContainer charsLeft"></span>
  </div>

</div>

<div class="form-block">

  <p class="txt"><span>Was wäre der optimale Betrag,</span> um dein Vorhaben umzusetzen?</p>

  <div class="input-field">
    <%= f.label :funding_2_amount do %>
      <%= icon_tag "currency-euro" %>
      <span>Optimalbetrag</span>
    <% end %>
    <%= f.number_field :funding_2_amount, placeholder: 'Betrag in €', disabled: !@crowd_campaign.editable? %>
  </div>

  <div class="input-textarea">
    <%= f.label :funding_2_description do %>
    <%= icon_tag "layout-document" %>
    <span>Wofür benötigt?</span>
    <% end %>
    <%= f.text_area :funding_2_description, placeholder: 'Was kannst du mit dem Betrag umsetzen? ...', data: { max_chars: 500 }, disabled: !@crowd_campaign.editable? %>
    <span class="charCountContainer charsLeft"></span>
  </div>

</div>

<div class="form-block donations">

  <p class="txt">Benötigst du auch <span>Materialspenden</span>?</p>

  <div class="crowd-donations-material">
    <%= f.fields_for :crowd_donations, f.object.crowd_donations.material do |field_form| %>
      <%= render 'crowd_campaigns/form/crowd_donation_material_fields', f: field_form, disabled: !@crowd_campaign.editable? if !f.object.crowd_donations.material.empty? %>
    <% end %>
    <div>
      <%= link_to_add_association 'Materialspende hinzufügen', f, :crowd_donations, partial: 'crowd_campaigns/form/crowd_donation_material_fields', class: 'btn-primary -mint -small' %>
    </div>
  </div>

</div>

<div class="form-block donations">

  <p class="txt">Benötigst du auch <span>Zeitspenden</span> bzw. <span>helfende Hände</span>?</p>

  <div class="crowd-donations-assistance">
    <%= f.fields_for :crowd_donations, f.object.crowd_donations.assistance do |field_form| %>
      <%= render 'crowd_campaigns/form/crowd_donation_assistance_fields', f: field_form, disabled: !@crowd_campaign.editable? if !f.object.crowd_donations.assistance.empty? %>
    <% end %>
    <div>
      <%= link_to_add_association 'Zeitspende hinzufügen', f, :crowd_donations, partial: 'crowd_campaigns/form/crowd_donation_assistance_fields', class: 'btn-primary -mint -small' %>
    </div>
  </div>

</div>

<div class="form-block donations">

  <p class="txt">Benötigst du auch <span>Raumspenden</span>?</p>

  <div class="crowd-donations-room">
    <%= f.fields_for :crowd_donations, f.object.crowd_donations.room do |field_form| %>
      <%= render 'crowd_campaigns/form/crowd_donation_room_fields', f: field_form, disabled: !@crowd_campaign.editable? if !f.object.crowd_donations.room.empty? %>
    <% end %>
    <div>
      <%= link_to_add_association 'Raumspende hinzufügen', f, :crowd_donations, partial: 'crowd_campaigns/form/crowd_donation_room_fields', class: 'btn-primary -mint -small' %>
    </div>
  </div>

</div>
