<div class="footer-txt">
  <div class="statusHint -<%= @crowd_campaign.status %>">
    Kampagnen Status: <span>&lt;<%= t("activerecord.attributes.crowd_campaign.statuses.#{@crowd_campaign.status}") %>&gt;</span>
  </div>
  <% if @crowd_campaign.draft? %>
  <p>
    Bitte fülle alle Felder sorgfältig aus und sobald du mit deiner Kampagne fertig bist, schicke diese (bis spätestens 48 Stunden vor Kampagnenstart) weiter zur Freigabe. Bedenke: Sobald deine Kampagne genehmigt wurde, können nicht mehr alle Felder bearbeitet werden.
  </p>
  <% elsif @crowd_campaign.pending? %>
  <p>
    Deine Kampagne wird gerade überprüft. Du erhältst eine Nachricht sobald sie genehmnigt wurde.<br>
    Sollte es notwendig sein, kannst du noch Änderungen vornehmen.
  </p>
  <% elsif @crowd_campaign.approved? %>
  <p>
    Deine Kampagne wurde genehmigt und läuft ab <%= @crowd_campaign.runtime %>.<br>
    Es können nur mehr ausgewählte Felder bearbeitet werden. Bei Fragen schreib uns an: <%= mail_to t("region.#{current_region.id}.contact_email") %>
  </p>
  <% elsif @crowd_campaign.funding? %>
  <p>
    Deine Kampagne läuft gerade - Wir drücken die Daumen. Bei Fragen schreib uns an: <%= mail_to t("region.#{current_region.id}.contact_email") %>
  </p>
  <% elsif @crowd_campaign.completed? %>
  <p>
    Deine Kampagne ist beendet. Bei Fragen schreib uns an: <%= mail_to t("region.#{current_region.id}.contact_email") %>
  </p>
  <% end %>
  <p>
    Dein Kampagnenlink: <%= link_to crowd_campaign_url(@crowd_campaign), @crowd_campaign, target: '_blank' %>
  </p>
</div>
