<div class="form-block">

  <p class="txt">Zeige uns <span>dein Projekt</span></p>

  <div class="upload-oldschool <%= @crowd_campaign.editable? ? '' : 'disabled' %>">
    <%= f.label :cover_photo do %>
      <%= icon_tag "photo-camera" %>
      <span>Coverfoto<small class="upload-hint">(max. 5MB)</small></span>
    <% end %>
    <div class="field-wrp">
      <%= upload_image_input(f, :cover_photo, disabled: !@crowd_campaign.editable?) %>
    </div>
  </div>

  <div class="upload-oldschool <%= @crowd_campaign.editable? ? '' : 'disabled' %>">
    <%= f.label :avatar do %>
      <%= icon_tag "photo-camera" %>
      <span>Profilfoto<small class="upload-hint">(max. 5MB)</small></span>
    <% end %>
    <div class="field-wrp">
      <%= upload_image_input(f, :avatar, disabled: !@crowd_campaign.editable?) %>
    </div>
  </div>

  <div class="upload-oldschool">
    <%= f.label :images do %>
      <%= icon_tag "photo-camera" %>
      <span>Weitere Fotos<small class="upload-hint">(max. 5MB / Foto)</small></span>
    <% end %>
    <div class="field-wrp">
      <%= upload_image_input(f, :images, multiple: true) %>
    </div>
  </div>

</div>

<div class="form-block">

  <div class="hl-subtext">
    <h2>Wenn du auch noch ein <span>Video</span> hast</h2>
    <p>
      Lade dein Video auf Youtube oder Vimeo hoch und trage hier die URL zu deinem Video ein.
      <%= render 'shared/questionmark', hint_id: "video", hint_message: 'Bei der URL handelt es sich um die Einbettungs-URL deines Videos (Embed). Du findest diese meistens hinter der "Teilen > Einbetten" Funktion bei deinem Video.' %>
    </p>
    <p class="upload-hint"><small><i>Beispiel Youtube: https://www.youtube.com/embed/xyz</i></small></p>
    <p class="upload-hint"><small><i>Beispiel Vimeo:  https://player.vimeo.com/video/xyz</i></small></p>
  </div>

  <div class="input-field">
    <%= f.label :video do %>
    <%= icon_tag "video-play" %>
    <span>Video URL</span>
    <% end %>
    <%= f.text_field :video, placeholder: 'Link zum Video (Youtube oder Vimeo)', disabled: !@crowd_campaign.editable? %>
  </div>

</div>
