<div class="form-block">

  <p class="txt">Zeige uns <span>dein Projekt</span></p>

  <div class="upload-oldschool">
    <%= f.label :cover_photo do %>
      <%= icon_tag "photo-camera" %>
      <span>Coverfoto<small class="upload-hint">(max. 5MB)</small></span>
    <% end %>
    <div class="field-wrp">
      <%= upload_image_input(f, :cover_photo) %>
    </div>
  </div>

  <div class="upload-oldschool">
    <%= f.label :images do %>
      <%= icon_tag "photo-camera" %>
      <span>Weitere Fotos<small class="upload-hint">(max. 5MB / Foto)</small></span>
    <% end %>
    <div class="field-wrp">
      <%= upload_image_input(f, :images, multiple: true) %>
    </div>
  </div>

</div>

<div class="form-block">

  <p class="txt">Wenn du auch noch ein <span>Video</span> hast</p>

  <div class="input-field">
    <%= f.label :video do %>
    <%= icon_tag "video-play" %>
    <span>Video URL</span>
    <% end %>
    <%= f.url_field :video, placeholder: 'Link zum Video (Youtube oder Vimeo)', class: '-validate', disabled: @crowd_campaign.not_editable? %><em></em>
  </div>

</div>
