<div class="hl-subtext title">
  <h1>Deine <span>Crowdfunding</span> Kampagne</h1>
</div>

<div class="navigation-bar-wrp">
  <div class="navigation-bar step-nav overthrow">

    <%= active_link_to edit_crowd_campaign_path(@crowd_campaign), class: "iconfilter" do %>
      <%= step_icon(@crowd_campaign, 1) %>
      <div class="txt">Projekt<br>Setup</div>
    <% end %>

    <div class="step-line"></div>

    <%= active_link_to edit_description_crowd_campaign_path(@crowd_campaign), class: "iconfilter" do %>
      <%= step_icon(@crowd_campaign, 2) %>
      <div class="txt">Projekt<br>Beschreibung</div>
    <% end %>

    <div class="step-line"></div>

    <%= active_link_to edit_finance_crowd_campaign_path(@crowd_campaign), class: "iconfilter" do %>
      <%= step_icon(@crowd_campaign, 3) %>
      <div class="txt">Projekt<br>Finanzierung</div>
    <% end %>

    <div class="step-line"></div>

    <%= active_link_to edit_rewards_crowd_campaign_path(@crowd_campaign), class: "iconfilter" do %>
      <%= step_icon(@crowd_campaign, 4) %>
      <div class="txt">Projekt<br>Dankeschöns</div>
    <% end %>

    <div class="step-line"></div>

    <%= active_link_to edit_media_crowd_campaign_path(@crowd_campaign), class: "iconfilter" do %>
      <%= step_icon(@crowd_campaign, 5) %>
      <div class="txt">Projekt<br>Medien</div>
    <% end %>

    <div class="step-line"></div>

    <%= active_link_to edit_finish_crowd_campaign_path(@crowd_campaign), class: "iconfilter" do %>
      <% if @crowd_campaign.draft? || @crowd_campaign.submit? %>
        <%= icon_tag "flag" %>
      <% else %>
        <%= icon_tag "check" %>
      <% end %>
      <div class="txt">Projekt<br>Freigabe</div>
    <% end %>

    <% if @crowd_campaign.pending? %>
      <div class="step-line"></div>
      <%= active_link_to status_crowd_campaign_path(@crowd_campaign), class: "iconfilter" do %>
        <%= icon_tag "slots" %>
        <div class="txt">Projekt wird<br> geprüft ...</div>
      <% end %>
    <% elsif @crowd_campaign.approved? %>
      <div class="step-line"></div>
      <%= active_link_to status_crowd_campaign_path(@crowd_campaign), class: "iconfilter" do %>
        <%= icon_tag "info-announcement" %>
        <div class="txt">Projekt<br>freigegeben</div>
      <% end %>
    <% elsif @crowd_campaign.funding? %>
      <div class="step-line"></div>
      <%= active_link_to status_crowd_campaign_path(@crowd_campaign), class: "iconfilter" do %>
        <%= icon_tag "crowd" %>
        <div class="txt">Projekt<br>ist aktiv</div>
      <% end %>
    <% elsif @crowd_campaign.completed? %>
      <div class="step-line"></div>
      <%= active_link_to status_crowd_campaign_path(@crowd_campaign), class: "iconfilter" do %>
        <%= icon_tag "bar-chart-growth" %>
        <div class="txt">Projekt<br>Abschluss</div>
      <% end %>
    <% end %>

  </div>
</div>

<div id="cf-preview" class="jBoxHidden">
  <iframe id="cfpreview" width="100%" height="100%" src="" frameborder="0" data-url="<%= crowd_campaign_url(@crowd_campaign, :preview => true) %>"></iframe>
</div>
