<% percentage_values = [5, 6, 7, 8, 9, 10] %>
<% current_percentage = crowd_campaign.service_fee_percentage&.to_i || CrowdCampaign::DEFAULT_SERVICE_FEE_PERCENTAGE %>
<% current_index = percentage_values.index(current_percentage) || 0 %>

<div class="form-block percentage-block" data-percent="<%= current_index %>">

  <p class="txt">Dein <span>Kostenbeitrag</span></p>
  <p>
    Wenn deine Kampagne erfolgreich ist, behalten wir 5,0 % des erreichten Betrags (inkl. MwSt.) für den externen Zahlungsdienstleister ein. 
    Du bestimmst selbst, wie viel du dem <%= t("region.#{current_region.id}.domain_short") %>-Team für die Arbeit und den Betrieb der Plattform gibst. 
    Wir glauben an ein faires Geben und Nehmen als Basis für ein starkes WIR.
  </p>
  <br>
  <p>
    <strong>Wenn deine Kampagne nicht erfolgreich ist, kostet sie dich nichts.</strong>
    Wir übernehmen dann ggf. auch die Kosten, die im Zusammenhang mit dem Zahlungsanbieter aufgetreten sind (z.B. den Legitimations Check etc.).
  </p>

  <div class="input-range">

    <div class="range">
      <input
        id="percentage"
        type="range"
        min="0"
        max="<%= percentage_values.size - 1 %>"
        value="<%= current_index %>"
        data-url="<%= set_percentage_crowd_campaign_path(crowd_campaign) %>"
        data-percentage-values="<%= percentage_values.join(',') %>"
        <%= crowd_campaign.editable? ? '' : 'disabled=true' %>
      /> 
      <ul class="<%= crowd_campaign.editable? ? 'editable' : '' %>">
        <% percentage_values.each_with_index do |value, idx| %>
          <li class="percent-<%= idx %>" data-value="<%= idx %>" data-percentage="<%= value %>"><%= "#{value},0 %" %></li>
        <% end %>
      </ul>
    </div>

    <!-- graz facts are hidden via css -->
    
    <div class="percent-info-container">
      <div class="percent-0 cardBox">
        <h3>Do-it-yourself</h3>
        <div class="facts">
          <ul>
            <li class="check"><strong>Abdeckung Grundkosten</strong> (Transaktionsgebühren inkl. Mwst.)</li>
            <li class="uncheck"><strong>Crowdfunding Coaching</strong><small>ab 6%</small></li>
            <li class="uncheck"><strong>Plattformübergreifende Platzierung und Sichtbarkeit der Kampagne</strong><small>ab 6%</small></li>
            <li class="uncheck"><strong>Prominente Darstellung der Kampagne im Newsletter</strong><small>ab 7%</small></li>
            <li class="uncheck"><strong>Platzierung der Kampagne via Social Media</strong><small>ab 8%</small></li>
            <li class="uncheck"><strong>Pressearbeit</strong><small>ab 9%</small></li>
            <li class="uncheck"><strong>Widget für deine Website</strong><small>ab 10%</small></li>
          </ul>
        </div>
      </div>
      <div class="percent-1 cardBox">
        <h3>Starter</h3>
        <div class="facts">
          <ul>
            <li class="check"><strong>Abdeckung Grundkosten</strong> (Transaktionsgebühren inkl. Mwst.)</li>
            <li class="check"><strong>Crowdfunding Coaching:</strong> Kurze individuelle Crowdfunding Einführung</li>
            <li class="check"><strong>Plattformübergreifende Platzierung und Sichtbarkeit der Kampagne</strong></li>
            <li class="uncheck"><strong>Prominente Darstellung der Kampagne im Newsletter</strong><small>ab 7%</small></li>
            <li class="uncheck"><strong>Platzierung der Kampagne via Social Media</strong><small>ab 8%</small></li>
            <li class="uncheck"><strong>Pressearbeit</strong><small>ab 9%</small></li>
            <li class="uncheck"><strong>Widget für deine Website</strong><small>ab 10%</small></li>
          </ul>
        </div>
      </div>
      <div class="percent-2 cardBox">
        <h3>Booster</h3>
        <div class="facts">
          <ul>
            <li class="check"><strong>Abdeckung Grundkosten</strong> (Transaktionsgebühren inkl. Mwst.)</li>
            <li class="check"><strong>Crowdfunding Coaching:</strong> 1 x individuelle Session Crowdfunding Grundlagen & Erfolgsstrategie</li>
            <li class="check"><strong>Plattformübergreifende Platzierung und Sichtbarkeit der Kampagne</strong></li>
            <li class="check"><strong>Prominente Darstellung der Kampagne im Newsletter:</strong> 1 x enthalten</li>
            <li class="uncheck"><strong>Platzierung der Kampagne via Social Media</strong><small>ab 8%</small></li>
            <li class="uncheck"><strong>Pressearbeit</strong><small>ab 9%</small></li>
            <li class="uncheck"><strong>Widget für deine Website</strong><small>ab 10%</small></li>
          </ul>
        </div>
      </div>
      <div class="percent-3 cardBox">
        <h3>Pro (unser Bestseller)</h3>
        <div class="facts">
          <ul>
            <li class="check"><strong>Abdeckung Grundkosten</strong> (Transaktionsgebühren inkl. Mwst.)</li>
            <li class="check"><strong>Crowdfunding Coaching:</strong> 3 Sessions individuelles Crowdfunding Coaching (Kampagnen mit ausführlicher Begleitung haben eine Erfolgsquote von über 80%)</li>
            <li class="check"><strong>Plattformübergreifende Platzierung und Sichtbarkeit der Kampagne</strong></li>
            <li class="check"><strong>Prominente Darstellung der Kampagne im Newsletter:</strong> 2 x enthalten</li>
            <li class="check"><strong>Platzierung der Kampagne via Social Media</strong></li>
            <li class="uncheck"><strong>Pressearbeit</strong><small>ab 9%</small></li>
            <li class="uncheck"><strong>Widget für deine Website</strong><small>ab 10%</small></li>
          </ul>
        </div>
      </div>
      <div class="percent-4 cardBox">
        <h3>Expert</h3>
          <div class="facts">
          <ul>
            <li class="check"><strong>Abdeckung Grundkosten</strong> (Transaktionsgebühren inkl. Mwst.)</li>
            <li class="check"><strong>Crowdfunding Coaching:</strong> Aufbau maßgeschneiderte Erfolgsstrategie: Grundlagen, Erarbeitung Kampagnenseite, Aufbau des Buddy-Systems und Drehbuch inkl. Arbeitspakete und Zeitplan plus Begleitung der Kampagne.</li>
            <li class="check"><strong>Plattformübergreifende Platzierung und Sichtbarkeit der Kampagne</strong></li>
            <li class="check"><strong>Prominente Darstellung der Kampagne im Newsletter:</strong> 2 x enthalten</li>
            <li class="check"><strong>Platzierung der Kampagne via Social Media</strong></li>
            <li class="check"><strong>Pressearbeit</strong></li>
            <li class="uncheck"><strong>Widget für deine Website</strong><small>ab 10%</small></li>
          </ul>
        </div>
      </div>
      <div class="percent-5 cardBox">
        <h3>All-in (für große Kampagnen geeignet)</h3>
        <div class="facts">
          <ul>
            <li class="check"><strong>Abdeckung Grundkosten</strong> (Transaktionsgebühren inkl. Mwst.)</li>
            <li class="check"><strong>Crowdfunding Coaching:</strong> Aufbau maßgeschneiderte Erfolgsstrategie: Grundlagen, Erarbeitung Kampagnenseite, Aufbau des Buddy-Systems und Drehbuch inkl. Arbeitspakete und Zeitplan plus Begleitung der Kampagne.</li>
            <li class="check"><strong>Plattformübergreifende Platzierung und Sichtbarkeit der Kampagne</strong></li>
            <li class="check"><strong>Prominente Darstellung der Kampagne im Newsletter:</strong> 3 x enthalten (inkl. redaktioneller Newsletter)</li>
            <li class="check"><strong>Platzierung der Kampagne via Social Media</strong></li>
            <li class="check"><strong>Pressearbeit:</strong> Öffentlichkeitsarbeit abgestimmt auf Kampagne (Social Media, Presse etc.)</li>
            <li class="check"><strong>Widget für deine Website</strong></li>
          </ul>
        </div>
      </div>    
    </div>

  </div>

</div>
