<% if current_user.room_offers.present? || current_user.room_demands.present? || current_user.locations.present? %>

  <h2 class="hl-main">Deine <span>Gruppe verkn端pfen</span> mit</h2>

  <% if current_user.locations.present? %>
    <div class="input-select">
      <%= f.label :location_id do %>
        <%= icon_tag "location" %>
        <span>Schaufenster</span>
      <% end %>
      <%= f.collection_select(:location_id, current_user.locations, :id, :name, {:include_blank => 'Schaufenster verkn端pfen..'}) %>
    </div>
  <% end %>

  <% if current_user.room_offers.present? %>
    <div class="input-select">
      <%= f.label :room_offer_id do %>
        <%= icon_tag "location" %>
        <span>Raumangebot</span>
      <% end %>
      <%= f.collection_select(:room_offer_id, current_user.room_offers, :id, :slogan, {:include_blank => 'Raumteiler verkn端pfen..'}) %>
    </div>
  <% end %>

  <% if current_user.room_demands.present? %>
    <div class="input-select">
      <%= f.label :room_demand_id do %>
        <%= icon_tag "location" %>
        <span>Raumsuche</span>
      <% end %>
      <%= f.collection_select(:room_demand_id, current_user.room_demands, :id, :slogan, {:include_blank => 'Raumteiler verkn端pfen..'}) %>
    </div>
  <% end %>

<% end %>
