<% title('Zahlung') %>

<%= form_tag mentoring_create_payment_index_path, id: 'stripeForm' do %>

  <%= hidden_field_tag :publishable_key, Rails.configuration.stripe[:publishable_key] %>
  <%= hidden_field_tag :stripeToken %>
  <%= hidden_field_tag :stripeEmail, current_user ? current_user.email : '' %>
  <%= hidden_field_tag :stripeDescription, 'Unterstützer Team' %>
  <%= hidden_field_tag :amount, 300 %>

  <section class="payment-form">

    <div class="hl-subtext">
      <h1><span>Unterstützer Team</span> Zahlung</h1>
      <p>4 Monate / Start 01.05.2019</p>
    </div>

    300,00 €
    <%= button_tag 'Weiter zur Zahlung', class: 'btn-primary -mint stripe-submit' %>

  </section>


<% end %>

<!-- STRIPE JS -->
<script src="https://checkout.stripe.com/checkout.js"></script>
