<% title('Zahlung') %>

<section class="payment-form -<%= @orderType %>">

  <%= form_tag payment_index_path, id: 'stripeForm' do %>
    <%= hidden_field_tag :orderType, @orderType %>
    <!-- Hidden Fields for STRIPE JS -->
    <%= hidden_field_tag :publishable_key, Rails.configuration.stripe[:publishable_key] %>
    <%= hidden_field_tag :stripeToken %>
    <%= hidden_field_tag :stripeEmail %>
    <%= hidden_field_tag :currentUserEmail, current_user ? current_user.email : '' %>

    <%= render "payment/form/#{@orderType}", :locals => {:orderType => @orderType} %>

  <% end %>

  <!-- STRIPE JS -->
  <script src="https://checkout.stripe.com/checkout.js"></script>
</section>
