<% title('Zahlung') %>

<%= form_tag raumteiler_create_payment_index_path, id: 'stripeForm' do %>
  <%= hidden_field_tag :publishable_key, Rails.configuration.stripe[:publishable_key] %>
  <%= hidden_field_tag :stripeToken %>
  <%= hidden_field_tag :stripeEmail %>
  <%= hidden_field_tag :currentUserEmail, current_user ? current_user.email : '' %>
  <%= hidden_field_tag :stripeDescription, 'Raumteiler' %>

  <section class="payment-form -raumteiler">

    <div class="hl-subtext">
      <h1>Dein <span>Beitrag zum Raumteiler</span></h1>
      <p>Konnten wir dir helfen?<br>Was war dir der Raumteiler wert?</p>
    </div>

    <div class="input-field">
      <%= label_tag(:amount) do %>
        <%= icon_tag "currency-euro" %>
        <span>Deine Nachricht</span>
      <% end %>
      <%= text_area_tag :message, nil, placeholder: "Schreib uns ein kurzes Feedback .." %>
    </div>

    <div class="input-field">
      <%= label_tag(:amount) do %>
        <%= icon_tag "currency-euro" %>
        <span>Wähle deinen Betrag selbst fest</span>
      <% end %>
      <%= text_field_tag :amount, nil, placeholder: "z.b. 25,00 €", id: 'amount' %>
    </div>

    <div class="input-button">
      <%= button_tag 'Weiter zur Zahlung', class: 'btn-primary -mint stripe-submit' %>
    </div>


  </section>


<% end %>

<!-- STRIPE JS -->
<script src="https://checkout.stripe.com/checkout.js"></script>
