<section class="masonryFilterGrid">
  <%= cache [@graetzl, 'map'], expires_in: 2.months do %>
    <%= render 'graetzls/map', map_data: @map_data %>
  <% end %>
  <%= render 'graetzls/curator' if @graetzl.curator %>
  <%= filters_for current_user, @graetzl %>
  <% unless current_user %>
    <div class="hl-subtext">
      <h1>Gestaltet euer Grätzl mit - <span>Ideen & Wünsche</span></h1>
      <p>Entdecke, was sich BewohnerInnen fürs Grätzl <%= @graetzl.name %> wünschen und welche Ideen im Raum stehen.</p>
    </div>
  <% end %>
  <% unless @posts.empty? %>
    <div class="cards-container" data-behavior="stream-container">
      <%= render(@posts) %>
    </div>
  <% else %>
    <%=render('empty_message') %>
  <% end %>
  <%= view_more_link @posts %>
</section>
