<section class="masonryFilterGrid">
  <%= cache [@graetzl, 'map'], expires_in: 2.months do %>
    <%= render 'graetzls/map', map_data: @map_data %>
  <% end %>
  <%= render 'graetzls/curator' if @graetzl.curator %>
  <%= filters_for current_user, @graetzl %>
  <div class="cards-container" data-behavior="stream-container">
    <%= render @posts %>
  </div>
  <%= view_more_link @posts %>
</section>
