<%
  meta({
    title: t('.title', content: @post.content[0..154]),
    robots: 'noindex, follow',
    og_title: t('.title', content: @post.content[0..154])
  })
%>

<section class="justEntry">
  <div class="userCreateInfo">
    <%= link_to avatar_for(@post.author), [@post.author.graetzl, @post.author] %>
    <span class="userAndType">
    Beitrag von <%= link_to @post.author.username, [@post.author.graetzl, @post.author] %></a>
    <span> am <%= l(@post.created_at, format:'%A, %d. %B %Y') %></span>
  </span>
  </div>

  <div class="theEntry">
    <div class="txt">
      <%= @post.content %>
    </div>
    <div class="entryImgUploads" data-featherlight-gallery data-featherlight-filter="a">
      <% @post.images.each do |image| %>
        <%= link_to attachment_image_tag(image, :file, :fill, 200, 200), attachment_url(image, :file) %>
      <% end %>
    </div>

    <%= button_to 'Beitrag löschen', @post,
                  data: { confirm: 'Bist du dir sicher?' },
                  method: :delete,
                  class: 'btn-destroy' %>
  </div>

</section>

<div class="stream">
  <div id="stream-form">
    <%= render 'comments/form', commentable: @post %>
  </div>
  <%= render @comments %>
</div>
<%= view_more_link @comments %>
