<% title t('.title', content: @post.content[0..154]) %>
<% meta_tag :robots, 'noindex, follow' %>

<section class="justEntry">
  <div class="userCreateInfo">
    <%= avatar_for @post.user %>
    <span class="userAndType">
    Beitrag von <a href="#"><%= @post.user.username %></a>
    <span class="timeago"> am <%= l(@post.created_at, format:'%A, %d. %B %Y') %></span>
  </span>
  </div>

  <div class="theEntry">
    <div class="txt">
      <%= @post.content %>
    </div>

    <% unless @post.images.empty? %>
      <div class="postImgs">
        <% @post.images.each do |image| %>
          <%= attachment_image_tag(image, :file, :fill, 400, 200) %>
        <% end %>
      </div>
    <% end %>

    <%= button_to 'Beitrag löschen', post_path(@post),
                  data: { confirm: 'Bist du dir sicher?' },
                  method: :delete,
                  class: 'btn-destroy' %>
  </div>

</section>

<div class="stream">
  <div id="stream-form">
    <%= render partial: 'comments/form', layout: 'layouts/stream/form', locals: { commentable: @post } %>
  </div>
  <%= render partial: 'comments/comment', collection: @comments, layout: 'layouts/stream/element' %>
</div>
<%= view_more_link @comments %>