<% title('Crowdfunding Kampagne bearbeiten') %>

<section class="crowdfunding-form">

  <%= render 'crowdfundings/form/navigation' %>
  <%= render 'crowdfundings/form/basic_video' %>

  <%= form_for(@crowdfunding, html: { class: 'crowdfunding_form' }) do |f| %>
  <%= form_errors_for @crowdfunding %>

  <%= render 'crowdfundings/form/basic', f: f %>

  <div class="input-button">
    <%= f.button 'Speichern', data: { disable_with: 'speichert...' }, class: 'btn-secondary -mint' %>
    <%= link_to 'Vorschau', 'javascript:', class: 'btn-secondary -mint save-and-preview' %>
    <%= f.button 'Weiter zur Projekt Beschreibung', data: { disable_with: 'speichert...' }, class: 'btn-primary btn-next', name: 'page', value: description_crowdfunding_path(@crowdfunding) if !f.object.new_record? %>
  </div>

  <% end %>


</section>
