<% title('Crowdfunding Kampagne bearbeiten') %>

<section class="crowdfunding-form">

  <%= render 'crowdfundings/form/navigation' %>
  <%= render 'crowdfundings/form/finish_video' %>

  <%= form_for(@crowdfunding) do |f| %>
  <%= form_errors_for @crowdfunding %>

  <%= render 'crowdfundings/form/finish', f: f %>

  <div class="input-button">
    <%= f.button 'Zwischenspeichern', data: { disable_with: 'speichert...' }, class: 'btn-secondary' %>
    <% if f.object.pending? %>
      <%= f.button 'Dein Projekt wird gerade geprüft ...', disabled: true, data: {disable_with: 'speichert...' }, class: 'btn-primary btn-next' %>
    <% elsif f.object.approved? %>
      <%= f.button 'Dein Projekt wurde freigeschalten', disabled: true, data: {disable_with: 'speichert...' }, class: 'btn-primary btn-next' %>
    <% else %>
      <%= f.button 'Projekt jetzt zur Freigabe einreichen', data: {confirm: 'Klicke auf "OK" um dein Projekt jetzt zur Freigabe einzureichen.',  disable_with: 'speichert...' }, class: 'btn-primary btn-next', name: "status", value: 'pending' %>
    <% end %>
  </div>

  <% end %>

</section>
