<% content_for(:above_title, "Hallo #{@room_offer.user.first_name},") %>
<% content_for(:title, "Dein Raumteiler wurde deaktiviert.") %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td style="height:30px"> </td>
  </tr>
  <tr>
    <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
      <h4 style="color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic; text-align:left;">
        Raumteiler erneut aktivieren?
      </h4>
    </td>
  </tr>
  <tr>
    <td style="padding-left:9px; padding-right:9px;">
      <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


<!-- --------------- ITEM ACTION BOX --------------- -->

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:18px; padding-right:18px;">

        Wenn du deinen Raumteiler für <strong>weitere <%= RoomOffer::LIFETIME_MONTHS %> Monate aktivieren</strong> möchtest, dann klicke hier:

      </td>
    </tr>

    <tr>
      <td>
        <%= render 'mailers/shared/button', title: "Raumteiler wieder aktivieren", url: "#{room_offer_url(@room_offer)}/activate/#{@room_offer.activation_code}", style: "width:100%;" %>
      </td>
    </tr>
  </tbody>
</table>



<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td style="height:30px"> </td>
  </tr>
  <tr>
    <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
      <h4 style="color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic; text-align:left;">
        <%= I18n.t("activerecord.attributes.room_offer.offer_types.#{@room_offer.offer_type}") %>
      </h4>
    </td>
  </tr>
  <tr>
    <td style="padding-left:9px; padding-right:9px;">
      <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>



<!-- --------------- ITEM ROOM OFFER --------------- -->

<table border="0" cellpadding="0" cellspacing="0" style="float:left; max-width:300px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-right:15px;">

        <%= link_to room_offer_url(@room_offer), target: 'blank' do %>
          <%= cover_photo_image @room_offer, size: :small, style: "width:100%; padding-bottom:5px;", class: "mcnImage" %>
        <% end %>

        <p>
          <%= link_to @room_offer.slogan, room_offer_url(@room_offer), style: "color:#ec776a; font-size:18px;" %>
        </p>

      </td>
    </tr>

  </tbody>
</table>

<!-- --------------- FEATURING SLOT BOOKING if NOT Activated --------------- -->

<table border="0" cellpadding="0" cellspacing="0" style="max-width:300px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-left:15px; padding-right:18px;">

        <% if !@room_offer.rental_enabled? %>
        <strong>Neu: Aktiviere das Kurzzeitmieten Buchungstool für deinen Raumteiler!</strong>
        <p>
          Falls du deinen Raum stundenweise, tageweise oder am Wochenende vermieten möchtest, dann ermöglicht das Tool eine einfache online Buchung inkl. Zahlungsabwicklung.
        </p>
        <p>
          Einfach Raumteiler bearbeiten und "<strong>Kurzzeitmieten</strong>" aktivieren.
        </p>
        <% end %>

      </td>
    </tr>

  </tbody>
</table>
