<% content_for(:above_title, "Gute Neuigkeiten #{@room_demand.user.first_name},") %>
<% content_for(:title, "Dein Raumteiler ist online!") %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td style="height:30px"> </td>
  </tr>
  <tr>
    <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
      <h4 style="color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic; text-align:left;">
        <%= I18n.t("activerecord.attributes.room_demand.demand_types.#{@room_demand.demand_type}") %>
      </h4>
    </td>
  </tr>
  <tr>
    <td style="padding-left:9px; padding-right:9px;">
      <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<!-- --------------- ITEM ROOM DEMAND --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px;">
        <%= avatar_image @room_demand, size: :small, style: "width:120px; height:120px; border-radius: 60px; max-width:120px; min-width:120px;", class: "mcnImage" %>
      </td>
      <td valign="center" class="mcnTextContent" width="100%">
        <p>
          <%= link_to @room_demand.slogan, room_demand_url(@room_demand, host: @room_demand.region.host), style: "color:#ec776a; font-size:18px;" %>
        </p>
      </td>
    </tr>

    <tr>
      <td colspan="2" style="padding-bottom:9px;">
      </td>
    </tr>

    <tr>
      <td colspan="2" class="mcnTextContent" style="padding-bottom:18px; padding-left:18px; padding-right:18px;">
        <p>
          <%= @room_demand.demand_description %>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<% if @room_demand.region.id == 'wien' || @room_demand.region.id == 'muehlviertler-kernland' %>

<!-- --------------- BLOCK HEADLINE --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td style="height:30px"> </td>
  </tr>
  <tr>
    <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
      <h4 style="color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic; text-align:left;">
        Neu! Der Raumteiler Guide ist da!
      </h4>
    </td>
  </tr>
  <tr>
    <td style="padding-left:9px; padding-right:9px;">
      <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" >
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<!-- --------------- ITEM SINGLE GROUP MEETING --------------- -->

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:18px; padding-right:18px;">
        <a href="<%= t("region.#{@room_demand.region.id}.raumteiler_guide_url") %>">
          <%= image_tag "regions/#{@room_demand.region.id}/Raumteiler-Guide-Deckblatt.png", style: "width:200px; padding-bottom:10px; padding-top:10px; padding-right:20px; float:left;", class: "mcnImage" %>
        </a>
        <p>
          <strong>Deine Schritt-für-Schritt Anleitung zum Räume teilen.</strong>
        </p>
        <p>
          Wenn du Fragen rund ums Räume teilen hast, der "Raumteiler Guide" erklärt Schritt
          für Schritt, was es beim Räume teilen und beim Andocken zu beachten gibt. Enthalten sind
          außerdem Musterverträge und die wichtigsten Anlaufadressen <%= t("region.#{@room_demand.region.id}.in_your_region") %>.
        </p>

        <!-- BUTTON -->
        <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonBlock" style="">
          <tbody class="mcnButtonBlockOuter">
            <tr>
              <td style="" valign="top" align="center" class="mcnButtonBlockInner">
                <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-top-left-radius: 4px;border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;background-color: #69A8A7; width:100%;">
                  <tbody>
                    <tr>
                      <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial; font-size: 16px; padding: 10px;">
                        <a class="mcnButton " title="Button" href="<%= t("region.#{@room_demand.region.id}.raumteiler_guide_url") %>" target="_blank" style="font-weight: normal;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Hier gratis downloaden</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- /BUTTON -->
      </td>

      <td>
      </td>
    </tr>
  </tbody>
</table>

<% end %>
