<div class="entryCreate">
  <%= avatar_for author %>
  <%= form_for([author, author.graetzl.posts.new], html: { class: 'textEditor' }, remote: true) do |f| %>
      <%= f.hidden_field :graetzl_id %>
      <%= f.text_field :title, placeholder: 'Titel', class: 'input-plain postTitle' %>
      <div class="hideBlock">
        <%= f.text_area :content, placeholder: 'Beitrag verfassen', class: 'input-plain' %>
        <div class="upload-streamImgs">
          <svg class="icon-photo-camera"><use xlink:href="#icon-photo-camera"></use></svg>
          <%= f.attachment_field :images_files, multiple: true, direct: true, presigned: true %>
        </div>
        <%= f.button 'Beitrag senden', data: { disable_with: 'speichert...' }, class: 'btn-secondary' %>
      </div>
  <% end %>
</div>
