<%= form_for(@room_offer) do |f| %>
  <%= form_errors_for @room_offer %>
  <div class="form-block">
    <p class="txt"><span>Details</span> zu deiner RaumTeiler</p>


    <div class="input-field">
      <%= f.label :slogan do %>
        <svg class="icon-home"><use xlink:href="#icon-home"></use></svg>
        <span>Kurzer Titel</span>
      <% end %>
      <%= f.text_field :slogan, placeholder: 'z.B. Vermiete zur Mitbenutzung schönen und ruhigen Praxisraum im 9. Bezirk…' %>
    </div>

  <%= f.button data: { disable_with: 'speichert...' }, class: 'btn-primary' %>
<% end %>

<!-- 'Weitere wichtige Ausstattungsmerkmale … Benenne deine Tätigkeit' -->
