<div class="nested-fields">
  <div class="input-field price">
    <%= f.label :amount do %>
      <%= icon_tag "currency-euro" %>
    <% end %>
    <%= f.text_field :amount, placeholder: "Preis in €" %>
  </div>
  <div class="input-field name">
    <%= f.label :name, 'Beschreibung' %>
    <%= f.text_field :name, placeholder: "z.B: pro Monat für 2 Tage / Woche" %>
  </div>
  <%= link_to_remove_association f do %>
    <div class="btn-delete">
      <%= icon_tag "trash-delete-remove" %>
    </div>
  <% end %>
</div>
