<% graetzl = Graetzl.memoized(room_offer.graetzl_id) %>

<div class="cardBox -roomoffer -<%= room_offer.status %>" data-behavior="masonry-card" data-card-id="room_offer-<%= room_offer.id %>">

  <div class="cardBoxHeader">
    <div class="coverImgWrapper">
      <%= link_to room_offer do %>
        <%= cover_photo_image(room_offer, class: 'coverImg') %>
      <% end %>
    </div>
    <% if graetzl %>
      <div class="categoryicon">
        <%= "#{graetzl.district.zip}, " if current_region.use_districts %><%= graetzl.name %>
      </div>
    <% end %>
  </div>

  <div class="cardBoxContent -roomoffer">

    <div class="avatar-block -below">
      <%= link_to room_offer, class: 'avatarImg' do %>
        <%= avatar_image @room_offer, size: :small, class: 'img-square' %>
      <% end %>
      <%= link_to room_offer, class: 'typelink' do %>
        <div class="typetxt">
          <div class="roomtype">
            <%= t("activerecord.attributes.room_offer.offer_types.#{room_offer.offer_type}") %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="slogan">
      <%= room_offer.slogan %>
    </div>

    <div class="txt">
      <p><%= truncate room_offer.room_description, length: 100 %></p>
    </div>

    <% if room_offer.rental_enabled? %>
      <div class="slot-booking icontxt">
        <%= image_tag 'svg/icon-kringel-kurzzeitmiete.svg', class: 'icon' %>
        Kurzzeitmiete ab <%= room_offer.room_rental_price.price_per_hour.to_i %> € / Stunde
      </div>
    <% end %>

    <% if room_offer.wants_collaboration? %>
      <div class="collaboration icontxt">
        <%= icon_tag "urgent-extra-notice-info-announcement" %>
        Interesse an gem. Kooperationen
      </div>
    <% end %>

    <% if room_offer.occupied? %>
      <div class="waiting-list icontxt">
        <%= icon_tag "coffee" %>
        Warteliste
      </div>
    <% end %>

    <% if local_assigns[:appendix].present? %>
      <%= render 'activities/appendix', appendix: local_assigns[:appendix], parent: room_offer %>
    <% end %>

    <% if local_assigns[:manage_buttons].present? && current_user == room_offer.user %>
      <div class="btn-group">
        <%= link_to 'Bearbeiten', edit_room_offer_path(room_offer), class: 'btn-secondary -mint -small' %>
        <%= link_to "javascript:", data: { jq_dropdown: "#room-update-dropdown-#{room_offer.id}" }, class: "btn-secondary -mint -small -state-#{room_offer.status}" do %>
          Status: <span><%= t("activerecord.attributes.room_offer.statuses.#{room_offer.status}") %></span>
        <% end %>
        <%= link_to 'Verfügbarkeitskalender', rental_timetable_room_offer_path(room_offer), class: 'btn-primary -mint -small' if room_offer.room_rental_price.present? %>
      </div>

      <div id="room-update-dropdown-<%= room_offer.id %>" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container">
        <div class="jq-dropdown-panel">
          <%= link_to 'Aktiv', [:update_status, room_offer, status: "enabled"], method: :patch %>
          <%= link_to 'Inaktiv', [:update_status, room_offer, status: "disabled"], method: :patch %>
          <%= link_to 'Derzeit voll / Warteliste aktivieren', [:update_status, room_offer, status: "occupied"], method: :patch %>
          <%= link_to 'Löschen', [room_offer], method: :delete, data: { confirm: 'Bist du dir sicher?' } %>
        </div>
      </div>
    <% end %>

  </div>
</div>
