<aside class="sideBar">

  <div class="sideBarbox contact">
    <%= link_to content_tag(:h3, @room_offer.graetzl.name, class: 'sideflag -L'), @room_offer.graetzl %>

    <div class="iconlist">
      <% if @room_offer.address %>
        <div class="address icontxt">
          <svg class="icon-map-location"><use xlink:href="#icon-map-location"></use></svg>
          <%= "#{@room_offer.address.street_name} #{@room_offer.address.street_number}" %><br>
          <%= "#{@room_offer.address.zip} #{@room_offer.address.city}" %><br>
        </div>
      <% end %>
      <% if @room_offer.rented_area.present? %>
        <div class="rented-area icontxt">
          <svg class="icon-resize-maximize"><use xlink:href="#icon-resize-maximize"></use></svg>
          <%= @room_offer.rented_area %> m² zu vermieten<br>
        </div>
      <% end %>

      <% if @room_offer.wants_collaboration? %>
        <div class="collaboration icontxt">
          <svg class="icon-urgent-extra-notice-info-announcement"><use xlink:href="#icon-urgent-extra-notice-info-announcement"></use></svg>
          Auch an Kooperationen interessiert.
        </div>
      <% end %>
    </div>

    <% if @room_offer.address.try(:coordinates) %>
      <%= link_to google_map_url(@room_offer.address), class: 'gmap' do %>
        <%= image_tag static_map_url(@room_offer.address.coordinates, zoom: 16, size: [250,150]) %>
      <% end %>
    <% end %>
  </div>
</aside>
