<aside class="sideBar">

  <div class="sideBarbox contact">
    <%= link_to content_tag(:h3, @room_offer.graetzl.name, class: 'sideflag -L'), @room_offer.graetzl %>

    <div class="iconlist">
      <% if @room_offer.address %>
        <div class="address icontxt">
          <%= icon_tag "map-location" %>
          <%= "#{@room_offer.address.street_name} #{@room_offer.address.street_number}" %><br>
          <%= "#{@room_offer.address.zip} #{@room_offer.address.city}" %><br>
        </div>
      <% end %>

      <% if @room_offer.rented_area.present? %>
        <div class="rented-area icontxt">
          <%= icon_tag "resize-maximize" %>
          <%= "%g" % (@room_offer.rented_area) %> m² zu vermieten<br>
        </div>
      <% end %>

      <% if @room_offer.wants_collaboration? %>
        <div class="collaboration icontxt">
          <%= icon_tag "urgent-extra-notice-info-announcement" %>
          Auch an Kooperationen interessiert.
        </div>
      <% end %>

      <% if @room_offer.room_offer_prices.present? %>
        <div class="pricing icontxt">
          <ul class="pricing-list">
            <% @room_offer.room_offer_prices.each do |price| %>
              <li>
                <div class="cost"><%= "%g €" % price.amount %></div>
                <div class="costname"><%= price.name %></div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if user_signed_in? && current_user == @room_offer.user %>
        <div class="btn-group">
          <%= link_to 'Bearbeiten', edit_room_offer_path(@room_offer),
            class: 'btn-secondary -mint -small'  %>
        </div>

        <div class="btn-group">
          <%= link_to 'Löschen', room_offer_path(@room_offer), data: { confirm: 'Bist du dir sicher?' },
            method: :delete, class: 'btn-secondary -mint -small' %>
        </div>
      <% end %>
    </div>

    <% if @room_offer.address.try(:coordinates) %>
      <%= link_to google_map_url(@room_offer.address), class: 'gmap' do %>
        <%= image_tag static_map_url(@room_offer.address.coordinates, zoom: 16, size: [250,150]) %>
      <% end %>
    <% end %>

  </div>

  <% if @room_offer.location %>
    <aside class="location">
      <%= render @room_offer.location %>
    </aside>
  <% end %>

  <% if @room_offer.email.present? && current_user %>
    <%= mail_to @room_offer.email, "Anbieter kontaktieren", class: 'btn-primary -mint -contact', id: 'room-contact-btn', subject: "Raumteiler Kontakt" %>
  <% end %>

  <%= link_to "Alle Raumteiler", rooms_wien_path, class: 'btn-primary -mint' %>
</aside>
