<section class="room-rental-timetable-page">
  <h1><%= @room_offer.slogan %></h1>

  <%= link_to "Zurück", rental_timetable_room_offer_path(month: @date_range.first - 1.day) %>

  <span><%= l(@date_range.first, format: "%B %Y") %></span>

  <%= link_to "Weiter", rental_timetable_room_offer_path(month: @date_range.last + 1.day) %>

  <br><br>

  <table class="rental-timetable">
    <thead>
      <tr>
        <th></th>
        <% (0..23).each do |hour| %>
          <th><%= hour %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @date_range.each do |date| %>
        <tr>
          <td><%= l(date, format: "%a, %d.") %></td>
          <% @availability.timetable(date).each do |status, length| %>
            <% if status == :disabled %>
              <td class="disabled" colspan="<%= length %>"> Nicht verfügbar </td>
            <% elsif status == :available %>
              <td class="available" colspan="<%= length %>"> Verfügbar </td>
            <% else %>
              <td class="rented" colspan="<%= length %>">
                Vermietet <%= link_to status.renter.first_name, messenger_path(thread_id: status.user_message_thread.id) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>
