<% meta(
    title: t('.title', slogan: @room_offer.slogan[0..45].gsub(/\s\w+\s*$/,'...')),
    description: t('.description', type: t("activerecord.attributes.room_offer.offer_types.#{@room_offer.offer_type}"), desc: @room_offer.room_description[0..160].gsub(/\n/, " ")),
    robots: 'index, follow',
    og_title: t('.title', slogan: @room_offer.slogan[0..80].gsub(/\s\w+\s*$/,'...')),
    og_description: t('.description', type: t("activerecord.attributes.room_offer.offer_types.#{@room_offer.offer_type}"), desc: @room_offer.room_description[0..250].gsub(/\n/, " ")),
    og_image: attachment_url(@room_offer, :cover_photo, host: request.url, fallback: 'meta/og_logo.png')
  )
%>

<section class="roomDetail -Offer">
  <div class="imgHeader -cloudy2">
    <%= attachment_image_tag @room_offer, :cover_photo, :fill, 980, 370, fallback: 'cover_photo/980x370.png', class: 'titleImg' %>
  </div>
  <div class="mainContent">

    <div class="introtxt">
      <h1><span><%= t("activerecord.attributes.room_offer.offer_types.#{@room_offer.offer_type}") %></span></h1>
    </div>

    <div class="category-tags">
      <% if @room_offer.room_categories.present? %>
        <ul class="tag-list -mint">
          <% @room_offer.room_categories.each do |category| %>
            <li><%= category.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="introtxt">
      <h3><%= @room_offer.slogan %></h3>
    </div>

    <div class="txt"><%= @room_offer.room_description %></div>

    <div class="entryImgUploads" data-featherlight-gallery data-featherlight-filter="a">
      <% @room_offer.images.each do |image| %>
        <%= link_to attachment_image_tag(image, :file, :fill, 200, 200), attachment_url(image, :file, :limit, 800, 800) %>
      <% end %>
    </div>

    <section>
      <div class="category-tags">
        <% if @room_offer.keyword_list.present? %>
          <ul class="tag-list">
            <% @room_offer.keyword_list.each do |keyword| %>
              <li><%= keyword %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </section>

    <section>
      <% if @room_offer.room_offer_prices.present? %>
        <div class="bigicontext-element">
          <%= icon_tag "currency-euro" %>
          <div class="txt">Kosten</div>
        </div>
        <ul class="tag-list-newline">
          <% @room_offer.room_offer_prices.each do |price| %>
            <li><span><%= "%g €" % price.amount %></span> <%= price.name %></li>
          <% end %>
        </ul>
      <% end %>
    </section>

    <section>
      <div class="bigicontext-element">
        <%= icon_tag "users" %>
        <div class="txt">Mein idealer Raumpartner</div>
      </div>
      <div class="txt"><%= @room_offer.tenant_description %></div>
    </section>

    <section class="owner">
      <div class="bigicontext-element">
        <% if @room_offer.user %>
          <%= avatar_for(@room_offer, 200) %>
        <% else %>
          <%= icon_tag "user-avatar" %>
        <% end %>
        <div class="txt">Über mich</div>
      </div>
      <div class="wrapper">
        <div class="txt"><%= @room_offer.owner_description %></div>
      </div>
    </section>

    <section>
      <div class="bigicontext-element">
        <%= icon_tag "profile-vcard" %>
        <div class="txt">Kontakt-Infos</div>
      </div>

      <% if current_user %>
      <div class="contact-infos">
        <% if @room_offer.first_name.present? || @room_offer.last_name.present? %>
          <div class="icontxt">
            <%= icon_tag "user-avatar" %>
            <div class="txt"><%= "#{@room_offer.first_name} #{@room_offer.last_name}" %></div>
          </div>
        <% end %>

        <% if @room_offer.phone.present? %>
          <div class="icontxt">
            <%= icon_tag "phone" %>
            <div class="txt"><%= @room_offer.phone %></div>
          </div>
        <% end %>

        <% if @room_offer.email.present? %>
          <%= mail_to @room_offer.email do %>
            <div class="icontxt">
              <%= icon_tag "at-symbol" %>
              <div class="txt"><%= @room_offer.email %></div>
            </div>
          <% end %>
        <% end %>

        <% if @room_offer.website.present? %>
          <%= link_to @room_offer.website, class: 'icontxt', target: '_blank' do %>
            <%= icon_tag "globe" %>
            <%= @room_offer.website.sub(/^https?\:\/\//,'') %>
          <% end %>
        <% end %>
      </div>
      <% else %>
        <div class="contact-login-msg">
            Du musst eingeloggt sein, um die vollständigen Kontaktinformationen zu sehen.<br />
            <%= link_to 'Zum Login', new_user_session_path %> |
            <%= link_to 'Zur Registrierung', new_registration_path %>
        </div>
      <% end %>

    </section>


    <!--
    <section>
      <% if @room_offer.wants_collaboration? %>
        <div class="bigicontext-element">
        <%= icon_tag "urgent-extra-notice-info-announcement" %>
        <div class="txt">Auch an Kooperationen interessiert.</div>
      <% end %>
    </section>
    -->

    <section>
      <div class="stream">
        <div class="bigicontext-element">
          <%= icon_tag "layout-text" %>
          <div class="txt">Frage zum Raum</div>
        </div>
        <%= render 'comments/form', commentable: @room_offer %>
        <%= render partial: 'comments/stream_comment', collection: @comments, as: 'comment' %>
      </div>
    </section>

  </div>

  <%= render 'sidebar' %>
</section>
