<% meta(
    title: t('.title', slogan: @room_offer.slogan[0..55].gsub(/\s\w+\s*$/,'...')),
    description: t('.description', type: t("activerecord.attributes.room_offer.offer_types.#{@room_offer.offer_type}"), desc: @room_offer.room_description[0..160].gsub(/\n/, " ")),
    robots: 'index, follow',
    og_title: t('.title', slogan: @room_offer.slogan[0..80].gsub(/\s\w+\s*$/,'...')),
    og_description: t('.description', type: t("activerecord.attributes.room_offer.offer_types.#{@room_offer.offer_type}"), desc: @room_offer.room_description[0..250].gsub(/\n/, " ")),
    og_image: @room_offer.cover_photo_url(:header, :large) || image_url("meta/#{current_region.id}/og_logo.png"),
  )
%>

<section class="roomDetail -Offer">
  <div class="imgHeader -line">
    <%= cover_header_image(@room_offer, class: 'titleImg') %>

    <div class="headContent">
      <div class="introtxt">
        <h1><span><%= t("activerecord.attributes.room_offer.offer_types.#{@room_offer.offer_type}") %></span></h1>
      </div>
      <div class="category-tags">
        <% if @room_offer.room_categories.present? %>
          <ul class="tag-list -mint">
            <% @room_offer.room_categories.first(5).each do |category| %>
              <li><%= link_to category.name, region_rooms_path(category: category) %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mainContent">
    <% if @room_offer.disabled? && current_user == @room_offer.user %>
      <div class="owner-inactive-msg">
          Dein Raumteiler ist aktuell auf inaktiv gesetzt. Raumteiler jetzt
          <%= link_to 'wieder aktivieren', [:update_status, @room_offer, status: "enabled"], method: :patch %>.
      </div>
    <% end %>
    <div class="introtxt">
      <h3><%= @room_offer.slogan %></h3>
    </div>
    <div class="txt"><%= @room_offer.room_description %></div>

    <div class="entryImgUploads">
      <%= link_to image_tag(@room_offer.cover_photo_url(:thumb)), @room_offer.cover_photo_url, data: { jbox_image: "maingallery" } %>
      <% @room_offer.images.each do |image| %>
        <%= link_to gallery_thumb_image(image), image.file_url, data: { jbox_image: "maingallery" } %>
      <% end %>
    </div>
  </div>

  <%= render 'room_offers/show/sidebar' %>

  <div class="mainContent">
    <% if @room_offer.keyword_list.present? %>
      <section>
        <div class="bigicontext-element">
          <%= icon_tag "dot-3" %>
          <div class="txt">Ausstattung</div>
        </div>
        <div class="category-tags">
          <ul class="tag-list">
            <% @room_offer.keyword_list.each do |keyword| %>
              <li><%= keyword %></li>
            <% end %>
          </ul>
        </div>
      </section>
    <% end %>

    <% if @room_offer.group %>
      <section>
        <div class="bigicontext-element">
          <%= icon_tag "speech-bubble" %>
          <div class="txt">Raumteiler Gruppe</div>
        </div>
        <%= render @room_offer.group %>
      </section>
    <% end %>

    <section>
      <div class="bigicontext-element">
        <%= icon_tag "users" %>
        <div class="txt">Mein idealer Raumpartner</div>
      </div>
      <div class="txt"><%= @room_offer.tenant_description %></div>
    </section>

    <section class="owner">
      <div class="bigicontext-element">
        <% if @room_offer.user %>
          <%= avatar_image @room_offer, size: :small, class: 'room_offer avatar img-round' %>
        <% else %>
          <%= icon_tag "user-avatar" %>
        <% end %>
        <div class="txt">Über mich</div>
      </div>
      <div class="txt"><%= @room_offer.owner_description %></div>
    </section>

    <section>
      <div class="bigicontext-element">
        <%= icon_tag "profile-vcard" %>
        <div class="txt">Kontakt-Infos</div>
      </div>

      <% if current_user %>
        <!-- Contact Block -->
        <div class="contact-login-msg -show">
          <!-- Show Contact Link -->
          <a href="#" id="show-contact-link" data-category="Raumteiler" data-label="Raumangebot">Kontaktinformationen einblenden</a>
          <!-- /Show Contact Link -->

          <div class="contact-infos" id="contact-infos-block">
            <% if @room_offer.first_name.present? || @room_offer.last_name.present? %>
              <div class="icontxt">
                <%= icon_tag "user-avatar" %>
                <div class="txt"><%= "#{@room_offer.first_name} #{@room_offer.last_name}" %></div>
              </div>
            <% end %>

            <% if @room_offer.phone.present? %>
              <div class="icontxt">
                <%= icon_tag "phone" %>
                <div class="txt"><%= @room_offer.phone %></div>
              </div>
            <% end %>

            <% if @room_offer.email.present? %>
              <%= mail_to @room_offer.email do %>
                <div class="icontxt">
                  <%= icon_tag "at-symbol" %>
                  <div class="txt"><%= @room_offer.email %></div>
                </div>
              <% end %>
            <% end %>

            <% if @room_offer.website.present? %>
              <%= link_to @room_offer.website, class: 'icontxt', target: '_blank' do %>
                <%= icon_tag "globe" %>
                <%= @room_offer.website.sub(/^https?\:\/\//,'') %>
              <% end %>
            <% end %>
          </div>
        </div>
        <!-- /Contact Block -->
        <% if user_signed_in? && current_user == @room_offer.user || user_signed_in? && current_user.admin? %>
          <div id="show-contact-block"></div>
        <% end %>

      <% else %>
        <div class="contact-login-msg">
            Du musst eingeloggt sein, um die vollständigen Kontaktinformationen zu sehen.<br />
            <%= link_to 'Zum Login', new_user_session_path(redirect: request.original_url, origin: request.path) %> |
            <%= link_to 'Zur Registrierung', new_registration_path(origin: request.path) %>
        </div>
      <% end %>

    </section>

    <section>
      <div class="stream">
        <div class="bigicontext-element">
          <%= icon_tag "layout-text" %>
          <div class="txt">Frage / Kommentar zum Raum</div>
        </div>
        <%= render 'comments/form', commentable: @room_offer %>
        <%= render partial: 'comments/stream_comment', collection: @comments, as: 'comment' %>
      </div>
    </section>

  </div>


</section>
