<section class="roomDetail -Offer">
  <div class="imgHeader -cloudy2">
    <%= attachment_image_tag @room_offer, :cover_photo, :fill, 980, 370, fallback: 'cover_photo/980x370.png', class: 'titleImg' %>
  </div>
  <div class="mainContent">

    <div class="introtxt">
      <h1><span><%= t("activerecord.attributes.room_offer.offer_types.#{@room_offer.offer_type}") %></span></h1>
    </div>

    <div class="category-tags">
      <% if @room_offer.room_categories.present? %>
        <ul class="tag-list -mint">
          <% @room_offer.room_categories.each do |category| %>
            <li><%= category.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="introtxt">
      <h3><%= @room_offer.slogan %></h3>
    </div>

    <div class="txt"><%= @room_offer.room_description %></div>

    <section>
      <div class="category-tags">
        <% if @room_offer.keyword_list.present? %>
          <ul class="tag-list">
            <% @room_offer.keyword_list.each do |keyword| %>
              <li><%= keyword %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </section>

    <section>
      <% if @room_offer.room_offer_prices.present? %>
        <div class="bigicontext-element">
          <svg class="icon-currency-euro"><use xlink:href="#icon-currency-euro"></use></svg>
          <div class="txt">Kosten</div>
        </div>
        <ul class="tag-list-newline">
          <% @room_offer.room_offer_prices.each do |price| %>
            <li><span><%= "%g €" % price.amount %></span> <%= price.name %></li>
          <% end %>
        </ul>
      <% end %>
    </section>

    <section>
      <div class="bigicontext-element">
        <svg class="icon-users"><use xlink:href="#icon-users"></use></svg>
        <div class="txt">Mein idealer Raumpartner</div>
      </div>
      <div class="txt"><%= @room_offer.tenant_description %></div>
    </section>


    <section class="owner">
      <div class="bigicontext-element">
        <% if @room_offer.user %>
          <%= avatar_for(@room_offer.user, 200) %>
        <% else %>
          <svg class="icon-user-avatar"><use xlink:href="#icon-user-avatar"></use></svg>
        <% end %>
        <div class="txt">Über mich</div>
      </div>
      <div class="wrapper">
        <div class="txt"><%= @room_offer.owner_description %></div>
        <% unless @room_offer.location.nil? %>
        <aside class="location">
          <%= render @room_offer.location %>
        </aside>
        <% end %>
      </div>
    </section>

    <section>
      <% if @room_offer.wants_collaboration? %>
        <div class="bigicontext-element">
        <svg class="icon-urgent-extra-notice-info-announcement"><use xlink:href="#icon-urgent-extra-notice-info-announcement"></use></svg>
        <div class="txt">Auch an Kooperationen interessiert.</div>
      <% end %>
    </section>

  </div>

  <%= render 'sidebar' %>
</section>
