
<!-- <section class="roomOfferPage"> -->
<section class="roomOfferDetail">
  <div class="imgHeader -cloudy2">
    <!-- <%= attachment_image_tag @location, :cover_photo, :fill, 980, 370, fallback: 'cover_photo/980x370.png', class: 'titleImg' %> -->
    <img class="titleImg" src="http://via.placeholder.com/980x370">
  </div>
  <div class="mainContent">
    <div class="introtxt">
      <h1><%= @room_offer.offer_type %> Raumteiler</h1>
      <h3><%= @room_offer.slogan %></h3>
    </div>
    <div class="txt"><%= @room_offer.room_description %></div>

    <div class="category-tags">
      <% unless @room_offer.room_categories.empty? %>
        <ul class="tag-list">
          <% @room_offer.room_categories.each do |category| %>
            <li><%= category.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <h3>Mein idealer Raumpartner</h3>
    <div class="txt"><%= @room_offer.tenant_description %></div>

    <h3>Über mich</h3>
    owner_description
  </div>

  <%= render 'sidebar' %>
</section>
