
<!-- <section class="roomOfferPage"> -->
<section class="roomOfferDetail">
  <div class="imgHeader -cloudy2">
    <%= attachment_image_tag @room_offer, :cover_photo, :fill, 980, 370, fallback: 'cover_photo/980x370.png', class: 'titleImg' %>
  </div>
  <div class="mainContent">
    <div class="introtxt">
      <h1><%= t("activerecord.attributes.room_offer.offer_types.#{@room_offer.offer_type}") %></h1>
      <h3><%= @room_offer.slogan %></h3>
    </div>

    <div class="category-tags">
      <% unless @room_offer.room_categories.empty? %>
        <ul class="tag-list -mint">
          <% @room_offer.room_categories.each do |category| %>
            <li><%= category.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="txt"><%= @room_offer.room_description %></div>

    <div class="category-tags">
      <% unless @room_offer.keyword_list.empty? %>
        <ul class="tag-list">
          <% @room_offer.keyword_list.each do |keyword| %>
            <li><%= keyword %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="bigicontext-element">
      <svg class="icon-user-avatar"><use xlink:href="#icon-user-avatar"></use></svg>
      <div class="txt">Kosten</div>
    </div>
    <% unless @room_offer.room_offer_prices.empty? %>
      <ul class="tag-list">
        <% @room_offer.room_offer_prices.each do |price| %>
          <p><li><%= price.amount %></li> <%= price.name %></p>
        <% end %>
      </ul>
    <% end %>

    <div class="bigicontext-element">
      <svg class="icon-user-avatar"><use xlink:href="#icon-user-avatar"></use></svg>
      <div class="txt">Mein idealer Raumpartner</div>
    </div>
    <div class="txt"><%= @room_offer.tenant_description %></div>

    <section>
      <div class="bigicontext-element">
        <% if not @room_offer.user.nil? %>
          <%= avatar_for(@room_offer.user, 200) %>
        <% else %>
        <svg class="icon-user-avatar"><use xlink:href="#icon-user-avatar"></use></svg>
        <% end %>
        <div class="txt">Über mich</div>
      </div>
      <div class="txt"><%= @room_offer.owner_description %></div>
    </section>

    <section>
      <% if @room_offer.wants_collaboration? %>
        <div class="bigicontext-element">
        <svg class="icon-urgent-extra-notice-info-announcement"><use xlink:href="#icon-urgent-extra-notice-info-announcement"></use></svg>
        <div class="txt">Auch an Kooperationen interessiert.</div>
      <% end %>
    </section>

  </div>

  <%= render 'sidebar' %>
</section>
