<% @crowd_campaign = crowd_campaign %>

<div class="cardBox -crowd_campaign" data-behavior="masonry-card" data-card-id="crowd_campaign-<%= crowd_campaign.id %>" cross-platform="<%= crowd_campaign.region.id %>" cross-platform-host="<%= region_host_url(crowd_campaign.region) %>">

  <div class="cardBoxHeader">
    <%= link_to crowd_campaign do %>
      <div class="coverImgWrapper">
        <%= cover_photo_image(crowd_campaign, class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "crowd", class: 'fav-exchange' %>
      <%= toggle_favorite_icon(crowd_campaign) if current_user && !current_user.admin? %>
      <%= toggle_admin_icon(crowd_campaign, notification: local_assigns[:notification]) if current_user&.admin? %>
    </div>
    <div class="sideflag -R -label">- <%= link_to 'Crowdfunding', region_crowd_campaigns_path %> -</div>
  </div>

  <div class="cardBoxContent">
    <%= link_to crowd_campaign.user, class: 'initiator', rel: 'nofollow' do %>
      <%= avatar_image crowd_campaign, size: :thumb, class: 'img-round show-badge' %>
      <span><%= crowd_campaign.user.username %></span>
    <% end %>
    <div class="txt">
      <h3><%= link_to crowd_campaign.title.truncate(110), crowd_campaign %></h3>
      <p><%= crowd_campaign.slogan.truncate(110) %></p>
    </div>

    <% if crowd_campaign.funding_amount_set? %>
      <%= render 'crowd_campaigns/funding_bar' %>
    <% end %>

    <% if crowd_campaign_post = crowd_campaign.actual_newest_post %>
      <%= link_to [crowd_campaign, target: dom_id(crowd_campaign_post)], class: 'updateteaser' do %>
        <div class="hl">
          Letztes Update:
        </div>
        <div class="title">
          <%= crowd_campaign_post.title %>
        </div>
      <% end %>
    <% end %>

    <% if local_assigns[:activity_crowd_pledge] %>
      <% crowd_pledge = local_assigns[:activity_crowd_pledge] %>
      <% if crowd_pledge.visible? %>
        <% if crowd_pledge.user && !crowd_pledge.user.guest? %>
          <div class="userEntry userPledge">
            <%= link_to crowd_pledge.user, rel: 'nofollow' do %>
              <%= avatar_image crowd_pledge.user, size: :thumb, class: 'img-round show-badge' %>
            <% end %>
            <span class="userAndType">
              <%= link_to crowd_pledge.contact_name, crowd_pledge.user, rel: 'nofollow' %>
              <span>unterstützt dieses Projekt.</span>
            </span>
          </div>
        <% else %>
          <div class="userEntry userPledge">
            <%= avatar_image crowd_pledge.user, size: :thumb, class: 'img-round' %>
            <span class="userAndType">
              <strong><%= crowd_pledge.contact_name %></strong>
              <span>unterstützt dieses Projekt.</span>
            </span>
          </div>
        <% end %>
        <% if crowd_pledge.comment_id.present? %>
          <div class="pledge_comment">
            <%= link_to crowd_pledge.comment.content.truncate(100), crowd_campaign_path(crowd_campaign, target: crowd_pledge.comment.target_url_params), rel: 'nofollow' %>
          </div>
        <% end %>
      <% else %>
        <div class="userEntry userPledge">
          <%= image_tag("fallbacks/user_avatar.png", loading: 'lazy', alt: 'Anonymer Unterstützer', class: 'img-round') %>
          <span class="userAndType">
            <strong>Anonyme Nutzer*in</strong>
            <span>unterstützt dieses Projekt.</span>
          </span>
        </div>
      <% end %>
    <% elsif local_assigns[:activity_crowd_donation_pledge] %>
      <% crowd_pledge = local_assigns[:activity_crowd_donation_pledge] %>
      <% donation_type = local_assigns[:activity_crowd_donation_pledge].donation_type %>
      <% if crowd_pledge.user && !crowd_pledge.user.guest? %>
        <div class="userEntry userPledge">
          <%= link_to crowd_pledge.user, rel: 'nofollow' do %>
            <%= avatar_image crowd_pledge.user, size: :thumb, class: 'img-round show-badge' %>
          <% end %>
          <span class="userAndType">
            <%= link_to crowd_pledge.contact_name, crowd_pledge.user, rel: 'nofollow' %>
            <span>unterstützt mit <%= I18n.t("activerecord.attributes.crowd_donation.donation_type_short.#{donation_type}") %></span>
          </span>
        </div>
      <% else %>
        <div class="userEntry userPledge">
          <%= avatar_image crowd_pledge.user, size: :thumb, class: 'img-round' %>
          <span class="userAndType">
            <strong><%= crowd_pledge.contact_name %></strong>
            <span>unterstützt mit <%= I18n.t("activerecord.attributes.crowd_donation.donation_type_short.#{donation_type}") %></span>
          </span>
        </div>
      <% end %>
    <% elsif local_assigns[:activity_crowd_boost_pledge] %>
      <% crowd_boost_pledge = local_assigns[:activity_crowd_boost_pledge] %>
      <div class="userEntry userPledge">
        <div class="img-booster boosted">
          <%= link_to crowd_boost_pledge.crowd_boost do %>
            <%= icon_tag "boosted", class: 'img-round' %>
          <% end %>
        </div>
        <span class="userAndType">
          <%= link_to crowd_boost_pledge.crowd_boost.title, crowd_boost_pledge.crowd_boost, rel: 'nofollow' %> hat mit 
          <%= number_to_currency(crowd_boost_pledge.amount, precision: 0 ,unit: "€") %> geboostert.
        </span>
      </div>
    <% end %>

    <% if local_assigns[:activity_comment] %>
      <%= render 'activities/comment', parent: crowd_campaign, comment_url: crowd_campaign_path(crowd_campaign, target: local_assigns[:activity_comment].target_url_params), comment: local_assigns[:activity_comment] %>
    <% end %>

    <% if local_assigns[:manage_buttons].present? && current_user == crowd_campaign.user %>

      <%= link_to 'javascript:', class: 'btn-secondary -mint -ico -small jBoxTooltip', data: {tooltip_id: "tt-crowdcampaign-#{crowd_campaign.id}"} do %>
        <span>Kampagnen Optionen</span>
        <%= icon_tag "arrow-down-2" %>
      <% end %>
      <div class="jBoxHidden jBoxDropdown" id="<%= "tt-crowdcampaign-#{crowd_campaign.id}" %>">
        <% if crowd_campaign.funding? || crowd_campaign.completed? %>
          <%= link_to status_crowd_campaign_path(crowd_campaign) do %>
            <%= icon_tag "bar-chart-growth" %>
            <div class="icontxt">Kampagnen Statistiken</div>
          <% end %>
          <%= link_to crowd_campaign_path(crowd_campaign, target:'compose-mail') do %>
            <%= icon_tag "at-symbol" %>
            <div class="icontxt">E-Mail an Unterstützer*innen</div>
          <% end %>
        <% end %>
        <%= link_to edit_crowd_campaign_path(crowd_campaign) do %>
          <%= icon_tag "pencil" %>
          <div class="icontxt">Kampagne bearbeiten</div>
        <% end %>
        <% if crowd_campaign.draft? || crowd_campaign.pending? || crowd_campaign.declined? %>
          <%= link_to crowd_campaign_path(crowd_campaign), data: { confirm: 'Bist du dir sicher?' }, method: :delete do %>
            <%= icon_tag "cross" %>
            <div class="icontxt">Kampagne löschen</div>
          <% end %>
        <% end %>
      </div>

      <% if crowd_campaign.completed? && !crowd_campaign.successful? %>
        <%= link_to "javascript:", data: { jq_dropdown: "#crowd-campaign-update-dropdown-#{crowd_campaign.id}" }, class: "btn-secondary -mint -small -state-#{crowd_campaign.active_state} -update-state" do %>
          Sichtbarkeit: <span><%= t("activerecord.attributes.crowd_campaign.active_states.#{crowd_campaign.active_state}") %></span>
        <% end %>
        <div id="crowd-campaign-update-dropdown-<%= crowd_campaign.id %>" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container">
          <div class="jq-dropdown-panel">
            <%= link_to 'Aktiviert', [:update_status, crowd_campaign, status: "enabled"], method: :patch %>
            <%= link_to 'Deaktiviert', [:update_status, crowd_campaign, status: "disabled"], method: :patch %>
          </div>
        </div>
      <% end %>

      <small class="statusHint -<%= crowd_campaign.status %>">
        Kampagnen Status: <span>&lt;<%= t("activerecord.attributes.crowd_campaign.statuses.#{crowd_campaign.status}") %>&gt;</span>
      </small>

    <% end %>

  </div>



</div>
