<% @crowd_campaign = crowd_campaign %>

<div class="cardBox -crowd_campaign" data-behavior="masonry-card" data-card-id="crowd_campaign-<%= crowd_campaign.id %>">

  <div class="cardBoxHeader">
    <%= link_to crowd_campaign do %>
      <div class="coverImgWrapper">
        <%= cover_photo_image(crowd_campaign, class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "currency-euro" %>
    </div>
  </div>

  <div class="cardBoxContent">
    <%= link_to crowd_campaign.user, class: 'initiator', rel: 'nofollow' do %>
      <%= avatar_image_with_tooltip crowd_campaign.user, size: :thumb, class: 'img-round' %>
      <span><%= crowd_campaign.user.username %></span>
    <% end %>
    <div class="txt">
      <h3><%= link_to crowd_campaign.title, crowd_campaign %></h3>
      <p><%= crowd_campaign.slogan.truncate(100) %></p>
    </div>

    <%= render 'crowd_campaigns/funding_bar' %>
  </div>



</div>
