<% @crowd_campaign = crowd_campaign %>

<div class="cardBox -crowd_campaign" data-behavior="masonry-card" data-card-id="crowd_campaign-<%= crowd_campaign.id %>">

  <div class="cardBoxHeader">
    <%= link_to crowd_campaign do %>
      <div class="coverImgWrapper">
        <%= cover_photo_image(crowd_campaign, class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "crowd" %>
    </div>
    <div class="sideflag -R -label">- <%= link_to 'Crowdfunding', region_crowd_campaigns_path %> -</div>
  </div>

  <div class="cardBoxContent">
    <%= link_to crowd_campaign.user, class: 'initiator', rel: 'nofollow' do %>
      <%= avatar_image_with_tooltip crowd_campaign.user, size: :thumb, class: 'img-round' %>
      <span><%= crowd_campaign.user.username %></span>
    <% end %>
    <div class="txt">
      <h3><%= link_to crowd_campaign.title, crowd_campaign %></h3>
      <p><%= crowd_campaign.slogan.truncate(110) %></p>
    </div>

    <%= render 'crowd_campaigns/funding_bar' %>

    <% if local_assigns[:activity_crowd_pledge] %>
      <% user = local_assigns[:activity_crowd_pledge].user %>
      <div class="userCreateInfo">
        <%= link_to user, rel: 'nofollow' do %>
          <%= avatar_image_with_tooltip user, size: :thumb, class: 'img-round' %>
        <% end %>
        <span class="userAndType">
          <%= link_to user.username, user, rel: 'nofollow' %>
          <span>unterstützt dieses Projekt.</span>
        </span>
      </div>
    <% end %>

    <% if local_assigns[:activity_comment] %>
      <%= render 'activities/comment', parent: crowd_campaign, comment_url: crowd_campaign_path(crowd_campaign, pagetab: 'comments', target: dom_id(local_assigns[:activity_comment])), comment: local_assigns[:activity_comment] %>
    <% end %>

    <% if local_assigns[:manage_buttons].present? && current_user == crowd_campaign.user %>
      <%= link_to 'javascript:', class: 'btn-secondary -mint -ico -small jBoxTooltip', data: {tooltip_id: "tt-crowdcampaign-#{crowd_campaign.id}"} do %>
        <span>Kampagnen Optionen</span>
        <%= icon_tag "arrow-down-2" %>
      <% end %>
      <div class="jBoxHidden jBoxDropdown" id="<%= "tt-crowdcampaign-#{crowd_campaign.id}" %>">
        <%= link_to statistics_crowd_campaign_path(crowd_campaign) do %>
          <%= icon_tag "bar-chart-growth" %>
          <div class="icontxt">Kampagnen Statistiken</div>
        <% end %>
        <%= link_to edit_crowd_campaign_path(crowd_campaign) do %>
          <%= icon_tag "pencil" %>
          <div class="icontxt">Kampagne bearbeiten</div>
        <% end %>
        <% if crowd_campaign.draft? %>
          <%= link_to crowd_campaign_path(crowd_campaign), data: { confirm: 'Bist du dir sicher?' }, method: :delete do %>
            <%= icon_tag "cross" %>
            <div class="icontxt">Kampagne löschen</div>
          <% end %>
        <% end %>
      </div>
      <small class="statusHint -<%= crowd_campaign.status %>">
        Kampagnen Status: <span>&lt;<%= t("activerecord.attributes.crowd_campaign.statuses.#{crowd_campaign.status}") %>&gt;</span>
      </small>
    <% end %>

  </div>



</div>
