<% funding_subtitle = "Fundingsumme" %>

<% if @crowd_campaign.completed? && @crowd_campaign.successful? %>

  <div class="fundingBar">
    <div class="fundingBar_track fundingBar_track-finished">
      <div class="fundingBar_bar" style="width:<%= funding_bar_percentage(@crowd_campaign) %>%;"></div>
    </div>
    <div class="fundingBar_target fundingBar_target-success"></div>
  </div>

<% elsif @crowd_campaign.completed? && !@crowd_campaign.successful? %>

  <div class="fundingBar">
    <div class="fundingBar_track fundingBar_track-finished">
      <div class="fundingBar_bar fundingBar_bar-unsuccessful" style="width:<%= funding_bar_percentage(@crowd_campaign) %>%;"></div>
    </div>
    <div class="fundingBar_target"></div>
  </div>

<% elsif @crowd_campaign.funding_1? %>

  <% funding_subtitle = "Mindesbetrag: #{number_to_currency(@crowd_campaign.funding_1_amount, precision: 0 ,unit: "€")}" %>

  <div class="fundingBar">
    <div class="fundingBar_track fundingBar_track-only">
      <div title="<%= number_to_currency(@crowd_campaign.crowd_pledges_sum, precision: 0 ,unit: "€") %>" class="fundingBar_bar" style="width:<%= funding_bar_percentage(@crowd_campaign) %>%;"></div>
    </div>
    <div title="<%= number_to_currency(@crowd_campaign.funding_1_amount, precision: 0 ,unit: "€") %>" class="fundingBar_target fundingBar_target-animated"></div>
    <div class="fundingBar_track"></div>
  </div>

<% elsif @crowd_campaign.over_funding_1? %>

  <% funding_subtitle = "Fundingziel: #{number_to_currency(@crowd_campaign.funding_1_amount, precision: 0 ,unit: "€")}" %>

  <div class="fundingBar">
    <div class="fundingBar_track fundingBar_track-only">
      <div title="<%= number_to_currency(@crowd_campaign.crowd_pledges_sum, precision: 0 ,unit: "€") %>" class="fundingBar_bar" style="width: calc(100% + 0.5em);"></div>
    </div>
    <div title="<%= number_to_currency(@crowd_campaign.funding_1_amount, precision: 0 ,unit: "€") %>" class="fundingBar_target fundingBar_target-success"></div>
    <div class="fundingBar_track fundingBar_track-2nd">
      <div title="<%= number_to_currency(@crowd_campaign.crowd_pledges_sum, precision: 0 ,unit: "€") %>" class="fundingBar_bar" style="width: calc(<%= funding_bar_percentage(@crowd_campaign) %>% + 0.5em);"></div>
    </div>
  </div>

<% elsif @crowd_campaign.funding_2? %>

  <% funding_subtitle = "Nächstes Level: #{number_to_currency(@crowd_campaign.funding_2_amount, precision: 0 ,unit: "€")}" %>

  <div class="fundingBar">
    <div class="fundingBar_track fundingBar_track-1st">
      <div class="fundingBar_bar"></div>
    </div>
    <div title="<%= number_to_currency(@crowd_campaign.funding_1_amount, precision: 0 ,unit: "€") %>" class="fundingBar_target fundingBar_target-success"></div>
    <div class="fundingBar_track fundingBar_track-2nd">
      <div title="<%= number_to_currency(@crowd_campaign.crowd_pledges_sum, precision: 0 ,unit: "€") %>" class="fundingBar_bar" style="width: calc(<%= funding_bar_percentage(@crowd_campaign) %>% + 0.5em);"></div>
    </div>
    <div title="<%= number_to_currency(@crowd_campaign.funding_2_amount, precision: 0 ,unit: "€") %>" class="fundingBar_target fundingBar_target-animated"></div>
    <div class="fundingBar_track"></div>
  </div>

<% elsif @crowd_campaign.over_funding_2? %>

  <% funding_subtitle = "Fundingziel: #{number_to_currency(@crowd_campaign.funding_2_amount, precision: 0 ,unit: "€")}" %>

  <div class="fundingBar">
    <div class="fundingBar_track fundingBar_track-1st">
      <div title="<%= number_to_currency(@crowd_campaign.crowd_pledges_sum, precision: 0 ,unit: "€") %>" class="fundingBar_bar"></div>
    </div>
    <div title="<%= number_to_currency(@crowd_campaign.funding_1_amount, precision: 0 ,unit: "€") %>" class="fundingBar_target fundingBar_target-success"></div>
    <div class="fundingBar_track fundingBar_track-2nd">
      <div title="<%= number_to_currency(@crowd_campaign.crowd_pledges_sum, precision: 0 ,unit: "€") %>" class="fundingBar_bar" style="width: calc(100% + 0.5em);"></div>
    </div>
    <div title="<%= number_to_currency(@crowd_campaign.funding_2_amount, precision: 0 ,unit: "€") %>" class="fundingBar_target fundingBar_target-success"></div>
    <div class="fundingBar_track fundingBar_track-2nd">
      <div title="<%= number_to_currency(@crowd_campaign.crowd_pledges_sum, precision: 0 ,unit: "€") %>" class="fundingBar_bar" style="width: calc(<%= funding_bar_percentage(@crowd_campaign) %>% + 0.5em);"></div>
    </div>
  </div>

<% end %>

<div class="fundingStats">
  <div class="left -amount">
    <h2><%= number_to_currency(@crowd_campaign.crowd_pledges_sum, precision: 0 ,unit: "€") %></h2>
    <span class="full-view"><%= funding_subtitle %></span>
    <small class="compact-view"><%= "(#{funding_percentage(@crowd_campaign).round}%)" rescue nil %></small>
  </div>
  <div class="middle -supporters">
    <h2><%= @crowd_campaign.crowd_pledges.authorized.count %></h2>
    <span>UnterstützerInnen</span>
  </div>
  <div class="right -ending">
    <% if !@crowd_campaign.completed? %>
      <% number, unit = campaign_remaining_time(@crowd_campaign) %>
      <h2><%= number %></h2>
      <span class="full-view compact-view"><%= unit %></span>
    <% end %>
  </div>
</div>
