<% title('Crowdfunding Kampagne - E-Mail an Unterstützer*innen') %>

<section class="crowdfunding-form -compose-mail">

  <%= render 'crowd_campaigns/form/navigation' %>

  <div class="hl-subtext">
    <h1><span>E-Mail</span> an Unterstützer*innen</h1>
  </div>

  <div class="mailTo">

    <%= form_tag send_mail_crowd_campaign_path(@crowd_campaign) do %>

      <div class="input-select select_users">
        <%= label_tag :user_ids do %>
          <%= icon_tag "user-avatar" %>
          <span>Empfänger</span>
        <% end %>
        <%= select_tag :user_ids, options_from_collection_for_select(@supporters, :user_id, :contact_name_and_type, params[:user_ids]), id: 'mail-user-select', multiple: true, required: true %>
      </div>

      <div class="input-field">
        <%= label_tag :subject do %>
        <%= icon_tag "record" %>
        <span>Betreff</span>
        <% end %>
        <%= text_field_tag :subject, params[:subject], placeholder: "Dein Betreff", required: true %>
      </div>

      <div class="input-textarea">
        <%= label_tag :body do %>
        <%= icon_tag "layout-document" %>
        <span>Inhalt</span>
        <% end %>
        <%= text_area_tag :body, params[:body], placeholder: "Deine E-Mail", required: true %>
      </div>

      <%= submit_tag 'E-Mail absenden', data: { disable_with: 'sendet...' }, class: 'btn-primary' %>
    <% end %>
  </div>

</section>
