<% title('Crowdfunding Kampagne bearbeiten') %>

<section class="crowdfunding-form">

  <%= render 'crowd_campaigns/form/navigation' %>
  <%= render 'crowd_campaigns/form/finish_video' %>

  <%= form_for(@crowd_campaign, html: { class: 'crowdfunding_form' }) do |f| %>
  <%= form_errors_for @crowd_campaign %>

  <%= render 'crowd_campaigns/form/finish', f: f %>

  <div class="input-button">
    <%= f.button 'Speichern', data: { disable_with: 'speichert...' }, class: 'btn-secondary -mint' %>
    <%= link_to 'Vorschau', 'javascript:', data: { disable_with: 'speichert...' }, class: ["btn-secondary", "-mint", @crowd_campaign.editable? ? 'save-and-preview' : '-disabled'] %>
    <% if f.object.draft? %>
      <%= f.button 'Projekt zur Freigabe einreichen', data: {confirm: 'Klicke auf "OK" um dein Projekt jetzt zur Freigabe einzureichen.',  disable_with: 'speichert...' }, class: 'btn-primary btn-next', name: "submit_for_approve", value: 'approve' %>
    <% elsif f.object.completed? %>
      <%= link_to 'Weiter zum Projektabschluss', status_crowd_campaign_path(@crowd_campaign), class: 'btn-primary -mint btn-next' %>
    <% else %>
      <%= link_to 'Weiter zum Projektstatus', status_crowd_campaign_path(@crowd_campaign), class: 'btn-primary -mint btn-next' %>
    <% end %>
  </div>

  <% end %>

</section>
