<% title('Crowdfunding Kampagne bearbeiten') %>

<section class="crowdfunding-form">

  <%= render 'crowd_campaigns/form/navigation' %>
  <%= render 'crowd_campaigns/form/description_video' %>

  <%= form_for(@crowd_campaign, html: { class: 'crowdfunding_form' }) do |f| %>
  <%= form_errors_for @crowd_campaign %>

  <%= render 'crowd_campaigns/form/description', f: f %>

  <div class="input-button">
    <%= f.button 'Speichern', data: { disable_with: 'speichert...' }, class: 'btn-secondary -mint' %>
    <%= link_to 'Vorschau', 'javascript:', class: "btn-secondary -mint #{@crowd_campaign.not_editable? ? '-disabled' : 'save-and-preview'}" %>
    <%= f.button 'Weiter zur Projekt Finanzierung', data: { disable_with: 'speichert...' }, class: 'btn-primary btn-next', name: 'page', value: edit_finance_crowd_campaign_path(@crowd_campaign) %>
  </div>

  <% end %>

</section>
