<% title('Neue Crowdfunding Kampagne erstellen') %>

<section class="crowdfunding-form">


  <div class="hl-subtext">
    <h1>Starten wir deine <span>Crowdfunding</span> Kampagne</h1>
  </div>

  <%= render 'crowd_campaigns/form/basic_video' %>

  <%= form_for(@crowd_campaign) do |f| %>
  <%= form_errors_for @crowd_campaign %>
  <%= f.hidden_field :contact_name %>
  <%= f.hidden_field :contact_company %>
  <%= f.hidden_field :contact_address %>
  <%= f.hidden_field :contact_zip %>
  <%= f.hidden_field :contact_city %>
  <%= f.hidden_field :contact_email %>
  <%= f.hidden_field :contact_website %>

  <%= render 'crowd_campaigns/form/basic', f: f %>

  <div class="input-button">
    <%= f.button 'Projekt anlegen', data: { disable_with: 'speichert...' }, class: 'btn-primary' %>
  </div>

  <% end %>

</section>
