<% meta(
    title: t('.title', title: @crowd_campaign.title[0..55].gsub(/\s\w+\s*$/,'...')),
    description: t('.description', desc: @crowd_campaign.description),
    robots: 'index, follow',
    og_title: t('.title', title: @crowd_campaign.title[0..80].gsub(/\s\w+\s*$/,'...')),
    og_description: t('.description', desc: @crowd_campaign.description),
    og_image: @crowd_campaign.cover_photo_url(:header, :large) || image_url("meta/#{current_region.id}/og_logo.png")
  )
%>

<section class="crowd_campaign" data-preview="<%= @preview %>">

  <div class="hl-subtext">
    <h2><em>- WeLocally Crowdfunding -</em></h2>
    <h1><%= @crowd_campaign.title %></h1>
    <p><%= @crowd_campaign.slogan %></p>
  </div>

  <div class="coverImg">
    <%= avatar_image @crowd_campaign.user, size: :thumb, class: 'img-round crowd-avatar' %>

    <% if @crowd_campaign.video? %>
      <%= link_to 'javascript:', class: 'play-icon jBoxVideo', rel: 'nofollow' do %>
        <%= cover_header_image(@crowd_campaign, class: 'titleImg') %>
      <% end %>
    <% else %>
        <%= cover_header_image(@crowd_campaign, class: 'titleImg') %>
    <% end %>

    <div class="social-icons">
      <em>Teilen auf:</em>
      <%= icon_tag "social-facebook" %>
      <%= image_tag 'svg/icon-instagram.svg', loading: 'lazy', width:28, height:28, class: 'icon' %>
    </div>
  </div>
  <div class="coverImgBottom"></div>

  <div class="layoutArea fundingArea">
    <div class="mainArea">
      <%= render 'funding_bar' %>
    </div>
    <div class="sideArea">
      <%= link_to 'Unterstützen', 'javascript:', class: 'btn-primary -rose -large -shadow btn-support' %>
    </div>
  </div>

  <div class="last-supporters">
    <%= render 'crowd_campaigns/show/last_supporters' %>
  </div>

  <div class="navArea">
    <div class="tabs-ctrl -plain">
      <ul class="tabs-nav">
        <li class="active"><a href="#tab-info">Projekt Infos</a></li>
        <li><a href="#tab-updates">Projekt Neuigkeiten (2)</a></li>
        <li><a href="#tab-comments">Pinnwand (0)</a></li>
        <li><a href="#tab-supporters">UnterstützerInnen</a></li>
      </ul>
    </div>
  </div>

  <div id="tabs-container">
    <%= render 'crowd_campaigns/show/tab_info' %>
    <%= render 'crowd_campaigns/show/tab_updates' %>
    <%= render 'crowd_campaigns/show/tab_comments' %>
    <%= render 'crowd_campaigns/show/tab_supporters' %>
  </div>

</section>

<%= render 'crowd_campaigns/show/video' if @crowd_campaign.video? %>
