<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/crowdfunding.jpg')
  )
%>

<section class="info -crowdfunding">
  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1>Lokales Crowdfunding</h1>
    </div>
  </div>
</section>

<section class="startcampaign">

  <div class="paperCard video -cord1RT">
    <wrp-element class="wrp">
      <div class="txt">
        <h3>Setze dein Vorhaben mit der Kraft der Gemeinschaft um!</h3>
        Du hast ein Vorhaben, eine Idee, ein Projekt? Aber dir fehlt zur Realisierung noch Geld, vielleicht auch Raum, helfende Hände oder andere Ressourcen? 
        <strong>Dann könnte Crowdfunding etwas für dich sein.</strong>
      </div>
      <div class="video-thumb">
        <%= link_to 'javascript:', class: 'player play-icon jBoxVideo', rel: 'nofollow' do %>
          <%= image_tag 'videos/academy_intro.jpg', class: 'video', alt:'video-thumb', width:200, height:150 %>
        <% end %>
      </div>
    </wrp-element>
    <wrp-element class="wrp">
      <div class="txt">
        <strong>Unser Tipp!</strong> Unbedingt die Schritt-für-Schritt Erklärung in unserer Crowdfunding Academy anschauen, dann hast du die Basics. 
        <br><br>
        <strong>Falls du unsicher bist,</strong> ob Crowdfunding etwas für dein Vorhaben ist, ruf kurz durch, dann reden wir über dein Vorhaben: <%= link_to "0699 / 150 28 277", "tel:004369915028277" %> oder schreib uns an: <%= mail_to t("region.#{current_region.id}.contact_email") %>
      </div>
    </wrp-element>
    <div class="card"></div>
  </div>
  <div id="jBoxVideoContent" class="jBoxHidden">
    <iframe id="videoIframe" width="800" height="450" src="" data-src="https://player.vimeo.com/video/687848512" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
  </div>

  <div class="btns">
    <%= link_to "Zu deinen bestehenden Kampagnen", crowd_campaigns_user_path, class: 'btn-primary -mint -large -shadow btn' if current_user && current_user.crowd_campaigns.present? %>
    <div class="btn">
      <%= link_to "Starte jetzt deine Crowdfunding Kampagne", new_crowd_campaign_path, class: 'btn-primary -rose -large -shadow', id: 'startproject' %>
      <!--
      <div class="">
        <div class="input-checkbox">
          <%= check_box_tag 'crowdfunding_call', 'yes', true %>
          <%= label_tag :crowdfunding_call, 'Ja, ich möchte beim Crowdfunding Call teilnehmen.' %>
        </div>
      </div>
      -->
    </div>
  </div>

  <!--
  <h1 class="hl-main call-headline"><span>Crowdfunding Call Herbst 2023</span></h1>
  <div class="cardBox -call">
    <txt class="wrp">
      <div class="txt">
        <div class="call-box">
            <%= image_tag 'mailings/call-new.png', alt:'call-thumb', width:200, height:150 %>
            <p>
            <strong>Setze dein Vorhaben mit Begleitung und jede Menge <%= t("region.#{current_region.id}.domain_short") %> Sichtbarkeit um!</strong>
            <br><br>
            Du wirst in der Vorbereitungsphase und während der Durchführung deiner Crowdfunding Kampagne vom <%= t("region.#{current_region.id}.domain_short") %> Team begleitet und mit zusätzlicher Sichtbarkeit unterstützt.
            <br><br>
            <strong>Es stehen im Call drei Plätze zur Verfügung. Die Anmeldung ist bis zum 01.08.2023 möglich. Der Kampagnenstart richtet sich nach deiner Planung. </strong>
            <br><br>
            Was du mitbringst: ein konkretes Vorhaben, das im Idealfall einen zusätzlichen positiven Impact auf andere Menschen hat, wenn es in die Umsetzung kommt. 
            <strong>So nimmst du teil:</strong> Starte dein Projekt, hake dabei <strong>'Crowdfunding Call'</strong> an und fülle anschließend in der Kampagne die ersten beiden Formularseiten aus. Damit bist du beim Call dabei.
            <br>
            <strong>Alle Teilnehmer*innen werden am 07.08.2023 benachrichtigt</strong>, ob es geklappt hat oder nicht.
            </p>
            
        </div>
      </div>
    </txt>
    <div class="card"></div>
  </div>
  -->

  <div class="content-block -toggable">
    <h3>Kosten</h3>
    <div class="-toggle-content">
      <strong>Nur wenn deine Kampagne erfolgreich ist, behalten wir 5,0 % (inkl. MwSt.) der gesammelten Summe für den externen Zahlungsdienstleister ein.</strong>
      Du bestimmst selbst, wie viel du dem <%= t("region.#{current_region.id}.domain_short") %> Team für die Arbeit und den Betrieb der Plattform gibst. Wir glauben an ein faires Geben und Nehmen als Basis für ein starkes WIR.
      <br><br>
      <strong>Wenn die Kampagne nicht erfolgreich ist, kostet sie dich nichts.</strong> Wir übernehmen dann ggf. auch die Kosten, die im Zusammenhang mit dem Zahlungsanbieter aufgetreten sind (z.B. den Legitimations Check etc.).
    </div>
  </div>

  <div class="content-block -toggable">
    <h3>Lokales Crowdfunding, dein Vorteil</h3>
    <div class="-toggle-content">
      <strong>Deine Crowdfunding Kampagne wird in eine bestehenden lokale Gemeinschaft aus lauter Macher*innen platziert.</strong> 
      Die Menschen freuen sich, wenn bei ihnen ums Eck Vorhaben umgesetzt werden. Dadurch wird dein Vorhaben lokal sichtbarer und kann sich leichter verbreiten. Neue Verbindungen und Chancen entstehen!
    </div>
  </div>

  <div class="content-block -toggable">
    <h3>Crowd-Academy</h3>
    <div class="-toggle-content">
      <p class="crowdstrudel">
        <span>Du wünscht dir eine intensive Begleitung, dann melde dich beim <strong>Crowdstrudel Team</strong>.
        Sie haben die <%= link_to 'Crowd-Academy', 'https://www.crowdstrudel.com/crowdfunding-productlaunch', target: '_blank' %> ins Leben gerufen, um euch durch eure Crowdfunding Kampagne zu begleiten.</span>
        <a href="https://www.crowdstrudel.com/crowdfunding-productlaunch", target="_blank">
          <%= image_tag 'logo-crowdstrudel.svg', alt:'crowdstrudel', width:130 %>
        </a>
      </p>
    </div>
  </div>

</section>
