<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/crowdfunding.jpg')
  )
%>

<section class="info -crowdfunding">
  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1>Lokales Crowdfunding</h1>
    </div>
  </div>
</section>

<section class="startcampaign">

  <div class="paperCard video -cord1RT">
    <wrp-element class="wrp">
      <div class="txt">
        <h3>Setze dein Vorhaben mit der Kraft der Gemeinschaft um!</h3>
        Du hast ein Vorhaben, eine Idee, ein Projekt? Aber dir fehlt zur Realisierung noch Geld, vielleicht auch Raum, helfende Hände oder andere Ressourcen? 
        <strong>Dann könnte Crowdfunding etwas für dich sein.</strong>
      </div>
      <div class="video-thumb">
        <%= link_to 'javascript:', class: 'player play-icon jBoxVideo', rel: 'nofollow' do %>
          <%= image_tag 'videos/academy_intro.jpg', class: 'video', alt:'video-thumb', width:200, height:150 %>
        <% end %>
      </div>
    </wrp-element>
    <wrp-element class="wrp">
      <div class="txt">
        <strong>Unser Tipp!</strong> Unbedingt die Schritt-für-Schritt Erklärung in unserer Crowdfunding Academy anschauen, dann hast du die Basics. 
        <br><br>
        <strong>Falls du unsicher bist,</strong> ob Crowdfunding etwas für dein Vorhaben ist, ruf kurz durch, dann reden wir über dein Vorhaben: <%= link_to "0699 / 150 28 277", "tel:004369915028277" %> oder schreib uns an: <%= mail_to t("region.#{current_region.id}.contact_email") %>
      </div>
    </wrp-element>
    <div class="card"></div>
  </div>
  <div id="jBoxVideoContent" class="jBoxHidden">
    <iframe id="videoIframe" width="800" height="450" src="" data-src="https://player.vimeo.com/video/687848512" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
  </div>

  <div class="btns">
    <%= link_to "Zu deinen bestehenden Kampagnen", crowd_campaigns_user_path, class: 'btn-primary -mint -large -shadow btn' if current_user && current_user.crowd_campaigns.present? %>
    <div class="btn">
      <%= link_to "Starte jetzt deine Crowdfunding Kampagne", new_crowd_campaign_path, class: 'btn-primary -rose -large -shadow', id: 'startproject' %>
      <!--
      <div class="call-cb">
        <div class="input-checkbox">
          <%= check_box_tag 'crowdfunding_call', 'yes', true %>
          <%= label_tag :crowdfunding_call, 'Ja, ich möchte beim Crowdfunding Call teilnehmen.' %>
        </div>
      </div>
      -->
    </div>
  </div>

  <!--
  <div class="cardBox -call">
    <txt class="wrp">
      <div class="txt">
        <div class="call-box">
            <div>
              <%= image_tag 'mailings/crowdfunding-call.jpg', alt:'call-thumb' %>
            </div>
            <div>
              <h3>Setze dein Vorhaben mit Begleitung und jede Menge Sichtbarkeit um - Mach mit beim Call!</h3>
              <p>
                Du wirst in der Vorbereitungsphase und während der Durchführung deiner Crowdfunding Kampagne vom <%= t("region.#{current_region.id}.domain_short") %> Team begleitet und mit zusätzlicher Sichtbarkeit unterstützt.
              </p>
              <p>
                <strong>Es stehen drei Plätze zur Verfügung. Die Anmeldung ist bis zum 10. Januar 2024 möglich.</strong>
              </p>
            </div>
        </div>
      </div>
    </txt>
    <div class="card"></div>
  </div>

  <div class="content-block -toggable">
    <h3>Crowdfunding Call Winter 2023/2024 – Alle Infos</h3>
    <div class="-toggle-content">
      <p>
        <strong>Wer kann teilnehmen:</strong> Alle, die ein konkretes Vorhaben haben, das idealerweise einen positiven Impact auf andere hat, sobald es umgesetzt wird. Deine Kampagne sollte bis März 2024 startbereit sein.
      </p>
      <br>
      <p>
        <strong>Und so nimmst du teil:</strong> Starte dein Projekt und markiere dabei die Checkbox <strong>'Crowdfunding Call'</strong> an. Fülle dann im Kampagnen-Editor mindestens <strong>die ersten 3 Formularseiten</strong> bis spätestens 10. Januar 2024 vollständig aus. Damit sicherst du dir deinen Platz beim Call.
      </p>
      <br>
      <p>
        <strong>Alle Teilnehmer*innen werden am 13. Januar 2024 benachrichtigt,</strong> ob sie ausgewählt wurden. Bei Rückfragen melden wir uns vorab bei dir. Falls du nicht für einen der 3 Plätze ausgewählt wirst, kannst du deine Kampagne natürlich trotzdem starten. Wir sind gespannt auf dein Vorhaben! Los geht's! Wir feiern alle Starter*innen!
      </p>
      <br>
      <h3>Die Gewinner*innen des Calls bekommen:</h3>
      <br>
      <p>
        <strong>Intensive Vorbereitung:</strong> Du bekommst drei Sessions zur sorgfältigen Planung deiner Kampagne. Hier erhältst du von uns alle essentiellen Informationen und Insider-Tipps, um dein Crowdfunding-Projekt optimal aufzustellen.
      </p>
      <br>
      <p>
        <strong>Starke Sichtbarkeit:</strong> Neben den üblichen Platzierungen heben wir dein Projekt in unserem redaktionellen Newsletter und auf unseren Social Media-Kanälen hervor. So machen wir dein Vorhaben in der Community sichtbar.
      </p>
      <br>
      <p>
        <strong>Maßgeschneiderte Unterstützungsstrategien:</strong> Wir denken gemeinsam über zusätzliche, auf dein spezielles Projekt zugeschnittene Maßnahmen nach.
      </p>
      <br>
      <p>
        <strong>Begleitung während der Kampagne:</strong> Während deiner Kampagne stehen wir dir mit einer weiteren Session zur Seite, um sicherzustellen, dass du die bestmögliche Unterstützung erhältst und deine Ziele erreichst.
      </p>
      <br>
      <p>
        <strong>Dein persönlicher Fanclub:</strong> Wir sind mehr als nur ein Team; wir sind dein persönlicher Fanclub! Mit positiven Vibes und tatkräftiger Unterstützung begleiten wir dich auf dem spannenden Weg in die Öffentlichkeit.
      </p>

    </div>
  </div>
  -->

  <div class="content-block -toggable">
    <h3>Kosten</h3>
    <div class="-toggle-content">
      <strong>Wenn deine Kampagne erfolgreich ist, behalten wir 5,0 % des erreichten Betrags (inkl. MwSt.) für den externen Zahlungsdienstleister ein.</strong>
      Du bestimmst selbst, wie viel du dem <%= t("region.#{current_region.id}.domain_short") %> Team für die Arbeit und den Betrieb der Plattform gibst. Wir glauben an ein faires Geben und Nehmen als Basis für ein starkes WIR.
      <br><br>
      <strong>Wenn deine Kampagne nicht erfolgreich ist, kostet sie dich nichts.</strong> Wir übernehmen dann ggf. auch die Kosten, die im Zusammenhang mit dem Zahlungsanbieter aufgetreten sind (z.B. den Legitimations Check etc.).
    </div>
  </div>

  <div class="content-block -toggable">
    <h3>Lokales Crowdfunding, dein Vorteil</h3>
    <div class="-toggle-content">
      <strong>Deine Crowdfunding Kampagne wird in eine bestehenden lokale Gemeinschaft aus lauter Macher*innen platziert.</strong> 
      Die Menschen freuen sich, wenn bei ihnen ums Eck Vorhaben umgesetzt werden. Dadurch wird dein Vorhaben lokal sichtbarer und kann sich leichter verbreiten. Neue Verbindungen und Chancen entstehen!
    </div>
  </div>

  <div class="content-block -toggable">
    <h3>Crowd-Academy</h3>
    <div class="-toggle-content">
      <p class="crowdstrudel">
        <span>Du wünscht dir eine intensive Begleitung, dann melde dich beim <strong>Crowdstrudel Team</strong>.
        Sie haben die <%= link_to 'Crowd-Academy', 'https://www.crowdstrudel.com/crowdfunding-productlaunch', target: '_blank' %> ins Leben gerufen, um euch durch eure Crowdfunding Kampagne zu begleiten.</span>
        <a href="https://www.crowdstrudel.com/crowdfunding-productlaunch", target="_blank">
          <%= image_tag 'logo-crowdstrudel.svg', alt:'crowdstrudel', width:130 %>
        </a>
      </p>
    </div>
  </div>

  <% @category = EventCategory.where("title ILIKE :q", q: "%Crowdfunding%").last %>
  <% @meetings = Meeting.upcoming.in(current_region).joins(:event_categories).where(event_categories: {id: @category&.id}) %>

  <% if @meetings.any? %>
    <div class="cardBoxCollection -tripple -meetings">
      <%= render @meetings.last(2) %>
      <%= render 'crowd_campaigns/action_card', create_link: true %>
    </div>
  <% end %>

</section>

