<% title('Lokales Crowdfunding - Starte jetzt dein Projekt') %>

<section class="usersetup -crowd_campaigns">

  <div class="hl-subtext">
    <h1>Lokales <em>Crowdfunding</em></h1>
    <p>Was hat es mit dem Crowdfunding auf sich?</p>
  </div>

  <div class="paperCard video -cord1RT">
    <txt class="wrp">
      <div class="txt">
        <h3>Start jetzt deine Crowdfunding Kampagne</h3>
        Du hast ein Vorhaben, eine Idee, ein Projekt? Aber dir fehlen zur Realisierung noch Geld, vielleicht auch Raum, helfende Hände oder andere Ressourcen? Dann könnte Crowdfunding etwas für dich sein. In unserer <strong>Crowdfunding Academy von <%= link_to 'Crowdstrudel', 'https://www.crowdstrudel.com', target: '_blank' %></strong> erfährst du Schritt für Schritt wie es funktioniert.
      </div>
      <div class="video-thumb">
        <%= link_to 'javascript:', class: 'player play-icon jBoxVideo', rel: 'nofollow' do %>
          <%= image_tag 'videos/academy_intro.jpg', class: 'video', alt:'video-thumb', width:200, height:150 %>
        <% end %>
      </div>
    </txt>
    <txt class="wrp">
      <div class="txt">
        <strong>Lokales Crowdfunding?</strong> Deine Crowdfunding Kampagne wird in eine bestehende lokale Community platziert. Die Menschen freuen sich, wenn bei ihnen ums Eck Vorhaben umgesetzt werden. Dadurch wird dein Vorhaben lokal sichtbarer und kann sich leichter verbreiten. Neue Verbindungen und Chancen entstehen!
        </div>
    </txt>
    <div class="card"></div>
  </div>
  <div id="jBoxVideoContent" class="jBoxHidden">
    <iframe id="videoIframe" width="800" height="450" src="" data-src="https://player.vimeo.com/video/687848512" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
  </div>

  <div class="btns">
    <%= link_to "Zu deinen bestehenden Projekten", crowd_campaigns_user_path, class: 'btn-primary -mint -large -shadow btn' if current_user && current_user.crowd_campaigns.present? %>
    <div class="btn">
      <%= link_to "Starte jetzt ein neues Projekt", new_crowd_campaign_path, class: 'btn-primary -rose -large -shadow', id: 'startproject' %>
      <!--
      <% if current_region.use_districts? %>
      <div class="">
        <div class="input-checkbox">
          <%= check_box_tag 'crowdfunding_call', 'yes', true %>
          <%= label_tag :crowdfunding_call, 'Ja, ich möchte beim Crowdfunding Call teilnehmen.' %>
        </div>
      </div>
      <% end %>
      -->
    </div>
  </div>

<!--
<% if current_region.use_districts? %>
  <div class="cardBox -call">
    <txt class="wrp">
      <div class="txt">
        <div class="call-box">
          <div>
            <%= image_tag 'mailings/call.png', alt:'call-thumb', width:200, height:150 %>
          </div>
          <div>
            <h3>Crowdfunding Call</h3>
            Du wirst in der Vorbereitungsphase und während der Durchführung deiner Crowdfunding Kampagne vom imGrätzl Team begleitet und mit zusätzlicher Sichtbarkeit unterstützt.
            <br><br>
            <strong>Es stehen zwei Plätze zur Verfügung. Die Anmeldung ist möglich vom 27.01. – 05.03. 2023. Der gemeinsame Kampagnenstart ist Anfang April 2023. </strong> Was du mitbringst: ein konkretes Vorhaben, das im Idealfall einen zusätzlichen positiven Impact auf andere Menschen hat, wenn es in die Umsetzung kommt.
            <br><br>
          </div>
        </div>
        <strong>So nimmst du teil:</strong> Starte dein Projekt, hake dabei <strong>'Crowdfunding Call'</strong> an und fülle anschließend in der Kampagne die ersten beiden Formularseiten aus. Damit bist du beim Call dabei. Alle Teilnehmer*innen werden am 07.03.2023 benachrichtigt, ob es geklappt hat oder nicht.
        <%= link_to "Weitere Informationen", 'https://blog.imgraetzl.at/allgemein/crowdfunding-call-fruehjahr-2023-setze-dein-vorhaben-mit-begleitung-und-jede-menge-imgraetzl-sichtbarkeit-um/', target: '_blank' %> zum Crowdfunding Call und zur Begleitung.
      </div>
    </txt>
    <div class="card"></div>
  </div>
<% end %>
-->

  <div class="guidelines">
    <h4>Kosten:</h4>
    <p>
      Nur wenn deine Kampagne erfolgreich ist, behalten wir 5% von der eingegangenen Geldsumme ein, das ist für den Zahlungsanbieter und zur Deckung der internen Kosten. Es ist ein Selbstkostenpreis und für uns kein Geschäftsmodell. Wenn die Kampagne nicht erfolgreich ist, kostet sie dich nichts.
    </p>
  </div>

</section>
