<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/crowdfunding-v2.jpg')
  )
%>


<section class="info -crowdfunding -welocally">
  <div class="imgHeader -fullwidth"></div>
</section>

<section class="startcampaign -welocally">

  <div class="introcontainer">
    <div class="introtxt">
      <div class="hl-subtext">
        <h1><em>reward-based Crowdfunding</em><br> auf WeLocally / imGrätzl</h1>
        <p><strong>Gute Ideen werden Wirklichkeit – durch die Kraft der Gemeinschaft.</strong></p>
      </div>
      <p class="txt">Beim reward-based Crowdfunding unterstützen viele Menschen ein Vorhaben mit einer kleinen oder größeren Summe – und erhalten dafür eine symbolische oder materielle Gegenleistung.</p>
      <p class="txt"><strong>Was uns von anderen Plattformen unterscheidet?</strong><br>Unsere Erfolgsquote liegt bei <strong><%= success_rate %>%</strong> – das ist deutlich über dem Durchschnitt. Das liegt an der <strong>intensiven Begleitung</strong> – und vielleicht auch daran, dass wir <strong>lokal verankert</strong> sind:</p>
      <p class="txt">Deine Kampagne läuft nicht anonym irgendwo im Netz, sondern wird <strong>sichtbar platziert in einer bestehenden lokalen Community</strong> – je nachdem, wo du beheimatet bist und dein Vorhaben umsetzen möchtest.</p>
      <p class="txt"><strong>Aktuell kannst du dein Crowdfunding starten in:</strong><br>Wien, Graz, Linz, Innsbruck und im Mühlviertler Kernland.</p>
      <%= link_to "Los geht's - Neue Kampagne erstellen", "#", class: 'btn-primary -rose -large -shadow region-select-link', id: 'startproject', data: {urlmethod: start_crowd_campaigns_path} %>
    </div>
    <div class="introSide">

      <div class="paperCard -lightblue -illuteaser -fragen -cord1RT">
        <div class="wrp">
          <h3>Jeden Mittwoch, 12:30 Uhr:<br>Kostenlose Crowdfunding-Sprechstunde via Zoom!</h3>
          <p>Die Realisierung deines Vorhabens liegt uns am Herzen! Deshalb freuen wir uns darauf, uns mit dir über dein Vorhaben auszutauschen, dir unsere Crowdfunding-Expertise zur Verfügung zu stellen und deine Fragen persönlich zu beantworten.</p>
          <ul>
            <li><%= link_to "Hier kannst du teilnehmen", 'https://us02web.zoom.us/j/89491765878?pwd=aytFTXVjSm5Zb0tiQkorbFJFd1YvZz09' %></li>
            <li>Oder melde dich direkt bei uns: 0699 / 150 28 277 oder per Mail: <%= mail_to "wir@imgraetzl.at" %></li>
          </ul>
        </div>
        <div class="card"></div>
      </div>

    </div>
  </div>


  <div class="content-wide -large -boost">
    <div class="wrp-inner">
      <div class="hl-subtext">
        <h1>Zuschuss zum Crowdfunding für Raumvorhaben</h1>
      </div>
      <p>
        Crowdfunding funktioniert besonders gut bei der Umsetzung von Raumvorhaben: beispielsweise bei der Aktivierung von Leerstand, der Renovierung oder Ausstattung von Räumen für lokale Macher*innen. Um das noch stärker zu unterstützen, setzen wir hier mit einem Zuschussmodell (aka Matchfunding) an: Wenn du im Rahmen eines Calls dein Raumvorhaben einreichst und ein Crowdfunding startest, kannst du einen zusätzlichen Zuschuss erhalten. 
        Was solche Zuschüsse noch alles Positives auslösen, zeigen wir im <a href="https://www.morgenjungs.com/allgemein/matchfunding-fuer-die-nutzungsgemischte-stadt/" target="_blank">Wirkungsbericht</a> zu unserem ersten Piloten.
      </p>
      <h3>So funktionierts:</h3>
      <ul>
        <li><strong>Der Zuschuss wird im Rahmen von Calls</strong> vergeben, die regelmäßig stattfinden – sobald der Fördertopf ausreichend gefüllt ist.</li>
        <li>Finanziert wird der Topf durch <strong>Sponsoring-Partner*innen</strong> und die Funktion <strong>„Aufrunden bitte“</strong>: Dabei werden bei allen laufenden Kampagnen auf imGrätzl und WeLocally kleine Beträge gesammelt – natürlich erst, nachdem die jeweilige Unterstützung abgeschlossen ist.</li>
        <li>Das gesammelte Geld wird anschließend als Zuschuss im Rahmen eines Calls an <strong>qualifizierte Projekte</strong> vergeben – wenn sie erfolgreich ins Crowdfunding starten.</li>
      </ul>
    </div>
  </div>

  <div class="content-wide -nobg">
    <div class="wrp-inner">
      <div class="hl-subtext">
        <h1><em>Aktuelle Förertöpfe</em></h1>
        <p><strong>In diesen Städten gibt es aktuell einen Crowdfunding-Zuschuss für Raumvorhaben</strong></p>
      </div>

      <div class="cardBoxCollection -tripple">
        <% @crowd_boosts.each do |crowd_boost| %>
          <%= render 'crowd_boosts/crowd_boost_info', crowd_boost: crowd_boost %>
        <% end %>
      </div>
    </div>
  </div>

</section>

<div class="content-wide">
  <div class="wrp-inner">
    <div class="hl-subtext">
      <h1>Aktuelle Crowdfunding Projekte</h1>
    </div>
    <%= form_tag load_collections_crowd_campaigns_path(per_page: 6), method: :get, remote: true, class: 'cards-filter' do %>
    <% end %>

    <div class="card-grid-container">
      <div class="card-grid" data-behavior="crowd-campaigns-card-container"></div>
      <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide preventInfiniteScroll', data: { disable_with: 'lädt...', behavior: 'crowd-campaigns-paginate-link' }, rel: 'nofollow' %>
    </div>
  </div>
</div>



<!-- SLIDER -->
<div class="lightSliderWrapper card-slider-container -userquotes">

  <div class="hl-subtext">
    <h1>Erfolgreiche Kampagnen berichten - Wie wars?</h1>
  </div>

  <div class="cardBoxCollection" id="card-slider">

    <!-- Single Quote -->
    <div class="cardBox -quote">
      <div class="campaign">
        <div class="avatar">
          <a href="https://www.imgraetzl.at/crowdfunding/die-hauswirtschaft" target="_blank"><%= image_tag('info/quote-hauswirtschaft.jpg', class: 'attachment user avatar img-round') %></a>
        </div>
        <div class="infos">
          <a href="https://www.imgraetzl.at/crowdfunding/die-hauswirtschaft" target="_blank">NordbahnSaal – Bau mit uns das soziale und kulturelle Herz fürs Grätzl!</a>
          <h3>38.015 €</h3>
        </div>
      </div>
      <div class="txt">
        &#8222;Im.Grätzl war für uns die ideale Plattform um über eine Crowdfunding Kampagne das lokale Netzwerk und die Bewohner*innen vor Ort für unsere Idee zu begeistern! Es hat funktioniert und wir freuen uns sehr vor allem von Menschen, die im Bezirk wohnen Zuspruch, positives Feedback und letztlich auch die monetäre Unterstützung für unser Projekt bekommen zu haben. Das Team von im.Grätzl hat uns während der aufregenden Crowdfunding Laufzeit kompetent und zielsicher beraten und so konnten wir zum richtigen Zeitpunkt die richten Schritte setzten um das Crowdfunding erfolgreich zu beenden.&#8220;
      </div>
    </div>

    <!-- Single Quote -->
    <div class="cardBox -quote">
      <div class="campaign">
        <div class="avatar">
          <a href="https://www.imgraetzl.at/crowdfunding/yes-she-can-mentoring-fur-bpoc-frauen-madchen" target="_blank"><%= image_tag('info/quote-yes-she-can.jpg', class: 'attachment user avatar img-round') %></a>
        </div>
        <div class="infos">
          <a href="https://www.imgraetzl.at/crowdfunding/yes-she-can-mentoring-fur-bpoc-frauen-madchen" target="_blank">"Yes She Can" Mentoring für BPOC Frauen & Mädchen</a>
          <h3>6.065 €</h3>
        </div>
      </div>
      <div class="txt">
        &#8222;Die Zusammenarbeit im Rahmen des Crowdfundings war einfach großartig. Das Team war super professionell, engagiert und unterstützend, was den gesamten Prozess reibungslos und angenehm gemacht hat. Wir haben uns jederzeit gut aufgehoben gefühlt und würden jederzeit wieder bei imGrätzl eine Crowdfunding Kampagne starten. Vielen Dank für die hervorragende und sehr persönliche Unterstützung!&#8220;
      </div>
    </div>

    <!-- Single Quote -->
    <div class="cardBox -quote">
      <div class="campaign">
        <div class="avatar">
          <a href="https://muehlviertler-kernland.welocally.at/crowdfunding/kleines-malwunder" target="_blank"><%= image_tag('info/quote-eva-kriegler.jpg', class: 'attachment user avatar img-round') %></a>
        </div>
        <div class="infos">
          <a href="https://muehlviertler-kernland.welocally.at/crowdfunding/kleines-malwunder" target="_blank">Malraum - Raum für Kreativität - Kleines Malwunder</a>
          <h3>3.227 €</h3>
        </div>
      </div>
      <div class="txt">
        &#8222;Es war schon ein wenig Überwindung, die Kampagne zu starten, doch nach dem Motto "Ich habe ja nichts zu verlieren" habe ich mich einfach hineingestürzt. Durch euren Support habe ich mich gut begleitet gefühlt. Vorteilhaft finde ich eure persönliche Note und die Regionalität! Dass ich mit dem Erfolg der Kampagne dann meine ersten Anschaffungen finanzieren konnte, war die eine Freude. Dass ich an Sichtbarkeit gewonnen habe und viele Menschen erreicht habe, war eine zusätzliche Freude. Ich würde es auf jeden Fall genauso nochmal machen!&#8220;
      </div>
    </div>

    <!-- Single Quote -->
    <div class="cardBox -quote">
      <div class="campaign">
        <div class="avatar">
          <a href="https://www.imgraetzl.at/crowdfunding/keep-it-in-circle-with-a-cycle" target="_blank"><%= image_tag('info/quote-brotpilotinnen.jpg', class: 'attachment user avatar img-round') %></a>
        </div>
        <div class="infos">
          <a href="https://www.imgraetzl.at/crowdfunding/keep-it-in-circle-with-a-cycle" target="_blank">Brotpilot:innen - Keep it in circle with a cycle</a>
          <h3>5.433 €</h3>
        </div>
      </div>
      <div class="txt">
        &#8222;Schon bei der Kampagnenerstellung wurde uns aktiv Unterstützung angeboten, damit das Crowdfunding ein Erfolg wird. Die persönliche Beratung mit Erfahrungsberichten war extrem hilfreich, vor allem weil es unser erstes Crowdfunding war und man daher noch überhaupt nicht weiß, was bei einem solchen Vorhaben wichtig ist. Auch während des Crowdfundings bekamen wir tatkräftige Unterstützung durch Tipps und aktives Teilen. Neben den einfach verständlichen Erklärvideos und toller Website hat uns zusammenfassend vor allem die persönliche Unterstützung begeistert!&#8220;
      </div>
    </div>


  </div>
</div>
<!-- /SLIDER -->

<%= link_to "Los geht's - Neue Kampagne erstellen", "#", class: 'btn-primary -rose -large -shadow region-select-link', data: {urlmethod: start_crowd_campaigns_path} %>
