<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/crowdfunding-v2.jpg')
  )
%>


<section class="info -crowdfunding">
  <div class="imgHeader -fullwidth"></div>
</section>

<section class="startcampaign">

  <div class="introcontainer">
    <div class="introtxt">
      <div class="hl-subtext">
        <h1><em>Lokales Crowdfunding</em></h1>
        <p><strong>Setze dein Vorhaben mit der Kraft der Gemeinschaft um!</strong></p>
        <p>Starte jetzt mit dem Anlegen deiner Crowdfunding-Kampagne.</p>
      </div>
      <p class="txt">Falls du unsicher bist, ob Crowdfunding etwas für dich ist, ruf kurz durch, dann reden wir über dein Vorhaben: 0699 / 150 28 277 oder schreib uns an: <%= mail_to t("region.#{current_region.id}.contact_email") %></p>
      <p><%= link_to "Los geht's - Neue Kampagne erstellen", new_crowd_campaign_path, class: 'btn-primary -rose -large -shadow', id: 'startproject' %></p>
    </div>
    <div class="introSide">

      <div class="paperCard -lightblue -illuteaser -fragen -cord1RT">
        <div class="wrp">
          <h3>Jeden Mittwoch, 12:30 Uhr:<br>Kostenlose Crowdfunding-Sprechstunde via Zoom!</h3>
          <p>Die Realisierung deines Vorhabens liegt uns am Herzen! Deshalb freuen wir uns darauf, uns mit dir über dein Vorhaben auszutauschen, dir unsere Crowdfunding-Expertise zur Verfügung zu stellen und deine Fragen persönlich zu beantworten.</p>
          <ul>
            <li><%= link_to "Hier kannst du teilnehmen", 'https://us02web.zoom.us/j/89491765878?pwd=aytFTXVjSm5Zb0tiQkorbFJFd1YvZz09' %></li>
          </ul>
        </div>
        <div class="card"></div>
      </div>

    </div>
  </div>


  <div class="content-wide">
    <div class="wrp-inner">
      <div class="hl-subtext">
        <h1>Ablauf deiner Crowdfunding Kampagne</h1>
      </div>
      <div class="num-items">
        <div><h3>Kampagne erstellen</h3>Du kannst in Ruhe deine Kampagne ausfüllen und Zwischenstände speichern, bis du damit zufrieden bist. Sie ist im Bearbeitungsmodus nur für dich sichtbar.</div>
        <div><h3>Kampagne freischalten</h3>Fertig ausgefüllt? Reiche nun deine Kampagne zur Freischaltung ein und erhalte noch wertvolles Feedback.</div>
        <div><h3>Auszahlungskonto</h3>Verknüpfe nun noch deine Kampagne mit unserem Zahlungsdienstleister Stripe, und danach kann es losgehen.</div>
        <div><h3>Kampagnenstart</h3>Jetzt heißt's trommeln, sichtbar machen und allen davon erzählen. Am besten persönlich und immer wieder!</div>
        <div><h3>Kampagnenende</h3>Bei Erfolg werden nun die Gelder deiner Supporter eingezogen. Bei Nichterfolg wird natürlich nichts abgebucht.</div>
        <div><h3>Geld erhalten</h3>14 Tage nach Kampagnenende wird deine tatsächlich erreichte Fundingsumme auf dein Konto überwiesen. Yeah!</div>
      </div>
    </div>
  </div>

  <% if @crowd_boost %>
    <div class="introcontainer -middle">
      <div class="introtxt">
        <div class="hl-subtext">
          <h1>Fördertopf <em><%= @crowd_boost.title %></em></h1>
          <p><strong>Der Zuschuss zum Crowdfunding für Raumvorhaben</strong></p>
        </div>
        <p class="txt">
          Crowdfunding funktioniert besonders gut bei der Umsetzung von Raumvorhaben: beispielsweise bei der Aktivierung von Leerstand, der Renovierung oder Ausstattung von Räumen für lokale Macher*innen. 
        </p>
        <p class="txt">
          Um das noch stärker zu unterstützen, setzen wir hier mit einem Zuschussmodell (aka Matchfunding) an: Wenn du im Rahmen eines Calls dein Raumvorhaben einreichst und ein Crowdfunding startest, kannst du einen zusätzlichen Zuschuss erhalten. 
        </p>
      </div>
      <div class="introSide">
        <% if current_region.is?('wien') %>
          <%= render "shared/featured_cards/raumbooster_wien" %>
        <% else %>
          <%= render 'crowd_boosts/crowd_boost_info', crowd_boost: @crowd_boost %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="content-wide -rosa success-container">
    <div class="wrp-inner">
      <div class="txt left">Unsere Erfolgsquote<br>bei <%= t("region.#{current_region.id}.domain_short") %> liegt bei:</div>
      <div class="badge"><div class="inner"><%= success_rate %>%</div></div>
      <div class="txt">Damit liegen wir im absoluten Spitzenfeld!</div>
    </div>
  </div>


  <div class="advantage-container">
    <div class="hl-subtext">
      <h1>Was für ein <span>Crowdfunding auf <%= t("region.#{current_region.id}.domain_short") %></span> spricht</h1>
    </div>
    <ul>
      <li>
        <h3>Hohe Erfolgsquote</h3>
        <p>Unsere Begleitung ist der Schlüssel zu einer hohen Erfolgsquote. Wir vereinfachen den komplexen Crowdfunding-Prozess in leicht umsetzbare Arbeitsschritte für dein Projekt.</p>
      </li>
      <li>
        <h3>Lokale Community</h3>
        <p>Dein Vorhaben wird in unserer lokalen <%= t("region.#{current_region.id}.domain_short") %>-Community <%= t("region.#{current_region.id}.in_region") %> sichtbar gemacht.</p>
      </li>
      <li>
        <h3>Unsere Expertise</h3>
        <p>Wir teilen unser umfassendes Crowdfunding-Wissen und unterstützen dich mit lokalem Know-how und wertvollen Kontakten.</p>
      </li>
      <li>
        <h3>Kosten</h3>
        <p>
          Wenn deine Kampagne nicht erfolgreich ist, kostet sie dich nichts.
          Unsere Fixkosten greifen nur <strong>bei Erfolg</strong> deiner Kampagne und betragen ab <strong>7 % – alles inklusive.</strong>
          Enthalten sind bereits 3,5 % für den Zahlungsdienstleister (Stripe) und die gesetzliche MwSt.
          <strong>Keine versteckten Kosten.</strong>
          Über jeden zusätzlichen Prozentpunkt entscheidest du selbst.
          Im Schnitt geben Starter*innen 9 % und erhalten dafür mehr Sichtbarkeit, individuelle Beratungssessions und Support.
       </p>
      </li>
      <li>
        <h3>Persönlicher Kontakt</h3>
        <p>Du kannst uns anrufen oder zu den wöchentlichen Crowdfunding-Check-ins kommen.</p>
      </li>
      <li>
        <h3>Extra Services für Unterstützer*innen</h3>
        <p>Nicht alle Menschen sind so digital affin. Wenn Unterstützer*innen Schwierigkeiten bei der Durchführung von Online-Zahlungen haben, bekommen sie eine E-Mail von uns mit einer Telefonnummer, und wir leiten sie dann persönlich durch den Prozess.</p>
      </li>
      <li>
        <h3>Jeden Mittwoch, 12:30 Uhr - <span>Kostenlose Crowdfunding-Sprechstunde</span> via Zoom!</h3>
        <p>Die Realisierung deines Vorhabens liegt uns am Herzen! Deshalb freuen wir uns darauf, uns mit dir über dein Vorhaben auszutauschen, dir unsere Crowdfunding-Expertise zur Verfügung zu stellen und deine Fragen persönlich zu beantworten. <%= link_to "Hier kannst du teilnehmen", 'https://us02web.zoom.us/j/89491765878?pwd=aytFTXVjSm5Zb0tiQkorbFJFd1YvZz09' %>.</p>
      </li>
    </ul>
  </div>

  <%= link_to "Los geht's - Neue Kampagne erstellen", new_crowd_campaign_path, class: 'btn-primary -rose -large -shadow' %>

</section>

<!-- SLIDER -->
<div class="lightSliderWrapper card-slider-container -userquotes">

  <div class="hl-subtext">
    <h1>Erfolgreiche Kampagnen berichten - Wie wars?</h1>
  </div>

  <div class="cardBoxCollection" id="card-slider">

    <!-- Single Quote -->
    <div class="cardBox -quote">
      <div class="campaign">
        <div class="avatar">
          <a href="https://innsbruck.welocally.at/crowdfunding/sauerteigland-backerei" target="_blank"><%= image_tag('info/quote-sauerteigland.jpg', class: 'attachment user avatar img-round') %></a>
        </div>
        <div class="infos">
          <a href="https://innsbruck.welocally.at/crowdfunding/sauerteigland-backerei" target="_blank">Sauerteigland Bäckerei</a>
          <h3>26.163 €</h3>
        </div>
      </div>
      <div class="txt">
        &#8222;Das Team von Welocally hat mich durch alle Höhen und Tiefen meiner Crowdfunding-Kampagne begleitet und stand mir jederzeit bei Fragen zur Seite. Schon in der Vorbereitungsphase konnte ich auf die wertvolle Unterstützung und Erfahrung des Teams zählen. Dank der Begleitung und der Plattform von Welocally konnte ich mich mit meinen Unterstützer:innen verbinden und mein Mindestziel deutlich übertreffen. Ein herzliches Dankeschön für die großartige Unterstützung!&#8220;
      </div>
    </div>

    <!-- Single Quote -->
    <div class="cardBox -quote">
      <div class="campaign">
        <div class="avatar">
          <a href="https://www.imgraetzl.at/crowdfunding/die-hauswirtschaft" target="_blank"><%= image_tag('info/quote-hauswirtschaft.jpg', class: 'attachment user avatar img-round') %></a>
        </div>
        <div class="infos">
          <a href="https://www.imgraetzl.at/crowdfunding/die-hauswirtschaft" target="_blank">NordbahnSaal – Bau mit uns das soziale und kulturelle Herz fürs Grätzl!</a>
          <h3>38.015 €</h3>
        </div>
      </div>
      <div class="txt">
        &#8222;Im.Grätzl war für uns die ideale Plattform um über eine Crowdfunding Kampagne das lokale Netzwerk und die Bewohner*innen vor Ort für unsere Idee zu begeistern! Es hat funktioniert und wir freuen uns sehr vor allem von Menschen, die im Bezirk wohnen Zuspruch, positives Feedback und letztlich auch die monetäre Unterstützung für unser Projekt bekommen zu haben. Das Team von im.Grätzl hat uns während der Laufzeit kompetent und zielsicher beraten und so konnten wir zum richtigen Zeitpunkt die richten Schritte setzten.&#8220;
      </div>
    </div>

    <!-- Single Quote -->
    <div class="cardBox -quote">
      <div class="campaign">
        <div class="avatar">
          <a href="https://www.imgraetzl.at/crowdfunding/yes-she-can-mentoring-fur-bpoc-frauen-madchen" target="_blank"><%= image_tag('info/quote-yes-she-can.jpg', class: 'attachment user avatar img-round') %></a>
        </div>
        <div class="infos">
          <a href="https://www.imgraetzl.at/crowdfunding/yes-she-can-mentoring-fur-bpoc-frauen-madchen" target="_blank">"Yes She Can" Mentoring für BPOC Frauen & Mädchen</a>
          <h3>6.065 €</h3>
        </div>
      </div>
      <div class="txt">
        &#8222;Die Zusammenarbeit im Rahmen des Crowdfundings war einfach großartig. Das Team war super professionell, engagiert und unterstützend, was den gesamten Prozess reibungslos und angenehm gemacht hat. Wir haben uns jederzeit gut aufgehoben gefühlt und würden jederzeit wieder bei imGrätzl eine Crowdfunding Kampagne starten. Vielen Dank für die hervorragende und sehr persönliche Unterstützung!&#8220;
      </div>
    </div>

    <!-- Single Quote -->
    <div class="cardBox -quote">
      <div class="campaign">
        <div class="avatar">
          <a href="https://www.imgraetzl.at/crowdfunding/keep-it-in-circle-with-a-cycle" target="_blank"><%= image_tag('info/quote-brotpilotinnen.jpg', class: 'attachment user avatar img-round') %></a>
        </div>
        <div class="infos">
          <a href="https://www.imgraetzl.at/crowdfunding/keep-it-in-circle-with-a-cycle" target="_blank">Brotpilot:innen - Keep it in circle with a cycle</a>
          <h3>5.433 €</h3>
        </div>
      </div>
      <div class="txt">
        &#8222;Schon bei der Kampagnenerstellung wurde uns aktiv Unterstützung angeboten, damit das Crowdfunding ein Erfolg wird. Die persönliche Beratung mit Erfahrungsberichten war extrem hilfreich, vor allem weil es unser erstes Crowdfunding war und man daher noch überhaupt nicht weiß, was bei einem solchen Vorhaben wichtig ist. Auch während des Crowdfundings bekamen wir tatkräftige Unterstützung durch Tipps und aktives Teilen. Neben den einfach verständlichen Erklärvideos und toller Website hat uns vor allem die persönliche Unterstützung begeistert!&#8220;
      </div>
    </div>

    <!--
    <div class="cardBox -quote">
      <div class="campaign">
        <div class="avatar">
          <a href="https://muehlviertler-kernland.welocally.at/crowdfunding/kleines-malwunder" target="_blank"><%= image_tag('info/quote-eva-kriegler.jpg', class: 'attachment user avatar img-round') %></a>
        </div>
        <div class="infos">
          <a href="https://muehlviertler-kernland.welocally.at/crowdfunding/kleines-malwunder" target="_blank">Malraum - Raum für Kreativität - Kleines Malwunder</a>
          <h3>3.227 €</h3>
        </div>
      </div>
      <div class="txt">
        &#8222;Es war schon ein wenig Überwindung, die Kampagne zu starten, doch nach dem Motto "Ich habe ja nichts zu verlieren" habe ich mich einfach hineingestürzt. Durch euren Support habe ich mich gut begleitet gefühlt. Vorteilhaft finde ich eure persönliche Note und die Regionalität! Dass ich mit dem Erfolg der Kampagne dann meine ersten Anschaffungen finanzieren konnte, war die eine Freude. Dass ich an Sichtbarkeit gewonnen habe und viele Menschen erreicht habe, war eine zusätzliche Freude. Ich würde es auf jeden Fall genauso nochmal machen!&#8220;
      </div>
    </div>
    -->


  </div>
</div>
<!-- /SLIDER -->