<% title('Crowdfunding Kampagne Status Übersicht') %>

<section class="crowdfunding-form -statuspage">

  <%= render 'crowd_campaigns/form/navigation' %>

  <% if @crowd_campaign.pending? %>

      <div class="statuscontainer">
        <div class="statustxt">
          <div class="hl-subtext">
            <h2><span>Deine Kampagne </span>wird nun geprüft.</h2>
            <p>Sobald die Kampagne freigeschaltet ist, bekommst du ein Mail von uns.</p>
          </div>
          <p>
            <strong>In der Zwischenzeit noch ein ganz wichtiger Tipp, was du jetzt tun könntest:</strong> Lege eine Liste mit Personen an, die du persönlich kontaktieren kannst und bei denen du dir relativ sicher bist, dass sie dein Vorhaben gerne unterstützen werden.
          </p>
          <p>
            <strong>Speziell in den ersten Tagen der Kampagne ist es nämlich enorm wichtig, dass unterschiedliche Personen in deine Kampagne einzahlen: z.B. Familie, Freunde, Bekannte oder andere persönliche Kontakte.</strong>
          </p>
          <p>
            Es gibt eine Formel: ca. 30 % deines Wunschbetrags kommen in den ersten Tagen auf diesem Wege zusammen und ziehen dann weitere Unterstützer*innen an. Die ersten Unterstützer*innen zu gewinnen ist das A und O einer erfolgreichen Kampagne.
          </p>
        </div>
        <%= render @crowd_campaign, manage_buttons: true %>
      </div>

  <% elsif @crowd_campaign.approved? %>

      <div class="statuscontainer">
        <div class="statustxt">
          <div class="hl-subtext">
            <h2><span>Deine Kampagne </span>ist freigegeben.</h2>
            <p>
              Deine Kampagne ist nun bereit und startet am <%= I18n.localize(@crowd_campaign.startdate, format:'%d. %b %Y') %>
            </p>
          </div>
          <p>
            <strong>Hast du die Listen mit den persönlichen Kontakten in der Zwischenzeit erstellt?</strong> Das ist der wichtigste Baustein, also falls du es noch nicht getan hast, dann los.
          </p>
          <p>
            <strong>Der nächste Schritt:</strong> Überlege dir die verschiedene Texte und Bilder für Postings in den sozialen Netzwerken, je nachdem, wo du aktiv bist.
          </p>
          <p>
            Hast du einen Newsletter, den du verschickst? Dort darf deine Kampagne und dein Vorhaben natürlich auch rein. Kennst du persönlich Menschen, die viele Kontakte und eine größere Reichweite haben, dann frage sie, ob sie dein Vorhaben unterstützen könnten, indem sie die Kampagne in den sozialen Netzwerken teilen oder in ihren Newsletter aufnehmen.
          </p>
          <p>
            Du bekommst von uns eine Benachrichtigung, sobald deine Kampagne online ist.
          </p>
        </div>
        <%= render @crowd_campaign, manage_buttons: true %>
      </div>

  <% elsif @crowd_campaign.funding? %>

      <div class="hl-subtext">
        <h2>Deine Kampagne ist aktiv und <span>läuft gerade</span></h2>
        <p>
          Wir drücken ganz fest die Daumen!
        </p>
      </div>
      <%= render 'funding_bar' rescue nil %>
      <%= render 'crowd_campaigns/crowd_pledges/crowd_pledges_table' %>

  <% elsif @crowd_campaign.completed? %>

      <% if @crowd_campaign.successful? %>
        <div class="hl-subtext">
          <h2>Übersicht & <span>Fundingstatistik</span></h2>
          <% if @crowd_campaign.closed? %>
            <p>Deine Kampagne wurde erfolgreich abgewickelt.</p>
          <% else %>
            <p>
              Herzlichen Glückwunsch zu deiner erfolgreichen Kampagne!<br>
              Die Abwicklung dauert nun bis zu 14 Tagen nach Kampagnenende.
            </p>
          <% end %>
        </div>
      <% else %>
        <div class="hl-subtext">
          <h2><span>Deine Kampagne</span> ist abgeschlossen.</h2>
          <p>Leider hats diesmal nicht geklappt ...</p>
        </div>
      <% end %>

      <div class="paperCard video -cord1RT">
        <div class="wrp">
          <div class="funding-stats">
            <div class="header">
              <h4 class="title">Dein festgelegtes Fundingziel</h4>
              <h4 class="amount"><%= number_to_currency(@crowd_campaign.funding_1_amount, unit: "€") %></h4>
            </div>
            <% if @crowd_campaign.funding_2_amount %>
            <div class="header">
              <h4 class="title">Dein festgelegter Optimalbetrag</h4>
              <h4 class="amount"><%= number_to_currency(@crowd_campaign.funding_2_amount, unit: "€") %></h4>
            </div>
            <% end %>
            <br>
            <div>
              <h3 class="title">Deine erreichte Fundingsumme</h3>
              <h3 class="amount"><%= number_to_currency(@crowd_campaign.crowd_pledges_sum, unit: "€") %></h3>
            </div>
            <% if @crowd_campaign.successful? %>

              <% if @crowd_campaign.closed? %>
                <div>
                  <h4 class="title">Fehlgeschlagen / Widerrufe</h4>
                  <h4 class="amount">-<%= number_to_currency(@crowd_campaign.crowd_pledges_failed_sum, unit: "€") %></h4>
                </div>
                <div>
                  <h4 class="title">Transaktionsgebühren (4%)</h4>
                  <h4 class="amount">-<%= number_to_currency(@crowd_campaign.crowd_pledges_fee, unit: "€") %></h4>
                </div>
                <div>
                  <h3 class="title">Auszahlungssumme</h3>
                  <h3 class="amount"><%= number_to_currency(@crowd_campaign.crowd_pledges_payout, unit: "€") %></h3>
                </div>
              <% else %>
                <div class="hint">
                  <p>
                    <strong>Es dauert nun bis zu 14 Tagen bis deine Kampagne vollständig abgewickelt wird.</strong><br>
                    Danach erhältst du eine detaillierte Übersicht deiner Unterstützungen und bekommst deine tatsächlich erreichte Fundingsumme ausbezahlt.
                  </p>
                </div>
              <% end %>

            <% else %>
            <div class="hint">
              Du hast dein Fundingziel leider nicht erreicht, daher kommt es auch zu keiner Auszahlung.<br>
              Deinen Unterstützer*innen wird daher der zugesagte Betrag nicht abgebucht.
            </div>
            <% end %>
          </div>
        </div>
        <div class="card"></div>
      </div>

      <% if @crowd_campaign.successful? && @crowd_campaign.closed? %>
        <%= link_to download_supporters_crowd_campaign_path(@crowd_campaign, format: :xlsx), class: 'btn-secondary -mint -ico' do %>
          <span>Download UnterstützerInnen als Excel</span>
          <%= icon_tag "download" %>
        <% end %>
      <% end %>

      <%= render 'crowd_campaigns/crowd_pledges/crowd_pledges_table' %>

  <% end %>

</section>
