<% title('Crowdfunding Kampagne - Status Übersicht') %>

<section class="crowdfunding-form -statuspage">

  <%= render 'crowd_campaigns/form/navigation' %>

  <% if !@crowd_campaign.user.stripe_connect_ready? %>
    <div class="cardBox -stripeConnect">
      <div class="hl-subtext">
        <h2><span>Verifizierung</span> deines Auszahlungskontos</h2>
        <p>
          <strong>Damit deine Kampagne starten kann, muss zunächst noch dein Auszahlungskonto verifiziert werden. Für die Verifizierung setzen wir vertrauensvoll auf den Zahlungsanbieter <%= link_to 'Stripe', 'https://stripe.com/at/', target: '_blank' %>.</strong>
        </p>
      </div>
      <%= link_to stripe_connect_initiate_crowd_campaign_path(@crowd_campaign), class: 'btn-secondary -ico' do %>
        <span>Stripe Verifizierung jetzt durchführen</span>
        <%= icon_tag "link" %>
      <% end %>
      <br>
      <p><em>
        Klicke auf den Button und mache den Prozess vollständig durch. Danach kann es 24 Stunden dauern, bis Stripe deine Legitimation geprüft und auf erfolgreich gesetzt hat.
        <br><br>
        Verifizierung ist für Crowdfunding unumgänglich, weil es gesetzlich vorgeschrieben ist (Geldwäschegesetz §11) Identität und Kontodaten des Auszahlungskontos zu prüfen, um die Unterstützer:innen zu schützen. (Ohne einer erfolgreichen Verifizierung, kann deine Kampagne nicht starten.)
      </em></p>
    </div>
  <% end %>

  <% if @crowd_campaign.draft? %>

      <div class="statuscontainer">
        <div class="statustxt">
          <div class="hl-subtext">
            <h2><span>Deine Kampagne </span>ist noch in Bearbeitung.</h2>
            <p>Wenn du fertig bist, reiche diese zur Freigabe ein.</p>
          </div>
          <p>
            Sobald du mit der Bearbeitung deiner Kampagne fertig bist, klicke im Kampagnen-Setup auf der letzten Seite unter <%= link_to 'Projekt Abschluss', edit_finish_crowd_campaign_path(@crowd_campaign) %> auf den Button <strong>"Projekt zur Freigabe einreichen"</strong>, damit wir Bescheid wissen und deine Kampagne prüfen und auch freigeben können.
          </p>
        </div>
        <%= render @crowd_campaign, manage_buttons: true %>
      </div>
  
  <% elsif @crowd_campaign.re_draft? %>

     <div class="statuscontainer">
        <div class="statustxt">
          <div class="hl-subtext">
            <h2><span>Deine Kampagne </span>ist in Überarbeitung.</h2>
            <p>Wenn du damit fertig bist, reiche diese erneut zur Freigabe ein.</p>
          </div>
          <p>
            <strong>Wenn du bereits mit dem Team von <%= t("region.#{@crowd_campaign.region.id}.domain_short") %> im persönlichen Austausch bist, weißt du, was noch zu tun ist.</strong>
          </p>
          <p>
            Solltest du noch keinen Kontakt gehabt haben oder keine E-Mail von uns erhalten haben, melde dich bitte kurz unter <%= mail_to t("region.#{@crowd_campaign.region.id}.contact_email"), nil %>, damit wir dir persönlich Feedback geben können.
          </p>
          <p>
            <strong>Wichtig:</strong> Sobald du mit der Überarbeitung fertig bist, klicke im Kampagnen-Setup auf der letzten Seite unter <%= link_to 'Projekt Abschluss', edit_finish_crowd_campaign_path(@crowd_campaign) %> auf den Button <strong>"Projekt zur Freigabe einreichen"</strong>, damit wir Bescheid wissen und deine Kampagne erneut prüfen und auch freigeben können.
          </p>
        </div>
        <%= render @crowd_campaign, manage_buttons: true %>
      </div>

  <% elsif @crowd_campaign.pending? %>

      <div class="statuscontainer">
        <div class="statustxt">
          <div class="hl-subtext">
            <h2><span>Deine Kampagne </span>wird nun geprüft.</h2>
            <p>Sobald die Kampagne freigeschaltet ist, bekommst du ein Mail von uns.</p>
          </div>
          <p>
            <strong>In der Zwischenzeit noch ein ganz wichtiger Tipp, was du jetzt tun könntest:</strong> Lege eine Liste mit Personen an, die du persönlich kontaktieren kannst und bei denen du glaubst, dass sie dein Vorhaben gerne unterstützen werden.
          </p>
          <p>
            <strong>Speziell in den ersten Tagen der Kampagne ist es nämlich enorm wichtig, dass unterschiedliche Personen in deine Kampagne einzahlen: z.B. Familie, Freunde, Bekannte oder andere persönliche Kontakte und natürlich deine Community.</strong>
          </p>
          <p>
            <strong>Die ersten Unterstützer*innen zu gewinnen ist das A und O einer erfolgreichen Kampagne.</strong>
            Wir wünschen dir viel Freude, viele gute Erlebnisse und Kontakte und natürlich viel Erfolg!
          </p>
        </div>
        <%= render @crowd_campaign, manage_buttons: true %>
      </div>

  <% elsif @crowd_campaign.approved? %>

      <div class="statuscontainer">
        <div class="statustxt">
          <div class="hl-subtext">
            <h2><span>Deine Kampagne </span>ist freigegeben.</h2>
            <p>
              Deine Kampagne ist nun bereit und startet am <%= I18n.localize(@crowd_campaign.startdate, format:'%d. %b %Y') %>
            </p>
          </div>
          <p>
            <strong>Hast du die Listen mit den persönlichen Kontakten in der Zwischenzeit erstellt?</strong> Das ist der wichtigste Baustein, also falls du es noch nicht getan hast, dann los.
          </p>
          <p>
            <strong>Der nächste Schritt:</strong> Überlege dir die verschiedene Texte und Bilder für Postings in den sozialen Netzwerken, je nachdem, wo du aktiv bist.
          </p>
          <p>
            Hast du einen Newsletter, den du verschickst? Dort darf deine Kampagne und dein Vorhaben natürlich auch rein. Kennst du persönlich Menschen, die viele Kontakte und eine größere Reichweite haben, dann frage sie, ob sie dein Vorhaben unterstützen könnten, indem sie die Kampagne in den sozialen Netzwerken teilen oder in ihren Newsletter aufnehmen.
          </p>
          <p>
            Du bekommst von uns eine Benachrichtigung, sobald deine Kampagne online ist.
          </p>
        </div>
        <%= render @crowd_campaign, manage_buttons: true %>
      </div>

  <% elsif @crowd_campaign.funding? %>

      <div class="hl-subtext">
        <h2>Deine Kampagne ist aktiv und <span>läuft gerade</span></h2>
        <% if @crowd_campaign.boostable? && @crowd_campaign&.crowd_boost_slot&.closed? %>
          <p><%= t("activerecord.attributes.crowd_campaign.boost_status_info.#{@crowd_campaign.boost_status}") %> "<%= link_to @crowd_campaign.crowd_boost, @crowd_campaign.crowd_boost %>"</p>
        <% end %>
        <p>
          Wir drücken ganz fest die Daumen!
        </p>
      </div>
      <%= render 'funding_bar', show_booster: true %>

  <% elsif @crowd_campaign.completed? %>

      <% if @crowd_campaign.successful? %>
        <div class="hl-subtext">
          <h2>Übersicht & <span>Fundingstatistik</span></h2>
          <% if @crowd_campaign.closed? %>
            <p>Deine Kampagne wurde erfolgreich abgewickelt.</p>
          <% else %>
            <p>
              Herzlichen Glückwunsch zu deiner erfolgreichen Kampagne!<br>
              Die Abwicklung dauert nun bis zu 14 Tagen nach Kampagnenende.
            </p>
          <% end %>
        </div>
      <% else %>
        <div class="hl-subtext">
          <h2><span>Deine Kampagne</span> ist abgeschlossen.</h2>
          <p>Leider hats diesmal nicht geklappt ...</p>
        </div>
      <% end %>

      <div class="paperCard video -cord1RT">
        <div class="wrp">
          <div class="funding-stats">
            <div class="header">
              <h4 class="title">Dein festgelegtes Fundingziel</h4>
              <h4 class="amount"><%= number_to_currency(@crowd_campaign.funding_1_amount, unit: "€") %></h4>
            </div>
            <% if @crowd_campaign.funding_2_amount %>
            <div class="header">
              <h4 class="title">Dein festgelegter Optimalbetrag</h4>
              <h4 class="amount"><%= number_to_currency(@crowd_campaign.funding_2_amount, unit: "€") %></h4>
            </div>
            <% end %>
            <br>
            <% if @crowd_campaign.boostable? %>
              <div>
                <h4 class="title">Fundingsumme UnterstützerInnen</h4>
                <h4 class="amount"><%= number_to_currency(@crowd_campaign.crowd_pledges_sum, unit: "€") %></h4>
              </div>
              <div>
                <h4 class="title"><%= @crowd_campaign.crowd_boost.title %></h4>
                <h4 class="amount"><%= number_to_currency(@crowd_campaign.crowd_boost_pledges_sum, unit: "€") %></h4>
              </div>
            <% end %>
            <div>
              <h3 class="title">Deine erreichte Fundingsumme</h3>
              <h3 class="amount"><%= number_to_currency(@crowd_campaign.funding_sum, unit: "€") %></h3>
            </div>
            <% if @crowd_campaign.successful? %>

              <% if @crowd_campaign.closed? %>
                <div>
                  <h4 class="title">Fehlgeschlagene Transaktionen</h4>
                  <h4 class="amount">-<%= number_to_currency(@crowd_campaign.crowd_pledges_failed_sum, unit: "€") %></h4>
                </div>
                <div>
                  <h4 class="title">Zurückgetretene Transaktionen</h4>
                  <h4 class="amount">-<%= number_to_currency(@crowd_campaign.crowd_pledges_refunded_sum, unit: "€") %></h4>
                </div>
                <div class="black">
                  <h3 class="title">Tatsächlich erreichte Fundingsumme</h3>
                  <h3 class="amount"><%= number_to_currency(@crowd_campaign.effective_funding_sum, unit: "€") %></h3>
                </div>
                <div>
                  <h4 class="title"><%= @crowd_campaign.transaction_fee_percentage %>% Servicegebühr (inkl. 20% MwSt)</h4>
                  <h4 class="amount">-<%= number_to_currency(@crowd_campaign.crowd_pledges_fee, unit: "€") %></h4>
                </div>
                <div>
                  <h3 class="title">Auszahlungssumme</h3>
                  <h3 class="amount"><%= number_to_currency(@crowd_campaign.crowd_pledges_payout, unit: "€") %></h3>
                </div>
              <% else %>
                <div class="hint">
                  <p>
                    <strong>Es dauert nun bis zu 14 Tagen bis deine Kampagne vollständig abgewickelt wird.</strong><br>
                    Danach erhältst du eine detaillierte Übersicht deiner Unterstützungen zum Download und bekommst deine tatsächlich erreichte Fundingsumme ausbezahlt.
                  </p>
                </div>
              <% end %>

            <% else %>
            <div class="hint">
              Du hast dein Fundingziel leider nicht erreicht, daher kommt es auch zu keiner Auszahlung.<br>
              Deinen Unterstützer*innen wird daher der zugesagte Betrag nicht abgebucht.
            </div>
            <% end %>
          </div>
        </div>
        <div class="card"></div>
      </div>

      <% if @crowd_campaign.successful? && @crowd_campaign.closed? %>
      <div class="btns">
        <%= link_to download_supporters_crowd_campaign_path(@crowd_campaign, format: :xlsx), class: 'btn-secondary -mint -ico btn' do %>
          <span>Download UnterstützerInnen als Excel</span>
          <%= icon_tag "download" %>
        <% end %>
        <%= link_to @crowd_campaign.invoice.presigned_url(:get), class: 'btn-secondary -mint -ico btn' do %>
          <span>Download Rechnung</span>
          <%= icon_tag "download" %>
        <% end %>
      </div>
      <% end %>
  <% end %>

  <% if @crowd_campaign.funding? || @crowd_campaign.completed? %>
    <%= render 'crowd_campaigns/crowd_pledges/crowd_pledges_table' %>
  <% end %>

</section>
