<% title('Crowdfunding Kampagne Status Übersicht') %>

<section class="crowdfunding-form -statuspage">

  <%= render 'crowd_campaigns/form/navigation' %>

  <% if @crowd_campaign.pending? %>

    <div class="statuscontainer">
      <div class="statustxt">
        <div class="hl-subtext">
          <h2><span>Deine Kampagne </span>wird nun geprüft.</h2>
          <p>Sobald die Kampagne freigeschaltet ist, bekommst du ein Mail von uns.</p>
        </div>
        <p>
          <strong>In der Zwischenzeit noch ein ganz wichtiger Tipp, was du jetzt tun könntest:</strong> Lege eine Liste mit Personen an, die du persönlich kontaktieren kannst und bei denen du dir relativ sicher bist, dass sie dein Vorhaben gerne unterstützen werden.
        </p>
        <p>
          <strong>Speziell in den ersten Tagen der Kampagne ist es nämlich enorm wichtig, dass unterschiedliche Personen in deine Kampagne einzahlen: z.B. Familie, Freunde, Bekannte oder andere persönliche Kontakte.</strong>
        </p>
        <p>
          Es gibt eine Formel: ca. 30 % deines Wunschbetrags kommen in den ersten Tagen auf diesem Wege zusammen und ziehen dann weitere Unterstützer*innen an. Die ersten Unterstützer*innen zu gewinnen ist das A und O einer erfolgreichen Kampagne.
        </p>
      </div>
      <%= render @crowd_campaign, manage_buttons: true %>
    </div>

  <% elsif @crowd_campaign.approved? %>

    <div class="statuscontainer">
      <div class="statustxt">
        <div class="hl-subtext">
          <h2><span>Deine Kampagne </span>ist freigegeben.</h2>
          <p>
            Deine Kampagne ist nun bereit und startet am <%= I18n.localize(@crowd_campaign.startdate, format:'%d. %b %Y') %>
          </p>
        </div>
        <p>
          <strong>Hast du die Listen mit den persönlichen Kontakten in der Zwischenzeit erstellt?</strong> Das ist der wichtigste Baustein, also falls du es noch nicht getan hast, dann los.
        </p>
        <p>
          <strong>Der nächste Schritt:</strong> Überlege dir die verschiedene Texte und Bilder für Postings in den sozialen Netzwerken, je nachdem, wo du aktiv bist.
        </p>
        <p>
          Hast du einen Newsletter, den du verschickst? Dort darf deine Kampagne und dein Vorhaben natürlich auch rein. Kennst du persönlich Menschen, die viele Kontakte und eine größere Reichweite haben, dann frage sie, ob sie dein Vorhaben unterstützen könnten, indem sie die Kampagne in den sozialen Netzwerken teilen oder in ihren Newsletter aufnehmen.
        </p>
        <p>
          Du bekommst von uns eine Benachrichtigung, sobald deine Kampagne online ist.
        </p>
      </div>
      <%= render @crowd_campaign, manage_buttons: true %>
    </div>

  <% elsif @crowd_campaign.scope_public? %>

    <% if @crowd_campaign.funding? %>
      <div class="hl-subtext">
        <h2>Deine Kampagne ist aktiv und <span>läuft gerade</span></h2>
        <p>
          Wir drücken ganz fest die Daumen!
        </p>
      </div>
      <%= render 'funding_bar' rescue nil %>
    <% elsif @crowd_campaign.successful? %>
      <div class="hl-subtext">
        <h2>Übersicht & <span>Fundingstatistik</span></h2>
        <p>Herzlichen Glückwunsch zu deiner erfolgreichen Kampagne!</p>
      </div>
    <% elsif @crowd_campaign.successful? %>
      <div class="hl-subtext">
        <h2><span>Deine Kampagne</span> ist abgeschlossen.</h2>
        <p>Leider hats diesmal nicht geklappt ...</p>
      </div>
    <% end %>

    <% if @crowd_campaign.completed? %>
    <div class="paperCard video -cord1RT">
      <div class="wrp">
        <div class="funding-stats">
          <div class="header">
            <h4 class="title">Dein festgelegtes Fundingziel</h4>
            <h4 class="amount"><%= number_to_currency(@crowd_campaign.funding_1_amount, unit: "€") %></h4>
          </div>
          <% if @crowd_campaign.funding_2_amount %>
          <div class="header">
            <h4 class="title">Dein festgelegter Optimalbetrag</h4>
            <h4 class="amount"><%= number_to_currency(@crowd_campaign.funding_2_amount, unit: "€") %></h4>
          </div>
          <% end %>
          <br>
          <div>
            <h3 class="title">Deine erreichte Fundingsumme</h3>
            <h3 class="amount"><%= number_to_currency(@crowd_campaign.crowd_pledges_sum, unit: "€") %></h3>
          </div>
          <% if @crowd_campaign.goal_1_reached? %>
          <div>
            <h4 class="title">Widerrufe</h4>
            <h4 class="amount">-<%= number_to_currency('0', unit: "€") %></h4>
          </div>
          <div>
            <h4 class="title">Transaktionsgebühren (4%)</h4>
            <h4 class="amount">-<%= number_to_currency(@crowd_campaign.crowd_pledges_fee, unit: "€") %></h4>
          </div>
          <div>
            <h3 class="title">Auszahlungssumme</h3>
            <h3 class="amount"><%= number_to_currency(@crowd_campaign.crowd_pledges_payout, unit: "€") %></h3>
          </div>
          <% else %>
          <div class="hint">
            *) Du hast dein Fundingziel leider nicht erreicht.
            Alle UnterstützerInnen bekommen daher ihre Beträge zurücküberwiesen.
          </div>
          <% end %>
        </div>
      </div>
      <div class="card"></div>
    </div>
    <% end %>

    <div class='tabs-ctrl -plain'>
      <ul class="tabs-nav">
        <li><a href="#tab-supporters">UnterstützerInnen<small><%= @crowd_pledges.count %></small></a></li>
        <li><a href="#tab-material">Materialspenden<small><%= @crowd_donation_pledges.material.count %></small></a></li>
        <li><a href="#tab-time">Zeitspenden<small><%= @crowd_donation_pledges.assistance.count %></small></a></li>
        <li><a href="#tab-room">Raumspenden<small><%= @crowd_donation_pledges.room.count %></small></a></li>
      </ul>

      <div id='tab-supporters'>
        <div class="table-container -light" role="table">
          <div class="flex-table header" role="rowgroup">
            <div class="flex-row xxlarge first" role="columnheader">UnterstützerInnen</div>
            <div class="flex-row medium" role="columnheader">Gesamt Unterstützung</div>
            <div class="flex-row medium" role="columnheader">Freie Unterstützung</div>
            <div class="flex-row xxlarge" role="columnheader">Dankeschön</div>
          </div>
          <%= render partial: 'crowd_campaigns/crowd_pledges/crowd_pledge', collection: @crowd_pledges, as: 'crowd_pledge' %>
          <div class="flex-table header" role="rowgroup">
            <div class="flex-row xxlarge first" role="columnheader"></div>
            <div class="flex-row medium" role="columnheader"><h3><%= number_to_currency(@crowd_campaign.crowd_pledges_sum, unit: "€") %></h3></div>
            <div class="flex-row medium" role="columnheader"></div>
            <div class="flex-row xxlarge" role="columnheader"></div>
          </div>
        </div>
      </div>

      <div id='tab-material'>
        <div class="table-container -light" role="table">
          <div class="flex-table header" role="rowgroup">
            <div class="flex-row xxlarge first" role="columnheader">UnterstützerInnen</div>
            <div class="flex-row xxxlarge" role="columnheader">Materialspende</div>
          </div>
          <%= render partial: 'crowd_campaigns/crowd_pledges/crowd_donation_pledge', collection: @crowd_donation_pledges.material, as: 'crowd_pledge' %>
        </div>
      </div>

      <div id='tab-time'>
        <div class="table-container -light" role="table">
          <div class="flex-table header" role="rowgroup">
            <div class="flex-row xxlarge first" role="columnheader">UnterstützerInnen</div>
            <div class="flex-row xxxlarge" role="columnheader">Zeitspende</div>
          </div>
          <%= render partial: 'crowd_campaigns/crowd_pledges/crowd_donation_pledge', collection: @crowd_donation_pledges.assistance, as: 'crowd_pledge' %>
        </div>
      </div>

      <div id='tab-room'>
        <div class="table-container -light" role="table">
          <div class="flex-table header" role="rowgroup">
            <div class="flex-row xxlarge first" role="columnheader">UnterstützerInnen</div>
            <div class="flex-row xxxlarge" role="columnheader">Raumspende</div>
          </div>
          <%= render partial: 'crowd_campaigns/crowd_pledges/crowd_donation_pledge', collection: @crowd_donation_pledges.room, as: 'crowd_pledge' %>
        </div>
      </div>
    </div>

    <% if @crowd_campaign.completed? %>
      <%= link_to download_supporters_crowd_campaign_path(@crowd_campaign, format: :xlsx), class: 'btn-secondary -mint -ico' do %>
        <span>Download UnterstützerInnen als Excel</span>
        <%= icon_tag "download" %>
      <% end %>
    <% end %>

  <% end %>

</section>
