<!-- --------------- USER HEADER ROW --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px;">
        <%= avatar_image @user, size: :thumb, style: "width:60px; height:60px; border-radius: 30px; max-width:60px; min-width:60px;", class: "mcnImage" %>
      </td>
      <td class="mcnTextContent" style="padding-right:18px; width:100%;">
        <p>
          <em>
            <strong><%= @user.full_name %></strong> (Organisator) hat eine neue Nachricht an die
            Treffenmitglieder von "<strong><%= @meeting.name %></strong>" gesendet.
          </em>
          <br>
        </p>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding-bottom:9px;"></td>
    </tr>
  </tbody>
</table>
<!-- --------------- USER HEADER ROW --------------- -->

<!-- MAIL CONTENT -->
<p class="mcnTextContent">
  <%= @message.gsub("\r\n", "<br/>").html_safe %>
</p>
<!-- /MAIL CONTENT -->

<!-- BUTTON -->
<%= render 'mailers/shared/button', title: "Zum Treffen", url: graetzl_meeting_url(@meeting.graetzl, @meeting, host: @meeting.region.host) %>

<!-- MAIL FOOTER -->
<p class="mcnTextContent">
  <small>
    --<br>
    <%= @user.full_name %><br>
    <%= @reply_email %>
  </small>
</p>
<!-- /MAIL FOOTER -->
