<p>Hallo <%= @resource.first_name %>,

<p>willkommen <%= t("region.#{@resource.region.id}.in_graetzl") %> <%= @resource.graetzl.name %>!</p>

<p>
  Um deine Registrierung abzuschließen klicke bitte folgenden Link:<br>
  <%= link_to 'Registrierung jetzt abschließen!', confirmation_url(confirmation_token: @token, host: @resource.region.host) %>
</p>

<p>
  Als registrierter Nutzer bekommst du automatisch Updates und News aus deinem Stadtteil <%= @resource.graetzl.name %>.
  Du kannst diesen Service nach der Registrierung unter <%= link_to 'Einstellungen', edit_user_url(target: "tab-2", host: @resource.region.host) %> jederzeit abbestellen.
</p>

<p>Wir freuen uns auf Dich!<p>

<p>
  Liebe Grüße,<br>
  dein Team von <%= @region.platform_name %><br>
  --<br>
  Bei Fragen schreib uns an:
  <%= mail_to "wir@#{@region.platform_domain}" %>
</p>
