<% graetzl_ids ||= nil %>
<div class="filter-graetzls" data-filter-label="Grätzl / Bezirk">
  <div class="input-checkbox select-all">
    <input type="checkbox" value="" id="select-all" name="select-all" <%= 'checked' unless graetzl_ids %>>
    <label for="select-all">Ganz <%= current_region.name %></label>
  </div>
  <div class="graetzl-list">
    <%= collection_check_boxes :filter, :graetzl_ids, Graetzl.in(current_region), :id, :name, { checked: graetzl_ids } do |b| %>
      <div class="input-checkbox filter-input">
        <%= b.check_box("data-label": b.object.name, "data-graetzls": b.object.id.to_s) %>
        <%= b.label %>
      </div>
    <% end %>
  </div>
</div>
