<% cache ["location_categories_slider", current_region.id, @category&.id, LocationCategory.maximum(:updated_at).to_i], expires_in: 1.week do %>
<div class="category-slider-container loading">
  <div id="category-slider" data-label="Locations" class="cS-hidden">
    <!-- Goodies -->
      <div class="-category -special-category" data-id="goodies" data-label="Goodies f端r Mitglieder" data-slug="goodies">
        <picture>
          <source srcset="<%= image_path('categories/goodies.webp') %>" type="image/webp" />
          <%= image_tag('categories/goodies.jpg', class: 'attachment event_category main_photo categoryImg', loading: 'lazy', width:257, height:385) %>
        </picture>
        <div class="cat -goodie">
          <%= category_icon('goodie', class: 'catimg', width:85, height:85) %>
        </div>
        <h3><%= link_to "Goodies", region_locations_path(category: 'goodies') %><br>f端r Mitglieder</h3>
        <%= button_tag '', class: 'close-ico' do %>
          <%= icon_tag "cross" %>
        <% end %>
      </div>
    <!-- /Goodies -->
    <% categories = LocationCategory.visible.sort_by(&:position) %>
    <% @category ? categories = categories.insert(0, @category).uniq : categories %>
    <% categories.each do |category| %>
      <div class="-category" data-id="<%= category.id %>" data-label="<%= category.name %>" data-slug="<%= category.slug %>">
        <%= category_image(category, class: 'categoryImg') %>
        <div class="cat -<%= category.icon %>">
          <%= category_icon(category.icon, class: 'catimg', width:85, height:85) %>
        </div>
        <h3><%= link_to category.name, region_locations_path(category: category) %></h3>
        <%= button_tag class: 'close-ico' do %>
          <%= icon_tag "cross" %>
        <% end %>
      </div>
    <% end %>
    <!-- Menus -->
      <div class="-category -special-category" data-id="menus" data-label="Tages- & Wochenmen端" data-slug="menus">
        <picture>
          <source srcset="<%= image_path('categories/menus.webp') %>" type="image/webp" />
          <%= image_tag('categories/menus.jpg', class: 'attachment event_category main_photo categoryImg', loading: 'lazy', width:257, height:385) %>
        </picture>
        <div class="cat -essentrinken">
          <%= category_icon('essentrinken', class: 'catimg', width:85, height:85) %>
        </div>
        <h3>Tages- & <br><%= link_to "Wochenmen端", region_locations_path(category: 'menus') %></h3>
        <%= button_tag '', class: 'close-ico' do %>
          <%= icon_tag "cross" %>
        <% end %>
      </div>
    <!-- /Menus -->
    <!-- Online Shops -->
      <div class="-category -special-category" data-id="online-shops" data-label="Online Shops" data-slug="online-shops">
        <picture>
          <source srcset="<%= image_path('categories/onlineshops.webp') %>" type="image/webp" />
          <%= image_tag('categories/onlineshops.jpg', class: 'attachment event_category main_photo categoryImg', loading: 'lazy', width:257, height:385) %>
        </picture>
        <div class="cat -onlineshop">
          <%= category_icon('onlineshop', class: 'catimg', width:85, height:85) %>
        </div>
        <h3><%= link_to "Online Shops", region_locations_path(category: 'online-shops') %><br>aus <%= current_region %></h3>
        <%= button_tag '', class: 'close-ico' do %>
          <%= icon_tag "cross" %>
        <% end %>
      </div>
    <!-- /Online Shops -->
  </div>
  <div class="filter-line"></div>
</div>
<% end %>