<!-- SLIDER -->
<div class="category-slider-container loading">
  <div id="category-slider" data-label="Locations" class="cS-hidden">
    <!-- Online Shops -->
      <div class="-category -special-category" data-id="online-shops" data-label="Online Shops" data-slug="online-shops">
        <%= image_tag('location-onlineshop.jpg', class: 'attachment event_category main_photo categoryImg', width:257, height:385) %>
        <div class="cat -onlineshop"></div>
        <h3>Online Shops <br>aus <%= current_region %></h3>
        <%= button_tag '', class: 'close-ico' do %>
          <%= icon_tag "cross" %>
        <% end %>
      </div>
    <!-- /Online Shops -->
    <% categories = LocationCategory.all.sort_by(&:position) %>
    <% @category ? categories = categories.insert(0, @category).uniq : categories %>
    <% categories.each do |category| %>
      <div class="-category" data-id="<%= category.id %>" data-label="<%= category.name %>" data-slug="<%= category.slug %>">
        <%= category_image(category, class: 'categoryImg') %>
        <div class="cat category-<%= category.id %> -<%= category.icon %> -locations"></div>
        <h3><%= link_to category.name, region_locations_path(category: category) %></h3>
        <%= button_tag class: 'close-ico' do %>
          <%= icon_tag "cross" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="filter-line"></div>
</div>
