<div class="filter-categories">
  <%= collection_check_boxes :filter, :location_category_ids, LocationCategory.all, :id, :name do |b| %>
    <div class="input-checkbox filter-input">
      <%= b.check_box("data-label": b.text) %>
      <%= b.label %>
    </div>
  <% end %>
</div>
<div class="filter-actions">
  <%= button_tag "Filter zurücksetzen", class: 'btn-primary -grey reset-button' %>
  <%= button_tag "Auswahl übernehmen", class: 'btn-primary filter-button' %>
</div>
