<% filter_room_types.each do |label, value| %>
  <div class="input-radio filter-input">
    <%= radio_button :filter, :room_type, value, data: { label: label } %>
    <%= label_tag "filter_room_type_#{value}", label %>
  </div>
<% end %>

<div class="input-checkbox filter-input">
  <%= check_box_tag :"filter[show_occupied]", "1", true %>
  <%= label_tag :"filter[show_occupied]", "Zeige auch aktuell vermietete" %>
</div>

<%= button_tag "Auswahl übernehmen", type: 'button', class: 'btn-primary filter-button' %>
