<!-- SLIDER -->
<div class="category-slider-container loading">
  <div id="category-slider" data-label="Raumteiler" class="cS-hidden">
    <!-- RoomOffers with Rental Option-->
      <div class="-category -special-category" data-id="kurzzeitmiete" data-label="Kurzzeitmiete" data-slug="kurzzeitmiete">
        <%= image_tag('rt-kurzzeitmieten.jpg', class: 'attachment room_category main_photo categoryImg', width:257, height:385) %>
        <div class="cat -booking"></div>
        <h3>Kurzzeitmiete</h3>
        <%= button_tag '', class: 'close-ico' do %>
          <%= icon_tag "cross" %>
        <% end %>
      </div>
    <!-- /RoomOffers with Rental Option-->
    <% categories = RoomCategory.all.sort_by(&:position) %>
    <% @category ? categories = categories.insert(0, @category).uniq : categories %>
    <% categories.each do |category| %>
      <div class="-category" data-id="<%= category.id %>" data-label="<%= category.name %>" data-slug="<%= category.slug %>">
        <%= category_image(category, class: 'categoryImg') %>
        <div class="cat category-<%= category.id %> -<%= category.css_ico_class %> -rooms"></div>
        <h3><%= link_to category.name, region_rooms_path(category: category) %></h3>
        <%= button_tag class: 'close-ico' do %>
          <%= icon_tag "cross" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="filter-line"></div>
</div>
