<!-- SLIDER -->
<div class="category-slider-container">
  <div id="category-slider">
    <!-- RoomOffers with Rental Option-->
      <div class="-category -special-category" data-id="room_rental" data-label="Slot Buchung / Kurzzeitmiete">
        <%= image_tag('rt-kurzzeitmieten.jpg', class: 'attachment room_category main_photo categoryImg') %>
        <div class="cat"></div>
        <h3>Slot Buchung / Kurzzeitmiete</h3>
        <%= button_tag '', class: 'close-ico' do %>
          <%= icon_tag "cross" %>
        <% end %>
      </div>
    <!-- /RoomOffers with Rental Option-->
    <% RoomCategory.all.sort_by(&:position).each do |category| %>
      <div class="-category" data-id="<%= category.id %>" data-label="<%= category.name %>">
        <%= category_photo_for(category) %>
        <div class="cat category-<%= category.id %> -rooms"></div>
        <h3><%= category.name %></h3>
        <%= button_tag '', class: 'close-ico' do %>
          <%= icon_tag "cross" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="filter-line"></div>
</div>
