<!-- SLIDER -->
<div class="category-slider-container loading">
  <div id="category-slider" data-label="Toolteiler" class="cS-hidden">
    <% categories = ToolCategory.top.sort_by(&:position) %>
    <% @category ? categories = categories.insert(0, @category).uniq : categories %>
    <% categories.each do |category| %>
      <div class="-category" data-id="<%= category.id %>" data-label="<%= category.name %>" data-slug="<%= category.slug %>">
        <%= category_photo_for(category) %>
        <div class="cat category-<%= category.id %> -tools"></div>
        <% if @district %>
          <h3><%= link_to category.name, tool_offers_category_district_path(@district, category) %></h3>
        <% else %>
          <h3><%= link_to category.name, tool_offers_category_wien_path(category) %></h3>
        <% end %>
        <%= button_tag '', class: 'close-ico' do %>
          <%= icon_tag "cross" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="filter-line"></div>
</div>
