<!-- SLIDER -->
<div class="category-slider-container">
  <div id="category-slider">
    <% ToolCategory.top.each do |category| %>
      <div class="-category" data-id="<%= category.id %>">
        <%= category_photo_for(category) %>
        <div class="cat category-<%= category.id %>"></div>
        <h3><%= category.name %></h3>
        <%= button_tag '', class: 'close-ico' do %>
          <%= icon_tag "cross" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
