<!-- SLIDER -->
<div class="category-slider-container loading">
  <div id="category-slider" data-label="Toolteiler" class="cS-hidden">
    <% ToolCategory.top.sort_by(&:position).each do |category| %>
      <div class="-category" data-id="<%= category.id %>" data-label="<%= category.name %>">
        <%= category_image category, class: 'categoryImg' %>
        <div class="cat category-<%= category.id %> -tools"></div>
        <h3><%= category.name %></h3>
        <%= button_tag '', class: 'close-ico' do %>
          <%= icon_tag "cross" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="filter-line"></div>
</div>
