<% if comment = appendix[:comment] %>
  <div class="streamElement">
    <div class="entryInitialContent">
      <div class="userCreateInfo">
        <%= attachment_image_tag comment.user, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
        <span class="userAndType">Kommentar von <%= link_to comment.user.username, comment.user %></span>
      </div>
      <div class="txt"><%= truncate comment.content, length: 100 %></div>
    </div>
    <% comments_count = parent.comments.count %>
    <% if comments_count > 1 %>
      <%= link_to "Alle #{comments_count} Kommentare ansehen", appendix_path_for(parent), class: 'commentslink' %>
    <% end %>
  </div>
<% end %>

<% if participant = appendix[:participant] %>
  <div class="userCreateInfo">
    <%= link_to participant do %>
      <%= attachment_image_tag participant, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
    <% end %>
    <span class="userAndType"><%= link_to participant.username, participant %> <span>ist interessiert.</span></span>
  </div>
<% end %>

<% if message = appendix[:message] %>
  <%= link_to [parent.graetzl, parent], class: "basic-message-box" do %>
    <div class="hl">
      <%= message[:title] %>
    </div>
    <div class="title">
      <%= message[:content] %>
    </div>
  <% end %>
<% end %>
