<% if comment = appendix[:comment] %>
  <div class="streamElement">
    <div class="entryInitialContent">
      <div class="userCreateInfo">
        <%= user_tooltip_avatar comment.user, 100 %>
        <span class="userAndType">Kommentar von <%= link_to comment.user.username, comment.user %></span>
      </div>
      <div class="txt"><%= truncate comment.content, length: 100 %></div>
    </div>
    <% comments_count = parent.comments.count %>
    <% if comments_count > 1 %>
      <%= link_to "Alle #{comments_count} Kommentare ansehen", appendix_path_for(parent), class: 'commentslink' %>
    <% end %>
  </div>
<% end %>

<% if participant = appendix[:participant] %>
  <div class="userCreateInfo">
    <%= link_to participant do %>
      <%= user_tooltip_avatar participant, 100 %>
    <% end %>
    <span class="userAndType"><%= link_to participant.username, participant %> <span>ist interessiert.</span></span>
  </div>
<% end %>

<% if paid_go_to = appendix[:paid_go_to] %>
  <div class="userCreateInfo">
    <%= link_to paid_go_to do %>
      <%= user_tooltip_avatar paid_go_to, 100 %>
    <% end %>
    <span class="userAndType"><%= link_to paid_go_to.username, paid_go_to %> <span>nimmt teil.</span></span>
  </div>
<% end %>

<% if message = appendix[:message] %>
  <%= link_to [parent.graetzl, parent], class: "basic-message-box" do %>
    <div class="hl">
      <%= message[:title] %>
    </div>
    <div class="title">
      <%= message[:content] %>
    </div>
  <% end %>
<% end %>
