<%= form_for(@room_call) do |f| %>
<%= form_errors_for @room_call %>
<div class="form-block">

  <% if f.object.new_record? && current_user.admin? %>
  <div class="input-select">
    <%= f.label :user_id do %>
      <%= icon_tag "user-avatar" %>
      <span>Call Ersteller</span>
    <% end %>
    <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :email, params[:user_id] || current_user.id), id: 'admin-user-select' %>
  </div>
  <% end %>

  <h2 class="hl-main"><span>Wo</span> befindet sich der Raum?</h2>
  <%= render 'room_calls/form/address_fields', f: f %>

  <h2 class="hl-main"><span>Calltitel</span> und <span>Beschreibung</span></h2>
  <div class="input-field">
    <%= f.label :title do %>
    <%= icon_tag "record" %>
    <span>Kurzer Titel</span>
    <% end %>
    <%= f.text_field :title, placeholder: 'z.B. Raumteiler Hub - Dieselgasse 1 ...' %>
  </div>

  <div class="input-field">
    <%= f.label :subtitle do %>
    <%= icon_tag "record" %>
    <span>Untertitel</span>
    <% end %>
    <%= f.text_field :subtitle, placeholder: 'z.B. Andocken, gemeinsam starten und wachsen ... ' %>
  </div>

  <div class="input-field">
    <%= f.label :description do %>
    <%= icon_tag "layout-document" %>
    <span>Call Beschreibung</span>
    <% end %>
    <%= f.text_area :description, placeholder: 'Detaillierte Beschreibung – Hier kannst du den Call bzw. das Objekt ausführlicher beschreiben …' %>
  </div>

  <div class="input-field">
    <%= f.label :about_us do %>
    <%= icon_tag "layout-document" %>
    <span>Die Idee dahinter</span>
    <% end %>
    <%= f.text_area :about_us, placeholder: 'Ein paar Worte zur Idee hinter dem Call / Bzw. auch ein paar Worte über euch ...' %>
  </div>

  <div class="room-columns">
    <div class="input-field column-left">
      <%= f.label :starts_at do %>
      <%= icon_tag "calendar-2" %>
      <span> Call Start </span>
      <% end %>
      <%= f.text_field :starts_at,
      value: (I18n.localize(f.object.starts_at, format:'%A, %d. %B %Y') if f.object.starts_at),
      data: { value: (I18n.localize(f.object.starts_at, format:'%Y-%m-%d') if f.object.starts_at) },
      class: 'datepicker',
        placeholder: 'Datum wählen'
        %>
      </div>

      <div class="input-field column-right">
        <%= f.label :ends_at do %>
        <%= icon_tag "calendar-2" %>
        <span> Call Ende </span>
        <% end %>
        <%= f.text_field :ends_at,
        value: (I18n.localize(f.object.ends_at, format:'%A, %d. %B %Y') if f.object.ends_at),
        data: { value: (I18n.localize(f.object.ends_at, format:'%Y-%m-%d') if f.object.ends_at) },
        class: 'datepicker',
          placeholder: 'Datum wählen'
          %>
        </div>
      </div>
      <div class="input-field">
        <%= f.label :opens_at do %>
        <%= icon_tag "calendar-2" %>
        <span> Einzugstermin </span>
        <% end %>
        <%= f.text_field :opens_at,
        value: (I18n.localize(f.object.opens_at, format:'%A, %d. %B %Y') if f.object.opens_at),
        data: { value: (I18n.localize(f.object.opens_at, format:'%Y-%m-%d') if f.object.opens_at) },
        class: 'datepicker',
          placeholder: 'Datum wählen'
          %>
        </div>

        <h2 class="hl-main">Gesamt verfügbare <span>Plätze</span></h2>

        <div class="room-vacancies">
          <div class="input-field">
            <%= f.label :total_vacancies do %>
            <%= icon_tag "users" %>
            <span>Anzahl Plätze</span>
            <% end %>
            <%= f.number_field :total_vacancies %>
          </div>
        </div>

        <h2 class="hl-main">Verfügbare <span>Module</span></h2>
        <p class="subline">Du kannst mehrere Module erstellen.</p>
        <div class="room-modules">
          <% f.object.room_call_modules.build if f.object.room_call_modules.empty? %>
          <%= f.fields_for :room_call_modules do |module_form| %>
          <%= render 'room_calls/form/module_fields', f: module_form %>
          <% end %>
          <div class="room-modules-links">
            <%= link_to_add_association 'Weiteres Modul hinzufügen', f, :room_call_modules, partial: 'room_calls/form/module_fields' %>
          </div>
        </div>

        <h2 class="hl-main"><span>Packages</span> und <span>Preise</span> </h2>
        <p class="subline">Du kannst mehrere Preis-Packages definieren.</p>
        <div class="room-prices">
          <% f.object.room_call_prices.build if f.object.room_call_prices.empty? %>
          <%= f.fields_for :room_call_prices do |price_form| %>
          <%= render 'room_calls/form/price_fields', f: price_form %>
          <% end %>
          <div class="room-prices-links">
            <%= link_to_add_association 'Weiteres Package hinzufügen', f, :room_call_prices, partial: 'room_calls/form/price_fields' %>
          </div>
        </div>

        <h2 class="hl-main"><span>Wer</span> kann sich bewerben</h2>
        <div class="input-field">
          <%= f.label :about_partner do %>
          <%= icon_tag "layout-document" %>
          <span>Wen suchst du?</span>
          <% end %>
          <%= f.text_area :about_partner, placeholder: 'Beschreibe kurz die Zielgruppe für deinen Call. Aus welchen Tätigkeitsbereichen suchst du Leute?' %>
        </div>

        <h2 class="hl-main">Bewerbungs <span>Formular</span></h2>
        <p class="subline">
          Definiere hier deine Fragen an die Bewerber des Calls.<br>
          (Kontaktdaten wie Name, E-Mail, usw. musst du nicht abfragen, das passiert automatisch.)
        </p>
        <div class="room-call-fields">
          <% f.object.room_call_fields.build if f.object.room_call_fields.empty? %>
          <%= f.fields_for :room_call_fields do |field_form| %>
          <%= render 'room_calls/form/field_fields', f: field_form %>
          <% end %>
          <div class="room-call-fields-links">
            <%= link_to_add_association 'Weitere Frage hinzufügen', f, :room_call_fields, partial: 'room_calls/form/field_fields' %>
          </div>
        </div>

        <h2 class="hl-main"><span>Fotos</span> vom Objekt / Raum</h2>

        <div class="upload-oldschool">
          <%= f.label :cover_photo do %>
            <%= icon_tag "photo-camera" %>
            <span>Coverfoto</span>
          <% end %>
          <div class="field-wrp">
            <%= upload_image_input(f, :cover_photo) %>
          </div>
        </div>

        <div class="upload-oldschool">
          <%= f.label :images do %>
            <%= icon_tag "photo-camera" %>
            <span>Weitere Fotos</span>
          <% end %>
          <div class="field-wrp">
            <%= upload_images_input(f, :images) %>
          </div>
        </div>

        <h2 class="hl-main"><span>Kontakt</span> & Infos</h2>

        <div class="upload-oldschool">
          <%= f.label :avatar do %>
            <%= icon_tag "photo-camera" %>
            <span>Call Avatar</span>
          <% end %>
          <div class="field-wrp">
            <%= upload_image_input(f, :avatar) %>
          </div>
        </div>

        <div class="input-field">
          <%= f.label :first_name do %>
          <%= icon_tag "user-avatar" %>
          <span>Vorname</span>
          <% end %>
          <%= f.text_field :first_name %>
        </div>

        <div class="input-field">
          <%= f.label :last_name do %>
          <%= icon_tag "user-avatar" %>
          <span>Nachname</span>
          <% end %>
          <%= f.text_field :last_name %>
        </div>

        <div class="input-field">
          <%= f.label :website do %>
          <%= icon_tag "globe" %>
          <span>Website</span>
          <% end %>
          <%= f.url_field :website, placeholder: 'http:// oder https://' %><em></em>
        </div>

        <div class="input-field">
          <%= f.label :email do %>
          <%= icon_tag "at-symbol" %>
          <span>Email</span>
          <% end %>
          <%= f.email_field :email %>
        </div>

        <div class="input-field">
          <%= f.label :phone do %>
          <%= icon_tag "phone" %>
          <span>Telefonnummer</span>
          <% end %>
          <%= f.text_field :phone, placeholder: '0664 / ...' %>
        </div>

        <div class="input-select">
          <%= f.label :location_id do %>
          <%= icon_tag "location" %>
          <span>Location</span>
          <% end %>
          <%= f.collection_select(:location_id, current_user.locations, :id, :name, {:include_blank => 'Location verknüpfen..'}) %>
        </div>

        <%= f.button 'Call erstellen', data: { disable_with: 'speichert...' }, class: 'btn-primary' %>
      </div>
      <% end %>
