<div class="cardBox -call" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <div class="coverImgWrapper">
      <%= link_to room_call do %>
        <%= cover_photo_image(room_call, class: 'coverImg') %>
      <% end %>
    </div>
    <% if room_call.open? %>
      <div class="categoryicon -call -open">
        <span>Open Call</span>
      </div>
    <% end %>
  </div>

  <div class="cardBoxContent -call">

    <div class="avatar-block -below">
      <%= link_to room_call, class: 'avatarImg' do %>
        <%= avatar_image room_call, size: :small, class: 'img-square' %>
      <% end %>
      <%= link_to room_call, class: 'typelink' do %>
        <div class="typetxt">
          <div class="type-description">
            <%= room_call.title %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="slogan">
      Bewirb dich bis zum <%= I18n.localize(room_call.ends_at, format: '%d. %B') %> für einen der <%= room_call.total_vacancies %> freien Plätze.
    </div>

    <div class="txt">
      <p><%= room_call.subtitle %></p>
    </div>

    <%= link_to "Zum Call", room_call, class: 'btn-primary -rosa' %>

  </div>
</div>
