<div class="room-call-page">

  <div class="imgHeader -cloudy2">
    <%= attachment_image_tag @room_call, :cover_photo, :fill, 980, 420, fallback: 'cover_photo/980x370.png', class: 'titleImg' %>
  </div>

  <div class="title-heading">
    <h1><%= @room_call.title %> / <%= @room_call.address.street %> </h1>
    <div class="subtitle"><%= @room_call.subtitle %></div>
  </div>

  <%= render 'room_calls/show/info' %>
  <%= render 'room_calls/show/modules' %>
  <%= render 'room_calls/show/prices' %>
  <%= render 'room_calls/show/photos' %>
  <%= render 'room_calls/show/group' %>
  <%= render 'room_calls/show/submissions' %>

  <!-- Unused:
  @room_call.about_partner
  @room_call.first_name
  @room_call.last_name
  @room_call.phone
  @room_call.email
  @room_call.website
  @room_call.avatar
  -->

</div>
