<% meta(
  title: @room_call.title[0..45].gsub(/\s\w+\s*$/,'...'),
  description: ('Open Call: ' +  @room_call.subtitle[0..160].gsub(/\n/, '...')),
  robots: 'index, follow',
  og_title: @room_call.title[0..45].gsub(/\s\w+\s*$/,'...'),
  og_description: ('Open Call: ' +  @room_call.subtitle[0..160].gsub(/\n/, '...')),
  og_image: @room_call.cover_photo_url || image_url('meta/og_logo.png')
)
%>

<div class="room-call-page">

  <div class="imgHeader -fullwidth">
    <%= cover_header_image(@room_call, size: :huge, class: 'titleImg -fullwidth') %>
  </div>

  <div class="bulge-wrapper">
    <div class="bulge-container">
      <div class="bulge -top">
        <%= image_tag ('bulge-left.png'), class: 'bulge-left' %><%= image_tag ('bulge-middle.png'), class: 'bulge-middle' %><%= image_tag ('bulge-right.png'), class: 'bulge-right' %>
      </div>
      <div class="bulge -bottom">
        <h1><%= @room_call.title %></h1>
      </div>
    </div>
  </div>

  <div class="hl-subtext">
    <p>Sichere dir bis zum <%= I18n.localize(@room_call.ends_at, format: '%d. %B') %> einen der <%= @room_call.total_vacancies %> freien Plätze.</p>
  </div>

  <%= render 'room_calls/show/info' %>
  <%= render 'room_calls/show/modules' %>
  <%= render 'room_calls/show/photos' %>
  <%= render 'room_calls/show/prices' %>
  <% if !user_signed_in? %>
    <%= render 'room_calls/show/login' %>
  <% else %>
    <%= render 'room_calls/show/add_submission' %>
  <% end %>
  <%= render 'room_calls/show/group' if @room_call.group %>
  <%= render 'room_calls/show/map' %>

</div>
