<div class="room-call-page -submission">

  <div class="hl-subtext">
    <h1><em>Call Einreichung</em></h1>
    <div class="title">
      <%= @room_call.title %>
    </div>
    <div class="nav">
      <%= link_to "Call", room_call_path(@room_call)%> |
      <%= link_to "Gruppe", group_path(@room_call.group) %> |
      <%= link_to "Alle Einreichungen", group_path(@room_call.group, anchor: 'tab-call') %>
    </div>
  </div>

  <div class="user cardBox">
    <div class="avatar">
      <%= avatar_image @room_call_submission.user, size: :small, class: 'img-round' %>
    </div>
    <div class="infos">
      <span><%= @room_call_submission.first_name %> <%= @room_call_submission.last_name %></span>
      <p class="date">Abgesendet: <%= I18n.localize(@room_call_submission.created_at, format:'%d. %B %Y') %></p>
      <p class="date">
        <%= mail_to @room_call_submission.email %>
      </p>
    </div>
  </div>

  <div class="user-answers">
    <% @room_call_submission.room_call_submission_fields.includes(:room_call_field).each do |sf| %>
      <h3><%= sf.room_call_field.label %></h3>
      <p><%= sf.content %></p>
    <% end %>
  </div>

</div>
