<div class="cardbox-wrp" data-behavior="masonry-card">
  <div class="paperCard -cord1RT -illuteaser -rooms">
    <div class="wrp">
      <div class="user">
        <% if current_user %>
          <%= attachment_image_tag current_user, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
          <span><%= current_user.username %></span>
        <% else %>
          <%= image_tag('avatar/user/default.png', class: 'img-round') %>
          <span>Dein Name</span>
        <% end %>
      </div>
      <h3>Hast du Equpiment zu verleihen und möchtest damit Geld verdienen?</h3>
      <%= link_to 'Jetzt Toolteiler eintragen', new_tool_offer_path, class: 'btn-primary -rose' %>
    </div>
    <div class="card"></div>
  </div>

  <% if local_assigns[:view_all] %>
    <% if local_assigns[:graetzl] %>
      <%= link_to 'Alle Toolteiler', tool_offers_graetzl_path(graetzl), class: 'link-more' %>
    <% elsif local_assigns[:district] %>
      <%= link_to 'Alle Toolteiler', tool_offers_district_path(district), class: 'link-more' %>
    <% else %>
      <%= link_to 'Alle Toolteiler', tool_offers_wien_path, class: 'link-more' %>
    <% end %>
  <% end %>
</div>
