<div class="cardbox-wrp" data-behavior="masonry-card">
  <div class="paperCard -cord1RT -illuteaser -tools">
    <div class="wrp">
      <div class="user">
        <% if current_user %>
          <%= avatar_image current_user, size: :thumb, class: 'avatar img-round' %>
          <span><%= current_user.username %></span>
        <% else %>
          <%= image_tag('fallbacks/user_avatar.png', class: 'img-round') %>
          <span>Dein Name</span>
        <% end %>
      </div>
      <% if local_assigns[:graetzl] %>
        <h3>Vermiete deine ungenutzten Arbeitsgeräte.</h3>
        <%= link_to 'Neuen Toolteiler erstellen', new_tool_offer_path, class: 'btn-primary' %>
      <% elsif local_assigns[:district] %>
        <h3>Vermiete deine ungenutzten Arbeitsgeräte.</h3>
        <%= link_to 'Neuen Toolteiler erstellen', new_tool_offer_path, class: 'btn-primary' %>
      <% else %>
        <h3>Vermiete deine ungenutzten Arbeitsgeräte.</h3>
        <%= link_to 'Neuen Toolteiler erstellen', new_tool_offer_path, class: 'btn-primary -rose' %>
      <% end %>
    </div>
    <div class="card"></div>
  </div>

  <% if local_assigns[:view_all] %>
    <% if local_assigns[:graetzl] %>
      <%= link_to 'Alle Toolteiler', tool_offers_graetzl_path(graetzl), class: 'link-more' %>
    <% elsif local_assigns[:district] %>
      <%= link_to 'Alle Toolteiler', district_tool_offers_path(district), class: 'link-more' %>
    <% else %>
      <%= link_to 'Alle Toolteiler', region_tool_offers_path, class: 'link-more' %>
    <% end %>
  <% end %>
</div>
