<div class="cardbox-wrp" data-behavior="masonry-card">
  <div class="paperCard -cord1RT -illuteaser -insurance">
    <div class="wrp">
      <h3>Mit Unterstützung von:</h3>
      <div class="insurance">
        <%= image_tag('logo-axa.png') %>
      </div>
      <p>
        Jedes Gerät, das du über den Toolteiler verleihst, ist mit bis zu 15.000 € versichert.
        Einfach und unbürokratisch.
      </p>
      <%= link_to 'Mehr Infos', info_versicherung_path, class: 'btn-primary -mint' %>
    </div>
    <div class="card"></div>
  </div>

  <% if local_assigns[:view_all] %>
    <% if local_assigns[:graetzl] %>
      <%= link_to 'Alle Toolteiler', tool_offers_graetzl_path(graetzl), class: 'link-more' %>
    <% elsif local_assigns[:district] %>
      <%= link_to 'Alle Toolteiler', tool_offers_district_path(district), class: 'link-more' %>
    <% else %>
      <%= link_to 'Alle Toolteiler', tool_offers_wien_path, class: 'link-more' %>
    <% end %>
  <% end %>
</div>
