<div class="cardbox-wrp" data-behavior="masonry-card">
  <div class="paperCard -cord1RT -illuteaser -insurance -tmp">
    <div class="wrp">
      <!--
      <h3>Mit Unterst체tzung von:</h3>
      <div class="insurance">
        <%= link_to info_versicherung_path do %><%= image_tag('logo-axa.png') %><% end %>
      </div>
      -->
      <h3>Vermiete deine ungenutzten Arbeitsger채te.</h3>
      <p>
        Jeder Mietvorgang ist versichert. (Mit Unterst체tzung von <%= link_to 'AXA XL Insurance', info_versicherung_path %>).
      </p>
      <%= link_to 'Ger채t einstellen', new_tool_offer_path, class: 'btn-primary' %>
    </div>
    <div class="card"></div>
  </div>

  <% if local_assigns[:view_all] %>
    <% if local_assigns[:graetzl] %>
      <%= link_to 'Alle Toolteiler', tool_offers_graetzl_path(graetzl), class: 'link-more' %>
    <% elsif local_assigns[:district] %>
      <%= link_to 'Alle Toolteiler', district_tool_offers_path(district), class: 'link-more' %>
    <% else %>
      <%= link_to 'Alle Toolteiler', region_tool_offers_path, class: 'link-more' %>
    <% end %>
  <% end %>

  <% if local_assigns[:create_link] %>
    <div class="create_link">
      <%= link_to 'Neuen Toolteiler erstellen', new_tool_offer_path, class: 'btn-primary' %>
    </div>
  <% end %>

</div>
