<div class="cardbox-wrp" data-behavior="masonry-card">
  <div class="paperCard -cord1RT -illuteaser -insurance">
    <div class="wrp">
      <h3>Mit Unterstützung von:</h3>
      <div class="insurance">
        <%= link_to info_versicherung_path do %><%= image_tag('logo-axa.png') %><% end %>
      </div>
      <p>
        Geräte, die du auf imGrätzl.at - Toolteiler verleihst sind im Rahmen der Versicherungsbedingungen
        bis zu 15.000 € versichert. Einfach und unbürokratisch.
        Mehr Infos zu der Versicherungspolizze und den allgemeinen Versicherungsbedingungen findest du <%= link_to 'hier', info_versicherung_path %>.
      </p>
    </div>
    <div class="card"></div>
  </div>

  <% if local_assigns[:view_all] %>
    <% if local_assigns[:graetzl] %>
      <%= link_to 'Alle Toolteiler', tool_offers_graetzl_path(graetzl), class: 'link-more' %>
    <% elsif local_assigns[:district] %>
      <%= link_to 'Alle Toolteiler', tool_offers_district_path(district), class: 'link-more' %>
    <% else %>
      <%= link_to 'Alle Toolteiler', tool_offers_wien_path, class: 'link-more' %>
    <% end %>
  <% end %>

  <% if local_assigns[:create_link] %>
    <div class="create_link">
      <%= link_to 'Neuen Toolteiler erstellen', new_tool_offer_path, class: 'btn-primary' %>
    </div>
  <% end %>

</div>
