<h3 class="sidebar">Deine Auswahl</h3>

<ul class="pricing-summary">
  <li>
    <div class="cost"><%= number_to_currency(@calculator.basic_price, unit: "€") %></div>
    <div class="costname"><%= @calculator.days %> Tage x <%= number_to_currency(@calculator.daily_price, unit: "€") %> </div>
  </li>
  <% if @calculator.discount > 0 %>
    <li>
      <div class="cost"> <%= number_to_currency(-@calculator.discount, unit: "€") %></div>
      <div class="costname">Rabatt <%= @calculator.days %> Tage</div>
    </li>
  <% end %>
  <li>
    <div class="cost"><%= number_to_currency(@calculator.total_fee, unit: "€") %></div>
    <div class="costname">Servicegebühr inkl. Versicherung</div>
  </li>
  <li class="sum">
    <div class="cost"><%= number_to_currency(@calculator.total, unit: "€") %></div>
    <div class="costname">Gesamtpreis</div>
  </li>
</ul>

<%= link_to "Jetzt anfragen", new_tool_rental_path(tool_offer_id: @tool_offer, date_from: @calculator.date_from, date_to: @calculator.date_to), class: "btn-primary" %>
