<% graetzl = Graetzl.memoized(tool_offer.graetzl_id) %>

<div class="cardBox -toolteiler " data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <div class="coverImgWrapper">
      <%= link_to tool_offer do %>
        <%= cover_photo_image(tool_offer, class: 'coverImg') %>
      <% end %>
    </div>
    <div class="priceSheet">
      <div class="price">
        <small>ab</small>
        <%= tool_offer.daily_price(7).to_i %><sup>€</sup>
      </div>
    </div>
    <div class="categoryicon">
      <%= icon_tag "tacker", class: 'fav-exchange' %>
      <%= toggle_favorite_icon(tool_offer) if current_user %>
      <%= toggle_admin_icon(tool_offer, notification: local_assigns[:notification]) if current_user&.admin? %>
    </div>
    <%= graetzl_flag(graetzl) if graetzl %>
  </div>

  <div class="cardBoxContent">
    <%= link_to tool_offer.user, class: 'initiator', rel: 'nofollow' do %>
      <%= avatar_image_with_tooltip tool_offer.user, size: :thumb, class: 'img-round show-badge' %>
      <span><%= tool_offer.user.full_name %></span>
    <% end %>

    <div class="txt">
      <h3><%= link_to tool_offer.title.truncate(100), tool_offer %></h3>
      <p><%= tool_offer.description.truncate(180) %></p>
    </div>

    <%= link_to 'Ausleihen', tool_offer, class: 'btn-primary -btn-rent -mint' %>

    <% if local_assigns[:activity_comment] %>
      <%= render 'activities/comment', parent: tool_offer, comment_url: tool_offer_path(tool_offer, target: local_assigns[:activity_comment].target_url_params), comment: local_assigns[:activity_comment] %>
    <% end %>

    <% if local_assigns[:manage_buttons].present? && current_user == tool_offer.user %>
      <div class="btn-group">
        <%= link_to 'Bearbeiten', edit_tool_offer_path(tool_offer), class: 'btn-secondary -mint -small' %>
        <%= link_to "javascript:", data: { jq_dropdown: "#tool-offer-dropdown-#{tool_offer.id}" }, class: "btn-secondary -mint -small -state-#{tool_offer.status}" do %>
          Status: <span><%= t("activerecord.attributes.tool_offer.statuses.#{tool_offer.status}") %></span>
        <% end %>
      </div>

      <div id="tool-offer-dropdown-<%= tool_offer.id %>" class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container">
        <div class="jq-dropdown-panel">
          <%= link_to 'Aktiv', [:update_status, tool_offer, status: "enabled"], method: :patch %>
          <%= link_to 'Inaktiv', [:update_status,  tool_offer, status: "disabled"], method: :patch %>
          <%= link_to 'Löschen', tool_offer, method: :delete, data: { confirm: 'Bist du dir sicher?' } %>
        </div>
      </div>
    <% end %>

  </div>

</div>
