<% meta(
    title: t('.title', title: @tool_offer.title[0..55].gsub(/\s\w+\s*$/,'...')),
    description: t('.description', desc: @tool_offer.description[0..160].gsub(/\n/, " ")),
    robots: 'index, follow',
    og_title: t('.title', title: @tool_offer.title[0..80].gsub(/\s\w+\s*$/,'...')),
    og_description: t('.description', desc: @tool_offer.description[0..250].gsub(/\n/, " ")),
    og_image: @tool_offer.cover_photo_url(:header, :large) || image_url("meta/#{current_region.id}/og_logo.png")
  )
%>

<section class="toolTeiler-detail">
  <div class="imgHeader -line">
    <%= cover_header_image(@tool_offer, class: 'titleImg') %>
    <div class="headContent">
      <div class="category-tags">
          <ul class="tag-list -mint">
            <% if @tool_offer.tool_subcategory.present? %>
              <li><%= @tool_offer.tool_subcategory.try(:name) %></li>
            <% end %>
            <li><%= @tool_offer.tool_category.try(:name) %></li>
          </ul>
      </div>
    </div>
  </div>

  <%= render 'tool_offers/show/sidebar' %>

  <!-- MAIN CONTENT -->
  <div class="mainContent">

    <div class="introtxt">
      <h3><%= @tool_offer.title %></h3>
      <div class="brand">
        <strong>Marke: </strong>
        <%= @tool_offer.brand %>
      </div>
      <div class="model">
        <strong>Modell: </strong>
        <%= @tool_offer.model %>
      </div>
    </div>

    <div class="txt"><%= @tool_offer.description %></div>

    <div class="entryImgUploads">
      <%= link_to image_tag(@tool_offer.cover_photo_url(:thumb)), @tool_offer.cover_photo_url, data: { jbox_image: "maingallery" } %>
      <% @tool_offer.images.each do |image| %>
        <%= link_to gallery_thumb_image(image), image.file_url, data: { jbox_image: "maingallery" } %>
      <% end %>
    </div>

    <% if @tool_offer.keywords.present? %>
      <section>
        <div class="bigicontext-element">
          <%= icon_tag "dot-3" %>
          <div class="txt">Ausstattung</div>
        </div>
        <div class="category-tags">
          <ul class="tag-list">
            <% @tool_offer.keywords.each do |keyword| %>
              <li><%= keyword %></li>
            <% end %>
          </ul>
        </div>
      </section>
    <% end %>
  </div>

  <div class="mainContent discussion-area">

    <section>
      <div class="stream">
        <div class="bigicontext-element">
          <%= icon_tag "layout-text" %>
          <div class="txt">Kommentare zum Toolteiler</div>
        </div>
        <%= render 'comments/form', commentable: @tool_offer %>
        <%= render partial: 'comments/stream_comment', collection: @comments, as: 'comment' %>
      </div>
    </section>

  </div>

</section>
