<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

        <p>Hallo <%= @user.first_name %>,

        <p>
          heute möchten wir Dich über wichtige Änderungen auf imGrätzl.at informieren.
          Es ist etwas Schönes passiert: <%= link_to 'WeLocally.at', 'https://www.welocally.at/home', target:'_blank', style: "color:#ec776a;" %> ist nun online und <%= link_to 'imGrätzl.at', 'https://www.imgraetzl.at', target:'_blank', style: "color:#ec776a;" %> ist ein Teil davon.
          Wir haben die letzten Monate die Plattform quasi noch einmal neu aufgebaut, damit sich andere Regionen und Städte andocken können.
        </p>
        <p>
          <strong>Für dich bleibt alles wie gewohnt, aber wir wollten unbedingt auch ein paar Verbesserungen für euch auf imGrätzl.at einarbeiten.</strong>
        </p>

        <br>
        <p><strong><em>Was ist neu auf imGrätzl:</em></strong></p>
        <p><%= link_to 'Coop & Share Marktplatz', 'https://www.imgraetzl.at/region/coop-share', target:'_blank', style: "color:#ec776a; font-weight:bold;" %>: Ein Marktplatz der etwas anderen Art, nämlich um Gleichgesinnte und Mitgestalter*innen zu finden. Sei es für bestehende Vereine, lokale Netzwerke und Initiativen oder zur 1:1 Vernetzung zwecks gegenseitiger Unterstützung, Projektpartnersuche oder neuen Formen der Zusammenarbeit.</p>

        <p><%= link_to 'Goodies für die imGrätzl Community', 'https://www.imgraetzl.at/region/locations/category/goodies', target:'_blank', style: "color:#ec776a; font-weight:bold;" %>: Du kannst ab sofort Rabatte und andere Vorteile für die imGrätzl Community einstellen, quasi von Macher*innen für Macher*innen. Die “Goodies” erscheinen in deinem virtuellen Schaufenster, wenn du sie dort in das entsprechende Feld einträgst. Sie sind nur für die imGrätzl Community sichtbar, also eingeloggt. Wer alles einen Vorteil reingestellt hat, siehst du im Bereich “Anbieter & Macher*innen”.</p>

        <p><%= link_to 'Lieblingsgrätzl', 'https://www.imgraetzl.at/user/region-einstellungen', target:'_blank', style: "color:#ec776a; font-weight:bold;" %>: In den Einstellungen kannst du ab sofort deine Lieblingsgrätzl zusammenstellen. Du bekommst dann die Inhalte aus diesen Grätzln in deinem persönlichen Stream angezeigt und die News aus deinen Lieblingsgrätzln im Grätzmail zugeschickt.</p>

        <br>
        <p>Wir haben noch zig andere Details überarbeitet, diese werden wir nach und nach vorstellen.</p>

        <p><strong>Wichtig</strong>: Wir haben auch unsere <strong>Allgemeinen Geschäftsbedingungen (AGB) mit Wirkung zum 01.10.2021</strong> angepasst. Zusammengefasst: Wir haben die Informationen zum Versicherungsschutz beim Toolteiler entfernt, weil der Versicherungspartner das Produkt in Österreich nicht mehr anbietet.</p>

        <p>
          Hier kannst Du die vollständigen AGB einsehen: <%= link_to 'imGrätzl.at AGB', 'https://www.imgraetzl.at/info/agb', target:'_blank', style: "color:#ec776a;" %>
        </p>

        <p>
          Bitte beachte, dass die geänderten AGB als von Dir angenommen gelten, wenn Du nicht innerhalb von 30 Tagen nach Zugang dieses Schreibens gegenüber der morgenjungs GmbH, der Betreiberin von imGrätzl.at, per E-Mail oder per Post widersprichst. (wir@imgraetzl.at oder morgenjungs GmbH z.H. Mirjam Mieschendahl, Breitenfelderstraße 12a, 1080 Wien)
        </p>

        <br>

        <p>Hast Du Fragen? Dann melde Dich gern bei uns unter <%= link_to 'wir@imgraetzl.at', 'mailto:wir@imgraetzl.at', target:'_blank', style: "color:#ec776a;" %></p>

        <p>
          Falls der neue imGrätzl.at Prototyp noch ruckelt und Fehler auftreten, gib uns bitte Bescheid: <%= link_to 'wir@imgraetzl.at', 'mailto:wir@imgraetzl.at', target:'_blank', style: "color:#ec776a;" %> oder hier in der <%= link_to 'Gruppe', 'https://www.imgraetzl.at/groups/54', target:'_blank', style: "color:#ec776a;" %>. Wir sind für jegliche Anmerkungen und Verbesserungsvorschläge dankbar.
        </p>

        <p>
          <strong>
          Wir freuen uns auf das neue Kapitel und auf noch mehr Synergien für alle! Gemeinsam bringen wir mehr zusammen!
          </strong>
        </p>

        <p>
          ---<br>
          Mirjam Mieschendahl und Michael Walchhütter <br>
          Gründer*innen von imGrätzl.at / WeLocally.at
        </p>

        <p>
          PS: Falls du jemand kennst im Mühlviertler Kernland oder in Griffen, St.Andrä oder Völkermarkt (Kärnten), dann unbedingt einladen zu: <%= link_to 'www.welocally.at', 'https://www.welocally.at/home', target:'_blank', style: "color:#ec776a;" %> Danke :)))
        </p>

      </td>
    </tr>
  </tbody>
</table>
