<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

        <p>Servus <%= @user.first_name %>,

        <p>
          heute möchten wir Dich über wichtige Änderungen auf imGrätzl.at informieren. <strong>Wir öffnen nämlich ein ganz neues Kapitel mit den neuen <%= link_to 'lokalen Crowdfunding Tools', 'https://www.imgraetzl.at/region/crowdfunding', target:'_blank', style: "color:#ec776a; font-weight:bold;" %> auf imGrätzl</strong>.
          Wir erfinden Crowdfunding nicht neu, aber ein ganz kleines bisschen schon! Wir dachten uns nämlich, dass ein richtig schöner und mitreißender Sog entstehen kann, wenn:
        </p>

        <ul>
          <li>das Thema Crowdfunding in eine bestehende lokale Plattform wie imGrätzl platziert wird,</li>
          <li>auf der schon viele Menschen unterwegs sind, die ebenfalls ihre Vorhaben umsetzen</li>
          <li>und viele dieser Menschen an neuen Formen der Zusammenarbeit und kooperativem TUN interessiert sind.</li>
        </ul>

        <p>
          Lokale Macher*innen unterstützen lokale Macher*innen beim Ideen umsetzen. Alle profitieren davon, da die Vorhaben ums Eck realisiert werden und Wien dadurch bunter,
          vielfältiger und gemeinschaftlicher wird. YEAH! In dem Sinne gestaltet jetzt mit, unterstützt <strong>die ersten beiden großartigen Crowdfunding Projekte auf imGrätzl:
          <%= link_to 'Mei Meidling - Das partizipative Klima-Grätzl', 'https://www.imgraetzl.at/crowdfunding/mei-meidling-das-klima-gratzl-projekt-zum-mitmachen', target:'_blank', style: "color:#ec776a; font-weight:bold;" %> und die <%= link_to 'Zwischennutzung Semmelweisklinik', 'https://www.imgraetzl.at/crowdfunding/kunst-und-kulturzentrum-semmelweisklinik', target:'_blank', style: "color:#ec776a; font-weight:bold;" %>!</strong>
        </p>

        <p>
          <strong>Wichtig:</strong> Mit der Integration der Crowdfunding Tools haben wir auch unsere <strong>Allgemeinen Geschäftsbedingungen (AGB)</strong> mit Wirkung zum 16.05.2022 angepasst. Zusammengefasst: Wir haben die Informationen zum Start und Durchführung einer Crowdfunding Kampagne und ebenso die Unterstützung einer Crowdfunding Kampagne integriert.
        </p>


        <p>
          Hier kannst Du die vollständigen AGB einsehen: <%= link_to 'imGrätzl.at AGB', 'https://www.imgraetzl.at/info/agb', target:'_blank', style: "color:#ec776a;" %>
        </p>

        <p>
          Bitte beachte, dass die geänderten AGB als von Dir angenommen gelten, wenn Du nicht innerhalb von 30 Tagen nach Zugang dieses Schreibens gegenüber der morgenjungs GmbH, der Betreiberin von imGrätzl.at, per E-Mail oder per Post widersprichst. (wir@imgraetzl.at oder morgenjungs GmbH z.H. Mirjam Mieschendahl, Breitenfelderstraße 12a, 1170 Wien)
        </p>

        <br>

        <p>Hast Du Fragen? Dann melde Dich gern bei uns unter <%= link_to 'wir@imgraetzl.at', 'mailto:wir@imgraetzl.at', target:'_blank', style: "color:#ec776a;" %></p>

        <p>
          Wir freuen uns auf das neue Kapitel und auf noch mehr Synergien für alle! Gemeinsam bringen wir mehr zusammen!
        </p>

        <p>
          ---<br>
          Mirjam Mieschendahl und Michael Walchhütter <br>
          Gründer*innen von imGrätzl.at
        </p>

      </td>
    </tr>
  </tbody>
</table>
