<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <p>
          Servus <%= @user.first_name %>,
        </p>
        <p>
        wir möchten dich heute darüber informieren, dass wir den Bereich „<%= link_to "Geräteteiler", region_tools_url %>“ auf <%= t("region.#{@region.id}.domain_full") %> mit 1. Juli 2025 einstellen werden.
        Der Grund dafür ist die geringe Nutzung in den letzten Jahren.
        </p>
        <p>
        Ein herzliches Dankeschön an dich, dass du mit deinen Einträgen diesen Bereich mit Leben gefüllt und die Idee des Teilens unterstützt hast!
        </p>
        <p>
        Was bedeutet das für dich?<br>
        Mit der Einstellung werden alle Geräteteiler-Daten dauerhaft gelöscht – inklusive deiner Angebote, Anfragen und Buchungshistorien.
        Falls du deine Daten sichern möchtest (z.B. Rechnungen oder Buchungsdetails), logge dich bitte rechtzeitig ein:<br>
        <%= link_to tools_user_url, tools_user_url %>
        </p>
        <p>
        Dort findest du auch dein Buchungsarchiv, solltest du Rechnungen zu vergangenen Vermietungen oder Mieten herunterladen wollen.
        </p>
        <p>
        lieben Dank und weiterhin viel Freude mit imGrätzl.at!<br>
        <p>
          dein <%= t("region.#{@region.id}.domain_short") %>-Team
        </p>
      </td>
    </tr>
  </tbody>
</table>
