<div class="mapImgBlock -hasillu">
  <div class="illuDistrict"></div>
  <div class="navBlock">

    <div class="filter-stream">

      <!-- for mobile we use a select menu -->
      <div class="input-select">
        <label for="filter">
          <%= icon_tag "funnel-filter" %>
          <span>Stöbern in <%= current_region %> nach ...</span>
        </label>
        <select id="filter"><!-- generate links from desktop view via JS --></select>
      </div>
      <!-- END mobile select menu -->

      <%= active_link_to region_index_path, class: "iconfilter hide" do %>
        <%= icon_tag "map-location" %>
        <div class="txt">Region <br/>Übersicht</div>
      <% end %>
      <%= active_link_to region_locations_path, class: "iconfilter" do %>
        <%= icon_tag "location" %>
        <div class="txt">Anbieter <br/>& Locations</div>
      <% end %>
      <%= active_link_to region_meetings_path, class: "iconfilter" do %>
        <%= icon_tag "calendar-2" %>
        <div class="txt">Events & <br/>Workshops</div>
      <% end %>
      <%= active_link_to region_rooms_path, class: "iconfilter" do %>
        <%= icon_tag "raumteiler" %>
        <div class="txt">Raum<br/>teiler</div>
      <% end %>
      <%= active_link_to region_groups_path, class: "iconfilter -coopshare" do %>
        <%= icon_tag "coop-share" %>
        <div class="txt">Gruppen</div>
      <% end %>
      <%= active_link_to region_zuckerls_path, class: "iconfilter hide" do %>
        <%= icon_tag "shopping-bag" %>
        <div class="txt">Zuckerl <br/>& Angebote</div>
      <% end %>

      <% if user_signed_in? %>
        <!-- <%= link_to '#', class: 'iconfilter createentry', data: { behavior: 'createTrigger' } do %>
          <%= icon_tag "pencil" %>
        <% end %> -->
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container createmenu" data-behavior="createContainer">
        <div class="jq-dropdown-panel">

        </div>
      </div>
    <% end %>


  </div>
</div>
