<div class="col footer-logos">
  <a href="https://www.ffg.at" target="_blank">
    <picture>
      <source srcset="<%= image_path('logo-ffg.webp') %>" />
      <%= image_tag 'logo-ffg.png', width:161, height:65 %>
    </picture>
  </a>
  <div>
    Der Prototyp von “<%= link_to 'WeLocally', welocally_platform_url %>” wurde im Rahmen der FFG-Förderung “Impact Innovation” entwickelt.
  </div>
</div>
<div class="col footer-logos">
  <a href="https://www.klimafonds.gv.at" target="_blank">
    <picture>
      <source srcset="<%= image_path('logo-klimafonds.webp') %>" />
      <%= image_tag 'logo-klimafonds.png', width:76, height:65 %>
    </picture>
  </a>
  <div>
    Der <%= link_to 'Raumteiler', region_rooms_path %> auf imGrätzl.at ist Teil des F&amp;E Projektes Mischung: Nordbahnhof (Lead TU Wien).
    <br><br>
    Dieses Projekt wird aus Mitteln des Klima- und Energiefonds gefördert und im Rahmen der Smart-Cities-Initiative durchgeführt.
  </div>
</div>
