<% if current_region.wow? %>
  <div class="wow-logos">
    <small class="title">&nbsp;</small>
    <div class="inner">
      <% current_region.wow.last(1).each do |wow| %>
        <% user_id, name, url = wow.values_at(:user_id, :name, :url) %>
        <picture class="abo user">
          <%= link_to(image_tag("supporter/wow/user_#{user_id}.jpg", loading: 'lazy', width:100, height:100, class: 'img-round show-badge'), url, target: '_blank', rel: 'noopener') %>
        </picture>
        <div class="txt">
           <span class="thx">Danke!</span> <%= link_to name, url, class: 'main', target: '_blank' %> & <%= link_to " #{Subscription.in(current_region).active.count} Förder*innen", subscription_plans_path, class: 'others' %> ermöglichen imGrätzl
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="region-logos">
    <%= link_to subscription_plans_path, class: 'subscription' do %>
      <div class="inner">
        <%= icon_tag "abo" %>
        <div class="txt">
          Uns gibt's nur durch eure <strong>Unterstützung</strong>!
        </div>
      </div>
    <% end %>
  </div>
<% end %>