<div class="region-logos">
  <small class="title">In Kooperation mit:</small>
  <div class="inner">
    <%= link_to(image_tag('regions/kaernten/logo_voelkermarkt.png', loading: 'lazy', width:100, height:100, data: { label: 'Stadtgemeinde Völkermarkt'}), 'https://voelkermarkt.gv.at', target: '_blank', :class => '-logo', rel: 'noopener') %>
    <%= link_to(image_tag('regions/kaernten/logo_griffen.png', loading: 'lazy', width:100, height:100, data: { label: 'Marktgemeinde Griffen'}), 'https://www.griffen.gv.at', target: '_blank', :class => '-logo', rel: 'noopener') %>
    <%= link_to(image_tag('regions/kaernten/logo_standrae.png', loading: 'lazy', width:100, height:100, data: { label: 'Stadtgemeinde St. Andrä'}), 'https://www.st-andrae.gv.at', target: '_blank', :class => '-logo', rel: 'noopener') %>
    <%= link_to(image_tag('regions/kaernten/logo_frantschach.png', loading: 'lazy', width:100, height:100, data: { label: 'Marktgemeinde Frantschach-St. Gertraud'}), 'https://frantschach.gv.at', target: '_blank', :class => '-logo', rel: 'noopener') %>
    <%= link_to(image_tag('regions/kaernten/logo_st_leonhard.png', loading: 'lazy', width:100, height:100, data: { label: 'Stadtgemeinde Bad St. Leonhard'}), 'https://bad-st-leonhard-i-lav.at', target: '_blank', :class => '-logo', rel: 'noopener') %>
  </div>
</div>
