<div class="col footer-logos">
  <a href="https://www.ffg.at" target="_blank" rel="noopener">
    <picture>
      <source srcset="<%= image_path('logo-ffg.webp') %>" type="image/webp" />
      <%= image_tag 'logo-ffg.png', loading: 'lazy', alt: 'Forschungsförderungsgesellschaft', width:161, height:65 %>
    </picture>
  </a>
  <div class="ffg-txt">
    Der Prototyp von “<%= link_to 'WeLocally', welocally_platform_url %>” wurde im Rahmen der FFG-Förderung “Impact Innovation” entwickelt.
  </div>
  <a href="https://sena.or.at" target="_blank" rel="noopener">
    <picture>
      <source srcset="<%= image_path('logo-sena.webp') %>" type="image/webp" />
      <%= image_tag 'logo-sena.png', loading: 'lazy', alt: 'Social Entrepreneurship Network Austria', width:181, height:65 %>
    </picture>
  </a>
</div>

<div class="col footer-logos -kaernten">
  <%= link_to(image_tag('regions/kaernten/logo_voelkermarkt.png', loading: 'lazy'), 'https://voelkermarkt.gv.at', target: '_blank', rel: 'noopener') %>
  <%= link_to(image_tag('regions/kaernten/logo_griffen.png', loading: 'lazy'), 'https://www.griffen.gv.at', target: '_blank', rel: 'noopener') %>
  <div>
    Stadtgemeinde Völkermarkt<br>
    <%= link_to 'www.voelkermarkt.gv.at', 'https://www.voelkermarkt.gv.at', target: 'blank', rel: 'noopener' %>
    <br><br>
    Marktgemeinde Griffen<br>
    <%= link_to 'www.griffen.gv.at', 'https://www.griffen.gv.at', target: 'blank', rel: 'noopener' %>
  </div>
</div>
