<div class="col footer-logos -kaernten">
  <%= link_to(image_tag('regions/kaernten/logo_voelkermarkt.png'), 'https://voelkermarkt.gv.at', target: '_blank') %>
  <%= link_to(image_tag('regions/kaernten/logo_griffen.png'), 'https://www.griffen.gv.at', target: '_blank') %>
  <%= link_to(image_tag('regions/kaernten/logo_standrae.png'), 'https://www.st-andrae.gv.at', target: '_blank') %>
  <div>
    In Kooperation mit:<br><br>

    Stadtgemeinde Völkermarkt<br>
    <%= link_to 'www.voelkermarkt.gv.at', 'https://www.voelkermarkt.gv.at', target: 'blank' %>
    <br><br>

    Marktgemeinde Griffen<br>
    <%= link_to 'www.griffen.gv.at', 'https://www.griffen.gv.at', target: 'blank' %>
    <br><br>

    Stadtgemeinde St. Andrä<br>
    <%= link_to 'www.st-andrae.gv.at', 'https://www.st-andrae.gv.at', target: 'blank' %>

  </div>
</div>
