<div class="col footer-logos">
  <a href="https://www.ffg.at" target="_blank" rel="noopener">
    <picture>
      <source srcset="<%= image_path('logo-ffg.webp') %>" type="image/webp" />
      <%= image_tag 'logo-ffg.png', alt: 'Forschungsförderungsgesellschaft', loading: 'lazy', width:161, height:65 %>
    </picture>
  </a>
  <div class="ffg-txt">
    Der Prototyp von “<%= link_to 'WeLocally', welocally_platform_url %>” wurde im Rahmen der FFG-Förderung “Impact Innovation” entwickelt.
  </div>
</div>

<div class="col footer-logos">
  <%= link_to(image_tag('regions/muehlviertler-kernland/logo_leaderregion.png', loading: 'lazy'), 'https://www.leader-kernland.at', target: '_blank', rel: 'noopener') %>
  <div>
    In Kooperation mit:<br><br>
    Regionalverein „Leader-Region“ Mühlviertler Kernland
    <br>
    <%= link_to 'www.leader-kernland.at', 'https://www.leader-kernland.at', target: 'blank', rel: 'noopener' %>
  </div>
</div>
