<% meta(
    title: t(".#{current_region.id}.title", region: current_region.name),
    description: t(".#{current_region.id}.description", region: current_region.name),
    robots: 'index, follow',
    og_title: t(".#{current_region.id}.title", region: current_region.name),
    og_description: t(".#{current_region.id}.description", region: current_region.name),
    og_image: image_url("meta/#{current_region.host_id}/crowdfunding.png")
  )
%>

<section class="region crowd-campaigns">

  <%= render 'map' %>
  <%= render 'navigation' %>

  <div class="hl-subtext -cards">
    <h1><em>Crowdfunding</em> Projekte</h1>
  </div>

  <%= form_tag load_collections_crowd_campaigns_path, method: :get, remote: true, class: 'cards-filter' do %>
    <div class="filter-selection-text-jbox">
      Zeige mir Projekte aus <%= link_to 'allen Kategorien', '#filter-modal-category', data: { no_filter_label: 'allen Kategorien'}, class: 'filter-modal-category' %>,
      in <%= link_to "ganz #{current_region}", '#filter-modal-areas', data: { no_filter_label: "ganz #{current_region}"}, class: 'filter-modal-areas' %> - <%= link_to 'Neue Kampagne starten', start_crowd_campaigns_path, class: 'plain-link -rosa' %>
    </div>
    <div id="filter-modal-category" class="filter-modal-jbox">
      <%= render 'filters/crowd_campaign_categories' %>
    </div>
    <div id="filter-modal-areas" class="filter-modal-jbox-areas">
      <%= render 'filters/areas', entire_region: true %>
    </div>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="crowd-campaigns-card-container"></div>
    <div class="action-card-container" data-behavior="crowd-campaigns-action-card-container">
      <%= render 'crowd_campaigns/action_card' %>
    </div>
    <!-- Insert Featured Card -->
    <%= render @meeting, featured_card: 'featuredCard -hidden' if @meeting %>

    
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'crowd-campaigns-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
