<% meta(
    title: t('.title', region: current_region.name),
    description: t('.description', region: current_region.name),
    robots: 'index, follow',
    og_title: t('.title', region: current_region.name),
    og_description: t('.description', region: current_region.name),
    og_image: image_url('meta/og_logo.png')
  )
%>

<section class="region -overview">

  <%= render 'map' %>
  <%= render 'navigation' %>

  <% if current_region.use_districts %>

      <div class="address-block">
        <h1 class="hl-main">
          Lass uns dein <em>Heimatgrätzl</em> Finden
        </h1>
        <%= form_tag region_visit_graetzl_path, method: :get do %>
          <div class="input-field" id="addressSearchAutocomplete">
            <%= label_tag :address do %>
              <%= icon_tag "map-location" %>
              <span>Wo wohnst du?</span>
            <% end %>
            <%= text_field_tag :address, nil, required: true, placeholder: "Straße und Hausnummer" %>
            <%= hidden_field_tag :feature %>
            <button class="btn-primary">Weiter</button>
          </div>
        <% end %>
      <div>

  <% else %>

      <div class="address-block">
        <h1 class="hl-main">
          Kostenlos in deiner <em>Gemeinde</em> registrieren
        </h1>
        <%= form_tag new_registration_path, method: :get do %>
          <div id="addressSearchAutocomplete" class="input-field">
            <%= label_tag :address do %>
              <%= icon_tag "map-location" %>
              <span>Wo wohnst du?</span>
            <% end %>
            <%= text_field_tag :address, nil, required: true, placeholder: "Straße und Hausnummer" %>
            <button class="btn-primary">Weiter</button>
            <%= hidden_field_tag :feature %>
            <%= hidden_field_tag :redirect, params[:redirect] %>
            <%= hidden_field_tag :origin, params[:origin] %>
          </div>
        <% end %>
      <div>

  <% end %>


</section>
