<% meta(
    title: t(".#{current_region.id}.title", region: current_region.name),
    description: t(".#{current_region.id}.description", region: current_region.name),
    robots: 'index, follow',
    og_title: t(".#{current_region.id}.title", region: current_region.name),
    og_description: t(".#{current_region.id}.description", region: current_region.name),
    og_image: image_url("meta/#{current_region.host_id}/og_logo.png")
  )
%>

<% if current_region.is?('graz') %>
  <div id="betaflash">
    Open Call - Crowdfunding-Zuschuss <%= link_to 'ViertelFonds', leerstand_path %>
    <%= link_to 'javascript:', class: 'close-ico' do %>
      <%= icon_tag "cross" %>
    <% end %>
  </div>
<% elsif current_region.is?('wien') %>
  <div id="betaflash">
    KI-Umfrage –  <%= link_to 'Jetzt mitmachen!', '/mach-mit/ki-umfrage' %>
    <%= link_to 'javascript:', class: 'close-ico' do %>
      <%= icon_tag "cross" %>
    <% end %>
  </div>
<% end %>

<section class="region -overview">

  <%= render 'map' %>
  <%= render 'navigation' %>

  <%= form_tag activities_path, method: :get, remote: true, class: 'cards-filter' do %>
    <input type="hidden" value="<%= current_region.id %>" name="region_id">
    <div class="filter-selection-text-jbox">
        Neues aus <%= link_to "ganz #{current_region.name}", '#filter-modal-areas', data: { no_filter_label: "ganz #{current_region.name}"} %>
    </div>
    <div id="filter-modal-areas" class="filter-modal-jbox-areas">
      <%= render 'filters/areas', entire_region: true %>
    </div>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="activities-card-container"></div>
    <div class="action-card-container" data-behavior="activities-action-card-container">
      <%= render 'regions/action_card' if !user_signed_in? %>
    </div>
    <!-- Insert Featured Card -->
    <% if current_region.is?('wien') %>
      <%= render 'shared/featured_cards/subscription', subscription: Subscription.in(current_region).active.sample if Subscription.in(current_region).active.any? %>
    <% elsif current_region.is?('graz') %>
      <%= render 'shared/featured_cards/viertelfonds' %>
    <% end %>

    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'activities-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
