<% meta(
    title: t(".#{current_region.id}.title", region: current_region.name, category: @category ? "#{@category.name} - " : ""),
    description: t(".#{current_region.id}.description", region: current_region.name, category: @category ? " aus der Kategorie #{@category.name}" : ""),
    robots: 'index, follow',
    og_title: t(".#{current_region.id}.title", region: current_region.name, category: @category ? "#{@category.name} - " : ""),
    og_description: t(".#{current_region.id}.description", region: current_region.name, category: @category ? " aus der Kategorie  #{@category.name} " : ""),
    og_image: image_url('meta/locations.jpg')
  )
%>

<section class="region locations">

  <%= render 'map' %>
  <%= render 'navigation' %>

  <div class="hl-subtext -cards">
    <%= image_tag 'svg/locations-headline.svg', class: 'locations-headline', alt:'Schaufenster', width:440, height:78 %>
    <p><%= @category? "Entdecke Selbständige, kl. Unternehmen & Kreative aus der Kategorie „#{@category.name}“." : "Entdecke Selbständige, kl. Unternehmen, Kreative, Vereine & Macher*innen" %><%= render 'shared/questionmarklink', hint_url: info_anbieter_und_locations_path %></p>
  </div>

  <%= render 'filters/location_categories' %>

  <%= form_tag locations_path, method: :get, remote: true, class: 'cards-filter' do %>
    <%= hidden_field_tag :category_id, @category.try(:id) %>
    <%= hidden_field_tag :special_category_id, @special_category %>
    <div class="filter-selection-text-jbox">
      Zeige mir Schaufenster aus <%= link_to 'allen Kategorien', 'javascript:', data: { no_filter_label: 'allen Kategorien'}, class: 'plain-link category-slider-label' %>,
      in <%= link_to "ganz #{current_region}", '#filter-modal-areas', data: { no_filter_label: "ganz #{current_region}"}, class: 'filter-modal-areas' %>
    </div>
    <div id="filter-modal-areas" class="filter-modal-jbox-areas">
      <%= render 'filters/areas', entire_region: true %>
    </div>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="locations-card-container"></div>
    <div class="action-card-container" data-behavior="locations-action-card-container">
      <%= render 'locations/action_card' %>
    </div>
    <!-- Insert Featured Card -->
    <%= render 'shared/featured_cards/subscription', subscription: Subscription.in(current_region).active.sample if Subscription.in(current_region).active.any? && current_region.is?('wien') %>
    

    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'locations-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
