<% meta(
    title: t('.title', region: current_region.name),
    description: t('.description', region: current_region.name),
    robots: 'index, follow',
    og_title: t('.title', region: current_region.name),
    og_description: t('.description', region: current_region.name),
    og_image: image_url('meta/summer-events.jpg')
  )
%>

<section class="region platform-meetings">

  <div class="hl-subtext -cards">
    <h1><em>Sommer Special: Kurse & Workshops</em></h1>
    <p>Genieße den Sommer in Wien: Kurse & Workshops im Juli und August</p>
  </div>

  <div class="paperCard -cord1RT -top">
    <div class="wrp">
      <div class="illu-wrp">

      </div>
      <div class="txt">
        <p>
           <strong>Für alle, die den Sommer in Wien verbringen und Lust auf Gemeinschaft haben und darauf neue Erlebnisse und Eindrücke zu sammeln. Motto: Raus aus dem Hamsterrad, hereinspaziert ins Vergnügen.</strong>
        </p>
        <br>
        <p>
          Alle Workshops und Kurse finden im Juli und August statt, organisiert von den lokalen Macher*innen. Genießt das Zusammensein und den Sommer in Wien!
          <br>
          Hast du auch einen Kurs oder einen Workshop im Juli und August im Bereich "Freizeit, Kreativität, Kultur oder Bewegung? Dann trag ihn jetzt <%= link_to 'als Event auf imGrätzl ein', new_meeting_path %>, wir übernehmen den Rest.
        </p>
      </div>
    </div>
    <div class="card"></div>
  </div>

  <!--
  <div class="hl-subtext -cards">
    <h1>Aktuelle <span class="category_title">Themen</span> Wochen</h1>
  </div>
  -->

  <%= form_tag meetings_path(platform_meeting: true, per_page: 75), method: :get, remote: true, class: 'cards-filter' do %>
    <%= hidden_field_tag :meeting_category_id, @meeting_category.try(:id) %>
    <!--<div class="input-select label-select">
      <%= select_tag(:meeting_category_id, ("
          <option value=''>Alle anzeigen</option>" +
          options_from_collection_for_select(MeetingCategory.all.order(:starts_at_date), :id, :category_width_date_range, (@meeting_category.try(:id) ? @meeting_category.try(:id) : actual_meeting_category))).html_safe, id: 'meeting-categories', multiple: false) %>
    </div>-->
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="meetings-card-container"></div>
    <div class="action-card-container" data-behavior="meetings-action-card-container">
      <%= render 'meetings/action_card_platform_meeting' %>
    </div>
    <!-- Insert Featured Card -->

    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'meetings-paginate-link' }, rel: 'nofollow' %>
  </div>

  <% unless current_user %>
  <div class="paperCard -cord1RT -bottom">
    <div class="wrp">
      <div class="logo">
        <%= link_to image_tag('svg/coopshare-logo-black.svg', class: 'coop-share-logo'), info_path %>
      </div>
      <div class="txt">
        <h3>Noch nicht auf imGrätzl registriert?</h3>
        <p><strong>Melde dich jetzt an:</strong> Neben Services, die Kosten senken und Ressourcen erhöhen, wirst du mit Gleichgesinnten verbunden: Kooperieren, sharen, tauschen - neue Formen der Zusammenarbeit und Gemeinschaft stehen dabei im Mittelpunkt!</p>
        <%= link_to "Kostenlos #{ t("region.#{current_region.id}.in_your_graetzl") } registrieren", new_user_session_path, class: 'btn-primary -register' %>
      </div>
    </div>
    <div class="card"></div>
  </div>
  <% end %>

</section>
