<% meta(
    title: t('.title', region: current_region.name),
    description: t('.description', region: current_region.name),
    robots: 'index, follow',
    og_title: t('.title', region: current_region.name),
    og_description: t('.description', region: current_region.name),
    og_image: image_url('meta/og_logo.png')
  )
%>

<section class="region -overview">

  <%= render current_region.use_districts ? 'map_use_districts' : 'map_use_graetzls' %>
  <%= render 'navigation' %>

  <div class="address-block">
    <h1 class="hl-main">
      Lass uns dein <em>Heimatgrätzl</em> Finden
    </h1>
    <%= form_tag visit_graetzl_region_path, method: :get do %>
      <div class="input-field" id="addressSearchAutocomplete">
        <%= label_tag :address do %>
          <%= icon_tag "map-location" %>
          <span>Wo wohnst du?</span>
        <% end %>
        <%= text_field_tag :address, nil, required: true, placeholder: "Straße und Hausnummer" %>
        <%= hidden_field_tag :feature %>
        <button class="btn-primary">Weiter</button>
      </div>
    <% end %>
  <div>

</section>
