<% if @category %>
  <% meta(
      title: t('.title_category', category: @category.name),
      description: t('.description_category', category: @category.name),
    )
  %>
<% else %>
  <% meta(
    title: t('.title'),
    description: t('.description'),
    )
  %>
<% end %>
<% meta(
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/toolteiler.jpg')
  )
%>

<section class="region toolteiler">

  <%= render 'map' %>
  <%= render 'navigation' %>

  <div class="hl-subtext -cards">
    <%= image_tag 'svg/toolteiler-headline.svg', class: 'toolteiler-headline', width:340, height:85 %>
    <p><%= @category? "Arbeitsequipment aus der Kategorie „#{@category.name}“ leihen." : "Arbeitsequipment leihen & Geräte am Standort nutzen" %> <%= render 'shared/questionmarklink', hint_url: info_toolteiler_path %></p>
  </div>



  <%= render 'filters/tool_offer_categories' %>

  <%= form_tag tool_offers_path, method: :get, remote: true, class: 'cards-filter' do %>
    <%= hidden_field_tag :category_id, @category.try(:id) %>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="tool-offers-card-container"></div>
    <div class="action-card-container" data-behavior="tool-offers-action-card-container">
      <%= render 'tool_offers/action_card' %>
    </div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'tool-offers-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
