<% meta(
    title: t('.title', region: current_region.name),
    description: t('.description', region: current_region.name),
    robots: 'index, follow',
    og_title: t('.title', region: current_region.name),
    og_description: t('.description', region: current_region.name),
    og_image: image_url("meta/#{current_region.id}/og_logo.png")
  )
%>

<section class="region zuckerl">

  <%= render 'map' %>
  <%= render 'navigation' %>

  <div class="hl-subtext -cards">
    <h1><em>Zuckerl</em> im <%= I18n.localize Time.now.end_of_month, format: '%B' %></h1>
    <p>Tolle Angebote, Gutscheine & Rabatte von Selbständigen & Geschäften ums Eck <%= render 'shared/questionmarklink', hint_url: info_zuckerl_path %></p>
  </div>

  <%= form_tag zuckerls_path, method: :get, remote: true, class: 'cards-filter' do %>
  <% end %>

  <div class="card-grid-container">
    <div class="card-grid" data-behavior="zuckerls-card-container"></div>
    <div class="action-card-container" data-behavior="zuckerls-action-card-container">
      <%= render 'zuckerls/action_card' %>
    </div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'zuckerls-paginate-link' }, rel: 'nofollow' %>
  </div>

</section>
