<footer id="footer">
  <% if current_region.id == 'wien' %>
   <%= link_to subscription_plans_path, class: 'supporter' do %>imGrätzl <%= icon_tag "love" %> Förder*innen<% end %>
  <% end %>
  <div class="inner">

    <div class="row infolinks">
      <div class="col">
        <%= link_to 'WeLocally.at', welocally_platform_url %>
        <%= link_to 'Infos & Services', info_path %>
        <%= link_to 'Fördermitgliedschaft', subscription_plans_path if current_region.id == 'wien' %>
        <%= link_to 'Über Uns', info_ueber_uns_path %>
        <%= link_to 'Presse', info_presse_path %>
        <%= link_to 'Blog', t("region.#{current_region.id}.blog_url") %>
        <a href="<%= t("region.#{current_region.id}.facebook_url") %>" target="_blank" rel="noopener" class="facebook">
          Auf Facebook <%= icon_tag "social-facebook" %>
        </a>
      </div>
      <div class="col">
        <%= link_to 'Impressum', info_impressum_path %>
        <%= link_to 'Gemeinde / Stadt andocken', call_2022_url(host: welocally_platform_host) %>
        <%= link_to 'Datenschutzrichtlinien', info_datenschutz_path %>
        <%= link_to 'Cookie Einstellungen', 'javascript:', id: 'ihavecookiesBtn' %>
        <!--<%= link_to 'Code of Conduct', info_code_of_conduct_path %>-->
        <%= link_to 'AGB', info_agb_path %>
        <a href="<%= t("region.#{current_region.id}.instagram_url") %>" target="_blank" rel="noopener" class="instagram">
          Auf Instagram <%= image_tag 'svg/icon-instagram-grey.svg', loading: 'lazy', width:28, height:28, class: 'icon', alt: 'Instagram' %>
        </a>
      </div>

      <%= render partial: "regions/logos_#{current_region.id}_footer" rescue nil %>

    </div>

    <div class="maplinks-block">

      <% if current_region.use_districts? %>

        <h3>Entdecke dein Grätzl in Wien:</h3>
        <div class="row">
          <% ([:all] + District.in(current_region)).in_groups_of(6, false).each do |districts| %>
            <div class="col">
              <% districts.each do |district| %>
                <% if district == :all %>
                  <%= link_to "#{current_region} Übersicht", region_index_path %>
                <% else %>
                  <%= link_to district.zip_name, district_index_path(district) %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>

      <% else %>

        <h3>Mitmachende Gemeinden in <%= current_region %></h3>
        <div class="row">
          <% ([:all] + Graetzl.in(current_region)).in_groups_of(5, false).each do |graetzls| %>
            <div class="col">
              <% graetzls.each do |graetzl| %>
                <% if graetzl == :all %>
                  <%= link_to "#{current_region} Übersicht", region_index_path %>
                <% else %>
                  <%= link_to graetzl.name, graetzl_path(graetzl) %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>

      <% end %>

    </div>

  </div>
  <%= image_tag 'svg/loading.svg', class: 'loading-spinner -hidden', width:100, height:100 %>
</footer>
