<footer id="footer">
  <% if current_region.use_districts? %>
   <%= link_to info_danke_path, class: 'supporter' do %>imGrätzl <%= icon_tag "love" %> UnterstützerInnen<% end %>
  <% end %>
  <div class="inner">

    <div class="row infolinks">
      <div class="col">
        <%= link_to 'Infos & Services', info_path %>
        <%= link_to 'Infos zum Zuckerl', info_infos_zum_graetzlzuckerl_path %>
        <%= link_to 'Unterstützer-Team', unterstuetzer_team_path %>
        <%= link_to 'Blog', t("region.#{current_region.id}.blog_url") %>
        <a href="<%= t("region.#{current_region.id}.facebook_url") %>" target="_blank" class="facebook">
          Auf Facebook <%= icon_tag "social-facebook" %>
        </a>
      </div>
      <div class="col">
        <%= link_to 'Datenschutzrichtlinien', info_datenschutz_path %>
        <%= link_to 'Code of Conduct', info_code_of_conduct_path %>
        <%= link_to 'Impressum', info_impressum_path %>
        <%= link_to 'Medien', 'https://blog.imgraetzl.at/medien/', target: '_blank' %>
        <%= link_to 'AGB', info_agb_path %>
      </div>
      <div class="col logo-wa">
        <%= link_to(image_tag('logo-wa.png', width:132, height:65), 'https://wirtschaftsagentur.at/', target: '_blank') %>
        <div>
          Gefördert durch die Wirtschaftsagentur Wien.<br>
          Ein Fonds der Stadt Wien.
        </div>
      </div>
      <div class="col logo-ke">
        <%= link_to(image_tag('logo-klimafonds.png', width:76, height:65), 'https://www.klimafonds.gv.at', target: '_blank') %>
        <div>
          Die <%= link_to 'coop & share', info_path %> Services und der  <%= link_to 'Raumteiler', region_rooms_path %> auf imGrätzl.at sind Teil des F&amp;E Projektes Mischung: Nordbahnhof (Lead TU Wien).
          <br><br>
          Dieses Projekt wird aus Mitteln des Klima- und Energiefonds gefördert und im Rahmen der Smart-Cities-Initiative durchgeführt.
        </div>
      </div>

    </div>

    <div class="maplinks-block">

      <% if current_region.use_districts? %>

        <h3>Entdecke dein Grätzl in Wien:</h3>
        <div class="row">
          <% ([:all] + District.in(current_region)).in_groups_of(6, false).each do |districts| %>
            <div class="col">
              <% districts.each do |district| %>
                <% if district == :all %>
                  <%= link_to "#{current_region} Übersicht", region_index_path %>
                <% else %>
                  <%= link_to district.zip_name, district_index_path(district) %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>

      <% else %>

        <h3>Mitmachende Gemeinden in <%= current_region %></h3>
        <div class="row">
          <% ([:all] + Graetzl.in(current_region)).in_groups_of(5, false).each do |graetzls| %>
            <div class="col">
              <% graetzls.each do |graetzl| %>
                <% if graetzl == :all %>
                  <%= link_to "#{current_region} Übersicht", region_index_path %>
                <% else %>
                  <%= link_to graetzl.name, graetzl_path(graetzl) %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>

      <% end %>

    </div>

  </div>
  <%= image_tag 'svg/loading.svg', class: 'loading-spinner -hidden', width:100, height:100 %>
</footer>
