<% site_name = current_region ? current_region.host_domain_name : "WeLocally.at" %>

<title><%= yield(:title) %><%= site_name %></title>

<%= canonical_tag %>

<% MetaTagHelper::META_TAGS.each do |tag| %>
  <%= yield("meta_#{tag}".to_sym) %>
<% end %>
<% MetaTagHelper::OG_TAGS.each do |tag| %>
  <%= yield("og_#{tag}".to_sym) %>
<% end %>

<%= tag(:meta, property: 'og:site_name', content: site_name) %>
<%= tag(:meta, property: 'og:locale', content: t('.locale')) %>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="language" content="de">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="google-site-verification" content="LSgg3WBUIokaZhSK4uO3MezLJjfnwvJX0vFDfnInsk8" />

<!-- FAVICONS -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#83c7bd">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">
