<title><%= yield(:title) %><%= t("#{current_region.id}.site_name") %></title>

<%= canonical_tag %>

<% MetaTagHelper::META_TAGS.each do |tag| %>
  <%= yield("meta_#{tag}".to_sym) %>
<% end %>
<% MetaTagHelper::OG_TAGS.each do |tag| %>
  <%= yield("og_#{tag}".to_sym) %>
<% end %>

<%= tag(:meta, property: 'og:site_name', content: t("#{current_region.id}.site_name")) %>
<%= tag(:meta, property: 'og:locale', content: t('.locale')) %>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="language" content="de">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="msapplication-tap-highlight" content="no" />
<meta name="google-site-verification" content="LSgg3WBUIokaZhSK4uO3MezLJjfnwvJX0vFDfnInsk8" />
