<section class="personal -wrapper">

  <section class="main">
    <%= link_to user_path(current_user) do %>
      <%= icon_tag "user-avatar" %> Profil
    <% end %>
    <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-locations'} do %>
      <%= icon_tag "location" %> Locations
      <span class="-more"><%= icon_tag "arrow-right-2" %></span>
    <% end %>
    <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-rooms'} do %>
      <%= icon_tag "raumteiler" %> Raumteiler
      <span class="-more"><%= icon_tag "arrow-right-2" %></span>
    <% end %>
    <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-tools'} do %>
      <%= icon_tag "tacker" %> Toolteiler
      <span class="-more"><%= icon_tag "arrow-right-2" %></span>
    <% end %>
    <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-groups'} do %>
      <%= icon_tag "coop-share" %> Gruppen
      <span class="-more"><%= icon_tag "arrow-right-2" %></span>
    <% end %>
    <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-meetings'} do %>
      <div class="iconWithBadge">
        <%= icon_tag "calendar-2" %>
        <% if current_user.attended_meetings.upcoming.size > 0 %>
          <span class="badgeNumber"><%= current_user.attended_meetings.upcoming.size %></span>
        <% end %>
      </div>
      Events & Workshops
      <span class="-more"><%= icon_tag "arrow-right-2" %></span>
    <% end %>
    <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-settings'} do %>
      <%= icon_tag "gears" %> Einstellungen
      <span class="-more"><%= icon_tag "arrow-right-2" %></span>
    <% end %>
    <% if current_user.admin? %>
      <%= link_to admin_root_path do %>
        <%= icon_tag "magic-wand" %> Admin
      <% end %>
      <%= link_to "/reports" do %>
        <%= icon_tag "bar-chart-growth" %> Reports
      <% end %>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <%= icon_tag "power" %> Abmelden
    <% end %>
  </section>

  <section class="second -settings">
    <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-settings'} do %>
      <%= icon_tag "arrow-left-2" %> Zurück
    <% end %>
    <%= link_to edit_user_path do %>
      <%= icon_tag "gears" %> Profil Einstellungen
    <% end %>
    <%= link_to edit_user_path(:target => "tab-2") do %>
      <%= icon_tag "mail-1" %> E-Mail Benachrichtigungen
    <% end %>
  </section>

  <section class="second -locations">
    <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-locations'} do %>
      <%= icon_tag "arrow-left-2" %> Zurück
    <% end %>
    <% current_user.locations.approved.first(6).each do |location| %>
      <%= link_to graetzl_location_path(location.graetzl, location) do %>
        <%= attachment_image_tag location, :avatar, :fill, 35, 35, fallback: 'avatar/location/35x35.png', class: 'img-square' %>
        <span><%= location.name %></span>
      <% end %>
    <% end %>
    <%= link_to locations_user_path do %>
      <%= icon_tag "location" %> Location verwalten
    <% end %>
    <%= link_to zuckerls_user_path do %>
      <%= icon_tag "shopping-bag" %> Grätzlzuckerl buchen
    <% end %>
  </section>

  <section class="second -rooms">
    <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-rooms'} do %>
      <%= icon_tag "arrow-left-2" %> Zurück
    <% end %>
    <% current_user.room_offers.first(3).each do |room| %>
      <%= link_to room do %>
        <%= attachment_image_tag room, :cover_photo, :fill, 100, 100, fallback: 'avatar/room_offer/100x100.png', class: 'img-square' %>
        <span><%= room.slogan %></span>
      <% end %>
    <% end %>
    <% current_user.room_demands.first(3).each do |room| %>
      <%= link_to room do %>
        <%= attachment_image_tag room, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-square' %>
        <span><%= room.slogan %></span>
      <% end %>
    <% end %>
    <%= link_to rooms_user_path do %>
      <%= icon_tag "raumteiler" %> Raumteiler verwalten
    <% end %>
  </section>

  <section class="second -tools">
    <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-tools'} do %>
      <%= icon_tag "arrow-left-2" %> Zurück
    <% end %>
    <%= link_to tool_offers_user_path do %>
      <%= icon_tag "tacker" %> Toolteiler verwalten
    <% end %>
    <%= link_to messenger_path do %>
      <%= icon_tag "speech-bubbles" %> Anfragen Messenger
    <% end %>
    <%= link_to tool_offers_user_path(:target => "tab-buchungsarchiv") do %>
      <%= icon_tag "archive-storage" %> Buchungsarchiv
    <% end %>
  </section>

  <section class="second -groups">
    <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-groups'} do %>
      <%= icon_tag "arrow-left-2" %> Zurück
    <% end %>
    <% if current_user.groups.empty? %>
      <div class="info">
        Du bist in noch keiner Gruppe Mitglied ..
      </div>
      <%= link_to groups_wien_path do %>
        <%= icon_tag "coop-share" %> Stöbern in Gruppen
      <% end %>
    <% end %>
    <section class="content">
      <% current_user.groups.last(8).reverse.each do |group| %>
        <%= link_to group do %>
          <%= icon_tag "coop-share" %>
          <span><%= group.title %></span>
        <% end %>
      <% end %>
      <%= link_to groups_user_path do %>
        <%= icon_tag "speech-bubble" %> Gruppen verwalten
      <% end %>
    </section>
  </section>

  <section class="second -meetings">
    <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-meetings'} do %>
      <%= icon_tag "arrow-left-2" %> Zurück
    <% end %>
    <% if current_user.attended_meetings.upcoming.empty? %>
      <div class="info">
        Es gibt aktuell kein Treffen an dem du teilnimmst ..
      </div>
    <% end %>
    <% current_user.attended_meetings.upcoming.first(8).each do |meeting| %>
      <%= link_to [meeting.graetzl, meeting] do %>
        <% if meeting.starts_at_date %>
          <div class="calendarSheet">
            <div class="day"><%= meeting.starts_at_date.day %></div>
            <div class="month"><%= I18n.localize(meeting.starts_at_date, format:'%b') %></div>
          </div>
        <% else %>
          <%= icon_tag "calendar-2" %>
        <% end %>
        <span><%= meeting.name %></span>
      <% end %>
    <% end %>
  </section>

</section>
