<div class="mobileMainNav">

  <section class="general -wrapper">

    <section class="main">
      <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-district'} do %>
        <%= icon_tag "home" %> <%= district.name %> (<%= district.numeric %>. Bez.)
        <span class="-more"><%= icon_tag "arrow-right-2" %></span>
      <% end %>
      <!--
      <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-wien'} do %>
        <%= icon_tag "map-location" %> Wien
        <span class="-more"><%= icon_tag "arrow-right-2" %></span>
      <% end %>
      -->
      <%= link_to wien_path, class: 'discover' do %>
        <%= icon_tag "map-location" %> Wien Karte
      <% end %>
      <%= link_to rooms_wien_path do %>
        <%= icon_tag "raumteiler" %> Raumteiler
      <% end %>
      <%= link_to tool_offers_wien_path do %>
        <%= icon_tag "share" %> Toolteiler
      <% end %>
      <%= link_to groups_wien_path do %>
        <%= icon_tag "coop-share" %> Gruppen
      <% end %>
      <%= link_to locations_wien_path do %>
        <%= icon_tag "location" %> Anbieter & Locations
      <% end %>
      <%= link_to meetings_wien_path do %>
        <%= icon_tag "calendar-2" %> Events & Workshops
      <% end %>
      <%= link_to zuckerls_wien_path do %>
        <%= icon_tag "shopping-bag" %> Zuckerl & Angebote
      <% end %>
      <%= link_to info_path do %>
        <%= icon_tag "lightbulb" %> Alle Services
      <% end %>
      <%= link_to "https://blog.imgraetzl.at/", class: 'bloglink', target: '_blank' do %>
        <%= icon_tag "coffee" %>
        Blog
      <% end %>
    </section>

    <section class="second -district">
      <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-district'} do %>
        <%= icon_tag "arrow-left-2" %> Zurück
      <% end %>
      <%= link_to district_path(district) do %>
        <%= icon_tag "home" %>
        Home | <%= district.name %> (<%= district.numeric %>. Bez.)
      <% end %>
      <%= link_to rooms_district_path(district) do %>
        <%= icon_tag "raumteiler" %>
        Raumteiler (<%= district.numeric %>. Bez.)
      <% end %>
      <%= link_to tool_offers_district_path(district) do %>
        <%= icon_tag "share" %>
        Toolteiler (<%= district.numeric %>. Bez.)
      <% end %>
      <%= link_to groups_district_path(district) do %>
        <%= icon_tag "coop-share" %> Gruppen (<%= district.numeric %>. Bez.)
      <% end %>
      <%= link_to locations_district_path(district) do %>
        <%= icon_tag "location" %>
        Anbieter & Locations (<%= district.numeric %>. Bez.)
      <% end %>
      <%= link_to meetings_district_path(district) do %>
        <%= icon_tag "calendar-2" %>
        Events & Workshops (<%= district.numeric %>. Bez.)
      <% end %>
      <%= link_to zuckerls_district_path(district) do %>
        <%= icon_tag "shopping-bag" %>
        Zuckerl & Angebote (<%= district.numeric %>. Bez.)
      <% end %>
    </section>

    <section class="second -wien">
      <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-wien'} do %>
        <%= icon_tag "arrow-left-2" %> Zurück
      <% end %>
    </section>

  </section>

</div>
