<div class="mobileMainNav">

  <%= link_to wien_path, class: 'discover' do %>
    <%= icon_tag "map-location" %> Wien Karte
  <% end %>
  <%= link_to rooms_wien_path do %>
    <%= icon_tag "raumteiler" %> Raumteiler
  <% end %>
  <%= link_to tool_offers_wien_path do %>
    <%= icon_tag "tacker" %> Toolteiler
  <% end %>
  <%= link_to groups_wien_path do %>
    <%= icon_tag "coop-share" %> Gruppen
  <% end %>
  <%= link_to locations_wien_path do %>
    <%= icon_tag "location" %> Anbieter & Locations
  <% end %>
  <%= link_to meetings_wien_path do %>
    <%= icon_tag "calendar-2" %> Events & Workshops
  <% end %>
  <%= link_to zuckerls_wien_path do %>
    <%= icon_tag "shopping-bag" %> Zuckerl & Angebote
  <% end %>
  <%= link_to platform_meetings_wien_path do %>
    <%= icon_tag "class" %> Community Treffen
  <% end %>
  <%= link_to info_path do %>
    <%= icon_tag "lightbulb" %> Alle Services
  <% end %>
  <!--
  <%= link_to unterstuetzer_team_path do %>
    <%= icon_tag "check" %> Unterstützer Team
  <% end %>
  -->
  <%= link_to "https://blog.imgraetzl.at/", class: 'bloglink', target: '_blank' do %>
    <%= icon_tag "coffee" %> Blog
  <% end %>
</div>
