<div class="mobileMainNav">
  <%= link_to district_path(district) do %>
    <svg class="icon-home"><use xlink:href="#icon-home"></use></svg><%= district.name %> (<%= district.zip %>)
  <% end %>
  <%= link_to district_meetings_path(district) do %>
    <svg class="icon-calendar-2"><use xlink:href="#icon-calendar-2"></use></svg>Treffen & Events im <%= district.numeric %>. Bezirk
  <% end %>
  <%= link_to district_locations_path(district) do %>
    <svg class="icon-location"><use xlink:href="#icon-location"></use></svg>Anbieter & Locations im <%= district.numeric %>. Bezirk
  <% end %>
  <%= link_to district_locations_path(district) do %>
    <svg class="icon-shopping-bag"><use xlink:href="#icon-shopping-bag"></use></svg>Zuckerln & Angebote im <%= district.numeric %>. Bezirk
  <% end %>
  <%= link_to districts_path, class: 'discover' do %>
    <svg class="icon-map-location"><use xlink:href="#icon-map-location"></use></svg>Wien Übersicht
  <% end %>
  <%= link_to_more_info %>
  <a href="http://blog.imgraetzl.at/" class="bloglink" target="_blank"><svg class="icon-coffee"><use xlink:href="#icon-coffee"></use></svg>Blog</a>
</div>
