<section class="personal -wrapper">

  <section class="main">
    <%= link_to user_path(current_user), class: 'half-left' do %>
      <%= icon_tag "user-avatar" %> Profil
    <% end %>
    <%= link_to messenger_path, class: 'half-right' do %>
      <%= icon_tag "speech-bubbles" %> Messenger
    <% end %>
    <%= link_to 'javascript:void(0);', class: '-trigger', data: {type: '-settings'} do %>
      <%= icon_tag "gears" %> Einstellungen
      <span class="-more"><%= icon_tag "arrow-right-2" %></span>
    <% end %>
    <%= link_to 'javascript:void(0);', class: '-trigger', data: {type: '-locations'} do %>
      <%= icon_tag "location" %> Locations
      <span class="-more"><%= icon_tag "arrow-right-2" %></span>
    <% end %>
    <%= link_to 'javascript:void(0);', class: '-trigger', data: {type: '-rooms'} do %>
      <%= icon_tag "raumteiler" %> Raumteiler
      <span class="-more"><%= icon_tag "arrow-right-2" %></span>
    <% end %>
    <%= link_to 'javascript:void(0);', class: '-trigger', data: {type: '-tools'} do %>
      <%= icon_tag "tacker" %> Toolteiler
      <span class="-more"><%= icon_tag "arrow-right-2" %></span>
    <% end %>
    <%= link_to 'javascript:void(0);', class: '-trigger', data: {type: '-groups'} do %>
      <%= icon_tag "coop-share" %> Gruppen
      <span class="-more"><%= icon_tag "arrow-right-2" %></span>
    <% end %>
    <%= link_to 'javascript:void(0);', class: '-trigger', data: {type: '-meetings'} do %>
      <div class="iconWithBadge">
        <%= icon_tag "calendar-2" %>
        <% if current_user.attended_meetings.upcoming.size > 0 %>
          <span class="badgeNumber"><%= current_user.attended_meetings.upcoming.size %></span>
        <% end %>
      </div>
      Events & Workshops
      <span class="-more"><%= icon_tag "arrow-right-2" %></span>
    <% end %>
    <% if current_user.admin? %>
      <%= link_to admin_root_path do %>
        <%= icon_tag "magic-wand" %> Admin
      <% end %>
      <%= link_to "/reports" do %>
        <%= icon_tag "bar-chart-growth" %> Reports
      <% end %>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <%= icon_tag "power" %> Abmelden
    <% end %>
  </section>

  <section class="second -settings">
    <%= link_to 'javascript:void(0);', class: '-trigger', data: {type: '-settings'} do %>
      <%= icon_tag "arrow-left-2" %> Zurück
    <% end %>
    <%= link_to edit_user_path do %>
      <%= icon_tag "user-avatar" %> Profil Einstellungen
    <% end %>
    <%= link_to edit_user_path(:target => "tab-2") do %>
      <%= icon_tag "mail-1" %> E-Mail Benachrichtigungen
    <% end %>
  </section>

  <section class="second -locations">
    <%= link_to 'javascript:void(0);', class: '-trigger', data: {type: '-locations'} do %>
      <%= icon_tag "arrow-left-2" %> Zurück
    <% end %>
    <%= link_to locations_user_path do %>
      <%= icon_tag "location" %> Location verwalten
    <% end %>
    <%= link_to zuckerls_user_path do %>
      <%= icon_tag "shopping-bag" %> Grätzlzuckerl verwalten
    <% end %>
    <%= nav_lazy_load_form('locations') %>
  </section>

  <section class="second -rooms">
    <%= link_to 'javascript:void(0);', class: '-trigger', data: {type: '-rooms'} do %>
      <%= icon_tag "arrow-left-2" %> Zurück
    <% end %>
    <%= link_to rooms_user_path do %>
      <%= icon_tag "raumteiler" %> Raumteiler verwalten
    <% end %>
    <%= link_to messenger_path(filter: "room_rental") do %>
      <%= icon_tag "speech-bubbles" %> Anfragen Messenger
    <% end %>
    <%= link_to rooms_user_path(target: "tab-buchungsarchiv") do %>
      <%= icon_tag "archive-storage" %> Buchungsarchiv
    <% end %>
    <%= nav_lazy_load_form('rooms') %>
  </section>

  <section class="second -tools">
    <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-tools'} do %>
      <%= icon_tag "arrow-left-2" %> Zurück
    <% end %>
    <%= link_to tool_offers_user_path do %>
      <%= icon_tag "tacker" %> Toolteiler verwalten
    <% end %>
    <%= link_to messenger_path(filter: "tool_rental") do %>
      <%= icon_tag "speech-bubbles" %> Anfragen Messenger
    <% end %>
    <%= link_to tool_offers_user_path(:target => "tab-buchungsarchiv") do %>
      <%= icon_tag "archive-storage" %> Buchungsarchiv
    <% end %>
    <%= nav_lazy_load_form('tools') %>
  </section>

  <section class="second -groups">
    <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-groups'} do %>
      <%= icon_tag "arrow-left-2" %> Zurück
    <% end %>
    <%= link_to groups_user_path do %>
      <%= icon_tag "speech-bubble" %> Gruppen verwalten
    <% end %>
    <%= nav_lazy_load_form('groups') %>
  </section>

  <section class="second -meetings">
    <%= link_to 'javascript:void(0);', class: '-trigger', :data => {:type => '-meetings'} do %>
      <%= icon_tag "arrow-left-2" %> Zurück
    <% end %>
    <%= link_to meetings_user_path do %>
      <%= icon_tag "calendar-2" %> Events verwalten
    <% end %>
    <%= nav_lazy_load_form('meetings') %>
  </section>

</section>
