<div class="personalNav">
  <div class="createTrigger dropdownTrigger createMeeting" data-mobileNavID="createContent">
    <%= icon_tag "pencil" %>
    <span class="txt">Neu erstellen</span>
  </div>

  <div class="notificationsTrigger dropdownTrigger" data-horizontal-offset="-14" data-mobileNavID="notifications" data-behavior="notifications-trigger">
    <div class="iconWithBadge">
      <%- notifications_count = current_user.new_website_notifications_count %>
      <div id="notificationsCount" class="badgeNumber" data-behavior="notifications-count" <% if notifications_count < 1 %> style="display: none;" <% end %>><%= notifications_count %></div>
      <%= icon_tag "bell" %>
    </div>
  </div>

  <div class="usersettingsTrigger dropdownTrigger" data-horizontal-offset="2" data-mobileNavID="usersettings">
    <%= avatar_for current_user %>
    <span class="username txt"><%= current_user.username %></span>
    <div class="wrp">
      <%= icon_tag "gear" %>
    </div>
  </div>

  <div class="searchTrigger dropdownTrigger" data-horizontal-offset="2" data-mobileNavID="search">
    <div class="wrp">
      <%= icon_tag "search" %>
    </div>
  </div>

  <!-- dropDowns -->
  <div class="jq-dropdown jq-dropdown-tip jq-dropdown-anchor-right jq-dropdown-relative createContainer dropdown-container">
    <div class="jq-dropdown-panel">
      <%= link_to new_meeting_path(graetzl_id: current_user.graetzl_id) do %>
        <%= icon_tag "calendar-2" %>
        <div class="icontxt">Neues Treffen</div>
      <% end %>
      <%= link_to select_room_offers_path do %>
        <%= icon_tag "raumteiler" %>
        <div class="icontxt">Neuer Raumteiler</div>
      <% end %>
      <%= link_to new_group_path(graetzl_id: current_user.graetzl_id) do %>
        <%= icon_tag "speech-bubble" %>
        <div class="icontxt">Neue Gruppe gründen</div>
      <% end %>
      <%= link_to new_graetzl_user_post_path(current_user.graetzl) do %>
        <%= icon_tag "head-idea-lightbulb" %>
        <div class="icontxt">Neue Idee im Grätzl</div>
      <% end %>
      <% current_user.locations.approved.each do |location| %>
        <%= link_to graetzl_location_path(location.graetzl, location, anchor: 'location-post-form') do %>
          <%= icon_tag "location" %>
          <div class="icontxt">Neuigkeit meiner Location</div>
          <%= attachment_image_tag location, :avatar, :fill, 35, 35, fallback: 'avatar/location/35x35.png', class: 'img-square' %>
        <% end %>
        <%= link_to new_location_zuckerl_path(location) do %>
          <%= icon_tag "shopping-bag" %>
          <div class="icontxt">Grätzlzuckerl meiner Location</div>
          <%= attachment_image_tag location, :avatar, :fill, 35, 35, fallback: 'avatar/location/35x35.png', class: 'img-square' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="notificationsContainer jq-dropdown jq-dropdown-tip jq-dropdown-anchor-right jq-dropdown-relative" data-behavior="notifications-container">
    <%= link_to 'lädt..', :notifications, remote: true, id: "notifications_more", style: "display: none;" %>
    <div class="jq-dropdown-panel nav-notifications">
      <ul class="notifications" data-behavior="notifications"></ul>
    </div>
  </div>

  <div class="searchContainer jq-dropdown jq-dropdown-tip jq-dropdown-anchor-right jq-dropdown-relative dropdown-container">
    <div class="jq-dropdown-panel nav-search">
      <!-- Search Field-->
      <%= form_tag search_path, method: :get do |f| %>
        <%= hidden_field_tag :label, 'all' %>
        <%= hidden_field_tag :page, 1 %>
        <div class="input-field search-form">
          <%= text_field_tag :q, params[:q], placeholder: 'Suchbegriff ...' %>
        </div>
      <% end %>
      <!-- /Search Field-->
    </div>
  </div>

  <div class="usersettingsContainer jq-dropdown jq-dropdown-tip jq-dropdown-anchor-right jq-dropdown-relative dropdown-container">
    <div class="jq-dropdown-panel nav-usersettings">
      <%= link_to user_path(current_user) do %>
        <%= icon_tag "user-avatar" %> Profil
      <% end %>
      <%= link_to locations_user_path do %>
        <%= icon_tag "location" %> Locations
      <% end %>
      <%= link_to zuckerls_user_path do %>
        <%= icon_tag "shopping-bag" %> Grätzlzuckerl
      <% end %>
      <%= link_to rooms_user_path do %>
        <%= icon_tag "raumteiler" %> Raumteiler
      <% end %>
      <%= link_to groups_user_path do %>
        <%= icon_tag "speech-bubble" %> Gruppen
      <% end %>
      <%= link_to edit_user_path do %>
        <%= icon_tag "gears" %> Einstellungen
      <% end %>
      <% if current_user.admin? %>
        <%= link_to admin_root_path do %>
          <%= icon_tag "magic-wand" %> Admin
        <% end %>
        <%= link_to "/reports" do %>
          <%= icon_tag "bar-chart-growth" %> Reports
        <% end %>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= icon_tag "power" %> Abmelden
      <% end %>
    </div>
  </div>
</div>
