<div class="mobileCreateContent" data-mobileNavID="createContent">
  <div class="createContainer">
    <%= link_to new_meeting_path(graetzl_id: current_user.graetzl_id) do %>
      <%= icon_tag "calendar-2" %>
      <div class="icontxt">Neues Treffen</div>
    <% end %>
    <%= link_to select_room_offers_path do %>
      <%= icon_tag "raumteiler" %>
      <div class="icontxt">Neuer Raumteiler</div>
    <% end %>
    <%= link_to new_graetzl_user_post_path(current_user.graetzl) do %>
      <%= icon_tag "head-idea-lightbulb" %>
      <div class="icontxt">Neue Idee im Grätzl</div>
    <% end %>
    <% current_user.locations.approved.each do |location| %>
      <%= link_to graetzl_location_path(location.graetzl, location) do %>
        <%= icon_tag "location" %>
        <div class="icontxt">Neuigkeit meiner Location</div>
        <%= attachment_image_tag location, :avatar, :fill, 35, 35, fallback: 'avatar/location/35x35.png', class: 'img-square' %>
      <% end %>
      <%= link_to new_location_zuckerl_path(location) do %>
        <%= icon_tag "shopping-bag" %>
        <div class="icontxt">Grätzlzuckerl meiner Location</div>
        <%= attachment_image_tag location, :avatar, :fill, 35, 35, fallback: 'avatar/location/35x35.png', class: 'img-square' %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="mobileNotifications nav-notifications" data-mobileNavID="notifications"></div>

<div class="mobileUserSettings" data-mobileNavID="usersettings">
  <div class="nav-usersettings">
    <%= link_to user_path(current_user) do %>
      <%= icon_tag "user-avatar" %> Profil
    <% end %>
    <%= link_to locations_user_path do %>
      <%= icon_tag "location" %> Locations
    <% end %>
    <%= link_to zuckerls_user_path do %>
      <%= icon_tag "shopping-bag" %> Grätzlzuckerl
    <% end %>
    <%= link_to rooms_user_path do %>
      <%= icon_tag "raumteiler" %> Raumteiler
    <% end %>
    <%= link_to groups_user_path do %>
      <%= icon_tag "speech-bubble" %> Gruppen
    <% end %>
    <%= link_to edit_user_path do %>
      <%= icon_tag "gears" %> Einstellungen
    <% end %>
    <% if current_user.admin? %>
      <%= link_to admin_root_path do %>
        <%= icon_tag "magic-wand" %> Admin
      <% end %>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <%= icon_tag "power" %> Abmelden
    <% end %>
  </div>
</div>
