<div class="mainNav">
  <%= link_to 'Home', root_path, class: 'homelink' %>
  <div class="graetzlTrigger dropdownTrigger" data-horizontal-offset="0" data-mobileNavID="graetzl">
    <svg class="icon-arrow-down-2"><use xlink:href="#icon-arrow-down-2"></use></svg>
    <span class="txt"><%= district.name %></span>
  </div>
  <%= link_to wien_path, class: 'bloglink' do %>
    <svg class="icon-map-location"><use xlink:href="#icon-map-location"></use></svg><div class="txt">Wien</div>
  <% end %>

  <!-- dropDown -->
  <div class="graetzlContainer jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-left dropdown-container">
    <div class="jq-dropdown-panel nav-graetzl">
      <%= link_to district_path(district) do %>
        <svg class="icon-home"><use xlink:href="#icon-home"></use></svg> <%= district.name %> (<%= district.numeric %>. Bez.)
      <% end %>
      <%= link_to locations_district_path(district) do %>
        <svg class="icon-location"><use xlink:href="#icon-location"></use></svg>Anbieter & Locations (<%= district.numeric %>. Bez.)
      <% end %>
      <%= link_to meetings_district_path(district) do %>
        <svg class="icon-calendar-2"><use xlink:href="#icon-calendar-2"></use></svg>Events & Workshops (<%= district.numeric %>. Bez.)
      <% end %>
      <%= link_to rooms_district_path(district) do %>
        <svg class="icon-raumteiler"><use xlink:href="#icon-raumteiler"></use></svg>Raumteiler (<%= district.numeric %>. Bez.)
      <% end %>
      <%= link_to zuckerls_district_path(district) do %>
        <svg class="icon-shopping-bag"><use xlink:href="#icon-shopping-bag"></use></svg>Zuckerl & Angebote (<%= district.numeric %>. Bez.)
      <% end %>
      <%= link_to info_path do %>
        <svg class="icon-lightbulb"><use xlink:href="#icon-lightbulb"></use></svg>Mehr Infos
      <% end %>
      <a href="http://blog.imgraetzl.at/" class="discover" target="_blank"><svg class="icon-coffee"><use xlink:href="#icon-coffee"></use></svg>Blog</a>
    </div>
  </div>
</div>
