<div class="nav-guest">
  <%= link_to 'Kostenlos registrieren', new_registration_path(origin: request.path), class: 'nav-top-link flare' %>
  <%= link_to 'Anmelden', new_user_session_path, class: 'nav-top-link' %>
  <%= link_to 'javascript:', class: 'nav-regions-link', data: { dropdown: "nav-site-regions" } do %>
    <%= image_tag 'regions/flag_AT.png', width:20, height:20, class: 'flag-icon' %>
  <% end %>
  <div class="nav-dropdown-menu" id="nav-site-regions">
    <%= nav_menu_item("map-location", "WeLocally.at", root_url(domain: "welocally.at", subdomain: request.subdomain.split(".").first)) %>
    <% ['kaernten', 'wien'].each do |region| region = Region.get(region) %>
      <%= nav_menu_item("map-location", "#{region.name}", root_url(domain: "#{region.domain}", subdomain: request.subdomain.split(".").first)) %>
    <% end %>
  </div>

</div>
