<header class="navigation">
  <div class="inner">
    <div class="nav-body">
      <%= render "navigation/site_menu", graetzl: @graetzl || user_home_graetzl, district: @district %>

      <div class="nav-logo">
        <%= link_to root_path do %>
          <%= image_tag("regions/#{current_region.id}/logo.svg", class: 'logo-desktop', width:120, height:84) %>
          <%= image_tag("regions/#{current_region.id}/logo_reduced.svg", class: 'logo-mobile', width:45, height:25) %>
        <% end %>
      </div>

      <% if current_user %>
        <%= render "navigation/user_menu" %>
      <% else %>
        <%= render "navigation/guest_menu" %>
      <% end %>
    </div>
  </div>
</header>
