<div class="nav-site">
  <%= link_to 'javascript:', class: "nav-mobile-toggle", data: { dropdown: "nav-site-main" } do %>
    <%= icon_tag("layout-text") %>
    <span class="nav-mobile-toggle-label">Navigation</span>
  <% end %>

  <div class="nav-dropdown-menu" id="nav-site-main">
    <div class="nav-dropdown-submenu shown" id="nav-submenu-site-city">
      <% if graetzl || district %>
        <%= nav_submenu_link("home", (graetzl || district).name, 'nav-submenu-site-location') %>
      <% end %>
      <%= nav_menu_item("map-location", "#{current_region} Karte", region_path) %>
      <%= nav_menu_item("raumteiler", 'Raumteiler', rooms_region_path) %>
      <%= nav_menu_item("tacker", 'Toolteiler', tool_offers_region_path) %>
      <%= nav_menu_item("coop-share-white", 'Gruppen', groups_region_path) %>
      <%= nav_menu_item("location", 'Anbieter & Locations', locations_region_path) %>
      <%= nav_menu_item("calendar-2", 'Events & Workshops', meetings_region_path) %>
      <%= nav_menu_item("handshake", 'Sommer Special: Kurse & Workshops', platform_meetings_region_path) %>
      <%= nav_menu_item("shopping-bag", 'Zuckerl & Angebote', zuckerls_region_path) %>
      <%= nav_menu_item("lightbulb", 'Alle Services', info_path) %>
      <%= nav_menu_item("coffee", "Blog", "https://blog.imgraetzl.at/", class: 'discover', target: '_blank') %>
      <%= nav_menu_item("love", 'imGrätzl UnterstützerInnen', info_danke_path) %>
    </div>

    <div class="nav-dropdown-menu nav-dropdown-submenu" id="nav-submenu-site-location">
      <% if graetzl %>
        <%= nav_submenu_back('nav-submenu-site-city') %>
        <%= nav_menu_item("home", " Home | #{graetzl.name}", graetzl_path(graetzl)) %>
        <%= nav_menu_item("raumteiler", "Raumteiler", rooms_graetzl_path(graetzl)) %>
        <%= nav_menu_item("tacker", "Toolteiler", tool_offers_graetzl_path(graetzl)) %>
        <%= nav_menu_item("coop-share", "Gruppen", groups_graetzl_path(graetzl)) %>
        <%= nav_menu_item("location", "Anbieter & Locations", locations_graetzl_path(graetzl)) %>
        <%= nav_menu_item("calendar-2", "Events & Workshops", meetings_graetzl_path(graetzl)) %>
        <%= nav_menu_item("shopping-bag", "Zuckerl & Angebote", zuckerls_graetzl_path(graetzl)) %>
      <% elsif district %>
        <%= nav_submenu_back('nav-submenu-site-city') %>
        <%= nav_menu_item("home", "#{district.name} (#{district.numeric}. Bez.)", district_path(district)) %>
        <%= nav_menu_item("raumteiler", "Raumteiler (#{district.numeric}. Bez.)", rooms_district_path(district)) %>
        <%= nav_menu_item("tacker", "Toolteiler (#{district.numeric}. Bez.)", tool_offers_district_path(district)) %>
        <%= nav_menu_item("coop-share", "Gruppen (#{district.numeric}. Bez.)", groups_district_path(district)) %>
        <%= nav_menu_item("location", "Anbieter & Locations (#{district.numeric}. Bez.)", locations_district_path(district)) %>
        <%= nav_menu_item("calendar-2", "Events & Workshops (#{district.numeric}. Bez.)", meetings_district_path(district)) %>
        <%= nav_menu_item("shopping-bag", "Zuckerl & Angebote (#{district.numeric}. Bez.)", zuckerls_district_path(district)) %>
      <% end %>
    </div>

  </div>

  <%= link_to 'Home', root_path, class: 'nav-top-link nav-home-link' %>

  <%= link_to 'javascript:', class: 'nav-top-link nav-city-link', data: { dropdown: "nav-site-city" } do %>
    <%= icon_tag "arrow-down-2" %> <%= current_region %>
  <% end %>

  <div class="nav-dropdown-menu" id="nav-site-city">
    <%= nav_menu_item("map-location", "#{current_region} Karte", region_path) %>
    <%= nav_menu_item("raumteiler", 'Raumteiler', rooms_region_path) %>
    <%= nav_menu_item("tacker", 'Toolteiler', tool_offers_region_path) %>
    <%= nav_menu_item("coop-share-white", 'Gruppen', groups_region_path) %>
    <%= nav_menu_item("location", 'Anbieter & Locations', locations_region_path) %>
    <%= nav_menu_item("calendar-2", 'Events & Workshops', meetings_region_path) %>
    <%= nav_menu_item("handshake", 'Sommer Special: Kurse & Workshops', platform_meetings_region_path) %>
    <%= nav_menu_item("shopping-bag", 'Zuckerl & Angebote', zuckerls_region_path) %>
    <%= nav_menu_item("lightbulb", 'Alle Services', info_path) %>
    <%= nav_menu_item("coffee", "Blog", "https://blog.imgraetzl.at/", class: 'discover', target: '_blank') %>
    <%= nav_menu_item("love", 'imGrätzl UnterstützerInnen', info_danke_path) %>
  </div>

  <%= link_to 'javascript:', class: 'nav-top-link nav-location-link', data: { dropdown: "nav-site-location" } do %>
    <%= icon_tag "arrow-down-2" %>
    <span>
    <% if graetzl %>
      <%= graetzl.name %>
    <% elsif district %>
      <%= district.name %>
    <% else %>
      Grätzl entdecken
    <% end %>
    </span>
  <% end %>

  <div class="nav-dropdown-menu" id="nav-site-location">
    <% if graetzl %>
      <%= nav_menu_item("home", "#{graetzl.name}", graetzl_path(graetzl)) %>
      <%= nav_menu_item("raumteiler", "Raumteiler", rooms_graetzl_path(graetzl)) %>
      <%= nav_menu_item("tacker", "Toolteiler", tool_offers_graetzl_path(graetzl)) %>
      <%= nav_menu_item("coop-share", "Gruppen", groups_graetzl_path(graetzl)) %>
      <%= nav_menu_item("location", "Anbieter & Locations", locations_graetzl_path(graetzl)) %>
      <%= nav_menu_item("calendar-2", "Events & Workshops", meetings_graetzl_path(graetzl)) %>
      <%= nav_menu_item("shopping-bag", "Zuckerl & Angebote", zuckerls_graetzl_path(graetzl)) %>
    <% elsif district %>
      <%= nav_menu_item("home", "#{district.name} (#{district.numeric}. Bez.)", district_path(district)) %>
      <%= nav_menu_item("raumteiler", "Raumteiler (#{district.numeric}. Bez.)", rooms_district_path(district)) %>
      <%= nav_menu_item("tacker", "Toolteiler (#{district.numeric}. Bez.)", tool_offers_district_path(district)) %>
      <%= nav_menu_item("coop-share", "Gruppen (#{district.numeric}. Bez.)", groups_district_path(district)) %>
      <%= nav_menu_item("location", "Anbieter & Locations (#{district.numeric}. Bez.)", locations_district_path(district)) %>
      <%= nav_menu_item("calendar-2", "Events & Workshops (#{district.numeric}. Bez.)", meetings_district_path(district)) %>
      <%= nav_menu_item("shopping-bag", "Zuckerl & Angebote (#{district.numeric}. Bez.)", zuckerls_district_path(district)) %>
    <% else %>
      <%= nav_menu_item("map-location", "#{current_region} Karte", region_path) %>
    <% end %>
  </div>

</div>
