<div class="nav-site">
  <%= link_to 'javascript:', class: "nav-mobile-toggle", data: { dropdown: "nav-site-main" } do %>
    <%= icon_tag("layout-text") %>
    <span class="nav-mobile-toggle-label">Navigation</span>
  <% end %>

  <div class="nav-dropdown-menu" id="nav-site-main">
    <div class="nav-dropdown-submenu shown" id="nav-submenu-site-city">
      <%= nav_menu_item("region-#{current_region.id}", "#{t("region.#{current_region.id}.region")} Übersicht", region_index_path, class: 'half region-switch') %>
      <%= nav_submenu_link("globe", '', 'nav-submenu-regions', class: 'half region-switch globe') %>
      <% if graetzl && graetzl.region == current_region || district %>
        <%= nav_submenu_link("home", (graetzl || district).name, 'nav-submenu-site-location') %>
      <% end %>
      <%= nav_menu_item("raumteiler", 'Raumteiler', region_rooms_path) %>
      <%= nav_menu_item("crowd", 'Crowdfunding', region_crowd_campaigns_path) %>
      <%= nav_menu_item("calendar-2", 'Events & Workshops', region_meetings_path) %>
      <%= nav_menu_item("location", 'Anbieter & Macherinnen', region_locations_path) %>
      <%= nav_menu_item("coop-and-share", 'Coop & Share Marktplatz', region_coop_demands_path) %>
      <%= nav_menu_item("tacker", 'Toolteiler', region_tools_path) %>
      <%= nav_menu_item("shopping-bag", 'Zuckerl & Angebote', region_zuckerls_path) %>
      <%= nav_menu_item("speech-bubble", 'Gruppen', region_groups_path) %>
      <%= nav_menu_item("lightbulb", 'Infos & Services', info_path) %>
      <%= nav_menu_item("coffee", "Blog", "#{t("region.#{current_region.id}.blog_url")}", class: 'discover', target: '_blank') %>
      <%= nav_menu_item("love", 'imGrätzl UnterstützerInnen', info_danke_path) if current_region.use_districts? %>
    </div>
    <div class="nav-dropdown-submenu" id="nav-submenu-regions">
      <%= nav_submenu_back('nav-submenu-site-city', 'half') %>
      <%= link_to welocally_platform_url, class: 'half nav-menu-item center' do %>
        <%= image_tag("regions/logo.svg", loading: 'lazy', class: 'logo-mobile', height:30) %>
      <% end %>
      <% Region.all.each do |region| %>
        <%= nav_region_menu_item("region-#{region.id}", "#{region.name}", region_index_url(host: region.host), region) %>
      <% end %>
      <%= nav_menu_item("plus", 'Gemeinde / Stadt andocken', call_2022_url(host: welocally_platform_host)) %>
    </div>
    <div class="nav-dropdown-menu nav-dropdown-submenu" id="nav-submenu-site-location">
      <% if graetzl %>
        <%= nav_submenu_back('nav-submenu-site-city') %>
        <%= nav_menu_item("home", graetzl.name, graetzl_path(graetzl)) %>
        <%= nav_menu_item("raumteiler", "Raumteiler", rooms_graetzl_path(graetzl)) %>
        <%= nav_menu_item("crowd", 'Crowdfunding', crowd_campaigns_graetzl_path(graetzl)) %>
        <%= nav_menu_item("calendar-2", "Events & Workshops", meetings_graetzl_path(graetzl)) %>
        <%= nav_menu_item("location", "Anbieter & Macherinnen", locations_graetzl_path(graetzl)) %>
        <%= nav_menu_item("coop-and-share", 'Coop & Share Marktplatz', coop_demands_graetzl_path(graetzl)) %>
        <%= nav_menu_item("tacker", "Toolteiler", tools_graetzl_path(graetzl)) %>
        <%= nav_menu_item("speech-bubble", "Gruppen", groups_graetzl_path(graetzl)) %>
        <%= nav_menu_item("shopping-bag", "Zuckerl & Angebote", zuckerls_graetzl_path(graetzl)) %>
      <% elsif district %>
        <%= nav_submenu_back('nav-submenu-site-city') %>
        <%= nav_menu_item("home", "#{district.name} (#{district.numeric}. Bez.)", district_index_path(district)) %>
        <%= nav_menu_item("raumteiler", "Raumteiler (#{district.numeric}. Bez.)", district_rooms_path(district)) %>
        <%= nav_menu_item("crowd", "Crowdfunding (#{district.numeric}. Bez.)", district_crowd_campaigns_path(district)) %>
        <%= nav_menu_item("calendar-2", "Events & Workshops (#{district.numeric}. Bez.)", district_meetings_path(district)) %>
        <%= nav_menu_item("location", "Anbieter & Macherinnen (#{district.numeric}. Bez.)", district_locations_path(district)) %>
        <%= nav_menu_item("coop-and-share", "Coop & Share Marktplatz (#{district.numeric}. Bez.)", district_coop_demands_path(district)) %>
        <%= nav_menu_item("tacker", "Toolteiler (#{district.numeric}. Bez.)", district_tools_path(district)) %>
        <%= nav_menu_item("speech-bubble", "Gruppen (#{district.numeric}. Bez.)", district_groups_path(district)) %>
        <%= nav_menu_item("shopping-bag", "Zuckerl & Angebote (#{district.numeric}. Bez.)", district_zuckerls_path(district)) %>
      <% end %>
    </div>

  </div>

  <%= link_to 'Home', root_path, class: 'nav-top-link nav-home-link' %>

  <%= link_to 'javascript:', class: 'nav-top-link nav-city-link', data: { dropdown: "nav-site-city" } do %>
    <%= icon_tag "arrow-down-2" %> <span><%= current_region %></span>
  <% end %>

  <div class="nav-dropdown-menu" id="nav-site-city">
    <div class="nav-dropdown-submenu shown" id="nav-submenu-city-main">
        <%= nav_menu_item("region-#{current_region.id}", "#{t("region.#{current_region.id}.region")} Übersicht", region_index_path, class: 'half region-switch') %>
        <%= nav_submenu_link("globe", '', 'nav-submenu-desk-regions', class: 'half region-switch globe') %>
        <%= nav_menu_item("raumteiler", 'Raumteiler', region_rooms_path) %>
        <%= nav_menu_item("crowd", 'Crowdfunding', region_crowd_campaigns_path) %>
        <%= nav_menu_item("calendar-2", 'Events & Workshops', region_meetings_path) %>
        <%= nav_menu_item("location", 'Anbieter & Macherinnen', region_locations_path) %>
        <%= nav_menu_item("coop-and-share", 'Coop & Share Marktplatz', region_coop_demands_path) %>
        <%= nav_menu_item("tacker", 'Toolteiler', region_tools_path) %>
        <%= nav_menu_item("speech-bubble", 'Gruppen', region_groups_path) %>
        <%= nav_menu_item("shopping-bag", 'Zuckerl & Angebote', region_zuckerls_path) %>
        <%= nav_menu_item("lightbulb", 'Infos & Services', info_path) %>
        <%= nav_menu_item("coffee", "Blog", "#{t("region.#{current_region.id}.blog_url")}", class: 'discover', target: '_blank') %>
        <%= nav_menu_item("love", 'imGrätzl UnterstützerInnen', info_danke_path) if current_region.use_districts? %>
    </div>
    <div class="nav-dropdown-submenu" id="nav-submenu-desk-regions">
      <%= nav_submenu_back('nav-submenu-city-main', 'half') %>
      <%= link_to welocally_platform_url, class: 'half nav-menu-item center' do %>
        <%= image_tag("regions/logo.svg", loading: 'lazy', class: 'logo-mobile', height:30) %>
      <% end %>
      <% Region.all.each do |region| %>
        <%= nav_region_menu_item("region-#{region.id}", "#{region.name}", region_index_url(host: region.host), region) %>
      <% end %>
      <%= nav_menu_item("plus", 'Gemeinde / Stadt andocken', call_2022_url(host: welocally_platform_host)) %>
    </div>
  </div>

  <% if graetzl && graetzl.region == current_region || district %>
    <%= link_to 'javascript:', class: 'nav-top-link nav-location-link', data: { dropdown: "nav-site-location" } do %>
      <%= icon_tag "arrow-down-2" %>
      <span>
      <% if graetzl %>
        <%= graetzl.name %>
      <% elsif district %>
        <%= district.name %>
      <% end %>
    <% end %>
  <% end %>

  <div class="nav-dropdown-menu" id="nav-site-location">
    <% if graetzl %>
      <%= nav_menu_item("home", "#{graetzl.name}", graetzl_path(graetzl)) %>
      <%= nav_menu_item("raumteiler", "Raumteiler", rooms_graetzl_path(graetzl)) %>
      <%= nav_menu_item("crowd", 'Crowdfunding', crowd_campaigns_graetzl_path(graetzl)) %>
      <%= nav_menu_item("calendar-2", "Events & Workshops", meetings_graetzl_path(graetzl)) %>
      <%= nav_menu_item("location", "Anbieter & Macherinnen", locations_graetzl_path(graetzl)) %>
      <%= nav_menu_item("coop-and-share", "Coop & Share Marktplatz", coop_demands_graetzl_path(graetzl)) %>
      <%= nav_menu_item("tacker", "Toolteiler", tools_graetzl_path(graetzl)) %>
      <%= nav_menu_item("shopping-bag", "Zuckerl & Angebote", zuckerls_graetzl_path(graetzl)) %>
      <%= nav_menu_item("speech-bubble", "Gruppen", groups_graetzl_path(graetzl)) %>
    <% elsif district %>
      <%= nav_menu_item("home", "#{district.name} (#{district.numeric}. Bez.)", district_index_path(district)) %>
      <%= nav_menu_item("raumteiler", "Raumteiler (#{district.numeric}. Bez.)", district_rooms_path(district)) %>
      <%= nav_menu_item("crowd", "Crowdfunding (#{district.numeric}. Bez.)", district_crowd_campaigns_path(district)) %>
      <%= nav_menu_item("calendar-2", "Events & Workshops (#{district.numeric}. Bez.)", district_meetings_path(district)) %>
      <%= nav_menu_item("location", "Anbieter & Macherinnen (#{district.numeric}. Bez.)", district_locations_path(district)) %>
      <%= nav_menu_item("coop-and-share", "Coop & Share Marktplatz (#{district.numeric}. Bez.)", district_coop_demands_path(district)) %>
      <%= nav_menu_item("tacker", "Toolteiler (#{district.numeric}. Bez.)", district_tools_path(district)) %>
      <%= nav_menu_item("speech-bubble", "Gruppen (#{district.numeric}. Bez.)", district_groups_path(district)) %>
      <%= nav_menu_item("shopping-bag", "Zuckerl & Angebote (#{district.numeric}. Bez.)", district_zuckerls_path(district)) %>
    <% else %>
      <%= nav_menu_item("map-location", "#{current_region.name}", region_index_path) %>
    <% end %>
  </div>

</div>
