<div class="nav-user">
  <%= link_to 'javascript:', class: 'nav-top-link nav-user-create-link flare', data: { dropdown: "nav-user-create", anchor: 'right' } do %>
    <%= icon_tag "pencil" %>
    <span class="nav-create-label"> Neu erstellen </span>
  <% end %>

  <div class="nav-dropdown-menu" id="nav-user-create">
    <%= nav_menu_item("calendar-2", 'Treffen erstellen', new_meeting_path(graetzl_id: user_home_graetzl&.id)) %>

    <% if current_user.locations.in(current_region).approved.present? %>
      <% current_user.locations.in(current_region).approved.each do |location| %>
        <%= link_to graetzl_location_path(Graetzl.memoized(location.graetzl_id), location, target: 'location-post-form'), class: 'nav-menu-item' do %>
          <%= icon_tag "location" %>
          Schaufenster Neuigkeit
          <%= avatar_image location, size: :thumb, class: 'img-square owner-avatar' %>
        <% end %>
      <% end %>
    <% else %>
      <%= nav_menu_item("location", 'Schaufenster einrichten', new_location_path) %>
    <% end %>

    <%= nav_menu_item("coop-and-share", 'Neues Coop & Share Angebot', new_coop_demand_path) %>
    <%= nav_menu_item("currency-euro", 'Neue Crowdfunding Kampagne', crowdfundings_user_path) %>
    <%= nav_menu_item("raumteiler", 'Raumteiler erstellen', select_room_offers_path) %>
    <%= nav_menu_item("tacker", 'Toolteiler erstellen', select_tool_offers_path) %>
    <%= nav_menu_item("shopping-bag", 'Zuckerl buchen', new_zuckerl_path) %>

    <% if current_user.admin? %>
      <%= nav_menu_item("speech-bubble", 'Neue Gruppe gründen', new_group_path(graetzl_id: user_home_graetzl&.id)) %>
    <% end %>
  </div>

  <%= link_to 'javascript:', class: 'nav-top-link nav-user-notification-link', data: { dropdown: "nav-user-notifications", anchor: 'right' } do %>
    <%= icon_with_badge "bell", current_user.new_website_notifications_count,
        id: 'notifications-count', data: { url: notifications_unseen_count_url } %>
  <% end %>

  <div class="nav-dropdown-menu" id="nav-user-notifications">
    <%= form_tag notifications_fetch_path, remote: true, method: :get, id: "notifications-fetch", class: 'active' do; end %>
    <ul id="notification-list"></ul>
  </div>

  <%= link_to 'javascript:', class: 'nav-top-link nav-current-user-link', data: { dropdown: "nav-current-user", anchor: 'right' } do %>
    <%= avatar_image(current_user, size: :thumb, class: 'img-round avatar') %>
    <div class="icon-wrap"><%= icon_tag "gear" %></div>
  <% end %>

  <div class="nav-dropdown-menu" id="nav-current-user">
    <div class="nav-dropdown-submenu shown" id="nav-submenu-user-main">
      <%= nav_menu_item("user-avatar", 'Profil', user_path(current_user), class: 'half') %>
      <%= nav_menu_item("speech-bubbles", 'Messenger', messenger_path, class: 'half') %>
      <%= nav_submenu_link("gears", 'Einstellungen', 'nav-submenu-user-settings') %>
      <%= nav_submenu_link("location", 'Mein Schaufenster', 'nav-submenu-user-locations') %>
      <%= nav_submenu_link("shopping-bag", 'Meine Zuckerln', 'nav-submenu-user-zuckerls') %>
      <%= nav_submenu_link("calendar-2", 'Meine Treffen', 'nav-submenu-user-meetings',
          badge: current_user.attended_meetings.in(current_region).upcoming.size) %>
      <%= nav_submenu_link("raumteiler", 'Meine Raumteiler', 'nav-submenu-user-rooms') %>
      <%= nav_submenu_link("tacker", 'Meine Toolteiler', 'nav-submenu-user-tools') %>
      <%= nav_submenu_link("currency-euro", 'Crowdfunding Kampagnen', 'nav-submenu-user-crowdfundings') %>
      <%= nav_submenu_link("coop-and-share", 'Coop & Share Marktplatz', 'nav-submenu-user-coop-shares') %>
      <%= nav_submenu_link("speech-bubble", 'Gruppen', 'nav-submenu-user-groups') %>
      <%= nav_menu_item("power", 'Abmelden', destroy_user_session_path, method: :delete) %>
      <% if current_user.admin? %>
        <%= nav_menu_item("magic-wand", 'Admin', admin_root_path, class: 'half first last-row') %>
        <%= nav_menu_item("bar-chart-growth", 'Reports', "/reports", class: 'half last-row') %>
      <% end %>
    </div>

    <div class="nav-dropdown-submenu" id="nav-submenu-user-settings">
      <%= nav_submenu_back('nav-submenu-user-main') %>
      <%= nav_menu_item("user-avatar", 'Profil Einstellungen', edit_user_url(host: current_user.region.host)) %>
      <%= nav_menu_item("mail-1", 'E-Mail Benachrichtigungen', edit_user_url(host: current_user.region.host, target: "tab-2")) %>
      <%= nav_menu_item("flag", "Meine #{t("region.#{current_region.id}.favorite_graetzl")}", favorite_graetzls_user_url(host: current_user.region.host)) %>
    </div>

    <div class="nav-dropdown-submenu" id="nav-submenu-user-locations">
      <%= nav_submenu_back('nav-submenu-user-main') %>
      <%= nav_menu_item("location", 'Schaufenster verwalten', locations_user_path) %>
      <%= nav_lazy_load_form('locations') %>
    </div>

    <div class="nav-dropdown-submenu" id="nav-submenu-user-zuckerls">
      <%= nav_submenu_back('nav-submenu-user-main') %>
      <%= nav_menu_item("shopping-bag", 'Neues Zuckerl buchen', new_zuckerl_path) %>
      <%= nav_menu_item("archive-storage", 'Buchungen verwalten', zuckerls_user_path) %>
      <%= nav_lazy_load_form('zuckerls') %>
    </div>

    <div class="nav-dropdown-submenu" id="nav-submenu-user-crowdfundings">
      <%= nav_submenu_back('nav-submenu-user-main') %>
      <%= nav_menu_item("currency-euro", 'Kampagnen verwalten', crowdfundings_user_path) %>
      <%= nav_lazy_load_form('crowdfundings') %>
    </div>

    <div class="nav-dropdown-submenu" id="nav-submenu-user-rooms">
      <%= nav_submenu_back('nav-submenu-user-main') %>
      <%= nav_menu_item("raumteiler", 'Raumteiler verwalten', rooms_user_path) %>
      <%= nav_menu_item("speech-bubbles", 'Anfragen Messenger', messenger_path(filter: "room_rental")) %>
      <%= nav_menu_item("archive-storage", 'Buchungsarchiv', rooms_user_path(target: "tab-buchungsarchiv")) %>
      <%= nav_lazy_load_form('rooms') %>
    </div>

    <div class="nav-dropdown-submenu" id="nav-submenu-user-tools">
      <%= nav_submenu_back('nav-submenu-user-main') %>
      <%= nav_menu_item("tacker", 'Toolteiler verwalten', tools_user_path) %>
      <%= nav_menu_item("speech-bubbles", 'Anfragen Messenger', messenger_path(filter: "tool_rental")) %>
      <%= nav_menu_item("archive-storage", 'Buchungsarchiv', tools_user_path(target: "tab-buchungsarchiv")) %>
      <%= nav_lazy_load_form('tools') %>
    </div>

    <div class="nav-dropdown-submenu" id="nav-submenu-user-coop-shares">
      <%= nav_submenu_back('nav-submenu-user-main') %>
      <%= nav_menu_item("coop-and-share", 'Coop & Shares verwalten', coop_demands_user_path) %>
      <%= nav_lazy_load_form('coop_demands') %>
    </div>

    <div class="nav-dropdown-submenu" id="nav-submenu-user-groups">
      <%= nav_submenu_back('nav-submenu-user-main') %>
      <%= nav_menu_item("speech-bubble", 'Gruppen verwalten', groups_user_path) %>
      <%= nav_lazy_load_form('groups') %>
    </div>

    <div class="nav-dropdown-submenu" id="nav-submenu-user-meetings">
      <%= nav_submenu_back('nav-submenu-user-main') %>
      <%= nav_menu_item("calendar-2", 'Events verwalten', meetings_user_path) %>
      <%= nav_lazy_load_form('meetings') %>
    </div>
  </div>

  <%= link_to 'javascript:', class: 'nav-top-link nav-autocomplete-icon', data: { dropdown: "nav-user-search", anchor: 'right' } do %>
    <%= icon_tag "search" %>
  <% end %>

  <div class="nav-dropdown-menu autocomplete-wrp" id="nav-user-search">
    <%= image_tag 'svg/loading-input.svg', class: 'autocomplete-loading-spinner -hidden' %>
    <%= form_with url: search_path, local: true, method: :get, class: 'autocomplete-form' do |f| %>
      <div class="input-field">
        <%= text_field_tag :q, params[:q], placeholder: 'Suchbegriff ...', data:{behavior:"autocomplete"} %>
      </div>
    <% end %>
  </div>

</div>
