<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'noindex, nofollow',
  )
%>

<section class="reports" id="admin-report">

  <div class="input-select nav-months">
    <label>
      <%= icon_tag "calendar-2" %>
      <span>Zeitraum</span>
    </label>
    <select id="months">
      <!-- Fill with JS -->
    </select>
  </div>

  <!-- Top Chart -->
  <div id="top">
    <div id="topLineChart">
      <canvas id="topchart" height="220" width="900"></canvas>
    </div>
    <div id="topPieChart">
      <canvas id="graetzlchart" height="220" width="700"></canvas>
    </div>
  </div>

  <div id="report_nav">
    <!--<button class="btn-primary -rosa pages" data-nav="page_dashboard">Dashboard</button>-->
    <button class="btn-primary -rosa pages" data-nav="page_users">User</button>
    <button class="btn-primary -mint pages" data-nav="page_locations">Locations</button>
    <button class="btn-primary -mint pages" data-nav="page_meetings">Treffen</button>
    <button class="btn-primary -mint pages" data-nav="page_rooms">Raumteiler</button>
    <button class="btn-primary -mint pages" data-nav="page_tools">Geräteteiler</button>
    <button class="btn-primary -mint pages" data-nav="page_graetzls">Grätzl / Gemeinde</button>
  </div>

<!-- PAGE USERS -->
  <div id="page_users" class="page">

    <!-- Users Datatable -->
    <table id="datatable_users" class="datatable_users stripe hover row-border dtb" width="100%" data-page-length='100'>
      <thead>
        <tr>
          <th class="-id">ID</th>
          <th>Username</th>
          <th>E-Mail</th>
          <th>Grätzl</th>
          <th class="-date">Registriert</th>
        </tr>
      </thead>
    </table>

  </div>
<!-- /PAGE USERS -->


<!-- PAGE SINGLE USERS -->

  <!-- Single User View-->
  <div id="page_singleuser" class="page">

    <div id="user_top">
      <button class="btn-secondary -small -grey" id="users_back">Zurück zur Übersicht</button>
        <div class="profile">
          <img id="u_avatar" class="attachment user avatar img-round -largest" src="/assets/fallbacks/user_avatar.png">
          <div>
            <div>
              <span id="u_id"></span> |
              <span id="u_created_at"></span>
              <ul class="tag-list grey">
                <li id="u_role"></li>
                <li id="u_newsletter">Newsletter</li>
              </ul>
            </div>
            <div>
              <em>Zuletzt eingeloggt: <span id="u_last_login"></span></em>
            </div>
            <div class="facts">

              <div class="name"><span id="u_username"></span> |
                <span id="u_firstname"></span>
                <span id="u_lastname"></span>
                <a href="#" id="u_admin" target="_blank">(edit)</a>
              </div>
              <div id="u_email"></div>

              <div>
                <span id="u_zip"></span>
                <span id="u_graetzl"></span>
              </div>
            </div>
          </div>
        </div>
      <span style="width:80px;"></span>
    </div>

    <div class="user_content">
      <div class="wrp -small">
        <div id="u_locations" class="u_block -more">
          <div class="title" style="display: flex;"><%= icon_tag "location" %><span>Locations</span></div>
          <div id="u_location"></div>
        </div>
      </div>
      <div class="wrp -wide">
        <div id="u_rooms" class="u_block -more">
          <div class="title" style="display: flex;"><%= icon_tag "raumteiler" %><span>Raumteiler</span></div>
          <div id="u_room"></div>
        </div>
      </div>
    </div>

    <div class="user_content">
      <div class="wrp -small">
        <div id="u_updates" class="u_block -more">
          <div class="title" style="display: flex;"><%= icon_tag "horn-promote" %><span>Location Updates</span></div>
          <div id="u_update"></div>
        </div>
      </div>
      <div class="wrp -wide">
        <div id="u_meetings" class="u_block -more">
          <div class="title" style="display: flex;"><%= icon_tag "calendar-2" %><span>Treffen</span></div>
          <div id="u_meeting"></div>
        </div>
      </div>
    </div>

    <div class="user_content -bottom">
      <div id="u_mc_activities" class="u_block">
        <div class="title">
          <%= icon_tag "at-symbol" %>
          <span>Mail Activities</span>
        </div>
        <div id="u_mc_activity"></div>
      </div>
    </div>


  </div>
<!-- /PAGE SINGLE USERS -->

<!-- PAGE MAILINGS -->
  <div id="page_locations" class="page">

    <!-- Users Datatable -->
    <table id="datatable_locations" class="stripe hover row-border dtb" width="100%" data-page-length='100'>
      <thead>
        <tr>
          <th class="-id">ID</th>
          <th>Location</th>
          <th>Grätzl</th>
          <th class="-date">Erstellt am</th>
        </tr>
      </thead>
    </table>

  </div>
<!-- /PAGE MAILINGS -->

<!-- PAGE ROOMS -->
  <div id="page_rooms" class="page">

    <!-- Users Datatable -->
    <table id="datatable_rooms" class="stripe hover row-border dtb" width="100%" data-page-length='100'>
      <thead>
        <tr>
          <th class="-date">Typ</th>
          <th>Raumteiler</th>
          <th class="-date">Erstellt am</th>
        </tr>
      </thead>
    </table>

  </div>
<!-- /PAGE ROOMS -->

<!-- PAGE MEETINGS -->
  <div id="page_meetings" class="page">

    <!-- Users Datatable -->
    <table id="datatable_meetings" class="stripe hover row-border dtb" width="100%" data-page-length='100'>
      <thead>
        <tr>
          <th class="-id">ID</th>
          <th>Treffen</th>
          <th>Grätzl</th>
          <th class="-date">Erstellt am</th>
        </tr>
      </thead>
    </table>

  </div>
<!-- /PAGE MEETINGS -->

<!-- PAGE TOOLS -->
  <div id="page_tools" class="page">

    <!-- Users Datatable -->
    <table id="datatable_tools" class="stripe hover row-border dtb" width="100%" data-page-length='100'>
      <thead>
        <tr>
          <th class="-id">ID</th>
          <th>Geräteteiler</th>
          <th>Grätzl</th>
          <th class="-date">Erstellt am</th>
        </tr>
      </thead>
    </table>

  </div>
<!-- /PAGE MEETINGS -->

<!-- PAGE GRÄTZLS -->
  <div id="page_graetzls" class="page">
    <!-- Grätzls Datatable -->
    <table id="datatable_graetzls" class="stripe hover row-border dtb" width="100%" data-page-length='200'>
      <thead>
        <tr>
          <th class="-count">PLZ</th>
          <th>Grätzl</th>
          <th class="-count" data-user="total">User Gesamt</th>
          <th class="-count" data-user="actual">Neue User</th>
        </tr>
      </thead>
    </table>
  </div>
<!-- /PAGE GRÄTZLS -->

<!-- PAGE MAILINGS -->
  <div id="page_mailings" class="page">

    <!-- Users Datatable -->
    <table id="datatable_mailings" class="stripe hover row-border" width="100%" data-page-length='100'>
      <thead>
        <tr>
          <th>Mailings</th>
          <th>Sent</th>
          <th>Opens</th>
          <th>Clicks</th>
        </tr>
      </thead>
    </table>

  </div>
<!-- /PAGE MAILINGS -->


</section>
