<% content_for(:above_title, "Hallo #{@zuckerl.user.first_name}") %>
<% content_for(:title, "Dein Zuckerl wurde freigeschalten.") %>

<!-- --------------- BLOCK HEADLINE --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
   <tr>
     <td style="height:30px"> </td>
   </tr>
   <tr>
     <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
       <h4 style="text-align:left; color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic;">
         Dein Zuckerl - Laufzeit: <%= @zuckerl.runtime %>
       </h4>
     </td>
   </tr>
   <tr>
     <td style="padding-left:9px; padding-right:9px;">
       <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td>
             <span></span>
           </td>
         </tr>
       </table>
     </td>
   </tr>
</table>

<!-- CONTENT-Table -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td class="mcnTextContent" style="padding-left:18px; padding-right:18px;">

      <p>
        Dein Zuckerl <strong>'<%= @zuckerl.title %>'</strong> für das Schaufenster
        <%= link_to @zuckerl.location.name, graetzl_location_url(@zuckerl.location.graetzl, @zuckerl.location, host: @zuckerl.region.host), style: "color:#f48a85;" %>
        wurde freigeschalten und ist somit im Monat <%= @zuckerl.runtime %> auf der Plattform <%= t("region.#{@zuckerl.region_id}.domain_full") %> aktiv!
      </p>

      <% if !@zuckerl.free? %>
      <p>
        <strong>Der Betrag in der Höhe von <%= @zuckerl.total_price_with_currency %> wird nun von deiner hinterlegten Zahlungsmethode abgebucht. Anschließend erhältst du eine Rechnung per E-Mail.</strong>
      </p>
      <% end %>

      <p>
        Solltest du Fragen haben schick uns ein Mail an <%= t("region.#{@zuckerl.region_id}.contact_email") %>.
      </p>

      <p>
        Dein Team von <%= t("region.#{@zuckerl.region_id}.domain_full") %>
      </p>

      <%= render 'mailers/shared/button', title: "Dein Zuckerl verwalten", url: zuckerls_user_url(host: @zuckerl.region.host) %>
    </td>
  </tr>
</table>
<!-- /CONTENT-Table -->
