<% content_for(:above_title, "Hallo #{@user.first_name}") %>
<% content_for(:title, "Vielen Dank für die Buchung deines Grätzlzuckerls!") %>

<!-- --------------- BLOCK HEADLINE --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
   <tr>
     <td style="height:30px"> </td>
   </tr>
   <tr>
     <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
       <h4 style="text-align:left; color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic;">
         Hinweise zur Zahlung
       </h4>
     </td>
   </tr>
   <tr>
     <td style="padding-left:9px; padding-right:9px;">
       <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td>
             <span></span>
           </td>
         </tr>
       </table>
     </td>
   </tr>
</table>

<!-- CONTENT-Table -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td class="mcnTextContent" style="padding-left:18px; padding-right:18px;">
      <strong>Wichtig: </strong>
      Um deine Buchung erfolgreich abschließen und dein Grätzlzuckerl zeitgerecht am
      <%= I18n.localize Time.now.end_of_month+1.day, format: '%d.%m.%Y' %>
      schalten zu können, <strong>beachte bitte folgende Zahlungsinformationen:</strong>
      <br><br>
      Bitte überweise den offenen Betrag von <%= @zuckerl.total_price_with_currency %> an folgende Kontoverbindung.
      <br/>
      Nach erfolgreichem Zahlungseingang senden wir dir erneut eine Bestätigung für die Schaltung deines Grätzlzuckerls zu.
      <br/><br/>
      <p>
        <em><strong>Kontoverbindung:</strong></em><br/>
        morgenjungs GmbH<br/>
        IBAN: AT03 2011 1826 6988 6500<br/>
        BIC: GIBAATWWXXX<br/><br/>
        <em><strong>Verwendungszweck:</strong></em><br/>
        <%= @zuckerl.payment_reference %><br/>
      </p>
    </td>
  </tr>
</table>
<!-- /CONTENT-Table -->


<!-- --------------- BLOCK HEADLINE --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
   <tr>
     <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
       <h4 style="text-align:left; color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic;">
         Buchungsbestätigung
       </h4>
     </td>
   </tr>
   <tr>
     <td style="padding-left:9px; padding-right:9px;">
       <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td>
             <span></span>
           </td>
         </tr>
       </table>
     </td>
   </tr>
</table>

<!-- CONTENT-Table -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td class="mcnTextContent" style="padding-left:18px; padding-right:18px;">

      <table width="100%" cellpadding="2">
        <tr>
          <td width="80%"><strong>Grätzlzuckerl Buchung</strong></td>
          <td width="20%"><strong>Preis</strong></td>
        </tr>
        <tr>
          <td valign="top" style="padding-bottom:5px;">
            <em>Sichtbarkeit:</em> <%= @zuckerl.visibility %><br>
            <em>Location:</em> <%= @zuckerl.location.name %>
          </td>
          <td valign="top" nowrap="nowrap"><%= @zuckerl.basic_price_with_currency %> (exkl. USt.)</td>
        </tr>
        <tr>
          <td colspan="3" style="border-top-width: 2px;border-top-style: solid;border-top-color: #64A8A7;"></td>
        </tr>
        <tr>
          <td align="right">zzgl. 20% USt: </td>
          <td>&nbsp;&nbsp;<%= @zuckerl.tax_with_currency %></td>
        </tr>
        <tr>
          <td align="right" style="padding-bottom:5px;"><strong>Gesamt inkl. USt: </strong></td>
          <td><strong><%= @zuckerl.total_price_with_currency %></strong></td>
        </tr>
        <tr>
          <td colspan="2" style="border-top-width: 2px;border-top-style: solid;border-top-color: #64A8A7;"></td>
        </tr>
      </table>

      <br/>

      Bei Fragen zu deiner Buchung sende uns bitte ein Mail an wir@imgraetzl.at
      <br/>
      Hier kannst du dein gebuchtes Zuckerl nochmals ansehen. Bitte beachte das du dafür eingeloggt sein musst:
      <br/><br/>

      <%= render 'mailers/shared/button', title: "Zuckerl nochmals ansehen", url: zuckerls_user_url(host: @zuckerl.region.host) %>

      --<br/><br/>
      Dies ist keine Rechnung - Nach erhalt der Zahlung senden wir Dir erneut eine Bestätigung inkl. Rechnung zu.
      <br/><br/>

      <strong>Vielen Dank und liebe Grüße,</strong><br/>
      Dein Team von imGrätzl.at<br/>

    </td>
  </tr>
</table>
<!-- /CONTENT-Table -->
