<% content_for(:above_title, "Hallo #{@user.first_name}") %>
<% content_for(:title, "Vielen Dank für die Zahlung deines Grätzlzuckerls.") %>

<!-- --------------- BLOCK HEADLINE --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
   <tr>
     <td style="height:30px"> </td>
   </tr>
   <tr>
     <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
       <h4 style="text-align:left; color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic;">
         Dein Grätzlzuckerl - Laufzeit: <%= I18n.localize @zuckerl.created_at.end_of_month+1.day, format: '%B %Y' %>
       </h4>
     </td>
   </tr>
   <tr>
     <td style="padding-left:9px; padding-right:9px;">
       <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td>
             <span></span>
           </td>
         </tr>
       </table>
     </td>
   </tr>
</table>

<!-- CONTENT-Table -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td class="mcnTextContent" style="padding-left:18px; padding-right:18px;">

      <p>
        <strong>Wir bestätigen hiermit den Eingang deiner Zahlung und die erfolgreiche Buchung.</strong>
        Dein Grätzlzuckerl für die Location
        <%= link_to @zuckerl.location.name, graetzl_location_url(@zuckerl.location.graetzl, @zuckerl.location, host: @zuckerl.region.host), style: "color:#f48a85;" %>
        ist somit im Monat <%= I18n.localize @zuckerl.created_at.end_of_month+1.day, format: '%B %Y' %> auf der Plattform imGrätzl.at aktiv!
        <br/><br/>Solltest du Fragen haben schick uns ein Mail an wir@imgraetzl.at.
        <br/>
        Dein Team von imGrätzl.at
      </p>

      <%= render 'mailers/shared/button', title: "Zum Grätzlzuckerl", url: zuckerls_user_url(host: @zuckerl.region.host) %>
    </td>
  </tr>
</table>
<!-- /CONTENT-Table -->



<!-- --------------- BLOCK HEADLINE --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
   <tr>
     <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
       <h4 style="text-align:left; color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic;">
         Rechnung
       </h4>
     </td>
   </tr>
   <tr>
     <td style="padding-left:9px; padding-right:9px;">
       <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td>
             <span></span>
           </td>
         </tr>
       </table>
     </td>
   </tr>
</table>


<!-- CONTENT-Table -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td class="mcnTextContent" style="padding-left:18px; padding-right:18px;">

      <table width="100%">
        <tr>
          <td width="50%" valign="top">
            <% if @zuckerl.location.billing_address.present? %>
              <p>
                <strong>Rechnungsempfänger</strong><br/>
                <%= @zuckerl.location.billing_address.full_name %><br/>
                <%= @zuckerl.location.billing_address.company %><br/>
                <%= @zuckerl.location.billing_address.street %><br/>
                <%= @zuckerl.location.billing_address.zip %> <%= @zuckerl.location.billing_address.city %><br/>
                <%= @zuckerl.location.billing_address.country %><br/>
              </p>
            <% end %>
          </td>
          <td width="50%" valign="top">
            <p>
              <strong>Rechnungssteller</strong><br/>
              www.imGrätzl.at - betrieben von<br/>
              morgenjungs GmbH<br/>
              Breitenfeldergasse 14/2A<br/>
              1080 Wien<br/>
              UID: ATU 69461502<br/>
            </p>
          </td>
        </tr>
      </table>

      <table width="100%" cellpadding="2">
        <tr>
          <td colspan="3" style="padding-bottom:5px;">
            <p>
              Rechnungsdatum: <%= Date.today.strftime('%d.%m.%Y') %><br/>
              Rechnungsnummer: <%= @zuckerl.invoice_number %><br/>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="border-top-width: 2px;border-top-style: solid;border-top-color: #64A8A7;"></td>
        </tr>
        <tr>
          <td width="80%"><strong>Grätzlzuckerl Buchung</strong></td>
          <td width="20%"><strong>Preis</strong></td>
        </tr>
        <tr>
          <td valign="top" style="padding-bottom:5px;">
            <em>Sichtbarkeit:</em> <%= @zuckerl.visibility %><br>
            <em>Location:</em> <%= @zuckerl.location.name %><br>
            <em>Laufzeit:</em> <%= I18n.localize @zuckerl.created_at.end_of_month+1.day, format: '%B %Y' %>
          </td>
          <td valign="top" nowrap="nowrap"><%= @zuckerl.basic_price_with_currency %> (exkl. USt.)</td>
        </tr>
        <tr>
          <td colspan="2" style="border-top-width: 2px;border-top-style: solid;border-top-color: #64A8A7;"></td>
        </tr>
        <tr>
          <td align="right" style="padding-bottom:5px;">zzgl. 20% USt. </td>
          <td>&nbsp;&nbsp;<%= @zuckerl.tax_with_currency %></td>
        </tr>
        <tr>
          <td align="right"><strong>Gesamt inkl. USt. </strong></td>
          <td nowrap="nowrap"><strong><%= @zuckerl.total_price_with_currency %></strong></td>
        </tr>
        <tr>
          <td colspan="2" style="border-top-width: 2px;border-top-style: solid;border-top-color: #64A8A7;"></td>
        </tr>
      </table>

      <br/>

      <strong>Der Betrag wurde dankend erhalten.</strong><br/>
      Angehängt findest du die Rechnung als PDF.

    </td>
  </tr>
</table>
<!-- /CONTENT-Table -->
