<% content_for(:above_title, "Hallo #{@zuckerl.user.first_name}") %>
<% content_for(:title, "Dein Zuckerl ist nun online!") %>

<!-- --------------- BLOCK HEADLINE --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
   <tr>
     <td style="height:30px"> </td>
   </tr>
   <tr>
     <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
       <h4 style="text-align:left; color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic;">
         Dein Zuckerl - <%= @zuckerl.runtime %>
       </h4>
     </td>
   </tr>
   <tr>
     <td style="padding-left:9px; padding-right:9px;">
       <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td>
             <span></span>
           </td>
         </tr>
       </table>
     </td>
   </tr>
</table>

<!-- CONTENT-Table -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td class="mcnTextContent" style="padding-left:18px; padding-right:18px;">

      Dein Zuckerl '<strong><%= @zuckerl.title %></strong>' läuft nun für einen Monat auf <%= t("region.#{@zuckerl.region_id}.domain_full") %>
      mit folgender Sichtbarkeit: '<strong><%= @zuckerl.visibility %></strong>'.

      <% if @zuckerl.entire_region %>
        <p>
          <strong>Zu den Zuckerln:</strong><br/>
          <%= link_to region_zuckerls_url(host: @zuckerl.region.host), region_zuckerls_url(host: @zuckerl.region.host), style: "color:#f48a85;" %>
        </p>
      <% else %>
        <p>
          <strong>Zu den Zuckerln im <%= @zuckerl.location.graetzl.name %>:</strong><br/>
          <%= link_to zuckerls_graetzl_url(@zuckerl.location.graetzl, host: @zuckerl.region.host), zuckerls_graetzl_url(@zuckerl.location.graetzl, host: @zuckerl.region.host), style: "color:#f48a85;" %>
        </p>
      <% end %>

      <p>
        <strong>Auf deinem Schaufenster:</strong><br/>
        <%= link_to graetzl_location_url(@zuckerl.location.graetzl, @zuckerl.location, host: @zuckerl.region.host), graetzl_location_url(@zuckerl.location.graetzl, @zuckerl.location, host: @zuckerl.region.host), style: "color:#f48a85;" %>
      </p>

      <% if @zuckerl.entire_region %>
        <p>
          Dein Zuckerl wird ausserdem den ganzen Monat <%= @zuckerl.runtime %> <strong>in alle wöchentlichen Newsletter in '<%= @zuckerl.visibility.camelize(:lower) %>'</strong> eingestreut.
        </p>
      <% else %>
        <p>
          Dein Zuckerl wird ausserdem den ganzen Monat <%= @zuckerl.runtime %> <strong>in alle wöchentlichen Newsletter im '<%= @zuckerl.visibility %>'</strong> eingestreut.
        </p>
      <% end %>

      <br>

      Viele Grüße,<br/>
      dein Team von <%= t("region.#{@zuckerl.region_id}.domain_full") %>

    </td>
  </tr>
</table>
<!-- /CONTENT-Table -->
