<div class="address-container">

  <div class="hl-subtext">
    <h1>Rechnungsadresse</h1>
    <p>
      Um den Geräteteiler anzufragen, gib zunächst deine Rechnungsadresse bekannt.
    </p>
  </div>

  <%= form_for @tool_rental do |f| %>
    <%= f.hidden_field :tool_offer_id %>
    <%= f.hidden_field :rent_from %>
    <%= f.hidden_field :rent_to %>

    <div class="input-field">
      <%= f.label :renter_company do %>
        <%= icon_tag "user-avatar" %>
        <span>Firma</span>
      <% end %>
      <%= f.text_field :renter_company, placeholder: 'Firma (optional)', class: 'renter-input', data: { field: 'renter-company' } %>
    </div>

    <div class="input-field">
      <%= f.label :renter_name do %>
        <%= icon_tag "user-avatar" %>
        <span>Name</span>
      <% end %>
      <%= f.text_field :renter_name, placeholder: 'Vor- & Nachname', class: 'renter-input', data: { field: 'renter-name' } %>
    </div>

    <div class="input-field">
      <%= f.label :renter_address do %>
        <%= icon_tag "map-location" %>
        <span>Strasse & Nr.</span>
      <% end %>
      <%= f.text_field :renter_address, placeholder: 'Strasse & Nr.', class: 'renter-input', data: { field: 'renter-address' } %>
    </div>

    <div class="form-columns">

      <div class="input-field">
        <%= f.label :renter_zip do %>
          <%= icon_tag "map-location" %>
          <span>Postleitzahl</span>
        <% end %>
        <%= f.text_field :renter_zip, placeholder: 'PLZ', class: 'renter-input', data: { field: 'renter-zip' } %>
      </div>

      <div class="input-field">
        <%= f.label :renter_city do %>
          <%= icon_tag "map-location" %>
          <span>Ort/Stadt</span>
        <% end %>
        <%= f.text_field :renter_city, placeholder: 'Stadt', class: 'renter-input', data: { field: 'renter-city' } %>
      </div>
    </div>

    <%= f.submit "Weiter", class: 'btn-primary' %>
  <% end %>
</div>
