<div class="payment" id="tab-payment">

  <div class="hl-subtext">
    <h1>Wähle deine Zahlungsart</h1>
    <p>
      Wir buchen erst Geld ab, wenn deine Anfrage vom Vermieter bestätigt wurde und der Deal zustande kommt.
    </p>
  </div>

  <div class="paymentMethods">
    <% ToolRental::PAYMENT_METHODS.each do |payment_method| %>
      <div class="input-radio -<%= payment_method %>">
        <%= radio_button_tag :payment_method, payment_method %>
        <%= label_tag :"payment_method_#{payment_method}", payment_method_label(payment_method) %>
      </div>
    <% end %>
  </div>

  <div class="payment-method-container card-container">
    <%= render 'tool_rentals/new/payment_credit_card' %>
  </div>

  <div class="payment-method-container sofort-container">
    <div class="input-field">
      <%= label_tag :cardholder_name do %>
        <%= icon_tag "user-avatar" %>
        <span>First name</span>
      <% end %>
      <%= text_field_tag :first_name, current_user.first_name, placeholder: '', class: 'input-plain' %>
    </div>

  </div>

  <div class="payment-method-container eps-container">
    <p> Coming soon </p>
  </div>

</div>
