<%= form_tag initiate_card_payment_tool_rentals_url, class: 'payment-intent-form remote-form', remote: true, data: {type: 'json', with_credentials: true} do %>
  <div class="error-message"></div>
  <%= hidden_field_tag :tool_offer_id, params[:tool_offer_id] %>
  <%= hidden_field_tag :rent_from, params[:rent_from] %>
  <%= hidden_field_tag :rent_to, params[:rent_to] %>
  <%= hidden_field_tag :payment_method_id %>
<% end %>

<div class="input-field">
  <%= label_tag :card_info do %>
    <%= icon_tag "credit-card" %>
    <span>Kreditkarte</span>
  <% end %>
  <div id="card-element"></div>
</div>

<div class="input-field">
  <%= label_tag :cardholder_name do %>
    <%= icon_tag "user-avatar" %>
    <span>Karteninhaber</span>
  <% end %>
  <%= text_field_tag :cardholder_name, current_user.full_name, placeholder: 'Karte laufend auf ...', class: 'input-plain', id: 'cardholder-name' %>
</div>

<%= button_tag "Weiter", type: 'button', class: 'btn-primary next-screen' %>
