<div class="cardBox -toolteiler">
  <div class="cardBoxHeader">
    <div class="coverImgWrapper">
      <%= link_to @tool_rental.tool_offer do %>
        <%= cover_photo_image(@tool_rental.tool_offer, class: 'coverImg') %>
      <% end %>
    </div>
    <div class="priceSheet">
      <div class="price">
        <small>ab</small>
        <%= @tool_rental.tool_offer.daily_price(7).to_i %><sup>€</sup>
      </div>
    </div>
    <div class="categoryicon">
      <%= icon_tag "tacker" %>
    </div>
  </div>

  <div class="cardBoxContent">
    <h3 class="sidebar">Deine Auswahl</h3>

    <ul class="pricing-summary -facts">
      <li>
        <div class="duration">Miete:</div>
        <div class="title">
          <%= l(@tool_rental.rent_from, format: :short) %> - <%= l(@tool_rental.rent_to, format: :short) %>
        </div>
      </li>
    </ul>

    <ul class="pricing-summary">
      <li>
        <div class="cost">
          <%= number_to_currency(@tool_rental.basic_price, unit: "€") %>
        </div>
        <div class="costname">
          <%= @tool_rental.days %> Tage x <%= number_to_currency(@tool_rental.daily_price, unit: "€") %>
          <%= render 'shared/questionmark', hint_id: "1", hint_message: 'Das ist der Tagespreis für die Anzahl der Tage die du den Toolteiler mieten möchtest.' %>
        </div>
      </li>
      <li>
        <div class="cost">
          <%= number_to_currency(-@tool_rental.discount, unit: "€") %>
        </div>
        <div class="costname">
          Rabatt <%= @tool_rental.days %> Tage
          <% if @tool_rental.tool_offer.two_day_discount? && @tool_rental.tool_offer.weekly_discount? %>
            <%= render 'shared/questionmark', hint_id: "2", hint_message: "Dieser Toolteiler hat #{@tool_rental.tool_offer.two_day_discount}% Rabatt ab einer Miete von 2 Tagen und #{@tool_rental.tool_offer.weekly_discount}% ab einer Miete von einer Woche." %>
          <% elsif @tool_rental.tool_offer.two_day_discount? %>
            <%= render 'shared/questionmark', hint_id: "2", hint_message: "Dieser Toolteiler hat #{@tool_rental.tool_offer.two_day_discount}% Rabatt ab einer Miete von 2 Tagen." %>
          <% elsif @tool_rental.tool_offer.weekly_discount? %>
            <%= render 'shared/questionmark', hint_id: "2", hint_message: "Dieser Toolteiler hat #{@tool_rental.tool_offer.weekly_discount}% Rabatt ab einer Miete von einer Woche." %>
          <% else %>
            <%= render 'shared/questionmark', hint_id: "2", hint_message: "Dieser Toolteiler hat keinen Tages oder Wochenrabatt." %>
          <% end %>
        </div>
      </li>
      <li>
        <div class="cost">
          <%= number_to_currency(@tool_rental.total_fee, unit: "€") %>
        </div>
        <div class="costname">
          Servicegebühr
          <%= render 'shared/questionmark',hint_id: "3" ,hint_message: 'Beinhaltet die imGrätzl Servicegebühr (inkl. Mwst).' %>
        </div>
      </li>
      <li class="sum">
        <div class="cost"><%= number_to_currency(@tool_rental.total_price, unit: "€") %></div>
        <div class="costname">Gesamtpreis</div>
      </li>
      <% if @tool_rental.tool_offer.deposit? %>
      <li class="deposit">
        <div class="cost"><%= number_to_currency(@tool_rental.tool_offer.deposit, unit: "€") %></div>
        <div class="costname">
          Bargeld Kaution bei Übergabe.
          <%= render 'shared/questionmark',hint_id: "4" ,hint_message: 'Bitte in bar zur Übergabe mitnehmen. Du bekommst den Betrag nach Rückgabe wieder zurück.' %>
        </div>
      </li>
      <% end %>
    </ul>

  </div>
</div>
