<div class="summary" id="tab-summary">

  <div class="hl-subtext">
    <h1>Tool anfragen</h1>
    <p>
      Deine Auswahl
    </p>
  </div>

  <div class="summarybox">
    <div>
      <p>
        <strong>„<%= @tool_offer.title %>“</strong>
      </p>
    </div>
    <div class="avatar">
      <%= avatar_for @tool_offer.user %>
    </div>
    <div>
      <p>
        <strong>Vermieter</strong><br>
        <%= @tool_offer.address.street %><br>
        <%= @tool_offer.user.full_name %><br>
        <%= @tool_offer.address.zip %> <%= @tool_offer.address.city %>
      </p>
    </div>
  </div>

  <div class="summarybox">
    <div class="line"></div>
    <div class="avatar">
      <%= icon_tag "tacker" %>
    </div>
    <div class="line"></div>
  </div>

  <div class="summarybox">
    <div class="payment-summary">
      <p>
        <strong>Zahlungsart</strong><br>
        <span class="payment-method block">
          <%= payment_method_label(params[:payment_method]) %> <br>
          <% if @card %> endet auf <%= @card.last4 %> <span class="card-last4"></span> <% end %>
        </span>
        <%= link_to "ändern", choose_payment_tool_rentals_url(tool_rental_params) %>
      </p>
    </div>

    <div class="avatar">
      <%= avatar_for current_user %>
    </div>
    <div class="renter-summary">
      <p>
        <strong>Mieter</strong><br>
        <span class="renter-company block"><%= params[:renter_company] %></span>
        <span class="renter-name block"><%= params[:renter_name] %></span>
        <span class="renter-address block"><%= params[:renter_address] %></span>
        <span class="renter-zip"><%= params[:renter_zip] %></span> <span class="renter-city"><%= params[:renter_city] %></span>
      </p>
    </div>
  </div>

  <%= form_tag tool_rentals_path, html: { class: 'rental-form' } do |f| %>
    <%= hidden_field_tag :tool_offer_id, params[:tool_offer_id] %>
    <%= hidden_field_tag :rent_from, params[:rent_from] %>
    <%= hidden_field_tag :rent_to, params[:rent_to] %>
    <%= hidden_field_tag :renter_company, params[:renter_company] %>
    <%= hidden_field_tag :renter_name, params[:renter_name] %>
    <%= hidden_field_tag :renter_address, params[:renter_address] %>
    <%= hidden_field_tag :renter_zip, params[:renter_zip] %>
    <%= hidden_field_tag :renter_city, params[:renter_city] %>
    <%= hidden_field_tag :payment_method, params[:payment_method] %>
    <%= hidden_field_tag :stripe_payment_intent_id, params[:stripe_payment_intent_id] %>
    <%= hidden_field_tag :stripe_source_id, params[:stripe_source_id] %>

    <%= submit_tag "Weiter", class: 'btn-primary submit-form' %>
  <% end %>

</div>
