<% content_for(:above_title, "Hallo #{@subscription.user.first_name}") %>
<% content_for(:title, "Herzlichen Dank für deine #{t("region.#{@subscription.region_id}.domain_short")} Fördermitgliedschaft! Du ermöglichst damit den Betrieb von #{t("region.#{@subscription.region_id}.domain_full")}") %>

<!-- --------------- BLOCK HEADLINE --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
   <tr>
     <td style="height:30px"> </td>
   </tr>
   <tr>
     <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
       <h4 style="text-align:left; color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic;">
         Deine Fördermitgliedschaft:
       </h4>
     </td>
   </tr>
   <tr>
     <td style="padding-left:9px; padding-right:9px;">
       <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td>
             <span></span>
           </td>
         </tr>
       </table>
     </td>
   </tr>
</table>

<!-- CONTENT-Table -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td class="mcnTextContent" style="padding-left:18px; padding-right:18px;">

      <p>
        Eingeloggt auf <%= t("region.#{@subscription.region_id}.domain_full") %> unter dem Menüpunkt <%= link_to 'Fördermitgliedschaft', subscription_user_url(host: @subscription.region.host), style: "color:#f48a85;" %> findest du alle Infos zu deiner Mitgliedschaft.
      </p>

      <% if @subscription&.zuckerl_included? %>
      <p>
        Gutgeschriebene Zuckerl kannst du ganz einfach im <%= link_to 'Zuckerl erstellen', new_zuckerl_url(host: @subscription.region.host), style: "color:#f48a85;" %> Prozess einlösen.
      </p>
      <% end %>

      <p>
        <strong>Deine Fördermitglidschaft wird <%= @subscription.subscription_plan.interval == 'month' ? 'monatlich' : 'jährlich' %> verlängert,
        die Verlängerung ist jederzeit kündbar, indem du auf stornieren klickst.</strong> (Eingeloggt unter <%= link_to 'Fördermitgliedschaft verwalten', subscription_user_url(host: @subscription.region.host), style: "color:#f48a85;" %>).
      </p>

      <p>
        Herzliche Grüße,<br>
        Dein Team von <%= t("region.#{@subscription.region_id}.domain_full") %>
      </p>

      <%= render 'mailers/shared/button', title: "Deine Fördermitgliedschaft", url: subscription_user_url(host: @subscription.region.host) %>
    </td>
  </tr>
</table>
<!-- /CONTENT-Table -->
