<% content_for(:above_title, "Hallo #{@subscription.user.first_name}") %>
<% content_for(:title, "Deine #{t("region.#{@subscription.region_id}.domain_short")} Fördermitgliedschaft wurde bezahlt.") %>

<!-- --------------- BLOCK HEADLINE --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
   <tr>
     <td style="height:30px"> </td>
   </tr>
   <tr>
     <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
       <h4 style="text-align:left; color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic;">
         Deine Rechnung
       </h4>
     </td>
   </tr>
   <tr>
     <td style="padding-left:9px; padding-right:9px;">
       <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td>
             <span></span>
           </td>
         </tr>
       </table>
     </td>
   </tr>
</table>

<!-- CONTENT-Table -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td class="mcnTextContent" style="padding-left:18px; padding-right:18px;">

      <p>
        Herzlichen Dank für deine Unterstützung <%= @subscription.user.first_name %>!<br>
        Die Zahlung deiner Fördermitgliedschaft wurde erfolgreich durchgeführt und du kannst deine <%= link_to 'Rechnung hier downloaden', @subscription.subscription_invoices.order(created_at: :desc).first.invoice_pdf, style: "color:#f48a85;" %>.
      </p>
      <p>
        <em>Aktuelle Perioode deiner Mitgliedchaft: <%= I18n.localize(@subscription.current_period_start, format:'%d.%m.%Y') %> bis <%= I18n.localize(@subscription.current_period_end, format:'%d.%m.%Y') %></em>
      </p>
      <p>
        Alle Infos zu deiner Mitgliedschaft findets du eingeloggt auf <%= t("region.#{@subscription.region_id}.domain_full") %> unter dem Menüpunkt <%= link_to 'Fördermitgliedschaft', subscription_user_url(host: @subscription.region.host), style: "color:#f48a85;" %>.
      </p>

      <p>
        Herzliche Grüße,<br>
        Dein Team von <%= t("region.#{@subscription.region_id}.domain_full") %>
      </p>

      <%= render 'mailers/shared/button', title: "Rechnung downloaden", url: @subscription.subscription_invoices.order(created_at: :desc).first.invoice_pdf %>
    </td>
  </tr>
</table>
<!-- /CONTENT-Table -->
