<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <p>
          Servus <%= @user.first_name %>,
        </p>
        <p>
          Vielen herzlichen Dank, dass du <%= t("region.#{@subscription.region_id}.domain_short") %> mit einer Fördermitgliedschaft unterstützt! 
        </p>
        <p>
          Es ist wieder ein <%= @subscription.subscription_plan.interval == 'month' ? 'Monat' : 'Jahr' %> vergangen, ein <%= @subscription.subscription_plan.interval == 'month' ? 'Monat' : 'Jahr' %> in dem wir Dank deiner Unterstützung <%= t("region.#{@subscription.region_id}.domain_short") %> weiter betreiben konnten.
          Deine Fördermitgliedschaft verlängert sich am <%= I18n.localize(@period_start, format:'%d. %B %Y') %> um ein weiteres <%= @subscription.subscription_plan.interval == 'month' ? 'Monat' : 'Jahr' %>. Der Förderbeitrag von <%= number_to_currency(@amount, unit: "€") %> wird von deiner hinterlegten Zahlungsmethode eingezogen.
        </p>
      </td>
    </tr>
    <tr>
      <td>
      <%= render 'mailers/shared/button', title: "Fördermitgliedschaft verwalten", url: subscription_user_url %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <p>
          Bei Fragen kannst du dich gerne an uns wenden. Schreib uns an: <%= t("region.#{@subscription.region.id}.contact_email") %>.
        </p>
        <p>
          Herzlichn Dank,<br>
          Dein Team von <%= t("region.#{@subscription.region_id}.domain_full") %>
        </p>
      </td>
    </tr>
  </tbody>
</table>
