<%= render 'mailers/notification_mailer/summary/block_header', title: "Crowdfunding Call Winter 2023/2024" %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" width="100%" style="padding-left:18px; padding-right:18px; padding-bottom:18px;">

        <%= link_to start_crowd_campaigns_url, target:'_blank' do %>
          <%= image_tag 'mailings/crowdfunding-call.jpg', style: "width:264px; min-width:264px; float:left; margin-right:18px; margin-bottom:18px; margin-top:10px;", class: "mcnImage" %>
        <% end %>

        <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;">
          <tr>
            <td>
              <p>
                <strong>Setze dein Vorhaben mit Begleitung und jede Menge <%= t("region.#{@region.id}.domain_short") %> Sichtbarkeit um!</strong>
                <br>
                Es stehen drei Plätze zur Verfügung. Die Anmeldung ist bis zum 10. Januar 2024 möglich.
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
    <tr>
      <td><%= render 'mailers/shared/button', title: "Mach mit beim Call", url: start_crowd_campaigns_url, style: "width:100%;" %></td>
    </tr>
  </tbody>
</table>
