<!-- Insert on 2. Position -->
<%= render 'featured/crowd_campaign', crowd_campaign: CrowdCampaign.find(95) if @region.id == 'wien' && @period == 'weekly' && current_position == 2 %>
<!-- Insert on 2. Position -->

<%= render 'summary/block_header', title: "Volle Wir-Kraft für Olivia!" %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" width="100%" style="padding-left:18px; padding-right:18px; padding-bottom:18px;">
        <%= link_to 'https://graz.welocally.at/crowdfunding/der-erste-weihnachts-fempop-up-store-offnet-im-advent-in-graz-seine-turen', target: "_blank" do %>
          <%= cover_photo_image crowd_campaign, size: :small, style: "border-radius: 10px; width:264px; min-width:264px; float:left; margin-right:18px; margin-top:10px; margin-bottom:10px;", class: "mcnImage" %>
        <% end %>

        <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;">
          <tr>
            <td>
              <p style="margin-top:12px;">
                Oliva möchte den ersten <strong>Fem-Pop-up Weihnachtsmarkt</strong> mit regionalen Produzent*innen in Graz organisieren.
              </p>
              <p>
                Es braucht jetzt noch eure Grätzlmagie, damit es klappt.
              </p>
              <p>
                <strong>Gerne <%= link_to 'hier unterstützen', 'https://graz.welocally.at/crowdfunding/der-erste-weihnachts-fempop-up-store-offnet-im-advent-in-graz-seine-turen', target: "_blank", style: "color:#ec776a; font-weight:bold;" %></strong>.
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </tbody>
</table>
