<%= render 'summary/block_header', title: "Bitte stimme für unsere Idee weLocally!" %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" width="100%" style="padding-left:18px; padding-right:18px; padding-bottom:18px;">

        <%= link_to 'https://blog.imgraetzl.at/allgemein/voting-fuer-crowdfunding-auf-imgraetzl-welocally/', target:'_blank' do %>
          <%= image_tag 'https://blog.imgraetzl.at/wp-content/uploads/2021/04/birne.png', style: "width:264px; min-width:264px; float:left; margin-right:18px; margin-bottom:18px;", class: "mcnImage" %>
        <% end %>

        <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;">
          <tr>
            <td>
              <p>Wir haben unsere Idee für "Arbeits- und Begegnungsräume am Land" eingereicht und jetzt sind wir mit "<strong>weLocally</strong>" beim Publikumsvoting dabei. Bitte gebt weLocally mit nur einem Klick eure Stimme! Mehr Infos zu unserer Idee gibts auch auf unserem <%= link_to 'Blog', 'https://blog.imgraetzl.at/allgemein/voting-fuer-crowdfunding-auf-imgraetzl-welocally/', target: '_blank' %>.</p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
    <tr>
      <td><%= render 'mailers/shared/button', title: "Jetzt gleich hier abstimmen", url: "https://www.ffg.at/voting-arbeits-und-begegnungsraume-am-land", style: "width:100%;" %></td>
    </tr>
  </tbody>
</table>
