<%= render 'summary/block_header', title: "Danke an alle #{@region.is?('wien') ? 'imGrätzl' : 'WeLocally'} Förder*innen!" %>

<table border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer">
    <tr>
      <td class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:18px; padding-right:18px;">
        <strong><%= @region.is?('wien') ? 'imGrätzl' : 'WeLocally & imGrätzl' %> ist mittlerweile zu groß, als dass wir alles alleine stemmen können.</strong>
        Euer Beitrag hilft, die Rechnungen für Server, die Versicherung und die anderen notwendigen Tools zu bezahlen.
        <strong><%= link_to 'Unterstütze jetzt', subscription_plans_url, target: '_blank', style: 'color:#ec776a; font-weight: bold;' %> und hol dir eine Fördermitgliedschaft.</strong>
      </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" align="center" class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-right:18px; padding-bottom:18px; text-align:center; display: flex; flex-wrap: wrap; justify-content:center;">

        <%= render partial: 'featured/subscriber', collection: Subscription.in(@region).active.paid.sample(6), as: :subscription %>

      </td>
    </tr>
  </tbody>
</table>


<table border="0" cellpadding="0" cellspacing="0" style="width:100%; box-sizing: border-box; margin-bottom:20px;" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" align="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px; padding-top:0; text-align:center;">
        <strong><%= Subscription.in(@region).active.count %></strong> Menschen unterstützen <%= @region.is?('wien') ? 'imGrätzl' : 'WeLocally' %> bereits mit einer Fördermitgliedschaft.
        <br><strong>Unser nächstes Ziel: <%= @region.subscription_goal %> Förder*innen.</strong>
      </td>
    </tr>
  </tbody>
</table>

<%= render 'mailers/shared/button', title: "Zur Fördermitgliedschaft", url: subscription_plans_url, style: "width:100%;" %>
