<%= render 'summary/block_header', title: "Uns gibt's nur durch eure Unterstützung!" %>

<table border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer">
    <tr>
      <td class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:18px; padding-right:18px;">
        <strong>Damit wir <%= t("region.#{@region.id}.domain_short") %> weiterhin für euch <%= t("region.#{@region.id}.in_your_region") %> zur Verfügung stellen können, sind wir auf jeden Euro angewiesen.</strong>
        Wir sind der Überzeugung, dass so eine gemeinwohlorientierte lokale Plattform mit dem Raumteiler und all 
        den anderen Services für alle zugänglich sein muss, weshalb wir keine Paywalls haben.
        Euer Beitrag unterstützt nicht nur das <%= t("region.#{@region.id}.domain_short") %> Team, sondern auch alle anderen lokalen Macher*innen. 
        <strong><%= link_to 'Werde jetzt Fördermitglied', subscription_plans_url, target: '_blank', style: 'color:#ec776a; font-weight:bold;' %>.</strong>
      </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" align="center" class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-right:18px; padding-bottom:18px; text-align:center; display: flex; flex-wrap: wrap; justify-content:center;">

        <%= render partial: 'featured/subscriber', collection: Subscription.in(@region).active.sample(6), as: :subscription %>

      </td>
    </tr>
  </tbody>
</table>


<table border="0" cellpadding="0" cellspacing="0" style="width:100%; box-sizing: border-box; margin-bottom:20px;" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" align="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px; padding-top:0; text-align:center;">
        <strong><%= Subscription.in(@region).active.count %></strong> Menschen unterstützen <%= @region.is?('wien') ? 'imGrätzl' : 'WeLocally' %> bereits mit einer Fördermitgliedschaft.
        <br><strong>Unser nächstes Ziel: <%= @region.subscription_goal %> Förder*innen.</strong>
      </td>
    </tr>
  </tbody>
</table>

<%= render 'mailers/shared/button', title: "Zur Fördermitgliedschaft", url: subscription_plans_url, style: "width:100%;" %>
