<%= f.fields_for :address do |address_fields| %>

    <p class="txt">Wie <span>findet</span> man dich</p>

    <div class="input-field">
      <%= address_fields.label :street_name do %>
          <span>Straße</span>
      <% end %>
      <%= address_fields.text_field :street_name %>
    </div>

    <div class="input-field">
      <%= address_fields.label :street_number do %>
          <span>Hausnummer</span>
      <% end %>
      <%= address_fields.text_field :street_number %>
    </div>

    <div class="input-field">
      <%= address_fields.label :zip do %>
          <span>Postleitzahl</span>
      <% end %>
      <%= address_fields.text_field :zip %>
    </div>

    <div class="input-field">
      <%= address_fields.label :city do %>
          <span>Ort</span>
      <% end %>
      <%= address_fields.text_field :city %>
    </div>

    <%= address_fields.hidden_field :_destroy %>
    <%= link_to 'Adresse entfernen', '#', class: 'remove_address_fields btn-secondary -grey'%>

<% end %>
