<%= f.fields_for :contact do |contact_fields| %>
  <div class="form-block">
    <p class="txt">So kann man dich <span>erreichen</span></p>

    <div class="input-field">
      <%= contact_fields.label :website do %>
          <%= icon_tag "globe" %>
          <span><%= Contact.human_attribute_name(:website) %></span>
      <% end %>
      <%= contact_fields.url_field :website, placeholder: 'http:// oder https://' %><em></em>
    </div>

    <div class="input-field">
      <%= contact_fields.label :email do %>
        <%= icon_tag "at-symbol" %>
        <span><%= Contact.human_attribute_name(:email) %></span>
      <% end %>
      <%= contact_fields.email_field :email, placeholder: 'E-Mail' %>
    </div>

    <div class="input-field">
      <%= contact_fields.label :phone do %>
        <%= icon_tag "phone" %>
        <span><%= Contact.human_attribute_name(:phone) %></span>
      <% end %>
      <%= contact_fields.telephone_field :phone, placeholder: '+43 xxx xxxxxxx' %>
    </div>

    <div class="input-textarea">
      <%= contact_fields.label :hours do %>
        <%= icon_tag "time-clock" %>
        <span><%= Contact.human_attribute_name(:hours) %></span>
      <% end %>
      <%= contact_fields.text_area :hours, placeholder: 'Wann bist du vor Ort anzutreffen' %>
    </div>
  </div>
<% end %>
