<%= f.fields_for :contact do |contact_fields| %>
  <div class="form-block">
    <p class="txt">So kann man dich <span>erreichen</span></p>

    <div class="input-field">
      <%= contact_fields.label :website do %>
          <svg class="icon-globe"><use xlink:href="#icon-globe"></use></svg>
          <span>Website</span>
      <% end %>
      <%= contact_fields.url_field :website, placeholder: 'http://www.' %>
    </div>

    <div class="input-field">
      <%= contact_fields.label :email do %>
          <svg class="icon-at-symbol"><use xlink:href="#icon-at-symbol"></use></svg>
          <span>Email</span>
      <% end %>
      <%= contact_fields.email_field :email, placeholder: 'E-Mail' %>
    </div>

    <div class="input-field">
      <%= contact_fields.label :phone do %>
          <svg class="icon-phone"><use xlink:href="#icon-phone"></use></svg>
          <span>Telefon</span>
      <% end %>
      <%= contact_fields.telephone_field :phone, placeholder: '+43 xxx xxxxxxx' %>
    </div>
  </div>
<% end %>