<%= form_for(@location) do |f| %>
    <%= f.hidden_field :graetzl_id %>

    <% if @location.errors.any? %>
        <div id="error_explanation">
          <h2>Location konnte nicht erstellt werden: <%= @location.errors.count %> Fehler.</h2>
          <ul>
            <% @location.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-register">

      <div class="user-personal">
        <p class="txt">Basic Info</p>

        <div class="input-field">
          <%= f.label :name do %>
              <svg class="icon-home"><use xlink:href="#icon-home"></use></svg>
              <span>Name</span>
          <% end %>
          <%= f.text_field :name, placeholder: 'Benenne deine Tätigkeit' %>
        </div>

        <div class="input-field">
          <%= f.label :slogan do %>
              <svg class="icon-quotes"><use xlink:href="#icon-quotes"></use></svg>
              <span>Slogan</span>
          <% end %>
          <%= f.text_field :slogan, placeholder: 'Kurzer Slogan bzw. Beschreibung' %>
        </div>

        <div class="input-textarea">
          <%= f.label :description do %>
              <svg class="icon-layout-document"><use xlink:href="#icon-layout-document"></use></svg>
              <span>Beschreibung</span>
          <% end %>
          <%= f.text_area :description, placeholder: 'Hier kannst du etwas mehr sagen' %>
        </div>
      </div>

      <div class="upload-oldschool">
        <%= f.label :cover_photo do %>
            <svg class="icon-photo-camera"><use xlink:href="#icon-photo-camera"></use></svg>
            <span>Coverphoto</span>
        <% end %>
        <div class="field-wrp">
          <% if f.object.cover_photo %>
              <div class="preview-wrp">
                <%= image_tag attachment_url(f.object, :cover_photo, :fill, 159, 60) %>
                <div class="input-checkbox">
                  <%= f.check_box :remove_cover_photo, { class: 'deleteCheckbox' } %>
                  <%= f.label :remove_cover_photo, 'Löschen' %>
                </div>
              </div>
          <% end %>
          <%= f.attachment_field :cover_photo, direct: true, presigned: true %>
        </div>
      </div>

      <div class="upload-oldschool">
        <%= f.label :avatar do %>
            <svg class="icon-photo-camera"><use xlink:href="#icon-photo-camera"></use></svg>
            <span>Profilbild</span>
        <% end %>
        <div class="field-wrp">
          <% if f.object.avatar %>
              <div class="preview-wrp">
                <%= image_tag attachment_url(f.object, :avatar, :fill, 100, 100), class: 'img-round' %>
                <div class="input-checkbox">
                  <%= f.check_box :remove_avatar, { class: 'deleteCheckbox' } %>
                  <%= f.label :remove_avatar, 'Löschen' %>
                </div>
              </div>
          <% end %>
          <%= f.attachment_field :avatar, direct: true, presigned: true %>
        </div>
      </div>

      <%= f.fields_for :contact do |contact_fields| %>
          <div class="user-personal">
            <p class="txt">Kontakt</p>

            <div class="input-field">
              <%= contact_fields.label :website do %>
                  <svg class="icon-globe"><use xlink:href="#icon-globe"></use></svg>
                  <span>Website</span>
              <% end %>
              <%= contact_fields.url_field :website, placeholder: 'http://www.' %>
            </div>

            <div class="input-field">
              <%= contact_fields.label :email do %>
                  <svg class="icon-at-symbol"><use xlink:href="#icon-at-symbol"></use></svg>
                  <span>Email</span>
              <% end %>
              <%= contact_fields.email_field :email, placeholder: 'E-Mail' %>
            </div>

            <div class="input-field">
              <%= contact_fields.label :phone do %>
                  <svg class="icon-phone"><use xlink:href="#icon-phone"></use></svg>
                  <span>Telefon</span>
              <% end %>
              <%= contact_fields.telephone_field :phone, placeholder: '+43 xxx xxxxxxx' %>
            </div>
          </div>
      <% end %>

      <%= f.fields_for :address do |address_fields| %>
          <div class="user-personal">
            <p class="txt">Adresse</p>

            <div class="input-field">
              <%= address_fields.label :street_name do %>
                  <span>Straße</span>
              <% end %>
              <%= address_fields.text_field :street_name %>
            </div>

            <div class="input-field">
              <%= address_fields.label :street_number do %>
                  <span>Hausnummer</span>
              <% end %>
              <%= address_fields.text_field :street_number %>
            </div>

            <div class="input-field">
              <%= address_fields.label :zip do %>
                  <span>Postleitzahl</span>
              <% end %>
              <%= address_fields.text_field :zip, readonly: true %>
            </div>

            <div class="input-field">
              <%= address_fields.label :city do %>
                  <span>Ort</span>
              <% end %>
              <%= address_fields.text_field :city, readonly: true %>
            </div>

            <div class="field">
              <%= address_fields.hidden_field :coordinates %>
            </div>
          </div>
      <% end %>

      <%= f.button "Location #{edit_status(@location)}", class: 'btn-primary' %>
    </div>

<% end %>
