<%= form_for(@location) do |f| %>
    <%= f.hidden_field :graetzl_id %>

    <% if @location.errors.any? %>
      <div id="error_explanation">
        <h2>Location konnte nicht erstellt werden: <%= @location.errors.count %> Fehler.</h2>
        <ul>
          <% @location.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-register">

      <div class="user-personal">
        <p class="txt">Basic Info</p>

        <div class="input-field">
          <%= f.label :name do %>
              <svg class="icon-home"><use xlink:href="#icon-home"></use></svg>
              <span>Name</span>
          <% end %>
          <%= f.text_field :name, placeholder: 'Benenne deine Tätigkeit' %>
        </div>

        <div class="input-select">
          <%= f.label :location_type do %>
              <svg class="icon-home"><use xlink:href="#icon-home"></use></svg>
              <span>Um was gehts</span>
          <% end %>
          <%= f.select :location_type, options_for_select(Location.location_types_for_select) %>
        </div>

        <div class="input-field">
          <%= f.label :slogan do %>
              <svg class="icon-quotes"><use xlink:href="#icon-quotes"></use></svg>
              <span>Slogan</span>
          <% end %>
          <%= f.text_field :slogan, placeholder: 'Kurzer Slogan bzw. Beschreibung' %>
        </div>

        <div class="input-textarea">
          <%= f.label :description do %>
              <svg class="icon-layout-document"><use xlink:href="#icon-layout-document"></use></svg>
              <span>Beschreibung</span>
          <% end %>
          <%= f.text_area :description, placeholder: 'Hier kannst du etwas mehr sagen' %>
        </div>
      </div>

      <div class="upload-oldschool">
        <%= f.label :cover_photo do %>
            <svg class="icon-photo-camera"><use xlink:href="#icon-photo-camera"></use></svg>
            <span>Coverphoto</span>
        <% end %>
        <div class="field-wrp">
          <% if f.object.cover_photo %>
              <div class="preview-wrp">
                <%= image_tag attachment_url(f.object, :cover_photo, :fill, 159, 60) %>
                <div class="input-checkbox">
                  <%= f.check_box :remove_cover_photo, { class: 'deleteCheckbox' } %>
                  <%= f.label :remove_cover_photo, 'Löschen' %>
                </div>
              </div>
          <% end %>
          <%= f.attachment_field :cover_photo, direct: true, presigned: true %>
        </div>
      </div>

      <div class="upload-oldschool">
        <%= f.label :avatar do %>
            <svg class="icon-photo-camera"><use xlink:href="#icon-photo-camera"></use></svg>
            <span>Profilbild</span>
        <% end %>
        <div class="field-wrp">
          <% if f.object.avatar %>
              <div class="preview-wrp">
                <%= image_tag attachment_url(f.object, :avatar, :fill, 100, 100), class: 'img-round' %>
                <div class="input-checkbox">
                  <%= f.check_box :remove_avatar, { class: 'deleteCheckbox' } %>
                  <%= f.label :remove_avatar, 'Löschen' %>
                </div>
              </div>
          <% end %>
          <%= f.attachment_field :avatar, direct: true, presigned: true %>
        </div>
      </div>

      <%= render 'contact_fields', f: f %>

      <%= f.object.address ? render('address_fields', f: f) : link_to_add_address_fields('Addresse hinzufügen', f) %>

      <div class="user-personal">
        <p class="txt">Weitere Infos</p>
        <div class="input-checkbox">
          <%= f.check_box :allow_meetings %>
          <%= f.label :allow_meetings, 'Treffen hier möglich' %>
        </div>
      </div>

      <%= f.button "Location #{edit_status(@location)}",
                    data: { disable_with: 'speichert...' },
                    class: 'btn-primary' %>
    </div>

<% end %>
