<div class="cardBox">
  <div class="cardBoxHeader">
    <%= link_to [location.graetzl, location] do %>
      <%= cover_photo_for(location) %>
    <% end %>
    <div class="locationAvatar">
      <% if location.address && location.address.coordinates %>
        <%= image_tag static_map_url(location.address.coordinates), class: 'locationMap' %>
      <% end %>
      <%= avatar_for(location, fill: [85, 85]) %>
    </div>
  </div>
  <h3><%= location.name %></h3>
  <div class="txt"><%= truncate(location.description, length: 100) %></div>
  <%= link_to 'Location ansehen', [location.graetzl, location], class: 'btn-primary -mint' %>
</div>