<div class="cardBox -location" data-behavior="masonry-card">
  <div class="cardBoxHeader">
    <%= link_to [location.graetzl, location] do %>
      <div class="coverImgWrapper">
        <%= cover_photo_for location %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "location" %>
    </div>
    <%= graetzl_flag(location.graetzl) %>
  </div>

  <div class="cardBoxContent">
    <div class="location-shortfacts">
      <%= link_to [location.graetzl, location], class: 'locationlogo' do %>
        <%= avatar_for location %>
      <% end %>
      <div class="locationtxt">
        <%= link_to [location.graetzl, location] do %>
          <div class="name"><%= location.name %></div>
        <% end %>
        <div class="category"><%= location.category.name %></div>
        <% if location.address %>
          <div class="address">
            <%= icon_tag "location" %>
            <%= "#{location.address.street_name} #{location.address.street_number.split(%r{/}).first}" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="slogan"><%= location.slogan %></div>
    <div class="txt">
      <p><%= truncate location.description, length: 100 %></p>
    </div>

    <% if local_assigns[:appendix].present? %>
      <%= render 'activities/appendix', appendix: local_assigns[:appendix], parent: location %>
    <% end %>

    <% if location_post = location.posts.sort_by(&:created_at).last %>
      <%= link_to [location.graetzl, location, anchor: dom_id(location_post)], class: 'updateteaser' do %>
        <div class="hl">
          Letztes Update:
        </div>
        <div class="title">
          <%= location_post.title %>
        </div>
      <% end %>
    <% end %>

    <% if zuckerl = location.live_zuckerls.last %>
      <%= link_to [location.graetzl, location, anchor: dom_id(zuckerl)], class: 'zuckerlteasertxt' do %>
        <div class="hl">
          <%= icon_tag "shopping-bag" %>
          Grätzlzuckerl im <%= I18n.localize Time.now, format: '%B' %>
        </div>
        <div class="title"><%= zuckerl.title %></div>
      <% end %>
    <% end %>

    <% if meeting = location.upcoming_meetings.last %>
      <%= link_to [meeting.graetzl, meeting], class: 'event-teaser-box' do %>
        <% if meeting.starts_at_date %>
          <div class="date">
            <%= icon_tag "calendar-2" %>
            <%= I18n.localize(meeting.starts_at_date, format:'%d. %B %Y') %>
          </div>
        <% end %>
        <div class="title"><%= meeting.name %></div>
      <% end %>
    <% end %>
  </div>
</div>
