<div class="cardBox -location">
  <div class="cardBoxHeader">
    <%= cover_photo_for(location) %>
    <div class="location-shortfacts">

      <%= link_to [location.graetzl, location] do %>
          <%= avatar_for(location, fill: [200, 200], class: 'avatar-square') %>
          <div class="name"><%= location.name %></div>
      <% end %>

      <div class="category">Öffentlicher Raum</div>
      <div class="address"><svg class="icon-location"><use xlink:href="#icon-location"></use></svg>Morriatigasse 3</div>
    </div>
    <div class="sideflag -R"><a href="#">Stuwerviertel</a></div>
  </div>
  <div class="slogan">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  <div class="txt"><%= truncate(location.description, length: 100) %></div>
  <div class="event-teaser-box">
    <div class="date"><svg class="icon-calendar-2"><use xlink:href="#icon-calendar-2"></use></svg>12. August 2015</div>
    <a href="#" class="title">Bauernschnapsen im Wald</a>
  </div>
</div>
