<% graetzl = Graetzl.memoized(location.graetzl_id) %>

<div class="cardBox -location" data-behavior="masonry-card" data-card-id="location-<%= location.id %>">
  <div class="cardBoxHeader">
    <%= link_to [graetzl, location] do %>
      <div class="coverImgWrapper">
        <%= cover_photo_image(location, class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "#{location.verified? ? 'flash' : 'location'}", class: 'fav-exchange' %>
      <%= toggle_favorite_icon(location) if current_user %>
      <%= toggle_admin_icon(subject, notification) if local_assigns[:notification_admin] %>
    </div>
    <%= graetzl_flag(graetzl) %>
  </div>

  <div class="cardBoxContent">
    <div class="avatar-block">
      <%= link_to [graetzl, location], class: 'avatarImg' do %>
        <%= avatar_image(location, size: :small, class: 'img-square avatar show-badge') %>
      <% end %>
      <div class="typetxt">
        <%= link_to [graetzl, location] do %>
          <div class="name"><%= location.name %></div>
        <% end %>
        <div class="category"><%= location.location_category.name if location.location_category %></div>
        <% if location.using_address? %>
          <div class="address">
            <%= address_short(location) %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="slogan"><%= location.slogan %></div>
    <div class="txt">
      <p><%= truncate location.description, length: 100 %></p>
    </div>

    <% if location.goodie? %>
      <%= link_to [graetzl, location, target: 'goodie'], class: 'goodieteasertxt' do %>
        <div class="hl">
          <%= icon_tag "goodie" %>
          Goodie für Mitglieder
        </div>
        <% if user_signed_in? %>
          <div class="title"><%= truncate(location.goodie, length: 90) %></div>
        <% else %>
          <div>
            <em>Nur für eingeloggte Mitglieder sichtbar.</em>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if zuckerl = location.live_zuckerls.last %>
      <%= link_to [graetzl, location, anchor: dom_id(zuckerl)], class: 'zuckerlteasertxt' do %>
        <div class="hl">
          <%= icon_tag "shopping-bag" %>
          Aktuelles Zuckerl
        </div>
        <div class="title"><%= zuckerl.title %></div>
      <% end %>
    <% end %>

    <% if meeting = location.upcoming_meetings.last %>
      <%= link_to [graetzl, meeting], class: 'event-teaser-box' do %>
        <% if meeting.starts_at_date %>
          <div class="date">
            <%= icon_tag "calendar-2" %>
            <%= I18n.localize(meeting.starts_at_date, format:'%d. %B %Y') %>
          </div>
        <% end %>
        <div class="title"><%= meeting.name %></div>
      <% end %>
    <% end %>

    <% if location.created_at > 7.days.ago %>
      <%= link_to [graetzl, location, target: 'post-comment-form'], class: "basic-message-box" do %>
        <div class="hl"> Neu auf <%= t("region.#{location.region.id}.domain_short") %></div>
        <div class="title"> Sag gleich Hallo!</div>
      <% end %>
    <% end %>

    <% if actual_newest_post = actual_newest_post_for(location) %>
      <%= link_to [graetzl, location, target: dom_id(actual_newest_post)], class: 'updateteaser' do %>
        <div class="hl">
          Letztes Update:
        </div>
        <div class="title">
          <%= actual_newest_post.title %>
        </div>
      <% end %>
    <% end %>

    <% if local_assigns[:activity_comment] %>
      <%= render 'activities/comment', parent: location, comment_url: graetzl_location_path(graetzl, location, target: local_assigns[:activity_comment].target_url_params), comment: local_assigns[:activity_comment] %>
    <% end %>
  </div>
</div>
