<div class="meetingBlock">
  <div class="wrp-hl">
    <div class="bigicontext-element">
      <%= icon_tag('calendar-2') %>
      <div class="txt">Treffen & Termine</div>
    </div>

    <% if user_signed_in? && @location.can_create_meeting?(current_user) %>
      <%= link_to new_meeting_path(location_id: @location.id), class: 'btn-userCallToAction' do %>
      <span>
        <%= image_tag avatar_url(current_user, :thumb), class: 'img-round' %>
        Treffen hier starten
        <%= icon_tag('plus') %>
      </span>
      <% end %>
    <% end %>
  </div>

  <%= form_tag meetings_path(location_id: @location.id, per_page: 2), method: :get, remote: true, class: 'autosubmit-stream' do; end %>

  <div class="cardBoxCollection -double" data-behavior="meetings-card-container"></div>
  <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'meetings-paginate-link' }, rel: 'nofollow' %>
</div>
