<aside class="sideBar">
  <div class="action-container">
    <% if @location.editable_by? current_user %>
      <%= link_to edit_location_path(@location), class: 'icontxt' do %>
      <%= icon_tag "pencil" %> Location bearbeiten
      <% end %>
      <%= link_to new_location_zuckerl_path(@location), class: 'icontxt' do %>
        <%= icon_tag "shopping-bag" %> Grätzlzuckerl buchen
      <% end %>
    <% end %>
  </div>

  <%= render partial: 'locations/zuckerl', collection: zuckerls %>

  <div class="sideBarbox contact">
    <%= link_to content_tag(:h3, @graetzl.name, class: 'sideflag -L'), @graetzl %>

    <div class="iconlist">
      <% unless @location.users.empty? %>
        <% @location.users.each do |user| %>
          <%= link_to user, class: 'user-wrp', target: '_blank' do %>
            <%= avatar_for user %>
            <span class="name"><%= user.username %></span>
          <% end %>
        <% end %>
      <% end %>

      <% if @location.contact.website.present? %>
        <%= link_to @location.contact.website, class: 'icontxt', target: '_blank' do %>
          <%= icon_tag "globe" %>
          <span><%= @location.contact.website.sub(/^https?\:\/\//,'') %></span>
        <% end %>
      <% end %>
      <% if @location.contact.email.present? %>
        <%= mail_to @location.contact.email, class: 'icontxt' do %>
          <%= icon_tag "at-symbol" %>
          <span><%= @location.contact.email %></span>
        <% end %>
      <% end %>
      <% if @location.contact.phone.present? %>
        <%= link_to "tel:#{@location.contact.phone}", class: 'icontxt' do %>
          <%= icon_tag "mobile" %>
          <%= @location.contact.phone %>
        <% end %>
      <% end %>
      <% if @location.address %>
        <div class="address icontxt">
          <%= icon_tag "address-directions" %>
          <%= @location.address.street %><br>
          <%= "#{@location.address.zip} #{@location.address.city}" %>
        </div>
      <% end %>
    </div>
    <% if @location.address.try(:coordinates) %>
      <%= link_to google_map_url(@location.address), class: 'gmap' do %>
        <%= image_tag static_map_url(@location.address.coordinates, zoom: 16, size: [250,150]) %>
      <% end %>
    <% end %>
  </div>

  <% if @location.contact.hours.present? %>
    <div class="sideBarbox openinghours">
      <div class="bigicontext-element">
        <%= icon_tag "time-clock" %>
        <div class="txt">Öffnungszeiten</div>
      </div>
      <div class="txt"><%= @location.contact.hours %></div>
    </div>
  <% end %>

  <% if @room_offer %>
    <div class="sideBarbox roomoffer">
      <%= render partial: 'locations/room_offer', object: @room_offer %>
    </div>
  <% end %>

  <% if @room_demand %>
    <div class="sideBarbox roomdemand">
      <%= render partial: 'locations/room_demand', object: @room_demand %>
    </div>
  <% end %>
</aside>
