<aside class="sideBar">

  <div class="action-container">
    <a href="#" class="icontxt"><svg class="icon-pencil"><use xlink:href="#icon-pencil"></use></svg>Location bearbeiten</a>
    <a href="#" class="icontxt"><svg class="icon-shopping-bag"><use xlink:href="#icon-shopping-bag"></use></svg>Zuckerl einbuchen</a>
  </div>

  <div class="cardBox -zuckerl">
    <div class="cardBoxHeader">
      <a href="#">
        <img class="coverImg" src="https://placeimg.com/300/180/nature?7" alt="">
      </a>
      <div class="categoryicon">
        <svg class="icon-shopping-bag"><use xlink:href="#icon-shopping-bag"></use></svg>
      </div>
    </div>
    <div class="cardBoxContent">

      <a href="#" class="zuckerlteasertxt">
        <div class="title">-50% auf alle Käsesorten und Blunze gibt es gratis!</div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cum facilis quis.</div>
      </a>
    </div>
  </div>


  <div class="sideBarbox contact">
    <%= link_to content_tag(:h3, @graetzl.name, class: 'sideflag -L'), @graetzl %>

    <div class="iconlist">
      <% unless @location.users.empty? %>
        <% @location.users.each do |u| %>
          <%= link_to u, class: 'user-wrp', target: '_blank' do %>
            <%= avatar_for u %>
            <div class="name">Magdalena</div>
          <% end %>
        <% end %>
      <% end %>

      <% if @location.contact.website.present? %>
        <%= link_to @location.contact.website, class: 'icontxt', target: '_blank' do %>
          <svg class="icon-globe">
            <use xlink:href="#icon-globe"></use>
          </svg>
          <span><%= @location.contact.website.sub(/^https?\:\/\//,'') %></span>
        <% end %>
      <% end %>
      <% if @location.contact.email.present? %>
        <%= mail_to @location.contact.email, nil, encode: 'hex', class: 'icontxt' do %>
          <svg class="icon-at-symbol">
            <use xlink:href="#icon-at-symbol"></use>
          </svg>
          <%= @location.contact.email %>
        <% end %>
      <% end %>
      <% if @location.contact.phone.present? %>
        <%= link_to "tel:#{@location.contact.phone}", class: 'icontxt' do %>
          <svg class="icon-mobile">
            <use xlink:href="#icon-mobile"></use>
          </svg>
          <%= @location.contact.phone %>
        <% end %>
      <% end %>
      <% if @location.address %>
        <div class="address icontxt">
          <svg class="icon-address-directions"><use xlink:href="#icon-address-directions"></use></svg>
          <%= "#{@location.address.street_name} #{@location.address.street_number}" %><br>
          <%= "#{@location.address.zip} #{@location.address.city}" %>
        </div>
      <% end %>
    </div>
    <% if @location.address.coordinates %>
      <%= link_to google_map_url(@location.address), class: 'gmap' do %>
        <%= image_tag static_map_url(@location.address.coordinates, zoom: 16, size: [250,150]) %>
      <% end %>
    <% end %>
  </div>

  <% if @location.contact.hours.present? %>
    <div class="sideBarbox openinghours">
      <div class="bigicontext-element" href="/stuwerviertel/locations">
        <svg class="icon-time-clock"><use xlink:href="#icon-time-clock"></use></svg>
        <div class="txt">Öffnungszeiten</div>
      </div>
      <div class="txt"><%= @location.contact.hours %></div>
    </div>
  <% end %>

</aside>
