<aside class="sideBar">
  <% unless @location.users.empty? %>
    <div class="sideBarbox staff">
      <h4 class="sideflag -L">Betreiber</h4>
      <% @location.users.each do |u| %>
        <%= link_to(u){ avatar_for u, fill: [40, 40] } %>
      <% end %>
    </div>
  <% end %>

  <div class="sideBarbox contact">
    <h4 class="sideflag -L">Kontakt</h4>
    <% if @location.contact.website.present? %>
      <%= link_to @location.contact.website, class: 'icontxt', target: '_blank' do %>
        <svg class="icon-globe">
          <use xlink:href="#icon-globe"></use>
        </svg>
        <span><%= @location.contact.website.sub(/^https?\:\/\//,'') %></span>
      <% end %>
    <% end %>
    <% if @location.contact.email.present? %>
      <%= mail_to @location.contact.email, class: 'icontxt' do %>
        <svg class="icon-at-symbol">
          <use xlink:href="#icon-at-symbol"></use>
        </svg>
        <%= @location.contact.email %>
      <% end %>
    <% end %>
    <% if @location.contact.phone.present? %>
      <%= link_to "tel:#{@location.contact.phone}", class: 'icontxt' do %>
        <svg class="icon-mobile">
          <use xlink:href="#icon-mobile"></use>
        </svg>
        <%= @location.contact.phone %>
      <% end %>
    <% end %>
    <% if @location.address %>
      <div class="address">
        <%= "#{@location.address.street_name} #{@location.address.street_number}" %><br>
        <%= "#{@location.address.zip} #{@location.address.city}" %>
        <% if @location.address.coordinates %>
          <%= link_to google_map_url(@location.address) do %>
            <%= image_tag static_map_url(@location.address.coordinates, zoom: 16, size: [250,250]) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="sideBarbox openinghours">
    <h4 class="sideflag -L">Öffnungszeiten</h4>
    <div class="txt">
      MO-DO | 10:00-17:00
      FR | 10:00-13:00
      SA, SO | geschlossen</div>
  </div>

</aside>