<% if @location.owned_by?(current_user) && @location.can_create_menu? %>
  <div data-behavior="stream-form" class="stream-form">
    <div class="usage-period-switch">
      <div class="input-radio">
        <%= radio_button_tag :stream, 'post', true, :class => 'stream-switch' %>
        <%= label_tag :stream_post, "Neuigkeit" %>
      </div>
      <div class="input-radio">
        <%= radio_button_tag :stream, 'menu', false, :class => 'stream-switch' %>
        <%= label_tag :stream_menu, "Menüplan" %>
      </div>
    </div>
    <%= render 'locations/location_posts/post_form' %>
    <%= render 'locations/location_menus/menu_form' %>
  </div>
<% elsif @location.owned_by?(current_user) %>
  <div data-behavior="stream-form" class="stream-form">
    <%= render 'locations/location_posts/post_form' %>
  </div>
<% else %>
  <%= render 'comments/form', commentable: @location %>
<% end %>
