<div id="<%= dom_id(zuckerl) %>" class="zuckerl cardBox -zuckerl">
  <div class="cardBoxHeader">
    <div class="coverImgWrapper">
      <%= attachment_image_tag(zuckerl, :image, :fill, 300, 180, class: 'coverImg') %>
    </div>
    <div class="categoryicon">
      <%= icon_tag "shopping-bag" %>
    </div>
  </div>
  <div class="cardBoxContent">
    <div class="zuckerlteasertxt">
      <div class="title"><%= zuckerl.title %></div>
      <div class="description"><%= zuckerl.description %></div>
    </div>
  </div>
</div>
