<% title('Neue Location') %>

<section class="register-selectGraetzl">
  <h1>Wähle deine <span>Location</span></h1>
  <div class="txt">
    <p>
      Unter der Adresse gibt es bereits <%= @locations.size %> <%= 'Location'.pluralize(@locations.size) %>.<br>
      Wenn deine dabei ist kannst du sie einfach übernehmen.
    </p>
  </div>
  <table style="width:100%">
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= "#{location.address.street_name} #{location.address.street_number}" %></td>
        <td><%= link_to 'Übernehmen', edit_graetzl_location_path(@graetzl, location), class: 'btn-secondary' %></td>
      </tr>
    <% end %>
  </table>

  <h1>Nicht dabei?</h1>
  <div class="txt">
    <p>Dann leg eine neue an.</p>
  </div>
  <%= link_to 'Neue Location', new_graetzl_location_path(@graetzl), class: 'btn-primary' %>
</section>