<% title('Neue Location') %>

<section class="adoptLocation">
  <h1>Wähle deine <span>Location</span></h1>
  <p>
    Unter der Adresse <span><%= @address.street_name %> <%= @address.street_number %></span> gibt es bereits <span><%= @locations.size %> <%= 'Location'.pluralize(@locations.size) %></span>.<br>
    Wenn deine dabei ist kannst du sie einfach übernehmen.
  </p>

  <div class="suggestedlocations">
    <% @locations.each do |location| %>
        <div class="singlelocation">
          <span class="locationname"><%= location.name %></span>
          <span class="locationaddress"><%= "#{location.address.street_name} #{location.address.street_number}" %></span>
          <%= link_to 'Übernehmen', edit_location_path(location), class: 'btn-secondary -small' %>
        </div>
    <% end %>
  </div>
  <div class="newlocation">
    <span>Nicht dabei?</span>
    <%= link_to 'Leg eine neue Location an', new_location_path, class: 'btn-primary' %>
  </div>
</section>