<% if Rails.env.development? %>
  <%= debug @location %>
  <%= debug @location.contact %>
  <%= debug @location.address if @location.address %>
<% else %>

<% title("#{@location.name}") %>

<section class="locationPage">
  <div class="imgHeader -cloudy">
    <div class="titleHeadline">
      <div class="wrp">
        <%= link_to content_tag(:h3, @graetzl.name, class: 'district'), @graetzl %>
        <h1><%= @location.name %></h1>
        <h4 class="locationType"><%= @location.slogan %></h4>
      </div>
      <%= avatar_for(@location, fill: [432, 432], class: 'locationAvatar') %>
      <div class="card"></div>
    </div>
    <%= cover_photo_for(@location, fill: [980, 370], class: 'titleImg') %>
  </div>

  <div class="mainContent">
    <div class="introtxt">
      <h3><%= @location.slogan %></h3>
      <p><%= @location.description %></p>
    </div>
    <div class="meetingsBlock">
      <div class="wrp-hl">
        <h2>Treffen</h2>
        <% if user_signed_in? %>
          <%= link_to new_meeting_path(location_id: @location.id), class: "btn-userCallToAction" do %>
            <span>
              <%= avatar_for current_user %>
              Treffen hier starten
              <svg class="icon-plus">
                <use xlink:href="#icon-plus"></use>
              </svg>
            </span>
          <% end %>
        <% end %>
      </div>
      <div class="meetingBoxCollection -double">
        <%= render @meetings %>
      </div>
    </div>
  </div>
  <%= render 'sidebar' %>
</section>

<% end %>