<%
   meta({
                title: t('.title', name: @location.name, slogan: @location.slogan),
                description: t('.description', desc: @location.meta_description),
                robots: 'index, follow',
                og_title: t('.title', name: @location.name, slogan: @location.slogan),
                og_description: t('.description', desc: @location.meta_description),
                og_image: attachment_url(@location, :cover_photo, host: request.url, fallback: 'meta/og_logo.png')
        })
%>

<section class="locationPage">
  <div class="imgHeader -cloudy">
    <div class="titleHeadline">
      <div class="wrp">
        <%= link_to content_tag(:h3, @graetzl.name, class: 'district'), @graetzl %>
        <h1><%= @location.name %></h1>
        <h4 class="locationType"><%= @location.slogan %></h4>
      </div>
      <%= avatar_for(@location, fill: [432, 432], class: 'locationAvatar') %>
      <div class="card"></div>
    </div>
    <%= cover_photo_for(@location, fill: [980, 370], class: 'titleImg') %>
  </div>

  <div class="mainContent">
    <div class="introtxt">
      <h3><%= @location.slogan %></h3>
      <div class="txt"><%= @location.description %></div>
    </div>

    <% unless @location.non_meetable? %>
      <div class="meetingBlock">
        <div class="wrp-hl">
          <h2>Treffen</h2>
          <% if user_signed_in? && @location.show_meeting_button(current_user) %>
            <%= link_to new_meeting_path(location_id: @location.id), class: "btn-userCallToAction" do %>
            <span>
              <%= avatar_for current_user %>
              Treffen hier starten
              <svg class="icon-plus">
                <use xlink:href="#icon-plus"></use>
              </svg>
            </span>
            <% end %>
          <% end %>
        </div>

        <div class="tabs-ctrl">
          <ul class="tabs-nav">
            <li><a href="#tab-1"><%= @location.meetings.basic.upcoming.size %> geplante Treffen</a></li>
            <li><a href="#tab-2"><%= @location.meetings.basic.past.size %> vergangene Treffen</a></li>
          </ul>
          <div id="tab-1">
            <% if @meetings_upcoming.empty? %>
              <div class="defaultText">Im Moment sind noch keine Treffen geplant.</div>
            <% else %>
              <div id="meetings-upcoming" class="meetingBoxCollection -double" data-tabID="one">
                <%= render @meetings_upcoming %>
              </div>
              <%= view_more_link(@meetings_upcoming, params: { scope: :upcoming }) %>
            <% end %>
          </div>

          <div id="tab-2">
            <% if @meetings_past.empty? %>
              <div class="defaultText">Es wurden noch keine Treffen initiert.</div>
            <% else %>
              <div id="meetings-past" class="meetingBoxCollection -double" data-tabID="two">
                <%= render @meetings_past %>
              </div>
              <%= view_more_link(@meetings_past, params: { scope: :past }) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'sidebar' %>






</section>
