<%
   meta({
          title: t('.title', name: @location.name, slogan: @location.slogan),
          description: t('.description', desc: location_meta(@location)),
          robots: 'index, follow',
          og_title: t('.title', name: @location.name, slogan: @location.slogan),
          og_description: t('.description', desc: location_meta(@location)),
          og_image: attachment_url(@location, :cover_photo, host: request.url, fallback: 'meta/og_logo.png')
        })
%>

<section class="locationPage">
  <div class="imgHeader -cloudy2">
    <%= attachment_image_tag @location, :avatar, :fill, 200, 200, fallback: 'avatar/location/200x200.png', class: 'locationAvatar' %>
    <%= attachment_image_tag @location, :cover_photo, :fill, 980, 370, fallback: 'cover_photo/980x370.png', class: 'titleImg' %>
    <% if can? :crud, @location %>
      <div class="bigicontext-element createentry" data-behavior="createTrigger">
        <svg class="icon-dot-3"><use xlink:href="#icon-dot-3"></use></svg>
      </div>
      <!-- dropDown -->
      <div class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container createmenu" data-behavior="createContainer">
        <div class="jq-dropdown-panel">
          <%= link_to edit_location_path(@location) do %>
            <svg class="icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
            <div class="icontxt">Location bearbeiten</div>
          <% end %>
          <%= link_to new_location_zuckerl_path(@location) do %>
            <svg class="icon-shopping-bag"><use xlink:href="#icon-shopping-bag"></use></svg>
            <div class="icontxt">Zuckerl einbuchen</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mainContent">
    <div class="introtxt">
      <h1><%= @location.name %></h1>
      <h3><%= @location.slogan %></h3>
      <div class="txt"><%= @location.description %></div>
    </div>
    <div class="category-tags">
      <div class="bigicontext-element" href="/stuwerviertel/locations">
        <svg class="icon-painting-palette"><use xlink:href="#icon-painting-palette"></use></svg>
        <div class="txt"><%= @location.category.name %></div>
      </div>
      <% unless @location.products.empty? %>
        <ul class="tag-list">
          <% @location.product_list.each do |product| %>
            <li><%= product %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <%= render 'meetings' unless @location.non_meetable? %>
  </div>

  <%= render 'sidebar' %>

  <div class="stream" data-behavior="stream-container">
    <% if can? :crud, @location %>
      <h3>Neuigkeiten von <span><%= @location.name %></span></h3>
      <%= render 'location_posts/form', location: @location %>
     <% elsif !@posts.empty? %>
      <h3>Neuigkeiten von <span><%= @location.name %></span></h3>
    <% end %>
    <%= render partial: 'location_posts/stream_post', collection: @posts, as: 'post' %>
    <%= view_more_link @posts %>
  </div>
</section>
