<% meta(
    title: t('.title', name: @location.name, slogan: @location.slogan),
    description: t('.description', desc: location_meta(@location)),
    robots: 'index, follow',
    og_title: t('.title', name: @location.name, slogan: @location.slogan),
    og_description: t('.description', desc: location_meta(@location)),
    og_image: @location.cover_photo_url(:header, :large) || image_url('meta/og_logo.png')
  )
%>

<section class="location-page">

  <div class="imgHeader -cloudy2">
    <%= avatar_image @location, class: 'locationAvatar' %>
    <%= cover_header_image(@location, class: 'titleImg') %>
    <% if @location.owned_by?(current_user) %>
      <div class="bigicontext-element createentry" data-behavior="createTrigger">
        <%= icon_tag "dot-3" %>
      </div>
      <!-- dropDown -->
      <div class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container" data-behavior="createContainer">
        <div class="jq-dropdown-panel">
          <%= link_to edit_location_path(@location) do %>
            <%= icon_tag "pencil" %>
            <div class="icontxt">Location bearbeiten</div>
          <% end %>
          <%= link_to new_location_zuckerl_path(@location) do %>
            <%= icon_tag "shopping-bag" %>
            <div class="icontxt">Grätzlzuckerl buchen</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mainContent">
    <div class="introtxt">
      <h1><%= @location.name %></h1>
      <h2><%= @location.slogan %></h2>
      <div class="txt"><%= @location.description %></div>
    </div>
    <div class="category-tags">
      <% if @location.location_category.present? %>
        <div class="bigicontext-element">
          <%= location_category_icon @location.location_category %>
          <div class="txt"><%= link_to @location.location_category.name, locations_category_region_path(@location.location_category) %></div>
        </div>
      <% end %>
      <% if @location.products.present? %>
        <ul class="tag-list">
          <% @location.product_list.each do |product| %>
            <li><%= product %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <%= render 'locations/meetings' %>
  </div>

  <%= render 'locations/sidebar/index' %>
  <%= render 'locations/location_posts/index' if @posts.present? || @location.owned_by?(current_user) %>

</section>
