<% meta(
    title: t('.title', name: @location.name, slogan: @location.slogan),
    description: t('.description', desc: location_meta(@location)),
    robots: 'index, follow',
    og_title: t('.title', name: @location.name, slogan: @location.slogan),
    og_description: t('.description', desc: location_meta(@location)),
    og_image: @location.cover_photo_url(:header, :large) || image_url("meta/#{current_region.id}/og_logo.png")
  )
%>

<section class="location-page">

  <div class="imgHeader -cloudy2">
    <%= avatar_image @location, class: 'locationAvatar' %>
    <%= cover_header_image(@location, class: 'titleImg') %>
    <% if @location.owned_by?(current_user) %>
      <%= link_to 'javascript:', class: 'bigicontext-element createentry', id: 'editPage' do %>
        <%= icon_tag "dot-3" %>
      <% end %>
      <div class="jBoxHidden jBoxDropdown" id="jBoxEditPage">
        <%= link_to edit_location_path(@location), class: 'icontxt' do %>
          <%= icon_tag "pencil" %> Schaufenster bearbeiten
        <% end %>
        <%= link_to new_meeting_path(location_id: @location.id), class: 'icontxt' do %>
          <%= icon_tag "calendar-2" %> Treffen erstellen
        <% end %>
        <%= link_to new_location_zuckerl_path(@location), class: 'icontxt' do %>
          <%= icon_tag "shopping-bag" %> Zuckerl buchen
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="mainContent">
    <div class="introtxt">
      <h1><%= @location.name %></h1>
      <h2><%= @location.slogan %></h2>
      <div class="txt"><%= @location.description %></div>
      <div class="entryImgUploads">
        <% @location.images.each do |image| %>
          <%= link_to gallery_thumb_image(image), image.file_url, data: { jbox_image: "maingallery" } %>
        <% end %>
      </div>
    </div>
    <div class="category-tags">
      <% if @location.location_category.present? %>
        <div class="bigicontext-element">
          <%= location_category_icon @location.location_category %>
          <div class="txt"><%= link_to @location.location_category.name, region_locations_path(category: @location.location_category) %></div>
        </div>
      <% end %>
      <% if @location.products.present? %>
        <ul class="tag-list">
          <% @location.product_list.each do |product| %>
            <li><%= product %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <%= render 'locations/meetings' %>
  </div>

  <%= render 'locations/sidebar/index' %>
  <%= render 'locations/location_posts/index' if @posts.present? || @location.owned_by?(current_user) %>

</section>
