<% meta(
    title: t('.title', name: @location.name, slogan: @location.slogan),
    description: t('.description', desc: location_meta(@location)),
    robots: 'index, follow',
    og_title: t('.title', name: @location.name, slogan: @location.slogan),
    og_description: t('.description', desc: location_meta(@location)),
    og_image: attachment_url(@location, :cover_photo, host: url_for(:only_path => false, :overwrite_params => nil), fallback: 'meta/og_logo.png')
  )
%>

<%= structured_data_tag('location', @location) %>

<% content_for :pagemap do %>
  <!--
  <PageMap>
    <DataObject type="document">
      <Attribute name="type">location</Attribute>
      <Attribute name="searchable">true</Attribute>
      <Attribute name="id"><%= @location.id %></Attribute>
      <Attribute name="title"><%= @location.name %></Attribute>
      <Attribute name="slogan"><%= @location.slogan if @location.slogan.present? %></Attribute>
      <Attribute name="description"><%= @location.description if @location.description.present? %></Attribute>
      <Attribute name="graetzl"><%= @graetzl.name %></Attribute>
      <Attribute name="category"><%= @location.category.name %></Attribute>
      <Attribute name="address_street"><%= @location.address.street if @location.address && @location.address.street %></Attribute>
      <Attribute name="address_zip"><%= @location.address.zip if @location.address && @location.address.zip %></Attribute>
    </DataObject>
    <DataObject type="image">
      <Attribute name="src" value="<%= attachment_url(@location, :cover_photo, :fill, 900, 540, host: url_for(:only_path => false, :overwrite_params => nil), fallback: 'meta/og_logo.png') %>" />
    </DataObject>
    <DataObject type="thumbnail">
      <Attribute name="src" value="<%= attachment_url(@location, :avatar, :fill, 400, 400, host: url_for(:only_path => false, :overwrite_params => nil), fallback: 'avatar/location/400x400.png') %>" />
    </DataObject>
  </PageMap>
  -->
<% end %>

<section class="location-page">

  <div class="imgHeader -cloudy2">
    <%= attachment_image_tag @location, :avatar, :fill, 400, 400, fallback: 'avatar/location/400x400.png', class: 'locationAvatar' %>
    <%= attachment_image_tag @location, :cover_photo, :fill, 980, 370, fallback: 'cover_photo/980x370.png', class: 'titleImg' %>
    <% if @location.editable_by? current_user %>
      <div class="bigicontext-element createentry" data-behavior="createTrigger">
        <%= icon_tag "dot-3" %>
      </div>
      <!-- dropDown -->
      <div class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container createmenu" data-behavior="createContainer">
        <div class="jq-dropdown-panel">
          <%= link_to edit_location_path(@location) do %>
            <%= icon_tag "pencil" %>
            <div class="icontxt">Location bearbeiten</div>
          <% end %>
          <%= link_to new_location_zuckerl_path(@location) do %>
            <%= icon_tag "shopping-bag" %>
            <div class="icontxt">Grätzlzuckerl buchen</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mainContent">
    <div class="introtxt">
      <h1><%= @location.name %></h1>
      <h2><%= @location.slogan %></h2>
      <div class="txt"><%= @location.description %></div>
    </div>
    <div class="category-tags">
      <div class="bigicontext-element">
        <%= category_icon @location.category %>
        <div class="txt"><%= @location.category.name %></div>
      </div>
      <% if @location.products.present? %>
        <ul class="tag-list">
          <% @location.product_list.each do |product| %>
            <li><%= product %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <%= render 'meetings' unless @location.non_meetable? %>
  </div>

  <%= render 'sidebar', zuckerls: @zuckerls %>

  <div class="posts-container stream">
    <% if @posts.present? || @location.editable_by?(current_user) %>
      <h3>Neuigkeiten von <span><%= @location.name %></span></h3>
      <%= render 'location_posts/form', location: @location if @location.editable_by?(current_user) %>
      <%= render partial: 'location_posts/stream_post', collection: @posts, as: 'post' %>
    <% end %>
  </div>
</section>
