<%
   meta({
          title: t('.title', name: @location.name, slogan: @location.slogan),
          description: t('.description', desc: location_meta(@location)),
          robots: 'index, follow',
          og_title: t('.title', name: @location.name, slogan: @location.slogan),
          og_description: t('.description', desc: location_meta(@location)),
          og_image: attachment_url(@location, :cover_photo, host: request.url, fallback: 'meta/og_logo.png')
        })
%>

<section class="locationPage">
  <div class="imgHeader -cloudy">
    <div class="titleHeadline">
      <div class="wrp">
        <%= link_to content_tag(:h3, @graetzl.name, class: 'district'), @graetzl %>
        <h1><%= @location.name %></h1>
        <h4 class="locationType"><%= @location.slogan %></h4>
      </div>
      <%= avatar_for(@location, fill: [100, 100], class: 'locationAvatar') %>
      <div class="card"></div>
    </div>
    <%= cover_photo_for(@location, fill: [980, 370], class: 'titleImg') %>
  </div>

  <div class="mainContent">

    <div class="introtxt">
      <h3><%= @location.slogan %></h3>
      <div class="txt"><%= @location.description %></div>
    </div>

    <div class="category-tags">
      <h3 class="category"><svg class="icon-label-tag"><use xlink:href="#icon-label-tag"></use></svg><%= @location.category.name %></h3>
      <% unless @location.products.empty? %>
        <ul class="tag-list">
          <% @location.product_list.each do |product| %>
            <li><%= product %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <% unless @location.non_meetable? %>
      <div class="meetingBlock">
        <div class="wrp-hl">
          <% unless @location.meetings.empty? %>
            <h2>Treffen</h2>
          <% end %>
          <% if user_signed_in? && @location.show_meeting_button(current_user) %>
            <%= link_to new_meeting_path(location_id: @location.id), class: "btn-userCallToAction" do %>
            <span>
              <%= avatar_for current_user %>
              Treffen hier starten
              <svg class="icon-plus">
                <use xlink:href="#icon-plus"></use>
              </svg>
            </span>
            <% end %>
          <% end %>
        </div>

        <%= render 'meetings' unless @location.meetings.empty? %>
      </div>
    <% end %>
  </div>
  <%= render 'sidebar' %>

  <div class="stream" data-behavior="stream-container">
    <% if (current_user && @location.users.include?(current_user)) %>
      <h3>Neuigkeiten von <span><%= @location.name %></span></h3>
      <%= render 'location_posts/form', location: @location %>
    <% elsif !@posts.empty? %>
      <h3>Neuigkeiten von <span><%= @location.name %></span></h3>
    <% end %>
    <%= render partial: 'location_posts/stream_post', collection: @posts, as: 'post' %>
  </div>
  <%= view_more_link @posts, params: { scope: :posts } %>


</section>
