<% meta(
    title: t('.title', name: @location.name, slogan: @location.slogan),
    description: t('.description', desc: location_meta(@location)),
    robots: 'index, follow',
    og_title: t('.title', name: @location.name, slogan: @location.slogan),
    og_description: t('.description', desc: location_meta(@location)),
    og_image: attachment_url(@location, :cover_photo, :fill, 1200, 630, host: url_for(:only_path => false, :overwrite_params => nil), fallback: 'meta/og_logo.png')
  )
%>

<%= structured_data_tag('location', @location) %>
<%= render 'pagemap' %>

<section class="location-page">

  <div class="imgHeader -cloudy2">
    <%= attachment_image_tag @location, :avatar, :fill, 400, 400, fallback: 'avatar/location/400x400.png', class: 'locationAvatar', width:245, height:245 %>
    <%= attachment_image_tag @location, :cover_photo, :fill, 980, 370, fallback: 'cover_photo/980x370.png', class: 'titleImg', width:980, height:370 %>
    <% if @location.owned_by?(current_user) %>
      <div class="bigicontext-element createentry" data-behavior="createTrigger">
        <%= icon_tag "dot-3" %>
      </div>
      <!-- dropDown -->
      <div class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container" data-behavior="createContainer">
        <div class="jq-dropdown-panel">
          <%= link_to edit_location_path(@location) do %>
            <%= icon_tag "pencil" %>
            <div class="icontxt">Location bearbeiten</div>
          <% end %>
          <%= link_to new_location_zuckerl_path(@location) do %>
            <%= icon_tag "shopping-bag" %>
            <div class="icontxt">Grätzlzuckerl buchen</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mainContent">
    <div class="introtxt">
      <h1><%= @location.name %></h1>
      <h2><%= @location.slogan %></h2>
      <div class="txt"><%= @location.description %></div>
    </div>
    <div class="category-tags">
      <% if @location.location_category.present? %>
        <div class="bigicontext-element">
          <%= location_category_icon @location.location_category %>
          <div class="txt"><%= @location.location_category.name %></div>
        </div>
      <% end %>
      <% if @location.products.present? %>
        <ul class="tag-list">
          <% @location.product_list.each do |product| %>
            <li><%= product %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <%= render 'locations/meetings' %>
  </div>

  <%= render 'locations/sidebar/index' %>
  <%= render 'locations/location_posts/index' if @posts.present? || @location.owned_by?(current_user) %>

</section>
