<section class="locationPage">
  <div class="cloudyImgHeader">
    <div class="titleHeadline">
      <div class="wrp">
        <%= link_to content_tag(:h3, @graetzl.name, class: 'district'), @graetzl %>
        <h1><%= @location.name %></h1>
        <h4 class="locationType"><%= @location.slogan %></h4>
      </div>
      <%= attachment_image_tag(@location, :avatar, :fill, 432, 432, class: 'locationAvatar') %>
      <div class="card"></div>
    </div>
    <%= attachment_image_tag(@location, :cover_photo,
                                        :fill, 980, 370,
                                        fallback: 'cover_photo/default.jpg' ,
                                        class: 'titleImg') %>
  </div>

  <div class="mainContent">
    <div class="introtxt">
      <h3><%= @location.slogan %></h3>
      <p><%= @location.description %></p>
    </div>
    <div class="meetingsBlock">
      <div class="wrp-hl">
        <h2>Treffen</h2>
        <%= link_to new_graetzl_meeting_path(@graetzl, location_id: @location.id), class: "btn-userCallToAction" do %>
          <span>
            <img src="/assets/images/dummy/dummy-100x100-Mermaid-plain.jpg" alt="" class="img-round"/>
            Treffen erstellen
            <svg class="icon-plus">
              <use xlink:href="#icon-plus"></use>
            </svg>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'sidebar' %>
</section>