<%
   meta({
          title: t('.title', name: @location.name, slogan: @location.slogan),
          description: t('.description', desc: @location.meta_description),
          robots: 'index, follow',
          og_title: t('.title', name: @location.name, slogan: @location.slogan),
          og_description: t('.description', desc: @location.meta_description),
          og_image: attachment_url(@location, :cover_photo, host: request.url, fallback: 'meta/og_logo.png')
        })
%>
<% content_for(:rel_next_prev, rel_next_prev_link_tags(@meetings_upcoming, params: { scope: :upcoming } )) unless params[:past].present? %>

<section class="locationPage">
  <div class="imgHeader -cloudy">
    <div class="titleHeadline">
      <div class="wrp">
        <%= link_to content_tag(:h3, @graetzl.name, class: 'district'), @graetzl %>
        <h1><%= @location.name %></h1>
        <h4 class="locationType"><%= @location.slogan %></h4>
      </div>
      <%= avatar_for(@location, fill: [432, 432], class: 'locationAvatar') %>
      <div class="card"></div>
    </div>
    <%= cover_photo_for(@location, fill: [980, 370], class: 'titleImg') %>
  </div>

  <div class="mainContent">
    <div class="introtxt">
      <h3><%= @location.slogan %></h3>
      <div class="txt"><%= @location.description %></div>
    </div>

    <% unless @location.non_meetable? %>
      <div class="meetingBlock">
        <div class="wrp-hl">
          <% unless @location.meetings.empty? %>
            <h2>Treffen</h2>
          <% end %>
          <% if user_signed_in? && @location.show_meeting_button(current_user) %>
            <%= link_to new_meeting_path(location_id: @location.id), class: "btn-userCallToAction" do %>
            <span>
              <%= avatar_for current_user %>
              Treffen hier starten
              <svg class="icon-plus">
                <use xlink:href="#icon-plus"></use>
              </svg>
            </span>
            <% end %>
          <% end %>
        </div>

        <% unless @location.meetings.empty? %>
          <div class="tabs-ctrl">
            <ul class="tabs-nav">
              <li><a href="#tab-1"><%= @location.meetings.basic.upcoming.size %> geplante Treffen</a></li>
              <li><a href="#tab-2"><%= @location.meetings.basic.past.size %> vergangene Treffen</a></li>
            </ul>
            <div id="tab-1">
              <% if @meetings_upcoming.empty? %>
                <div class="defaultText">Im Moment sind noch keine Treffen geplant.</div>
              <% else %>
                <div id="meetings-upcoming" class="meetingBoxCollection -double" data-tabID="one">
                  <%= render @meetings_upcoming %>
                </div>
                <div id="paginate-upcoming">
                  <%= view_more_link(@meetings_upcoming, params: { scope: :upcoming }) %>
                </div>
              <% end %>
            </div>

            <div id="tab-2">
              <% if @meetings_past.empty? %>
                <div class="defaultText">Es wurden noch keine Treffen initiert.</div>
              <% else %>
                <div id="meetings-past" class="meetingBoxCollection -double" data-tabID="two">
                  <%= render @meetings_past %>
                </div>
                <div id="paginate-past">
                  <%= view_more_link(@meetings_past, params: { scope: :past }) %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= render 'sidebar' %>


  <div class="stream">
    <h3>Neuigkeiten von <span><%= @location.name %></span></h3>
    <% if (current_user && @location.users.include?(current_user)) %>
      <div id="stream-form">
        <%= render 'posts/form', author: @location %>
      </div>
    <% end %>
    <%= render partial: 'locations/posts/post', collection: @location.posts %>

    <div class="streamElement">
      <div class="entryInitialContent">
        <div class="editControls">
          <div class="btn-delete"><svg class="icon-trash-delete-remove"><use xlink:href="#icon-trash-delete-remove"></use></svg></div>
          <div class="btn-edit"><svg class="icon-pencil"><use xlink:href="#icon-pencil"></use></svg></div>
        </div>
        <div class="userCreateInfo">
          <img class="img-round" src="https://placeimg.com/100/100/people?4" alt="">
          <span class="userAndType">Nachricht von <a href="#">Shopname</a> <span>vor weniger als eine Minute</span></span>
        </div>
        <div class="headline">Coole neue Schuhe eingetroffen!</div>
        <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex nemo nobis nulla officia perspiciatis provident quae quisquam rem rerum. Aspernatur debitis dolorum earum itaque nostrum perferendis quas! Atque dolor dolore dolores esse fugiat, ipsam repudiandae rerum voluptatem! Aliquam, natus.</div>

        <div class="entryImgUploads" data-featherlight-gallery data-featherlight-filter="a">
          <a href="/assets/shoedummys/shoe1.jpg"><img src="/assets/shoedummys/shoe1kl.jpg"></a>
          <a href="/assets/shoedummys/shoe2.jpg"><img src="/assets/shoedummys/shoe2kl.jpg"></a>
          <a href="/assets/shoedummys/shoe3.jpg"><img src="/assets/shoedummys/shoe3kl.jpg"></a>
          <a href="/assets/shoedummys/shoe4.jpg"><img src="/assets/shoedummys/shoe4kl.jpg"></a>

        </div>
      </div>
    </div>

    <div class="streamElement">
      <div class="entryInitialContent">
        <div class="editControls">
          <div class="btn-delete"><svg class="icon-trash-delete-remove"><use xlink:href="#icon-trash-delete-remove"></use></svg></div>
          <div class="btn-edit"><svg class="icon-pencil"><use xlink:href="#icon-pencil"></use></svg></div>
        </div>
        <div class="userCreateInfo">
          <img class="img-round" src="https://placeimg.com/100/100/people?4" alt="">
          <span class="userAndType">Nachricht von <a href="#">Shopname</a> <span>vor 5 Tagen</span></span>
        </div>
        <div class="headline">Sexy auf den Zahn gefühlt!</div>
        <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequuntur debitis deleniti dolorem nesciunt, nihil, numquam obcaecati placeat quisquam repellendus suscipit totam ullam?</div>
        <div class="entryImgUploads" data-featherlight-gallery data-featherlight-filter="a">
          <a href="/assets/shoedummys/shoe5.jpg"><img src="/assets/shoedummys/shoe5kl.jpg"></a>
          <a href="/assets/shoedummys/shoe6.jpg"><img src="/assets/shoedummys/shoe6kl.jpg"></a>
          <a href="/assets/shoedummys/shoe7.jpg"><img src="/assets/shoedummys/shoe7kl.jpg"></a>
        </div>
      </div>
    </div>

  </div>


</section>
