<% graetzl = Graetzl.memoized(@location.graetzl_id) %>
<div class="user-tooltip-wrp">

  <div class="tt-img">
    <%= link_to [graetzl, @location] do %>
      <%= avatar_image @location, size: :small, class: 'img-square avatar' %>
    <% end %>
  </div>

  <div class="tt-content">
    <%= link_to @location.name, [graetzl, @location], class:'username' %>
    <% if @user && @location.location_category %>
      <div class="tt-line -category">
        <%= @location.location_category.name %>
      </div>
    <% end %>
    <% if @user %>
      <div class="tt-line -boss">
        <%= avatar_image @user, size: :thumb, class: 'img-round avatar' %>
        <%= link_to @user.full_name, @user %>
      </div>
      <% if current_user != @user %>
        <div class="tt-line -messenger">
          <%= icon_tag "mail-1" %>
          <%= link_to "Nachricht senden", messenger_start_thread_path(user_id: @user.id) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if !@location.slogan.blank? %>
    <div class="tt-bio">
      <%= @location.slogan.truncate(120) %>
    </div>
  <% end %>

  <% if params[:additional].present? %>
    <div class="tt-additional">
      <%= params[:additional].html_safe %>
    </div>
  <% end %>

</div>
