<div class="streamElement">
  <div class="entryInitialContent">

    <div class="userCreateInfo">
      <%= attachment_image_tag(activity.owner, :avatar, :fill, 100, 100, fallback: 'avatar/small_default.png', class: 'img-round') %>
      <span class="userAndType"><%= content_for :user_and_type %> <span class="timeago">vor <%= time_ago_in_words(activity.created_at) %></span></span>
    </div>

    <%= yield %>

  </div>
  
  <%= render 'comments/comment', comment: activity.trackable.comments.first if activity.trackable.comments.present? %>

  <%= render 'comments/form', type: activity.trackable_type, id: activity.trackable_id %>

</div>