<header>
  <div class="inner">

    <div class="mainNavHolder">

      <div class="mobileNavToggle">
        <svg class="icon-layout-text"><use xlink:href="#icon-layout-text"></use></svg>
        <span>Navigation</span>
      </div>

      <% if user_signed_in? %>

          <div class="nav-mainActions">
            <%= link_to 'Grätzl entdecken', districts_path, class: 'discover' %>
            <%= link_to content_tag(:span, 'Treffen anlegen'), new_graetzl_meeting_path(current_user.graetzl), class: 'createMeeting' %>
          </div>

          <div class="logoGraetzl">
            <%= link_to(image_tag('svg/logo.svg'), current_user.graetzl, class: 'logo_main') %>
            <%= link_to(image_tag('svg/logo_reduced.svg'), current_user.graetzl, class: 'logo_reduced') %>
          </div>

          <div class="newNotifications dropDownMenu -br" id="notificationCenterDropDown">
            <div class="dropDownToggle">
              <div class="iconWithBadge">
                <%- notifications_count = current_user.new_website_notifications_count %>
                <div <%- if notifications_count == 0 %> style="display: none;" <%- end %> class="badgeNumber" id="notificationsCount"><%= notifications_count %></div>
                <svg class="icon-mail-1"><use xlink:href="#icon-mail-1"></use></svg>
              </div>
            </div>
            <div class="dropDownContent">
              <ul>
                <% current_user.website_notifications.each do |n| %>
                    <%= render partial: "notifications/#{Notification::TYPE_BITMASKS.select { |k, v| v == n.bitmask }.first[0].to_s}", locals: { notification: n } %>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="userSettings dropDownMenu -br">
            <div class="dropDownToggle">
              <%= attachment_image_tag(current_user, :avatar, :fill, 100, 100, fallback: 'avatar/small_default.png', class: 'img-user') %>
              <div class="username"><%= current_user.username %></div>
              <svg class="icon-arrow-down-2"><use xlink:href="#icon-arrow-down-2"></use></svg>
            </div>
            <div class="dropDownContent">
              <div class="menuSlice">Profileinstellungen</div>
              <%= link_to content_tag(:div, 'Admin', class: 'menuSlice'), admin_root_path if current_user.admin? %>
              <%= link_to content_tag(:div, 'Abmelden', class: 'menuSlice'),
                          destroy_user_session_path, method: :delete %>
            </div>
          </div>

      <% else %>

          <div class="nav-mainActions">
            <%= link_to 'Grätzl entdecken', districts_path, class: 'discover' %>
            <%= link_to content_tag(:span, 'Treffen anlegen'), "javascript:alert('Wo soll das hinführen?');", class: 'createMeeting' %>
          </div>


          <div class="logoGraetzl">
            <%= link_to(image_tag('svg/logo.svg'),  root_path, class: 'logo_main') %>
            <%= link_to(image_tag('svg/logo_reduced.svg'),  root_path, class: 'logo_reduced') %>
          </div>

          <div class="nav-loggedOut">
            <%= link_to user_registration_address_path, class: 'register' do %>
                <span>Kostenlos</span> <span>registrieren</span>
            <% end %>
            <%= link_to 'Anmelden', new_user_session_path, class: 'login' %>
          </div>

      <% end %>

    </div>
  </div>
</header>

<%= render 'layouts/flash_messages' %>
