<header>
  <div class="inner">

    <div class="mainNavHolder">

      <div class="mobileNavToggle">
        <svg class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
        <span>Navigation</span>
      </div>      

      <% if user_signed_in? %>

        <div class="nav-mainActions">
          <%= link_to 'Grätzl entdecken', districts_path, class: 'discover' %>
          <%= link_to content_tag(:span, 'Treffen anlegen'), new_graetzl_meeting_path(current_user.graetzl), class: 'createMeeting' %>
        </div>

        <div class="logoGraetzl">
          <%= link_to(image_tag('svg/logo.svg'), current_user.graetzl) %>
        </div>

        <div class="newNotifications dropDownMenu-br">
          <div class="dropDownToggle">
            <div class="iconWithBadge">
              <div class="badgeNumber"><%= current_user.new_website_notifications_count %></div>
              <svg class="icon-mail"><use xlink:href="#icon-mail"></use></svg>
            </div>
          </div>
          <div class="dropDownContent">
            <p>Mega geiles Notification Center Web 2.0</p>
            <div class="stream">


              <% current_user.website_notifications.each do |activity| %>
                <%= render_activity(activity, fallback: 'default', layout: 'stream/element') %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="userSettings dropDownMenu-br">
          <div class="dropDownToggle">
          <%= attachment_image_tag(current_user, :avatar, :fill, 100, 100, fallback: 'avatar/small_default.png', class: 'img-user') %>
            <div class="username"><%= current_user.username %></div>
            <svg class="icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg>
          </div>
          <div class="dropDownContent">
            <div class="menuSlice">Profileinstellungen</div>
            <%= link_to content_tag(:div, 'Admin', class: 'menuSlice'), admin_root_path if current_user.admin? %>
            <%= link_to content_tag(:div, 'Abmelden', class: 'menuSlice'),
                destroy_user_session_path, method: :delete %>
          </div>
        </div>

      <% else %>

        <div class="nav-mainActions">
          <%= link_to 'Grätzl entdecken', districts_path, class: 'discover' %>
          <%= link_to content_tag(:span, 'Treffen anlegen'), "javascript:alert('Wo soll das hinführen?');", class: 'createMeeting' %>
        </div>

        <div class="logoGraetzl">
          <%= link_to(image_tag('svg/logo.svg'), root_path) %>
        </div>
        <div class="nav-loggedOut">
          <%= link_to user_registration_address_path, class: 'register' do %>
            <span>Kostenlos registrieren</span>
          <% end %>
          <%= link_to 'Anmelden', new_user_session_path, class: 'login' %>
        </div>

      <% end %>

    </div>
  </div>
</header>
