<!DOCTYPE html>
<html>
<head>
  <%= render 'meta_tags' %>
  <%= csrf_meta_tags %>
  <!-- fonts -->
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic&subset=latin,latin-ext' %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Loved+by+the+King' %>
  <!-- css -->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!-- icons -->
  <%= javascript_include_tag "https://fontastic.s3.amazonaws.com/P7x6EJva372RfDgNFpjLYd/icons.js" %>
  <!-- favicon -->
  <%= favicon_link_tag 'favicon.ico' %>
  <!-- js -->
  <%= javascript_include_tag 'application' %>
  <%= render 'tracking_tags' %>
</head>

<body data-controller=<%= controller_name %>>

<header>
  <%= render 'nav' %>
</header>
<%= render 'flashes' %>

<main>
  <%= yield %>
</main>

<%= render 'footer' %>

</body>
</html>
