<!DOCTYPE html>
<html lang="de">
<head>
  <%= render 'meta_tags' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    // Check if Browser Supports WebP Image Format
    // See: https://github.com/djpogo/avif-webp-css-support
    !function(A){"use strict";var e="webp",t="avif";function s(A,e,t){var s=function(A){if(window.sessionStorage){var e=window.sessionStorage.getItem(A+"Support");if("false"===e||"true"===e)return"true"===e}return null}(A);if(null===s){var o=new Image;return o.onload=o.onerror=function(){t(A,2===o.height)},void(o.src=e)}a(A,s)}function a(s,a){if(a){var o=A.documentElement;o.classList?o.classList.add("webp"===s?e:t):o.className+=" "+s=="webp"?e:t,window.sessionStorage.setItem(s+"Support",!0)}else window.sessionStorage.setItem(s+"Support",!1)}s("webp","data:image/webp;base64,UklGRi4AAABXRUJQVlA4TCEAAAAvAUAAEB8wAiMwAgSSNtse/cXjxyCCmrYNWPwmHRH9jwMA",a),s("avif","data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZtaWYxbWlhZk1BMUEAAADybWV0YQAAAAAAAAAoaGRscgAAAAAAAAAAcGljdAAAAAAAAAAAAAAAAGxpYmF2aWYAAAAADnBpdG0AAAAAAAEAAAAeaWxvYwAAAABEAAABAAEAAAABAAABGgAAAF0AAAAoaWluZgAAAAAAAQAAABppbmZlAgAAAAABAABhdjAxQ29sb3IAAAAAamlwcnAAAABLaXBjbwAAABRpc3BlAAAAAAAAAAIAAAACAAAAEHBpeGkAAAAAAwgICAAAAAxhdjFDgS0AAAAAABNjb2xybmNseAACAAIAAIAAAAAXaXBtYQAAAAAAAAABAAEEAQKDBAAAAGVtZGF0EgAKBzgAPtAgIAkyUBAAAPWc41TP///4gHBX9H8XVK7gGeDllq8TYARA+8Tfsv7L+zPE24eIoIzE0WhHbrqcrTK9VEgEG/hwgB5rdCbvP8g3KYPdV88CvPJnptgQ",a)}(document);

    // Init Gtag
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}

    // Init after Application Script is ready
    function applicationLoadedInit() {
      window.addEventListener('load', function() {
        APP.components.cookieTracking.init();
        APP.components.flashMsgEvents.init();
        setTimeout(function(){ APP.controllers.application.scrollToTarget() }, 200);
      });
    }
  </script>

  <style>
    main {max-width: 980px;}
  </style>

  <link rel="dns-prefetch" href="//welocally.at">

  <% if user_signed_in? || ['registrations', 'crowd_pledges', 'crowd_donation_pledges'].include?(controller_name)  %>
    <%= stylesheet_link_tag 'application-loggedin', media: 'all' %>
  <% else %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  <% end %>

  <%= javascript_include_tag 'application', defer: true, onload: 'applicationLoadedInit();' %>
  <%= javascript_include_tag "application-loggedin", defer: true if user_signed_in? || ['registrations', 'crowd_pledges', 'room_rentals', 'tool_rentals'].include?(controller_name) %>

  <!-- DNS Prefetch for better Performance -->
  <% if ['home', 'regions', 'districts', 'graetzls'].include? controller_name %>
    <link rel="preconnect" href="//api.mapbox.com" crossorigin>
  <% end %>
  <link rel="dns-prefetch" href="//api.mapbox.com">
  <link rel="preconnect" href="//<%= ENV['UPLOADS_BUCKET'] %>.s3.eu-central-1.amazonaws.com" crossorigin>
  <link rel="dns-prefetch" href="//<%= ENV['UPLOADS_BUCKET'] %>.s3.eu-central-1.amazonaws.com">
  <link rel="dns-prefetch" href="//www.googletagmanager.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">

  <%= favicon_link_tag 'favicon.ico' %>
  <%= render partial: 'controller_header' rescue nil %>
</head>

<body data-controller="<%= controller_name %>" data-region="<%= current_region.id %>" data-domain="<%= current_region.domain %>" data-uaid="<%= Rails.env.production? ? 'UA-59844253-2' : 'UA-59844253-4' %>" data-userid="<%= user_signed_in? ? current_user.id : '' %>" class="<%= user_signed_in? ? 'signed-in ' : ''%>region-<%= current_region.id %> <%= controller_name %>">
  <%= render 'navigation/header' %>
  <%= render 'flashes' %>

  <main>
    <%= yield %>
  </main>

  <%= render 'footer' %>
  <%= render partial: 'controller_footer' rescue nil %>
  <%= image_tag "#{root_url}/assets/svg/icons.svg", style: 'display:none;' %>


</body>

</html>
