<!DOCTYPE html>
<html>
<head>
  <%= render 'meta_tags' %>
  <%= csrf_meta_tags %>
  <!-- fonts -->
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic&subset=latin,latin-ext' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Loved+by+the+King' %>
  <!-- css -->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!-- icons -->
  <%= javascript_include_tag "https://fontastic.s3.amazonaws.com/P7x6EJva372RfDgNFpjLYd/icons.js" %>
  <!-- favicon -->
  <%= favicon_link_tag 'favicon.ico' %>
  <!-- js -->
  <%= javascript_include_tag 'application' %>
</head>

<body data-controller=<%= controller_name %>>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PCJNXH"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PCJNXH');</script>
<!-- End Google Tag Manager -->

<%= render 'header' %>

<main>
  <%= yield %>
</main>

<%= render 'footer' %>

</body>
</html>
