<!DOCTYPE html>
<html>
<head>
  <%= render 'meta_tags' %>
  <%= csrf_meta_tags %>
  <!-- fonts -->
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic&subset=latin,latin-ext' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Loved+by+the+King' %>
  <!-- css -->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!-- icons -->
  <%= javascript_include_tag "https://fontastic.s3.amazonaws.com/P7x6EJva372RfDgNFpjLYd/icons.js" %>
  <!-- favicon -->
  <%= favicon_link_tag 'favicon.ico' %>
  <!-- js -->
  <%= javascript_include_tag 'application' %>
</head>

<body data-controller=<%= controller_name %>>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PCJNXH"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PCJNXH');</script>
<!-- End Google Tag Manager -->

<%= render 'header' %>

<main>
  <%= yield %>
</main>

<footer>
  <div class="inner">

    <div class="col">
      <%= link_to 'Fragen & Antworten', info_fragen_und_antworten_path %>
      <%= link_to 'Infos zum Grätzlzuckerl', info_infos_zum_graetzlzuckerl_path %>
      <a href="http://blog.imgraetzl.at/" target="_blank">Blog</a>
      <a href="https://www.facebook.com/imGraetzl" target="_blank" class="facebook">imGrätzl auf Facebook<svg class="icon-social-facebook"><use xlink:href="#icon-social-facebook"></use></svg></a>
    </div>

    <div class="col">
      <%= link_to 'Datenschutzrichtlinien', info_datenschutz_path %>
      <%= link_to 'Impressum', info_impressum_path %>
      <%= link_to 'AGB', info_agb_path %>
    </div>

    <div class="col logo-wa">
      <%= link_to(image_tag('logo-wa.png'), 'https://wirtschaftsagentur.at/', target: '_blank') %>
      <div>Gefördert durch die Wirtschaftsagentur Wien.<br>
        Ein Fonds der Stadt Wien.</div>
    </div>

  </div>

  </div>
</footer>

</body>
</html>
