<!DOCTYPE html>
<html>
<head>
  <%= render 'meta_tags' %>
  <%= csrf_meta_tags %>
  <!-- fonts -->
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic&subset=latin,latin-ext' %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Loved+by+the+King' %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Dosis:400,700' %>
  <!-- css -->
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <!-- favicon -->
  <%= favicon_link_tag 'favicon.ico' %>
  <!-- js -->
  <%= javascript_include_tag 'application' %>
  <%= render 'tracking_tags' %>
</head>

<body data-controller=<%= controller_name %>>

<div style="display: none">
  <%= render "icons" %>
</div>


<header>
  <%= render 'nav' %>
</header>
<%= render 'flashes' %>

<main>
  <%= yield %>
</main>

<%= render 'footer' %>

</body>
</html>
