<!DOCTYPE html>
<html lang="de">
<head>
  <%= render 'meta_tags' %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'application-loggedin', media: 'all' if user_signed_in? || controller_name == 'registrations' %>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= render 'tracking_tags' %>
  <%= render partial: 'controller_header' rescue nil %>
</head>

<body data-controller="<%= controller_name %>" data-region="<%= current_region.id %>" data-domain="<%= current_region.domain %>" class="<%= user_signed_in? ? 'signed-in ' : ''%>region-<%= current_region.id %>">
  <%= render 'navigation/header' %>
  <%= render 'flashes' %>

  <main>
    <%= yield %>
  </main>

  <%= render 'footer' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "application-loggedin" if user_signed_in? || controller_name == 'registrations' %>
  <%= render partial: 'controller_footer' rescue nil %>
  <%= render "icons" %>
</body>

</html>
