<!DOCTYPE html>
<html>
<head>
  <%= render 'meta_tags' %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= render 'tracking_tags' %>
  <%= render partial: 'controller_header' rescue nil %>
</head>

<body data-controller=<%= controller_name %> class="<%= user_signed_in? ? 'signed-in ' : ''%>region-<%= current_region.id %>">
  <%= render 'navigation/header' %>
  <%= render 'flashes' %>

  <main>
    <%= yield %>
  </main>

  <%= render 'footer' %>
  <%= javascript_include_tag 'application' %>
  <%= render partial: 'controller_footer' rescue nil %>
  <%= render "icons" %>
</body>

</html>
