<!DOCTYPE html>
<html>
<head>
  <%= render 'meta_tags' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= render 'tracking_tags' %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="language" content="de">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="google-site-verification" content="LSgg3WBUIokaZhSK4uO3MezLJjfnwvJX0vFDfnInsk8" />
</head>

<body data-controller="<%= controller_name %>" class="<%= user_signed_in? ? 'signed-in ' : ''%>welocally">
  <%= render 'campaign_users/header' %>
  <%= render 'flashes' %>

  <main>
    <%= yield %>
  </main>

  <%= render 'campaign_users/footer' %>
  <%= javascript_include_tag 'application' %>
  <%= render "icons" %>
</body>

</html>
