<!DOCTYPE html>
<html>
<head>
  <%= render 'meta_tags' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="language" content="de">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="google-site-verification" content="LSgg3WBUIokaZhSK4uO3MezLJjfnwvJX0vFDfnInsk8" />
</head>

<body data-controller="<%= controller_name %>" data-uaid="<%= Rails.env.production? ? 'UA-59844253-2' : 'UA-59844253-4' %>" data-userid="<%= user_signed_in? ? current_user.id : '' %>" class="<%= user_signed_in? ? 'signed-in ' : ''%>welocally">
  <%= render 'campaign_users/header' %>
  <%= render 'flashes' %>

  <main>
    <%= yield %>
  </main>

  <%= render 'campaign_users/footer' %>
  <%= javascript_include_tag 'application' %>
  <%= image_tag "/assets/icons.svg", style: 'display:none;' %>
  
</body>

</html>
