<!DOCTYPE html>
<html lang="de">
<head>
  <%= render 'meta_tags' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    // Check if Browser Supports WebP Image Format
    // See: https://github.com/djpogo/avif-webp-css-support
    !function(A){"use strict";var e="webp",t="avif";function s(A,e,t){var s=function(A){if(window.sessionStorage){var e=window.sessionStorage.getItem(A+"Support");if("false"===e||"true"===e)return"true"===e}return null}(A);if(null===s){var o=new Image;return o.onload=o.onerror=function(){t(A,2===o.height)},void(o.src=e)}a(A,s)}function a(s,a){if(a){var o=A.documentElement;o.classList?o.classList.add("webp"===s?e:t):o.className+=" "+s=="webp"?e:t,window.sessionStorage.setItem(s+"Support",!0)}else window.sessionStorage.setItem(s+"Support",!1)}s("webp","data:image/webp;base64,UklGRi4AAABXRUJQVlA4TCEAAAAvAUAAEB8wAiMwAgSSNtse/cXjxyCCmrYNWPwmHRH9jwMA",a),s("avif","data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZtaWYxbWlhZk1BMUEAAADybWV0YQAAAAAAAAAoaGRscgAAAAAAAAAAcGljdAAAAAAAAAAAAAAAAGxpYmF2aWYAAAAADnBpdG0AAAAAAAEAAAAeaWxvYwAAAABEAAABAAEAAAABAAABGgAAAF0AAAAoaWluZgAAAAAAAQAAABppbmZlAgAAAAABAABhdjAxQ29sb3IAAAAAamlwcnAAAABLaXBjbwAAABRpc3BlAAAAAAAAAAIAAAACAAAAEHBpeGkAAAAAAwgICAAAAAxhdjFDgS0AAAAAABNjb2xybmNseAACAAIAAIAAAAAXaXBtYQAAAAAAAAABAAEEAQKDBAAAAGVtZGF0EgAKBzgAPtAgIAkyUBAAAPWc41TP///4gHBX9H8XVK7gGeDllq8TYARA+8Tfsv7L+zPE24eIoIzE0WhHbrqcrTK9VEgEG/hwgB5rdCbvP8g3KYPdV88CvPJnptgQ",a)}(document);

    // Init Gtag
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}

    // Init after Application Script is ready
    function applicationLoadedInit() {
      window.addEventListener('load', function() {
        APP.components.cookieTracking.init();
        setTimeout(function(){ APP.controllers.application.scrollToTarget() }, 200);
      });
    }
  </script>

  <style>
    main {max-width: 980px;}
  </style>

  <% if user_signed_in? || controller_name == 'registrations' %>
    <%= stylesheet_link_tag 'application-loggedin', media: 'all' %>
  <% else %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  <% end %>

  <%= javascript_include_tag 'application', defer: true, onload: 'applicationLoadedInit();' %>
  <%= javascript_include_tag "application-loggedin", defer: true if user_signed_in? || controller_name == 'registrations' %>

  <!-- DNS Prefetch for better Performance -->
  <link rel="preconnect" href="//<%= ENV['UPLOADS_BUCKET'] %>.s3.eu-central-1.amazonaws.com" crossorigin>
  <link rel="dns-prefetch" href="//<%= ENV['UPLOADS_BUCKET'] %>.s3.eu-central-1.amazonaws.com">
  <link rel="dns-prefetch" href="//www.googletagmanager.com">

  <%= favicon_link_tag 'favicon.ico' %>

</head>

<body
  data-controller="<%= controller_name %>"
  data-region="welocally"
  data-uaid="<%= Rails.env.production? ? 'G-TG0TEXE9MY' : 'G-C6SFGFCR84' %>"
  data-userid="<%= current_user&.id %>"
  class="
    <%= 'signed-in' if user_signed_in? %>
    <%= 'admin' if current_user&.admin? %>
    welocally
  ">

  <%= render 'platform/header' %>
  <%= render 'flashes' %>

  <main>
    <%= yield %>
  </main>

  <%= render 'platform/footer' %>
  <%= image_tag "/assets/icons_220125.svg", loading: 'lazy', style: 'display:none;' %>

</body>

</html>
