<!DOCTYPE html>
<html>
<head>
  <%= render 'meta_tags' %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= render 'tracking_tags' %>
</head>

<body data-controller="<%= controller_name %>" class="<%= user_signed_in? ? 'signed-in ' : ''%>welocally">
  <%= render 'platform/header' %>
  <%= render 'flashes' %>

  <main>
    <%= yield %>
  </main>

  <%= render 'platform/footer' %>
  <%= javascript_include_tag 'application' %>
  <%= render "icons" %>
</body>

</html>
