<%= link_to 'Nicht dein Gr채tzl?', 'javascript:', class: 'link-subtle graetzl-select-link' %>

<div id="select-graetzl-modal-content" style="display: none">
  <div class="input-select" style="margin-bottom: 12px">
    <label>
      <%= icon_tag "map-location" %>
      <span>Bezirk</span>
    </label>
    <%= select_tag :district_id, options_for_select(district_select_options), prompt: 'w채hlen' %>
  </div>
  <div class="input-select" id="graetzl-select">
    <label>
      <%= icon_tag "flag-1" %>
      <span>Gr채tzl</span>
    </label>
    <%= select_tag :graetzl_id, options_from_collection_for_select(Graetzl.in(current_region).all, :id, :name),
        prompt: 'w채hlen', required: true, class: 'graetzl_id' %>
  </div>
</div>
