<% title('Registrierung') %>

<section class="register-searchGraetzl">

  <% if current_region.use_districts %>
    <h1>Lass uns zu Beginn dein <span>Heimatgrätzl</span> finden...</h1>
  <% else %>
    <h1>Kostenlos in <span>deiner Gemeinde</span> registrieren</h1>
  <% end %>


  <%= form_tag new_registration_path, method: :get do %>
    <div id="addressSearchAutocomplete" class="input-field">
      <%= label_tag :address do %>
        <%= icon_tag "map-location" %>
        <span>Wo wohnst du?</span>
      <% end %>
      <%= text_field_tag :address, nil, required: true, autofocus: true, placeholder: "Straße und Hausnummer" %>
      <button class="btn-primary">Weiter</button>
      <%= hidden_field_tag :feature %>
      <%= hidden_field_tag :redirect, params[:redirect] %>
      <%= hidden_field_tag :origin, params[:origin] %>
    </div>
  <% end %>

</section>
