<% title('Registrierung Grätzl') %>

<section class="register-selectGraetzl">

  <h1>Wähle dein <span>Heimatgrätzl</span></h1>

  <div class="txt">
    <% if params[:address] %>
      <p>
        Unter <span class="address"><%= params[:address] %></span> konnten wir <%= (@graetzls.size > 0) ? @graetzls.size : 'leider kein' %> Grätzl finden.<br>
        Wo fühlst du dich denn zuhause?
      </p>
    <% else %>
      <p>
        Bitte wähle dein Grätzl manuell.<br>
        <span class="txt-hint">(Du kannst deine Auswahl später noch ändern)</span>
      </p>
    <% end %>
  </div>


  <%= form_tag new_registration_path, method: :get do %>
    <%= hidden_field_tag :feature, params[:feature] %>
    <%= hidden_field_tag :origin, params[:origin] %>
    <%= hidden_field_tag :redirect, params[:redirect] %>
    
    <% if @graetzls.present? %>
      <div class="wrp-radios">
        <% @graetzls.each do |g| %>
          <div class="input-radio">
            <%= radio_button_tag :graetzl_id, g.id, required: true %>
            <%= label_tag "#{:graetzl_id}_#{g.id}", g.name %>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= render 'shared/graetzl_select' %>
    <% end %>

    <div class="nav-btnBar">
      <%= link_to 'Zurück', 'javascript:history.back();', class: 'btn-secondary' %>
      <%= button_tag 'Weiter', class: 'btn-primary' %>
    </div>

  <% end %>

</section>
