<% title('Registrierung') %>

<section class="register-personalInfo">
  <div class="wrp">
    <h1>Willkommen im Grätzl <span><%= resource.graetzl.name %></span></h1>
    <%= render 'users/registrations/select_graetzl' %>
  </div>


  <%= form_for(resource, as: resource_name, url: registration_path,
      html: { data: { graetzl: resource.graetzl.name, zip: resource.graetzl.district.try(:zip) } }) do |f| %>
  <%= render 'devise/shared/error_messages' %>

  <div class="form-register">

    <div class="field">
      <%= f.fields_for :address do |address_fields| %>
        <%= address_fields.hidden_field :street_name %>
        <%= address_fields.hidden_field :street_number %>
        <%= address_fields.hidden_field :zip %>
        <%= address_fields.hidden_field :city %>
        <%= address_fields.hidden_field :coordinates %>
      <% end %>
    </div>

    <div class="field">
      <%= f.hidden_field :graetzl_id, class: 'graetzl-id-input' %>
    </div>

    <div class="user-login">
      <p class="txt"><span>Ein paar Dinge</span> müssen wir noch wissen ...</p>

      <div class="input-field">
        <%= f.label :username do %>
        <%= icon_tag "user-avatar" %>
        <span>Username</span>
        <% end %>
        <%= f.text_field :username, placeholder: "Nickname wählen" %>
      </div>

      <div class="input-field">
        <%= f.label :email do %>
        <%= icon_tag "at-symbol" %>
        <span>E-Mail</span>
        <% end %>
        <%= f.email_field :email, placeholder: "E-Mail" %>
      </div>

      <div class="input-field">
        <%= f.label :password do %>
        <%= icon_tag "lock-1" %>
        <span>Passwort</span>
        <% end %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

    </div>

    <div class="user-personal">
      <p class="txt">... und um dich besser <span>kennen zu lernen</span>.</p>

      <div class="input-field">
        <%= f.label :first_name do %>
        <%= icon_tag "user-avatar" %>
        <span>Vorname</span>
        <% end %>
        <%= f.text_field :first_name, placeholder: "Vorname" %>
      </div>

      <div class="input-field">
        <%= f.label :last_name do %>
        <%= icon_tag "user-avatar" %>
        <span>Nachname</span>
        <% end %>
        <%= f.text_field :last_name, placeholder: "Nachname" %>
      </div>

      <div class="upload-oldschool">
        <%= f.label :avatar do %>
          <%= icon_tag "photo-camera" %>
          <span>Profilbild</span>
        <% end %>
        <div class="field-wrp">
          <%= upload_image_input(f, :avatar) %>
        </div>
      </div>
    </div>

    <div class="user-interests">
      <p class="txt -themen">An <span>welchen Themen</span> bist du interessiert?</p>
      <div class="business-interests">
        <%= f.collection_check_boxes :business_interest_ids, BusinessInterest.all, :id, :title do |b| %>
        <div class="input-checkbox">
          <%= b.check_box %>
          <%= b.label %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="wrp-radios user-type-selection">
      <p class="txt">Ich möchte mich <span>registrieren als</span>...</p>
      <div class="input-checkbox">
        <%= f.check_box :business  %>
        <%= f.label "business", "MacherIn (z.B. Selbstständige, GründerIn, Kunst- & Kulturschaffende, Unternehmen, Verein, Institution ...)" %>
      </div>
    </div>

    <div class="user-business">
      <p class="txt">In <span>welche Kategorie</span> würdest du dich einordnen?</p>
      <div class="input-select">
        <%= f.collection_select :location_category_id, LocationCategory.all, :id, :name, { prompt: 'Kategrie auswählen..' } %>
      </div>
    </div>


    <div class="wrp-checkboxes">
      <div class="input-checkbox">
        <%= f.check_box(:newsletter) %>
        <%= f.label :newsletter, 'Newsletter abonnieren' %>
      </div>
      <div class="input-checkbox">
        <%= f.check_box(:terms_and_conditions) %>
        <%= f.label :terms_and_conditions, "Ich stimme den #{link_to 'AGBs', info_agb_path, target: '_blank'} zu".html_safe %>
      </div>
    </div>

  </div>

  <%= f.hidden_field :origin %>
  <%= hidden_field_tag :redirect, params[:redirect] %>
  <%= f.button "Jetzt registrieren!", data: { disable_with: 'speichert...' }, class: 'btn-primary', id: 'btn-register' %>

  <% end %>

</section>
