<% title('Registrierung') %>

<section class="register-personalInfo">
  <div class="wrp">
    <h1>Willkommen im Grätzl <span><%= resource.graetzl.name %></span></h1>
    <%= link_to 'Nicht dein Grätzl?', graetzls_registration_path, class: 'link-subtle' %>
  </div>

  <p class="h2">
    <% if resource.graetzl.users.count > 5 %>
        <span class="numberUsers"><%= resource.graetzl.users.count %></span> Nachbarn warten bereits auf dich.<br>
    <% end %>
  </p>

  <%= form_for(resource, as: resource_name, url: registration_path, html: {}) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-register">

        <div class="field">
          <%= f.fields_for :address do |address_fields| %>
              <%= address_fields.hidden_field :street_name %>
              <%= address_fields.hidden_field :street_number %>
              <%= address_fields.hidden_field :zip %>
              <%= address_fields.hidden_field :city %>
              <%= address_fields.hidden_field :coordinates %>
          <% end %>
        </div>

        <div class="field">
          <%= f.hidden_field :graetzl_id %>
        </div>

        <div class="user-login">
          <p class="txt"><span>Ein paar Dinge</span> müssen wir noch wissen ...</p>

          <div class="input-field">
            <%= f.label :username do %>
                <svg class="icon-user-avatar"><use xlink:href="#icon-user-avatar"></use></svg>
                <span>Username</span>
            <% end %>
            <%= f.text_field :username, placeholder: "z.B.: GrätzlLover" %>
          </div>

          <div class="input-field">
            <%= f.label :email do %>
                <svg class="icon-at-symbol"><use xlink:href="#icon-at-symbol"></use></svg>
                <span>E-Mail</span>
            <% end %>
            <%= f.email_field :email, placeholder: "E-Mail" %>
          </div>

          <div class="input-field">
            <%= f.label :password do %>
                <svg class="icon-lock-1"><use xlink:href="#icon-lock-1"></use></svg>
                <span>Passwort</span>
            <% end %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

        </div>

        <div class="user-personal">
          <p class="txt">... und um dich besser <span>kennen zu lernen</span>.</p>

          <div class="input-field">
            <%= f.label :first_name do %>
                <svg class="icon-user-avatar"><use xlink:href="#icon-user-avatar"></use></svg>
                <span>Vorname</span>
            <% end %>
            <%= f.text_field :first_name %>
          </div>

          <div class="input-field">
            <%= f.label :last_name do %>
                <svg class="icon-user-avatar"><use xlink:href="#icon-user-avatar"></use></svg>
                <span>Nachname</span>
            <% end %>
            <%= f.text_field :last_name %>
          </div>

          <!--
          <div class="input-field">
            <label for="cover_photo">
              <svg class="icon-photo-camera"><use xlink:href="#icon-photo-camera"></use></svg>
              <span>Portraitfoto</span>
            </label>
            <%= f.text_field :first_name, placeholder: 'Zeige uns dein Lächeln' %>
          </div>
          -->

          <div class="upload-image js-imgUpld">
            <% if resource.avatar %>
                <div class="imgCrop"><%= image_tag attachment_url(resource, :avatar, :fill, 100, 100) %></div>
                <svg class="icon-camera"><use xlink:href="#icon-camera"></use></svg>
                Portrait ändern
                <div class="checkbox-group">
                  <%= f.check_box :remove_avatar, { class: 'deleteCheckbox' } %>
                  <%= f.label :remove_avatar, 'Löschen' %>
                </div>
            <% else %>
                <svg class="icon-camera"><use xlink:href="#icon-camera"></use></svg>
                Portrait hochladen
            <% end %>

            <svg class="icon-delete-circle"><use xlink:href="#icon-delete-circle"></use></svg>
            <%= f.attachment_field :avatar, direct: true, presigned: true %>
            <%= f.check_box :remove_avatar, { class: 'deleteCheckbox', style: 'display: none;' } %>
          </div>

          <div class="input-checkbox">
            <%= f.check_box :role, {}, :business, nil %>
            <%= f.label :role, 'Ich bin wirtschaftlich im Grätzl tätig' %>
          </div>

        </div>

        <div class="wrp-checkboxes">
          <div class="input-checkbox">
            <%= f.check_box(:newsletter )%>
            <%= f.label :newsletter, 'Newsletter abonnieren' %>
          </div>
          <div class="input-checkbox">
            <%= f.check_box(:terms_and_conditions )%>
            <%= f.label :terms_and_conditions, "Ich stimme den #{link_to 'AGBs', '#'} zu".html_safe %>
          </div>
        </div>
      </div>

      <%= f.button "Jetzt registrieren!", class: 'btn-primary' %>


  <% end %>

</section>