<% title('Registrierung') %>

<section class="register-personalInfo">
  <% if resource.graetzl %>
  <div class="wrp">
    <h1>Willkommen im Grätzl <span><%= resource.graetzl.name %></span></h1>
  </div>
  <% end %>

  <%= form_for(resource, as: resource_name, url: registration_path) do |f| %>
  <%= render 'devise/shared/error_messages' %>

  <div class="form-register">

    <div class="user-login">
      <p class="txt"><span>Ein paar Dinge</span> müssen wir noch wissen ...</p>

      <div class="input-field">
        <%= f.label :username do %>
        <%= icon_tag "user-avatar" %>
        <span>Username</span>
        <% end %>
        <%= f.text_field :username, placeholder: "Nickname wählen" %>
      </div>

      <div class="input-field">
        <%= f.label :email do %>
        <%= icon_tag "at-symbol" %>
        <span>E-Mail</span>
        <% end %>
        <%= f.email_field :email, placeholder: "E-Mail" %>
      </div>

      <div class="input-field">
        <%= f.label :password do %>
        <%= icon_tag "lock-1" %>
        <span>Passwort</span>
        <% end %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

    </div>

    <div class="user-personal">
      <p class="txt">... und um dich besser <span>kennen zu lernen</span>.</p>

      <div class="input-field">
        <%= f.label :first_name do %>
        <%= icon_tag "user-avatar" %>
        <span>Vorname</span>
        <% end %>
        <%= f.text_field :first_name, placeholder: "Vorname" %>
      </div>

      <div class="input-field">
        <%= f.label :last_name do %>
        <%= icon_tag "user-avatar" %>
        <span>Nachname</span>
        <% end %>
        <%= f.text_field :last_name, placeholder: "Nachname" %>
      </div>

      <div class="upload-oldschool">
        <%= f.label :avatar do %>
          <%= icon_tag "photo-camera" %>
          <span>Profilbild</span>
        <% end %>
        <div class="field-wrp">
          <%= upload_image_input(f, :avatar) %>
        </div>
      </div>
    </div>

    <div class="address-autocomplete" data-url="<%= address_search_url %>">
      <div class="input-field">
        <%= f.label :address_street do %>
          <%= icon_tag "map-location" %>
          <span>Adresse</span>
        <% end %>
        <%= f.text_field :address_street, placeholder: 'Straße und Hausnummer', class: 'address-autocomplete-input' %>
      </div>

      <%= f.hidden_field :address_coords, class: 'address-coords-input' %>

      <div class="form-columns">
        <div class="input-field">
          <%= f.label :address_zip do %>
            <%= icon_tag "map-location" %>
            <span>Postleitzahl</span>
          <% end %>
          <%= f.text_field :address_zip, placeholder: 'PLZ', class: 'address-zip-input' %>
        </div>

        <div class="input-field">
          <%= f.label :address_city do %>
            <%= icon_tag "map-location" %>
            <span>Ort</span>
          <% end %>
          <%= f.text_field :address_city, placeholder: 'Ort', class: 'address-city-input' %>
        </div>
      </div>

      <div class="input-select">
        <label>
          <%= icon_tag "flag-1" %>
          <span>Grätzl</span>
        </label>
        <%= f.select :graetzl_id, current_region.graetzls.sort_by(&:zip_name).map{|g| [g.zip_name, g.id]},
            { prompt: 'wählen', required: true }, { class: 'address-graetzl-input' } %>
      </div>
    </div>

    <div class="user-interests">
      <p class="txt -themen">An <span>welchen Themen</span> bist du interessiert?</p>
      <div class="business-interests">
        <%= f.collection_check_boxes :business_interest_ids, BusinessInterest.all, :id, :title do |b| %>
        <div class="input-checkbox">
          <%= b.check_box %>
          <%= b.label %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="wrp-radios user-type-selection">
      <p class="txt">Ich möchte mich <span>registrieren als</span>...</p>
      <div class="input-checkbox">
        <%= f.check_box :business  %>
        <%= f.label "business", "MacherIn (z.B. Selbstständige, GründerIn, Kunst- & Kulturschaffende, Unternehmen, Verein, Institution ...)" %>
      </div>
    </div>

    <div class="user-business">
      <p class="txt">In <span>welche Kategorie</span> würdest du dich einordnen?</p>
      <div class="input-select">
        <%= f.collection_select :location_category_id, LocationCategory.all, :id, :name, { prompt: 'Kategorie auswählen..' } %>
      </div>
    </div>


    <div class="wrp-checkboxes">
      <div class="input-checkbox">
        <%= f.check_box(:newsletter) %>
        <%= f.label :newsletter, 'Newsletter abonnieren' %>
      </div>
      <div class="input-checkbox">
        <%= f.check_box(:terms_and_conditions) %>
        <%= f.label :terms_and_conditions, "Ich stimme den #{link_to 'AGBs', info_agb_path, target: '_blank'} zu".html_safe %>
      </div>
    </div>

  </div>

  <%= f.hidden_field :origin %>
  <%= hidden_field_tag :redirect, params[:redirect] %>
  <%= f.button "Jetzt registrieren!", data: { disable_with: 'speichert...' }, class: 'btn-primary', id: 'btn-register' %>

  <% end %>

</section>
