<% title('Registrierung') %>

<section class="register-personalInfo">
  <div class="wrp">
    <h1>Willkommen im Grätzl <span id="graetzl"><%= resource.graetzl.name %></span></h1>
    <%= link_to 'Nicht dein Grätzl?', graetzls_registration_path(feature: params[:feature]), class: 'link-subtle' %>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path, html: {}) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-register">

        <div class="field">
          <%= f.fields_for :address do |address_fields| %>
              <%= address_fields.hidden_field :street_name %>
              <%= address_fields.hidden_field :street_number %>
              <%= address_fields.hidden_field :zip %>
              <%= address_fields.hidden_field :city %>
              <%= address_fields.hidden_field :coordinates %>
          <% end %>
        </div>

        <div class="field">
          <%= f.hidden_field :graetzl_id %>
        </div>

        <div class="user-login">
          <p class="txt"><span>Ein paar Dinge</span> müssen wir noch wissen ...</p>

          <div class="input-field">
            <%= f.label :username do %>
              <%= icon_tag "user-avatar" %>
              <span>Username</span>
            <% end %>
            <%= f.text_field :username, placeholder: "Nickname wählen" %>
          </div>

          <div class="input-field">
            <%= f.label :email do %>
              <%= icon_tag "at-symbol" %>
              <span>E-Mail</span>
            <% end %>
            <%= f.email_field :email, placeholder: "E-Mail" %>
          </div>

          <div class="input-field">
            <%= f.label :password do %>
              <%= icon_tag "lock-1" %>
              <span>Passwort</span>
            <% end %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

        </div>

        <div class="user-personal">
          <p class="txt">... und um dich besser <span>kennen zu lernen</span>.</p>

          <div class="input-field">
            <%= f.label :first_name do %>
              <%= icon_tag "user-avatar" %>
              <span>Vorname</span>
            <% end %>
            <%= f.text_field :first_name %>
          </div>

          <div class="input-field">
            <%= f.label :last_name do %>
              <%= icon_tag "user-avatar" %>
              <span>Nachname</span>
            <% end %>
            <%= f.text_field :last_name %>
          </div>

          <div class="upload-oldschool">
            <%= f.label :avatar do %>
              <%= icon_tag "photo-camera" %>
              <span>Profilbild</span>
            <% end %>
            <div class="field-wrp">
              <% if resource.avatar %>
                  <div class="preview-wrp">
                    <%= image_tag attachment_url(resource, :avatar, :fill, 100, 100), class: 'img-round' %>
                    <div class="input-checkbox">
                      <%= f.check_box :remove_avatar, { class: 'deleteCheckbox' } %>
                      <%= f.label :remove_avatar, 'Löschen' %>
                    </div>
                  </div>
              <% end %>
              <%= f.attachment_field :avatar, direct: true, presigned: true %>
            </div>
          </div>

          <div class="input-checkbox">
            <%= f.check_box :role, {}, :business, nil %>
            <%= f.label :role, 'Ich bin wirtschaftlich und/oder kreativ tätig' %>
          </div>

        </div>

        <div class="wrp-checkboxes">
          <div class="input-checkbox">
            <%= f.check_box(:newsletter )%>
            <%= f.label :newsletter, 'Newsletter abonnieren' %>
          </div>
          <div class="input-checkbox">
            <%= f.check_box(:terms_and_conditions )%>
            <%= f.label :terms_and_conditions, "Ich stimme den #{link_to 'AGBs', info_agb_path, target: '_blank'} zu".html_safe %>
          </div>
        </div>
      </div>

      <%= f.button "Jetzt registrieren!", data: { disable_with: 'speichert...' }, class: 'btn-primary', id: 'btn-register' %>

  <% end %>

</section>
